<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div class="row">
    <div class="col-md-2">{{ 'i18n_total_score' | translate }}:</div>
    <div class="col-md-4">{{ getExamTotalScore() }} / {{ getExamMaxPossibleScore() }}</div>
    <div class="col-md-2">{{ 'i18n_grading_inspector' | translate }}:</div>
    <div class="col-md-4">
        @for (inspection of exam.examInspections; track inspection) {
            <div>
                <xm-r-inspection
                    [inspection]="inspection"
                    [user]="user"
                    [disabled]="isGraded() || isReadOnly()"
                    (inspected)="inspectionDone()"
                >
                </xm-r-inspection>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-2">{{ 'i18n_approved' | translate }} / {{ 'i18n_rejected' | translate }}:</div>
    <div class="col-md-4">{{ questionSummary.accepted }} / {{ questionSummary.rejected }}</div>
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-4">&nbsp;</div>
</div>
<div class="row mt-3">
    <div class="col-md-2">{{ 'i18n_exam_owners' | translate }}:</div>
    <div class="col-md-4">
        @if (!collaborative) {
            <div>
                @for (teacher of exam.parent?.examOwners; track teacher) {
                    <span> {{ teacher.firstName }} {{ teacher.lastName }} </span>
                }
            </div>
        }
        @if (collaborative) {
            <div>
                @for (teacher of exam.examOwners; track teacher) {
                    <span>
                        {{ teacher.email }}
                    </span>
                }
            </div>
        }
    </div>
    <div class="col-md-2">{{ 'i18n_exam_instructor' | translate }}:</div>
    <div class="col-md-4">
        @for (inspection of exam.examInspections; track inspection) {
            <span> {{ inspection.user.firstName }} {{ inspection.user.lastName }} </span>
        }
    </div>
</div>

@if (exam.state === 'GRADED_LOGGED') {
    <div class="row">
        <div class="col-md-2">{{ 'i18n_graded' | translate }}:</div>
        <div class="col-md-10">
            {{ exam.gradedTime | date: 'dd.MM.yyyy' }}
        </div>
    </div>
}

<div class="row mt-3 align-items-center">
    <div class="col-md-2">
        {{ 'i18n_additional_info_for_registry' | translate }}:
        <sup
            ngbPopover="{{ 'i18n_additional_info_for_registry_description' | translate }}"
            popoverTitle="{{ 'i18n_instructions' | translate }}"
            triggers="mouseenter:mouseleave"
            ><img src="/assets/images/icon_tooltip.svg" alt=""
        /></sup>
    </div>
    <div class="col-md-8">
        <textarea
            class="form-control"
            [(ngModel)]="exam.additionalInfo"
            rows="3"
            [disabled]="isReadOnly() || !isOwnerOrAdmin()"
        >
        </textarea>
    </div>
</div>
<div class="row mt-3 align-items-center" [hidden]="!isReadOnly() || !isOwnerOrAdmin()">
    <div class="col-md-2">
        {{ 'i18n_additional_info_for_student' | translate }}:
        <sup
            ngbPopover="{{ 'i18n_additional_info_for_student_description' | translate }}"
            popoverTitle="{{ 'i18n_instructions' | translate }}"
            triggers="mouseenter:mouseleave"
            ><img src="/assets/images/icon_tooltip.svg" alt=""
        /></sup>
    </div>
    <div class="col-md-8">
        <textarea class="form-control" [(ngModel)]="exam.assessmentInfo" rows="3"> </textarea>
    </div>
    <div class="col-md-2">
        <button class="btn btn-success" [disabled]="!exam.assessmentInfo" (click)="saveAssessmentInfo()">
            {{ 'i18n_save' | translate }}
        </button>
    </div>
</div>
<div class="row mt-3 align-items-center" [hidden]="getTeacherCount() === 0">
    <div class="col-md-2">
        {{ 'i18n_send_to_other_reviewers' | translate }}:
        <sup
            ngbPopover="{{ 'i18n_send_to_other_reviewers_description' | translate }}"
            popoverTitle="{{ 'i18n_instructions' | translate }}"
            triggers="mouseenter:mouseleave"
            ><img src="/assets/images/icon_tooltip.svg" alt=""
        /></sup>
    </div>
    <div class="col-md-8">
        <textarea class="form-control" [(ngModel)]="message.text" rows="3" cols="120"></textarea>
    </div>
    <div class="col-md-2">
        <button class="btn btn-success" (click)="sendEmailMessage()">
            {{ 'i18n_send' | translate }}
        </button>
    </div>
</div>
<div class="row mt-2" [hidden]="!isReadOnly()">
    <div class="col-md-2">
        {{ 'i18n_teachers_comment' | translate }}
        @if (!!isCommentRead()) {
            <span>({{ 'i18n_teachers_comment_read' | translate | lowercase }})</span>
        }
        @if (!isCommentRead()) {
            <span>({{ 'i18n_teachers_comment_notread' | translate | lowercase }})</span>
        }
        :
    </div>
    @if (exam.examFeedback?.comment) {
        <div
            class="col-md-10"
            [ngClass]="isCommentRead() ? '' : 'text-danger'"
            [xmMathJax]="exam.examFeedback?.comment"
        ></div>
    }
    @if (exam.examFeedback?.attachment) {
        <div class="col-md-offset-2 col-md-10">
            <a class="pointer" (click)="downloadFeedbackAttachment()">
                {{ exam.examFeedback.attachment?.fileName }}
            </a>
        </div>
    }
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <form #gradingForm="ngForm" name="gradingForm" role="form" novalidate>
            <div class="row">
                <div class="col-md-3">
                    <label for="examGrade" class="form-label grading-title">
                        {{ 'i18n_exam_grade' | translate | uppercase }} </label
                    >&nbsp;<sup
                        ngbPopover="{{ 'i18n_grade_selection_description' | translate }}"
                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        ><img src="/assets/images/icon_tooltip.svg" alt=""
                    /></sup>
                    <select
                        id="examGrade"
                        name="examGrade"
                        class="form-select"
                        [(ngModel)]="selections.grade"
                        [disabled]="isReadOnly() || !isOwnerOrAdmin()"
                        (ngModelChange)="setGrade()"
                        required
                    >
                        <option value="">{{ 'i18n_choose' | translate }}</option>
                        @for (grade of grades; track grade) {
                            <option [ngValue]="grade">{{ grade.name }}</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="creditType" class="form-label grading-title">
                        {{ 'i18n_exam_choose_credit_type' | translate | uppercase }}
                    </label>
                    @if (exam.gradingType !== 'POINT_GRADED') {
                        <select
                            id="creditType"
                            name="creditType"
                            class="form-select"
                            [(ngModel)]="selections.type"
                            (ngModelChange)="setCreditType()"
                            [disabled]="isReadOnly() || !isOwnerOrAdmin()"
                            required
                        >
                            @for (type of creditTypes; track type) {
                                <option [ngValue]="type">{{ type.name }}</option>
                            }
                        </select>
                    } @else {
                        <input
                            type="text"
                            class="form-control"
                            disabled
                            value="{{ 'i18n_exam_credit_type_partial' | translate }}"
                        />
                    }
                </div>
                <div class="col-md-3">
                    <label for="answerLanguage" class="form-label grading-title">
                        {{ 'i18n_exam_record_language' | translate | uppercase }}
                    </label>
                    <select
                        id="answerLanguage"
                        name="answerLanguage"
                        class="form-select"
                        [disabled]="isReadOnly() || !isOwnerOrAdmin()"
                        [(ngModel)]="selections.language"
                        (ngModelChange)="setLanguage()"
                        required
                    >
                        @for (lang of languages; track lang) {
                            <option [ngValue]="lang">{{ lang.name }}</option>
                        }
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="customCredit" class="form-label grading-title">
                        {{ 'i18n_exam_credit' | translate | uppercase }}
                    </label>
                    <input
                        id="customCredit"
                        name="customCredit"
                        type="number"
                        lang="en"
                        [disabled]="isReadOnly() || !isOwnerOrAdmin()"
                        required
                        [min]="0"
                        class="form-control"
                        maxlength="3"
                        [(ngModel)]="exam.customCredit"
                    />
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Bottom toolbar -->
<xm-r-toolbar
    [valid]="!!gradingForm.valid"
    [exam]="exam"
    [participation]="participation"
    [collaborative]="collaborative"
></xm-r-toolbar>
