<div ng-class="question.expand ? 'single-question-header-active' : 'single-question-header-inactive'">
	<span class="single-question-icon">
		<i class="fa fa-2x fa-edit"></i>
	</span>
    <a class="menu-item" mathjax ng-bind-html="question.question" href="#/questions/{{question.id}}" style="font-size: 1.5em"></a>
  	<span ng-click="question.expanded = !question.expanded; expandQuestion(question)" class="pull-right fa-stack fa-lg pointer-hand">
            <i ng-class="question.expanded ? 'fa-chevron-down' : 'fa-chevron-left'"
               class="sitnet-white fa fa-stack-1x"></i>
    </span>
    <span ng-click="editQuestion(question)" class=" dropdown pull-right fa-stack fa-lg pointer-hand">
		<a class="dropdown-toggle">
			<i class="sitnet-white fa fa-cog fa-stack-1x"></i>
	    </a>
		<ul class="dropdown-menu">
			<li><a ng-click="deleteQuestion(question)">{{'sitnet_remove' | translate}}</a></li>
		</ul>
	</span>

    <span class="pull-right fa-stack">
        <i ng-if="question.shared === true" class="sitnet-white fa fa-users" style="font-size: 1.333em; line-height: 2em"></i>
    </span>
    <span class="pull-right">
        <i ng-if="question.shared === false" class="sitnet-white fa fa-user" style="font-size: 1.333em; line-height: 2em"></i>
    </span>

</div>
<div ng-show="question.expanded">
    Evaluation Criteria
    <textarea class="form-control" rows="4" cols="150" ng-model="question.evaluationCriterias">
    </textarea>
</div>
