<div id="exam">
    <div class="exam-header">
        <div class="row">
            <div class="col-md-3">
                <h2 class="header-title">{{'sitnet_questions_all' | translate}}</h2>
            </div>
            <div class="col-md-3 col-md-offset-6">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" style="margin-top: 0.5em; margin-right: 1em">
                        {{'sitnet_questions_new' | translate}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat='(key, value) in questionTypes'>
                            <a ng-click="createQuestion(key)">{{value}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-right: 2em">
        <div class="row">
            <div class="col-md-12">
                <div class="exam-wrapper">
                    <div class="section-header">
                        {{'sitnet_questions_owners_list' | translate}}
                        <span class="pull-right fa-stack fa-lg">
                            <i class="sitnet-grey fa fa-square fa-stack-2x"></i>
                            <i ng-class="session.teacherQuestionExpanded ? 'fa-chevron-down' : 'fa-chevron-left'"
                               ng-click="session.teacherQuestionExpanded = !session.teacherQuestionExpanded"
                               class="sitnet-white fa fa-chevron-left fa-stack-1x"></i>
                        </span>
                    </div>

                    <div ng-show="session.teacherQuestionExpanded">
                        <div class="exam-general-information" ng-repeat="question in questions                                                                      ">
                            <div class="exam-question-container">

                                <!-- TODO: Add here templates for other questiontypes -->
                                <div ng-if="question.type === 'MultipleChoiceQuestion'" class="questions-main-label" ng-include="questionListingMultipleChoice">
                                </div>

                                <div ng-if="question.type === 'EssayQuestion'" class="questions-main-label" ng-include="questionListingEssay">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
