<div id="exam" ng-controller="QuestionCtrl">
    <div class="exam-header">
        <div class="row">
            <div class="col-md-3">
                <h2 class="header-title">{{'sitnet_questions_all' | translate}}</h2>
            </div>
            <div class="col-md-3 col-md-offset-6">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" style="margin-top: 0.5em; margin-right: 1em">
                        {{'sitnet_questions_new' | translate}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat='(key, value) in questionTypes'>
                            <a ng-click="createQuestion(key)">{{value}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-right: 1em">
        <div class="row">
            <div class="col-md-12">
                <div class="exam-wrapper">
                    <div class="section-header">
                        Omat Kysymykset
                        <span class="pull-right fa-stack fa-lg">
                            <i class="sitnet-grey fa fa-square fa-stack-2x"></i>
                            <i ng-class="showUsersQuestions ? 'fa-chevron-down' : 'fa-chevron-left'"
                               ng-click="showUsersQuestions = !showUsersQuestions"
                               class="sitnet-white fa fa-chevron-left fa-stack-1x"></i>
                        </span>
                    </div>

                    <div ng-show="showUsersQuestions">

                        <div class="exam-general-information" ng-repeat="question in questions">
                            <!--<div class="section-header">-->
                                <!--<div ng-hide="showDetails">-->
                                    <!--<span class="section-header-number">{{$index +1}}.</span>-->
                                    <!--<span>{{question.question}}</span>-->
                                <!--<span class="pull-right fa-stack fa-lg pointer-hand">-->
                                    <!--<i class="sitnet-grey fa fa-square fa-stack-2x"></i>-->
                                    <!--<i ng-class="showQuestion ? 'fa-chevron-down' : 'fa-chevron-left'"-->
                                       <!--ng-click="showQuestion = !showQuestion"-->
                                       <!--class="sitnet-white fa fa-chevron-left fa-stack-1x"></i>-->
                                <!--</span>-->
                                <!--<span class="pull-right fa-stack fa-lg dropdown pointer-hand" ng-click="editQuestion(question)">-->
                                    <!--<a class="dropdown-toggle">-->
                                        <!--<i class="sitnet-blue fa fa-square fa-stack-2x"></i>-->
                                        <!--<i class="sitnet-white fa fa-cog fa-stack-1x"></i>-->
                                    <!--</a>-->
                                        <!--<ul class="dropdown-menu">-->
                                            <!--<li><a class="pointer-hand">{{'sitnet_settings' | translate}}</a></li>-->
                                            <!--<li><a class="pointer-hand">{{'sitnet_exam_draw_questions' | translate}}</a></li>-->
                                            <!--<li><a ng-click="clearAllQuestions(section)" class="pointer-hand">{{'sitnet_exam_clear' | translate}}</a></li>-->
                                            <!--<li><a ng-click="removeSection(section)" class="pointer-hand">{{'sitnet_exam_remove' | translate}}</a></li>-->
                                        <!--</ul>-->
                                <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="exam-question-container">
                                <div class="questions-main-label" ng-include="userQuestionsPath">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
