<div id="dashboard">

    <div class="form-group input-group search tab-search">
        <input ng-model="$ctrl.filter.text"
               type="text"
               ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
               class="form-control search" placeholder="{{'sitnet_exam_search_description' | translate }}"
               ng-change="$ctrl.search()">
        <div class="input-group-addon search">
            <img class="nopad" src="../../../assets/assets/images/icon_search.png" width="49" height="40">
        </div>
    </div>


    <div class="main-row" ng-show="$ctrl.loader.loading">
        <div class="col-md-12">
            <button class="btn btn-success">{{'sitnet_searching' | translate }}...
                <i class="fa fa-spinner fa-spin"></i>
            </button>
        </div>
    </div>

    <div>
        <div>
            <table class="table table-striped table-condensed exams-table">
                <thead ng-init="$ctrl.draftsPredicate='examActiveEndDate'; $ctrl.reverse=true">
                <tr>
                    <th sort by="name" text="sitnet_exam_name" predicate="$ctrl.draftsPredicate"
                        reverse="$ctrl.reverse"></th>
                    <th sort by="course.code" text="sitnet_course_code" predicate="$ctrl.draftsPredicate"
                        reverse="$ctrl.reverse"></th>
                    <th sort by="executionType.type" text="sitnet_exam_credit_type"
                        predicate="$ctrl.draftsPredicate"
                        reverse="$ctrl.reverse"></th>
                    <th sort by="ownerAggregate" text="sitnet_teachers" predicate="$ctrl.draftsPredicate"
                        reverse="$ctrl.reverse"></th>
                    <th sort by="examActiveEndDate" text="sitnet_exam_validity" predicate="$ctrl.draftsPredicate"
                        reverse="$ctrl.reverse"></th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="exam in $ctrl.filteredDraft | orderBy:$ctrl.draftsPredicate:$ctrl.reverse">
                    <td ng-if="exam.name" class="table-column-examname"><a href="/exams/{{exam.id}}/1">
                        {{ exam.name }}</a></td>
                    <td ng-if="!exam.name" class="table-column-examname"><a href="/exams/{{exam.id}}/1">
                        {{'sitnet_no_name' | translate}}</a>
                    </td>
                    <td><span class="exam-code">{{ exam.course.code }}</span></td>
                    <td><span class="exam-type">{{ $ctrl.getExecutionTypeTranslation(exam) | translate }}</span>
                    </td>
                    <td>
                        <teacher-list exam="exam"/>
                    </td>
                    <td>
                            <span ng-if="exam.examActiveStartDate && exam.examActiveEndDate">
                                {{exam.examActiveStartDate | date:'dd.MM.yyyy'}} - {{exam.examActiveEndDate | date:'dd.MM.yyyy'}}
                            </span>
                    </td>
                    <td class="text-center">
                        <a ng-click="$ctrl.deleteExam(exam, 'draft')" class="pointer">
                            <img src="../../../assets/assets/images/icon_trashcan.svg" alt="exam"
                                 onerror="this.onerror=null;this.src='../../../assets/assets/images/icon_trashcan.png'"
                                 popover-placement="left" popover-trigger="'mouseenter'"
                                 uib-popover="{{'sitnet_exam_remove' | translate}}"
                            />
                        </a>
                    </td>
                    <td class="text-center">
                        <span class="dropdown pointer" uib-dropdown>
                            <a href class="dropdown-toggle" uib-dropdown-toggle>
                                <img src="../../../assets/assets/images/icon_copy.svg" alt="exam"
                                     onerror="this.onerror=null;this.src='../../../assets/assets/images/icon_copy.png'"
                                     popover-placement="left" popover-trigger="'mouseenter'"
                                     uib-popover="{{'sitnet_copy' | translate}}"
                                />
                            </a>
                            <ul class="dropdown-menu pull-right" style="min-width: 17em">
                                <li class="dropdown-header">{{'sitnet_choose_execution_type' | translate}}</li>
                                <li ng-repeat="type in $ctrl.executionTypes">
                                    <a role="menuitem" ng-click="$ctrl.copyExam(exam, type.type)">
                                        {{type.name | translate}}
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </td>
                </tr>
                <tr ng-if="$ctrl.filteredDraft.length == 0">
                    <td colspan="8">{{'sitnet_exam_no_result' | translate}}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
