<!-- Toolbar -->
<!-- Create new question icon and text -->

<div class="make-inline">
    <div class="review-attachment-button print-button">
        <a href="/exams/new" class="pointer">
            {{'sitnet_toolbar_new_exam' | translate}}
        </a>
    </div>
</div>
<div class="make-inline">
    <div class="review-attachment-button print-button">
        <a href="/questions/newQuestion/1" class="pointer">
            {{'sitnet_toolbar_new_question' | translate}}
        </a>
    </div>
</div>
