@import '../../shared/shared';

.student-exam-all-required {
    color: $exam-medium-green;
    font-size: 16px;
    padding-right: 3px;
}
.student-exam-row-title-blue {
    font-size: 16px;
    color: #266b99;
    font-weight: bold;
}
