<div id="dashboard">
    <div class="top-row ml-2 mr-2">
        <div class="col-md-12">
            <div class="student-title-wrap">
                <h1 class="student-enroll-title">{{ 'sitnet_exams' | translate }}</h1>
            </div>
        </div>
    </div>
    <div class="row ml-2 mr-2 mt-1">
        <div class="col-md-12">
            <div class="row mt-1 align-items-center">
                <div class="col-1">
                    <img class="nopad" src="/assets/assets/images/icon_info.png" class="pr-1" alt="info-icon" />
                    &nbsp;
                </div>
                <div class="col">
                    <div *ngIf="permissionCheck.active === false">
                        {{ 'sitnet_exam_search_description' | translate }}
                    </div>
                    <div *ngIf="permissionCheck.active === true">{{ 'sitnet_search_restricted' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ml-2 mr-2 mt-2" *ngIf="permissionCheck.active === false">
        <div class="col-md-12">
            <div class="form-group input-group search">
                <input
                    aria-label="exam-search"
                    (ngModelChange)="search($event)"
                    [(ngModel)]="filter.text"
                    type="text"
                    class="form-control search"
                    placeholder="{{ 'sitnet_search' | translate }}"
                />
                <div class="input-group-append search">
                    <img
                        class="nopad"
                        src="/assets/assets/images/icon_search.png"
                        alt="search-icon"
                        width="49"
                        height="40"
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2 mr-2 ml-2" *ngIf="exams.length > 0">
        <div class="col-md-12">
            {{ 'sitnet_student_exam_search_result' | translate }} {{ exams.length }}
            {{ 'sitnet_student_exam_search_result_continues' | translate }}
            <b>"{{ filter.text }}"</b>
        </div>
    </div>

    <div [@listAnimation]="exams.length">
        <div class="row ml-2 mr-2 mt-1" *ngFor="let exam of exams">
            <div class="col-md-12">
                <exam-search-result [exam]="exam"></exam-search-result>
            </div>
        </div>
    </div>
</div>
