.search-result-container {
    border-radius: 4px;
    border: 2px solid #ededed;
    border-left: #238635 4px solid;
    padding: 30px;
    margin-bottom: 6px;
    max-width: 1100px;
    @media (max-width: 920px) {
        padding: 5px;
    }
}