/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@import '../../shared/definitions.scss';

.student-exam-all-required {
    color: $exam-medium-green;
    font-size: 16px;
    padding-right: 3px;
}
.student-exam-row-title-blue {
    font-size: 16px;
    color: #266b99;
    font-weight: bold;
}
