<div
    class="student-enrolment-result-wrapper max-w-1100"
    [ngClass]="exam.alreadyEnrolled && exam.reservationMade ? '' : 'notactive'"
>
    <div class="d-flex flex-column">
        <span class="student-exam-row-title-blue">
            <a
                *ngIf="!collaborative"
                class="infolink"
                uiSref="enrolments"
                [uiParams]="{ id: exam.id, code: exam.course?.code }"
            >
                {{ exam.name }}
            </a>
            <span *ngIf="collaborative">{{ exam.name }}</span>
        </span>
        <span *ngIf="exam.alreadyEnrolled && !exam.reservationMade" class="student-exam-needs-reservation">
            {{ 'sitnet_state_needs_reservation_title' | translate }}
        </span>
    </div>
    <div class="d-flex flex-column">
        <span [hidden]="collaborative">{{ 'sitnet_course_name' | translate }}:</span>
        <div *ngIf="!collaborative && exam.course">
            <course-code [course]="exam.course"></course-code> {{ exam.course.name }}
        </div>
    </div>
    <div class="d-flex flex-column">
        <span>{{ 'sitnet_exam_validity' | translate }}: </span>
        <span
            >{{ exam.examActiveStartDate | date: 'dd.MM.yyyy' }} &ndash;
            {{ exam.examActiveEndDate | date: 'dd.MM.yyyy' }}</span
        >
    </div>
    <div class="d-flex flex-column">
        <span [hidden]="collaborative">{{ 'sitnet_teachers' | translate }}: </span>
        <span [hidden]="collaborative">
            <teacher-list [exam]="exam"></teacher-list>
        </span>
    </div>
    <div class="d-flex flex-column">
        <span>{{ 'sitnet_exam_language' | translate }}: </span>
        <span>{{ exam.languages.join(', ') }}</span>
    </div>
    <div class="d-flex justify-content-end align-content-end">
        <button
            class="btn btn-success text-nowrap"
            (click)="enrollForExam()"
            *ngIf="!exam.alreadyEnrolled"
            [disabled]="enrolling"
        >
            {{ 'sitnet_enroll_to_exam' | translate }}
        </button>
        <button
            class="btn btn-success text-nowrap"
            (click)="makeReservation()"
            *ngIf="exam.alreadyEnrolled && !exam.reservationMade"
        >
            {{ 'sitnet_student_new_reservation' | translate }}
        </button>
        <span class="student-exam-all-required text-nowrap" *ngIf="exam.alreadyEnrolled && exam.reservationMade">{{
            'sitnet_enrolled_to_exam' | translate
        }}</span>
    </div>
</div>
