<div class="main-row">
    <span class="col-md-12">

        <div class="review-attachment-button exam-questions-buttons">
            <a target="_self" class="pointer marl20 mart20"
               ng-if="!isMaturityRejection()"
               ng-disabled="!isOwnerOrAdmin() || !examForm.$valid"
               ng-click="addInspectionComment(exam)">
                {{'sitnet_add' | translate}} {{'sitnet_inspector_comments' | translate}}</a>
        </div>

    </span>
</div>

<div ng-repeat="comment in exam.inspectionComments" class="bottom-row marl20">
    <div class="col-md-4">
            {{comment.creator.firstName}} {{comment.creator.lastName}} <small>({{comment.creator.email}})</small><br/>
            {{ comment.created | date:'dd.MM.yyyy HH:mm' }}
    </div>
    <div class="col-md-8">
        {{ comment.comment }}
    </div>
</div>
