
<!-- kielentarkastus - hyväksytty/hylätty -->
<div class="detail-row marb20 mart20" ng-show="hasGoneThroughLanguageInspection()">
    <div class="col-md-2 general-info-title">{{'sitnet_language_inspections' | translate }}:</div>
    <div class="col-md-10 general-info-content">
         <span ng-class="exam.languageInspection.approved ? 'text-success' : 'text-danger'">
        {{ exam.languageInspection.approved ? 'sitnet_approved' : 'sitnet_rejected' | translate | uppercase }}</span>
    </div>
</div>

<!-- kielentarkastus - kommentit -->
<div ng-include="inspectionCommentsPath"></div>

<!-- kielentarkastus - lausunto -->
<div class="detail-row mart20" ng-show="hasGoneThroughLanguageInspection()">
    <div class="col-md-2 general-info-title">{{'sitnet_inspector_statement' | translate }}:</div>
    <div class="col-md-10 general-info-content">
        <div mathjax ng-bind-html="exam.languageInspection.statement.comment"></div>
    </div>
</div>
<!-- kielentarkastus - liite -->
<div class="detail-row mart20" ng-show="hasGoneThroughLanguageInspection() && exam.languageInspection.statement.attachment"
    ng-controller="AttachmentController">
    <div class="col-md-2 general-info-title">{{'sitnet_statement_attachment' | translate }}:</div>
    <div class="col-md-10 general-info-content">
        <a class="pointer" ng-click="downloadStatementAttachment(exam)">
            {{exam.languageInspection.statement.attachment.fileName}} liite
        </a>
    </div>
</div>

<!-- tentin palaute -->
<div class="detail-row mart20" ng-show="isReadOnly() || isUnderLanguageInspection()">
    <div class="col-md-2 general-info-title">{{'sitnet_teachers_comment' | translate }}:</div>
    <div class="col-md-10 general-info-content">
        <div mathjax ng-bind-html="exam.examFeedback.comment"></div>
    </div>
</div>

<!-- grading stuff -->
<form name="examForm" role="form" novalidate>

    <div class="detail-row mart20">
        <div class="col-md-2 general-info-title">{{'sitnet_inspection_status' | translate }}:</div>
        <div class="col-md-10 general-info-content">

            <span ng-if="exam.state === 'ABORTED'"
                  class="grading-status">{{'sitnet_aborted_exam' | translate}}
                </span>
                <span ng-if="exam.state ==='REVIEW' || exam.state === 'REVIEW_STARTED'  || exam.state === 'STUDENT_STARTED'"
                      class="grading-status">{{'sitnet_exam_status_' + exam.state | lowercase | translate}}
                </span>
                <span ng-if="exam.state === 'GRADED'" class="grading-status">
                    {{'sitnet_exam_status_' + exam.state | lowercase | translate}}
                </span>
                <span ng-if="exam.state === 'GRADED_LOGGED'" class="grading-status">
                    {{'sitnet_exam_status_' + exam.state | lowercase | translate}}
                </span>
                <span ng-if="exam.state === 'REJECTED'" class="grading-status">
                    {{'sitnet_exam_status_' + exam.state | lowercase | translate}}
                </span>

        </div>
    </div>

    <!-- arvioinnin lisätiedot -->
    <div class="detail-row mart20">
        <div class="col-md-2 general-info-title">{{'sitnet_additional_info_for_registry' | translate }}:
            <sup><img popover-placement="right" popover-trigger="mouseenter"
                      uib-popover="{{'sitnet_additional_info_for_registry_description' | translate}}"
                      src="../../../assets/assets/images/icon_tooltip.svg" alt="exam"
                      onerror="this.onerror=null;this.src='../../../assets/assets/images/icon_tooltip.png'" /></sup>
        </div>
        <div class="col-md-10 general-info-content">
            <textarea id="infoForRegistry" class="form-control" ng-model="exam.additionalInfo"
                         rows="3"
                         ng-disabled="isReadOnly() || !isOwnerOrAdmin()">
            </textarea>
        </div>
    </div>

    <div class="padr15 marl15 mart30">
        <div class="col-md-3 grading-title padl0">{{ 'sitnet_exam_review_maturity_evaluation' | translate | uppercase }}</div>
        <div class="col-md-3 grading-title">{{ 'sitnet_exam_choose_credit_type' | translate | uppercase }}</div>
        <div class="col-md-3 grading-title">{{ 'sitnet_exam_record_language' | translate | uppercase }}</div>
        <div class="col-md-3 grading-title">{{ 'sitnet_exam_credit' | translate | uppercase }} (op):</div>
    </div>

    <div class="review-grade-row marb20">

        <div class="col-md-3 general-info-content padl0">
            <select id="examGrade"
                    name="examGrade"
                    class="form-control"
                    ng-model="selections.grade"
                    ng-disabled="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                    ng-change="setGrade()"
                    required
                    ng-options="grade.name for grade in examGrading">
                <option value=""
                        ng-selected="!exam.grade">{{'sitnet_choose' | translate}}
                </option>
            </select>
        </div>
        <div class="col-md-3 general-info-title">
            <select id="creditType" name="creditType" class="form-control"
                    ng-model="selections.type"
                    ng-change="setCreditType()"
                    ng-disabled="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()" required
                    ng-options="type.name for type in examTypes">
                <option value="">{{'sitnet_choose' | translate}}</option>
            </select>
        </div>
        <div class="col-md-3 general-info-title">
            <select id="answerLanguage" name="answerLanguage" class="form-control"
                    ng-disabled="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                    ng-model="selections.language"
                    ng-change="setLanguage(selections.language)" required
                    ng-options="lang.name for lang in languages">
                <option value="">{{'sitnet_choose' | translate}}</option>
            </select>
        </div>
        <div class="col-md-3 general-info-title">
            <input id="customCredit" type="number" ng-disabled="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                   required min="0"
                   class="form-control" maxlength="3" ng-model="exam.customCredit"/>
        </div>
    </div>

    <!-- Bottom toolbar for maturity -->
    <div class="detail-row" ng-include="toolbarPath"></div>


</form>