<div id="exam" ng-init="sectionQuestion.question.reviewExpanded = true">
    <div class="review-question-border">
        <div class="detail-row">
            <span class="col-md-12">
                <a ng-click="toggleQuestionExpansion(sectionQuestion)" class="fa-stack fa-lg pointer-hand">
                    <i class="fa sitnet-white fa-stop fa-stack-2x"></i>
                    <i ng-hide="sectionQuestion.question.reviewExpanded" class="fa fa-chevron-right fa-stack-1x"></i>
                    <i ng-show="sectionQuestion.question.reviewExpanded" class="fa fa-chevron-down fa-stack-1x"></i>
                </a>
                <strong>{{ 'sitnet_question' | translate }}</strong>
            </span>
        </div>

        <!-- question text -->
        <div class="detail-row">
            <div class="col-md-12 review-question-value">
                <span mathjax ng-bind-html="sectionQuestion.question.question"></span>
            </div>
        </div>
        <!-- question attachment -->
        <div class="main-row" ng-show="sectionQuestion.question.reviewExpanded && sectionQuestion.question.attachment"
             ng-controller="AttachmentController">
            <strong class="col-md-4 review-question"> {{ 'sitnet_question_attachment' | translate
                }}:
            </strong>
            <div class="col-md-8">
                <a class="pointer" ng-click="downloadQuestionAttachment(sectionQuestion.question)">
                    {{sectionQuestion.question.attachment.fileName}}
                </a>
            </div>
        </div>
        <!-- answer -->
        <div class="main-row">
            <strong class="col-md-12 review-question">{{ 'sitnet_exam_answer' | translate }}:</strong>
        </div>
        <!-- answer content -->
        <div ng-if="sectionQuestion.question.type==='MultipleChoiceQuestion'" ng-include="multiChoiceAnswerTemplate" />
        <div ng-if="sectionQuestion.question.type==='WeightedMultipleChoiceQuestion'" ng-include="weightedMultiChoiceAnswerTemplate" />
    </div>
</div>
