<div id="sitnet-header" class="header">
    <div class="col-md-11 header-wrapper">
        <span class="header-text">{{'sitnet_exams_to_be_reviewed' | translate}}</span>
    </div>
    <div class="col-md-1 header-wrapper" ng-controller="ExamController">

    </div>
    <div class="col-md-1 ">
    </div>
</div>
<div id="dashboard" class="container-fluid exams-table-title-area">

    <div class="col-md-12">
        <span class="exams-list-title-text pull-left">{{ examInfo }}</span>
    </div>

    <!--Odottaa tarkastusta-->
    <div class="col-md-12 row">
        <div class="col-md-8">
            <span class="exams-list-title-text pull-left">{{ 'sitnet_exam_in_review' | translate }}</span>
        </div>

        <div class="col-md-4" ng-if="examReviews.length > 0">
            <a ng-click="toggleUnreviewed()" class="header-icon pull-right fa-stack fa-lg">
                <i class="fa sitnet-white fa-stop fa-stack-2x"></i>
                <i ng-show="!toggleReviews" class="fa fa-chevron-left fa-stack-1x"></i>
                <i ng-show="toggleReviews" class="fa fa-chevron-down fa-stack-1x"></i>
            </a>
        </div>
    </div>
    <div class="row base" ng-show="examReviews.length == 0">
        <div class="col-md-1 exams-table">N/A</div>
    </div>
    <div class="row base" ng-show="toggleReviews">
        <div class="exams-list col-md-12">
            <div class="exams-table-borders">
                <table class="table table-bordered exams-table">
                    <thead>
                    <tr>
                        <!--
                        <th><i class="fa fa-flag"></i></th>
                        <th><i class="fa fa-exclamation-triangle"></i></th>
                        -->
                        <th colspan="2"><span class="pointer"
                                              ng-click="reviewPredicate = 'user.lastName'; reverse=!reverse">{{'sitnet_student' | translate }}</span>
                        </th>
                        <!-- opiskelija, tunniste  -->
                        <th><span class="pointer" ng-click="reviewPredicate = 'started'; reverse=!reverse">{{'sitnet_exam_duration' | translate}}</span>
                        </th>
                        <!-- päivämäära, aloitus- ja lopetusaika (kesto?)  -->
                        <th><span class="pointer" ng-click="reviewPredicate = 'deadline'; reverse=!reverse">{{'sitnet_review_deadline' | translate }}</span>
                        </th>
                        <!-- tarkastuksen takaraja -->
                        <th>{{'sitnet_inspection_status' | translate}}</th>
                        <!-- tarkastuksen tilanne  -->
                        <!--<th>{{'sitnet_exam_state' | translate}}</th>  tentin tila -->
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="review in examReviews | orderBy:reviewPredicate:reverse"
                        ng-click="go('/exams/review/' + review.exam.id)" class="pointer">
                        <!--
                        <td class="table-column-flag"><i class="sitnet-dark-blue fa fa-flag"></i></td>
                        <td class="table-column-exclamation"><i class="sitnet-red fa fa-flash"></i></td>
                        -->
                        <td class="table-column-examname">{{review.user.firstName}} {{review.user.lastName}}
                        </td>
                        <td>{{review.user.email}}</td>
                        <td class="table-column-20">{{review.started | date: 'dd.MM.yyyy'}} {{'sitnet_clock_short' |
                            translate}}.{{review.started | date: 'HH:mm'}} - {{review.ended | date: 'HH:mm'}}
                            ({{review.started | diffInMinutesTo:examReview.ended }}min)
                        </td>
                        <td class="table-column-20">{{review.deadline | date:'dd.MM.yyyy'}} (<span
                                ng-bind-html="review.deadline | diffInDaysToNow"></span>)
                        </td>
                        <td class="table-column-teachers">
                            <div class="col-md-12" ng-repeat="inspection in review.inspections">
                                <span ng-class="inspection.ready ? 'sitnet-text-ready' : 'sitnet-text-alarm'">{{inspection.user.firstName}} {{inspection.user.lastName}}</span>
                            </div>
                        </td>
                        <!--<td class="table-column-open-until">{{examReview.exam.state}}</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Tarkastettu-->
    <div class="col-md-12 row">
        <div class="col-md-8">
            <span class="exams-list-title-text pull-left">{{ 'sitnet_exam_reviewed' | translate }}</span>
        </div>

        <div class="col-md-4" ng-if="gradedReviews.length > 0">
            <!-- href="#/rooms/{{room.id}}" -->
            <a ng-click="toggleGraded()" class="header-icon pull-right fa-stack fa-lg">
                <i class="fa sitnet-white fa-stop fa-stack-2x"></i>
                <i ng-show="!toggleGradedReviews" class="fa fa-chevron-left fa-stack-1x"></i>
                <i ng-show="toggleGradedReviews" class="fa fa-chevron-down fa-stack-1x"></i>
            </a>
        </div>
    </div>
    <div class="row base" ng-show="gradedReviews.length == 0">
        <div class="col-md-1 exams-table">N/A</div>
    </div>
    <div class="row base" ng-show="toggleGradedReviews">
        <div class="exams-list col-md-12">
            <div class="exams-table-borders">
                <table class="table table-bordered exams-table">
                    <thead>
                    <tr>
                        <!--<th><i class="fa fa-flag"></i></th>
                        <th><i class="fa fa-exclamation-triangle"></i></th>-->
                        <th>{{ 'sitnet_examcode' | translate }}</th>
                        <th>{{ 'sitnet_exam_name' | translate }}</th>
                        <th>{{ 'sitnet_student' | translate }}</th>
                        <th>{{ 'sitnet_grade' | translate }}</th>
                        <th>{{'sitnet_inspection_status' | translate}}</th>
                        <th>{{ 'sitnet_graded' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="review in gradedReviews"
                        ng-click="go('/exams/review/' + review.exam.id)" class="pointer">
                        <!--<td class="table-column-flag"><i class="sitnet-dark-blue fa fa-flag"></i></td>
                        <td class="table-column-exclamation"><i class="sitnet-red fa fa-flash"></i></td>-->
                        <td class="table-column-examcode">{{review.exam.course.code}}</td>
                        <td class="table-column-examname">{{review.exam.name}}</td>
                        <td class="table-column-examname"><a href="mailto:{{review.user.email}}">{{review.user.firstName}}
                            {{review.user.lastName}}</a></td>
                        <td class="table-column-open-until">{{review.exam.grade}}</td>
                        <td class="table-column-teachers">
                            <div class="pull-left horizontal-padding-05" ng-repeat="inspection in review.inspections">
                                <span ng-class="inspection.ready ? 'sitnet-text-ready' : 'sitnet-text-alarm'">{{inspection.user.firstName}} {{inspection.user.lastName}}</span>
                            </div>
                        </td>
                        <td class="table-column-open-until">{{review.exam.gradedTime | date:'dd.MM.yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Kirjattu-->
    <div class="col-md-12 row">
        <div class="col-md-8">
            <span class="exams-list-title-text pull-left">{{ 'sitnet_exam_graded_logged' | translate }}</span>
        </div>

        <div class="col-md-4" ng-if="gradedLoggedReviews.length > 0">
            <!-- href="#/rooms/{{room.id}}" -->
            <a ng-click="toggleLogged()" class="header-icon pull-right fa-stack fa-lg">
                <i class="fa sitnet-white fa-stop fa-stack-2x"></i>
                <i ng-show="!toggleLoggedReviews" class="fa fa-chevron-left fa-stack-1x"></i>
                <i ng-show="toggleLoggedReviews" class="fa fa-chevron-down fa-stack-1x"></i>
            </a>
        </div>
    </div>
    <div class="row base" ng-show="gradedLoggedReviews.length == 0">
        <div class="col-md-1 exams-table">N/A</div>
    </div>
    <div class="row base" ng-show="toggleLoggedReviews">
        <div class="exams-list col-md-12">
            <div class="exams-table-borders">
                <table class="table table-bordered exams-table">
                    <thead>
                    <tr>
                        <!--<th><i class="fa fa-flag"></i></th>
                        <th><i class="fa fa-exclamation-triangle"></i></th>-->
                        <th>{{ 'sitnet_examcode' | translate }}</th>
                        <th>{{ 'sitnet_exam_name' | translate }}</th>
                        <th>{{ 'sitnet_student' | translate }}</th>
                        <th>{{ 'sitnet_grade' | translate }}</th>
                        <th>{{ 'sitnet_graded' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="review in gradedLoggedReviews">
                        <!--<td class="table-column-flag"><i class="sitnet-dark-blue fa fa-flag"></i></td>
                        <td class="table-column-exclamation"><i class="sitnet-red fa fa-flash"></i></td>-->
                        <td class="table-column-examcode">{{review.exam.course.code}}</td>
                        <td class="table-column-examname">
                            <span ng-show="isLongerThanSixMonths(review.exam.gradedTime)">{{review.exam.name}}</span>
                            <a ng-show="!isLongerThanSixMonths(review.exam.gradedTime)"
                               href="#/exams/review/{{review.exam.id}}">{{review.exam.name}}</a>
                        </td>
                        <td class="table-column-examname">{{review.user.firstName}} {{review.user.lastName}}
                        </td>
                        <td class="table-column-open-until">{{review.exam.grade}}</td>
                        <td class="table-column-open-until">{{review.exam.gradedTime | date:'dd.MM.yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>