/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@import '../../../shared/definitions.scss';

.question-flow-category-questions {
    margin-bottom: 40px;
}
.question-flow-title {
    font-size: 22px;
    color: #2c2c2c;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #b1b1b1;
}
