@import '../../../shared/shared';

.question-flow-category-questions {
    margin-bottom: 40px;
}
.question-flow-title {
    font-size: 22px;
    color: #2c2c2c;
    padding-bottom: 5px;
    margin-bottom: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #b1b1b1;
}
