<div class="top-row">
    <div class="col-md-12 marb30">
        <div class="question-flow-title">{{ 'sitnet_question_flow' | translate }}</div>
    </div>
</div>
<question-flow-category
    *ngIf="unfinished"
    categoryTitle="sitnet_in_progress"
    [reviews]="unfinished"
    (selected)="questionSelected($event)"
>
</question-flow-category>
<question-flow-category
    *ngIf="finished"
    categoryTitle="sitnet_all_finished"
    [reviews]="finished"
    [allDone]="true"
    (selected)="questionSelected($event)"
>
</question-flow-category>
