.datetimepicker-wrapper {
    vertical-align: middle;
    display: inline-block;
}

.datetimepicker-wrapper > input {
    margin-bottom: 0 !important;
    width: 130px;
}

.btn.green {
    background-color: #3CA34F;
}

.datetimepicker-wrapper [ng-model=hours],
.datetimepicker-wrapper [ng-model=minutes] {
    width: 46px !important;
}