#sitnet-dialog {

  .student-message-dialog-wrapper-padding {
    padding: 30px;
  }

  .student-feedback {
    pre {
      white-space: inherit;
    }

  }

  .terms-dialog-header {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-radius: 4px;
  }

  .arrow-right-button {
    margin-left: 2.8em;
  }

  .dialog-body-wrapper {
    width:96%;
    margin:0 auto;

    .header {
      padding:1.5em 0;
      font-weight: bold;
      font-size: 1.1em;

      .headerNotice {
        font-size: 0.8em;
        color: $sitnet-notice;
        width:100%;
        clear:both;
        display: block;
      }
    }

    .body {
      width:100%;
    }
  }

  .list-table {

    min-width: 400px;
    border: 0;
    font-family: $sitnet-family-opensans;
    font-weight: normal;
    font-size: 0.8em;

    th {
      background-color: $sitnet-common-light;
      font-family: $sitnet-family-georgia;
      color: $sitnet-common-medium;
      font-weight: normal;
      border:0;
    }

    td:first-child {
      border-left:0;
    }
    td:last-child {
      border-right:0;
    }

    tr:last-child {
      td {
        border-bottom: 0;
      }
    }

    .subHeader {
      color:$sitnet-common-medium;
      text-align: right;
    }

    .email {
      font-weight: bold;
    }

    .code {
      text-align: center;
      font-weight: bold;
    }

    .name {
      width: 35%;
    }

    .time {
      width:30%;
      font-weight: bold;
    }
  }

  .attachment-input {
    visibility:hidden;
  }
  .attachment-file {
    padding-top: 0.5em;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }
  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }

}
