#sitnet-header {

  .header-wrapper {
    height: 2em;
    padding: 0.75em 2em 0 0;
  }

  .header-text {
    font-size: 1.8em;
    font-family: $sitnet-family-opensans-light;
    color: $sitnet-text;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 1em;
  }

  .compact-header-text {
    font-size: 1.8em;
    font-family: $sitnet-family-opensans-light;
    color: $sitnet-text;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
  }

  min-height: $sitnet-header-height;
  background-color: #e6e6e6;

  .header {
    position: fixed;
    z-index: 330;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    right: 0;
    left: 0;
  }

  .question-header {
    background-color: $sitnet-common-light;
  }

  .header-button {
    font-family: $sitnet-family-opensans-bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: $sitnet-theme;
    border: 0;
    color: $sitnet-background;
    min-width: 3em;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em 1.2em 0.5em 1.2em;
    @include border-radius(5px);
  }
  .header-button > i {
    margin-left: 0.2em;
    padding-right: 2em;
  }

  .exam-clock {
    font-size: 1.8em;
    font-style: italic;
    font-family: $sitnet-family-opensans-bold;
    color: $sitnet-common-medium;
    line-height: 2.2em;
    font-weight: 100;
    text-align: right;
    text-spacing: 0.2em;
  }
  .exam-clock-text {
    text-align: right;
    line-height: 4em;
    font-size: 1.1em;
    font-style: italic;
    font-family: $sitnet-family-opensans-bold;
    color: $sitnet-common-medium;
    margin-right: 1em;
  }

  @media screen {
    .print-only {
      display: none !important;
    }
  }

  @media print {
    .no-print {
      display: none !important;
    }
  }

}
