#login {
  h4 {
    border-bottom: solid 1px $sitnet-dark;
  }
  padding: 2em;
  form {
    margin-left: 1em;
  }
  label {
    display: block;
  }
  .control-label {
    font-size: 1.4em;
    font-family: $sitnet-family-opensans-light;
    color: $sitnet-text;
    font-weight: 300;
    letter-spacing: 1px;
  }

}