#question-editor {

  .new-option {
    color: $sitnet-dark-grey;
    border: dashed 2px $sitnet-grey;
    background-color: $sitnet-beige;
    padding: 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 2em;
    cursor: pointer;
  }

  .new-option:hover {
    background-color: $sitnet-beige-active;
  }

  .exam-question-container {
    padding: 1em;
  }

  .question-editor-option {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 1em;
    padding: 0.5em;
  }

  .answer-state {
    padding: 0.3em 2em;
  }

  .question-editor-option .form-group {
    margin-bottom: 5px;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  .pointer-hand {
    cursor: pointer;
  }

  .question-editor.affix {
    position: fixed;
    right: 0;
    top: 0;
    width: 28%;
    overflow-y: scroll;
    margin-right: 1em;
    padding-right: 0;
  }

  //  -webkit-touch-callout: none;
  //  -webkit-user-select: none;
  //  -khtml-user-select: none;
  //  -moz-user-select: none;
  //  -ms-user-select: none;
  //  user-select: none;
  //  outline-style: none;
}
