<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-enroll-title-wrap">
                <div class="student-enroll-title">{{ 'sitnet_reservations_administration' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="reservation-border">
        <div class="p-4 row">
            <div class="col-md-2">
                <strong class="reservation-search-titles">{{ 'sitnet_student' | translate }}</strong>
                <xm-dropdown-select
                    *ngIf="studentOptions"
                    [fullWidth]="true"
                    [options]="studentOptions"
                    (optionSelected)="studentChanged($event)"
                >
                </xm-dropdown-select>
            </div>
            <div class="col-md-3">
                <strong class="reservation-search-titles">{{ 'sitnet_exam' | translate }}</strong>
                <xm-dropdown-select
                    *ngIf="examOptions"
                    [fullWidth]="true"
                    [options]="examOptions"
                    (optionSelected)="examChanged($event)"
                >
                </xm-dropdown-select>
            </div>
            <div class="col-md-2 pt-1 reservation-search-titles">
                <strong class="reservation-search-titles">{{ 'sitnet_begin' | translate }}</strong>
                <xm-date-picker (updated)="startDateChanged($event)"></xm-date-picker>
            </div>
            <div class="col-md-2 pt-1 reservation-search-titles">
                <strong class="reservation-search-titles">{{ 'sitnet_end' | translate }}</strong>
                <xm-date-picker (updated)="endDateChanged($event)"></xm-date-picker>
            </div>
        </div>
        <div class="p-4 row align-items-center">
            <div class="col-md-2">
                <strong class="reservation-search-titles">{{ 'sitnet_exam_owners' | translate }}</strong>
                <xm-dropdown-select
                    *ngIf="teacherOptions"
                    [fullWidth]="true"
                    [options]="teacherOptions"
                    (optionSelected)="ownerChanged($event)"
                >
                </xm-dropdown-select>
            </div>
            <div class="col-md-2">
                <strong class="reservation-search-titles">{{ 'sitnet_room' | translate }}</strong>
                <xm-dropdown-select
                    *ngIf="roomOptions"
                    [options]="roomOptions"
                    (optionSelected)="roomChanged($event)"
                    [limitTo]="0"
                    [fullWidth]="true"
                >
                </xm-dropdown-select>
            </div>
            <div class="col-md-2">
                <strong class="reservation-search-titles">{{ 'sitnet_exam_machine' | translate }}</strong>
                <xm-dropdown-select
                    *ngIf="machineOptions"
                    [options]="machineOptions"
                    (optionSelected)="machineChanged($event)"
                    [limitTo]="0"
                    [fullWidth]="true"
                >
                </xm-dropdown-select>
            </div>
            <div class="col-md-3">
                <strong class="reservation-search-titles">{{ 'sitnet_exam_state' | translate }}</strong>
                <xm-dropdown-select [options]="stateOptions" [fullWidth]="true" (optionSelected)="stateChanged($event)">
                </xm-dropdown-select>
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input
                            type="checkbox"
                            value=""
                            [(ngModel)]="externalReservationsOnly"
                            (change)="updateQuery()"
                        />
                        <strong class="reservation-search-titles">
                            {{ 'sitnet_external_reservations_only' | translate }}
                        </strong>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="" [(ngModel)]="byodExamsOnly" (change)="updateQuery()" />
                        <strong class="reservation-search-titles">
                            {{ 'sitnet_byod_only' | translate }}
                        </strong>
                    </label>
                </div>
            </div>
        </div>

        <xm-reservation-details *ngIf="reservations" [reservations]="reservations" [isAdminView]="true">
        </xm-reservation-details>
    </div>
</div>
