<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-enroll-title-wrap">
                <div class="student-enroll-title marl20">{{ 'sitnet_dashboard' | translate }}</div>
            </div>
            <div class="teacher-toolbar">
                <div class="make-inline">
                    <div class="review-attachment-button print-button">
                        <a uiSref="newExam" class="pointer">
                            {{ 'sitnet_toolbar_new_exam' | translate }}
                        </a>
                    </div>
                </div>
                <div class="make-inline">
                    <div class="review-attachment-button print-button">
                        <a uiSref="newQuestion" [uiParams]="{ nextState: 'dashboard' }" class="pointer">
                            {{ 'sitnet_toolbar_new_question' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-wrapper">
        <ul
            ngbNav
            #nav="ngbNav"
            [(activeId)]="activeTab"
            [destroyOnHide]="false"
            (navChange)="changeTab($event)"
            class="nav-tabs"
        >
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <div class="make-inline marr10">{{ 'sitnet_active_exams_title' | translate }}</div>
                    <div *ngIf="activeExams" class="make-inline tab-number">
                        {{ filteredActive.length }}
                    </div>
                </a>
                <ng-template ngbNavContent>
                    <exam-list-category
                        [items]="filteredActive"
                        defaultPredicate="examActiveEndDate"
                        [examTypes]="executionTypes"
                        [extraColumns]="activeExtraColumns"
                        (onFilterChange)="search($event)"
                    >
                    </exam-list-category>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <div class="make-inline marr10">{{ 'sitnet_finished_exams_title' | translate }}</div>
                    <div class="make-inline tab-number">
                        {{ filteredFinished.length }}
                    </div>
                </a>
                <ng-template ngbNavContent>
                    <exam-list-category
                        [items]="filteredFinished"
                        defaultPredicate="unassessedCount"
                        [defaultReverse]="true"
                        [extraColumns]="finishedExtraColumns"
                        [examTypes]="executionTypes"
                        (onFilterChange)="search($event)"
                    >
                    </exam-list-category>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>
                    <div class="make-inline marr10">{{ 'sitnet_archived_teacher_exams_title' | translate }}</div>
                    <div class="make-inline tab-number">
                        {{ filteredArchived.length }}
                    </div>
                </a>
                <ng-template ngbNavContent>
                    <exam-list-category
                        [items]="filteredArchived"
                        defaultPredicate="examActiveEndDate"
                        [defaultReverse]="true"
                        [extraColumns]="archivedExtraColumns"
                        [examTypes]="executionTypes"
                        (onFilterChange)="search($event)"
                    >
                    </exam-list-category>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>
                    <div class="make-inline marr10">{{ 'sitnet_draft_exams' | translate }}</div>
                    <div class="make-inline tab-number">
                        {{ filteredDrafts.length }}
                    </div>
                </a>
                <ng-template ngbNavContent>
                    <exam-list-category
                        [items]="filteredDrafts"
                        defaultPredicate="examActiveEndDate"
                        [defaultReverse]="true"
                        [examTypes]="executionTypes"
                        (onFilterChange)="search($event)"
                    >
                    </exam-list-category>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>
