<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<xm-page-header text="i18n_collaborative_exams" [appendTemplate]="button" />
<xm-page-content [content]="content" />
<ng-template #button>
    @if (user.isAdmin) {
        <a class="float-end btn btn-success" (click)="createExam()">
            {{ 'i18n_toolbar_new_exam' | translate }}
        </a>
    }
</ng-template>
<ng-template #content>
    <div class="row">
        <div class="col-12">
            <ul
                ngbNav
                #nav="ngbNav"
                [activeId]="view()"
                (activeIdChange)="setView($event)"
                class="nav-tabs"
                [keyboard]="false"
            >
                <li [ngbNavItem]="'PUBLISHED'">
                    <a ngbNavLink>
                        {{ 'i18n_published_joint_exams' | translate }}
                        <span class="ms-2 badge bg-secondary">{{ publishedCount() }}</span>
                    </a>
                </li>
                <li [ngbNavItem]="'EXPIRED'">
                    <a ngbNavLink>
                        {{ 'i18n_expired_joint_exams' | translate }}
                        <span class="ms-2 badge bg-secondary">{{ expiredCount() }}</span>
                    </a>
                </li>
                <li [ngbNavItem]="'DRAFTS'">
                    <a ngbNavLink>
                        {{ 'i18n_joint_exam_drafts' | translate }}
                        <span class="ms-2 badge bg-secondary">{{ draftsCount() }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <div class="form-group input-group">
                <input
                    (keyup)="search($event)"
                    type="text"
                    class="form-control"
                    placeholder="{{ 'i18n_search' | translate }}"
                    ngbPopover="{{ 'i18n_collaborative_exam_search_description_teacher' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                />
                <div class="input-group-append bi-search search-append"></div>
            </div>
        </div>
        <div class="col" [hidden]="!loading()">
            <button class="btn btn-success" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                {{ 'i18n_searching' | translate }}...
            </button>
        </div>
    </div>

    <div class="row mt-2" style="overflow-x: scroll">
        <div class="col-12">
            <table class="table table-striped table-sm xm-data-table">
                <thead>
                    <tr>
                        <th>
                            <xm-table-sort
                                by="name"
                                text="i18n_exam_name"
                                [predicate]="examsPredicate()"
                                [reverse]="reverse()"
                                (click)="setPredicate('name')"
                            ></xm-table-sort>
                        </th>
                        <th>
                            <xm-table-sort
                                by="stateTranslation"
                                text="i18n_exam_state_translation"
                                [predicate]="examsPredicate()"
                                [reverse]="reverse()"
                                (click)="setPredicate('stateTranslation')"
                            ></xm-table-sort>
                        </th>
                        <th>
                            <xm-table-sort
                                by="ownerAggregate"
                                text="i18n_teachers"
                                [predicate]="examsPredicate()"
                                [reverse]="reverse()"
                                (click)="setPredicate('ownerAggregate')"
                            ></xm-table-sort>
                        </th>
                        <th>
                            <xm-table-sort
                                by="periodStart"
                                text="i18n_start_time"
                                [predicate]="examsPredicate()"
                                [reverse]="reverse()"
                                (click)="setPredicate('periodStart')"
                            ></xm-table-sort>
                        </th>
                        <th>
                            <xm-table-sort
                                by="periodEnd"
                                text="i18n_end_time"
                                [predicate]="examsPredicate()"
                                [reverse]="reverse()"
                                (click)="setPredicate('periodEnd')"
                            ></xm-table-sort>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (exam of filteredExams() | orderBy: examsPredicate() : reverse(); track exam) {
                        <tr>
                            <td>
                                <a
                                    [routerLink]="['/staff/exams', exam.id, '1']"
                                    [queryParams]="{ collaborative: true }"
                                >
                                    @if (exam.name) {
                                        <strong>{{ exam.name }}</strong>
                                    }
                                    @if (!exam.name) {
                                        <strong class="text-danger">
                                            {{ 'i18n_no_name' | translate | uppercase }}
                                        </strong>
                                    }
                                </a>
                            </td>
                            <td
                                [ngClass]="{
                                    'text-success': exam.state === 'PUBLISHED',
                                    'text-danger': exam.state === 'PRE_PUBLISHED',
                                }"
                            >
                                {{ getStateTranslation(exam) }}
                            </td>
                            <td>
                                @for (o of exam.examOwners; track o) {
                                    <p>{{ o.email }}</p>
                                }
                            </td>
                            <td>
                                @if (exam.periodStart) {
                                    <span>
                                        {{ exam.periodStart | date: 'dd.MM.yyyy' }}
                                    </span>
                                }
                            </td>
                            <td>
                                @if (exam.periodEnd) {
                                    <span>
                                        {{ exam.periodEnd | date: 'dd.MM.yyyy' }}
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</ng-template>
