<div class="sitnet-header-alt">
    <div class="col-md-12 header-wrapper">
        <span class="header-text">{{ 'i18n_collaborative_exams' | translate }}</span>
    </div>
</div>
<div id="dashboard">
    <!-- toolbar -->
    <div class="top-row" *ngIf="user.isAdmin">
        <div class="col-md-12">
            <a class="float-end btn btn-success" (click)="createExam()">
                {{ 'i18n_toolbar_new_exam' | translate }}
            </a>
        </div>
    </div>

    <div class="main-row">
        <div class="col-md-12">
            <ul ngbNav #nav="ngbNav" [(activeId)]="view" class="nav-tabs">
                <li [ngbNavItem]="'PUBLISHED'">
                    <a ngbNavLink>
                        {{ 'i18n_published_joint_exams' | translate }}
                        <span class="ms-2 badge bg-secondary">{{ filterByView('PUBLISHED').length }}</span>
                    </a>
                </li>
                <li [ngbNavItem]="'EXPIRED'">
                    <a ngbNavLink>
                        {{ 'i18n_expired_joint_exams' | translate }}
                        <span class="ms-2 badge bg-secondary">{{ filterByView('EXPIRED').length }}</span>
                    </a>
                </li>
                <li [ngbNavItem]="'DRAFTS'">
                    <a ngbNavLink>
                        {{ 'i18n_joint_exam_drafts' | translate }}
                        <span class="ms-2 badge bg-secondary">{{ filterByView('DRAFTS').length }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="detail-row mt-3">
        <div class="col-md-4">
            <div class="form-group input-group">
                <input
                    (keyup)="search($event)"
                    type="text"
                    class="form-control search"
                    placeholder="{{ 'i18n_search' | translate }}"
                    ngbPopover="{{ 'i18n_collaborative_exam_search_description_teacher' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                />
                <div class="input-group-append search">
                    <img class="nopad" src="/assets/images/icon_search.png" alt="search-icon" width="49" height="40" />
                </div>
            </div>
        </div>
        <div class="col" [hidden]="!loader.loading">
            <button class="btn btn-success" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                {{ 'i18n_searching' | translate }}...
            </button>
        </div>
    </div>

    <div class="top-row collaborative-exam-table">
        <div class="col-md-12">
            <table class="table table-striped table-sm exams-table">
                <thead>
                    <tr>
                        <th>
                            <xm-table-sort
                                by="name"
                                text="i18n_exam_name"
                                [predicate]="examsPredicate"
                                [reverse]="reverse"
                                (click)="setPredicate('name')"
                            ></xm-table-sort>
                        </th>
                        <th>
                            <xm-table-sort
                                by="stateTranslation"
                                text="i18n_exam_state_translation"
                                [predicate]="examsPredicate"
                                [reverse]="reverse"
                                (click)="setPredicate('stateTranslation')"
                            ></xm-table-sort>
                        </th>
                        <th>
                            <xm-table-sort
                                by="ownerAggregate"
                                text="i18n_teachers"
                                [predicate]="examsPredicate"
                                [reverse]="reverse"
                                (click)="setPredicate('ownerAggregate')"
                            ></xm-table-sort>
                        </th>
                        <th>
                            <xm-table-sort
                                by="periodStart"
                                text="i18n_start_time"
                                [predicate]="examsPredicate"
                                [reverse]="reverse"
                                (click)="setPredicate('periodStart')"
                            ></xm-table-sort>
                        </th>
                        <th>
                            <xm-table-sort
                                by="periodEnd"
                                text="i18n_end_time"
                                [predicate]="examsPredicate"
                                [reverse]="reverse"
                                (click)="setPredicate('periodEnd')"
                            ></xm-table-sort>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let exam of filterByView(view) | orderBy : examsPredicate : reverse">
                        <td>
                            <a
                                class="exams-info-title bold-button"
                                [routerLink]="['/staff/exams', exam.id, '1']"
                                [queryParams]="{ collaborative: true }"
                            >
                                <span *ngIf="exam.name">{{ exam.name }}</span>
                                <span *ngIf="!exam.name" class="text-danger">
                                    {{ 'i18n_no_name' | translate | uppercase }}
                                </span>
                            </a>
                        </td>
                        <td
                            [ngClass]="{
                                'sitnet-medium-green-new': exam.state === 'PUBLISHED',
                                'sitnet-red': exam.state === 'PRE_PUBLISHED'
                            }"
                        >
                            {{ getStateTranslation(exam) }}
                        </td>
                        <td>
                            <p *ngFor="let o of exam.examOwners">{{ o.email }}</p>
                        </td>
                        <td>
                            <span *ngIf="exam.periodStart">
                                {{ exam.periodStart | date : 'dd.MM.yyyy' }}
                            </span>
                        </td>
                        <td>
                            <span *ngIf="exam.periodEnd">
                                {{ exam.periodEnd | date : 'dd.MM.yyyy' }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
