<table class="table table-bordered table-striped exams-table">
    <thead ng-init>
    <tr>
        <th>{{ 'sitnet_examcode' | translate }}</th>
        <th>{{ 'sitnet_exam_name' | translate }}</th>
        <th>{{ 'sitnet_teachers' | translate}}</th>
        <th>{{ 'sitnet_exam_validity' | translate }}</th>
        <th>{{ 'sitnet_status' | translate }}</th>
        <th>{{ 'sitnet_copy' | translate }}</th>
        <th>{{ 'sitnet_exam_remove' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="exam in exams | filter: {state: 'PUBLISHED'} | orderBy: '-examActiveEndDate'">
        <td class="table-column-examcode">{{exam.course.code}}</td>
        <td>
            <a ng-if="exam.name" class="exams-info-title bold-button"
               href="#/exams/{{exam.id}}">{{exam.name}}</a>
            <a ng-if="!exam.name" class="exams-info-title bold-button text-danger"
               href="#/exams/{{exam.id}}">{{'sitnet_no_name' | translate}}
            </a>
        </td>

        <td class="table-column-teachers">
            <teacher-list exam="exam"/>
        </td>

        <td><span ng-if="exam.examActiveStartDate && exam.examActiveEndDate">{{exam.examActiveStartDate | date:'dd.MM.yyyy'}} - {{exam.examActiveEndDate | date:'dd.MM.yyyy'}}</span>
        </td>
        <td>
            <span class="status_green">{{ 'sitnet_published' | translate }}</span>
        </td>
        <td class="text-center"><a class="bold-button" ng-click="copyExam(exam)"><i
                class="fa fa-lg fa-copy text-info"></i></a>
        </td>
        <td class="text-center">
            <a>
                <i class="fa fa-times fa-lg text-muted"></i>
            </a>
        </td>
    </tr>
    <tr ng-repeat="exam in exams | filter: {state: 'SAVED'}">
        <td class="table-column-examcode">{{exam.course.code}}</td>
        <td>
            <a ng-if="exam.name" class="exams-info-title bold-button"
               href="#/exams/{{exam.id}}">{{exam.name}}</a>
            <a ng-if="!exam.name" class="exams-info-title bold-button text-danger"
               href="#/exams/{{exam.id}}">{{'sitnet_no_name' | translate}}</a>
        </td>
        <td class="table-column-teachers">
            <teacher-list exam="exam"/>
        </td>
        <td><span ng-if="exam.examActiveStartDate && exam.examActiveEndDate">{{exam.examActiveStartDate | date:'dd.MM.yyyy'}} - {{exam.examActiveEndDate | date:'dd.MM.yyyy'}}</span>
        </td>
        <td>
            <span class="status_orange">{{ 'sitnet_saved' | translate }}</span>
        </td>
        <td class="text-center"><a class="bold-button" ng-click="copyExam(exam)"><i
                class="fa fa-lg fa-copy text-info"></i></a>
        </td>
        <td class="text-center">
            <a ng-click="deleteExam(exam)" class="pointer">
                <i class="fa fa-times fa-lg sitnet-red"></i>
            </a>
        </td>
    </tr>
    <tr ng-repeat="exam in exams | filter: {state: 'DRAFT'}">
        <td class="table-column-examcode">{{exam.course.code}}</td>
        <td><a ng-if="exam.name" class="exams-info-title bold-button"
               href="#/exams/{{exam.id}}">{{exam.name}}</a>
            <a ng-if="!exam.name" class="exams-info-title bold-button text-danger"
               href="#/exams/{{exam.id}}">{{'sitnet_no_name' | translate}}</a>
        </td>
        <td class="table-column-teachers">
            <teacher-list exam="exam"/>
        </td>
        <td><span ng-if="exam.examActiveStartDate && exam.examActiveEndDate">{{exam.examActiveStartDate | date:'dd.MM.yyyy'}} - {{exam.examActiveEndDate | date:'dd.MM.yyyy'}}</span>
        </td>
        <td>
            <span class="status_red">{{ 'sitnet_draft' | translate }}</span>
        </td>
        <td class="text-center"><a class="bold-button" ng-click="copyExam(exam)"><i
                class="fa fa-lg fa-copy text-info"></i></a>
        </td>
        <td class="text-center">
            <a ng-click="deleteExam(exam)" class="pointer">
                <i class="fa fa-times fa-lg sitnet-red"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
