<div class="row">
    <div class="col-md-12">
        <div class="guide-wrapper" [ngClass]="isAnswered() ? 'active' : 'notactive'">
            <div class="row align-items-center">
                <div class="col-auto">
                    @if (isAnswered()) {
                        <div [attr.aria-label]="'i18n_all_questions_answered' | translate">
                            <img class="mt-05" src="/assets/images/icon_question_type_ready_grey.png" alt="" />
                        </div>
                    }
                    @if (!isAnswered()) {
                        <div [attr.aria-label]="'i18n_questions_unanswered' | translate">
                            <img class="mt-05" src="/assets/images/icon_question_type_waiting.svg" alt="" />
                        </div>
                    }
                </div>
                <!-- Expand button -->
                <div class="col-auto order-2">
                    <button
                        tabindex="0"
                        class="pointer section-box-title arrow border-none background-none"
                        [attr.aria-label]="parseAriaLabel(expanded ? 'i18n_collapse' : 'i18n_expand')"
                        [attr.aria-expanded]="expanded"
                        (click)="expanded = !expanded"
                        (keydown.enter)="expanded = !expanded"
                    >
                        <i [ngClass]="expanded ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
                    </button>
                </div>
                <!-- question text -->
                <div class="col mt-3 order-1">
                    @if (sq.question.type !== 'ClozeTestQuestion') {
                        @if (expanded) {
                            <div class="section-box-title" [xmMathJax]="sq.question.question"></div>
                        } @else {
                            <div class="section-box-title" [xmMathJax]="sq.question.question | slice: 0 : 240"></div>
                        }
                    } @else {
                        <div class="section-box-title">
                            <xm-dynamic-cloze-test
                                [content]="sq.clozeTestAnswer?.question || ''"
                                [answer]="clozeAnswer"
                                (answerChanged)="answered($event)"
                            />
                        </div>
                    }
                </div>
            </div>
            <!-- instruction -->
            @if (sq.answerInstructions && expanded) {
                <div class="row">
                    <div class="col-md-12 ps-4">
                        <p class="question-text question-type-text info" role="note">
                            <img class="me-4" src="/assets/images/icon_info.svg" alt="" />
                            {{ 'i18n_instructions' | translate }}:&nbsp;{{ sq.answerInstructions }}
                        </p>
                    </div>
                </div>
            }

            <!-- attachment -->
            @if (sq.question.attachment && expanded) {
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button
                            class="btn btn-success float-end"
                            tabindex="0"
                            (click)="downloadQuestionAttachment()"
                            (keydown.enter)="downloadQuestionAttachment()"
                        >
                            {{ 'i18n_download_section_question_attachment' | translate }}
                            <img src="/assets/images/icon_attachment.svg" alt="" />
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="attachment-name float-end">
                            {{ sq.question.attachment?.fileName | uppercase }}
                        </div>
                    </div>
                </div>
            }

            <!-- answer -->
            <div class="row">
                <div class="col-md-12">
                    @if (expanded) {
                        <div class="question">
                            @switch (sq.question.type) {
                                @case ('EssayQuestion') {
                                    <xm-examination-essay-question [sq]="sq" [exam]="exam" [isPreview]="isPreview" />
                                }
                                @case ('ClozeTestQuestion') {
                                    <xm-examination-cloze-test
                                        [sq]="sq"
                                        [examHash]="exam?.hash || ''"
                                        [isPreview]="isPreview"
                                    />
                                }
                                @case ('MultipleChoiceQuestion') {
                                    <xm-examination-multi-choice-question
                                        [sq]="sq"
                                        [examHash]="exam?.hash || ''"
                                        [isPreview]="isPreview"
                                        [orderOptions]="!exam?.external"
                                    >
                                    </xm-examination-multi-choice-question>
                                }
                                @case ('ClaimChoiceQuestion') {
                                    <xm-examination-multi-choice-question
                                        [sq]="sq"
                                        [examHash]="exam?.hash || ''"
                                        [isPreview]="isPreview"
                                        [orderOptions]="true"
                                    >
                                    </xm-examination-multi-choice-question>
                                }
                                @case ('WeightedMultipleChoiceQuestion') {
                                    <xm-examination-weighted-multi-choice-question
                                        [sq]="sq"
                                        [examHash]="exam?.hash || ''"
                                        [isPreview]="isPreview"
                                        [orderOptions]="!exam?.external"
                                    >
                                    </xm-examination-weighted-multi-choice-question>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
