<div class="row">
    <div class="col-md-12">
        <div class="guide-wrapper" [ngClass]="isAnswered() ? 'active' : 'notactive'">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div *ngIf="isAnswered()">
                        <img
                            class="mart05"
                            src="/assets/images/icon_question_type_ready_grey.png"
                            alt="question answered"
                            onerror="this.onerror=null;this.src='/assets/images/icon_question_type_ready_grey.png';"
                        />
                    </div>
                    <div *ngIf="!isAnswered()">
                        <img
                            class="mart05"
                            src="/assets/images/icon_question_type_waiting.svg"
                            alt="question not answered"
                            onerror="this.onerror=null;this.src='/assets/images/icon_question_type_waiting.png';"
                        />
                    </div>
                </div>
                <!-- question text -->
                <div class="col">
                    <div *ngIf="sq.question.type !== 'ClozeTestQuestion'">
                        <div class="section-box-title" *ngIf="expanded" [xmMathJax]="sq.question.question"></div>
                        <div
                            class="section-box-title"
                            *ngIf="!expanded"
                            [xmMathJax]="sq.question.question | slice : 0 : 240"
                        ></div>
                    </div>
                    <div *ngIf="sq.question.type === 'ClozeTestQuestion'">
                        <div class="section-box-title">
                            <xm-dynamic-cloze-test
                                [content]="sq.clozeTestAnswer?.question || ''"
                                [answer]="clozeAnswer"
                                (answerChanged)="answered($event)"
                            ></xm-dynamic-cloze-test>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div
                        tabindex="0"
                        class="section-header-right pointer section-box-title arrow"
                        [attr.aria-label]="expanded ? ('sitnet_collapse' | translate) : ('sitnet_expand' | translate)"
                        (click)="expanded = !expanded"
                        (keydown.enter)="expanded = !expanded"
                    >
                        <i [ngClass]="expanded ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
                    </div>
                </div>
            </div>
            <!-- instruction -->
            <div class="row" *ngIf="sq.answerInstructions && expanded">
                <div class="col-md-12">
                    <p class="question-text question-type-text info">
                        <img
                            class="marr20"
                            src="/assets/images/icon_info.svg"
                            alt="info icon"
                            onerror="this.onerror=null;this.src='/assets/images/icon_info.png';"
                        />
                        {{ 'sitnet_instructions' | translate }}:&nbsp;{{ sq.answerInstructions }}
                    </p>
                </div>
            </div>

            <!-- attachment -->
            <div class="row mt-3" *ngIf="sq.question.attachment && expanded">
                <div class="col-md-12">
                    <a
                        class="pointer green_button left-floater-for-section"
                        tabindex="0"
                        (click)="downloadQuestionAttachment()"
                        (keydown.enter)="downloadQuestionAttachment()"
                    >
                        {{ 'sitnet_download_section_question_attachment' | translate }}
                        <img
                            src="/assets/images/icon_attachment.svg"
                            alt="attachment"
                            onerror="this.onerror=null;this.src='/assets/images/icon_attachment.png';"
                    /></a>
                    <div class="attachment-name">{{ sq.question.attachment?.fileName | uppercase }}</div>
                </div>
            </div>

            <!-- answer -->
            <div class="row">
                <div class="col-md-12">
                    <div class="exam-question-container" *ngIf="expanded">
                        <hr class="info-question-separator" />
                        <div class="question" [ngSwitch]="sq.question.type">
                            <xm-examination-essay-question
                                *ngSwitchCase="'EssayQuestion'"
                                [sq]="sq"
                                [exam]="exam"
                                [isPreview]="isPreview"
                            >
                            </xm-examination-essay-question>

                            <xm-examination-cloze-test
                                *ngSwitchCase="'ClozeTestQuestion'"
                                [sq]="sq"
                                [examHash]="exam.hash"
                                [isPreview]="isPreview"
                            >
                            </xm-examination-cloze-test>

                            <xm-examination-multi-choice-question
                                *ngSwitchCase="'MultipleChoiceQuestion'"
                                [sq]="sq"
                                [examHash]="exam.hash"
                                [isPreview]="isPreview"
                                [orderOptions]="!exam.external"
                            >
                            </xm-examination-multi-choice-question>

                            <xm-examination-multi-choice-question
                                *ngSwitchCase="'ClaimChoiceQuestion'"
                                [sq]="sq"
                                [examHash]="exam.hash"
                                [isPreview]="isPreview"
                                [orderOptions]="true"
                            >
                            </xm-examination-multi-choice-question>

                            <xm-examination-weighted-multi-choice-question
                                *ngSwitchCase="'WeightedMultipleChoiceQuestion'"
                                [sq]="sq"
                                [examHash]="exam.hash"
                                [isPreview]="isPreview"
                                [orderOptions]="!exam.external"
                            >
                            </xm-examination-weighted-multi-choice-question>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
