<div class="row" [hidden]="!sq.expectedWordCount">
    <div class="col-md-12">
        <small
            >{{ 'i18n_essay_length_recommendation' | translate }}:&nbsp; {{ sq.expectedWordCount }} ({{
                'i18n_approximately' | translate
            }}
            {{ (sq.expectedWordCount || 0) * 8 }} {{ 'i18n_characters' | translate }})
        </small>
    </div>
</div>
@if (sq.essayAnswer) {
    <div class="row">
        <div class="col-md-12">
            <xm-ckeditor
                [attr.aria-label]="questionTitle"
                rows="10"
                cols="80"
                #ck="ngModel"
                [(ngModel)]="sq.essayAnswer.answer"
            ></xm-ckeditor>
        </div>
    </div>
}
@if (sq.autosaved) {
    <div class="row">
        <div class="col-md-12">
            <small class="autosave-text">
                {{ 'i18n_autosaved' | translate }}:&nbsp;{{ sq.autosaved | date: 'HH:mm' }}
            </small>
        </div>
    </div>
}

<div class="row mt-3">
    <div class="col-md-3 question-type-text">
        @if (sq.evaluationType === 'Selection') {
            <span>
                {{ 'i18n_evaluation_select' | translate }}
            </span>
        }
        @if (sq.evaluationType !== 'Selection') {
            <span> {{ sq.derivedMaxScore }} {{ 'i18n_unit_points' | translate }} </span>
        }
    </div>
    @if (exam?.implementation !== 'CLIENT_AUTH' && sq.essayAnswer?.attachment?.fileName) {
        <div class="col-md-9 mt-2">
            <span class="float-end">
                <span class="pe-2">{{ sq.essayAnswer?.attachment?.fileName | uppercase }}</span>
                <button class="btn btn-success" (click)="removeQuestionAnswerAttachment()">
                    {{ 'i18n_remove_answer_attachment' | translate }}
                    <img src="/assets/images/icon_attachment.svg" alt="attachment" />
                </button>
            </span>
        </div>
    }
</div>
<div class="row align-items-end">
    <div class="col-md-6">
        <button (click)="saveAnswer()" class="pointer btn btn-success" [disabled]="isPreview">
            {{ 'i18n_save' | translate }}
        </button>
    </div>
    @if (exam?.implementation !== 'CLIENT_AUTH' && sq.essayAnswer) {
        <div class="col-md-6">
            <div class="float-end mt-1">
                @if (!sq.essayAnswer.attachment?.fileName) {
                    {{ 'i18n_no_attachment' | translate }}
                }
                <button
                    class="pointer btn btn-success"
                    [disabled]="isPreview"
                    (click)="selectFile()"
                    (keydown.enter)="selectFile()"
                    tabindex="0"
                >
                    {{ 'i18n_upload_answer_attachment' | translate }}
                    <img src="/assets/images/icon_attachment.svg" alt="" />
                </button>
            </div>
        </div>
    }
</div>
