<xm-page-header text="i18n_exams" [appendTemplate]="button" />
<xm-page-content [content]="content" />
<ng-template #button>
    <button class="btn btn-success float-end" (click)="newExam()">
        {{ 'i18n_toolbar_new_exam' | translate }}
    </button>
</ng-template>
<ng-template #content>
    <!-- TAB NAVIGATION -->
    <div class="row">
        <div class="col-md-12">
            <ul ngbNav #nav="ngbNav" [(activeId)]="activeId" class="nav-tabs">
                <li role="presentation" [ngbNavItem]="0">
                    <a ngbNavLink>
                        {{ 'i18n_published_exams' | translate }}
                        <span class="badge bg-secondary">{{
                            filterByStateAndExpiration('PUBLISHED', false).length
                        }}</span>
                    </a>
                </li>
                <li role="presentation" [ngbNavItem]="1">
                    <a ngbNavLink>
                        {{ 'i18n_expired_exams' | translate }}
                        <span class="badge bg-secondary">{{
                            filterByStateAndExpiration('PUBLISHED', true).length
                        }}</span>
                    </a>
                </li>
                <li role="presentation" [ngbNavItem]="2">
                    <a ngbNavLink>
                        {{ 'i18n_saved_exams' | translate }}
                        <span class="badge bg-secondary">{{ filterByState('SAVED').length }}</span>
                    </a>
                </li>
                <li role="presentation" [ngbNavItem]="3">
                    <a ngbNavLink>
                        {{ 'i18n_draft_exams' | translate }}
                        <span class="badge bg-secondary">{{ filterByState('DRAFT').length }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <div class="form-group input-group">
                <input
                    (keyup)="search($event)"
                    type="text"
                    class="form-control"
                    placeholder="{{ 'i18n_search' | translate }}"
                    ngbPopover="{{ 'i18n_exam_search_description' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                />

                <div class="input-group-append search">
                    <img src="/assets/images/icon_search.png" alt="search-icon" width="45" height="38" />
                </div>
            </div>
        </div>
    </div>

    @if (loader.loading) {
        <div class="row mt-2">
            <div class="col-md-12">
                <button class="btn btn-success" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    {{ 'i18n_searching' | translate }}...
                </button>
            </div>
        </div>
    }

    <div [hidden]="exams.length === 0 || loader.loading" style="min-height: 700px">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-sm xm-data-table">
                    <thead>
                        <tr>
                            <th>
                                <xm-table-sort
                                    [reverse]="reverse"
                                    [predicate]="examsPredicate"
                                    by="course.code"
                                    text="i18n_examcode"
                                    (click)="setPredicate('course.code')"
                                ></xm-table-sort>
                            </th>
                            <th>
                                <xm-table-sort
                                    [reverse]="reverse"
                                    [predicate]="examsPredicate"
                                    by="name"
                                    text="i18n_exam_name"
                                    (click)="setPredicate('name')"
                                ></xm-table-sort>
                            </th>
                            <th>
                                <xm-table-sort
                                    [reverse]="reverse"
                                    [predicate]="examsPredicate"
                                    by="executionType.id"
                                    text="i18n_exam_credit_type"
                                    (click)="setPredicate('executionType.id')"
                                ></xm-table-sort>
                            </th>
                            <th>
                                <xm-table-sort
                                    [reverse]="reverse"
                                    [predicate]="examsPredicate"
                                    by="ownerAggregate"
                                    text="i18n_teachers"
                                    (click)="setPredicate('ownerAggregate')"
                                ></xm-table-sort>
                            </th>
                            <th>
                                <xm-table-sort
                                    [reverse]="reverse"
                                    [predicate]="examsPredicate"
                                    by="periodStart"
                                    text="i18n_start_time"
                                    (click)="setPredicate('periodStart')"
                                ></xm-table-sort>
                            </th>
                            <th>
                                <xm-table-sort
                                    [reverse]="reverse"
                                    [predicate]="examsPredicate"
                                    by="periodEnd"
                                    text="i18n_end_time"
                                    (click)="setPredicate('periodEnd')"
                                ></xm-table-sort>
                            </th>
                            <th>{{ 'i18n_copy' | translate }}</th>
                            <th>{{ 'i18n_exam_remove' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (
                            exam of filterByStateAndExpiration(views[activeId].view, views[activeId].showExpired)
                                | orderBy: examsPredicate : reverse;
                            track exam
                        ) {
                            <tr>
                                <td>
                                    @if (exam.course) {
                                        <xm-course-code [course]="exam.course"></xm-course-code>
                                    }
                                </td>
                                <td>
                                    @if (exam.name) {
                                        <a [routerLink]="['/staff/exams', exam.id, '1']"
                                            ><strong>{{ exam.name }}</strong></a
                                        >
                                    } @else {
                                        <a class="text-danger" [routerLink]="['/staff/exams', exam.id, '1']">
                                            <strong>{{ 'i18n_no_name' | translate }}</strong>
                                        </a>
                                    }
                                </td>
                                <td>
                                    {{ getExecutionTypeTranslation(exam) | translate | uppercase }}
                                </td>
                                <td>
                                    <xm-teacher-list [exam]="exam"></xm-teacher-list>
                                </td>
                                <td>
                                    @if (exam.periodStart) {
                                        <span>
                                            {{ exam.periodStart | date: 'dd.MM.yyyy' }}
                                        </span>
                                    }
                                </td>
                                <td>
                                    @if (exam.periodEnd) {
                                        <span>
                                            {{ exam.periodEnd | date: 'dd.MM.yyyy' }}
                                        </span>
                                    }
                                </td>
                                <td class="text-center">
                                    <!-- todo: make a modal component out of this -->
                                    <a (click)="copyExam(exam)" class="pointer">
                                        <i class="bi-files"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a (click)="deleteExam(exam)" class="pointer">
                                        <i class="bi-x sitnet-red"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (views[activeId].view === 'PUBLISHED' && !views[activeId].showExpired) {
            <div class="row">
                <div class="col-md-12">
                    <strong>{{ 'i18n_published_exams' | translate }}: </strong>
                    <em class="text-black"
                        >{{ 'i18n_published_exams_info_main' | translate }}
                        {{ 'i18n_published_exams_info_other' | translate }}</em
                    >
                </div>
            </div>
        }
        @if (views[activeId].view === 'SAVED') {
            <div class="row">
                <div class="col-md-12">
                    <strong>{{ 'i18n_saved_exams' | translate }}: </strong>
                    <em class="text-black"
                        >{{ 'i18n_saved_exams_info_main' | translate }}
                        {{ 'i18n_saved_exams_info_other' | translate }}</em
                    >
                </div>
            </div>
        }
    </div>
</ng-template>
