<div class="container py-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="header-text mb-4">{{ 'sitnet_room_accessibility_info' | translate }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <form class="form-inline align-items-end" role="form">
                <div class="form-group mr-2">
                    <label for="new-accessibility-name" class="sitnet-info-text">{{ 'sitnet_name' | translate }}</label>
                    <input
                        type="text"
                        id="new-accessibility-name"
                        name="name"
                        class="form-control col-md-12"
                        [(ngModel)]="newItem.name"
                    />
                </div>
                <button type="button" [disabled]="!newItem.name" (click)="add(newItem)" class="btn btn-primary mt-2">
                    {{ 'sitnet_create_new' | translate }}
                </button>
            </form>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <table class="table table-bordered table-sm room-machines-table m-0">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'sitnet_name' | translate }}</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let accessibility of accessibilities" scope="row">
                            <td class="w-100 text-center">
                                <div [hidden]="showName" class="editable" (click)="showName = !showName">
                                    {{ accessibility.name }}
                                </div>
                                <div *ngIf="showName">
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                                            <label>
                                                <input
                                                    type="text"
                                                    class="form-control input-sm"
                                                    name="accessibility-name"
                                                    [(ngModel)]="accessibility.name"
                                                    autofocus
                                                />
                                            </label>
                                        </div>
                                        <button
                                            class="btn btn-primary btn-sm"
                                            type="button"
                                            (click)="showName = !showName; update(accessibility)"
                                        >
                                            <i class="bi-check"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                            <td>
                                <a (click)="showName = !showName">
                                    <i class="bi-pencil"></i>
                                </a>
                            </td>
                            <td>
                                <a
                                    class="fa-stack fa-lg"
                                    (click)="remove(accessibility)"
                                    popoverTitle="{{ 'sitnet_instructions' | translate }}"
                                    triggers="mouseenter:mouseleave"
                                    ngbPopover="{{ 'sitnet_remove_room_accessibility_info' | translate }}"
                                >
                                    <i class="sitnet-red bi-x"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
