<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div class="row">
    <div class="col-md-12">
        <h4>{{ 'i18n_room_accessibility_info' | translate }}</h4>
    </div>
</div>
<div class="row ms-3">
    <div class="col-md-12">
        <form role="form">
            <label for="new-accessibility-name" class="form-label">{{ 'i18n_name' | translate }}</label>
            <input
                type="text"
                id="new-accessibility-name"
                name="name"
                class="form-control col-md-12"
                [(ngModel)]="newItem.name"
            />
            <button type="button" [disabled]="!newItem.name" (click)="add()" class="btn btn-primary mt-2">
                {{ 'i18n_create_new' | translate }}
            </button>
        </form>
    </div>
</div>
<div class="row ms-3 mt-3">
    <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">{{ 'i18n_name' | translate }}</th>
                    <th scope="col">{{ 'i18n_edit' | translate }}</th>
                    <th scope="col">{{ 'i18n_remove' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                @for (accessibility of accessibilities; track accessibility) {
                    <tr scope="row">
                        <td>
                            <div [hidden]="accessibility.showName">
                                {{ accessibility.name }}
                            </div>
                            @if (accessibility.showName) {
                                <div>
                                    <form role="form">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control input-sm"
                                                name="accessibility-name"
                                                [(ngModel)]="accessibility.name"
                                                autofocus
                                            />
                                            <span
                                                class="input-group-text pointer"
                                                (click)="
                                                    accessibility.showName = !accessibility.showName;
                                                    update(accessibility)
                                                "
                                                >{{ 'i18n_add' | translate }}</span
                                            >
                                        </div>
                                    </form>
                                </div>
                            }
                        </td>
                        <td>
                            <a (click)="accessibility.showName = !accessibility.showName">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a class="fa-stack fa-lg" (click)="remove(accessibility)">
                                <i class="sitnet-red bi-x"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
