<div class="row">
    <div class="col-md-12 padr0 padl0">
        <div class="exam-header">
            <div class="exam-header-img-wrap">
                <img
                    src="/assets/images//exam-logo-mobile.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/images/exam-logo-mobile.png'"
                />
            </div>
            <div class="exam-header-title divider"></div>
            <div class="exam-header-title">
                {{ exam.course?.name }}
                <course-code *ngIf="exam.course" [course]="exam.course"></course-code>
            </div>
            <div class="language-selector">
                <button tabindex="1" class="green_button marl10" (click)="switchLanguage('fi')">FI</button>
                <button tabindex="1" class="green_button marl10" (click)="switchLanguage('sv')">SV</button>
                <button tabindex="1" class="green_button marl10" (click)="switchLanguage('en')">EN</button>
                <div class="divider-free"></div>
            </div>
            <examination-clock *ngIf="!isPreview" [examHash]="exam.hash" (onTimeout)="notifyTimeout()">
            </examination-clock>
        </div>
    </div>
</div>
