<div class="row">
    <div class="col-md-12 padr0 padl0">
        <div class="exam-header">
            <div class="exam-header-img-wrap">
                <img
                    src="/assets/assets/images//exam-logo-mobile.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/exam-logo-mobile.png'"
                />
            </div>
            <div class="exam-header-title divider"></div>
            <div class="exam-header-title">
                {{ exam.course?.name }}
                <course-code *ngIf="exam.course" [course]="exam.course"></course-code>
            </div>
            <div class="language-selector">
                <a
                    tabindex="0"
                    class="exam-clock-text"
                    (click)="switchLanguage('fi')"
                    (keyup.enter)="switchLanguage('fi')"
                >
                    FI
                </a>
                <a
                    tabindex="0"
                    class="exam-clock-text"
                    (click)="switchLanguage('sv')"
                    (keyup.enter)="switchLanguage('sv')"
                >
                    SV
                </a>
                <a
                    tabindex="0"
                    class="exam-clock-text"
                    (click)="switchLanguage('en')"
                    (keyup.enter)="switchLanguage('en')"
                >
                    EN
                </a>
                <span class="exam-header-title divider"></span>
            </div>
            <examination-clock *ngIf="!isPreview" [examHash]="exam.hash" (onTimeout)="notifyTimeout()">
            </examination-clock>
        </div>
    </div>
</div>
