/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

.autoevaluation-info {
    color: #555555;
    font-size: 18px;
    line-height: 26px;
}

.autoevaluation-titles {
    background-color: white;
    border: 0;
    font-size: 12px;
    color: #777777;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 10px;
}

.autoevaluation-inputs {
    width: 113px;
    height: 40px;
    //border: 1px solid #EDEDED;
    display: inline-block;
}

.autoevaluation-numbers {
    height: 40px;
    padding-top: 10px;
}

// Form validation border
.form-invalid {
    border: 1px solid red;
}

// Make uniqueness error less intrusive
.alert-danger {
    margin-bottom: 0.5rem !important;
    padding: 0.5rem 0.75rem !important;
    font-size: 0.875rem;
}
