<div class="row marr30 mt-4">
    <div class="col-md-12">
        <div class="review-list-title">
            <span class="pointer" (click)="examFeedbackConfigDisplay.visible = !examFeedbackConfigDisplay.visible">
                {{ 'i18n_exam_feedback_config' | translate }}
                @if (examFeedbackConfig.enabled) {
                    <span>({{ 'i18n_in_use' | translate }})</span>
                }
                @if (!examFeedbackConfig.enabled) {
                    <span>({{ 'i18n_not_in_use' | translate }})</span>
                }
                <span
                    ngbPopover="{{ 'i18n_show' | translate }} / {{ 'i18n_hide' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    class="ms-2"
                    triggers="mouseenter:mouseleave"
                >
                    @if (!examFeedbackConfigDisplay.visible) {
                        <img src="/assets/images/icon_list_show_right.svg" alt="" />
                    }
                    @if (examFeedbackConfigDisplay.visible) {
                        <img src="/assets/images/icon_list_show_down.svg" alt="" />
                    }
                </span>
            </span>
        </div>
    </div>
</div>

<div class="row" [ngbCollapse]="!examFeedbackConfigDisplay.visible">
    <div class="col-md-12 margin-20">
        <span class="autoevaluation-info">
            {{ 'i18n_exam_feedback_config_instructions' | translate }}
        </span>
        <div class="review-attachment-button autoeval-button">
            @if (!examFeedbackConfig.enabled) {
                <a
                    class="pointer"
                    [ngClass]="{ notinuse: modifiable !== 'everything' }"
                    name="enableExamFeedbackConfig"
                    (click)="enable()"
                >
                    {{ 'i18n_use' | translate }}</a
                >
            }
            @if (examFeedbackConfig.enabled) {
                <a
                    class="pointer"
                    [ngClass]="{ notinuse: modifiable !== 'everything' }"
                    name="disableExamFeedbackConfig"
                    (click)="disable()"
                >
                    {{ 'i18n_do_not_use' | translate }}</a
                >
            }
        </div>
    </div>
</div>

<div class="row mt-2 align-items-end" [hidden]="!examFeedbackConfigDisplay.visible">
    <div class="col-6">
        {{ 'i18n_exam_feedback_release_type' | translate }}:
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-outline-dark" [disabled]="true" type="button" ngbDropdownToggle aria-expanded="true">
                {{ selectedReleaseType()?.translation || '' | translate }}&nbsp;<span class="caret"></span>
            </button>
            <ul ngbDropdownMenu role="menu">
                @for (type of availableReleaseTypes(); track type) {
                    <li role="presentation" [ngClass]="type.filtered ? 'active' : ''" (click)="applyFilter(type)">
                        <a ngbDropdownItem class="pointer">
                            {{ type.translation | translate }}
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="col-6" [hidden]="!examFeedbackConfigDisplay.visible">
        @if (selectedReleaseType()?.name === 'GIVEN_DATE') {
            <xm-date-picker
                (updated)="releaseDateChanged($event)"
                [disabled]="modifiable === 'nothing'"
                [initialDate]="config ? config.releaseDate : null"
            ></xm-date-picker>
        }
    </div>
</div>
