<!-- Exam assessment data -->
<div class="row ms-2 me-2">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 margin-20">
                        <div class="row marr30">
                            <div class="col-md-12">
                                <div class="review-list-title">{{ 'i18n_exam_review_settings' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- EXAM TYPE PICKER -->
                <div class="row">
                    <div class="col-md-12 margin-20">
                        <div class="row">
                            <div class="col-md-3 exam-basic-title">
                                {{ 'i18n_exam_credit_type' | translate }}
                                <sup
                                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                                    triggers="mouseenter:mouseleave"
                                    ngbPopover="{{ 'i18n_exam_credit_type_description' | translate }}"
                                >
                                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                                </sup>
                            </div>
                            <div class="col-md-9">
                                @for (examType of examTypes; track examType) {
                                    <span>
                                        <button
                                            [disabled]="examTypes.length < 2"
                                            class="btn btn-review"
                                            [ngClass]="checkExamType(examType.type)"
                                            (click)="setExamType(examType.type)"
                                        >
                                            {{ examType.name }}</button
                                        >&nbsp;
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- GRADE SCALE PICKER -->
                <div class="row">
                    <div class="col-md-12 margin-20">
                        <div class="row">
                            <div class="col-md-3 exam-basic-title">
                                {{ 'i18n_grade_scale' | translate }}
                                <sup
                                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                                    triggers="mouseenter:mouseleave"
                                    ngbPopover="{{ 'i18n_exam_grade_scale_description' | translate }}"
                                >
                                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                                </sup>
                            </div>
                            <div class="col-md-9">
                                @for (gradeScale of getSelectableScales(); track gradeScale) {
                                    <span>
                                        <button
                                            class="btn btn-review"
                                            [ngClass]="checkScale(gradeScale)"
                                            (click)="setScale(gradeScale)"
                                            [disabled]="checkScaleDisabled(gradeScale)"
                                        >
                                            {{ gradeScale.name }}</button
                                        >&nbsp;</span
                                    >
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Autoevaluation -->
                @if (canBeAutoEvaluated()) {
                    <div>
                        <xm-auto-evaluation
                            [exam]="exam"
                            (updated)="autoEvaluationConfigChanged($event)"
                            (disabled)="autoEvaluationDisabled()"
                            (enabled)="autoEvaluationEnabled()"
                        >
                        </xm-auto-evaluation>
                    </div>
                }
                @if (!collaborative && exam.executionType?.type !== 'MATURITY') {
                    <div class="">
                        <xm-exam-feedback-config
                            [exam]="exam"
                            [modifiable]="isAllowedToUpdateFeedbackConfig"
                            (updated)="feedbackConfigChanged($event)"
                            (disabled)="feedbackConfigDisabled()"
                            (enabled)="feedbackConfigEnabled()"
                        ></xm-exam-feedback-config>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Buttons -->
<div class="row mt-3 marr30">
    <div class="col-md-12 marb20">
        <div class="float-end">
            <div class="review-attachment-button exam-questions-buttons marl10">
                <a class="pointer" (click)="updateExam(false)"> {{ 'i18n_save' | translate }}</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-2 grey-top marb20 padt20">
        <div class="review-attachment-button exam-questions-buttons">
            <a class="pointer preview" (click)="previousTab()"> &#171; {{ 'i18n_questions' | translate }}</a>
        </div>
    </div>
    <div class="col grey-top marb20 padt20">
        <div class="review-attachment-button exam-questions-buttons float-end">
            <a class="pointer preview" (click)="nextTab()"> {{ 'i18n_exam_publish_tab' | translate }} &#187;</a>
        </div>
    </div>
</div>
