/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

.dropdown-toggle::after {
    display: none;
}
.config-info {
    color: #555555;
    font-size: 18px;
    line-height: 26px;
}
.feature-not-in-use {
    background-color: #7f7f7f;
    color: #ffffff;
    border: 1px solid black;
    cursor: not-allowed;
}
