<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div class="modal-header">
    <h1 class="xm-modal-title">
        @if (!config()) {
            <span>{{ 'i18n_add_examination_event' | translate }}</span>
        }
        @if (config()) {
            <span>{{ 'i18n_update_examination_event' | translate }}</span>
        }
    </h1>
</div>

<form class="modal-body">
    @if (hasEnrolments()) {
        <div class="alert alert-warning form-text">
            {{ 'i18n_enrolments_exist_for_examination_event' | translate }}
        </div>
    }
    @if (maintenancePeriods().length > 0) {
        <div class="alert alert-warning form-text mb-2">
            {{ 'i18n_maintenance_periods' | translate }}
            @for (period of maintenancePeriods() | orderBy: 'startsAt'; track period) {
                <span class="d-block">
                    {{ period.startsAt | date: 'dd.MM.yyyy HH:mm' }} -
                    {{ period.endsAt | date: 'dd.MM.yyyy HH:mm' }}
                    {{ period.description }}
                </span>
            }
        </div>
    }
    <label for="dtpicker">{{ 'i18n_begin' | translate }}:</label>
    <xm-date-time-picker
        id="dtpicker"
        [disabled]="hasEnrolments()"
        [hourStep]="1"
        [minuteStep]="15"
        [isReadonly]="true"
        [initialTime]="start()"
        [minDate]="examMinDate()"
        [maxDate]="examMaxDate()"
        (updated)="onStartDateChange($event)"
        autofocus
    >
    </xm-date-time-picker>
    <div class="form-group">
        <label for="description">{{ 'i18n_instructions' | translate }}:</label>
        <textarea id="description" class="form-control" [formField]="eventForm.description"></textarea>
    </div>
    <div class="form-group">
        <label for="capacity">{{ 'i18n_event_capacity' | translate }}:</label>
        <input id="capacity" class="form-control" type="number" step="1" [formField]="eventForm.capacity" />
        <ul>
            <li>
                {{ 'i18n_total_simultaneous_byod_capacity' | translate }}:
                {{ maxSimultaneousCapacity() }}
            </li>
            <li>
                {{ 'i18n_simultaneous_events' | translate }}:
                <ul>
                    @for (event of conflictingEvents(); track event.id) {
                        <li>{{ event.start | date: 'dd.MM.yyyy HH:mm' }}: {{ event.capacity }}</li>
                    } @empty {
                        <li>{{ 'i18n_no_events' | translate }}</li>
                    }
                </ul>
            </li>
            <li>{{ 'i18n_available_capacity' | translate }}: {{ availableCapacity() }}</li>
        </ul>
    </div>
    @if (requiresPassword()) {
        <div class="form-group mt-2">
            <label for="settings-password">{{ 'i18n_settings_password' | translate }}:</label>
            <div id="settings-password" class="input-group">
                <input
                    type="{{ settingsPasswordInputType() }}"
                    class="form-control"
                    [formField]="eventForm.settingsPassword"
                />
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="toggleSettingsPasswordInputType()">
                        <i
                            [class.bi-eye]="settingsPasswordInputType() === 'text'"
                            [class.bi-eye-slash]="settingsPasswordInputType() === 'password'"
                        ></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="quit-password">{{ 'i18n_quit_password' | translate }}:</label>
            <div id="quit-password" class="input-group">
                <input type="{{ quitPasswordInputType() }}" class="form-control" [formField]="eventForm.quitPassword" />
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="toggleQuitPasswordInputType()">
                        <i
                            [class.bi-eye]="quitPasswordInputType() === 'text'"
                            [class.bi-eye-slash]="quitPasswordInputType() === 'password'"
                        ></i>
                    </button>
                </div>
            </div>
        </div>
    }
</form>
<div class="modal-footer">
    <div class="d-flex flex-row-reverse flex-align-r">
        <button
            class="btn btn-success"
            [disabled]="
                eventForm.description().invalid() ||
                eventForm.capacity().invalid() ||
                eventForm.settingsPassword().invalid() ||
                eventForm.quitPassword().invalid()
            "
            (click)="ok()"
        >
            {{ 'i18n_button_accept' | translate }}
        </button>
        <button class="btn btn-outline-secondary me-3" (click)="cancel()">
            {{ 'i18n_button_decline' | translate }}
        </button>
    </div>
</div>
