<div class="modal-header">
    <h1 class="xm-modal-title">
        @if (!config) {
            <span>{{ 'i18n_add_examination_event' | translate }}</span>
        }
        @if (config) {
            <span>{{ 'i18n_update_examination_event' | translate }}</span>
        }
    </h1>
</div>

<form class="modal-body" #eventForm="ngForm" name="eventForm">
    @if (hasEnrolments()) {
        <div class="alert alert-warning form-text">
            {{ 'i18n_enrolments_exist_for_examination_event' | translate }}
        </div>
    }
    @if (maintenancePeriods.length > 0) {
        <div class="alert alert-warning form-text mb-2">
            {{ 'i18n_maintenance_periods' | translate }}
            @for (period of maintenancePeriods | orderBy: 'startsAt'; track period) {
                <div>
                    {{ period.startsAt | date: 'dd.MM.yyyy HH:mm' }} -
                    {{ period.endsAt | date: 'dd.MM.yyyy HH:mm' }}
                    {{ period.description }}
                </div>
            }
        </div>
    }
    <label for="dtpicker">{{ 'i18n_begin' | translate }}:</label>
    <xm-date-time-picker
        id="dtpicker"
        [disabled]="hasEnrolments()"
        [hourStep]="1"
        [minuteStep]="15"
        [readonly]="true"
        [initialTime]="start()"
        [minDate]="examMinDate"
        [maxDate]="examMaxDate"
        (updated)="onStartDateChange($event)"
        autofocus
    >
    </xm-date-time-picker>
    <div class="form-group">
        <label for="description">{{ 'i18n_instructions' | translate }}:</label>
        <textarea
            id="description"
            name="description"
            class="form-control"
            required
            [ngModel]="description()"
            (ngModelChange)="description.set($event)"
        ></textarea>
    </div>
    <div class="form-group">
        <label for="capacity">{{ 'i18n_event_capacity' | translate }}:</label>
        <input
            id="capacity"
            name="capacity"
            class="form-control"
            required
            type="number"
            step="1"
            [min]="1"
            [ngModel]="capacity()"
            (ngModelChange)="capacity.set($event)"
        />
        <ul>
            <li>
                {{ 'i18n_total_simultaneous_byod_capacity' | translate }}:
                {{ maxSimultaneousCapacity() }}
            </li>
            <li>
                {{ 'i18n_simultaneous_events' | translate }}:
                <ul>
                    @for (event of conflictingEvents(); track event.id) {
                        <li>{{ event.start | date: 'dd.MM.yyyy HH:mm' }}: {{ event.capacity }}</li>
                    } @empty {
                        <li>{{ 'i18n_no_events' | translate }}</li>
                    }
                </ul>
            </li>
            <li>{{ 'i18n_available_capacity' | translate }}: {{ availableCapacity() }}</li>
        </ul>
    </div>
    @if (requiresPassword) {
        <div class="form-group mt-2">
            <label for="settings-password">{{ 'i18n_settings_password' | translate }}:</label>
            <div id="settings-password" class="input-group">
                <input
                    type="{{ settingsPasswordInputType() }}"
                    name="settingsPassword"
                    class="form-control"
                    [ngModel]="settingsPassword()"
                    (ngModelChange)="settingsPassword.set($event)"
                    [disabled]="hasEnrolments()"
                    required
                />
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="toggleSettingsPasswordInputType()">
                        <i [ngClass]="settingsPasswordInputType() === 'text' ? 'bi-eye' : 'bi-eye-slash'"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="quit-password">{{ 'i18n_quit_password' | translate }}:</label>
            <div id="quit-password" class="input-group">
                <input
                    type="{{ quitPasswordInputType() }}"
                    name="quitPassword"
                    class="form-control"
                    [ngModel]="quitPassword()"
                    (ngModelChange)="quitPassword.set($event)"
                    [disabled]="hasEnrolments()"
                    required
                />
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" (click)="toggleQuitPasswordInputType()">
                        <i [ngClass]="quitPasswordInputType() === 'text' ? 'bi-eye' : 'bi-eye-slash'"></i>
                    </button>
                </div>
            </div>
        </div>
    }
</form>
<div class="modal-footer">
    <div class="d-flex flex-row-reverse flex-align-r">
        <button class="btn btn-success" [disabled]="eventForm.invalid" (click)="ok()">
            {{ 'i18n_button_accept' | translate }}
        </button>
        <button class="btn btn-outline-secondary me-3" (click)="cancel()">
            {{ 'i18n_button_decline' | translate }}
        </button>
    </div>
</div>
