<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<xm-page-header text="i18n_byod_exam_search" />
<xm-page-content [content]="content" />
<ng-template #content>
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="row mt-3 align-items-center" role="note">
                        <div class="col-auto"><img src="/assets/images/icon_info.png" alt="" role="note" /></div>
                        <div class="col">
                            {{ 'i18n_byod_exam_search_description' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="row my-3 align-items-end">
        <!-- Start & End time datepickers -->
        <div class="col-2">
            <span class="exam-input-label-uppercase">{{ 'i18n_begin' | translate }}</span>
            <xm-date-picker
                [optional]="true"
                [initialDate]="date()"
                (updated)="startDateChanged($event)"
            ></xm-date-picker>
        </div>
        <div class="col-2">
            <span class="exam-input-label-uppercase">{{ 'i18n_end' | translate }}</span>
            <xm-date-picker
                [optional]="true"
                [initialDate]="date()"
                (updated)="endDateChanged($event)"
            ></xm-date-picker>
        </div>
        <div class="col-2">
            <div class="input-group">
                <input
                    name="text-search"
                    [(ngModel)]="filterText"
                    (ngModelChange)="query()"
                    class="form-control"
                    placeholder="{{ 'i18n_search' | translate }}"
                    ngbPopover="{{ 'i18n_maturity_search_description' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                />

                <div class="input-group-append bi-search search-append"></div>
            </div>
        </div>
    </form>

    @if (events().length > 0) {
        <div class="row">
            <div class="col-md-12 mt-4">
                <table class="table table-striped xm-data-table">
                    <thead>
                        <tr>
                            <th class="with-top">
                                <xm-table-sort
                                    by="exam.course.code"
                                    text="i18n_code"
                                    [predicate]="sortingPredicate()"
                                    [reverse]="sortingReverse()"
                                    (click)="setPredicate('exam.course.code')"
                                >
                                </xm-table-sort>
                            </th>
                            <th class="with-top">
                                <xm-table-sort
                                    by="exam.name"
                                    text="i18n_exam_name"
                                    [predicate]="sortingPredicate()"
                                    [reverse]="sortingReverse()"
                                    (click)="setPredicate('exam.name')"
                                >
                                </xm-table-sort>
                            </th>
                            <th class="with-top">
                                <xm-table-sort
                                    by="exam.creator.firstName"
                                    text="i18n_teachers"
                                    [predicate]="sortingPredicate()"
                                    [reverse]="sortingReverse()"
                                    (click)="setPredicate('exam.creator.firstName')"
                                >
                                </xm-table-sort>
                            </th>
                            <th class="with-top">
                                <xm-table-sort
                                    by="examinationEvent.start"
                                    text="i18n_date"
                                    [predicate]="sortingPredicate()"
                                    [reverse]="sortingReverse()"
                                    (click)="setPredicate('examinationEvent.start')"
                                >
                                </xm-table-sort>
                            </th>
                            <th class="with-top">
                                <xm-table-sort
                                    by="examEnrolments.length"
                                    text="i18n_participants"
                                    [predicate]="sortingPredicate()"
                                    [reverse]="sortingReverse()"
                                    (click)="setPredicate('examEnrolments.length')"
                                >
                                </xm-table-sort>
                            </th>
                            <th class="with-top">
                                {{ 'i18n_control' | translate }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (event of events() | orderBy: sortingPredicate() : sortingReverse(); track event) {
                            <tr>
                                <!-- 1 -->
                                <td>
                                    @if (event.exam.course) {
                                        <xm-course-code [course]="event.exam.course"></xm-course-code>
                                    }
                                </td>
                                <!-- 2 -->
                                <td>
                                    <a class="xm-link" [routerLink]="['/staff/exams', event.exam.id, '1']">
                                        {{ event.exam.name }}
                                    </a>
                                </td>
                                <!-- 3 -->
                                <td>
                                    {{
                                        event.exam?.creator?.firstName && event.exam?.creator?.lastName
                                            ? event.exam?.creator?.firstName + ' ' + event.exam?.creator?.lastName
                                            : '–'
                                    }}
                                </td>
                                <!-- 4 -->
                                <td>
                                    {{ event.examinationEvent?.start | date: 'dd.MM.yyyy HH:mm' }} -
                                    {{
                                        getEventEndTime(event.examinationEvent?.start, event.exam?.duration)
                                            | date: 'HH:mm'
                                    }}
                                </td>
                                <!-- 5 -->
                                <td>
                                    {{ event.examEnrolments?.length }}
                                </td>
                                <!-- 6 -->
                                <td>
                                    @if (isActive(event)) {
                                        <button class="btn btn-sm btn-danger" (click)="removeEvent(event)">
                                            {{ 'i18n_remove' | translate }}
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    } @else {
        <div class="row mt-4">
            <div class="col-md-12">
                {{ 'i18n_exam_no_result' | translate }}
            </div>
        </div>
    }
</ng-template>
