<div id="dashboard">
    <div class="row ms-4 me-4 mt-4">
        <div class="col-md-12 ps-4">
            <div class="row mt-4">
                <div class="col-md-12">
                    <div style="display: inline-block">
                        <div class="student-enroll-title">{{ 'sitnet_byod_exam_search' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 align-items-center">
                <div class="col-auto"><img src="/assets/images/icon_info.png" alt="info-icon" /></div>
                <div class="col">
                    {{ 'sitnet_byod_exam_search_description' | translate }}
                </div>
            </div>
            <div class="row mt-3">
                <!-- Start & End time datepickers -->
                <div class="col-md-4">
                    <span class="exam-basic-selecttitle">{{ 'sitnet_begin' | translate }}</span>
                    <xm-date-picker [initiallyEmpty]="true" (updated)="startDateChanged($event)"></xm-date-picker>
                </div>
                <div class="col-md-4">
                    <span class="exam-basic-selecttitle">{{ 'sitnet_end' | translate }}</span>
                    <xm-date-picker [initiallyEmpty]="true" (updated)="endDateChanged($event)"></xm-date-picker>
                </div>
                <div class="col-md-4">
                    <span class="exam-basic-selecttitle">&nbsp;</span>
                    <div class="input-group">
                        <input
                            [(ngModel)]="filterText"
                            (ngModelChange)="query()"
                            class="form-control"
                            placeholder="{{ 'sitnet_search' | translate }}"
                            ngbPopover="{{ 'sitnet_maturity_search_description' | translate }}"
                            popoverTitle="{{ 'sitnet_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                        />

                        <div class="input-group-append search">
                            <img src="/assets/images/icon_search.png" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4" *ngIf="events.length > 0">
                <div class="col-md-12">
                    <table class="table table-striped exams-table">
                        <thead>
                            <tr>
                                <th class="with-top">
                                    <xm-table-sort
                                        by="exam.course.code"
                                        text="sitnet_code"
                                        [predicate]="sorting.predicate"
                                        [reverse]="sorting.reverse"
                                        (click)="setPredicate('exam.course.code')"
                                    >
                                    </xm-table-sort>
                                </th>
                                <th class="with-top">
                                    <xm-table-sort
                                        by="exam.name"
                                        text="sitnet_exam_name"
                                        [predicate]="sorting.predicate"
                                        [reverse]="sorting.reverse"
                                        (click)="setPredicate('exam.name')"
                                    >
                                    </xm-table-sort>
                                </th>
                                <th class="with-top">
                                    <xm-table-sort
                                        by="exam.creator.firstName"
                                        text="sitnet_teachers"
                                        [predicate]="sorting.predicate"
                                        [reverse]="sorting.reverse"
                                        (click)="setPredicate('exam.creator.firstName')"
                                    >
                                    </xm-table-sort>
                                </th>
                                <th class="with-top">
                                    <xm-table-sort
                                        by="examinationEvent.start"
                                        text="sitnet_date"
                                        [predicate]="sorting.predicate"
                                        [reverse]="sorting.reverse"
                                        (click)="setPredicate('examinationEvent.start')"
                                    >
                                    </xm-table-sort>
                                </th>
                                <th class="with-top">
                                    <xm-table-sort
                                        by="examEnrolments.length"
                                        text="sitnet_participants"
                                        [predicate]="sorting.predicate"
                                        [reverse]="sorting.reverse"
                                        (click)="setPredicate('examEnrolments.length')"
                                    >
                                    </xm-table-sort>
                                </th>
                                <th class="with-top">
                                    {{ 'sitnet_control' | translate }}
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let event of events | orderBy: sorting.predicate:sorting.reverse">
                                <!-- 1 -->
                                <td>
                                    <xm-course-code
                                        *ngIf="event.exam.course"
                                        [course]="event.exam.course"
                                    ></xm-course-code>
                                </td>
                                <!-- 2 -->
                                <td>
                                    <a class="infolink" [routerLink]="['/staff/exams', event.exam.id, '1']">
                                        {{ event.exam.name }}
                                    </a>
                                </td>
                                <!-- 3 -->
                                <td>
                                    {{
                                        event.exam?.creator
                                            ? event.exam?.creator?.firstName + ' ' + event.exam?.creator?.lastName
                                            : '–'
                                    }}
                                </td>
                                <!-- 4 -->
                                <td>
                                    {{ event.examinationEvent?.start | date: 'dd.MM.yyyy HH:mm' }} -
                                    {{
                                        getEventEndTime(event.examinationEvent?.start, event.exam?.duration)
                                            | date: 'HH:mm'
                                    }}
                                </td>
                                <!-- 5 -->
                                <td>
                                    {{ event.examEnrolments?.length }}
                                </td>
                                <!-- 6 -->
                                <td>
                                    <button
                                        *ngIf="isActive(event)"
                                        class="rounded warning"
                                        (click)="removeEvent(event)"
                                    >
                                        {{ 'sitnet_remove' | translate }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
