<div id="sitnet-dialog">
    <div class="student-details-title-wrap mart20">
        <div class="student-enroll-title">{{ 'sitnet_give_feedback' | translate }}</div>
    </div>
    <div class="modal-body marl20">
        <div class="row">
            <div class="col-md-12 padl0" *ngIf="exam.examFeedback !== null">
                <ckeditor rows="10" #ck="ngModel" [(ngModel)]="exam.examFeedback.comment"></ckeditor>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <button class="btn btn btn-success pull-left" (click)="ok()">
            {{ 'sitnet_save' | translate }}
        </button>
        <button class="btn btn-primary pull-right" (click)="cancel()">
            {{ 'sitnet_button_cancel' | translate }}
        </button>
    </div>
</div>
