#dashboard {
    $sitnet-dark-red: #be1327;
    $sitnet-border-color: #c3c3c3;
    $sitnet-dark-green-new: #25622f;
    $sitnet-green-new: #2c7639;
    $sitnet-medium-green-new: #238635;
    $sitnet-family-helvetica: Arimo, Helvetica-Neue, Helvetica;
    $sitnet-mobile: 920px;

    .enrollment-card-dropdown {
        //active-enrolment
        grid-column-start: span 3;
    }

    .student-enrolment-date-box {
        // waitinroom, active-enrolment
        border: 2px solid #ededed;
        border-radius: 3px;
        text-align: center;
        vertical-align: top;
        padding: 3px;
        font-weight: bold;
        font-family: $sitnet-family-helvetica;
        font-size: 20px;
        width: 46px;
        line-height: 16px;
        margin-right: 15px;

        .month-name {
            font-size: 14px;
        }
    }

    .student-enrolment-exam {
        // exam-editor, participations, waiting-room

        font-size: 16px;
        font-weight: bold;

        a {
            font-size: 16px;
            font-family: $sitnet-family-helvetica;
            color: #266b99;
            font-weight: bold;
            text-decoration: none;
        }

        .exam-in-progress {
            color: black;
            font-size: 13px;
        }

        .exam-code {
            color: #555555;
            font-size: 13px;
            padding-left: 19px;
        }
    }

    .exam-ready {
        //enrolment
        color: $sitnet-green-new;
        font-size: 13px;
    }

    .xm-info-link {
        color: #266b99;
        font-weight: bold;
        text-decoration: none;
    }

    .needs-reservation {
        color: #a61022;
        font-size: 13px;
    }

    .student-exam-row-infolink {
        padding-top: 1em;
        display: inline-block;
        width: 100%;

        &.infotitle {
            color: #2c2c2c;
            font-family: $sitnet-family-helvetica;
            font-weight: bold;
        }

        .arrow_icon {
            vertical-align: baseline;
            padding-left: 3px;
        }
    }

    .exams-table {
        // reviews/exam editor/maturity/question/reservations :D

        font-family: $sitnet-family-helvetica;
        font-weight: bold;
        font-size: 0.9em;

        th {
            border: 0;
            font-family: $sitnet-family-helvetica;
            font-size: 14px;
            text-transform: uppercase;
            white-space: nowrap;

            &.with-space {
                white-space: normal;
            }

            &.with-top {
                vertical-align: top;
            }

            &.reservation-search {
                padding-bottom: 25px;
            }
        }

        td {
            font-family: $sitnet-family-helvetica;
            font-weight: normal;
            font-size: 14px;

            a {
                font-weight: bold;
                font-size: 16px;
                font-family: $sitnet-family-helvetica;
                color: #267b99;

                &.smaller {
                    font-size: 14px;
                }
            }

            &.reservation-search {
                a {
                    font-size: 14px !important;
                }
                a.reservation {
                    font-weight: normal !important;
                }

                &.no_show {
                    color: red !important;
                }

                &.review {
                    color: $sitnet-green-new !important;
                }
            }

            .exam-code {
                color: #2c2c2c;
                font-weight: bold;
                font-size: 13px;
                font-family: $sitnet-family-helvetica;
            }

            .exam-type {
                text-transform: capitalize;
            }

            .exam-count {
                color: #266b99;
                font-size: 14px;
                font-weight: bold;
            }

            .exam-count-not-active {
                font-weight: bold;
                font-size: 16px;
                font-family: $sitnet-family-helvetica;
            }
        }

        th:first-child {
            padding-left: 30px;
        }

        td:first-child {
            border-left: 0;
            padding-left: 30px;
        }

        td:last-child {
            border-right: 0;
        }

        tr:last-child {
            td {
                border-bottom: 0;
            }
        }
    }

    .table-column-checkbox {
        width: 2%;
        text-align: center;
    }

    .table-column-enroll-participation {
        // exam-listign
        width: 10%;
        font-weight: bold;
        font-size: 1.2em;

        span {
            font-size: 0.8em;
            color: rgba(0, 0, 0, 0.3);
        }
    }

    .exams-list-title-text {
        // wrong-location
        font-size: 1.4em;
        font-family: $sitnet-family-helvetica;
        font-weight: 400;
        letter-spacing: 1px;
        vertical-align: middle;
    }

    .exams-list {
        // wrong-location, collab search
        background-color: white;

        .student-enrolment-wrapper {
            margin-right: 20px;
            @media (max-width: $sitnet-mobile) {
                padding: 10px;
            }
        }
    }

    .student-title-wrap {
        // enrolments
        display: inline-block;
    }

    .notice-wrap {
        // finiwghed enrolment
        margin-left: 1em;
        display: inline-block;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .tab-wrapper-exams {
        &.review {
            margin-top: 0px;
        }

        .review-border {
            border: 1px solid $sitnet-border-color;
            padding-bottom: 30px;
            margin-top: 25px;
            border-radius: 4px;
        }

        @media print {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .tab-search {
        // teacher db

        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
    }

    .review-list-title {
        // editor, question, review, maturity
        font-family: $sitnet-family-helvetica;
        font-size: 22px;
        font-weight: normal;
        color: #2c2c2c;
        padding-bottom: 5px;
        border-bottom: 1px solid #b1b1b1;

        &.section-title {
            font-size: 20px;
            letter-spacing: 0.63px;
        }
    }

    .score-details {
        // review, examination
        float: right;
        font-size: 16px;
        vertical-align: bottom;
        margin-top: 6px;
        color: #555555;
    }

    .review-no-show {
        margin-right: 0px;
        margin-left: 0;
        margin-top: 40px;
    }

    .review-no-results {
        padding-left: 10px;
        color: #555555;
        font-size: 18px;
        margin-right: 10px;
        letter-spacing: 0.84px;
        margin-top: 10px;
    }

    .exam-basic-title {
        // editor, review, matr, qu
        font-family: $sitnet-family-helvetica;
        font-size: 16px;
        color: #2c2c2c;
    }

    .exam-basic-selecttitle {
        // maturity, editor
        color: #777777;
        font-size: 12px;
        text-transform: uppercase;
        font-family: $sitnet-family-helvetica;
    }

    .reservation-search-titles {
        // reservation
        font-family: $sitnet-family-helvetica;
        font-weight: normal;
        font-size: 12px;
        background-color: white;
        border: 0;
        color: #777777;
        text-transform: uppercase;
        //white-space: nowrap;
    }

    .btn {
        &.green {
            background-color: #3ca34f;
        }
        &.whitetext {
            color: #ffffff;
        }
    }

    .general-info-title {
        // review
        color: #555555;
    }
    .general-info-content {
        color: #2c2c2c;

        pre {
            white-space: inherit;
        }
    }
    .general-info-link {
        color: #266b99;
    }
    .general-info-link-bold {
        color: #266b99;
        font-weight: bold;
    }

    .review-points {
        margin-right: 0px;
        padding-right: 15px;
        font-size: 16px;
        color: #555555;
        font-weight: 400;
    }

    .review-points-exam {
        display: block;
        margin-right: 0px;
        padding-top: 10px;
        font-size: 16px;
        color: #555555;
        font-weight: 400;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    .review-question-title {
        font-size: 16px;
        color: #2c2c2c;
        padding-right: 15px;
        letter-spacing: 0.3px;

        p {
            display: inline-block;
        }
    }

    .teacher-toolbar {
        // library, teacher db
        float: right;
        margin-right: 30px;
    }

    .warning-text {
        // question, section
        font-size: 18px;
        color: #555555;
    }

    .warning-text-small {
        color: #2c2c2c;
        font-size: 12px;
    }

    .grayish {
        color: #979797;
        font-size: 20px;
        margin-right: 10px;
    }

    .wdt50 {
        width: 50px;
    }

    .wdt100 {
        width: 100px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    .wdt120 {
        width: 120px;
    }
    .wdt240 {
        width: 240px;
    }

    .exam-section-settings {
        float: right;
        font-size: 14px;
    }

    .exam-section-question-options {
        // editor
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
            background-color: #fff;
            padding-top: 0.5em;
        }
    }

    .points-title {
        color: #777777;
    }

    .grading-title {
        color: #555555;
        font-size: 12px;
    }

    .time-display {
        // editor
        padding: 5px;
        border: 1px solid #9e9e9e;
        border-radius: 4px;
        vertical-align: bottom;
        margin-right: 10px;
    }

    .reviewer-remove {
        border: 0px;
        background-color: #fff;
    }

    .scrollable-menu {
        // library, dd-select
        height: auto;
        max-height: 400px;
        overflow-y: scroll;
    }
    .scrollable-menu::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
}
