#sitnet-dialog {

  h1 {
    font-size: 1.5em;
  }

  .student-message-dialog-wrapper-padding {
    padding: 30px;
  }

  .student-feedback {
    pre {
      white-space: inherit;
    }

  }

  .terms-dialog-header {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-radius: 4px;
  }

  .examination-event {
    padding: 1em;
    border: 2px solid #ededed;
    border-left: 4px solid #238635;
    border-radius: 4px;
    margin-bottom: 1em;
  }
  
  .attachment-input {
    opacity: 1;
    z-index: 2000;
    visibility: visible;
    width: 73px;
    height: 38px;
    overflow: hidden;
  }
  .attachment-input:focus {
    box-shadow: 0px 0px 0px 4px #3FA9F5;
    border-radius: 4px;
  }
  .attachment-file {
    padding-top: 0.5em;
  }

  .btn-file {
    position: absolute;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
  }
  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }

}
