
#room {

  li {
    list-style: none;
  }

  .selectable {
    border: solid 1px $sitnet-common-light;
    padding: 0px;
    margin: 1px;
  }
  .fullsize{
    height: 2em;
    width: 80px;
  }
  .fullsize-time{
    height: 2.064em;
    width: 80px;
    text-align: center;
  }
  .selected{
    background-color: #d3e7a8;
    border-top: none;
    border-bottom: none;
  }
  .accepted {
    background-color: #d8e6e7;
    border-top: none;
    border-bottom: none;
  }
  
  .room-name {
    font-size: 1.6em;
    padding:0.8em 0;
    font-family: $sitnet-family-helvetica;
    color: $sitnet-text;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .room-info-span-text {
    font: $sitnet-family-helvetica;
    font-weight:bold;
  }

  .toggleMessage {
    padding: 18px;
    width: 97%;
    border: 1px solid #dfdfdf;
    padding-left: 30px;
    padding-right: 40px;
    margin-left: 30px;
  }

  .toggleMessage:before {
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 10px;
  }

  .room-name-title {
    font-size: 22px;
    letter-spacing: 0.63px;
    text-align: left;
    display: inline-block;
    font-family: $sitnet-family-helvetica;
    font-weight: normal;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 30px
  }

}

