/drop_pg_dbs.bash
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sass-cache
/.target
.DS_Store
*.zip
.tern-project
/bin
/data
/projectFilesBackup
*.class
/node_modules
/public/app/exam.*
