# SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
#
# SPDX-License-Identifier: EUPL-1.2

public
conf/local.conf
node_modules
project/project
target
default-drop-all.sql
default-create-all.sql
/data/
.angular
dist
ui/src/assets/vendor/mathjax
