app/backend/views/index.scala.html
conf/local.conf
node_modules
project/project
project/metals.sbt
target
*.idea
public/bundles
*.iml
.vscode
default-drop-all.sql
default-create-all.sql
/data/
*.sc
.bloop
.metals
