<div class="student-enrolment-result-wrapper max-w-1100">
    <div>
        <!-- calendar box -->
        <div class="col-auto p-1" *ngIf="enrolment.reservation || enrolment.examinationEventConfiguration">
            <div class="student-enrolment-date-box" *ngIf="enrolment.reservation">
                {{ enrolment.reservation!.startAt | date: 'dd' }}
                <span class="month-name">{{
                    enrolment.reservation!.startAt | date: 'MMM' | slice: 0:3 | uppercase
                }}</span>
            </div>
            <div class="student-enrolment-date-box" *ngIf="enrolment.examinationEventConfiguration">
                {{ enrolment.examinationEventConfiguration!.examinationEvent.start | date: 'dd' }}
                <span class="month-name">{{
                    enrolment.examinationEventConfiguration!.examinationEvent.start
                        | date: 'MMM'
                        | slice: 0:3
                        | uppercase
                }}</span>
            </div>
        </div>
        <!-- exam title n stuff -->
        <div class="d-flex flex-row">
            <div class="student-enrolment-exam">
                <div *ngIf="enrolment.exam">
                    <a uiSref="enrolments" [uiParams]="{ id: enrolment.exam.id, code: enrolment.exam.course?.code }">
                        {{ enrolment.exam.name }}
                    </a>
                </div>
                <div *ngIf="enrolment.collaborativeExam">
                    {{ enrolment.collaborativeExam.name }}
                </div>

                <small *ngIf="enrolment.exam?.anonymous || enrolment.collaborativeExam?.anonymous"
                    >({{ 'sitnet_anonymous_review' | translate }})</small
                >
                <small *ngIf="enrolment.exam && enrolment.exam.implementation === 'CLIENT_AUTH'"
                    >({{ 'sitnet_examination_type_seb' | translate }})</small
                >
                <small *ngIf="enrolment.exam && enrolment.exam.implementation === 'WHATEVER'"
                    >({{ 'sitnet_examination_type_home_exam' | translate }})</small
                >
                <div class="">
                    <span
                        *ngIf="
                            (enrolment.exam?.state === 'PUBLISHED' ||
                                enrolment.collaborativeExam?.state === 'PUBLISHED') &&
                            (enrolment.reservation || enrolment.examinationEventConfiguration)
                        "
                        class="exam-ready"
                        >{{ 'sitnet_state_ready' | translate }}</span
                    >
                    <span
                        *ngIf="
                            enrolment.exam?.state === 'PUBLISHED' &&
                            !enrolment.reservation &&
                            !enrolment.examinationEventConfiguration
                        "
                        class="exam-needs-reservation"
                        >{{ 'sitnet_state_needs_reservation_title' | translate }}</span
                    >
                    <span *ngIf="enrolment.exam?.state === 'STUDENT_STARTED'" class="exam-ready">
                        {{ 'sitnet_state_started' | translate }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column grid-self-center">
        <div *ngIf="enrolment.exam">{{ 'sitnet_course_name' | translate }}:</div>

        <div *ngIf="enrolment.exam && enrolment.exam.course">
            <span class="exam-code">
                <strong><xm-course-code [course]="enrolment.exam.course"></xm-course-code></strong>
            </span>
            {{ enrolment.exam.course.name }}
        </div>
    </div>
    <div class="d-flex flex-column" *ngIf="!enrolment.reservation">
        <div>{{ 'sitnet_exam_validity' | translate }}:</div>
        <div>
            {{
                enrolment.exam?.examActiveStartDate || enrolment.collaborativeExam.examActiveStartDate
                    | date: 'dd.MM.yyyy'
            }}
            &ndash;
            {{
                enrolment.exam?.examActiveEndDate || enrolment.collaborativeExam.examActiveEndDate | date: 'dd.MM.yyyy'
            }}
        </div>
    </div>
    <div class="d-flex flex-column grid-expand-row-2">
        <div *ngIf="enrolment.exam">{{ 'sitnet_teachers' | translate }}:</div>
        <div *ngIf="enrolment.exam">
            <xm-teacher-list [exam]="enrolment.exam"></xm-teacher-list>
        </div>
        <button
            *ngIf="enrolment.exam"
            class="mart10 flex-middle pointer border rounded hover-grey max-w-350"
            (click)="addEnrolmentInformation()"
        >
            <img class="padr10 padt4" alt="edit message to teacher" src="/assets/images/icon_message.png" />
            <div class="infolink">{{ 'sitnet_student_edit' | translate }}</div>
        </button>
    </div>
    <div class="" *ngIf="enrolment.reservation">
        <div class="">
            <button class="infolink pointer" (click)="showGuide = !showGuide" tabindex="0">
                {{ 'sitnet_room_guidance' | translate }}
                <img
                    class="arrow_icon"
                    [hidden]="showGuide"
                    alt="show guidance"
                    src="/assets/assets/images/arrow_right.png"
                />
                <img
                    class="arrow_icon"
                    [hidden]="!showGuide"
                    alt="hide guidance"
                    src="/assets/assets/images/arrow_down.png"
                />
            </button>
        </div>
        <div class="" [hidden]="!showGuide">
            {{ getRoomInstruction() }}
        </div>
    </div>
    <div class="">
        <div class="">
            <button
                class="infolink pointer mart10 pointer border rounded hover-grey"
                [hidden]="!enrolment.exam?.enrollInstruction && !enrolment.collaborativeExam?.enrollInstruction"
                (click)="showInstructions = !showInstructions"
                tabindex="0"
            >
                {{ 'sitnet_view_instructions' | translate }}
                <img
                    class="arrow_icon"
                    [hidden]="showInstructions"
                    alt="show instructions"
                    src="/assets/images/arrow_right.png"
                />
                <img
                    class="arrow_icon"
                    [hidden]="!showInstructions"
                    alt="hide instructions"
                    src="/assets/images/arrow_down.png"
                />
            </button>
        </div>
        <div
            class=""
            [hidden]="!showInstructions"
            [xmMathJax]="enrolment.exam?.enrollInstruction || enrolment.collaborativeExam?.enrollInstruction || ''"
        ></div>
    </div>
    <div class="" *ngIf="enrolment.reservation">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_exam_room' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3" *ngIf="enrolment.reservation.machine">
                {{ enrolment.reservation.machine.name }}&nbsp;&nbsp;|&nbsp;&nbsp;{{
                    enrolment.reservation.machine.room.name
                }}
                ({{ enrolment.reservation.machine.room.roomCode }})
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3" *ngIf="enrolment.reservation.externalReservation">
                <span *ngIf="enrolment.reservation.externalReservation.orgName">
                    <strong>{{ 'sitnet_faculty_name' | translate | uppercase }}:</strong>
                    {{ enrolment.reservation.externalReservation.orgName }} ({{
                        enrolment.reservation.externalReservation.orgCode
                    }})<br />
                </span>
                <strong>{{ 'sitnet_room_campus' | translate | uppercase }}:</strong>
                {{ enrolment.reservation.externalReservation.campus }}<br />
                <strong>{{ 'sitnet_room_building_name' | translate | uppercase }}:</strong>
                {{ enrolment.reservation.externalReservation.buildingName }}<br />
                <strong>{{ 'sitnet_exam_room' | translate | uppercase }}:</strong>
                {{ enrolment.reservation.externalReservation.roomName }}
                ({{ enrolment.reservation.externalReservation.roomCode }})<br />
                <strong>{{ 'sitnet_exam_machine' | translate | uppercase }}:</strong>
                {{ enrolment.reservation.externalReservation.machineName }}<br />
                {{ enrolment.reservation.externalReservation.mailAddress.street }},
                {{ enrolment.reservation.externalReservation.mailAddress.zip }}&nbsp;
                {{ enrolment.reservation.externalReservation.mailAddress.city | uppercase }}
            </div>

            <div class="clearfix visible-xs"></div>
            <div class="clearfix visible-sm"></div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_reservation' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                {{ enrolment.reservation.startAt | applyDst | date: 'dd.MM.yyyy' }}
                {{ enrolment.occasion?.startAt }} &ndash; {{ enrolment.occasion?.endAt }}
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!enrolment.reservation">
        <div class="col-12">
            <div class="text-danger" *ngIf="enrolment.reservationCanceled">
                {{ 'sitnet_canceled' | translate }}
            </div>
        </div>
    </div>
    <div class="col-md-12" *ngIf="enrolment.exam && enrolment.exam.implementation !== 'AQUARIUM'">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_examination_event' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-10 col-lg-10">
                {{ enrolment.examinationEventConfiguration?.examinationEvent?.start | date: 'dd.MM.yyyy HH:mm' }}
            </div>
        </div>
    </div>

    <div
        class=""
        *ngIf="
            enrolment.exam && enrolment.examinationEventConfiguration && enrolment.exam.implementation !== 'AQUARIUM'
        "
    >
        <div class="">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_instructions' | translate }}:</div>
                <div class="col-6 col-sm-6 col-md-10 col-lg-10">
                    <span class="marr20">
                        {{ enrolment.examinationEventConfiguration.examinationEvent.description }}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="enrolment.exam && enrolment.exam.implementation === 'CLIENT_AUTH'">
        <div class="col-md-12">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_seb_file' | translate }}:</div>
                <div class="col-6 col-sm-6 col-md-10 col-lg-10">
                    <span class="marr20">
                        <button tabindex="0" (click)="downloadSebFile()" class="text text-success">
                            <strong>{{ 'sitnet_download' | translate }}</strong>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="" *ngIf="enrolment.reservation">
        <div class="infolink">
            <button class="infolink pointer" (click)="showGuide = !showGuide" tabindex="0">
                {{ 'sitnet_room_guidance' | translate }}
                <img class="arrow_icon" [hidden]="showGuide" alt="show guidance" src="/assets/images/arrow_right.png" />
                <img class="arrow_icon" [hidden]="!showGuide" alt="hide guidance" src="/assets/images/arrow_down.png" />
            </button>
        </div>
        <div class="ml-1 mt-1" [hidden]="!showGuide">
            {{ getRoomInstruction() }}
        </div>
    </div>
    <div class="row mt-2" *ngIf="enrolment.reservation && enrolment.optionalSections.length > 0">
        <div class="col-12">
            <button class="infolink pointer" (click)="showMaterials = !showMaterials" tabindex="0">
                {{ 'sitnet_selected_sections' | translate }}
                <img
                    class="arrow_icon"
                    [hidden]="showMaterials"
                    alt="show materials"
                    src="/assets/images/arrow_right.png"
                />
                <img
                    class="arrow_icon"
                    [hidden]="!showMaterials"
                    alt="hide materials"
                    src="/assets/images/arrow_down.png"
                />
            </button>
            <div
                class="student-exam-row-infobox"
                *ngIf="enrolment.reservation && enrolment.optionalSections.length > 0"
                [hidden]="!showMaterials"
            >
                <div *ngFor="let section of enrolment.exam.examSections" class="marb20">
                    <div *ngIf="section.optional === false">
                        <div class="row">
                            <div class="col-12">
                                <strong
                                    >{{ 'sitnet_exam_section' | translate }}
                                    <small class="text text-danger"
                                        >({{ 'sitnet_required' | translate | lowercase }})</small
                                    >:</strong
                                >
                                {{ section.name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ section.description }}
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngFor="let section of enrolment.optionalSections" class="marb20">
                    <div class="row">
                        <div class="col-12">
                            <strong
                                >{{ 'sitnet_exam_section' | translate }}
                                <small class="text text-success"
                                    >({{ 'sitnet_optional' | translate | lowercase }})</small
                                >:</strong
                            >
                            {{ section.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ section.description }}
                        </div>
                    </div>
                    <div *ngIf="section.examMaterials.length > 0">
                        <div class="row">
                            <div class="col-12">
                                <strong>{{ 'sitnet_exam_materials' | translate }}</strong>
                            </div>
                        </div>
                        <div *ngFor="let material of section.examMaterials">
                            <div class="row">
                                <span class="col-12">
                                    {{ 'sitnet_name' | translate | uppercase }}: {{ material.name }}
                                    <span *ngIf="material.author">
                                        {{ 'sitnet_author' | translate | uppercase }}: {{ material.author }}
                                    </span>
                                    <span *ngIf="material.isbn"> ISBN: {{ material.isbn }} </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="enroll-result-buttons">
        <xm-active-enrolment-menu
            class=""
            [enrolment]="enrolment"
            (removed)="enrolmentRemoved($event)"
        ></xm-active-enrolment-menu>
        <div
            *ngIf="
                !enrolment.reservation && (enrolment.exam?.implementation === 'AQUARIUM' || enrolment.collaborativeExam)
            "
            class="student-message-dialog-button-save"
        >
            <button class="link-button pointer" (click)="makeReservation()" tabindex="0">
                {{ 'sitnet_student_new_reservation' | translate }}
            </button>
        </div>
        <div
            *ngIf="
                !enrolment.examinationEventConfiguration &&
                enrolment.exam?.implementation !== 'AQUARIUM' &&
                hasUpcomingAlternativeEvents()
            "
            class="student-message-dialog-button-save"
        >
            <button class="link-button pointer" (click)="makeReservation()" tabindex="0">
                {{ 'sitnet_student_new_reservation' | translate }}
            </button>
        </div>
    </div>
</div>
