.active-enrolment-container {
    // todo: use global container?
    border-radius: 4px;
    border: 2px solid #ededed;
    border-left: #238635 4px solid; // medium-green
    padding-left: 15px;
    padding-right: 25px;
    max-width: 1100px;
    @media (max-width: 920px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.active-enrolment-heading {
    a {
        font-size: 20px;
        color: #266b99;
        text-decoration: none;
    }
}

.exam-ready {
    color: #2c7639; //green-new
    font-size: 16px !important; // TODO: remove importance
}

.hover-grey:hover {
    background-color: #c0c0c0;
}
