<div class="" [hidden]="room.state === 'INACTIVE'">
    <div class="row">
        <div class="col">
            <span class="pointer user-select-none"> {{ 'sitnet_exam_room_machines' | translate }}&nbsp;&nbsp; </span>
        </div>
        <div class="flex justify-content-end col">
            <a
                class="ps-2 marr20 text text-success pointer"
                (click)="addNewMachine()"
                triggers="mouseenter:mouseleave"
                ngbPopover="{{ 'sitnet_add' | translate }}"
            >
                <i class="pt-2 bi bi-plus-circle"></i>
            </a>
            <span
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
                ngbPopover="{{ 'sitnet_status_machine_available' | translate }}"
            >
                <span class="badge bg-success">
                    {{ room.examMachines.length - countMachineAlerts() - countMachineNotices() }}
                </span>
            </span>
            <span
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
                ngbPopover="{{ 'sitnet_status_inservice' | translate }}"
            >
                <span class="badge bg-danger marl10 marr30">
                    {{ countMachineAlerts() }}
                </span>
            </span>
            <div (click)="toggleShow()">
                <i [hidden]="!showMachines" class="bi-chevron-down fa-stack-1x"></i>
                <i [hidden]="showMachines" class="bi-chevron-right fa-stack-1x"></i>
            </div>
        </div>
    </div>
    <div class="detail-row">
        <div class="col-md-12 ms-3" [hidden]="!showMachines">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'sitnet_name' | translate }}</th>
                        <th>{{ 'sitnet_machine_other_identifier' | translate }}</th>
                        <th>{{ 'sitnet_room_accessibility_info' | translate }}</th>
                        <th>{{ 'sitnet_machine_softwares' | translate }}</th>
                        <th>{{ 'sitnet_status' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let machine of sortAlphabeticalMachineList(room.examMachines)">
                        <td>
                            <a
                                [ngClass]="{ 'text-danger': !machine.name }"
                                class="exams-info-title bold-button"
                                [routerLink]="['/staff/machines', machine.id]"
                            >
                                {{ !machine.name ? ('sitnet_no_name' | translate) : machine.name }}
                            </a>
                        </td>
                        <td>{{ machine.otherIdentifier }}</td>
                        <td>{{ machine.accessibilityInfo }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let software of machine.softwareInfo; let l = last" class="float-start">
                                    <span *ngIf="software.status !== 'DISABLED'">
                                        {{ software.name }}<span *ngIf="!l">, </span>
                                    </span>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <span class="status_red" *ngIf="machine.outOfService">{{
                                'sitnet_status_inactive' | translate
                            }}</span>
                            <span class="status_green" *ngIf="!machine.outOfService">{{
                                'sitnet_status_active' | translate
                            }}</span>
                            <span class="ms-2">{{ machine.statusComment }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
