<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div [hidden]="room.state === 'INACTIVE'">
    <div class="row">
        <div class="col">
            <span class="pointer user-select-none"> {{ 'i18n_exam_room_machines' | translate }}&nbsp;&nbsp; </span>
        </div>
        <div class="d-flex justify-content-end col">
            <a
                class="ps-2 me-2 text text-success pointer"
                (click)="addNewMachine()"
                triggers="mouseenter:mouseleave"
                ngbPopover="{{ 'i18n_add' | translate }}"
            >
                <i class="pt-2 bi bi-plus-circle"></i>
            </a>
            <span
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
                ngbPopover="{{ 'i18n_status_machine_available' | translate }}"
            >
                <span class="badge bg-success">
                    {{ room.examMachines.length - countMachineAlerts() - countMachineNotices() }}
                </span>
            </span>
            <span
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
                ngbPopover="{{ 'i18n_status_inservice' | translate }}"
            >
                <span class="badge bg-danger ms-1 me-3">
                    {{ countMachineAlerts() }}
                </span>
            </span>
            <div (click)="toggleShow()">
                <i [hidden]="!showMachines" class="bi-chevron-down fa-stack-1x"></i>
                <i [hidden]="showMachines" class="bi-chevron-right fa-stack-1x"></i>
            </div>
        </div>
    </div>
    <div class="row" [hidden]="!showMachines">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'i18n_name' | translate }}</th>
                        <th>{{ 'i18n_machine_other_identifier' | translate }}</th>
                        <th>{{ 'i18n_room_accessibility_info' | translate }}</th>
                        <th>{{ 'i18n_machine_softwares' | translate }}</th>
                        <th>{{ 'i18n_status' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    @for (machine of machines; track machine.id) {
                        <tr>
                            <td>
                                <a
                                    [ngClass]="{ 'text-danger': !machine.name }"
                                    [routerLink]="['/staff/machines', machine.id]"
                                >
                                    <strong>{{ !machine.name ? ('i18n_no_name' | translate) : machine.name }}</strong>
                                </a>
                            </td>
                            <td>{{ machine.otherIdentifier }}</td>
                            <td>{{ machine.accessibilityInfo }}</td>
                            <td>
                                <ul>
                                    @for (software of machine.softwareInfo; track software; let l = $last) {
                                        <li class="float-start">
                                            @if (software.status !== 'DISABLED') {
                                                <span>{{ software.name }}</span>
                                                @if (!l) {
                                                    <span>,&nbsp;</span>
                                                }
                                            }
                                        </li>
                                    }
                                </ul>
                            </td>
                            <td>
                                @if (machine.outOfService) {
                                    <span class="status_red">{{ 'i18n_status_inactive' | translate }}</span>
                                }
                                @if (!machine.outOfService) {
                                    <span class="status_green">{{ 'i18n_status_active' | translate }}</span>
                                }
                                <span class="ms-2">{{ machine.statusComment }}</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
