<div class="main-row">
    <div class="col-md-12">
        <div class="review-list-title">{{ 'sitnet_processed_language_inspections' | translate }}
            <small class="smaller padl20">
                <a href="/inspections/reports">{{'sitnet_language_inspection_report_link' | translate}}</a>
            </small>
            <a ng-if="$ctrl.inspections.length > 0" ng-click="$ctrl.hideItems = !$ctrl.hideItems" class="pointer">
                <img ng-show="$ctrl.hideItems" src="Images/icon_list_show_right.svg" alt="exam"
                    onerror="this.onerror=null;this.src='Images/icon_list_show_right.png';" />
                <img ng-hide="$ctrl.hideItems" src="Images/icon_list_show_down.svg" alt="exam"
                    onerror="this.onerror=null;this.src='Images/icon_list_show_down.png';" />
            </a>
        </div>
    </div>
</div>


<div ng-hide="$ctrl.hideItems">

    <div class="row marl10 marb20 padt20">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <span class="exam-basic-selecttitle">&nbsp;</span>
                    <div class="input-group">
                        <input ng-model="$ctrl.filterText"
                            ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                            ng-change="$ctrl.filterTextChanged()" class="form-control hgt40"
                            placeholder="{{'sitnet_search' | translate }}" popover-placement="top"
                            popover-trigger="'mouseenter'"
                            uib-popover="{{ 'sitnet_maturity_search_description' | translate }}">

                        <div class="input-group-addon search">
                            <img class="nopad" src="Images/icon_search.png" width="49" height="40">
                        </div>

                    </div>
                </div>

                <!-- Start & End time datepickers -->
                <form class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="exam-basic-selecttitle">{{'sitnet_begin' | translate}}</span>
                            <date-picker [optional]="true" (on-update)="$ctrl.startDateChanged($event)"></date-picker>
                        </div>
                        <div class="col-md-6">
                            <span class="exam-basic-selecttitle">{{'sitnet_end' | translate}}</span>
                            <date-picker [optional]="true" (on-update)="$ctrl.endDateChanged($event)"></date-picker>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-striped exams-table">
        <thead>
            <tr>
                <th class="with-top" sort by="exam.course.code" text="sitnet_code" predicate="$ctrl.sorting.predicate"
                    reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top" sort by="answerLanguage" text="sitnet_language" predicate="$ctrl.sorting.predicate"
                    reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top" sort by="exam.name" text="sitnet_exam_name" predicate="$ctrl.sorting.predicate"
                    reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top" sort by="ownerAggregate" text="sitnet_teachers" predicate="$ctrl.sorting.predicate"
                    reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top" sort by="created" text="sitnet_arrived" predicate="$ctrl.sorting.predicate"
                    reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top" sort by="studentNameAggregate" text="sitnet_student"
                    predicate="$ctrl.sorting.predicate" reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top" sort by="exam.created" text="sitnet_finished" predicate="$ctrl.sorting.predicate"
                    reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top" sort by="inspectorNameAggregate" text="sitnet_language_inspector"
                    predicate="$ctrl.sorting.predicate" reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top" sort by="finishedAt" text="sitnet_inspection_finished"
                    predicate="$ctrl.sorting.predicate" reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top" sort by="approved" text="sitnet_language_inspections"
                    predicate="$ctrl.sorting.predicate" reverse="$ctrl.sorting.reverse"></th>
                <th class="with-top">{{ 'sitnet_feedback' | translate }}</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="inspection in $ctrl.filteredInspections
            | orderBy:$ctrl.sorting.predicate:$ctrl.sorting.reverse
            | offset: $ctrl.currentPage*$ctrl.pageSize 
            | limitTo: $ctrl.pageSize">
                <!-- 1 -->
                <td class="table-column-bold">
                    {{ inspection.exam.course.code }}
                </td>
                <!-- 2 -->
                <td class="table-column-bold">
                    {{ inspection.answerLanguage }}
                </td>
                <!-- 3 -->
                <td>
                    <a class="table-column-examname" href="/assessments/{{inspection.exam.id}}">
                        {{ inspection.exam.name }}
                    </a>
                </td>
                <!-- 4 -->
                <td>
                    {{ inspection.ownerAggregate }}
                </td>
                <!-- 5 -->
                <td>{{ inspection.created | date:'dd.MM.yyyy' }}</td>
                <!-- 6 -->
                <td>
                    <span>{{ inspection.studentName }}</span>
                    <span
                        ng-if="inspection.exam.creator.userIdentifier">&nbsp;({{ inspection.exam.creator.userIdentifier }})</span>
                    <span>
                        <br />
                        <a class="pointer smaller"
                            href="mailto:{{ inspection.exam.creator.email }}">{{ inspection.exam.creator.email }}</a>
                    </span>
                </td>
                <!-- 7 -->
                <td>{{ inspection.exam.created | date:'dd.MM.yyyy' }}</td>
                <!-- 8 -->
                <td ng-if="inspection.modifier">
                    <span>{{ inspection.inspectorName }} </span>
                    <span>
                        <br />
                        <a class="pointer smaller"
                            href="mailto:{{ inspection.modifier.email }}">{{ inspection.modifier.email }}</a>
                    </span>
                </td>
                <!-- 9 -->
                <td>{{ inspection.finishedAt | date:'dd.MM.yyyy' }}</td>
                <!-- 10 -->
                <td>
                    <span ng-if="inspection.approved" class="approved">
                        {{ 'sitnet_approved' | translate }}
                    </span>
                    <span ng-if="!inspection.approved" class="rejected">
                        {{ 'sitnet_rejected' | translate }}
                    </span>

                </td>
                <!-- 11 -->
                <td class="table-column-15">
                    <a class="pointer smaller"
                        ng-click="$ctrl.showStatement(inspection.statement)">{{ 'sitnet_view' | translate }}</a>
                </td>
            </tr>
            <!--Fill if page not full-->
            <tr ng-repeat="r in [] | pagefill: $ctrl.filteredInspections.length:$ctrl.currentPage:$ctrl.pageSize">
                <td class="table-column-bold" colspan="11">&nbsp;</td>
            </tr>
            <tr ng-if="$ctrl.filteredInspections.length == 0">
                <td class="table-column-bold" colspan="11">
                    {{'sitnet_processed_language_inspections_no_results' | translate}}</td>
            </tr>
    </table>
    <div ng-show="$ctrl.filteredInspections.length > $ctrl.pageSize">
        <paginator items="$ctrl.filteredInspections" on-select-page="$ctrl.pageSelected(page)"
            page-size="$ctrl.pageSize" current-page="$ctrl.currentPage" />
    </div>

</div>