<div class="main-row">
    <div class="col-md-12">
        <div class="review-list-title">
            {{ 'sitnet_ongoing_language_inspections' | translate }}
            <span>{{ getInspectionAmounts() }}</span>
            <a *ngIf="inspections.length > 0" (click)="hideItems = !hideItems" class="pointer">
                <img
                    [hidden]="!hideItems"
                    src="Images/icon_list_show_right.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='Images/icon_list_show_right.png';"
                />
                <img
                    [hidden]="hideItems"
                    src="Images/icon_list_show_down.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='Images/icon_list_show_down.png';"
                />
            </a>
        </div>
    </div>
</div>

<div [hidden]="inspections.length > 0">
    <div class="review-no-results">
        <i class="fa fa-exclamation-circle padl20 grayish"></i>
        {{ 'sitnet_ongoing_language_inspections_no_results' | translate }}
    </div>
</div>

<div [hidden]="hideItems || inspections.length === 0">
    <div class="col-md-12">
        <div class="form-group input-group search tab-search review-list-search padl0 marl10">
            <input
                [(ngModel)]="filterText"
                [ngModelOptions]="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                class="form-control search"
                placeholder="{{ 'sitnet_search' | translate }}"
                ngbPopover="{{ 'sitnet_maturity_search_description' | translate }}"
                placement="top"
                delay="500"
                trigger="mouseenter"
            />
            <div class="input-group-addon search">
                <img class="nopad" src="Images/icon_search.png" width="49" height="40" />
            </div>
        </div>
    </div>

    <table class="table table-striped exams-table">
        <thead>
            <tr>
                <th class="with-top">
                    <table-sort
                        by="exam.course.code"
                        text="sitnet_code"
                        [predicate]="sorting.predicate"
                        [reverse]="sorting.reverse"
                        (click)="setPredicate('exam.course.code')"
                    >
                    </table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="answerLanguage"
                        text="sitnet_language"
                        [predicate]="sorting.predicate"
                        [reverse]="sorting.reverse"
                        (click)="setPredicate('answerLanguage')"
                    >
                    </table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="exam.name"
                        text="sitnet_exam_name"
                        [predicate]="sorting.predicate"
                        [reverse]="sorting.reverse"
                        (click)="setPredicate('exam.name')"
                    >
                    </table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="ownerAggregate"
                        text="sitnet_teachers"
                        [predicate]="sorting.predicate"
                        [reverse]="sorting.reverse"
                        (click)="setPredicate('ownerAggregate')"
                    >
                    </table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="created"
                        text="sitnet_arrived"
                        [predicate]="sorting.predicate"
                        [reverse]="sorting.reverse"
                        (click)="setPredicate('created')"
                    >
                    </table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="studentNameAggregate"
                        text="sitnet_student"
                        [predicate]="sorting.predicate"
                        [reverse]="sorting.reverse"
                        (click)="setPredicate('studentNameAggregate')"
                    >
                    </table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="exam.created"
                        text="sitnet_finished"
                        [predicate]="sorting.predicate"
                        [reverse]="sorting.reverse"
                        (click)="setPredicate('exam.created')"
                    >
                    </table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="inspectorNameAggregate"
                        text="sitnet_language_inspector"
                        [predicate]="sorting.predicate"
                        [reverse]="sorting.reverse"
                        (click)="setPredicate('inspectorNameAggregate')"
                    >
                    </table-sort>
                </th>
                <th class="with-top">{{ 'sitnet_language_inspections' | translate }}</th>
            </tr>
        </thead>

        <tbody>
            <tr
                *ngFor="
                    let inspection of filteredInspections
                        | orderBy: sorting.predicate:sorting.reverse:'case-insensitive'
                        | slice: currentPage * pageSize:currentPage * pageSize + pageSize
                "
            >
                <td>
                    {{ inspection.exam.course.code }}
                </td>
                <td class="table-column-bold">
                    {{ inspection.answerLanguage }}
                </td>
                <td class="table-column-bold">
                    <span class="exam-basic-title">
                        {{ inspection.exam.name }}
                    </span>
                </td>
                <td>
                    <span>
                        {{ inspection.ownerAggregate }}
                    </span>
                </td>
                <td>{{ inspection.created | date: 'dd.MM.yyyy' }}</td>
                <td>
                    <span>{{ inspection.studentName }}</span>
                    <span *ngIf="inspection.exam.creator.userIdentifier"
                        >&nbsp;({{ inspection.exam.creator.userIdentifier }})</span
                    >
                    <span>
                        <br />
                        <a class="pointer smaller" href="mailto:{{ inspection.exam.creator.email }}">{{
                            inspection.exam.creator.email
                        }}</a>
                    </span>
                </td>
                <td>{{ inspection.exam.created | date: 'dd.MM.yyyy' }}</td>
                <td *ngIf="inspection.modifier">
                    <span>{{ inspection.inspectorName }} </span>
                    <span>
                        <br />
                        <a class="pointer smaller" href="mailto:{{ inspection.modifier.email }}">{{
                            inspection.modifier.email
                        }}</a>
                    </span>
                </td>
                <td *ngIf="!inspection.modifier">
                    <span class="text-danger">{{ 'sitnet_undefined' | translate }}</span>
                </td>
                <td *ngIf="inspection.modifier">
                    <a class="pointer" uiSref="assessment({id: {{ inspection.exam.id }} })">{{
                        'sitnet_view' | translate
                    }}</a>
                </td>
                <td *ngIf="!inspection.modifier && !user.isAdmin">
                    <a class="pointer" (click)="assignInspection(inspection)"
                        >{{ 'sitnet_assign_to_me' | translate }}
                    </a>
                </td>
                <td *ngIf="!inspection.modifier && user.isAdmin">
                    <span class="text-muted">{{ 'sitnet_assign_to_me' | translate }}</span>
                </td>
            </tr>
            <tr *ngIf="filteredInspections.length === 0">
                <td colspan="8">{{ 'sitnet_review_no_result' | translate }}</td>
            </tr>
        </tbody>
    </table>
</div>
