<script type="text/javascript">

    $(function () {
        $("#draggable").draggable({
            containment: "window",
            // fix for https://bugs.jqueryui.com/ticket/10725
            drag: function () {
                $(this).css('height', 'auto');
            }
        });
    });

</script>
<div id="feedback" ng-hide="$ctrl.hasGoneThroughLanguageInspection()">

    <div id="draggable" data-spy="affix" data-offset-top="50" class="wrapper">
        <div class="row">
            <div class="col-md-1" popover-placement="right" popover-popup-delay="500" popover-trigger="'mouseenter'"
                 uib-popover="{{$ctrl.hideEditor ? 'sitnet_show' : 'sitnet_hide' | translate}}">
                <i ng-click="$ctrl.toggleEditorVisibility()" class="pointer fa fa-2x vcenter"
                   ng-class="$ctrl.hideEditor ? 'fa-chevron-circle-right sitnet-green' : 'fa-chevron-circle-down sitnet-red'">
                </i>
            </div>
            <div class="col-md-11">
                <div class="vcenter">
                    {{'sitnet_give_statement' | translate}}
                </div>
            </div>
        </div>
        <div class="row editor" ng-hide="$ctrl.hideEditor">
            <div class="col-md-12">
                <textarea ck-editor rows="10" ng-model="$ctrl.exam.languageInspection.statement.comment"></textarea>
            </div>
        </div>
        <div class="row" ng-hide="$ctrl.hideEditor">
            <div class="col-md-2">
                <button class="btn btn-default" ng-click="$ctrl.saveInspectionStatement()">{{'sitnet_save' | translate}}</button>
            </div>
            <div class="col-md-10">
                <div class="pull-right">
                        <span ng-show="$ctrl.exam.languageInspection.statement.attachment">
                            <a class="pointer" ng-click="$ctrl.downloadStatementAttachment()">{{$ctrl.exam.languageInspection.statement.attachment.fileName}}</a>
                            <span class="sitnet-red pointer" ng-click="$ctrl.removeStatementAttachment()">
                                <i class="fa fa-times" title="{{'sitnet_remove_attachment' | translate }}"></i>
                            </span>
                        </span>
                    <button type="button" class="btn btn-default" ng-disabled="!$ctrl.exam.languageInspection.statement.id"
                            ng-click="$ctrl.selectFile()">{{'sitnet_attach_file' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
