<div id="sitnet-header" class="header">
    <div class="col-md-8 header-wrapper">
        <span class="header-text">{{'sitnet_dashboard' | translate}}</span>
    </div>
</div>

<div id="settings" class="row base" ng-controller="SettingsController">

    <div class="row">
        <div class="col-md-12 title">
            {{'sitnet_user_agreament' | translate}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea ck-editor rows="10" cols="80" ng-model="settings.text" placeholder="{{'sitnet_question_write_name' | translate}}">
            </textarea>
        </div>
    </div>

    <div class="row">
        <div class="sitnet-info-text">{{'sitnet_review_deadline' | translate}} ({{'sitnet_days' | translate}})</div>
        <div class="col-md-1">
            <input name=deadline" class="form-control" type="number" min="1" ng-model="settings.reviewDeadline"
                   popover="{{'sitnet_info_deadline' | translate}}"  popover-trigger="focus"
                   ui-change="updateSettings(settings)">
        </div>
    </div>

    <div class="row">
    <hr>
    </div>

    <div class="row">
        <div class="col-md-1">
            <button ng-click="updateSettings(settings)" class="btn btn-success pull-right">{{'sitnet_save' | translate}}</button>
        </div>
    </div>
</div>