<div id='room'>

    <table style="display:inline-block">
        <thead>
            <tr ng-repeat="time in times">
                <th ng-class="{ 'light' : $even }">{{time}}</th>
            </tr>
        </thead>
    </table>

    <table style="display:inline-block">
        <thead>
            <tr>
                <th>MA</th>
                <th>TI</th>
                <th>KE</th>
                <th>TO</th>
                <th>PE</th>
                <th>LA</th>
                <th>SU</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="row in table">
                <td ng-repeat="cell in row" class='selectable {{cell.type}}' ng-click='select(cell)'>
                    <div class="fullsize" tooltip-placement="right" tooltip-animation="false" tooltip-popup-delay="50" tooltip="{{calculateTime(cell)}}"></div>
                </td>
            </tr>
        </tbody>
    </table>

</div>