<div id="sitnet-header" class="header">
    <div class="col-md-12 header-wrapper">
        <span class="header-text">{{'sitnet_reservations_administration' | translate}}</span>
    </div>
</div>

<div id='reservations'>
    <div class="base row">
        <div class="col-md-2">
            <select ui-select2="{ allowClear: true, dropdownAutoWidth : true}" ng-model="selectedStudent" ng-change="setStudent(selectedStudent)" data-placeholder="{{'sitnet_student' | translate}}">
                <option value=""></option>
                <option ng-repeat="student in students" value="{{student.id}}">{{student.firstName}} {{student.lastName}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <select ui-select2="{ allowClear: true, dropdownAutoWidth : true}" ng-model="selectedExamRoom" ng-change="setRoom(selectedExamRoom)" data-placeholder="{{'sitnet_room' | translate}}">
                <option value=""></option>
                <option ng-repeat="examroom in examrooms" value="{{examroom.id}}">{{examroom.name}}</option>
            </select>
        </div>
        <div class="col-md-3">
            <select ui-select2="{ allowClear: true, dropdownAutoWidth : true}" ng-model="selectedExam" ng-change="setExam(selectedExam)" data-placeholder="{{'sitnet_exam' | translate}}">
                <option value=""></option>
                <option ng-repeat="exam in examnames" value="{{exam.id}}">{{exam.name}}</option>
            </select>
        </div>
        <div class="col-md-2" ng-controller="DatepickerCtrl">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateService.startDate"
                       is-open="startDateOpened"
                       max="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close"> <!--ui-change="updateExam()"-->

                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="openStartDate($event)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <div class="col-md-2" ng-controller="DatepickerCtrl">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateService.endDate"
                       is-open="endDateOpened"
                       max="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close"> <!--ui-change="updateExam()"-->

                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="openEndDate($event)">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div ng-include="reservationDetails">
        </div>
    </div>
</div>