<div id='reservation_details'>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{'sitnet_student' | translate}}</th>
                <th>{{'sitnet_room' | translate}}</th>
                <th>{{'sitnet_exam' | translate}}</th>
                <th>{{'sitnet_date' | translate}}</th>
                <th>{{'sitnet_remove_reservation' | translate}}</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="enrolment in enrolments">
                    <td>{{enrolment.user.firstName}} {{enrollment.user.lastName}}</td>
                    <td>{{enrolment.reservation.machine.room.name}}</td>
                    <td>{{enrolment.exam.name}}</td>
                    <td>{{enrolment.reservation.startAt | date:'dd.MM.yyyy'}}</td>
                    <td><button ng-click="removeReservation(enrolment.reservation.id)" class="btn btn-primary pull-left">{{'sitnet_remove_reservation' | translate}}</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>