<div id="sitnet-header" class="header">
    <!--<div ng-controller="RoomCtrl">-->
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a ng-click="createExamRoom()" class="btn btn-primary btn-lg active header-button">{{'sitnet_create_new' | translate}}</a>
        </div>
    </div>
    <!--</div>-->
</div>
<div id="room" class="row">
    <div class="room-list">
        <h2 class="sitnet-teacher-turquoise-dark-active">{{'sitnet_exam_rooms' | translate}}</h2>
        <span class="sitnet-info-text">Nämä ovat olemassaolevia tentittiloja</span>

        <div class="">
            <div class="exam-machine" ng-repeat="room in rooms">
                <h3>
                    <a href="#/rooms/{{room.id}}">
                        <span class="">{{room.roomCode}} - {{room.name}}</span>
                    </a>
                    <div class="dropdown pull-right fa-stack fa-lg pointer-hand">
                        <a class="dropdown-toggle">
                            <i class="sitnet-white fa fa-cog fa-stack-1x"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a>{{'sitnet_settings' | translate}}</a></li>
                            <li><a ng-click="removeRoom(room)">{{'sitnet_remove' | translate}}</a></li>
                        </ul>
                    </div>
                </h3>
            </div>
        </div>
    </div>
</div>