<div id="exam">
    <div class="exam-header">
        <h2 class="table-heading">{{'sitnet_new_room' | translate}}</h2>
    </div>
    <div style="padding: 2em">
        <!-- Room name -->
        <div class="exam-name">
            <div ng-hide="showName">
                <span class="pull-right fa-stack fa-lg dropdown" ng-click="editRoom()"></span>
                <h3>
                    <span class="editable" ng-click="showName = !showName">
                        {{roomInstance.name}} <i class="fa fa-pencil"></i>
                    </span>
                </h3>
            </div>
            <div ng-show="showName">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" ng-model="roomInstance.name" autofocus>
                    </div>
                    <button class="btn-primary" ng-click="showName = !showName; saveRoom()">
                        <i class="fa fa-check"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="sitnet-info-text">Huonekoodi</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.roomCode"
                           ui-change="saveRoom()">
                    <span class="input-group-addon"
                          ng-click="toaster.info('Tenttitilan yksilöivä tunniste. Esim: 811380A');">
                        <i class="fa fa-question-circle fa-fw"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sitnet-info-text">Rakennuksen nimi</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.buildingName"
                           ui-change="saveRoom()">
                        <span class="input-group-addon"
                              ng-click="toaster.info('Rakennuksen nimi jossa kone sijaitsee');">
                            <i class="fa fa-question-circle fa-fw"></i>
                        </span>
                </div>
            </div>
        </div>

        <!--<div class="exam-wrapper">-->
            <!--&lt;!&ndash; General Information &ndash;&gt;-->
            <!--<div class="exam-general-information" ng-include="generalInfoPath">-->
            <!--</div>-->
            <!--<div class="exam-sections">-->
                <!--<div class="" ui-on-Drop="onDrop($event, $data, section)" ng-include="sectionPath" ng-repeat="section in newExam.examSections"></div>-->
            <!--</div>-->
            <!--<span ng-click="addNewSection()" class="create-new">-->
                <!--<center>-->
                <!--<i class="fa fa-2x fa-hand-o-right"></i>-->
                <!--{{'sitnet_section_add' | translate}}-->
                <!--</center>-->
            <!--</span>-->
            <!--<span><button ng-click="saveExam()" class="btn btn-primary">{{'sitnet_save' | translate}}</button></span>-->
            <!--<span class="pull-right"><button ng-click="saveAndPublishExam()" class="btn btn-warning">{{'sitnet_save_and_publish' | translate}}</button></span>-->
        <!--</div>-->
	</div>
</div>