<div id="exam">
    <div class="exam-header">
        <h2 class="table-heading">{{'sitnet_new_room' | translate}}</h2>
    </div>
    <div style="padding: 2em">
        <!-- Room name -->
        <div class="exam-name">
            <div ng-hide="showName">
                <span class="pull-right fa-stack fa-lg dropdown"></span>
                <h3>
                    <span class="editable" ng-click="showName = !showName">
                        {{roomInstance.name}} <i class="fa fa-pencil"></i>
                    </span>
                </h3>
            </div>
            <div ng-show="showName">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label>
                            <input type="text" class="form-control input-lg" ng-model="roomInstance.name" autofocus>
                        </label>
                    </div>
                    <button class="btn-primary" ng-click="showName = !showName; updateRoom(roomInstance)">
                        <i class="fa fa-check"></i>
                    </button>
                </form>
            </div>
        </div>

        <!-- Room Code & Building name -->
        <div class="row">
            <div class="col-md-6">
                <div class="sitnet-info-text">{{'sitnet_room_code' | translate}}</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.roomCode"
                           ui-change="updateRoom(roomInstance)">
                    <span class="input-group-addon"
                          ng-click="toaster.info('Tenttitilan yksilöivä tunniste. Esim: 811380A');">
                        <i class="fa fa-question-circle fa-fw"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sitnet-info-text">{{'sitnet_room_building_name' | translate}}</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.buildingName"
                           ui-change="updateRoom(roomInstance)">
                        <span class="input-group-addon"
                              ng-click="toaster.info('Rakennuksen nimi jossa kone sijaitsee');">
                            <i class="fa fa-question-circle fa-fw"></i>
                        </span>
                </div>
            </div>
        </div>

        <!-- Campus & Organization name -->
        <div class="row">
            <div class="col-md-6">
                <div class="sitnet-info-text">{{'sitnet_room_campus' | translate}}</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.campus"
                           ui-change="updateRoom(roomInstance)">
                    <span class="input-group-addon"
                          ng-click="toaster.info('Kampus, jossa tenttitila sijaitsee');">
                        <i class="fa fa-question-circle fa-fw"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sitnet-info-text">{{'sitnet_room_organization' | translate}}</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.organization"
                           ui-change="updateRoom(roomInstance)">
                        <span class="input-group-addon"
                              ng-click="toaster.info('Organisaatio, joka tenttitilan omistaa');">
                            <i class="fa fa-question-circle fa-fw"></i>
                        </span>
                </div>
            </div>
        </div>

        <!-- Working hours & Exam transition time -->
        <div class="row">
            <div class="col-md-6">
                <div class="sitnet-info-text">{{'sitnet_room_working_hours' | translate}}</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.workingHours"
                           ui-change="updateRoom(roomInstance)">
                    <span class="input-group-addon"
                          ng-click="toaster.info('Tenttitilan päivänsisäinen aukioloaika esim. 8-16');">
                        <i class="fa fa-question-circle fa-fw"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sitnet-info-text">{{'sitnet_room_transition_time' | translate}}</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.transitionTime"
                           ui-change="updateRoom(roomInstance)" value="5">
                        <span class="input-group-addon"
                              ng-click="toaster.info('Siirtymäaika tenttien suoritusten välillä, oletuksena 5min');">
                            <i class="fa fa-question-circle fa-fw"></i>
                        </span>
                </div>
            </div>
        </div>

        <!-- Accessibility information -->
        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="roomInstance.accessible" ui-change="updateRoom(roomInstance)"> {{'sitnet_room_accessible' | translate}}
                    </label>
                </div>
                <div class="sitnet-info-text">{{'sitnet_room_accessibility_info' | translate}}</div>
                <div class="input-group">
                    <textarea class="form-control ng-pristine ng-valid" ng-model="roomInstance.accessibilityInfo" ui-change="updateRoom(roomInstance)">
                    </textarea>
                        <span class="input-group-addon"
                              ng-click="toaster.info('Onko tilassa erityisiä esteettömyyteen vaikuttavia tekijöitä?');">
                            <i class="fa fa-question-circle fa-fw"></i>
                        </span>
                </div>
            </div>
        </div>

        <!-- Guidance & Contact person information -->
        <div class="row">
            <div class="col-md-6">
                <div class="sitnet-info-text">{{'sitnet_room_guidance' | translate}}</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.roomInstruction"
                           ui-change="updateRoom(roomInstance)">
                    <span class="input-group-addon"
                          ng-click="toaster.info('Tenttitilan käyttämiseen liittyvä ohjeistus');">
                        <i class="fa fa-question-circle fa-fw"></i>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sitnet-info-text">{{'sitnet_room_contact_person' | translate}}</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.contactPerson"
                           ui-change="updateRoom(roomInstance)">
                        <span class="input-group-addon"
                              ng-click="toaster.info('Ota yhteyttä tähän henkilöön lisätietoa kaivatessasi');">
                            <i class="fa fa-question-circle fa-fw"></i>
                        </span>
                </div>
            </div>
        </div>

        <!-- Video recordings URL -->
        <div class="row">
            <div class="col-md-6">
                <div class="sitnet-info-text">{{'sitnet_room_videorecordings_url' | translate}}</div>
                <div class="input-group">
                    <input type="text" class="form-control ng-pristine ng-valid" ng-model="roomInstance.videoRecordingsURL"
                           ui-change="updateRoom(roomInstance)">
                        <span class="input-group-addon"
                              ng-click="toaster.info('Tästä osoitteesta löytyy tenttihuoneen videokameralla kuvatut otokset');">
                            <i class="fa fa-question-circle fa-fw"></i>
                        </span>
                </div>
            </div>
        </div>

        <!-- Address -->
        <h3>{{'sitnet_exam_room_postal_address' | translate }}</h3>
        <div id="address" class="machines-section" ng-include="addressTemplate">
        </div>

        <!-- Service status -->
        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="roomInstance.outOfService" ng-change="updateRoom(roomInstance)"> {{'sitnet_out_of_service' | translate}}
                    </label>
                </div>
                <div class="sitnet-info-text">{{'sitnet_reason' | translate}}</div>
                <div class="input-group">
                    <textarea class="form-control ng-pristine ng-valid" ng-model="roomInstance.statusComment" ui-change="updateRoom(roomInstance)">
                    </textarea>
                        <span class="input-group-addon"
                              ng-click="toaster.info('Onko tilassa erityisiä esteettömyyteen vaikuttavia tekijöitä?');">
                            <i class="fa fa-question-circle fa-fw"></i>
                        </span>
                </div>
            </div>
        </div>

        <!-- Exam room machines -->
        <div>
            <h3>{{'sitnet_exam_room_machines' | translate }}
                <span>
                    <button ng-click="addNewMachine(roomInstance)" class="btn btn-primary" style="float: right">{{'sitnet_create_new' | translate}}</button>
                </span>
            </h3>
        </div>
        <div id="reservation" class="machines-section" ng-include="machineTemplate" ng-repeat="machine in roomInstance.examMachines"
             style="padding-left: 1em; margin-bottom: 2em">
        </div>

        <!-- Button row -->
        <div class="row">
            <div class="col-md-6 col-md-offset-5">
                <button ng-click="saveRoom(roomInstance)" class="btn btn-primary">{{'sitnet_save' | translate}}</button>
            </div>
        </div>
    </div>
</div>