<div class="row p-2 m-2">
    <div class="col-md-12">
        <div class="review-list-title">
            {{ 'i18n_ongoing_language_inspections' | translate }}
            <span>{{ getInspectionAmounts() }}</span>
            @if (inspections.length > 0) {
                <a (click)="hideItems = !hideItems" class="pointer marl10">
                    <img
                        [hidden]="!hideItems"
                        src="/assets/images/icon_list_show_right.svg"
                        alt=""
                        onerror="this.onerror=null;this.src='/assets/images/icon_list_show_right.png';"
                    />
                    <img
                        [hidden]="hideItems"
                        src="/assets/images/icon_list_show_down.svg"
                        alt=""
                        onerror="this.onerror=null;this.src='/assets/images/icon_list_show_down.png';"
                    />
                </a>
            }
        </div>
    </div>
</div>

<div class="row ms-3" [hidden]="inspections.length > 0">
    <div class="col-md-12">
        <div class="review-no-results">
            <i class="bi-exclamation-circle ps-3 grayish"></i>
            {{ 'i18n_ongoing_language_inspections_no_results' | translate }}
        </div>
    </div>
</div>

<div class="row ms-3" [hidden]="hideItems || inspections.length === 0">
    <div class="col-md-3">
        <div class="input-group">
            <input
                [(ngModel)]="filterText"
                (ngModelChange)="filterTextChanged()"
                class="form-control search"
                placeholder="{{ 'i18n_search' | translate }}"
                ngbPopover="{{ 'i18n_maturity_search_description' | translate }}"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
            />
            <div class="input-group-append search">
                <img class="nopad" src="/assets/images/icon_search.png" width="49" height="40" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="overflow-x: auto">
        <table class="table table-striped exams-table" [hidden]="hideItems">
            <thead>
                <tr>
                    <th class="with-top">
                        <xm-table-sort
                            by="exam.course.code"
                            text="i18n_code"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('exam.course.code')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="answerLanguage"
                            text="i18n_language"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('answerLanguage')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="exam.name"
                            text="i18n_exam_name"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('exam.name')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="ownerAggregate"
                            text="i18n_teachers"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('ownerAggregate')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="created"
                            text="i18n_arrived"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('created')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="studentNameAggregate"
                            text="i18n_student"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('studentNameAggregate')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="exam.created"
                            text="i18n_finished"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('exam.created')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="inspectorNameAggregate"
                            text="i18n_language_inspector"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('inspectorNameAggregate')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">{{ 'i18n_language_inspections' | translate }}</th>
                </tr>
            </thead>

            <tbody>
                @for (
                    inspection of filteredInspections | orderBy: sorting.predicate : sorting.reverse;
                    track inspection
                ) {
                    <tr>
                        <td>
                            @if (inspection.exam.course) {
                                <xm-course-code [course]="inspection.exam.course"></xm-course-code>
                            }
                        </td>
                        <td>
                            {{ inspection.answerLanguage }}
                        </td>
                        <td>
                            <span class="exam-basic-title">
                                {{ inspection.exam.name }}
                            </span>
                        </td>
                        <td>
                            <span>
                                {{ inspection.ownerAggregate }}
                            </span>
                        </td>
                        <td>{{ inspection.created | date: 'dd.MM.yyyy' }}</td>
                        <td>
                            <span>{{ inspection.studentName }}</span>
                            @if (inspection.exam.creator.userIdentifier) {
                                <span>&nbsp;({{ inspection.exam.creator.userIdentifier }})</span>
                            }
                            <span>
                                <br />
                                <a class="pointer smaller" href="mailto:{{ inspection.exam.creator.email }}">{{
                                    inspection.exam.creator.email
                                }}</a>
                            </span>
                        </td>
                        <td>{{ inspection.exam.created | date: 'dd.MM.yyyy' }}</td>
                        @if (inspection.modifier) {
                            <td>
                                <span>{{ inspection.inspectorName }} </span>
                                <span>
                                    <br />
                                    <a class="pointer smaller" href="mailto:{{ inspection.modifier.email }}">{{
                                        inspection.modifier.email
                                    }}</a>
                                </span>
                            </td>
                        }
                        @if (!inspection.modifier) {
                            <td>
                                <span class="text-danger">{{ 'i18n_undefined' | translate }}</span>
                            </td>
                        }
                        @if (inspection.modifier) {
                            <td>
                                <a class="pointer" [routerLink]="['/staff/assessments', inspection.exam.id]">{{
                                    'i18n_view' | translate
                                }}</a>
                            </td>
                        }
                        @if (!inspection.modifier && !user.isAdmin) {
                            <td>
                                <a class="pointer" (click)="assignInspection(inspection)"
                                    >{{ 'i18n_assign_to_me' | translate }}
                                </a>
                            </td>
                        }
                        @if (!inspection.modifier && user.isAdmin) {
                            <td>
                                <span class="text-muted">{{ 'i18n_assign_to_me' | translate }}</span>
                            </td>
                        }
                    </tr>
                }
                @if (filteredInspections.length === 0) {
                    <tr>
                        <td colspan="9">{{ 'i18n_review_no_result' | translate }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
