<div class="main-row">
    <div class="col-md-12">
        <div class="review-list-title">
            {{ 'sitnet_ongoing_language_inspections' | translate }}
            <span>{{ getInspectionAmounts() }}</span>
            <a *ngIf="inspections.length > 0" (click)="hideItems = !hideItems" class="pointer marl10">
                <img
                    [hidden]="!hideItems"
                    src="/assets/images/icon_list_show_right.svg"
                    alt=""
                    onerror="this.onerror=null;this.src='/assets/images/icon_list_show_right.png';"
                />
                <img
                    [hidden]="hideItems"
                    src="/assets/images/icon_list_show_down.svg"
                    alt=""
                    onerror="this.onerror=null;this.src='/assets/images/icon_list_show_down.png';"
                />
            </a>
        </div>
    </div>
</div>

<div class="main-row mar0" [hidden]="inspections.length > 0">
    <div class="col-md-12">
        <div class="review-no-results">
            <i class="bi-exclamation-circle padl20 grayish"></i>
            {{ 'sitnet_ongoing_language_inspections_no_results' | translate }}
        </div>
    </div>
</div>

<div class="main-row mar0" [hidden]="hideItems || inspections.length === 0">
    <div class="col-md-3">
        <div class="input-group">
            <input
                [(ngModel)]="filterText"
                (ngModelChange)="filterTextChanged()"
                class="form-control search"
                placeholder="{{ 'sitnet_search' | translate }}"
                ngbPopover="{{ 'sitnet_maturity_search_description' | translate }}"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
            />
            <div class="input-group-append search">
                <img class="nopad" src="/assets/images/icon_search.png" width="49" height="40" />
            </div>
        </div>
    </div>
</div>
<div class="overflow-x-auto">
    <div class="col-md-12">
        <table class="table table-striped exams-table" [hidden]="hideItems">
            <thead>
                <tr>
                    <th class="with-top">
                        <xm-table-sort
                            by="exam.course.code"
                            text="sitnet_code"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('exam.course.code')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="answerLanguage"
                            text="sitnet_language"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('answerLanguage')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="exam.name"
                            text="sitnet_exam_name"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('exam.name')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="ownerAggregate"
                            text="sitnet_teachers"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('ownerAggregate')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="created"
                            text="sitnet_arrived"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('created')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="studentNameAggregate"
                            text="sitnet_student"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('studentNameAggregate')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="exam.created"
                            text="sitnet_finished"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('exam.created')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="inspectorNameAggregate"
                            text="sitnet_language_inspector"
                            [predicate]="sorting.predicate"
                            [reverse]="sorting.reverse"
                            (click)="setPredicate('inspectorNameAggregate')"
                        >
                        </xm-table-sort>
                    </th>
                    <th class="with-top">{{ 'sitnet_language_inspections' | translate }}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let inspection of filteredInspections | orderBy : sorting.predicate : sorting.reverse">
                    <td>
                        <xm-course-code
                            *ngIf="inspection.exam.course"
                            [course]="inspection.exam.course"
                        ></xm-course-code>
                    </td>
                    <td>
                        {{ inspection.answerLanguage }}
                    </td>
                    <td>
                        <span class="exam-basic-title">
                            {{ inspection.exam.name }}
                        </span>
                    </td>
                    <td>
                        <span>
                            {{ inspection.ownerAggregate }}
                        </span>
                    </td>
                    <td>{{ inspection.created | date : 'dd.MM.yyyy' }}</td>
                    <td>
                        <span>{{ inspection.studentName }}</span>
                        <span *ngIf="inspection.exam.creator.userIdentifier"
                            >&nbsp;({{ inspection.exam.creator.userIdentifier }})</span
                        >
                        <span>
                            <br />
                            <a class="pointer smaller" href="mailto:{{ inspection.exam.creator.email }}">{{
                                inspection.exam.creator.email
                            }}</a>
                        </span>
                    </td>
                    <td>{{ inspection.exam.created | date : 'dd.MM.yyyy' }}</td>
                    <td *ngIf="inspection.modifier">
                        <span>{{ inspection.inspectorName }} </span>
                        <span>
                            <br />
                            <a class="pointer smaller" href="mailto:{{ inspection.modifier.email }}">{{
                                inspection.modifier.email
                            }}</a>
                        </span>
                    </td>
                    <td *ngIf="!inspection.modifier">
                        <span class="text-danger">{{ 'sitnet_undefined' | translate }}</span>
                    </td>
                    <td *ngIf="inspection.modifier">
                        <a class="pointer" [routerLink]="['/staff/assessments', inspection.exam.id]">{{
                            'sitnet_view' | translate
                        }}</a>
                    </td>
                    <td *ngIf="!inspection.modifier && !user.isAdmin">
                        <a class="pointer" (click)="assignInspection(inspection)"
                            >{{ 'sitnet_assign_to_me' | translate }}
                        </a>
                    </td>
                    <td *ngIf="!inspection.modifier && user.isAdmin">
                        <span class="text-muted">{{ 'sitnet_assign_to_me' | translate }}</span>
                    </td>
                </tr>
                <tr *ngIf="filteredInspections.length === 0">
                    <td colspan="9">{{ 'sitnet_review_no_result' | translate }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
