<div id="sitnet-header" class="header">
    <div class="col-md-12 header-wrapper">
        <span class="header-text">{{ 'sitnet_printout_exams' | translate }}</span>
    </div>
</div>
<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <table class="table table-striped table-sm exams-table">
                <thead>
                    <tr>
                        <th>
                            <table-sort
                                [reverse]="reverse"
                                [predicate]="predicate"
                                by="examinationDatesAggregate"
                                text="sitnet_examination_dates"
                                (click)="setPredicate('examinationDatesAggregate')"
                            ></table-sort>
                        </th>
                        <th>
                            <table-sort
                                [reverse]="reverse"
                                [predicate]="predicate"
                                by="course.code"
                                text="sitnet_examcode"
                                (click)="setPredicate('course.code')"
                            ></table-sort>
                        </th>
                        <th>
                            <table-sort
                                [reverse]="reverse"
                                [predicate]="predicate"
                                by="name"
                                text="sitnet_exam_name"
                                (click)="setPredicate('name')"
                            ></table-sort>
                        </th>
                        <th>
                            <table-sort
                                [reverse]="reverse"
                                [predicate]="predicate"
                                by="ownerAggregate"
                                text="sitnet_teachers"
                                (click)="setPredicate('ownerAggregate')"
                            ></table-sort>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let exam of printouts | orderBy: predicate:reverse">
                        <td>{{ exam.examinationDatesAggregate }}</td>
                        <td><course-code [course]="exam.course"></course-code></td>
                        <td>
                            <a
                                class="exams-info-title bold-button"
                                uiSref="staff.printoutListing"
                                [uiParams]="{ id: exam.id }"
                                >{{ exam.name }}</a
                            >
                        </td>
                        <td>
                            <teacher-list [exam]="exam"></teacher-list>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
