<div id="dashboard">
    <div class="row mart10">
        <div class="col-md-12">
            <div class="student-details-title-wrap">
                <history-back></history-back>
                <h1 class="student-exam-details-title">{{ 'sitnet_calendar' | translate }}</h1>
            </div>
        </div>
    </div>

    <!-- Phase 1: Exam Info -->
    <div class="row student-enrolment-wrapper details-view">
        <span class="col-md-12">
            <span class="calendar-phase-title">1. {{ 'sitnet_calendar_phase_1' | translate }}</span>
            <span class="calendar-phase-icon pull-right">
                <img class="arrow_icon" src="/assets/assets/images/icon-phase.png" alt="phase 1" />
            </span>
        </span>
        <div class="col-md-12">
            <div class="calendar-titles">
                <span class="calendar-course-title">{{ examInfo.name }}</span>
                <span *ngIf="examInfo.anonymous">({{ 'sitnet_anonymous_review' | translate }})</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_course_name' | translate }}:</div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                    {{ examInfo.course?.code }} {{ examInfo.course?.name }}
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_exam_validity' | translate }}:</div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                    {{ examInfo.examActiveStartDate | date: 'dd.MM.yyyy' }} -
                    {{ examInfo.examActiveEndDate | date: 'dd.MM.yyyy' }}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_exam_duration' | translate }}:</div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                    {{ printExamDuration(examInfo) }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <span class="student-exam-row-infolink" [hidden]="examInfo.executionType?.type === 'MATURITY'">
                {{ 'sitnet_calendar_instructions' | translate }}:
                <span [innerHtml]="examInfo.enrollInstruction"></span>
            </span>
        </div>
        <div class="col-md-12 mart10">
            <span *ngIf="showReservationWindowInfo()" class="text-info">
                <img class="arrow_icon" src="/assets/assets/images/icon_info.png" alt="info-icon" />
                {{ getReservationWindowDescription() }}
            </span>
        </div>
    </div>

    <!-- Phase 2: optional exam section selection (optional) -->
    <div
        class="row student-enrolment-wrapper details-view"
        *ngIf="examInfo && hasOptionalSections()"
        [ngClass]="sectionSelectionOk() ? '' : 'notactive'"
    >
        <span class="col-md-12">
            <span class="calendar-phase-title"
                >{{ getSequenceNumber('material') }}. {{ 'sitnet_exam_materials' | translate }}</span
            >
            <span class="calendar-phase-icon pull-right">
                <img class="arrow_icon" src="/assets/assets/images/icon-phase.png" alt="phase 1" />
            </span>
        </span>
        <div *ngFor="let section of examInfo.examSections" class="marb20">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <strong>{{ 'sitnet_exam_section' | translate }}:</strong> {{ section.name }}
                    </div>
                    <div class="col-md-6">
                        <div *ngIf="section.optional" class="text text-success">
                            {{ 'sitnet_optional_section' | translate | uppercase }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        {{ section.description }}
                    </div>
                    <div class="col-md-6">
                        <div class="form-check" *ngIf="section.optional">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                value=""
                                [(ngModel)]="section.selected"
                                id="check1"
                                (ngModelChange)="checkSectionSelections()"
                            />
                            <label class="form-check-label" for="check1">
                                {{ 'sitnet_select_optional_section' | translate }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="section.examMaterials.length > 0">
                <div class="col-md-12">
                    <strong>{{ 'sitnet_exam_materials' | translate }}</strong>
                </div>
                <div *ngFor="let material of section.examMaterials">
                    <span class="col-md-12">
                        {{ 'sitnet_name' | translate | uppercase }}: {{ material.name }}
                        <span *ngIf="material.author">
                            {{ 'sitnet_author' | translate | uppercase }}: {{ material.author }}
                        </span>
                        <span *ngIf="material.isbn"> ISBN: {{ material.isbn }} </span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Phase 3: insert org picker here -->
    <div
        class="student-enrolment-wrapper details-view row"
        *ngIf="isExternal"
        [ngClass]="selectedOrganisation ? '' : 'notactive'"
    >
        <span class="col-md-12">
            <span class="calendar-phase-title">
                {{ getSequenceNumber('organization') }}. {{ 'sitnet_choose_institution' | translate }}
                <small>
                    <button class="btn btn-sm btn-success btn-link" (click)="makeInternalReservation()">
                        {{ 'sitnet_internal_reservation' | translate }}&nbsp;
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </small>
            </span>
            <span class="calendar-phase-icon pull-right">
                <img class="arrow_icon" src="/assets/assets/images/icon-phase.png" alt="choose institution" />
            </span>
        </span>
        <div class="col-md-12">
            <div class="row">
                <div class="col-1 student-exam-row-title">
                    <span ngbDropdown>
                        <button
                            style="width:13em;"
                            [disabled]="!sectionSelectionOk()"
                            ngbDropdownToggle
                            class="btn btn-default"
                            type="button"
                            id="dropDownMenu21"
                            aria-haspopup="true"
                            aria-expanded="true"
                        >
                            {{ 'sitnet_faculty_name' | translate }}&nbsp;
                            <span class="caret"></span>
                        </button>
                        <ul
                            ngbDropdownMenu
                            style="padding-left: 0; min-width: 17em"
                            role="menu"
                            aria-labelledby="dropDownMenu21"
                        >
                            <!-- li class="input-group">
                            <input aria-label="search for faculty" [(ngModel)]="limitations.organisations" class="form-control"
                                (click)="$event.stopPropagation()" placeholder="{{'sitnet_search' | translate }}"
                            <div class="input-group-addon">
                                <i class="fa fa-search fa-fw"></i>
                            </div>
                        </li-->
                            <li
                                *ngFor="let org of organisations"
                                [hidden]="org.filtered"
                                role="presentation"
                                (click)="setOrganisation(org)"
                            >
                                <a ngbDropdownItem role="menuitem">{{ org.code }}&nbsp;({{ org.name }})</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Selected organisation  -->
    <div id="calendar" class="row selected-room-container" *ngIf="selectedOrganisation">
        <div class="col-md-12">
            <div class="calendar-room-title">
                <span>{{ selectedOrganisation.name }}&nbsp;({{ selectedOrganisation.code }})</span>
            </div>
        </div>
    </div>

    <!-- Phase 4: Room picker -->
    <div class="row student-enrolment-wrapper details-view" [ngClass]="reservation ? '' : 'notactive'">
        <span class="col-md-12 marb10">
            <span class="calendar-phase-title"
                >{{ getSequenceNumber('room') }}. {{ 'sitnet_calendar_phase_2' | translate }}
                <small>
                    <button
                        class="btn btn-sm btn-link"
                        (click)="makeExternalReservation()"
                        *ngIf="isInteroperable && !isCollaborative && !isExternal"
                    >
                        {{ 'sitnet_external_reservation' | translate }}&nbsp;
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </small>
            </span>
            <span class="calendar-phase-icon pull-right">
                <img class="arrow_icon" src="/assets/assets/images/icon-phase.png" alt="phase 1" />
            </span>
        </span>

        <div class="col-md-12" [hidden]="isExternal">
            <div class="row calendar-accessibility-link">
                <span class="col-md-12">
                    <a *ngIf="sectionSelectionOk()" (click)="showAccs = !showAccs">
                        {{ 'sitnet_calendar_room_accessibility_info' | translate }}
                    </a>
                    <span *ngIf="!sectionSelectionOk()" class="text text-muted">
                        {{ 'sitnet_calendar_room_accessibility_info' | translate }}
                    </span>
                    <img
                        class="arrow_icon"
                        *ngIf="!showAccs"
                        alt="show accessibility selection"
                        src="/assets/assets/images/arrow_right.png"
                    />
                    <img
                        class="arrow_icon"
                        *ngIf="showAccs"
                        alt="hide accessibility selection"
                        src="/assets/assets/images/arrow_down.png"
                    />
                </span>
            </div>
            <div class="row" [hidden]="!showAccs">
                <div class="col-md-12">
                    <div class="calendar-accs-title">Tenttitilan esteettömyysvaatimukset</div>
                </div>
                <div
                    class="col-md-12 calendar-accs-checkboxes"
                    style="display:inline-block; padding-right:10px;"
                    *ngFor="let accessibility of accessibilities"
                >
                    <input
                        aria-label="search for accessibility criteria"
                        type="checkbox"
                        role="presentation"
                        (click)="selectAccessibility(accessibility)"
                        value="{{ accessibility.name | truncate: 30 }}"
                    />
                    {{ accessibility.name | truncate: 30 }}
                </div>
                <!-- TBD div class="calendar-accs-title subi">Tenttikoneen esteettömyysvaatimukset</div>
            <div class="calendar-accs-checkboxes">....</div-->
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1 student-exam-row-title">
                    <span ngbDropdown>
                        <button
                            style="width:13em;"
                            ngbDropdownToggle
                            class="btn btn-default"
                            type="button"
                            id="dropDownMenu1"
                            [disabled]="(isExternal && !selectedOrganisation) || !sectionSelectionOk()"
                        >
                            {{ 'sitnet_room' | translate }}&nbsp;
                            <span class="caret"></span>
                        </button>
                        <ul class="student-select-room" ngbDropdownMenu aria-labelledby="dropDownMenu1">
                            <!--li role="presentation" class="input-group">
                            <input aria-label="search for room" [(ngModel)]="limitations.rooms" class="form-control"
                                (click)="$event.stopPropagation()" placeholder="{{'sitnet_search' | translate }}">
                            <div class="input-group-addon">
                                <i class="fa fa-search fa-fw"></i>
                            </div>
                        </li-->

                            <li
                                *ngFor="let room of rooms"
                                [hidden]="room.filtered"
                                role="presentation"
                                [ngClass]="room.outOfService ? 'disabled' : ''"
                                (click)="selectRoom(room)"
                            >
                                <a
                                    ngbDropdownItem
                                    role="menuitem"
                                    ngbPopover="{{ getDescription(room) }}"
                                    trigger="mouseenter"
                                >
                                    {{ room.name | truncate: 30 }}</a
                                >
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- SELECTED ROOM  -->
    <div id="calendar" class="row selected-room-container" *ngIf="selectedRoom">
        <div class="col-md-12">
            <div class="calendar-room-title">
                <span
                    >{{ selectedRoom.name }}&nbsp;
                    <small class="calendar-room-info-content"
                        >{{ selectedRoom.mailAddress.street }} {{ selectedRoom.mailAddress.zip }}
                        {{ selectedRoom.mailAddress.city }}
                    </small>
                </span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="calendar-room-info">
                <div class="calendar-room-info-title">{{ 'sitnet_room_default_working_hours' | translate }}:</div>
                <div class="calendar-room-info-content">
                    <span *ngFor="let oh of openingHours">
                        {{ oh.name }}: {{ oh.periodText }}
                        <!-- check joining -->
                    </span>
                    <span>({{ selectedRoom.localTimezone }})</span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="calendar-room-info" *ngIf="exceptionHours?.length > 0">
                <div class="calendar-room-info-title">{{ 'sitnet_exception_datetimes' | translate }}:</div>
                <div class="calendar-room-info-content">
                    <span
                        *ngFor="let eh of exceptionHours"
                        [ngClass]="eh.outOfService ? 'text-danger' : 'text-success'"
                        trigger="mouseenter"
                        ngbPopover="{{ eh.description | translate }}"
                    >
                        {{ eh.start }} - {{ eh.end }}
                        <!-- check joining {{ $last ? '' : '| ';}} -->
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="calendar-room-info" *ngIf="getRoomInstructions()">
                <div class="calendar-room-info-title">{{ 'sitnet_instructions' | translate }}:</div>
                <div class="calendar-room-info-content">{{ getRoomInstructions() }}</div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="calendar-room-info" *ngIf="getRoomAccessibility()">
                <div class="calendar-room-info-title">{{ 'sitnet_room_accessibility' | translate }}:</div>
                <div class="calendar-room-info-content">{{ getRoomAccessibility() }}</div>
            </div>
            <hr *ngIf="selectedRoom" />
        </div>
    </div>

    <div class="row booking-calendar-container">
        <div class="col-md-12">
            <booking-calendar
                (onRefresh)="refresh($event)"
                (onEventSelected)="createReservation($event)"
                (onNeedMoreEvents)="refresh($event)"
                [minDate]="minDate"
                [maxDate]="maxDate"
                [visible]="calendarVisible"
                [events]="events"
            >
            </booking-calendar>
        </div>
    </div>

    <!-- Reservation confirmation -->

    <div class="student-enrolment-wrapper details-view phase-three row" [ngClass]="reservation ? '' : 'notactive'">
        <span class="col-md-12 marb10">
            <span class="calendar-phase-title"
                >{{ getSequenceNumber('room') }}. {{ 'sitnet_calendar_phase_2' | translate }}
            </span>
            <span class="calendar-phase-icon pull-right">
                <img class="arrow_icon" src="/assets/assets/images/icon-phase.png" alt="reservation confirmation" />
            </span>
        </span>
        <div class="col-md-12">
            <div class="calendar-titles">
                <span class="calendar-course-title">{{ examInfo.name }}</span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">{{ 'sitnet_course_name' | translate }}:</div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    {{ examInfo.course?.code }} {{ examInfo.course?.name }}
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_exam_validity' | translate }}:</div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    {{ examInfo.examActiveStartDate | date: 'dd.MM.yyyy' }} -
                    {{ examInfo.examActiveEndDate | date: 'dd.MM.yyyy' }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">{{ 'sitnet_examination_location' | translate }}:</div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    {{ reservation?.room }}
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_reservation' | translate }}:</div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    {{ reservation?.time }}
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">{{ 'sitnet_exam_duration' | translate }}:</div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    {{ printExamDuration(examInfo) }}
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="clearfix visible-sm"></div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                    &nbsp;
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <span class="col-md-12">
            <button
                type="button"
                [disabled]="!reservation || confirming"
                class="btn btn-primary pull-right"
                (click)="confirmReservation()"
            >
                {{ 'sitnet_student_confirm_reservation' | translate }}
            </button>
            <a uiSref="dashboard">
                <button type="button" class="btn btn-secondary pull-right marr10">
                    {{ 'sitnet_button_cancel' | translate }}
                </button>
            </a>
        </span>
    </div>
</div>
