<div id="feedback" [hidden]="hasGoneThroughLanguageInspection()">
    <div cdkDrag id="draggable" class="wrapper">
        <div class="row">
            <div
                class="col-md-1"
                ngbPopover="{{ hideEditor ? 'sitnet_show' : ('sitnet_hide' | translate) }}"
                placement="right"
                delay="500"
                triggers="mouseenter:mouseleave"
            >
                <i
                    (click)="toggleEditorVisibility()"
                    class="pointer vcenter font-6"
                    [ngClass]="
                        hideEditor ? 'bi-arrow-right-circle-fill sitnet-green' : 'bi-arrow-down-circle-fill sitnet-red'
                    "
                >
                </i>
            </div>
            <div class="col-md-11">
                <div class="vcenter">
                    {{ 'sitnet_give_statement' | translate }}
                </div>
            </div>
        </div>
        <div class="row editor" [hidden]="hideEditor">
            <div class="col-md-12">
                <ckeditor
                    [enableClozeTest]="false"
                    [(ngModel)]="statement"
                    (ngModelChange)="onChange($event)"
                    #ck="ngModel"
                    name="ck"
                ></ckeditor>
            </div>
        </div>
        <div class="row" [hidden]="hideEditor">
            <div class="col-md-2">
                <button class="btn btn-default" (click)="saveInspectionStatement()">
                    {{ 'sitnet_save' | translate }}
                </button>
            </div>
            <div class="col-md-10">
                <div class="pull-right">
                    <span *ngIf="exam.languageInspection?.statement?.attachment">
                        <a class="pointer" (click)="downloadStatementAttachment()">{{
                            exam.languageInspection?.statement?.attachment?.fileName
                        }}</a>
                        <span class="sitnet-red pointer" (click)="removeStatementAttachment()">
                            <i class="bi-x" title="{{ 'sitnet_remove_attachment' | translate }}"></i>
                        </span>
                    </span>
                    <button type="button" class="btn btn-default" (click)="selectFile()">
                        {{ 'sitnet_attach_file' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
