<!-- SECTION NAVIGATION ARROWS AND LABELS -->
<div class="row exam-navigation">
    <span class="col-md-12">
        <!-- PREVIOUS SECTION BUTTON -->
        <a
            class="green_button previous"
            [hidden]="!prev.valid"
            tabindex="0"
            (click)="previousPage()"
            (keyup.enter)="previousPage()"
        >
            <img class="arrow_icon" alt="previous page" src="/assets/assets/images/icon_left_white.png" />
            {{ prev.text | translate }}
        </a>
        <!-- NEXT SECTION BUTTON -->
        <a class="green_button" [hidden]="!next.valid" (click)="nextPage()" tabindex="0" (keyup.enter)="nextPage()"
            >{{ next.text | translate }}
            <img class="arrow_icon" alt="next page" src="/assets/assets/images/icon_right_white.png" />
        </a>
    </span>
</div>
