<div id="sitnet-dialog">
    <div class="student-details-title-wrap mart20">
        <div class="student-enroll-title">{{ 'sitnet_exam_validity' | translate }}</div>
    </div>
    <div class="modal-body mx-4">
        <div id="dashboard">
            <div>
                <label for="archive-download-start">{{ 'sitnet_begin' | translate }}:</label>
                <date-picker id="archive-download-start" (updated)="startDateChanged($event)"></date-picker>
            </div>
            <div>
                <label for="archive-download-end">{{ 'sitnet_end' | translate }}:</label>
                <date-picker id="archive-download-end" (updated)="endDateChanged($event)"></date-picker>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="cancel()">
            {{ 'sitnet_button_cancel' | translate }}
        </button>
        <button class="btn btn btn-success" (click)="ok()">
            {{ 'sitnet_search' | translate }}
        </button>
    </div>
</div>
