<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-enroll-title-wrap">
                <div class="student-enroll-title">{{ 'sitnet_no_shows' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="row mart40 padl30" *ngIf="noShows.length === 0">
        <div class="review-no-results">
            <i class="bi-exclamation-circle padl20 grayish"></i> {{ 'sitnet_exam_no_shows' | translate }}
        </div>
    </div>

    <div class="row review-no-show" *ngIf="noShows.length > 0">
        <table class="table table-striped exams-table">
            <thead>
                <tr>
                    <th>
                        <table-sort
                            [reverse]="reverse"
                            [predicate]="noShowPredicate"
                            by="displayName"
                            text="sitnet_student"
                            (click)="setPredicate('displayName')"
                        ></table-sort>
                    </th>
                    <th>
                        <table-sort
                            [reverse]="reverse"
                            [predicate]="noShowPredicate"
                            by="user.email"
                            text="sitnet_email"
                            (click)="setPredicate('user.email')"
                        ></table-sort>
                    </th>
                    <th>
                        <!-- reservation vs eventconfig-->
                        <table-sort
                            [reverse]="reverse"
                            [predicate]="noShowPredicate"
                            by="reservation.startAt"
                            text="sitnet_reservation"
                            (click)="setPredicate('reservation.startAt')"
                        ></table-sort>
                    </th>
                    <th>{{ 'sitnet_exam_state' | translate }}</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let noShow of noShows | orderBy: noShowPredicate:reverse">
                    <td class="table-column-examname">
                        {{ noShow.displayName }}
                        <span *ngIf="noShow.user?.userIdentifier"><br />({{ noShow.user?.userIdentifier }})</span>
                    </td>
                    <td class="table-column-25">
                        <a class="pointer" href="mailto:{{ noShow.user?.email }}"> {{ noShow.user?.email }}</a>
                    </td>
                    <td class="table-column-25" *ngIf="noShow.reservation">
                        {{ noShow.reservation.startAt | applyDst | date: 'dd.MM.yyyy' }}
                        {{ 'sitnet_clock_short' | translate }}
                        {{ noShow.reservation.startAt | applyDst | date: 'HH:mm' }} -
                        {{ noShow.reservation.endAt | applyDst | date: 'HH:mm' }}
                    </td>
                    <td class="table-column-25" *ngIf="noShow.examinationEventConfiguration">
                        {{ noShow.examinationEventConfiguration.examinationEvent.start | date: 'dd.MM.yyyy' }}
                        {{ 'sitnet_clock_short' | translate }}
                        {{ noShow.examinationEventConfiguration.examinationEvent.start | date: 'HH:mm' }} -
                        {{
                            noShow.examinationEventConfiguration.examinationEvent.start + noShow.exam.duration
                                | applyDst
                                | date: 'HH:mm'
                        }}
                    </td>
                    <td class="table-column-15" class="sitnet-text-aborted">
                        {{ 'sitnet_exam_status_no_show' | translate }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Buttons -->
    <div class="row padl0 padr0 marb20 marr30 mart20 d-flex justify-content-end">
        <div class="review-attachment-button make-inline">
            <a class="pointer preview" (click)="cancel()">
                {{ 'sitnet_button_cancel' | translate }}
            </a>
        </div>
    </div>
</div>
