<div class="detail-row marb20 mart20">
    <div class="col-md-12 general-info-title">{{ 'sitnet_inspector_comments' | translate }}:</div>
</div>

<div *ngFor="let comment of exam.inspectionComments" class="col-md-12 padl0 marb20">
    <div class="col-md-4">
        {{ comment.creator.firstName }} {{ comment.creator.lastName }}
        <small>({{ comment.creator.email }})</small>
        <br />
        {{ comment.created | date: 'dd.MM.yyyy HH:mm' }}
    </div>
    <div class="col-md-8">
        {{ comment.comment }}
    </div>
</div>

<div class="main-row">
    <span class="col-md-12">
        <div class="review-attachment-button exam-questions-buttons">
            <button
                class="btn btn-link"
                *ngIf="addingVisible"
                [disabled]="addingDisabled"
                (click)="addInspectionComment()"
            >
                {{ 'sitnet_inspection_comment_title' | translate }}
            </button>
        </div>
        <sup>
            <img
                ngbPopover="{{ 'sitnet_inspection_comment_info' | translate }}"
                placement="right"
                triggers="mouseenter:mouseleave"
                src="/assets/assets/images/icon_tooltip.svg"
                alt="{{ 'sitnet_inspection_comment_info' | translate }}"
                onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
            />
        </sup>
    </span>
</div>
