<div class="sitnet-info-text">
    <span class="sitnet-info-text"><i> {{'sitnet_essay_length_recommendation' | translate}}</i></span>
    <label ng-hide="questionForm.maxCharacters.$valid"> kentän arvon on oltava numero ja suurempi kuin 0</label>

    <div class="input-group">
        <input name="maxCharacters" type="number" class="form-control" ng-model="newQuestion.maxCharacters"
               ui-change="estimateWords(); questionForm.maxCharacters.$valid ? updateQuestion() : false" min="1" required>
        <span class="input-group-addon" title="Suomen kielessä sanan keskimääräinen pituus on: 7.5 merkkiä">
            {{'sitnet_approximately' | translate}} {{estimateWords()}} {{'sitnet_words' | translate}}</span>
    </div>
</div>