<div ng-repeat="option in newQuestion.options"></div>
<div class="question-editor-option">
    <div class="row">
        <div class="col-md-1">
            <div class="form-group" ng-click="radioChecked(option)" ng-show="showName" >
                <div id={{option.id}} name={{newQuestion.question}} class="list-group-item-text">
                    <i class="fa fa-arrows fa-2x"></i>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <input type="text" focus-on="opt{{option.id}}" class="form-group editable multiplechoice-question-input"
                ng-model="option.option" ui-blur="updateOption(option)" placeholder="{{'sitnet_question_new_option' | translate}}" onclick="select();">
        </div>

        <div class="col-md-2">
            <div class="answer-state"
                  ng-class="{'correct-answer': option.correctOption, 'wrong-answer': !option.correctOption}"
                  ng-click="correctAnswerToggled(option.id, newQuestion)" ng-model="answerState">
                {{option.correctOption ? ('sitnet_multiplechoice_question_correct' | translate) : ('sitnet_multiplechoice_question_incorrect' | translate)}}
            </div>
        </div>

        <div class="col-md-1">
            <div ng-click="removeOption(option)" class="pull-right fa-2x">
                <i class="fa fa-times fa-1_5x pull-right pointer" title="Poista"></i>
            </div>
        </div>
    </div>
</div>