<div id="question-editor" ng-controller="QuestionCtrl">
    <div id="sitnet-header" class="header">
        <div class="header-wrapper col-md-9">
                <span ng-show="newQuestion.state == 'NEW' ? true : false" class="header-text">{{'sitnet_questions_new' | translate}}</span>
                <span ng-hide="newQuestion.state == 'NEW' ? true : false" class="header-text">{{'sitnet_questions_edit' | translate}}</span>
        </div>
        <div class="header-wrapper col-md-3">
                <a ng-click="copyQuestion(newQuestion)" class="btn btn-primary btn-lg active header-button"> {{'sitnet_question_copy' | translate}} </a>
        </div>
    </div>
    <div class="row">
        <div class="question-editor-form" style="padding: 2em">
            <div class="col-md-12">
                <form name="questionForm" novalidate style="margin-bottom: 2em">
                    <!--Commented out: SIT-414-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-12">-->
                            <!--<div class="sitnet-info-text">-->
                                <!--<div class="checkbox">-->
                                    <!--<label>-->
                                        <!--<br>-->
                                        <!--<input type="checkbox" ng-model="newQuestion.shared" ui-change="updateQuestion()"> {{'sitnet_share_this_question' | translate}}-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<br>-->
                    <!--<div class="row">-->
                        <!--<div class="sitnet-info-text col-md-12">-->
                            <!--{{'sitnet_question_type' | translate}}-->
                            <!--<select  class="form-control" ng-model="selectedType" ng-change="setQuestionType()"-->
                                     <!--ng-options="key as value for (key, value) in questionTypes"  >-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<br>-->

                    <!-- Question header -->
                    <div class="row">
                        <div class="col-md-12">
                            <textarea ck-editor rows="10" cols="80" ng-model="newQuestion.question" ui-change="updateQuestion()" placeholder="{{'sitnet_question_write_name' | translate}}">
                            </textarea>
                        </div>
                    </div>

                    <hr>
                        <div ng-include="questionTemplate"></div>
                    <hr>


                    <!-- Question fields -->

                    <!-- Essay -->
                    <div ng-show="selectedType == 'EssayQuestion'">
                        <div class="sitnet-info-text">
                            {{'sitnet_evaluation_type' | translate}}
                            <div class="row">
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="newQuestion.evaluationType"
                                        ui-change="updateQuestion(); questionForm.evaluationType.$valid ? updateQuestion() : false" required ng-pattern="/^(?!\s*$).+/">
                                        <option value="Points">{{ 'sitnet_word_points' | translate }}</option>
                                        <option value="Select">{{ 'sitnet_evaluation_select' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- POINTS -->
                        <div class="sitnet-info-text" ng-show="selectedType == 'EssayQuestion' && newQuestion.evaluationType == 'Points'">
                            {{'sitnet_max_score' | translate}}
                            <label ng-hide="questionForm.maxScore.$valid"> kentän arvon on oltava numero ja suurempi kuin 0</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <input name="maxScore" type="number" class="col-md-2 form-control" ng-model="newQuestion.maxScore"
                                           ng-change="checkMaxPoints(newQuestion.maxScore)" ui-change="questionForm.maxScore.$valid ? updateQuestion() : false"
                                           min="1" required>
                                </div>
                            </div>
                        </div>
                        <!-- SELECT -->
                        <div class="sitnet-info-text" ng-show="selectedType == 'EssayQuestion' && newQuestion.evaluationType == 'Points'" ng-model="newQuestion.maxScore">
                        </div>
                    </div>

                    <!-- Multi -->
                    <div ng-show="selectedType == 'MultipleChoiceQuestion'">
                        <div class="sitnet-info-text">
                            {{'sitnet_max_score' | translate}}
                            <label ng-hide="questionForm.maxScore.$valid"> kentän arvon on oltava numero</label>
                            <div class="row">
                                <div class="col-md-2">
                                    <input name="maxScore" type="text" class="col-md-2 form-control" ng-model="newQuestion.maxScore"
                                           ui-change="questionForm.maxScore.$valid ? updateQuestion() : false" required ng-pattern="/^\d*(\.\d+)?$/">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sitnet-info-text">
                        {{'sitnet_instruction' | translate}}
                        <textarea class="form-control" rows="3" ng-model="newQuestion.instruction" ui-change="updateQuestion()"
                               placeholder="{{'sitnet_question_instruction' | translate}}">
                        </textarea>
                    </div>

                    <div class="sitnet-info-text">
                        {{'sitnet_exam_evaluation_criteria' | translate}}
                        <textarea class="form-control" rows="3" ng-model="newQuestion.evaluationCriterias" ui-change="updateQuestion()"
                                  placeholder="{{'sitnet_correct_answer_should_have' | translate}}">
                        </textarea>
                    </div>
                    <div ng-controller="AttachmentController">
                        <div class="sitnet-info-text">
                            {{'sitnet_question_attachment' | translate}}
                        </div>
                        <div ng-show="newQuestion.attachment !== null">
                            <a class="pointer" ng-click="downloadQuestionAttachment(newQuestion)">{{newQuestion.attachment.fileName}}  </a>
                            <span class="sitnet-red pointer" ng-click="removeQuestionAttachment(newQuestion)"> <i class="fa fa-times" title="{{'sitnet_remove_attachment' | translate }}"></i></span>
                        </div>
                        <br>
                        <button ng-click="selectFile()" class="btn btn-primary pull-left">{{'sitnet_attach_file' | translate}}</button>
                    </div>

                     <!--ng-show="selectedType"-->
                    <div class="row base bottom-padding-2" style="padding:2em 0;">
                        <hr>
                        <div class="col-md-1 col-md-offset-11">
                            <button ng-disabled="!questionForm.$valid" ng-click="saveQuestion(); go(returnURL)"
                                    type="submit" class="btn btn-success">{{'sitnet_save' | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Question Library-->
        <!--<div ng-include="libraryTemplate">-->
        <!--</div>-->
        <!--<div ng-include="libraryTemplate" ng-class="session.minimizeLibrary ? 'col-md-1' : 'col-md-4'">-->
    </div>
</div>
