<div id="question-editor" ng-controller="QuestionCtrl">
    <div id="sitnet-header" class="header">
        <div class="header-wrapper col-md-9">
                <div ng-show="newQuestion.state == 'NEW' ? true : false">
                    <span ng-show="selectedType == 'EssayQuestion'" class="header-text">{{'sitnet_questions_new_essay' | translate}}</span>
                    <span ng-show="selectedType == 'MultipleChoiceQuestion'" class="header-text">{{'sitnet_questions_new_multiplechoice' | translate}}</span>
                </div>
                <span ng-hide="newQuestion.state == 'NEW' ? true : false" class="header-text">{{'sitnet_questions_edit' | translate}}</span>
        </div>
        <div class="header-wrapper col-md-3">
                <a ng-click="copyQuestion(newQuestion)" class="btn btn-primary btn-lg active header-button"> {{'sitnet_question_copy' | translate}} </a>
        </div>
    </div>
    <div class="row">
        <div class="question-editor-form" style="padding: 2em">
            <div class="col-md-12">
                <form name="questionForm" novalidate style="margin-bottom: 2em">
                    <!-- Question header -->
                    <label ng-hide="questionForm.editor.$valid">
                        <span style="color: red">{{ 'sitnet_write_question_below' | translate }}</span>
                    </label>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea name="editor" ck-editor rows="10" cols="80" ng-model="newQuestion.question"
                                      ui-change="updateQuestion()"
                                      required placeholder="{{'sitnet_question_write_name' | translate}}">
                            </textarea>
                        </div>
                    </div>

                    <hr>
                        <div ng-include="questionTemplate"></div>
                    <hr>


                    <!-- Question fields -->

                    <!-- EVALUATION TYPE-->
                    <div ng-show="selectedType == 'EssayQuestion'">
                        <div class="sitnet-info-text">
                            {{'sitnet_evaluation_type' | translate}}
                            <div class="row">
                                <div class="col-md-3">
                                    <select class="form-control" ng-model="newQuestion.evaluationType"
                                            ng-change="updateQuestion()" ng-required="selectedType == 'EssayQuestion'">
                                        <option value="Points">{{ 'sitnet_word_points' | translate }}</option>
                                        <option value="Select">{{ 'sitnet_evaluation_select' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- POINTS -->
                    <div ng-show="selectedType == 'MultipleChoiceQuestion' ||  newQuestion.evaluationType == 'Points'">
                        <div class="sitnet-info-text">
                            {{'sitnet_max_score' | translate}}
                            <label ng-hide="questionForm.maxScore.$valid">{{ 'sitnet_positive_integer_required'
                                |translate }}</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <input name="maxScore" type="text" class="col-md-2 form-control"
                                           ui-change="updateQuestion()"
                                           ng-model="newQuestion.maxScore"
                                           ng-pattern="/^([1-9][0-9]*)$/"
                                           ng-required="newQuestion.evaluationType=='Points'">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sitnet-info-text">
                        {{'sitnet_instruction' | translate}}
                        <textarea class="form-control" rows="3" ng-model="newQuestion.instruction" ui-change="updateQuestion()"
                               placeholder="{{'sitnet_question_instruction' | translate}}">
                        </textarea>
                    </div>

                    <div class="sitnet-info-text">
                        {{'sitnet_exam_evaluation_criteria' | translate}}
                        <textarea class="form-control" rows="3" ng-model="newQuestion.evaluationCriterias" ui-change="updateQuestion()"
                                  placeholder="{{'sitnet_correct_answer_should_have' | translate}}">
                        </textarea>
                    </div>

                    <div ng-controller="AttachmentController">
                        <div class="row sitnet-info-text">
                            <div class="col-md-3">{{ 'sitnet_question_attachment' | translate }}</div>
                            <div class="col-md-9">
                                <button ng-click="selectFile()"
                                    class="btn btn-primary">{{ 'sitnet_attach_file' | translate }}
                                </button>
                            </div>
                        </div>
                        <div ng-show="newQuestion.attachment !== null" class="row col-md-12">
                            <a class="pointer"
                               ng-click="downloadQuestionAttachment(newQuestion)">{{ newQuestion.attachment.fileName }}</a>
                            <span class="sitnet-red pointer"
                               ng-click="removeQuestionAttachment(newQuestion)">
                                <i class="fa fa-times" title="{{'sitnet_remove_attachment' | translate }}"></i>
                            </span>
                        </div>
                    </div>

                     <!--ng-show="selectedType"-->
                    <div class="row base bottom-padding-2" style="padding:2em 0;">
                        <hr>
                        <div class="col-md-0 col-md-offset-0">
                            <button ng-disabled="!questionForm.$valid" ng-click="saveQuestion(); go(returnURL)"
                                    type="submit" class="btn btn-success">{{'sitnet_save' | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Question Library-->
        <!--<div ng-include="libraryTemplate">-->
        <!--</div>-->
        <!--<div ng-include="libraryTemplate" ng-class="session.minimizeLibrary ? 'col-md-1' : 'col-md-4'">-->
    </div>
</div>
