<div id="sitnet-header" class="header">
    <div class="header-wrapper">
        <span class="header-text">{{ 'sitnet_examination_location' | translate }}</span>
    </div>
</div>
<div id="dashboard" *ngIf="room">
    <div class="main-row">
        <div class="col-md-12">
            <form role="form" #roomForm="ngForm" name="roomForm" novalidate id="roomForm">
                <div class="row">
                    <span class="col-md-6">
                        <span [hidden]="!showName" onclick="document.getElementById('name_field').select();">
                            <span class="room-name" (click)="showName = !showName">
                                {{ room.name || 'sitnet_no_name' | translate }}
                                <i class="fa fa-pencil"></i>
                            </span>
                            <a
                                class="room-name"
                                (click)="disableRoom()"
                                placement="left"
                                triggers="mouseenter:mouseleave"
                                ngbPopover="{{ 'sitnet_inactivate_room' | translate }}"
                            >
                                <i class="sitnet-red fa fa-times"></i>
                            </a>
                        </span>
                        <span [hidden]="showName">
                            <span class="form-group">
                                <input
                                    id="name_field"
                                    type="text"
                                    name="name"
                                    class="form-control input-lg"
                                    [(ngModel)]="room.name"
                                    required
                                    pattern="/^(?!\s*$).+/"
                                    (blur)="showName = !showName; validateInputAndUpdateRoom($event)"
                                />
                            </span>
                            <button class="btn-primary" (click)="showName = !showName; validateAndUpdateRoom()">
                                <i class="fa fa-check"></i>
                            </button>
                        </span>
                    </span>
                </div>
                <!-- Room Code & Building name -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="sitnet-info-text">{{ 'sitnet_room_code' | translate }}</div>
                        <div class="input-group">
                            <input
                                type="text"
                                name="roomCode"
                                class="form-control ng-pristine ng-valid"
                                [(ngModel)]="room.roomCode"
                                required
                                (blur)="validateInputAndUpdateRoom($event)"
                            />
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i
                                        class="fa fa-question-circle"
                                        placement="left"
                                        triggers="mouseenter:mouseleave"
                                        ngbPopover="{{ 'sitnet_exam_room_unique_code' | translate }}"
                                    ></i>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="sitnet-info-text">{{ 'sitnet_room_building_name' | translate }}</div>
                        <div class="input-group">
                            <input
                                type="text"
                                name="buildingName"
                                class="form-control ng-pristine ng-valid"
                                [(ngModel)]="room.buildingName"
                                (blur)="updateRoom()"
                            />
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i
                                        class="fa fa-question-circle "
                                        placement="left"
                                        triggers="mouseenter:mouseleave"
                                        ngbPopover="{{ 'sitnet_building_where_the_machine_is' | translate }}"
                                    ></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Campus & Organization name -->
                    <div class="bottom-padding-2">
                        <div class="col-md-6">
                            <div class="sitnet-info-text">{{ 'sitnet_room_campus' | translate }}</div>
                            <div class="input-group">
                                <input
                                    type="text"
                                    name="campus"
                                    class="form-control ng-pristine ng-valid"
                                    [(ngModel)]="room.campus"
                                    (blur)="updateRoom()"
                                />
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i
                                            class="fa fa-question-circle"
                                            placement="left"
                                            triggers="mouseenter:mouseleave"
                                            ngbPopover="{{ 'sitnet_campus_where_room_is' | translate }}"
                                        ></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- IOP -->
    <div class="row" [hidden]="editingMultipleRooms || !isInteroperable">
        <div class="col">
            <div class="form-check">
                <div class="col">
                    <label>
                        <input
                            type="checkbox"
                            class="form-check-input"
                            [(ngModel)]="room.availableForExternals"
                            (change)="updateInteroperability()"
                        />
                        <strong>{{ 'sitnet_interoperable' | translate }}</strong>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- AVAILABILITY TODO: MOVE TO A TAB -->
    <div class="top-row" *ngIf="room">
        <div class="col-md-12">
            <a uiSref="availability" [uiParams]="{ id: room.id }">{{ 'sitnet_reservations_new' | translate }}</a>
        </div>
    </div>

    <div class="top-row">
        <h3 class="col-md-12 header-text">{{ 'sitnet_room_default_working_hours' | translate }}</h3>
    </div>
    <div class="bottom-row">
        <open-hours *ngIf="room" class="col-md-12" [week]="week" (onSelect)="updateWorkingHours()"></open-hours>
    </div>

    <starting-time *ngIf="room" [startingHours]="room.examStartingHours" [roomIds]="[room.id]"></starting-time>

    <exception-list
        *ngIf="room"
        [room]="room"
        (onCreate)="addException($event)"
        (onDelete)="deleteException($event)"
    ></exception-list>
    <!-- Accessibility information -->
    <div class="detail-row">
        <accessibility-selector *ngIf="room" [room]="room"></accessibility-selector>
    </div>

    <!-- Guidance & Contact person information -->
    <div class="detail-row">
        <div class="col-md-6">
            <div class="sitnet-info-text">{{ 'sitnet_room_guidance' | translate }}</div>
            <div class="input-group">
                <textarea
                    class="form-control ng-pristine ng-valid"
                    [(ngModel)]="room.roomInstruction"
                    (blur)="updateRoom()"
                    placeholder="fin"
                >
                </textarea>
                <textarea
                    class="form-control ng-pristine ng-valid"
                    [(ngModel)]="room.roomInstructionEN"
                    (blur)="updateRoom()"
                    placeholder="eng"
                >
                </textarea>
                <textarea
                    class="form-control ng-pristine ng-valid"
                    [(ngModel)]="room.roomInstructionSV"
                    (blur)="updateRoom()"
                    placeholder="swe"
                >
                </textarea>
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="fa fa-question-circle"
                            placement="left"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'sitnet_instructions_for_use_of_room' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="sitnet-info-text">{{ 'sitnet_room_contact_person' | translate }}</div>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control ng-pristine ng-valid"
                    [(ngModel)]="room.contactPerson"
                    (blur)="updateRoom()"
                />
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="fa fa-question-circle"
                            placement="left"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'sitnet_person_to_contact_if_need_info' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>
    </div>

    <!-- Video recordings URL -->
    <div class="detail-row">
        <div class="col-md-6">
            <div class="sitnet-info-text">{{ 'sitnet_room_videorecordings_url' | translate }}</div>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control ng-pristine ng-valid"
                    [(ngModel)]="room.videoRecordingsURL"
                    (blur)="updateRoom()"
                />
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="fa fa-question-circle"
                            placement="left"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'sitnet_address_for_camera_footage_from_this_room' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>
    </div>

    <!-- Postal address-->
    <div class="main-row">
        <div class="col-md-12">
            <!-- Address -->
            <h3>{{ 'sitnet_exam_room_address' | translate }}</h3>

            <exam-address [address]="room.mailAddress"></exam-address>
        </div>
    </div>

    <!-- Service status -->
    <div class="top-row">
        <div class="col-md-12">
            <label>
                <input class="mr-2" type="checkbox" [(ngModel)]="room.outOfService" (change)="updateRoom()" />
                <strong>{{ 'sitnet_out_of_service' | translate }}</strong>
            </label>
        </div>
    </div>
    <div class="detail-row">
        <div class="col-md-12 sitnet-info-text">{{ 'sitnet_reason' | translate }}</div>
    </div>
    <div class="bottom-row">
        <div class="col-md-6">
            <div class="input-group">
                <textarea
                    [disabled]="!room.outOfService"
                    class="form-control ng-pristine ng-valid"
                    [(ngModel)]="room.statusComment"
                    (blur)="updateRoom()"
                >
                </textarea>
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="fa fa-question-circle"
                            placement="left"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'sitnet_room_accessibility_features' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>
    </div>

    <!-- Button row -->
    <div class="main-row">
        <div class="col-md-12">
            <button [disabled]="!roomForm.valid" (click)="saveRoom()" class="btn btn-primary">
                {{ 'sitnet_save' | translate }}
            </button>
        </div>
    </div>
</div>
