/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@use '../shared/definitions.scss' as shared;

.student-enrolment-date-box {
    // waitinroom, active-enrolment
    border: 2px solid #ededed;
    border-radius: 3px;
    text-align: center;
    vertical-align: top;
    padding: 3px;
    font-weight: bold;
    font-size: 20px;
    width: 46px;
    line-height: 16px;
    margin-right: 15px;

    .month-name {
        font-size: 14px;
    }
}

.exam-title-button {
    font-size: 16px;
    font-weight: 500;
    color: shared.$exam-blue;
    background: transparent;
    border: none;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 6px;

    &:hover,
    &:focus {
        color: white;
        background-color: shared.$exam-blue;
    }

    .arrow_icon {
        margin-left: 8px;
        filter: invert(42%) sepia(40%) saturate(459%) hue-rotate(166deg) brightness(89%) contrast(85%);
        transition: all 0.3s ease;
    }

    &:hover .arrow_icon,
    &:focus .arrow_icon {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
}