<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>{{title}}</p>
    <ul>
        <li>{{exam_info}}</li>
        <li>{{teacher_name}}</li>
        <li>{{reservation_date}}</li>
        <li>{{exam_duration}}</li>
        <li>{{building_info}}</li>
        <li>{{room_name}}</li>
        <li>{{machine_name}}</li>
        <li style="visibility:{{hide_sections}}">{{exam_sections}}</li>
    </ul>
    <p>{{room_instructions}}</p>
    <p>{{cancellation_info}} <a href="{{cancellation_link}}">{{cancellation_link_text}}</a></p>
</body>
</html>
