<!doctype html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
        <p>{{message}}</p>

        {{previousTimeslot}}:
        <ul>
            <li>{{previousTimeslotRange}}</li>
            <li>{{previousMachineName}}</li>
            <li>{{previousRoom}}</li>
            <li>{{previousBuilding}}</li>
        </ul>

        {{currentTimeslot}}:
        <ul>
            <li>{{currentTimeslotRange}}</li>
            <li>{{currentMachineName}}</li>
            <li>{{currentRoom}}</li>
            <li>{{currentBuilding}}</li>
        </ul>

        <p>{{cancellationInfo}} <a href="{{cancellationLink}}">{{cancellationLinkText}}</a></p>
    </body>
</html>
