<xm-page-header text="i18n_exam_review" [history]="true" [appendTemplate]="printButton" />
@if (exam) {
    <xm-page-content [content]="content" />
}
<ng-template #printButton>
    <button (click)="print()" class="xm-ok-button float-end">
        {{ 'i18n_print' | translate }}<i class="bi bi-printer ps-2"></i>
    </button>
</ng-template>
<ng-template #content>
    <h3>
        @if (exam.course) {
            <xm-course-code [course]="exam.course"></xm-course-code> -
        }
        {{ exam.name }}
        <a class="pointer" (click)="hideGeneralInfo = !hideGeneralInfo">
            @if (hideGeneralInfo) {
                <img src="/assets/images/icon_list_show_right.svg" alt="" />
            }
            @if (!hideGeneralInfo) {
                <img src="/assets/images/icon_list_show_down.svg" alt="" />
            }
        </a>
    </h3>
    <!-- General Information -->
    <div class="row" [ngbCollapse]="hideGeneralInfo">
        <div class="col-12">
            <xm-r-general-info
                [participation]="participation"
                [exam]="exam"
                [collaborative]="collaborative"
            ></xm-r-general-info>
        </div>
    </div>

    <!-- Sections -->
    @for (section of exam.examSections | orderBy: 'sequenceNumber'; track section; let index = $index) {
        <xm-r-section
            [section]="section"
            [participation]="participation"
            [exam]="exam"
            [collaborative]="collaborative"
            (scored)="scoreSet($event)"
            [index]="index + 1"
            [isScorable]="(!isGraded() || isOwnerOrAdmin()) && !isReadOnly()"
        >
        </xm-r-section>
    }

    <!-- Grading -->
    <h4 class="row mt-2">
        <div class="col-12">
            {{ 'i18n_grading_info' | translate }}
            <a (click)="hideGradeInfo = !hideGradeInfo">
                @if (hideGradeInfo) {
                    <img src="/assets/images/icon_list_show_right.svg" alt="" />
                }
                <img [hidden]="hideGradeInfo" src="/assets/images/icon_list_show_down.svg" alt="" />
            </a>
        </div>
    </h4>

    <div class="row" [ngbCollapse]="hideGradeInfo">
        <div class="col-12">
            @if (exam && !exam.subjectToLanguageInspection) {
                <xm-r-grading
                    [exam]="exam"
                    [questionSummary]="questionSummary"
                    [participation]="participation"
                    [collaborative]="collaborative"
                    [user]="user"
                    (updated)="gradingUpdated()"
                >
                </xm-r-grading>
            }
            @if (exam && exam.executionType.type === 'MATURITY' && exam.subjectToLanguageInspection) {
                <xm-r-maturity-grading
                    (updated)="gradingUpdated()"
                    [user]="user"
                    [exam]="exam"
                    [questionSummary]="questionSummary"
                >
                </xm-r-maturity-grading>
            }
        </div>
    </div>

    <!-- Floating feedback window -->
    @if (exam.examFeedback && !isUnderLanguageInspection()) {
        <xm-r-feedback
            [exam]="exam"
            [collaborative]="collaborative"
            [participation]="participation"
            [hidden]="(isGraded() && !isOwnerOrAdmin()) || isReadOnly()"
        >
        </xm-r-feedback>
    }
    @if (exam && isUnderLanguageInspection()) {
        <xm-r-statement [exam]="exam"></xm-r-statement>
    }
</ng-template>
