<div id="essay-modal" class="row">

    <!--Question-->
    <div class="row">
        <div class="col-md-12 question-box">
            <span class="question-text" mathjax ng-bind-html="question.question">{{question.question}}</span>
        </div>
    </div>

    <div class="row">
        <!--Student answer text-->
        <div class="col-md-7 answer-box">
            <div ng-show="question.answer.attachment" class="col-md-12" ng-controller="AttachmentController">
                {{'sitnet_answer_attachment' | translate}}
                <a class="pointer" ng-click="downloadQuestionAnswerAttachment(question, examToBeReviewed.hash)">{{question.answer.attachment.fileName}}</a>
            </div>

            <div class="col-md-12" ng-bind-html="removeNewLines({{question.answer.answer}})"></div>
            <div class="col-md-12 sitnet-info-text">
                {{ 'sitnet_approximately' | translate }}
                {{ question.answer.answer | striphtml | wordcount }} {{'sitnet_words' | translate }},
                {{ question.answer.answer | striphtml | charcount }} {{'sitnet_characters' | translate }}
            </div>
        </div>

        <!--Teacher evaluation criterias, points and feedback-->
        <div class="col-md-5 evaluation-box">
            <div class="row">
                <div class="col-md-12">{{question.evaluationCriterias}}</div>
                <div class="col-md-12 text-center">
                    <span class="row" ng-show="question.evaluationType == 'Points'">
                        <select class="form-control" ng-model="question.evaluatedScore"
                                ng-change="insertEssayScore(question)" required>
                            <option ng-repeat="i in range(0, question.maxScore, 1)" value="{{ i }}"
                                    ng-selected="question.evaluatedScore == i">{{ i }} / {{question.maxScore}}
                            </option>
                        </select>
                    </span>
                    <span ng-show="question.evaluationType == 'Select'">
                        <select name="{{getName(question)}}" class="form-control" ng-model="question.evaluatedScore"
                                ng-change="insertEssayScore(question)" required>
                            <option value="1" ng-selected="question.evaluatedScore == 1">{{ 'sitnet_approved' | translate }}
                            </option>
                            <option value="0" ng-selected="question.evaluatedScore == 0">{{ 'sitnet_rejected' | translate }}
                            </option>
                        </select>
                    </span>
                </div>

                <div class="col-md-12 sitnet-info-text">
                    {{'sitnet_feedback' | translate}}
                </div>
                <div class="col-md-12">
                    <textarea class="form-control" rows="3" ng-model="newQuestion.evaluationCriterias" ui-change="updateQuestion()"
                              placeholder="{{'sitnet_feedback' | translate}}">
                    </textarea>
                </div>
                    <div class="col-md-12" style="margin-top: 1em">
                    <button ng-click="cancel()" class="btn btn-primary pull-left">{{'sitnet_close' | translate}}</button>
                    <button ng-click="ok(question)" class="btn btn-primary pull-right">{{'sitnet_save' |translate}}
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>