<!-- SIT-1548 disable at least for now --->
<!-- Shared -->
<!--div class="row">
    <div class="checkbox">
        <label><input type="checkbox" [(ngModel)]="newQuestion.shared">
            <strong class="sitnet-info-text">{{ 'sitnet_public_question' | translate }}</strong></label>
    </div>
</div-->

<div class="student-enrolment-wrapper review-view exam-view-warning mart40" *ngIf="showWarning()">
    <!-- Exam contexts -->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-1">
                <img
                    src="/assets/assets/images/icon_warning.png"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_warning.svg';"
                />
            </div>
            <div class="col-md-11 warning-text">
                {{ 'sitnet_exam_question_edit_instructions' | translate }}
                <ul class="list-inline margin-10">
                    <li>
                        <span *ngFor="let name of examNames" class="exists-text">
                            <span class="padr10">{{ name }}</span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Question editor -->
<div class="col-md-12 mart40 wide-column padl0">
    <div class="review-list-title">
        {{ 'sitnet_exam_basic_information_tab' | translate }}
        <i *ngIf="showWarning()" class="fa fa-exclamation-circle padl20 reddish"></i>
        <span class="warning-text-small" *ngIf="showWarning()">
            {{ 'sitnet_shared_question_property_info' | translate }}
        </span>
    </div>
</div>

<div class="col-md-12 margin-20 padl0 padr0">
    <div class="col-md-3 exam-basic-title padl0" *ngIf="question.id">
        {{ 'sitnet_question_id' | translate }}
    </div>
    <div class="col-md-9 padr0" *ngIf="question.id">#{{ question.id }}</div>
</div>
<div class="col-md-12 margin-20 padl0 padr0">
    <div class="col-md-3 exam-basic-title padl0">
        {{ 'sitnet_new_question_type' | translate }}
        <sup>
            <img
                ngbPopover="{{ 'sitnet_question_type_description' | translate }}"
                placement="right"
                triggers="mouseenter:mouseleave"
                src="/assets/assets/images/icon_tooltip.svg"
                alt="exam"
                onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
            />
        </sup>
    </div>
    <div class="col-md-9 padr0">
        <select
            *ngIf="!question.type"
            id="newQuestion"
            name="newQuestion"
            class="form-control wdtin"
            [(ngModel)]="newType"
            (change)="setQuestionType()"
        >
            <option *ngFor="let type of questionTypes" value="{{ type.type }}">{{ type.name | translate }}</option>
            <option value="">{{ 'sitnet_choose' | translate }}</option>
        </select>
        <span *ngIf="question.type == 'EssayQuestion'">
            {{ 'sitnet_toolbar_essay_question' | translate }}
        </span>
        <span *ngIf="question.type == 'ClozeTestQuestion'">
            {{ 'sitnet_toolbar_cloze_test_question' | translate }}
        </span>
        <span *ngIf="question.type == 'MultipleChoiceQuestion'">
            {{ 'sitnet_toolbar_multiplechoice_question' | translate }}
        </span>
        <span *ngIf="question.type == 'WeightedMultipleChoiceQuestion'">
            {{ 'sitnet_toolbar_weighted_multiplechoice_question' | translate }}
        </span>
        <span *ngIf="question.type == 'ClaimChoiceQuestion'">
            {{ 'sitnet_toolbar_claim_choice_question' | translate }}
        </span>
    </div>

    <div class="col-md-12 mart40 padl0 padr0" *ngIf="question.type">
        <div class="col-md-3 exam-basic-title padl0">
            {{ 'sitnet_question_text' | translate }}
            <sup>
                <img
                    ngbPopover="{{ 'sitnet_question_text_description' | translate }}"
                    placement="right"
                    triggers="mouseenter:mouseleave"
                    src="/assets/assets/images/icon_tooltip.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                />
            </sup>
        </div>
        <div class="col-md-9 padr0">
            <ckeditor
                id="editor"
                name="editor"
                rows="10"
                cols="60"
                #ck="ngModel"
                [enableClozeTest]="question.type === 'ClozeTestQuestion'"
                [(ngModel)]="question.question"
                [required]="true"
            >
            </ckeditor>
        </div>
    </div>
</div>
<div *ngIf="question.type">
    <!-- Evaluation -->
    <div class="col-md-12 mart40 wide-column padl0" *ngIf="question.type == 'EssayQuestion'">
        <div class="review-list-title">{{ 'sitnet_comments' | translate }}</div>
    </div>

    <!-- Multiple choices -->
    <div
        class="col-md-12 mart40 wide-column padl0 marb20"
        *ngIf="
            question.type == 'MultipleChoiceQuestion' ||
            question.type == 'WeightedMultipleChoiceQuestion' ||
            question.type == 'ClaimChoiceQuestion'
        "
    >
        <div class="review-list-title">{{ 'sitnet_question_options' | translate }}</div>
    </div>

    <!-- Type specific content -->
    <div [ngSwitch]="question.type">
        <essay-editor *ngSwitchCase="EssayQuestion" [question]="question"></essay-editor>
        <multiple-choice-editor
            *ngSwitchCase="MultipleChoiceQuestion"
            [question]="question"
            [showWarning]="showWarning()"
            [lotteryOn]="lotteryOn"
            [allowOptionRemoval]="!isInPublishedExam"
        >
        </multiple-choice-editor>
        <multiple-choice-editor
            *ngSwitchCase="WeightedMultipleChoiceQuestion"
            [question]="question"
            [showWarning]="showWarning()"
            [lotteryOn]="lotteryOn"
            [allowOptionRemoval]="!isInPublishedExam"
        >
        </multiple-choice-editor>
        <claim-choice-editor *ngSwitchCase="ClaimChoiceQuestion" [question]="question"> </claim-choice-editor>
    </div>

    <!-- Evaluation type - not allowed if question is in use in other published exam. -->
    <div class="col-md-12 margin-20 padl0 padr0" *ngIf="question.type == 'EssayQuestion'">
        <div class="col-md-3 exam-basic-title padl0">
            {{ 'sitnet_evaluation_type' | translate }}
        </div>
        <div class="col-md-9">
            <select
                id="evaluationType"
                class="form-control wdt240"
                [(ngModel)]="question.defaultEvaluationType"
                (change)="updateEvaluationType()"
                required="question.type == 'EssayQuestion'"
            >
                <option value="Points">{{ 'sitnet_word_points' | translate }}</option>
                <option value="Selection">{{ 'sitnet_evaluation_select' | translate }}</option>
            </select>
        </div>
    </div>

    <!-- Max score -->
    <div
        class="col-md-12 margin-20 padl0 padr0"
        *ngIf="
            question.type == 'MultipleChoiceQuestion' ||
            question.type == 'ClozeTestQuestion' ||
            question.defaultEvaluationType == 'Points'
        "
    >
        <div class="col-md-3 exam-basic-title padl0">
            {{ 'sitnet_max_score' | translate }}
        </div>
        <div class="col-md-9">
            <input
                id="defaultMaxScore"
                name="defaultMaxScore"
                type="number"
                lang="en"
                class="form-control wdt100"
                [(ngModel)]="question.defaultMaxScore"
                min="0"
                max="1000"
                required
                [disabled]="lotteryOn"
            />
        </div>
    </div>

    <!-- Additional info -->
    <div class="col-md-12 mart40 wide-column padl0">
        <div class="review-list-title">{{ 'sitnet_additional_info' | translate }}</div>
    </div>

    <!-- Exam owners -->
    <div class="col-md-12 margin-20 padl0 padr0">
        <div class="col-md-3 exam-basic-title padl0">
            {{ 'sitnet_question_owners' | translate }}
            <sup>
                <img
                    ngbPopover="{{ 'sitnet_question_owners_description' | translate }}"
                    placement="right"
                    triggers="mouseenter:mouseleave"
                    src="/assets/assets/images/icon_tooltip.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                />
            </sup>
        </div>
        <div class="col-md-9" *ngIf="isUserAllowedToModifyOwners()">
            <input
                type="text"
                class="form-control wdth-30 make-inline"
                [(ngModel)]="newOwner.name"
                [ngbTypeahead]="listQuestionOwners$"
                [editable]="false"
                [inputFormatter]="nameFormat"
                [resultFormatter]="nameFormat"
                (selectItem)="setQuestionOwner($event)"
            />
            <span>
                <button (click)="addQuestionOwner()" class="btn btn-primary green border-green">
                    {{ 'sitnet_add' | translate }}
                </button>
            </span>
        </div>
        <div class="col-md-9" *ngIf="!isUserAllowedToModifyOwners()">
            &nbsp;
        </div>
    </div>

    <div class="row col-md-12">
        <div class="col-md-3 exam-basic-title"></div>
        <div class="col-md-9" *ngIf="isUserAllowedToModifyOwners()">
            <ul class="list-inline mart10 padl10">
                <li *ngFor="let user of currentOwners">
                    {{ user.firstName }} {{ user.lastName }}
                    <button
                        class="reviewer-remove"
                        [disabled]="removeOwnerDisabled(user)"
                        (click)="removeOwner(user)"
                        title="{{ 'sitnet_remove' | translate }}"
                    >
                        <img
                            src="/assets/assets/images/icon_remove.svg"
                            alt="exam"
                            onerror="this.onerror=null;this.src='/assets/assets/images/icon_remove.png';"
                        />
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-md-9" *ngIf="!isUserAllowedToModifyOwners()">
            <span *ngFor="let user of questionOwners" class="label label-default" style="margin: 0.2em">
                {{ user.firstName }} {{ user.lastName }}
            </span>
        </div>
    </div>

    <!-- Attachment -->
    <div class="col-md-12 margin-20 padl0 padr0">
        <div class="col-md-3 exam-basic-title padl0">
            {{ 'sitnet_question_attachment' | translate }}
            <sup>
                <img
                    ngbPopover="{{ 'sitnet_attachment_description' | translate }}"
                    placement="right"
                    triggers="mouseenter:mouseleave"
                    src="/assets/assets/images/icon_tooltip.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                />
            </sup>
        </div>

        <div class="col-md-9" id="attachment">
            <div class="review-attachment-button wdt120 make-inline">
                <a class="pointer" (click)="selectFile()">{{ 'sitnet_attach_file' | translate }}</a>
            </div>
            <div *ngIf="question.attachment && !question.attachment.removed" class="make-inline padl10">
                <!-- Uploaded -->
                <a
                    *ngIf="hasUploadedAttachment()"
                    class="pointer attachment-link"
                    (click)="downloadQuestionAttachment()"
                >
                    <i class="fa fa-paperclip fa-fw"></i> {{ question.attachment.fileName }}
                </a>
                <!-- Not yet uploaded -->
                <span *ngIf="!hasUploadedAttachment()" class="attachment-link">
                    <i class="fa fa-paperclip fa-fw"></i> {{ question.attachment.fileName }}
                    <small *ngIf="question.attachment"> ({{ getFileSize() }})</small>
                </span>
                <span class="pointer remove-attachment" (click)="removeQuestionAttachment()">
                    <img
                        src="/assets/assets/images/icon_remove.svg"
                        alt="{{ 'sitnet_remove_attachment' | translate }}"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_remove.png';"
                    />
                </span>
            </div>
            <div class="mart10" *ngIf="showWarning()">
                <i class="fa fa-exclamation-circle reddish"></i>
                <span class="warning-text-small">{{ 'sitnet_shared_question_property_info' | translate }}</span>
            </div>
        </div>
    </div>

    <!-- Instructions -->
    <div class="col-md-12 margin-20 padl0 padr0">
        <div class="col-md-3 exam-basic-title padl0">
            {{ 'sitnet_question_instruction' | translate }}
            <sup>
                <img
                    ngbPopover="{{ 'sitnet_question_instruction_description' | translate }}"
                    placement="right"
                    triggers="mouseenter:mouseleave"
                    src="/assets/assets/images/icon_tooltip.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                />
            </sup>
        </div>
        <div class="col-md-9 padr0">
            <textarea
                id="defaultInstructions"
                class="form-control"
                rows="3"
                [(ngModel)]="question.defaultAnswerInstructions"
                placeholder="{{ 'sitnet_question_instruction' | translate }}"
            >
            </textarea>
        </div>
    </div>

    <!-- Evaluation criteria -->
    <div *ngIf="question.type === 'EssayQuestion'" class="col-md-12 margin-20 padl0 padr0">
        <div class="col-md-3 exam-basic-title padl0">
            {{ 'sitnet_exam_evaluation_criteria' | translate }}
            <sup>
                <img
                    ngbPopover="{{ 'sitnet_question_evaluation_criteria_description' | translate }}"
                    placement="right"
                    triggers="mouseenter:mouseleave"
                    src="/assets/assets/images/icon_tooltip.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                />
            </sup>
        </div>
        <div class="col-md-9 padr0">
            <textarea
                id="defaultEvaluationCriteria"
                class="form-control"
                rows="3"
                [(ngModel)]="question.defaultEvaluationCriteria"
                placeholder="{{ 'sitnet_exam_evaluation_criteria' | translate }}"
            >
            </textarea>
        </div>
    </div>

    <!-- Tags -->
    <tag-picker *ngIf="!collaborative" [question]="question"></tag-picker>

    <!-- Categories -->
    <div class="col-md-12 margin-20 padl0 padr0">
        <div class="col-md-3 exam-basic-title padl0">
            {{ 'sitnet_added_to_sections' | translate }}
        </div>
        <div class="col-md-9 padr0">
            <ul class="list-inline mart10">
                <li *ngFor="let name of sectionNames">
                    {{ name }}
                </li>
            </ul>
        </div>
    </div>
</div>
