<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-details-title-wrap">
                <div class="student-enroll-title-wrap">
                    <div *ngIf="!newQuestion" class="student-enroll-title">
                        {{ 'sitnet_questions_edit' | translate }}
                    </div>
                    <div *ngIf="newQuestion" class="student-enroll-title">
                        {{ 'sitnet_toolbar_new_question' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="marl50 marr50">
        <!-- Question body //-->
        <div class="col-md-12 question-border padl40 padr40">
            <form role="form" class="form-horizontal" name="questionForm" novalidate>
                <question-body
                    *ngIf="question"
                    [question]="question"
                    [currentOwners]="currentOwners"
                    [lotteryOn]="lotteryOn"
                    [examId]="examId"
                    [sectionQuestion]="sectionQuestion"
                ></question-body>
            </form>
            <!-- buttons -->
            <div class="mart20">
                <div class="question-cancel">
                    <button
                        [disabled]="!questionForm.valid || !question.type || hasNoCorrectOption()"
                        (click)="saveQuestion()"
                        type="submit"
                        class="btn btn-success bigbutton"
                    >
                        {{ 'sitnet_save' | translate }}
                    </button>
                </div>
                <div class="question-cancel marr20">
                    <button (click)="cancel()" type="submit" class="btn btn-cancel pull-right bigbutton">
                        {{ 'sitnet_button_cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
