<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

@if (newQuestion()) {
    @if (!isModalContext()) {
        <xm-page-header text="i18n_toolbar_new_question" [prependTemplate]="linkBack" />
    } @else {
        <xm-page-header text="i18n_toolbar_new_question" />
    }
} @else {
    @if (!isModalContext()) {
        <xm-page-header text="i18n_questions_edit" [prependTemplate]="linkBack" />
    } @else {
        <xm-page-header text="i18n_questions_edit" />
    }
}
<xm-page-content [content]="content" />

<ng-template #linkBack>
    <xm-history-back></xm-history-back>
</ng-template>

<ng-template #content>
    <div class="row">
        <div class="col-md-12">
            <form role="form" [formGroup]="questionForm" name="questionForm">
                @if (currentQuestion()) {
                    <xm-question-body
                        [question]="currentQuestion()!"
                        [currentOwners]="currentOwners()"
                        [lotteryOn]="lotteryOn()"
                        [collaborative]="collaborative()"
                        [questionTypes]="questionTypes"
                        [newQuestion]="newQuestion()"
                        (currentOwnersChange)="currentOwners.set($event)"
                        (tagsChange)="onTagsChange($event)"
                    ></xm-question-body>
                }
            </form>
            <div class="d-flex flex-row-reverse mt-2">
                @if (currentQuestion()) {
                    <button
                        [disabled]="questionForm.invalid"
                        (click)="saveQuestion()"
                        type="submit"
                        class="btn btn-success"
                    >
                        {{ 'i18n_save' | translate }}
                    </button>
                }

                <button (click)="cancel()" type="button" class="btn btn-secondary me-2">
                    {{ 'i18n_button_cancel' | translate }}
                </button>
            </div>
        </div>
    </div>
</ng-template>
