<div class="floating-clock">
    <div class="header-wrapper">
        <span *ngIf="showRemainingTime" class="exam-clock-text">
            <span class="sitnet-white">{{ 'sitnet_exam_time_left' | translate }}: </span>
        </span>
        <span class="exam-clock">
            <span *ngIf="showRemainingTime" [ngClass]="remainingTime <= alarmThreshold ? 'sitnet-text-alarm' : ''">
                {{ formatRemainingTime() }}
            </span>
            <span *ngIf="!showRemainingTime" class="clock-hide text-muted">
                {{ 'sitnet_clock_hidden' | translate }}
            </span>
        </span>
        <span>
            <img
                tabindex="0"
                (click)="showRemainingTime = !showRemainingTime"
                (keyup.enter)="showRemainingTime = !showRemainingTime"
                src="/assets/assets/images/icon_clock.svg"
                alt="clock"
                onerror="this.onerror=null;this.src='/assets/assets/images/icon_clock.png';"
            />
        </span>
    </div>
</div>
