<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<!-- Additional Info -->
<div class="row mt-2">
    <div class="col-md-12 mt-2 pe-0">
        <div class="xm-paragraph-title">{{ 'i18n_additional_info' | translate }}</div>
    </div>
</div>

<!-- Owners -->
<ng-content select="[owners-content]"></ng-content>

<!-- Attachment -->
<div class="row" [ngClass]="{ 'mt-3': true, 'align-items-center': true }">
    <div class="col-md-3">
        {{ 'i18n_question_attachment' | translate }}
        <sup
            ngbPopover="{{ 'i18n_attachment_description' | translate }}"
            popoverTitle="{{ 'i18n_instructions' | translate }}"
            triggers="mouseenter:mouseleave"
        >
            <img src="/assets/images/icon_tooltip.svg" alt="" />
        </sup>
    </div>
    <div class="col-md-9" id="attachment">
        @if (showWarning()) {
            <div class="mt-1 mb-2 edit-warning-container">
                <i class="bi-exclamation-circle text-danger"></i>
                <span class="warning-text-small ps-2">{{ 'i18n_shared_question_property_info' | translate }}</span>
            </div>
        }
        <button class="btn btn-success" (click)="selectFile()">
            {{ 'i18n_attach_file' | translate }}
        </button>

        @if (question()?.attachment && !question()?.attachment?.removed) {
            <div class="make-inline ps-2">
                @if (hasUploadedAttachment()) {
                    <!-- Uploaded -->
                    <a class="pointer attachment-link" (click)="downloadQuestionAttachment()">
                        <i class="bi-paperclip"></i> {{ question()?.attachment?.fileName }}
                    </a>
                } @else {
                    <!-- Not yet uploaded -->
                    <span class="attachment-link">
                        <i class="bi-paperclip"></i> {{ question()?.attachment?.fileName }}
                        <small> ({{ getFileSize() }})</small>
                    </span>
                }
                <span class="pointer remove-attachment" (click)="removeQuestionAttachment()">
                    <img src="/assets/images/icon_remove.svg" alt="{{ 'i18n_remove_attachment' | translate }}" />
                </span>
            </div>
        }
    </div>
</div>

<!-- Instructions -->
<div class="row mt-2" [formGroup]="additionalInfoForm">
    <div class="col-md-3">
        {{ 'i18n_question_instruction' | translate
        }}<sup
            ngbPopover="{{ 'i18n_question_instruction_description' | translate }}"
            popoverTitle="{{ 'i18n_instructions' | translate }}"
            triggers="mouseenter:mouseleave"
        >
            <img src="/assets/images/icon_tooltip.svg" alt="" />
        </sup>
    </div>
    <div class="col-md-9">
        <textarea
            id="instruction"
            name="instruction"
            class="form-control"
            rows="3"
            formControlName="instructions"
            [placeholder]="'i18n_question_instruction' | translate"
        ></textarea>
    </div>
</div>

<!-- Evaluation criteria (for Essay questions) -->
@if (showEvaluationCriteria) {
    <div class="row mt-3" [formGroup]="additionalInfoForm">
        <div class="col-md-3">
            {{ 'i18n_exam_evaluation_criteria' | translate }}
            <sup
                ngbPopover="{{ 'i18n_question_evaluation_criteria_description' | translate }}"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
            >
                <img src="/assets/images/icon_tooltip.svg" alt="" />
            </sup>
        </div>
        <div class="col-md-9">
            <textarea
                id="defaultEvaluationCriteria"
                name="defaultEvaluationCriteria"
                class="form-control"
                rows="3"
                formControlName="evaluationCriteria"
                [placeholder]="'i18n_exam_evaluation_criteria' | translate"
            ></textarea>
        </div>
    </div>
}

<!-- Tags -->
<ng-content select="[tags-content]"></ng-content>
