<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div [formGroup]="questionBodyForm">
    <!-- Basic Information -->
    <xm-question-usage [examNames]="examNames()" />
    <xm-question-basic-info-trial
        [question]="question()"
        [questionTypes]="questionTypes()"
        [questionId]="'id' in question() ? question().id : undefined"
    ></xm-question-basic-info-trial>
    <div class="row mt-2">
        <div class="col-md-12">
            @if (question().type === 'EssayQuestion') {
                <!-- Evaluation -->
                <div class="xm-paragraph-title">{{ 'i18n_comments' | translate }}</div>
            } @else if (
                question().type === 'MultipleChoiceQuestion' ||
                question().type === 'WeightedMultipleChoiceQuestion' ||
                question().type === 'ClaimChoiceQuestion'
            ) {
                <!-- Multiple choices -->
                <div class="xm-paragraph-title">{{ 'i18n_question_options' | translate }}</div>
            }
        </div>
    </div>
    <!-- Essay-specific fields -->
    @if (question().type === 'EssayQuestion') {
        <xm-essay-trial [question]="question()" [lotteryOn]="lotteryOn()"></xm-essay-trial>
    }

    <!-- Claim Choice-specific fields -->
    @if (question().type === 'ClaimChoiceQuestion') {
        <xm-claim-choice-trial
            [question]="question()"
            [lotteryOn]="lotteryOn()"
            [showWarning]="examNames().length > 1"
        ></xm-claim-choice-trial>
    }

    <!-- Multiple Choice-specific fields -->
    @if (question().type === 'MultipleChoiceQuestion') {
        <xm-multiple-choice-trial
            [question]="question()"
            [lotteryOn]="lotteryOn()"
            [showWarning]="examNames().length > 1"
            [allowOptionRemoval]="true"
        ></xm-multiple-choice-trial>
    }

    <!-- Max score -->
    <div class="row mt-3">
        <div class="col-md-3">{{ 'i18n_max_score' | translate }}</div>
        <div class="col-md-2">
            <input
                id="defaultMaxScore"
                name="defaultMaxScore"
                type="number"
                class="form-control"
                formControlName="defaultMaxScore"
                [min]="0"
                [max]="1000"
            />
        </div>
    </div>

    <!-- Additional Info -->
    <xm-question-additional-info-trial [question]="question()" [showWarning]="examNames().length > 1">
        <!-- Tags content projection -->
        <div tags-content>
            <xm-question-tags-trial
                [question]="question()"
                [collaborative]="collaborative()"
                (tagsChange)="tagsChange.emit($event)"
            ></xm-question-tags-trial>
        </div>
        <div owners-content>
            <xm-question-owners-trial
                [currentOwners]="currentOwners()"
                (currentOwnersChange)="currentOwnersChange.emit($event)"
            ></xm-question-owners-trial>
        </div>
    </xm-question-additional-info-trial>
</div>
