<div class="row">
    <div class="col-md-12">
        <small class="sitnet-info-text" ng-if="$ctrl.sq.autosaved">
            {{'sitnet_autosaved' | translate}}:&nbsp;{{ sectionQuestion.autosaved | date:'HH:mm'}}
        </small>
        <small class="sitnet-info-text" ng-if="!$ctrl.sq.autosaved">
            &nbsp;
        </small>
    </div>
</div>
<div class="padl0 question-type-text">
    <span ng-if="$ctrl.sq.evaluationType === 'Selection'">
         {{'sitnet_evaluation_select' | translate}}
    </span>
    <span ng-if="$ctrl.sq.evaluationType !== 'Selection'">
        {{$ctrl.sq.derivedMaxScore}} {{'sitnet_unit_points' | translate}}
    </span>
</div>
<div class="row top-margin-1">
    <div class="col-md-12">
        <button ng-click="$ctrl.saveAnswer()"
                class="green_button">{{'sitnet_save' | translate }}
        </button>
    </div>
</div>
