<!-- Publish settings container -->
<div class="row ms-2 me-2">
    <div class="col-md-12">
        <div class="row marr30 padt40">
            <div class="col-md-12">
                <div class="review-list-title">{{ 'i18n_publish_timetable' | translate }}</div>
            </div>
        </div>
        <div class="row mt-2" [hidden]="exam.executionType.type !== 'PRINTOUT'">
            <!-- examination dates -->
            <div class="col-md-3 exam-basic-title padl0">{{ 'i18n_examination_dates' | translate }}</div>
            <div class="col-md-4">
                <xm-date-picker
                    [extra]="true"
                    [readonly]="true"
                    extraText="i18n_add"
                    (extraActionHappened)="addExaminationDate($event)"
                >
                </xm-date-picker>
            </div>
        </div>
        <div class="row mt-2" [hidden]="exam.executionType.type !== 'PRINTOUT'">
            <div class="col-md-9 offset-md-3">
                <ul class="list-inline mart10">
                    @for (ed of exam.examinationDates | orderBy: 'date'; track ed) {
                        <li class="list-inline-item">
                            {{ ed.date | date: 'dd.MM.yyyy' }}
                            <button
                                class="reviewer-remove"
                                (click)="removeExaminationDate(ed)"
                                title="{{ 'i18n_remove' | translate }}"
                            >
                                <img src="/assets/images/icon_remove.svg" alt="" />
                            </button>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="row mt-2" [hidden]="exam.executionType.type === 'PRINTOUT'">
            <div class="col-md-12">
                <form role="form">
                    <!-- Start & End time datepickers -->
                    <div class="row">
                        <div class="col-md-3 offset-md-3">
                            <div class="exam-basic-selecttitle">{{ 'i18n_begin' | translate | uppercase }}</div>
                        </div>
                        <div class="col-md-3">
                            <div class="exam-basic-selecttitle">{{ 'i18n_end' | translate | uppercase }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="exam-basic-title">
                                {{ 'i18n_exam_validity' | translate }}
                                <sup
                                    ngbPopover="{{ 'i18n_exam_validity_description' | translate }}"
                                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                                    triggers="mouseenter:mouseleave"
                                >
                                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                                </sup>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <xm-date-picker
                                [initialDate]="exam.periodStart"
                                [readonly]="true"
                                (updated)="startDateChanged($event)"
                            >
                            </xm-date-picker>
                        </div>
                        <div class="col-md-3">
                            <xm-date-picker
                                [initialDate]="exam.periodEnd"
                                [readonly]="true"
                                (updated)="endDateChanged($event)"
                            >
                            </xm-date-picker>
                        </div>
                        <div class="col-md-3" [hidden]="!exam.hasEnrolmentsInEffect">
                            <span class="text-info" role="note">
                                <img class="arrow_icon" alt="" src="/assets/images/icon_info.png" />
                                {{ 'i18n_restricting_validity_change_disallowed' | translate }}
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Examination events -->
        @if (exam.implementation !== 'AQUARIUM') {
            <div class="row mt-2">
                <div class="col-md-3 exam-basic-title">
                    {{ 'i18n_examination_events' | translate }}
                    <sup
                        triggers="mouseenter:mouseleave"
                        ngbPopover="{{ 'i18n_examination_events_description' | translate }}"
                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                    >
                        <img src="/assets/images/icon_tooltip.svg" alt="" />
                    </sup>
                </div>
                <div class="col-md-3">
                    <button type="button" (click)="addExaminationEvent()" class="btn btn-primary green">
                        {{ 'i18n_add_examination_event' | translate }}
                    </button>
                </div>
                <div class="col-md-6 justify-content-center">
                    <ul class="list-inline padt20">
                        @for (config of sortByString(exam.examinationEventConfigurations); track config) {
                            <li class="list-inline-item marb20">
                                <span
                                    title="{{ 'i18n_edit' | translate }}"
                                    (click)="modifyExaminationEvent(config)"
                                    class="pointer examination-event-list-item rounded-start"
                                >
                                    {{ config.examinationEvent.start | date: 'dd.MM.yyyy HH:mm'
                                    }}<i class="bi-pencil marl5"></i>
                                </span>
                                @if (config.examEnrolments.length === 0) {
                                    <span (click)="removeExaminationEvent(config)" class="text text-danger pointer">
                                        <i
                                            title="{{ 'i18n_remove' | translate }}"
                                            class="bi-x rounded-end background-gray pad6"
                                        ></i
                                    ></span>
                                } @else {
                                    <span class="rounded-end text text-muted background-gray pad6">
                                        <i title="{{ 'i18n_event_enrolments_exist' | translate }}" class="bi-x"></i>
                                    </span>
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

        <!-- Exam length -->
        <div class="row mt-2">
            <div class="col-md-3 exam-basic-title">
                {{ 'i18n_exam_duration' | translate }} ({{ 'i18n_minutes' | translate }}):
                <sup
                    ngbPopover="{{ 'i18n_exam_duration_description' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                >
                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                </sup>
            </div>
            <div class="col-md-9">
                @for (duration of examDurations(); track duration) {
                    <span class="me-2">
                        <button
                            class="btn btn-publish"
                            [ngClass]="checkDuration(duration)"
                            (click)="setExamDuration(0, duration)"
                            [disabled]="!isAdmin() && exam.hasEnrolmentsInEffect"
                        >
                            {{ duration }}
                        </button>
                    </span>
                }
                @if (exam.implementation === 'WHATEVER' || exam.implementation === 'CLIENT_AUTH') {
                    <button
                        class="btn btn-primary green marl30"
                        (click)="showCustomTimeField.set(!showCustomTimeField())"
                    >
                        {{ 'i18n_custom' | translate }} {{ ('i18n_exam_time' | translate).toLowerCase() }}
                        @if (showCustomTimeField()) {
                            <img class="rotate90" src="/assets/images/icon_right_white.png" alt="" />
                        } @else {
                            <img src="/assets/images/icon_right_white.png" alt="" />
                        }
                    </button>
                    @if (showCustomTimeField()) {
                        <div class="wdt400">
                            <div class="mart10">
                                <div class="mart10">
                                    <input
                                        id="hourValue"
                                        name="examDuration-hours"
                                        class="wdt50 time-display"
                                        type="number"
                                        [ngModel]="hourValue()"
                                        (ngModelChange)="hourValue.set($event)"
                                        [max]="23"
                                        [min]="0"
                                    />
                                    <label for="hourValue">{{ 'i18n_hours' | translate }}</label>
                                </div>
                                <div class="mart10">
                                    <input
                                        id="minuteValue"
                                        name="examDuration-minutes"
                                        class="wdt50 time-display"
                                        type="number"
                                        [ngModel]="minuteValue()"
                                        (ngModelChange)="minuteValue.set($event)"
                                        [max]="59"
                                        [min]="0"
                                    />
                                    <label for="minuteValue">{{ 'i18n_minutes' | translate }}</label>
                                </div>
                                <button
                                    class="btn btn-primary green mart10"
                                    (click)="setExamDuration(hourValue(), minuteValue())"
                                >
                                    {{ 'i18n_save_custom_time' | translate }}
                                </button>
                            </div>
                            <div>
                                {{ 'i18n_between' | translate }}: {{ toHoursAndMinutes(minDuration()) }} -
                                {{ toHoursAndMinutes(maxDuration()) }}
                            </div>
                        </div>
                    }
                }
                <div class="mt-2">
                    {{ 'i18n_saved' | translate }} {{ ('i18n_exam_duration' | translate).toLowerCase() }}:
                    {{ toHoursAndMinutes(exam.duration) }}
                </div>
            </div>
        </div>
        <div class="row mt-2 marr30" [hidden]="exam.executionType.type === 'PRINTOUT'">
            <div class="col-md-12 margin-20">
                <div class="review-list-title">{{ 'i18n_other_publication_settings' | translate }}</div>
            </div>
        </div>
        <div
            class="row mt-2"
            [hidden]="exam.executionType.type === 'MATURITY' || exam.executionType.type === 'PRINTOUT'"
        >
            <div class="col-md-3 exam-basic-title">
                {{ 'i18n_publish_max_count' | translate }}
                <sup
                    ngbPopover="{{ 'i18n_exam_trial_count_description' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                >
                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                </sup>
            </div>
            <div class="col-md-9">
                @for (x of range(1, 5); track x) {
                    <span [hidden]="exam.executionType.type !== 'PUBLIC'">
                        <button class="btn btn-publish" [ngClass]="checkTrialCount(x)" (click)="setTrialCount(x)">
                            {{ x }}</button
                        >&nbsp;
                    </span>
                }
                @if (exam.executionType.type === 'PUBLIC') {
                    <button class="btn btn-publish" [ngClass]="checkTrialCount(null)" (click)="setTrialCount(null)">
                        &infin;
                    </button>
                }
                @if (exam.executionType.type === 'PRIVATE') {
                    <button class="btn btn-publish" [ngClass]="checkTrialCount(null)" [disabled]="true">1</button>
                }
                @if (exam.executionType.type === 'PRIVATE') {
                    <span class="text-muted"> ({{ 'i18n_private_exam_trial_count_description' | translate }})</span>
                }
            </div>
        </div>

        @if (!collaborative()) {
            <div class="row mt-2" [hidden]="exam.executionType.type === 'PUBLIC'">
                <div class="col-md-3 exam-basic-title">
                    {{ 'i18n_exam_add_participants_title' | translate }}
                </div>
                <div class="col-md-9 participant-selector-toggle">
                    <label>
                        <input
                            type="radio"
                            [ngModel]="visibleParticipantSelector()"
                            (ngModelChange)="visibleParticipantSelector.set($event)"
                            value="participant"
                        />
                        {{ 'i18n_exam_participant_selector_label' | translate }}
                        <sup
                            ngbPopover="{{ 'i18n_exam_participants_description' | translate }}"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                            ><img src="/assets/images/icon_tooltip.svg" alt=""
                        /></sup>
                    </label>
                    <label>
                        <input
                            type="radio"
                            [ngModel]="visibleParticipantSelector()"
                            (ngModelChange)="visibleParticipantSelector.set($event)"
                            value="pre-participant"
                        />
                        {{ 'i18n_exam_pre_participant_selector_label' | translate }}
                        <sup
                            ngbPopover="{{ 'i18n_exam_pre_participants_description' | translate }}"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                            ><img src="/assets/images/icon_tooltip.svg" alt=""
                        /></sup>
                    </label>
                </div>
            </div>
        }

        <!-- Exam participants -->
        @if (
            exam.executionType.type !== 'PUBLIC' && !collaborative() && visibleParticipantSelector() === 'participant'
        ) {
            <xm-exam-participant-selector [exam]="exam"></xm-exam-participant-selector>
        }

        <!-- Exam pre-participants -->
        @if (
            exam.executionType.type !== 'PUBLIC' &&
            !collaborative() &&
            visibleParticipantSelector() === 'pre-participant'
        ) {
            <xm-exam-pre-participant-selector [exam]="exam"></xm-exam-pre-participant-selector>
        }

        @if (collaborative()) {
            <xm-collaborative-exam-owner-selector [exam]="exam"> </xm-collaborative-exam-owner-selector>
            <xm-exam-organisation-selector [exam]="exam"></xm-exam-organisation-selector>
        }

        <!-- Link to enrolment -->
        @if (exam.executionType.type === 'PUBLIC' && !collaborative()) {
            <div class="row marr30">
                <div class="col-md-12 mart40">
                    <div class="review-list-title">
                        {{ 'i18n_enrolment_url' | translate }}
                        <sup
                            ngbPopover="{{ 'i18n_enrolment_url_description' | translate }}"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                        >
                            <img src="/assets/images/icon_tooltip.svg" alt="" />
                        </sup>
                    </div>
                </div>
            </div>
        }
        @if (exam.executionType.type === 'PUBLIC' && !collaborative()) {
            <div class="row">
                <div class="col-md-12 mart20">
                    <a href="{{ hostName() }}/enrolments/{{ exam.id }}?code={{ exam.course?.code }}">
                        {{ hostName() }}/enrolments/{{ exam.id }}?code={{ exam.course?.code }}
                    </a>
                </div>
            </div>
        }

        <!-- Buttons -->
        <div class="row mt-3 marr30">
            <div class="col-md-12 marb20">
                <span class="float-end">
                    <div class="review-attachment-button exam-questions-buttons">
                        <a class="pointer preview" (click)="previewExam(4)"> {{ 'i18n_preview' | translate }}</a>
                    </div>
                    <div class="review-attachment-button exam-questions-buttons marl10">
                        <a class="pointer" (click)="updateExam()"> {{ 'i18n_save' | translate }}</a>
                    </div>
                    <div
                        [hidden]="exam.state === 'PUBLISHED'"
                        class="review-attachment-button exam-questions-buttons marl10"
                    >
                        <a class="pointer" (click)="saveAndPublishExam()">
                            @if (!isDraftCollaborativeExam()) {
                                <span>{{ 'i18n_save_and_publish' | translate }}</span>
                            } @else {
                                <span>{{ 'i18n_save_and_pre_publish' | translate }}</span>
                            }
                        </a>
                    </div>
                    <div
                        [hidden]="exam.state !== 'PUBLISHED' || exam.executionType.type !== 'PUBLIC' || collaborative()"
                        class="review-attachment-button exam-questions-buttons marl10"
                    >
                        <a class="pointer warning" (click)="unpublishExam()">
                            {{ 'i18n_unpublish_exam' | translate }}
                        </a>
                    </div>
                </span>
            </div>
        </div>
        <div class="row marr30">
            <div class="col-md-12 marb20 padt20 grey-top">
                <div class="review-attachment-button exam-questions-buttons">
                    <a class="pointer preview" (click)="previousTab()">
                        &#171; {{ 'i18n_exam_assessment_settings' | translate }}</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
