<div id='sitnet-header' class='header'>
    <div class='col-md-8 header-wrapper'>
        <span class='header-text'>{{'sitnet_calendar' | translate}}</span>
    </div>
</div>


<div id='sitnet-calendar' class='base' ng-controller='CalendarCtrl'>

    <div class='row'>

        <div class="col-md-1"><i ng-click="prevMonth()" class="fa fa-2x fa-caret-square-o-left"></i></div>
        <div class="col-md-2">{{selectedMonth.display}}</div>
        <div class="col-md-1"><i ng-click="nextMonth()" class="fa fa-2x fa-caret-square-o-right"></i></div>

    </div>

    <div class="row">

        <ul class="inline-list">
            <li>
                <button ng-repeat='room in rooms' type='button' ng-click="selectRoom(room)"
                        ng-class="{ 'selected' : room.selected }" class='btn btn-white btn-xs'>{{room.name}}
                </button>
            </li>
        </ul>
    </div>

    <p class="note">{{'sitnet_display_free_time_slots' | translate}} {{selectedRoomsString}}</p>

    <div class="row">
        <div class="col-md-12">
            <ul class="reservationRow">
                <li ng-repeat='(date, day) in daySlots'>
                    <span class="date">{{formatDate(date)}}</span>
                    <span ng-repeat='slot in day.slots' class="freeTime"><a ng-click="createReservation(slot)">{{formatTime(slot.start)}} - {{formatTime(slot.end)}}</a></span>
                </li>
            </ul>
        </div>
    </div>


</div>