<div id="sitnet-dialog">
    <div class="terms-dialog-header">
        <h4><i class="sitnet-white">Koepaikan varaus</i></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="sitnet-info-text">
                    Aika
                </div>
                <div class="input-group">
                    07.06.2014 klo 2.10
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="sitnet-info-text">
                    Paikka
                </div>
                <div class="input-group">
                    Tenttiakvaario Pegasus / IT101
                    Oulun yliopiston päärakennus / Linnanmaa
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="sitnet-info-text">
                    Koe
                </div>
                <div class="input-group">
                    Astronomian perusteet
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-3">
            <button ng-click="cancel()" class="btn btn-danger">{{'sitnet_button_cancel' | translate}}</button>
        </div>
        <div class="col-md-3 col-md-offset-5">
            <!--{{'sitnet_create_new' | translate}}-->
            <button ng-click="saveInspector()" class="btn btn-primary">Tee varaus</button>
        </div>
    </div>
</div>
