<div class="col-md-8">
    <h2>Uusi tentti</h2>

    <form ng-submit="createExam()">

    </form>
</div>
<div class="col-md-4">
    <h2>Kysymykset</h2>
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#"><i class="fa fa-info fa-fw"></i> Yleisohjeet tentint suorittamiseen</a></li>
        <li><a href="#"><i class="fa fa-picture-o fa-fw"></i> Sammaltuntemus</a></li>
        <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Sienisystematiikka</a></li>
        <li><a href="#"><i class="fa fa-sort-numeric-desc fa-fw"></i> Kasvuympäristön valinta</a></li>
    </ul>
</div>
