<div id="sitnet-header" class="header"></div>
<div id="studentexam">

<!--  tentti alue -->
	<div class="col-md-8">
        <div class="studentexam-header">
            <h4>
                <span class="fa-stack">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa-stack-1x">1</i>
                </span>
                {{activeSection.name}}
                <span class="pull-right">
                    <i class="section-header-time-left-text">{{'sitnet_exam_time_left' | translate}}</i>
                </span>
                <span class="pull-right">
                    <!-- TODO: Implement the timer functionality e.g. with angular-timer http://siddii.github.io/angular-timer/ -->
                    <i class="section-header-time-left-clock">2:23</i>
                </span>
                <span class="pull-right fa-stack fa-lg">
                    <i class="fa fa-clock-o fa-stack-1x"></i>
                </span>
            </h4>
        </div>
        <div class="section-container" >
			<div class="exam-info-round">
				<span class="pull-left fa-stack fa-lg ">
					<i class="fa fa-info-circle fa-stack-2x"></i>
				</span>
				<label>{{'sitnet_exam_quide' | translate}}</label>
				<i class="sitnet-light-gray">Finally, I always go to sea as a sailor because of the wholesome exercise and pure air. The Captain at the
					wheel of the ship gets his atmosphere secondhand from the sailors on the fore-deck. He thinks he breathes it first, but not so. In much the
					same way, the common people lead their leaders.</i>
			</div>
			<!--<div class="list-group"  ng-include="multipleChoiseQuestionTemplate">-->
                <!--{{multipleChoiseQuestionTemplate}}-->
            <!--</div>-->






 			<div class="list-group"  ng-include="sectionTemplate">
            </div>





            <div class="row">
                <div class="col-md-3">
                    <!-- TODO: Implement the section change functionality -->
                    <a href="#">
                       <i class="fa fa-arrow-circle-left fa-stack-2x"></i>
                        <!--{{'sitnet_create_new' | translate}}-->
                        <span class="pull-right">{{'sitnet_exam_previous_section' | translate}}</span>
                    </a>
                </div>
                <div class="col-md-3 col-md-offset-5">
                    <!-- TODO: Implement the section change functionality -->
                    <a href="#">
                       <i class="fa fa-arrow-circle-right fa-stack-2x"></i>
                        <!--{{'sitnet_create_new' | translate}}-->
                        <span class="pull-right">{{'sitnet_exam_next_section' | translate}}</span>
                    </a>
                </div>
            </div>
        </div>
	</div>

<!-- oikea palsta -->
	<div class="col-md-4">
        <h4>
            {{doexam.name}}
        </h4>
        <i>
            <span class="list-group-item-text">{{doexam.course.name}}</span>
            <span class="list-group-item-text">{{doexam.course.code}}</span>
        </i>
        <div ng-include="sectionsBar"></div>

        <div>
            <div>
                <a ng-click="saveExam()">
                    <i class="btn btn-primary btn-lg active fa fa-sign-out exam-signout-button"><span>{{'sitnet_save_and_return_exam' | translate}}</span></i>
                </a>
            </div>
        </div>
    </div>
</div>