<div id="sitnet-header" class="header"></div>
<div id="exam" ng-controller="DoExamController">
	<h2 class="table-heading">{{doexam.name}}</h2>

<!--  tentti alue -->
	<div class="col-md-8">

	<div ng-repeat="section in doexam.examSections">
		<div class="exam-header" >
		<i>{{section.name}}</i>
		</div>
	
	</div>
	
	
	</div>
	
<!-- oikea palsta -->
	<div class="col-md-4">
        <h4>
            {{doexam.name}}
        </h4>
        <i>
            <span class="list-group-item-text">{{doexam.course.name}}</span>
            <span class="list-group-item-text">{{doexam.course.code}}</span>
        </i>
        <div class="" ng-include="sectionsBar">
        </div>
    </div>
</div>