<div id="sitnet-header" class="header">
</div>
<div id="exam">
    <h2 class="table-heading">{{'sitnet_new_exam' | translate}} </h2>

    <div class="col-md-8">
        <div class="exam-general-information">
            <div class="section" ng-include="generalInfoPath">
            </div>
        </div>
        <div class="base">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="examName"
                               placeholder="{{'sitnet_exam_name' | translate }}">
                    </div>
						<span class="pull-right fa-stack fa-lg dropdown" ng-click="editExam(section)">
							<a class="dropdown-toggle">
                                <i class="sitnet-blue fa fa-square fa-stack-2x"></i>
                                <i class="sitnet-white fa fa-cog fa-stack-1x"></i>
                            </a>
								<ul class="dropdown-menu">
                                    <li><a>Asetukset</a></li>
                                    <li><a>Poista</a></li>
                                </ul>
						</span>
                </div>
            </div>
            <div class="section" ui-on-Drop="onDrop($event, $data, section.questions)" ng-include="sectionPath"
                 ng-repeat="section in sections">
            </div>
        </div>
                 <span ng-click="addNewSection()" class="create-new">
                    <i class="fa fa-plus-circle"></i> {{'sitnet_section_add' | translate}}
                </span>
        <button ng-click="save()" class="btn btn-default">{{'sitnet_save' | translate}}</button>
    </div>
    <div id="library" class="col-md-4">
        <div class="library-header">
            <h4><i class="fa fa-briefcase"></i> {{'sitnet_library' | translate}}</h4>
        </div>
        <div class="library" ng-controller="LibraryCtrl">
            <div class="input-group">
                <input ng-model="selected" type="text" class="form-control"
                       placeholder="{{'sitnet_search' | translate }}">
                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            </div>
            <ul class="list-group results">
                <li class="single-question" ui-draggable="true" ng-repeat="question in questions | filter:selected"
                    drag="question">
                    <i class="fa fa-2x fa-fw {{question.icon}}"></i> <span class="menu-item" ndel="question.question">{{question.question}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>