<li class="single-question">
    <div class="col-md-8">
        <i class="fa fa-2x fa-fw " ng-class="question.icon"></i><span class="menu-item">{{question.question}}</span>
    </div>
        <span ng-click="editQuestion(question)" class=" dropdown pull-right fa-stack fa-lg">
			<a class="dropdown-toggle">
                <i class="sitnet-white fa fa-cog fa-stack-1x"></i>
            </a>
				<ul class="dropdown-menu">
                    <li><a>Asetukset</a></li>
                    <li><a ng-click="removeQuestion(section, question)">Poista</a></li>
                </ul>
		</span>

		<span ng-click="toggleQuestion(question)" class="pull-right fa-stack fa-lg">
              <i ng-class="question.hide ? 'fa-chevron-left' : 'fa-chevron-down'"
                 class="sitnet-white fa fa-stack-1x"></i>
            </span>
    </div>
</li>
<ol ng-hide="question.hide">
    <li class="exam-question-option" ng-repeat="option in question.options">
        <input type="radio" name="option.id" ng-value="option" class="list-group-item-text"/>
        {{option.option}}
        <span class="badge" ng-show="option.correctOption" class="ng-hide">TOSI</span>
    </li>
</ol>
