<div class="exam-header">
    <h4>
        <span class="fa-stack">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa-stack-1x">{{section.id}}</i>
        </span>
        {{section.name}}
        <span ng-click="editSection(section)" class="pull-right fa-stack fa-lg">
          <i class="sitnet-blue fa fa-square fa-stack-2x"></i>
          <i class="sitnet-white fa fa-cog fa-stack-1x"></i>
        </span>
        <span ng-click="toggleSection(section)"class="pull-right fa-stack fa-lg">
          <i class="sitnet-grey fa fa-square fa-stack-2x"></i>
          <i class="sitnet-white fa fa-chevron-left fa-stack-1x"></i>
        </span>
    </h4>
</div>


<div class="question" ng-include="questionPath" ng-repeat="question in section.questions">

</div>

<span class="create-new">
    <i class="fa fa-plus-circle"></i> {{'sitnet_add_content'|translate}}
</span>