<div class="exam-header">
    <h4>
        <div ng-hide="showDetails">
			<span class="fa-stack"> <i class="fa fa-square-o fa-stack-2x"></i> <i class="fa-stack-1x">{{section.id}}</i>
			</span>
			<span class="editable" ng-click="showDetails = !showDetails"> Tentin yleistiedot <i class="fa fa-pencil"></i>
			</span>
			<span class="pull-right fa-stack fa-lg dropdown" ng-click="editSection(section)">
				<a	class="dropdown-toggle">  
				<i class="sitnet-blue fa fa-square fa-stack-2x"></i>
				<i class="sitnet-white fa fa-cog fa-stack-1x"></i>
				 </a>
					<ul class="dropdown-menu">
						<li><a class="pointer-hand">Asetukset</a></li>
						<li><a class="pointer-hand">Arvo kysymyksiä</a></li>
						<li><a ng-click="clearAllQuestions(section)" class="pointer-hand">Tyhjennä</a></li>
						<li><a ng-click="removeSection(section)" class="pointer-hand">Poista</a></li>
					</ul>
			</span>
			<span ng-click="toggleSection(section)" class="pull-right fa-stack fa-lg">
                <i class="sitnet-grey fa fa-square fa-stack-2x"></i>
				<i ng-class="section.hide ? 'fa-chevron-left' : 'fa-chevron-down'" class="sitnet-white fa fa-chevron-left fa-stack-1x"></i>
			</span>
		</div>

        <div ng-show="showDetails">
            <form class="form-inline" role="form">
				<span class="fa-stack">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa-stack-1x">{{section.id}}</i>
				</span>

                <div class="form-group">
                    <input type="text" class="form-control input-lg" ng-model="section.name" autofocus>
                </div>
                <button class="btn-primary" ng-click="showDetails = !showDetails">
                    <i class="fa fa-check"></i>
                </button>
            </form>
        </div>
    </h4>
</div>

<div ng-controller="DatepickerCtrl">
    <pre>Tentin aikajakso on: <em>{{startDate | date:'fullDate' }} - {{endDate | date:'fullDate' }}</em></pre>

    <!--<h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
        <div class="well well-sm" ng-model="dt">
            <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-6">
            <h4>Alkuaika</h4>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="opened1" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open1($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
        </div>

        <div class="col-md-6">
            <h4>Loppuaika</h4>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="endDate" is-open="opened2" min="startDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open2($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-md-6">
            <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>

    <hr />
    <button class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
    <button class="btn btn-sm btn-success" ng-click="toggleWeeks()" tooltip="For inline datepicker">Toggle Weeks</button>
    <button class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>-->
</div>