<li class="single-question">
    <div class="col-md-8">
        <i class="fa fa-2x fa-fw {{question.icon}}"></i><span class="menu-item">{{question.question}}</span>
    </div>
    <div ng-controller="QuestionCtrl">
        <span ng-click="editQuestion(question)" class="pull-right fa-stack fa-lg">
            <i class="sitnet-white fa fa-cog fa-stack-1x"></i>
        </span>
        <span ng-click="toggleQuestion(question)"class="pull-right fa-stack fa-lg">
          <i class="sitnet-white fa fa-chevron-left fa-stack-1x"></i>
        </span>
    </div>
</li>