<div id="login">
    <h4>Kirjaudu</h4>

    <form ng-submit="login()">
        <p>
            <label class="control-label">Tunnus</label>
            <input type="text" placeholder="Tunnus" ng-model="user.username"/>
        </p>

        <p>
            <label class="control-label">Salasana</label>
            <input type="password" placeholder="Salasana" ng-model="user.password"/><br/>
        </p>

        <p>
            <button type="submit" class="btn btn-primary">Kirjaudu</button>
        </p>
    </form>
</div>