<div id="sitnet-dialog" ng-controller="SessionCtrl">
    <div class="terms-dialog-header">
        <h4><i class="sitnet-white">{{'sitnet_logging_out' | translate}}</i></h4>
    </div>
    <div class="modal-body">
        <p>
            Tietoturvasyistä sulje koko selainikkuna (pelkän välilehden sulkeminen ei riitä) sen jälkeen kun olet kirjautunut ulos.
            <br>
            Näin varmistat, että selaimen muistiin ei jää sinun tietoja.
        </p>
    </div>
    <div>
        <button ng-click="dologout()">Kirjaudu ulos</button>
        <button ng-click="cancel()">Peruuta</button>
    </div>
</div>
