[latex]E=mc^2[/latex]

$$E=mc^2$$

<div class="MathJax_MathML" id="MathJax-Element-2-Frame">
	<span class="MathJax_MathContainer"
		style="position: relative; display: inline-block; white-space: nowrap;"><span
		style="display: inline-block;"><math
				xmlns="http://www.w3.org/1998/Math/MathML" display="block">
				<msup>
				<mrow>
				<mo fence="true" stretchy="true">(</mo>
				<munderover>
				<mo stretchy="false">∑</mo>
				<mrow class="MJX-TeXAtom-ORD">
				<mi>k</mi>
				<mo stretchy="false">=</mo>
				<mn>1</mn></mrow>
				<mi>n</mi></munderover>
				<msub>
				<mi>a</mi>
				<mi>k</mi></msub>
				<msub>
				<mi>b</mi>
				<mi>k</mi></msub>
				<mo fence="true" stretchy="true">)</mo></mrow>
				<mn>2</mn></msup>
				<mo stretchy="false">≤</mo>
				<mrow>
				<mo fence="true" stretchy="true">(</mo>
				<munderover>
				<mo stretchy="false">∑</mo>
				<mrow class="MJX-TeXAtom-ORD">
				<mi>k</mi>
				<mo stretchy="false">=</mo>
				<mn>1</mn></mrow>
				<mi>n</mi></munderover>
				<msubsup>
				<mi>a</mi>
				<mi>k</mi>
				<mn>2</mn></msubsup>
				<mo fence="true" stretchy="true">)</mo></mrow>
				<mrow>
				<mo fence="true" stretchy="true">(</mo>
				<munderover>
				<mo stretchy="false">∑</mo>
				<mrow class="MJX-TeXAtom-ORD">
				<mi>k</mi>
				<mo stretchy="false">=</mo>
				<mn>1</mn></mrow>
				<mi>n</mi></munderover>
				<msubsup>
				<mi>b</mi>
				<mi>k</mi>
				<mn>2</mn></msubsup>
				<mo fence="true" stretchy="true">)</mo></mrow></math></span></span>
</div>