<div id="sitnet-header" class="header"></div>

<div id="questions">
    <div ng-controller="QuestionCtrl">
        <h2>{{'sitnet_questions_all' | translate}}</h2>
        <hr>
        <div ng-repeat="question in questions" class="list-group">

            <div class="list-group-item active">
                <h4 class="list-group-item-heading ">
                    <a href="#/questions/{{question.id}}"><span ng-bind-html="question.question"></span></a>
                    <span><i class="pull-right fa fa-times fa-stack" ng-click="deleteQuestion(question)"></i></span>
                </h4>
            </div>
            <div class="list-group-item">
                <div ng-repeat="option in question.options">
                    <!-- see: http://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                    <input type="radio" name="option.id" ng-value="option" class="list-group-item-text"/>
                    {{option.option}}
                    <span class="badge" ng-show="option.correctOption" class="ng-hide">TOSI</span>
                </div>
            </div>
        </div>
    </div>
</div>