<div id="question-editor" ng-controller="QuestionCtrl">
    <div class="question-editor-header">
        <h2 class="header-title">{{'sitnet_questions_all' | translate}}</h2>
        <div class="row">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                    {{'sitnet_questions_new' | translate}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat='(key, value) in questionTypes'>
                        <a ng-click="createQuestion(key)">{{value}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="list-group exam-question-container" ng-repeat="question in questions" >
            <div class="list-group-item active">
                <div class="row">
                    <div class="col-md-7">
                        <h4 class="list-group-item-heading">
                            <a href="#/questions/{{question.id}}"><div ng-bind-html="question.question"></div></a>
                        </h4>
                    </div>
                    <div class="col-md-2 col-md-offset-3">
                        <div class="pull-right fa fa-times fa-2x" ng-click="deleteQuestion(question)">
                        </div>
                        <label class="pull-right">Poista kysymys</label>
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div ng-repeat="option in question.options">
                    <!-- see: http://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                    <input type="radio" name="option.id" ng-value="option" class="list-group-item-text"/>
                    {{option.option}}
                    <span class="badge" ng-show="option.correctOption" class="ng-hide">TOSI</span>
                </div>
            </div>
        </div>
    </div>

</div>
