<h5>{{'sitnet_questions' | translate}}</h5>

<div ng-controller="QuestionCtrl">
    <h2>{{'sitnet_questions_all' | translate}}</h2>
    <hr>
    <div ng-repeat="question  in questions" class="list-group">

        <!-- <ul class="list-group"> -->
        <!--     <li ng-repeat="question  in questions" class="list-group-item"> -->
        <!-- 	id: {{question.id}} -->
        <!-- 	created: {{question.created}} -->
        <!-- 	creator: {{question.creator}} -->
        <!-- 	modified: {{question.modified}} -->
        <!-- 	modifier: {{question.modifier}} -->
        <!-- 	type: {{question.type}} -->
        <!-- 	shared: {{question.shared}} -->
        <!-- 	totalScore: {{question.totalScore}} -->

        <div class="list-group-item active">
            <h4 class="list-group-item-heading ">{{question.question}}</h4>
        </div>
        <div class="list-group-item">
            <div ng-repeat="option in question.options">
                <!-- see: http://docs.angularjs.org/api/ng/input/input%5Bradio%5D -->
                <input type="radio" name="option.id" ng-value="option" class="list-group-item-text"/> {{option.option}}
                <span class="badge" ng-show="option.correctOption" class="ng-hide">TOSI</span>
            </div>
        </div>
    </div>
</div>