<div class="question-editor-option">
	<input type="radio" id={{option.id}} name={{newQuestion.question}} class="list-group-item-text" ng-click="radioChecked(option)" />
	<span class="editable" ng-hide="showOption" ng-click="showOption = !showOption">
		{{option.option}}
		<i class="fa fa-pencil"></i>
		<span class="badge pull-right" ng-show="option.correctOption" class="ng-hide">TOSI</span>
	</span>
    <span ng-click="removeOption(option)">
        <i class="fa fa-times fa-2x pull-right pointer" title="Poista"></i>
    </span>
    <div ng-show="showOption">
		<input type="text" class="form-control input-lg inline" ng-model="option.option" autofocus>
		<button class="btn-primary" ng-click="showOption = !showOption">
			<i class="fa fa-check"></i>
		</button>
	</div>
</div>