<div ng-controller="StudentExamController">

    <div class="modal-header">
        <h3>Lorem Ipsum</h3>
    </div>
    <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at vulputate purus. Sed pretium in enim eu porta.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac nibh eu dui vehicula imperdiet.
        Vivamus in arcu porta, pretium nulla at, semper neque. Vestibulum et dolor eu metus blandit fermentum.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sagittis fermentum libero, et consequat diam condimentum fermentum.
        Donec vulputate pulvinar semper. Etiam feugiat justo a dolor imperdiet, ut ultrices justo mattis. Nam eu odio viverra, condimentum est at, porttitor dui.
        Vestibulum congue venenatis orci id tincidunt. Aenean non enim quis neque pellentesque dictum a ac velit. Fusce luctus auctor velit.
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>

<!--{{'sitnet_notifications' | translate}}-->