<h2>{{'sitnet_user_preferences' | translate}}</h2>


<h4>{{'sitnet_user_language_change' | translate}}</h4>
<div class="locale-bar" style="padding-left: 2em">
    <a ng-click="switchLanguage('fi')" class="pointer">
        <!--<img class="locale-icon" src="../assets/images/locale-icon-fi.png">-->
        <h4>FI</h4>
    </a>
    <a ng-click="switchLanguage('en')" class="pointer">
        <!--<img class="locale-icon" src="../assets/images/locale-icon-en.png">-->
        <h4>EN</h4>
    </a>
    <a ng-click="switchLanguage('en')" class="pointer">
        <!--<img class="locale-icon" src="../assets/images/locale-icon-en.png">-->
        <h4>SWE</h4>
    </a>
</div>
