<div class="tab-wrapper-exams review">
    <div class="review-border">
        <div class="padt50 padl30 padr30">
            <h4 class="col-md-12 padl0">
                {{ index }}. &nbsp; &nbsp;{{ section.name }}
                <span class="score-details">
                    <span *ngIf="getSectionMaxScore() > 0">
                        {{ 'sitnet_word_points' | translate }}:&nbsp;
                        <span style="color: #2c2c2c">{{ getSectionTotalScore() }} / {{ getSectionMaxScore() }}</span>
                    </span>
                    &nbsp;
                    <span *ngIf="(selectionEssays?.totalSelectionEssays || 0) > 0">
                        {{ 'sitnet_section_accepted_and_rejected' | translate }}&nbsp;
                        <span style="color: #2c2c2c"
                            >{{ selectionEvaluatedAmounts.accepted }} / {{ selectionEvaluatedAmounts.rejected }}</span
                        >
                    </span>
                    <span *ngIf="(selectionEssays?.totalSelectionEssays || 0) > 0">
                        {{ 'sitnet_total' | translate }}: {{ selectionEssays?.totalSelectionEssays }}
                    </span>
                </span>
            </h4>
        </div>
        <div class="detail-row padr0 padl0 mar0" *ngIf="section.description">
            <div class="col-md-12 padr0 padl0">
                <div class="padl30 mart20">
                    <img
                        src="/assets/images/icon_info.svg"
                        alt=""
                        onerror="this.onerror=null;this.src='/assets/images/icon_info.png'"
                    />
                    <span class="padl10 notice-text">{{ section.description }}</span>
                </div>
            </div>
        </div>
        <div class="detail-row ms-2 me-2">
            <div class="col-md-12 mt-4" *ngFor="let sq of section.sectionQuestions | orderBy : 'sequenceNumber'">
                <div *ngIf="sq.question.type === 'MultipleChoiceQuestion'">
                    <xm-r-multi-choice-question
                        [sectionQuestion]="sq"
                        [participation]="participation"
                        [isScorable]="isScorable"
                        [collaborative]="collaborative"
                        (scored)="scoreSet($event)"
                    >
                    </xm-r-multi-choice-question>
                </div>
                <div *ngIf="sq.question.type === 'EssayQuestion'">
                    <xm-r-essay-question
                        [sectionQuestion]="sq"
                        [participation]="participation"
                        [exam]="exam"
                        [isScorable]="isScorable"
                        [collaborative]="collaborative"
                        (scored)="scoreSet($event)"
                    >
                    </xm-r-essay-question>
                </div>
                <div *ngIf="sq.question.type === 'WeightedMultipleChoiceQuestion'">
                    <xm-r-multi-choice-question
                        [sectionQuestion]="sq"
                        [participation]="participation"
                        [isScorable]="isScorable"
                        [collaborative]="collaborative"
                        (scored)="scoreSet($event)"
                    >
                    </xm-r-multi-choice-question>
                </div>
                <div *ngIf="sq.question.type === 'ClozeTestQuestion'">
                    <xm-r-cloze-test
                        [sectionQuestion]="sq"
                        [participation]="participation"
                        [isScorable]="isScorable"
                        [collaborative]="collaborative"
                        (scored)="scoreSet($event)"
                    >
                    </xm-r-cloze-test>
                </div>
                <div *ngIf="sq.question.type === 'ClaimChoiceQuestion'">
                    <xm-r-multi-choice-question
                        [sectionQuestion]="sq"
                        [participation]="participation"
                        [isScorable]="isScorable"
                        [collaborative]="collaborative"
                        (scored)="scoreSet($event)"
                    >
                    </xm-r-multi-choice-question>
                </div>
            </div>
        </div>
        <div class="detail-row ms-2 me-2 d-flex justify-content-end">
            <div class="review-list-footer">
                <div *ngIf="getSectionMaxScore() > 0">
                    {{ 'sitnet_word_points' | translate }}:
                    <span> {{ getSectionTotalScore() }} / {{ getSectionMaxScore() }} </span>
                </div>
                <div *ngIf="(selectionEssays?.totalSelectionEssays || 0) > 0">
                    {{ 'sitnet_section_accepted_and_rejected' | translate }}
                    <span> {{ selectionEvaluatedAmounts.accepted }} / {{ selectionEvaluatedAmounts.rejected }} </span>
                </div>
            </div>
        </div>
    </div>
</div>
