<div id="dashboard" class="marl20">
    <!-- Finished exams list -->
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-title-wrap">
                <h1 class="student-enroll-title" [hidden]="collaborative">{{ 'sitnet_exam_responses' | translate }}</h1>
                <h1 class="student-enroll-title" [hidden]="!collaborative">
                    {{ 'sitnet_collaborative_exam_responses' | translate }}
                </h1>
            </div>
        </div>
        <div class="row marl20 mart10">
            <div class="col-md-12">
                <div class="row mart10 align-items-center">
                    <div class="col-auto p-1">
                        <img class="nopad" src="/assets/assets/images/icon_info.png" class="padr10" alt="info-icon" />
                        &nbsp;
                    </div>
                    <div class="col" [hidden]="collaborative">
                        {{ 'sitnet_exam_response_search_description' | translate }}
                    </div>
                    <div class="col" [hidden]="!collaborative">
                        {{ 'sitnet_collaborative_exam_response_search_description' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mart20 marl20">
        <div class="col-6">
            <div class="form-group input-group search">
                <input
                    aria-label="search"
                    [(ngModel)]="filter.text"
                    type="text"
                    (ngModelChange)="search($event)"
                    class="form-control hgt40 marl15"
                    placeholder="{{ 'sitnet_search' | translate }}"
                />
                <div class="input-group-addon search">
                    <img alt="" src="/assets/assets/images/icon_search.png" width="49" height="40" />
                </div>
            </div>
        </div>
        <div class="col-6" ngbDropdown>
            <button class="btn btn-outline-dark" type="button" ngbDropdownToggle aria-expanded="true">
                {{ 'sitnet_set_ordering' | translate }}
            </button>
            <div ngbDropdownMenu role="menu">
                <button
                    ngbDropdownItem
                    role="presentation"
                    (click)="filter.ordering = 'exam.name'"
                    tabindex="0"
                    (keyup.enter)="filter.ordering = 'exam.name'"
                >
                    {{ 'sitnet_exam_name_ascending' | translate }}
                </button>
                <button
                    ngbDropdownItem
                    role="presentation"
                    (click)="filter.ordering = '-exam.name'"
                    tabindex="0"
                    (keyup.enter)="filter.ordering = '-exam.name'"
                >
                    {{ 'sitnet_exam_name_descending' | translate }}
                </button>
                <button
                    ngbDropdownItem
                    role="presentation"
                    (click)="filter.ordering = 'ended'"
                    tabindex="0"
                    (keyup.enter)="filter.ordering = 'ended'"
                >
                    {{ 'sitnet_exam_participation_descending' | translate }}
                </button>
                <button
                    ngbDropdownItem
                    role="presentation"
                    (click)="filter.ordering = '-ended'"
                    tabindex="0"
                    (keyup.enter)="filter.ordering = '-ended'"
                >
                    {{ 'sitnet_exam_participation_ascending' | translate }}
                </button>
            </div>
        </div>
    </div>

    <!-- List of finished exams -->
    <div [@listAnimation]="pageSize">
        <div
            class="row mart10"
            *ngFor="
                let participation of participations
                    | orderBy: filter.ordering
                    | slice: currentPage * pageSize:currentPage * pageSize + pageSize
            "
        >
            <div class="col-md-12">
                <exam-participation
                    [participation]="participation"
                    [collaborative]="collaborative"
                ></exam-participation>
            </div>
        </div>
    </div>

    <div class="row mt-2" *ngIf="participations">
        <div class="col-md-12" *ngIf="participations.length > pageSize">
            <paginator
                [items]="participations"
                (onSelectPage)="pageSelected($event)"
                [pageSize]="pageSize"
                [currentPage]="currentPage"
            >
            </paginator>
        </div>
    </div>
</div>
