/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@use '../../shared/definitions.scss' as shared;

.unstyled-link,
.unstyled-link:hover,
.unstyled-link:active {
    text-decoration: none;
    color: initial;
}

.review-list-link {
    font-family: Arimo, Helvetica-Neue, Helvetica;
    font-weight: bold;
    color: shared.$exam-blue;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.review-list-subtitle {
    font-family: Arimo, Helvetica-Neue, Helvetica;
    font-size: 16px;
    color: #2c2c2c;
}

.xm-paragraph-title-no-results {
    color: #555555;
    font-size: 20px;
}

.table-column-checkbox {
    width: 2%;
    text-align: center;
}


