.unstyled-link,
.unstyled-link:hover,
.unstyled-link:active {
    text-decoration: none;
    color: initial;
}

.review-list-link {
    font-family: Arimo, Helvetica-Neue, Helvetica;
    font-weight: bold;
    color: #266b99;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.review-list-subtitle {
    font-family: Arimo, Helvetica-Neue, Helvetica;
    font-size: 16px;
    color: #2c2c2c;
}
