<div class="row ms-2 me-2">
    <div class="mt-3 mb-3">
        <span class="review-list-subtitle">{{ 'i18n_teachers' | translate }}:</span>
        <span class="review-list-subtitle" *ngFor="let owner of exam.examOwners; let isLast = last">
            {{ owner.firstName }} {{ owner.lastName }}<span *ngIf="!isLast">,&nbsp;</span>
        </span>
        <span class="review-list-subtitle marl20">{{ 'i18n_exam_validity' | translate }}:</span>
        <span class="review-list-subtitle">
            {{ exam.periodStart | date : 'dd.MM.yyyy' }} - {{ exam.periodEnd | date : 'dd.MM.yyyy' }}
        </span>
    </div>

    <div class="mb-5">
        <span class="review-list-bluetitle">
            <!-- aborted-->
            <a class="pointer" (click)="openAborted()">
                {{ 'i18n_aborted_exams' | translate }} ({{ abortedExamsToBeFreed() }})</a
            >
            <sup
                class="padl05"
                ngbPopover="{{ 'i18n_aborted_description' | translate }}"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
            >
                <img
                    src="/assets/images/icon_tooltip.svg"
                    alt=""
                    onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png'"
                />
            </sup>
            <!-- no-shows -->
            <a style="margin-left: 100px" class="pointer" (click)="openNoShows()"
                >{{ 'i18n_no_shows' | translate }} ({{ noShows.length }})</a
            >
            <sup
                class="padl05"
                ngbPopover="{{ 'i18n_no_shows_description' | translate }}"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
            >
                <img
                    src="/assets/images/icon_tooltip.svg"
                    alt=""
                    onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png'"
                />
            </sup>
        </span>
    </div>

    <div *ngIf="reviews" class="mb-3">
        <div class="review-border mb-5">
            <!-- Ready for review-->
            <xm-rl-in-progress
                [exam]="exam"
                [reviews]="inProgressReviews"
                [collaborative]="collaborative"
            ></xm-rl-in-progress>
        </div>

        <div class="review-border mb-5" *ngIf="languageInspectedReviews.length > 0">
            <!-- Under language inspection -->
            <xm-rl-in-language-inspection [reviews]="languageInspectedReviews"></xm-rl-in-language-inspection>
        </div>

        <div class="review-border mb-5">
            <!-- Graded -->
            <xm-rl-graded
                [exam]="exam"
                [reviews]="gradedReviews"
                [collaborative]="collaborative"
                (registered)="onRegistration($event)"
            >
            </xm-rl-graded>
        </div>

        <div class="review-border mb-5">
            <!-- Graded and Logged -->
            <xm-rl-graded-logged
                [exam]="exam"
                [reviews]="gradedLoggedReviews"
                [collaborative]="collaborative"
                (archived)="onArchive($event)"
            ></xm-rl-graded-logged>
        </div>

        <div class="review-border mb-5" *ngIf="rejectedReviews.length > 0">
            <!-- Rejected -->
            <xm-rl-rejected [reviews]="rejectedReviews"></xm-rl-rejected>
        </div>

        <div class="review-border mb-5" *ngIf="archivedReviews.length > 0">
            <!-- Archived -->
            <xm-rl-archived [reviews]="archivedReviews"></xm-rl-archived>
        </div>
    </div>
</div>
