/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@use '../../shared/definitions.scss' as shared;

.speed-review-title {
    font-size: 22px;
    font-weight: normal;
    color: #2c2c2c;
    padding-bottom: 5px;
    padding-right: 10px;
}

.speed-review-subtitle {
    font-size: 14px;
    color: #2c2c2c;
}

.speed-review-csv {
    font-size: 16px;
    font-weight: bold;
    color: shared.$exam-blue;
}
