.speed-review-title {
    font-size: 22px;
    font-weight: normal;
    color: #2c2c2c;
    padding-bottom: 5px;
    padding-right: 10px;
}

.speed-review-subtitle {
    font-size: 14px;
    color: #2c2c2c;
}

.speed-review-csv {
    font-size: 16px;
    font-weight: bold;
    color: #266b99;
}
