.speed-review-border {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    margin-bottom: 10px;
}
.speed-review-title {
    font-size: 22px;
    font-weight: normal;
    color: #2c2c2c;
    padding-bottom: 5px;
    padding-right: 10px;
}

.speed-review-subtitle {
    font-size: 14px;
    color: #2c2c2c;
}

.speed-review-csv {
    font-size: 16px;
    font-weight: bold;
    color: #266b99;
}
