<div class="row marr10">
    <div class="col-md-12 studentexam-header">
        <h1>
            <span class="exam-title">{{ section.index }}. {{ section.name }}</span>
            <span *ngIf="isPreview && section.lotteryOn" class="sitnet-text-medium">
                <small>({{ 'sitnet_lottery_questions' | translate }})</small>
            </span>
        </h1>
        <div class="section-score-details">
            <div class="section-score-label" *ngIf="getSectionMaxScore() > 0">
                {{ 'sitnet_section_max_score' | translate }}: &nbsp; {{ getSectionMaxScore() }}
            </div>
            <div class="section-score-label" *ngIf="getAmountOfSelectionEvaluatedQuestions() > 0">
                {{ 'sitnet_word_passed_max' | translate }}: &nbsp; {{ getAmountOfSelectionEvaluatedQuestions() }}
            </div>
        </div>
    </div>
</div>
<div class="row marr10 guide-column list-group">
    <div class="col-md-12 pad-15">
        <div class="row">
            <!-- DESCRIPTION FOR SECTION -->
            <div *ngIf="section.description.length > 0" class="col-md-12 mart30">
                <img
                    src="/assets/assets/images/icon_info.svg"
                    alt="info-icon"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_info.png';"
                />
                <span class="padl10">{{ section.description }}</span>
            </div>
        </div>
        <div *ngFor="let material of section.examMaterials" class="row">
            <div>
                class="col-md-12 info-row mart10">
                <i class="text-muted fa fa-book" alt="exam materials"></i>
                <span style="padding-left: 15px">{{ material.name }}</span>
                <span *ngIf="material.author"> ({{ material.author }}) </span>
                <span *ngIf="material.isbn">
                    <small>[ISBN: {{ material.isbn }}]</small>
                </span>
            </div>
        </div>
        <div *ngFor="let sq of section.sectionQuestions | orderBy: 'sequenceNumber'" class="row">
            <examination-question
                class="col-md-12"
                [sq]="sq"
                [exam]="exam"
                [isPreview]="isPreview"
                [isCollaborative]="isCollaborative"
            ></examination-question>
        </div>
    </div>
</div>
