@import '../shared/definitions.scss';

.exam-title {
    color: #2c2c2c;
    border-bottom: 2px solid $exam-dark-green;
    padding-bottom: 7px;
    display: inline-block;
}

.guide-wrapper {
    border-radius: 4px;
    border: 2px solid #ededed;
    border-left: $exam-medium-green 4px solid;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

    &.notactive {
        border-left: #b1b1b1 4px solid;
    }
}
/* TODO: these might be able to merge with main styles */
