<div id="studentexam">
    <!-- HEADER ROW -->
    <examination-header *ngIf="exam" [exam]="exam" (onTimeout)="timedOut()" [isPreview]="isPreview">
    </examination-header>
    <div class="row ml-3">
        <!-- LEFT COLUMN -->
        <div class="col-md-8 col-xs-8">
            <!-- EXAM AREA -->
            <!-- EXAM SECTION -->
            <examination-section
                *ngIf="activeSection"
                [section]="activeSection"
                [index]="activeSection?.sequenceNumber + 1"
                [exam]="exam"
                [isPreview]="isPreview"
                [isCollaborative]="isCollaborative"
            >
            </examination-section>

            <!-- ANSWER INSTRUCTIONS -->
            <answer-instructions *ngIf="!activeSection && exam" [exam]="exam"></answer-instructions>

            <!-- NAVIGATION -->
            <examination-navigation
                *ngIf="exam"
                [exam]="exam"
                [activeSection]="activeSection"
                (onSelect)="selectNewPage($event)"
            >
            </examination-navigation>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="col-md-4 col-xs-4 pr-4">
            <!-- TOOLBAR -->
            <examination-toolbar
                *ngIf="exam"
                [exam]="exam"
                [activeSection]="activeSection"
                [isPreview]="isPreview"
                (onPageSelect)="selectNewPage($event)"
                [isCollaborative]="isCollaborative"
            >
            </examination-toolbar>
        </div>
    </div>
</div>
