<!-- HEADER ROW -->
@if (exam) {
    <xm-examination-header [exam]="exam" (timedOut)="timedOut()" [isPreview]="isPreview"> </xm-examination-header>
}
<div class="row ms-2 mt-2">
    <!-- RIGHT COLUMN -->
    <div class="col-md-4 col-xs-4 pe-4 order-2">
        <!-- TOOLBAR -->
        @if (exam) {
            <xm-examination-toolbar
                [exam]="exam"
                [activeSection]="activeSection"
                [isPreview]="isPreview"
                (pageSelected)="selectNewPage($event)"
                [isCollaborative]="isCollaborative"
            >
            </xm-examination-toolbar>
        }
    </div>
    <!-- LEFT COLUMN -->
    <div class="col-md-8 col-xs-8 order-1">
        <!-- EXAM AREA -->
        <!-- EXAM SECTION -->
        @if (activeSection) {
            <xm-examination-section
                [section]="activeSection"
                [index]="activeSection.sequenceNumber + 1"
                [exam]="exam"
                [isPreview]="isPreview"
                [isCollaborative]="isCollaborative"
            >
            </xm-examination-section>
        }

        <!-- ANSWER INSTRUCTIONS -->
        @if (!activeSection && exam) {
            <xm-answer-instructions [exam]="exam"></xm-answer-instructions>
        }

        <!-- NAVIGATION -->
        @if (exam) {
            <xm-examination-navigation [exam]="exam" [activeSection]="activeSection" (selected)="selectNewPage($event)">
            </xm-examination-navigation>
        }
        <a class="skip" id="skip-button" [href]="getSkipLinkPath('#examination-section')">
            {{ 'i18n_skip_to_content' | translate }}
        </a>
    </div>
</div>
