/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@use '../shared/definitions.scss' as shared;

.exam-title {
    color: #2c2c2c;
    border-bottom: 2px solid shared.$exam-dark-green;
    padding-bottom: 7px;
    display: inline-block;
}

.guide-wrapper {
    border-radius: 4px;
    border: 2px solid #ededed;
    border-left: shared.$exam-medium-green 4px solid;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;

    &.notactive {
        border-left: #b1b1b1 4px solid;
    }
}

.lti-frame {
  width: 100%;
  height: 70vh;
  border: 0;
}

/* TODO: these might be able to merge with main styles */
