<div class="row mx-2">
    <div class="col-md-12">
        <div class="row">
            @if (!collaborative) {
                <div class="col-md-12 pt-2">
                    <div class="xm-paragraph-title">{{ 'i18n_course_info' | translate }}</div>
                </div>
            }
        </div>
        <div class="row">
            <!-- General info section container -->
            <div class="col-md-12">
                <!-- Course data -->
                @if (!collaborative) {
                    <xm-exam-course [exam]="exam" (updated)="onCourseChange()"></xm-exam-course>
                }
                <!-- Exam name and language -->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="xm-paragraph-title">{{ 'i18n_exam_title' | translate }}</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                {{ 'i18n_exam_name' | translate }}
                                <sup
                                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                                    triggers="mouseenter:mouseleave"
                                    ngbPopover="{{ 'i18n_exam_title_description' | translate }}"
                                >
                                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                                </sup>
                            </div>
                            <div class="col-md-9">
                                <input class="form-control w-50" [(ngModel)]="exam.name" (change)="updateExam(false)" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-md-3">
                                {{ 'i18n_exam_language' | translate }}
                                <sup
                                    ngbPopover="{{ 'i18n_exam_language_description' | translate }}"
                                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                                    triggers="mouseenter:mouseleave"
                                >
                                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                                </sup>
                            </div>
                            <div class="col">
                                <xm-language-picker
                                    [exam]="exam"
                                    [collaborative]="collaborative"
                                    [disabled]="collaborative && !user.isAdmin"
                                ></xm-language-picker>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- EXECUTION TYPE -->
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-md-3">{{ 'i18n_new_exam_type' | translate }}</div>
                            <div class="col-md-9">{{ getExecutionTypeTranslation() | translate }}</div>
                        </div>
                    </div>
                </div>

                <!-- EXAMINATION TYPE -->
                @if (byodExaminationSupported) {
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="row">
                                <div class="col-md-3">{{ 'i18n_examination_type' | translate }}</div>
                                <div class="col-md-9">{{ getExaminationTypeName() | translate }}</div>
                            </div>
                        </div>
                    </div>
                }

                <!-- ANONYMOUS REVIEW -->
                <div class="row" [hidden]="!showAnonymousReview()">
                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-md-3">{{ 'i18n_anonymous_review' | translate }}</div>
                            <div class="col-md-9">
                                <input
                                    type="checkbox"
                                    title="anonymous"
                                    name="anonymous"
                                    (change)="toggleAnonymous()"
                                    [(ngModel)]="exam.anonymous"
                                    [disabled]="toggleAnonymousDisabled()"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- INTERNAL REF -->
                <div class="row" [hidden]="exam.executionType.type !== 'PRINTOUT'">
                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-md-3">
                                {{ 'i18n_internal_exam_reference' | translate }}
                            </div>
                            <div class="col-md-9">
                                <input
                                    type="text"
                                    maxlength="128"
                                    [(ngModel)]="exam.internalRef"
                                    (change)="updateExam(false)"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Exam owners -->
                <div class="row">
                    <div class="col-md-12">
                        @if (!collaborative) {
                            <xm-exam-owner-picker [exam]="exam"></xm-exam-owner-picker>
                        }
                    </div>
                </div>

                <!-- Subject to language inspection-->
                <div class="row" [hidden]="exam.executionType.type !== 'MATURITY'">
                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-md-3">
                                {{ 'i18n_subject_to_language_inspection' | translate }}
                            </div>
                            <div class="col-md-9">
                                <button
                                    class="btn selection-button-wide"
                                    [ngClass]="exam.subjectToLanguageInspection === true ? 'btn-primary' : ''"
                                    [disabled]="exam.state === 'PUBLISHED'"
                                    (click)="exam.subjectToLanguageInspection = true; updateExam(false)"
                                >
                                    {{ 'DIALOGS_YES' | translate }}</button
                                >&nbsp;
                                <button
                                    class="btn selection-button-wide"
                                    [ngClass]="exam.subjectToLanguageInspection === false ? 'btn-primary' : ''"
                                    [disabled]="exam.state === 'PUBLISHED'"
                                    (click)="exam.subjectToLanguageInspection = false; updateExam(false)"
                                >
                                    {{ 'DIALOGS_NO' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Exam inspectors -->
                <div class="row">
                    <div class="col-md-12">
                        @if (exam.executionType.type !== 'MATURITY' && !collaborative) {
                            <xm-exam-inspector-picker [exam]="exam"> </xm-exam-inspector-picker>
                        }
                    </div>
                </div>

                <!-- Space requirements and attachments -->
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <div class="row me-3">
                            <div class="col-md-12">
                                <div class="xm-paragraph-title">{{ 'i18n_exam_requirements' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (exam && !collaborative) {
                    <xm-software-picker [exam]="exam"></xm-software-picker>
                }

                <!-- EXAM ATTACHMENT -->
                @if (exam.implementation !== 'CLIENT_AUTH') {
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="row">
                                <div class="col-md-3">
                                    {{ 'i18n_exam_attachment' | translate }}
                                    <sup
                                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                                        triggers="mouseenter:mouseleave"
                                        ngbPopover="{{ 'i18n_attachment_description' | translate }}"
                                    >
                                        <img src="/assets/images/icon_tooltip.svg" alt="" />
                                    </sup>
                                </div>
                                <div class="col-md-9">
                                    <button type="button" class="btn btn-success" (click)="selectAttachmentFile()">
                                        {{ 'i18n_attach_file' | translate }}
                                    </button>
                                    @if (exam.attachment) {
                                        <div class="make-inline">
                                            <a class="pointer" (click)="downloadExamAttachment()">
                                                <i class="bi-paperclip ps-2"></i>{{ exam.attachment?.fileName }}</a
                                            >
                                            <span class="pointer ms-2" (click)="removeExamAttachment()">
                                                <i
                                                    class="bi bi-x-lg text-danger"
                                                    title="{{ 'i18n_remove' | translate }}"
                                                ></i>
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- INSTRUCTIONS -->
                <div class="row" [hidden]="exam.executionType.type === 'MATURITY'">
                    <div class="col-md-12 mt-3">
                        <div class="row me-3">
                            <div class="col-md-12">
                                <div class="xm-paragraph-title">{{ 'i18n_instruction' | translate }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" [hidden]="exam.executionType.type === 'MATURITY'">
                    <div class="col-md-12 mt-3">
                        <div class="row me-3">
                            <div class="col-md-3">
                                {{ 'i18n_exam_instruction' | translate }}
                                <sup
                                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                                    triggers="mouseenter:mouseleave"
                                    ngbPopover="{{ 'i18n_exam_instruction_description' | translate }}"
                                >
                                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                                </sup>
                            </div>
                            <div class="col-md-9">
                                <xm-ckeditor
                                    rows="4"
                                    cols="150"
                                    [enableClozeTest]="false"
                                    [(ngModel)]="exam.instruction"
                                    (onBlur)="updateExam(false)"
                                    #ck="ngModel"
                                    name="ck"
                                ></xm-ckeditor>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" [hidden]="exam.executionType.type === 'MATURITY'">
                    <div class="col-md-12 mt-3">
                        <div class="row me-3">
                            @if (exam.executionType.type !== 'PRINTOUT') {
                                <div class="col-md-3">
                                    {{ 'i18n_enroll_instruction' | translate }}
                                    <sup
                                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                                        triggers="mouseenter:mouseleave"
                                        ngbPopover="{{ 'i18n_exam_enroll_instruction_description' | translate }}"
                                    >
                                        <img src="/assets/images/icon_tooltip.svg" alt="" />
                                    </sup>
                                </div>
                            }
                            <!-- Map these instructions to allowed tools in case of printout -->
                            @if (exam.executionType.type === 'PRINTOUT') {
                                <div class="col-md-3">
                                    {{ 'i18n_allowed_tools' | translate }}
                                </div>
                            }
                            <div class="col-md-9">
                                <xm-ckeditor
                                    rows="4"
                                    cols="150"
                                    [enableClozeTest]="false"
                                    [(ngModel)]="exam.enrollInstruction"
                                    (onBlur)="updateExam(false)"
                                    #ck="ngModel"
                                    name="ck"
                                ></xm-ckeditor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Buttons -->
<div class="row my-4 justify-content-end">
    <div class="col-auto p1">
        <button class="xm-ok-button" (click)="updateExam(false)">
            {{ 'i18n_save' | translate }}
        </button>
    </div>
    <div class="col-auto p1">
        @if (showDelete()) {
            <button class="xm-warning-button" (click)="removeExam()">{{ 'i18n_exam_remove' | translate }}</button>
        }
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12 mb-3 pt-3 grey-top">
        <span class="float-end">
            <button class="xm-neutral-button" (click)="nextTab()">{{ 'i18n_questions' | translate }} &raquo;</button>
        </span>
    </div>
</div>
