<div class="row">
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-3">
                {{ 'i18n_exam_owners' | translate }}
                <sup
                    ngbPopover="{{ 'i18n_exam_owner_description' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                    ><img src="/assets/images/icon_tooltip.svg" alt=""
                /></sup>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input
                        type="text"
                        class="form-control make-inline"
                        [(ngModel)]="newOwner.name"
                        [ngbTypeahead]="listOwners$"
                        [inputFormatter]="nameFormatter"
                        [resultFormatter]="nameFormatter"
                        (selectItem)="setExamOwner($event)"
                    />
                    <button (click)="addExamOwner()" class="input-group-text btn btn-success">
                        {{ 'i18n_add' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-9 offset-md-3">
                @for (user of examOwners; track user) {
                    {{ user.firstName }} {{ user.lastName }} ({{ user.email }})
                    <button
                        class="btn btn-sm btn-light"
                        [disabled]="examOwners.length === 1"
                        (click)="removeOwner(user.id)"
                        title="{{ 'i18n_remove' | translate }}"
                    >
                        <i class="bi bi-x"></i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>
