<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>URLFilterEnable</key>
        <false/>
        <key>URLFilterEnableContentFilter</key>
        <false/>
        <key>URLFilterIgnoreList</key>
        <array/>
        <key>URLFilterMessage</key>
        <integer>0</integer>
        <key>URLFilterRules</key>
        <array/>
        <key>aacDnsPrePinning</key>
        <false/>
        <key>additionalResources</key>
        <array/>
        <key>allowApplicationLog</key>
        <false/>
        <key>allowAudioCapture</key>
        <false/>
        <key>allowBrowsingBackForward</key>
        <false/>
        <key>allowCustomDownUploadLocation</key>
        <false/>
        <key>allowCustomDownloadLocation</key>
        <false/>
        <key>allowDeveloperConsole</key>
        <true/>
        <key>allowDictation</key>
        <false/>
        <key>allowDictionaryLookup</key>
        <false/>
        <key>allowDisplayMirroring</key>
        <false/>
        <key>allowDownUploads</key>
        <false/>
        <key>allowDownloads</key>
        <true/>
        <key>allowFind</key>
        <true/>
        <key>allowFlashFullscreen</key>
        <false/>
        <key>allowMacOSVersionNumberCheckFull</key>
        <false/>
        <key>allowMacOSVersionNumberMajor</key>
        <integer>10</integer>
        <key>allowMacOSVersionNumberMinor</key>
        <integer>13</integer>
        <key>allowMacOSVersionNumberPatch</key>
        <integer>0</integer>
        <key>allowPDFPlugIn</key>
        <false/>
        <key>allowPDFReaderToolbar</key>
        <false/>
        <key>allowPreferencesWindow</key>
        <false/>
        <key>allowPrint</key>
        <false/>
        <key>allowQuit</key>
        <!-- allowQuit /-->
        <key>allowScreenCapture</key>
        <false/>
        <key>allowScreenSharing</key>
        <false/>
        <key>allowSiri</key>
        <false/>
        <key>allowSpellCheck</key>
        <false/>
        <key>allowSwitchToApplications</key>
        <false/>
        <key>allowUploads</key>
        <true/>
        <key>allowUserAppFolderInstall</key>
        <false/>
        <key>allowUserSwitching</key>
        <true/>
        <key>allowVideoCapture</key>
        <false/>
        <key>allowVirtualMachine</key>
        <false/>
        <key>allowWLAN</key>
        <false/>
        <key>allowedDisplayBuiltin</key>
        <true/>
        <key>allowedDisplayBuiltinEnforce</key>
        <false/>
        <key>allowedDisplayBuiltinExceptDesktop</key>
        <true/>
        <key>allowedDisplaysIgnoreFailure</key>
        <false/>
        <key>allowedDisplaysMaxNumber</key>
        <integer>1</integer>
        <key>allowiOSBetaVersionNumber</key>
        <integer>0</integer>
        <key>allowiOSVersionNumberMajor</key>
        <integer>11</integer>
        <key>allowiOSVersionNumberMinor</key>
        <integer>0</integer>
        <key>allowiOSVersionNumberPatch</key>
        <integer>0</integer>
        <key>audioControlEnabled</key>
        <true/>
        <key>audioMute</key>
        <false/>
        <key>audioSetVolumeLevel</key>
        <false/>
        <key>audioVolumeLevel</key>
        <integer>25</integer>
        <key>autoQuitApplications</key>
        <true/>
        <key>backgroundOpenSEBConfig</key>
        <false/>
        <key>blacklistURLFilter</key>
        <string></string>
        <key>blockPopUpWindows</key>
        <false/>
        <key>blockScreenShotsLegacy</key>
        <false/>
        <key>browserMediaAutoplay</key>
        <true/>
        <key>browserMediaAutoplayAudio</key>
        <true/>
        <key>browserMediaAutoplayVideo</key>
        <true/>
        <key>browserMediaCaptureCamera</key>
        <false/>
        <key>browserMediaCaptureMicrophone</key>
        <false/>
        <key>browserMediaCaptureScreen</key>
        <false/>
        <key>browserMessagingPingTime</key>
        <integer>120000</integer>
        <key>browserMessagingSocket</key>
        <string>ws://localhost:8706</string>
        <key>browserScreenKeyboard</key>
        <false/>
        <key>browserShowFileSystemElementPath</key>
        <true/>
        <key>browserURLSalt</key>
        <true/>
        <key>browserUserAgent</key>
        <string></string>
        <key>browserUserAgentMac</key>
        <integer>0</integer>
        <key>browserUserAgentMacCustom</key>
        <string></string>
        <key>browserUserAgentWinDesktopMode</key>
        <integer>0</integer>
        <key>browserUserAgentWinDesktopModeCustom</key>
        <string></string>
        <key>browserUserAgentWinTouchMode</key>
        <integer>0</integer>
        <key>browserUserAgentWinTouchModeCustom</key>
        <string></string>
        <key>browserUserAgentWinTouchModeIPad</key>
        <string>Mozilla/5.0 (iPad; CPU OS 12_4_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.1.2 Mobile/15E148 Safari/604.1</string>
        <key>browserUserAgentiOS</key>
        <integer>0</integer>
        <key>browserUserAgentiOSCustom</key>
        <string></string>
        <key>browserViewMode</key>
        <integer>0</integer>
        <key>browserWindowAllowAddressBar</key>
        <false/>
        <key>browserWindowAllowReload</key>
        <true/>
        <key>browserWindowShowURL</key>
        <integer>0</integer>
        <key>browserWindowTitleSuffix</key>
        <string></string>
        <key>browserWindowWebView</key>
        <integer>2</integer>
        <key>chooseFileToUploadPolicy</key>
        <integer>0</integer>
        <key>configFileCreateIdentity</key>
        <false/>
        <key>configFileEncryptUsingIdentity</key>
        <false/>
        <key>configKeySalt</key>
        <data>
        </data>
        <key>createNewDesktop</key>
        <true/>
        <key>defaultPageZoomLevel</key>
        <real>1</real>
        <key>defaultTextZoomLevel</key>
        <real>1</real>
        <key>detectStoppedProcess</key>
        <true/>
        <key>downloadAndOpenSebConfig</key>
        <true/>
        <key>downloadDirectoryOSX</key>
        <string>~/Downloads</string>
        <key>downloadDirectoryWin</key>
        <string>Downloads</string>
        <key>downloadPDFFiles</key>
        <false/>
        <key>embeddedCertificates</key>
        <array/>
        <key>enableAltEsc</key>
        <false/>
        <key>enableAltF4</key>
        <false/>
        <key>enableAltMouseWheel</key>
        <false/>
        <key>enableAltTab</key>
        <true/>
        <key>enableAppSwitcherCheck</key>
        <true/>
        <key>enableBrowserWindowToolbar</key>
        <false/>
        <key>enableChromeNotifications</key>
        <false/>
        <key>enableCtrlEsc</key>
        <false/>
        <key>enableDrawingEditor</key>
        <false/>
        <key>enableEsc</key>
        <true/>
        <key>enableF1</key>
        <true/>
        <key>enableF10</key>
        <true/>
        <key>enableF11</key>
        <true/>
        <key>enableF12</key>
        <true/>
        <key>enableF2</key>
        <true/>
        <key>enableF3</key>
        <true/>
        <key>enableF4</key>
        <true/>
        <key>enableF5</key>
        <true/>
        <key>enableF6</key>
        <true/>
        <key>enableF7</key>
        <true/>
        <key>enableF8</key>
        <true/>
        <key>enableF9</key>
        <true/>
        <key>enableFindPrinter</key>
        <false/>
        <key>enableJava</key>
        <false/>
        <key>enableJavaScript</key>
        <true/>
        <key>enableLogging</key>
        <true/>
        <key>enableMacOSAAC</key>
        <false/>
        <key>enableMiddleMouse</key>
        <false/>
        <key>enablePlugIns</key>
        <true/>
        <key>enablePrintScreen</key>
        <false/>
        <key>enablePrivateClipboard</key>
        <true/>
        <key>enableRightMouse</key>
        <true/>
        <key>enableRightMouseMac</key>
        <true/>
        <key>enableScrollLock</key>
        <true/>
        <key>enableSebBrowser</key>
        <true/>
        <key>enableStartMenu</key>
        <false/>
        <key>enableTouchExit</key>
        <false/>
        <key>enableURLContentFilter</key>
        <false/>
        <key>enableURLFilter</key>
        <false/>
        <key>enableWindowsUpdate</key>
        <false/>
        <key>enableZoomPage</key>
        <true/>
        <key>enableZoomText</key>
        <true/>
        <key>examKeySalt</key>
        <data>
            krxHReHdQZBPxg/1x1qp4SBOt9WY+igu1165ZLE6w2g=
        </data>
        <key>examSessionClearCookiesOnEnd</key>
        <true/>
        <key>examSessionClearCookiesOnStart</key>
        <true/>
        <key>examSessionReconfigureAllow</key>
        <false/>
        <key>examSessionReconfigureConfigURL</key>
        <string></string>
        <key>exitKey1</key>
        <integer>2</integer>
        <key>exitKey2</key>
        <integer>10</integer>
        <key>exitKey3</key>
        <integer>5</integer>
        <key>forceAppFolderInstall</key>
        <true/>
        <key>hashedAdminPassword</key>
        <string>*** adminPwd ***</string>
        <key>hashedQuitPassword</key>
        <string>*** quitPwd ***</string>
        <key>hideBrowserWindowToolbar</key>
        <false/>
        <key>hookKeys</key>
        <true/>
        <key>ignoreExitKeys</key>
        <true/>
        <key>ignoreQuitPassword</key>
        <false/>
        <key>insideSebEnableChangeAPassword</key>
        <false/>
        <key>insideSebEnableEaseOfAccess</key>
        <false/>
        <key>insideSebEnableLockThisComputer</key>
        <false/>
        <key>insideSebEnableLogOff</key>
        <false/>
        <key>insideSebEnableNetworkConnectionSelector</key>
        <false/>
        <key>insideSebEnableShutDown</key>
        <false/>
        <key>insideSebEnableStartTaskManager</key>
        <false/>
        <key>insideSebEnableSwitchUser</key>
        <false/>
        <key>insideSebEnableVmWareClientShade</key>
        <false/>
        <key>jitsiMeetAudioMuted</key>
        <false/>
        <key>jitsiMeetAudioOnly</key>
        <false/>
        <key>jitsiMeetEnable</key>
        <false/>
        <key>jitsiMeetFeatureFlagChat</key>
        <false/>
        <key>jitsiMeetFeatureFlagCloseCaptions</key>
        <false/>
        <key>jitsiMeetFeatureFlagDisplayMeetingName</key>
        <false/>
        <key>jitsiMeetFeatureFlagRaiseHand</key>
        <false/>
        <key>jitsiMeetFeatureFlagRecording</key>
        <false/>
        <key>jitsiMeetFeatureFlagTileView</key>
        <false/>
        <key>jitsiMeetReceiveAudio</key>
        <false/>
        <key>jitsiMeetReceiveVideo</key>
        <false/>
        <key>jitsiMeetRoom</key>
        <string></string>
        <key>jitsiMeetSendAudio</key>
        <true/>
        <key>jitsiMeetSendVideo</key>
        <true/>
        <key>jitsiMeetServerURL</key>
        <string></string>
        <key>jitsiMeetSubject</key>
        <string></string>
        <key>jitsiMeetToken</key>
        <string></string>
        <key>jitsiMeetUserInfoAvatarURL</key>
        <string></string>
        <key>jitsiMeetUserInfoDisplayName</key>
        <string></string>
        <key>jitsiMeetUserInfoEMail</key>
        <string></string>
        <key>jitsiMeetVideoMuted</key>
        <false/>
        <key>killExplorerShell</key>
        <false/>
        <key>lockOnMessageSocketClose</key>
        <true/>
        <key>logDirectoryOSX</key>
        <string></string>
        <key>logDirectoryWin</key>
        <string></string>
        <key>logLevel</key>
        <integer>3</integer>
        <key>logSendingRequiresAdminPassword</key>
        <false/>
        <key>mainBrowserWindowHeight</key>
        <string>100%</string>
        <key>mainBrowserWindowPositioning</key>
        <integer>1</integer>
        <key>mainBrowserWindowWidth</key>
        <string>100%</string>
        <key>minMacOSVersion</key>
        <integer>6</integer>
        <key>mobileAllowInlineMediaPlayback</key>
        <true/>
        <key>mobileAllowPictureInPictureMediaPlayback</key>
        <false/>
        <key>mobileAllowQRCodeConfig</key>
        <false/>
        <key>mobileAllowSingleAppMode</key>
        <false/>
        <key>mobileCompactAllowInlineMediaPlayback</key>
        <false/>
        <key>mobileEnableASAM</key>
        <true/>
        <key>mobileEnableGuidedAccessLinkTransform</key>
        <false/>
        <key>mobilePreventAutoLock</key>
        <true/>
        <key>mobileShowSettings</key>
        <false/>
        <key>mobileSleepModeLockScreen</key>
        <true/>
        <key>mobileStatusBarAppearance</key>
        <integer>1</integer>
        <key>mobileStatusBarAppearanceExtended</key>
        <integer>1</integer>
        <key>mobileSupportedFormFactorsCompact</key>
        <true/>
        <key>mobileSupportedFormFactorsNonTelephonyCompact</key>
        <true/>
        <key>mobileSupportedFormFactorsRegular</key>
        <true/>
        <key>mobileSupportedScreenOrientationsCompactLandscapeLeft</key>
        <true/>
        <key>mobileSupportedScreenOrientationsCompactLandscapeRight</key>
        <true/>
        <key>mobileSupportedScreenOrientationsCompactPortrait</key>
        <true/>
        <key>mobileSupportedScreenOrientationsCompactPortraitUpsideDown</key>
        <false/>
        <key>mobileSupportedScreenOrientationsRegularLandscapeLeft</key>
        <true/>
        <key>mobileSupportedScreenOrientationsRegularLandscapeRight</key>
        <true/>
        <key>mobileSupportedScreenOrientationsRegularPortrait</key>
        <true/>
        <key>mobileSupportedScreenOrientationsRegularPortraitUpsideDown</key>
        <true/>
        <key>monitorProcesses</key>
        <true/>
        <key>newBrowserWindowAllowAddressBar</key>
        <false/>
        <key>newBrowserWindowAllowReload</key>
        <true/>
        <key>newBrowserWindowByLinkBlockForeign</key>
        <false/>
        <key>newBrowserWindowByLinkHeight</key>
        <string>100%</string>
        <key>newBrowserWindowByLinkPolicy</key>
        <integer>2</integer>
        <key>newBrowserWindowByLinkPositioning</key>
        <integer>2</integer>
        <key>newBrowserWindowByLinkWidth</key>
        <string>1000</string>
        <key>newBrowserWindowByScriptBlockForeign</key>
        <false/>
        <key>newBrowserWindowByScriptPolicy</key>
        <integer>2</integer>
        <key>newBrowserWindowNavigation</key>
        <true/>
        <key>newBrowserWindowShowReloadWarning</key>
        <false/>
        <key>newBrowserWindowShowURL</key>
        <integer>0</integer>
        <key>openDownloads</key>
        <false/>
        <key>originatorVersion</key>
        <string>SEB_iOS_3.2.5_1456D</string>
        <key>oskBehavior</key>
        <integer>2</integer>
        <key>permittedProcesses</key>
        <array/>
        <key>pinEmbeddedCertificates</key>
        <false/>
        <key>proctoringAIEnable</key>
        <false/>
        <key>proctoringDetectFaceAngleDisplay</key>
        <true/>
        <key>proctoringDetectFaceCount</key>
        <true/>
        <key>proctoringDetectFaceCountDisplay</key>
        <true/>
        <key>proctoringDetectFacePitch</key>
        <true/>
        <key>proctoringDetectFaceYaw</key>
        <true/>
        <key>proctoringDetectTalking</key>
        <true/>
        <key>proctoringDetectTalkingDisplay</key>
        <true/>
        <key>prohibitedProcesses</key>
        <array>
            <dict>
                <key>active</key>
                <false/>
            </dict>
        </array>
        <key>proxies</key>
        <dict>
            <key>AutoConfigurationEnabled</key>
            <false/>
            <key>AutoConfigurationJavaScript</key>
            <string></string>
            <key>AutoConfigurationURL</key>
            <string></string>
            <key>AutoDiscoveryEnabled</key>
            <false/>
            <key>ExceptionsList</key>
            <array/>
            <key>ExcludeSimpleHostnames</key>
            <false/>
            <key>FTPEnable</key>
            <false/>
            <key>FTPPassive</key>
            <true/>
            <key>FTPPassword</key>
            <string></string>
            <key>FTPPort</key>
            <integer>21</integer>
            <key>FTPProxy</key>
            <string></string>
            <key>FTPRequiresPassword</key>
            <false/>
            <key>FTPUsername</key>
            <string></string>
            <key>HTTPEnable</key>
            <false/>
            <key>HTTPPassword</key>
            <string></string>
            <key>HTTPPort</key>
            <integer>80</integer>
            <key>HTTPProxy</key>
            <string></string>
            <key>HTTPRequiresPassword</key>
            <false/>
            <key>HTTPSEnable</key>
            <false/>
            <key>HTTPSPassword</key>
            <string></string>
            <key>HTTPSPort</key>
            <integer>443</integer>
            <key>HTTPSProxy</key>
            <string></string>
            <key>HTTPSRequiresPassword</key>
            <false/>
            <key>HTTPSUsername</key>
            <string></string>
            <key>HTTPUsername</key>
            <string></string>
            <key>RTSPEnable</key>
            <false/>
            <key>RTSPPassword</key>
            <string></string>
            <key>RTSPPort</key>
            <integer>554</integer>
            <key>RTSPProxy</key>
            <string></string>
            <key>RTSPRequiresPassword</key>
            <false/>
            <key>RTSPUsername</key>
            <string></string>
            <key>SOCKSEnable</key>
            <false/>
            <key>SOCKSPassword</key>
            <string></string>
            <key>SOCKSPort</key>
            <integer>1080</integer>
            <key>SOCKSProxy</key>
            <string></string>
            <key>SOCKSRequiresPassword</key>
            <false/>
            <key>SOCKSUsername</key>
            <string></string>
        </dict>
        <key>proxySettingsPolicy</key>
        <integer>0</integer>
        <key>quitURL</key>
        <string>*** quitLink ***</string>
        <key>quitURLConfirm</key>
        <true/>
        <key>quitURLRestart</key>
        <false/>
        <key>raiseHandButtonAlwaysPromptMessage</key>
        <false/>
        <key>raiseHandButtonShow</key>
        <true/>
        <key>remoteProctoringViewShow</key>
        <integer>0</integer>
        <key>removeBrowserProfile</key>
        <false/>
        <key>removeLocalStorage</key>
        <false/>
        <key>restartExamPasswordProtected</key>
        <true/>
        <key>restartExamText</key>
        <string></string>
        <key>restartExamURL</key>
        <string></string>
        <key>restartExamUseStartURL</key>
        <false/>
        <key>screenSharingMacEnforceBlocked</key>
        <false/>
        <key>sebConfigPurpose</key>
        <integer>0</integer>
        <key>sebMode</key>
        <integer>0</integer>
        <key>sebServerConfiguration</key>
        <dict>
            <key>apiDiscovery</key>
            <string></string>
            <key>clientName</key>
            <string></string>
            <key>clientSecret</key>
            <string></string>
            <key>institution</key>
            <string></string>
            <key>pingInterval</key>
            <integer>1000</integer>
        </dict>
        <key>sebServerFallback</key>
        <false/>
        <key>sebServerFallbackAttemptInterval</key>
        <integer>2000</integer>
        <key>sebServerFallbackAttempts</key>
        <integer>5</integer>
        <key>sebServerFallbackPasswordHash</key>
        <string></string>
        <key>sebServerFallbackTimeout</key>
        <integer>30000</integer>
        <key>sebServerURL</key>
        <string></string>
        <key>sebServiceIgnore</key>
        <true/>
        <key>sebServicePolicy</key>
        <integer>2</integer>
        <key>sendBrowserExamKey</key>
        <true/>
        <key>setVmwareConfiguration</key>
        <false/>
        <key>showApplicationLogButton</key>
        <false/>
        <key>showBackToStartButton</key>
        <true/>
        <key>showInputLanguage</key>
        <false/>
        <key>showMenuBar</key>
        <true/>
        <key>showNavigationButtons</key>
        <false/>
        <key>showProctoringViewButton</key>
        <true/>
        <key>showQuitButton</key>
        <true/>
        <key>showReloadButton</key>
        <true/>
        <key>showReloadWarning</key>
        <false/>
        <key>showScanQRCodeButton</key>
        <false/>
        <key>showScrollLockButton</key>
        <true/>
        <key>showSideMenu</key>
        <true/>
        <key>showTaskBar</key>
        <true/>
        <key>showTime</key>
        <true/>
        <key>startResource</key>
        <string></string>
        <key>startURL</key>
        <string>*** startURL ***</string>
        <key>startURLAllowDeepLink</key>
        <false/>
        <key>startURLAppendQueryParameter</key>
        <false/>
        <key>tabFocusesLinks</key>
        <true/>
        <key>taskBarHeight</key>
        <integer>40</integer>
        <key>terminateProcesses</key>
        <false/>
        <key>touchOptimized</key>
        <false/>
        <key>urlFilterRegex</key>
        <true/>
        <key>urlFilterTrustedContent</key>
        <false/>
        <key>useAsymmetricOnlyEncryption</key>
        <false/>
        <key>useTemporaryDownUploadDirectory</key>
        <false/>
        <key>whitelistURLFilter</key>
        <string></string>
        <key>zoomAPIKey</key>
        <string></string>
        <key>zoomAudioMuted</key>
        <false/>
        <key>zoomEnable</key>
        <false/>
        <key>zoomFeatureFlagChat</key>
        <false/>
        <key>zoomFeatureFlagCloseCaptions</key>
        <false/>
        <key>zoomFeatureFlagRaiseHand</key>
        <false/>
        <key>zoomFeatureFlagTileView</key>
        <false/>
        <key>zoomMeetingKey</key>
        <string></string>
        <key>zoomMode</key>
        <integer>0</integer>
        <key>zoomReceiveAudio</key>
        <false/>
        <key>zoomReceiveVideo</key>
        <false/>
        <key>zoomRoom</key>
        <string></string>
        <key>zoomSDKToken</key>
        <string></string>
        <key>zoomSendAudio</key>
        <true/>
        <key>zoomSendVideo</key>
        <true/>
        <key>zoomServerURL</key>
        <string></string>
        <key>zoomSubject</key>
        <string></string>
        <key>zoomToken</key>
        <string></string>
        <key>zoomUserInfoDisplayName</key>
        <string></string>
        <key>zoomUserName</key>
        <string></string>
        <key>zoomVideoMuted</key>
        <false/>
    </dict>
</plist>
