<div id="sitnet-dialog" ng-controller="ExamController">
    <div class="terms-dialog-header">
        <h4><i class="sitnet-white">{{'sitnet_attachment_selection' | translate}}</i></h4>
    </div>
    <div class="modal-body">
        <p>
            {{'sitnet_select_attachment' | translate}}

        </p>
        <form enctype="multipart/form-data" method="post" ng-submit="ok(); submit(newExam);">
            <input type="file" name="attachment" file-model="attachmentFile">
            <div class="modal-footer">
                <div class="col-md-3">
                    <span ng-click="cancel()" class="sitnet-red pointer"><i class="fa fa-arrow-circle-left fa-stack-2x"></i>{{'sitnet_button_cancel' | translate}}</span>
                </div>
                <div class="col-md-3 col-md-offset-5">
                    <input type="submit" class="form-control"></input>
                </div>
            </div>
        </form>
    </div>
</div>
