<div id="sitnet-header" class="header">
    <div class="col-md-8 header-wrapper">
        <span class="header-text">{{'sitnet_exam' | translate}}</span>
    </div>
    <div class="col-md-4 ">
        <!--<span class="header-clock pull-right">
            <span class="col-md-12  weekday">24. lauantai</span>
            <span class="col-md-12  date">Toukokuuta 2014</span>
            <span class="col-md-12  clock"></span>
        </span>-->
    </div>
</div>

<div id="exam" class="row base">
    <div class="col-md-12">
        <div class="row">
            <div ng-class="session.minimizeLibrary ? 'col-md-11' : 'col-md-8'">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Exam name -->
                        <div ng-init="showName = true">
                            <div ng-show="showName">
                                <span class="exam-name" ng-click="showName = !showName">
                                    {{newExam.name}} <i class="fa fa-pencil"></i>
                                </span>
                            </div>
                            <div ng-show="!showName">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg" ng-model="newExam.name" autofocus/>
                                    </div>
                                    <button class="btn-primary" ng-click="showName = !showName; updateExam()">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- General Information -->
                    <div class="col-md-12 bottom-padding-2" ng-include="generalInfoPath"></div>
                    <div class="col-md-12">
                        <div ui-on-Drop="onDrop($event, $data, section)" ng-include="sectionPath" ng-repeat="section in newExam.examSections"></div>
                    </div>

                    </div>
                    <span ng-click="addNewSection()" class="create-new">
                        <center>
                            <i class="fa fa-2x fa-hand-o-right"></i>
                            {{'sitnet_section_add' | translate}}
                        </center>
                    </span>
                    <span>
                        <button ng-click="saveExam()" class="btn btn-primary">{{'sitnet_save' | translate}}</button>
                    </span>
                    <span class="pull-right">
                        <button ng-click="previewExam()" class="btn btn-primary">{{'sitnet_preview' | translate}}</button>
                        <button ng-click="saveAndPublishExam()" class="btn btn-warning">{{'sitnet_save_and_publish' | translate}}</button>
                    </span>
            </div>
            <div ng-include="libraryTemplate" ng-class="session.minimizeLibrary ? 'col-md-1' : 'col-md-4'"></div>
        </div>
    </div>
</div>

