<div ng-class="question.expand ? 'single-question-header-active' : 'single-question-header-inactive'">
    <!-- Question icon -->
    <span class="single-question-icon">
		<i class="fa fa-1x fa-list-ul"></i>
	</span>

    <!-- Question -->
    <span ng-bind-html="question.question"></span>

    <!-- Chevron icon -->
    <span style="padding-right: 1em;" ng-click="question.expanded = !question.expanded; expandQuestion(question)" class="pull-right pointer-hand">
            <i ng-class="question.expanded ? 'fa-chevron-down' : 'fa-chevron-left'"
               class="sitnet-white fa fa-1x"></i>
    </span>

    <!-- Cog icon -->
    <span style="padding-right: 1em;" ng-click="editQuestion(question)" class="dropdown pull-right pointer-hand">
		<a class="dropdown-toggle">
			<i class="sitnet-white fa fa-cog fa-1x"></i>
	    </a>
		<ul class="dropdown-menu">
			<li><a>{{'sitnet_settings' | translate}}</a></li>
			<li><a ng-click="removeQuestion(section, question)">{{'sitnet_remove' | translate}}</a></li>
		</ul>
	</span>
</div>
<ol ng-show="question.expanded">
    <li class="exam-question-option" ng-repeat="option in question.options">
        <input type="radio" name="option.id" ng-value="option" class="list-group-item-text"/>
        {{option.option}}
        <span class="badge" ng-show="option.correctOption" class="ng-show">{{ 'sitnet_multiplechoice_question_correct' | translate }}</span>
    </li>
</ol>
