<div class="" ng-class="question.hide ? 'single-question-header-active' : 'single-question-header-inactive'">
	<span class="single-question-icon">
		<i class="fa fa-2x fa-list-ul"></i>
	</span>
    <span class="menu-item" ng-bind-html="question.question"></span>
  	<span ng-click="toggleQuestion(question)" class="pull-right fa-stack fa-lg pointer-hand">
            <i ng-class="question.hide ? 'fa-chevron-down' : 'fa-chevron-left'"
               class="sitnet-white fa fa-stack-1x"></i>
    </span>
    <span ng-click="editQuestion(question)" class=" dropdown pull-right fa-stack fa-lg pointer-hand">
		<a class="dropdown-toggle">
			<i class="sitnet-white fa fa-cog fa-stack-1x"></i>
	    </a>
		<ul class="dropdown-menu">
			<li><a>{{'sitnet_settings' | translate}}</a></li>
			<li><a ng-click="removeQuestion(section, question)">{{'sitnet_remove' | translate}}</a></li>
		</ul>
	</span>
<!--     </div> -->
</div>
<ol ng-show="question.hide">
    <li class="exam-question-option" ng-repeat="option in question.options">
        <input type="radio" name="option.id" ng-value="option" class="list-group-item-text"/>
        {{option.option}}
        <span class="badge" ng-show="option.correctOption" class="ng-show">TOSI</span>
    </li>
</ol>
