<div class="exam-general-information-header">
    {{'sitnet_exam_basic_information' | translate}}
    <span class="pull-right fa-stack fa-lg">
        <i class="sitnet-grey fa fa-square fa-stack-2x"></i>
        <i ng-class="newExam.expanded ? 'fa-chevron-down' : 'fa-chevron-left'"
           ng-click="newExam.expanded = !newExam.expanded"
           class="sitnet-white fa fa-chevron-left fa-stack-1x"></i>
    </span>
    <span class="pull-right fa-stack fa-lg dropdown">
        <a class="dropdown-toggle"> <i class="sitnet-blue fa fa-square fa-stack-2x"></i> <i
                class="sitnet-white fa fa-cog fa-stack-1x"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a class="pointer-hand">{{'sitnet_settings' | translate}}</a></li>
        </ul>
    </span>
</div>

<!-- General info section container -->
<div ng-show="newExam.expanded" ng-controller="DatepickerCtrl">

    <!-- Start & End time datepickers -->
    <div class="row">
        <div class="col-md-6">
            <h4>{{'sitnet_start_time' | translate}}</h4>

            <p class="input-group">

                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateService.startDate"
                       is-open="startDateOpened" min="minDate"
                       max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                       ng-required="true" close-text="Close">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="openStartDate($event)" ui-blur="saveExam()">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
            </p>
        </div>

        <div class="col-md-6">
            <h4>{{'sitnet_end_time' | translate}}</h4>

            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dateService.endDate"
                       is-open="endDateOpened" min="dateService.startDate"
                       max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                       ng-required="true" close-text="Close">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="openEndDate($event)" ui-blur="saveExam()">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
            </p>
        </div>
    </div>


    <!-- Summary of start and end times -->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div>{{'sitnet_active_period' | translate}}:
                <em>{{dateService.startDate | date:'dd/MM/yyyy' }} - {{dateService.endDate | date:'dd/MM/yyyy' }}</em>
            </div>
        </div>
    </div>

    <div class="row" ng-controller="CourseTypeaheadCtrl">

        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_course_name' | translate}}:</div>
            <div class="input-group">
                <input type="text" class="form-control ng-pristine ng-valid"
                       ng-model="courseNameSearch" ui-change="saveExam()"
                       placeholder=""
                       typeahead-on-select="onCourseSelect($item, $model, $label)"
                       typeahead="c as c.name for c in getCourses('name', $viewValue)"
                       typeahead-min-length="2"
                       typeahead-loading="loadingCoursesByName">
                       <span class="input-group-addon"
                             ng-click="toaster.info('Opintojakson nimi');">
                            <i class="fa fa-question-circle fa-fw"></i>
                            <i ng-show="loadingCoursesByName" class="fa fa-refresh"></i>
                       </span>

            </div>
        </div>

        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_course_code' | translate}}:</div>
            <div class="input-group">
                <input type="text" class="form-control ng-pristine ng-valid"
                       ng-model="courseCodeSearch" ui-change="saveExam()"
                       placeholder=""
                       typeahead-on-select="onCourseSelect($item, $model, $label)"
                       typeahead="c as c.code for c in getCourses('code', $viewValue)"
                       typeahead-loading="loadingCoursesByCode">
                       <span class="input-group-addon"
                                          ng-click="toaster.info('Opintojakson yksilöivä tunniste. Esim: 811380A');">
                            <i class="fa fa-question-circle fa-fw"></i>
                            <i ng-show="loadingCoursesByCode" class="fa fa-refresh"></i>
                       </span>
            </div>
        </div>

    </div>

    <!-- Course scope and organization name input elements -->
    <div class="row">
        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_course_scope' | translate}}:</div>
            <div class="input-group">
                <!-- placeholder="opintopistettä" -->
                <input disabled type="text" class="form-control ng-pristine ng-valid" ng-model="newExam.course.credits"
                       ui-change="saveExam()">
                    <span class="input-group-addon" title="Ohjeet organisaation lisäämisestä.">
                        <i class="fa fa-question-circle fa-fw"></i>
                    </span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_faculty_name' | translate}}:</div>
            <div class="input-group">
                <input disabled type="text" class="form-control ng-pristine ng-valid" ng-model="newExam.course.organisation.name"
                       ui-change="saveExam()">
                    <span class="input-group-addon" title="Ohjeet organisaation lisäämisestä.">
                        <i class="fa fa-question-circle fa-fw"></i>
                    </span>
            </div>
        </div>
    </div>

    <!-- Room name and exam length input elements -->
    <div class="row">
        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_examination_location' | translate}}:</div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            ui-blur="saveExam()">
                        {{'sitnet_choose' | translate}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="room in examRooms" ng-click="setExamRoom(room)"><a class="pointer-hand">{{room}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" ng-model="newExam.room" ui-change="saveExam()">
            </div>
        </div>

        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_exam_duration' | translate}}:</div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            ui-blur="saveExam()">
                        {{'sitnet_choose' | translate}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="duration in examDurations" ng-click="setExamDuration(duration)"><a
                                class="pointer-hand">{{duration}}</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" ng-model="newExam.duration" ui-change="saveExam()">
            </div>
        </div>
    </div>

    <!-- Exam inspector and exam maxScore scale input elements -->
    <div class="row">
        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_exam_instructor' | translate}}:</div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            ui-blur="saveExam()">
                        {{'sitnet_choose' | translate}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="inspector in examInspectors | filter:selected"
                            ng-click="setExamInspector(inspector)">
                            <a class="pointer-hand">{{inspector.name}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" value="{{newExam.inspector.name}}" ng-model="newExam.inspector.name"
                       ui-change="saveExam()">
            </div>
        </div>

        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_grade_scale' | translate}}:</div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            ui-blur="saveExam()">
                        {{'sitnet_choose' | translate}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="grading in examGradings" ng-click="setExamGrading(grading)"><a class="pointer-hand">{{grading}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" ng-model="newExam.grading" ui-change="saveExam()">
            </div>
        </div>
    </div>

    <!-- Exam and answer language input elements -->
    <div class="row">
        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_exam_language' | translate}}:</div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            ui-blur="saveExam()">
                        {{'sitnet_choose' | translate}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="language in examLanguages" ng-click="setExamLanguage(language)"><a
                                class="pointer-hand">{{language}}</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control" ng-model="newExam.examLanguage" ui-change="saveExam()">
            </div>
        </div>

        <div class="col-md-6">
            <div class="sitnet-info-text">{{'sitnet_exam_answer_language' | translate}}:</div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            ui-blur="saveExam()">
                        {{'sitnet_choose' | translate}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="answerLanguage in examAnswerLanguages"
                            ng-click="setExamAnswerLanguage(answerLanguage)"><a class="pointer-hand">{{answerLanguage}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" ng-model="newExam.answerLanguage" ui-change="saveExam()">
            </div>
        </div>

        <!-- Exam material and quidance input elements -->
        <div class="row">
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="newExam.shared" ui-blur="saveExam()"> {{'sitnet_share_this_exam' |
                        translate}}
                    </label>
                </div>
            </div>
        </div>

        <!-- Exam instruction -->
        <div class="exam-general-information">
            <div class="exam-general-information-header">
                {{'sitnet_instruction' | translate}}
            </div>

            <div class="input-group exam-info">
                <textarea class="form-control" rows="4" cols="150" ng-model="newExam.instruction" ui-blur="saveExam()"
                          placeholder="{{'sitnet_placeholder_write_instruction' | translate}}">
                </textarea>
            </div>
        </div>
    </div>
</div>
