<div id="exam">
    <div class="exam-header">
        <h2 class="table-heading">{{'sitnet_new_exam' | translate}}</h2>
    </div>
    <div class="col-md-8" ng-class="session.minimizeLibrary ? 'col-md-11' : 'col-md-8'">
        <!-- Exam name -->
        <div class="row exam-name">
            <div ng-hide="showName">
                <h2 style="margin-bottom: 0em">
                    <div class="editable col-md-8" ng-click="showName = !showName" style="margin-bottom: 0.5em">
                        {{newExam.name}} <i class="fa fa-pencil"></i>
                    </div>
                </h2>
            </div>
            <div ng-show="showName">
                <form class="form col-md-12" role="form">
                    <h3 style="margin-bottom: 0em">
                        <div class="row">
                            <div class="form-group">
                                <input type="text" class="input-lg col-md-12" ng-model="newExam.name" ui-blur="saveExam()" autofocus ng-blur="showName =! showName">

                                <button class="btn-primary col-md-0" ng-hide="true" ng-click="showName = 'false';">
                                </button>
                            </div>
                        </div>
                    </h3>
                </form>
            </div>
        </div>

        <div class="exam-wrapper" style="padding-bottom: 2em;">
            <!-- General Information -->
            <div class="exam-general-information" ng-include="generalInfoPath">
            </div>
            <div class="exam-sections">
                <div ui-on-Drop="onDrop($event, $data, section)" ng-include="sectionPath" ng-repeat="section in newExam.examSections"></div>
            </div>

            </div>
            <span ng-click="addNewSection()" class="create-new">
                <center>
                    <i class="fa fa-2x fa-hand-o-right"></i>
                    {{'sitnet_section_add' | translate}}
                </center>
            </span>
            <span><button ng-click="saveExam(); go('/exams')" class="btn btn-primary">{{'sitnet_save' | translate}}</button></span>
            <span class="pull-right"><button ng-click="saveAndPublishExam()" class="btn btn-warning">{{'sitnet_save_and_publish' | translate}}</button></span>
        </div>

    </div>
    <!-- Question Library -->
    <div ng-include="libraryTemplate" ng-class="session.minimizeLibrary ? 'col-md-1' : 'col-md-4'">
    </div>

    <!-- Question Library-->
    <!--<div ng-include="libraryTemplate">-->
    <!--</div>-->
</div>