<div id="sitnet-header" class="header">
	<div ng-controller="ExamController">
		<div class="row">
			<div class="col-md-2 col-md-offset-10">
				<a ng-click="createExam()" class="btn btn-primary btn-lg active header-button"> {{'sitnet_create_new' | translate}} </a>
			</div>
		</div>
	</div>
</div>
<div id="exam" class="row">
	<div class="exam-list">
		<!--<div class="col-md-8">-->
			<h2 class="sitnet-teacher-turquoise-dark-active">Julkaistut tentit</h2>
			<span class="sitnet-info-text">Nämä tentit ovat julkaistu, opiskelijat voivat ilmoittautua ja osallistua näihin tentteihin.</span>
			<span class="sitnet-info-text">Näitä tenttejä EI voi muokata tai poista.</span>

			<div class="exam-list-published">
				<a ng-repeat="exam in exams | filter: {state: 'PUBLISHED'}" href="#/exams/{{exam.id}}" class="active-exams-list list-group-item">
					<h4 class="list-group-item-heading">
						<span class="">{{exam.course.code}} - {{exam.name}}</span>
					</h4>
					<span class="pull-right sitnet-info-text">Julkaistu</span>
					<div class="sitnet-info-text">Luonut: {{exam.creator.firstName}} {{exam.creator.lastName}}</div>
				</a>
			</div>

			<hr>
			<h2 class="sitnet-teacher-turquoise-light-active">Tallennetut tentit</h2>
			<span class="sitnet-info-text">Näitä tenttejä ei ole vielä julkaistu, eivätkä opiskelijat voi ilmoittautua näihin tentteihin.</span>
			<span class="sitnet-info-text">Näitä tenttejä voi muokata tai poista.</span>

			<div class="exam-list-saved">
				<a ng-repeat="exam in exams | filter: {state: 'SAVED'}" href="#/exams/{{exam.id}}" class="active-exams-list list-group-item">
					<h4 class="list-group-item-heading">
						<span class="">{{exam.course.code}} - {{exam.name}}</span>
					</h4>
					<span class="pull-right sitnet-info-text">Tallennettu</span>
					<div class="sitnet-info-text">Luonut: {{exam.creator.firstName}} {{exam.creator.lastName}}</div>
				</a>
			</div>

			<hr>
			<h2 class="sitnet-teacher-turquoise-light-inactive">Vedokset</h2>
			<span class="sitnet-info-text">Vedokset ovat tenttejä joita et ole muistanut tallentaa.</span>

			<div class="exam-list-draft">
				<a ng-repeat="exam in exams | filter: {state: 'DRAFT'}" href="#/exams/{{exam.id}}" class="active-exams-list list-group-item">
					<h4 class="list-group-item-heading">
						<span class="">{{exam.course.code}} - {{exam.name}}</span>
					</h4>
					<span class="pull-right sitnet-info-text">VEDOS</span>
					<div class="sitnet-info-text">Luonut: {{exam.creator.firstName}} {{exam.creator.lastName}}</div>
				</a>
			</div>
		<!--</div>-->

		<!--<div class="col-md-4">-->
			<!--<h2>{{'sitnet_exams_needing_attention' | translate}}</h2>-->
			<!--<span class="sitnet-info-text">Esimerkiksi tentit joissa olet tarkastaja. Ominaisuutta ei ole vielä toteutettu.</span>-->
			<!--<div class="list-group">-->
				<!--<a href="#" class="list-group-item active">-->
					<!--<h4 class="list-group-item-heading">Soveltavan Yrtinviljelyn perusteet</h4>-->

					<!--<p class="list-group-item-text">Tentti 1</p>-->
				<!--</a> <a href="#" class="list-group-item">-->
					<!--<h4 class="list-group-item-heading">Jäkälän syventävät opinnot</h4>-->

					<!--<p class="list-group-item-text">Tentti 1</p>-->
				<!--</a>-->
			<!--</div>-->
		<!--</div>-->
	</div>
</div>