<div class="top-padding-2 lightBorderBox">
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'i18n_question' | translate }}:</div>
        <div class="sub-content-row col-md-9">
            <span [xmMathJax]="sectionQuestion.question.question"></span>
        </div>
    </div>
    <!-- question attachment -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'i18n_question_attachment' | translate }}:</div>
        <div class="sub-content-row col-md-9">
            <span [hidden]="sectionQuestion.question.attachment">N/A</span>
            @if (sectionQuestion.question.attachment) {
                <span> {{ sectionQuestion.question.attachment.fileName }}&nbsp; </span>
            }
        </div>
    </div>

    <!-- question instructions -->
    <div class="row">
        @if (sectionQuestion.answerInstructions) {
            <div class="sub-header-row col-md-3 newRow">{{ 'i18n_instructions' | translate }}:</div>
        }
        @if (sectionQuestion.answerInstructions) {
            <div class="sub-content-row col-md-9">
                <div [innerHtml]="sectionQuestion.answerInstructions"></div>
                &nbsp;
            </div>
        }
    </div>
    <!-- answer -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'i18n_exam_answer' | translate }}:</div>
        <div class="sub-content-row col-md-9" id="exam">
            <div [innerHtml]="sectionQuestion.clozeTestAnswer?.question"></div>
        </div>
    </div>

    <!-- grade -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'i18n_multiplechoice_question_correct' | translate }}:</div>
        <div class="sub-content-row col-md-9">
            {{ sectionQuestion.clozeTestAnswer?.score?.correctAnswers }} /
            {{
                (sectionQuestion.clozeTestAnswer?.score?.correctAnswers || 0) +
                    (sectionQuestion.clozeTestAnswer?.score?.incorrectAnswers || 0)
            }}
        </div>
    </div>
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'i18n_word_points' | translate }}:</div>
        <div class="sub-content-row col-md-9">
            <span>
                <span [ngStyle]="hasForcedScore() ? { 'text-decoration': 'line-through' } : null">
                    {{ displayAchievedScore() }}
                </span>
                @if (hasForcedScore()) {
                    <span class="text text-danger">
                        {{ sectionQuestion.forcedScore }}
                    </span>
                }
                / {{ sectionQuestion.maxScore }}
            </span>
        </div>
    </div>
</div>
