<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div class="top-padding-2 light-border-box">
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'i18n_question' | translate }}:</div>
        <div class="sub-content-row col-md-9">
            <span [xmMath]="sectionQuestion().question.question"></span>
        </div>
    </div>
    <!-- question attachment -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'i18n_question_attachment' | translate }}:</div>
        <div class="sub-content-row col-md-9">
            <span [hidden]="sectionQuestion().question.attachment">N/A</span>
            @if (sectionQuestion().question.attachment) {
                <span>{{ sectionQuestion().question.attachment?.fileName }}</span>
            }
        </div>
    </div>
    <!-- answer -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'i18n_exam_answer' | translate }}:</div>

        <div class="sub-content-row col-md-9">
            @for (o of sectionQuestion().options; track o) {
                <div class="row" [hidden]="sectionQuestion().question.type !== 'MultipleChoiceQuestion'">
                    <div class="col-md-12">
                        <span>
                            <i [ngClass]="o.answered ? 'bi-check-square' : 'bi-square'"></i>
                        </span>
                        <span [ngClass]="o.option.correctOption ? 'bold' : ''" class="ps-2">
                            {{ o.option.option }}
                        </span>
                    </div>
                </div>
            }
            @for (o of sectionQuestion().options; track o) {
                <div class="row" [hidden]="sectionQuestion().question.type !== 'WeightedMultipleChoiceQuestion'">
                    <div class="col-md-3">
                        <span>
                            <i [ngClass]="o.answered ? 'bi-check-square' : 'bi-square'"></i>
                        </span>
                        <span [ngClass]="o.score > 0 ? 'font-bold' : ''"
                            >&nbsp;&nbsp;{{ o.score }} {{ 'i18n_unit_points' | translate }}</span
                        >
                    </div>
                    <div class="col-md-9 ps-2">
                        <div class="text">{{ o.option.option }}</div>
                    </div>
                </div>
            }
            @for (o of sectionQuestion().options; track o) {
                <div class="row" [hidden]="sectionQuestion().question.type !== 'ClaimChoiceQuestion'">
                    <div class="col-md-12">
                        <span>
                            <i [ngClass]="o.answered ? 'bi-check-square' : 'bi-square'"></i>
                        </span>
                        <span [ngClass]="o.option.claimChoiceType === 'CorrectOption' ? 'fw-bold' : ''" class="ps-2">
                            {{ o.option.option }}
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- grade -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'i18n_word_points' | translate }}:</div>
        @if (sectionQuestion().question.type === 'MultipleChoiceQuestion') {
            <div class="sub-content-row col-md-9">
                <span [ngStyle]="hasForcedScore() ? { 'text-decoration': 'line-through' } : null">
                    {{ scoreMultipleChoiceAnswer(true) }}
                </span>
                @if (hasForcedScore()) {
                    <span class="text text-danger">
                        {{ sectionQuestion().forcedScore }}
                    </span>
                }
                / {{ calculateMultiChoiceMaxPoints() }} {{ 'i18n_unit_points' | translate }}
            </div>
        }
        @if (sectionQuestion().question.type === 'WeightedMultipleChoiceQuestion') {
            <div class="sub-content-row col-md-9">
                <span [ngStyle]="hasForcedScore() ? { 'text-decoration': 'line-through' } : null">
                    {{ scoreWeightedMultipleChoiceAnswer(true) }}
                </span>
                @if (hasForcedScore()) {
                    <span class="text text-danger">
                        {{ sectionQuestion().forcedScore }}
                    </span>
                }
                / {{ calculateWeightedMaxPoints() }} {{ 'i18n_unit_points' | translate }}
            </div>
        }
        @if (sectionQuestion().question.type === 'ClaimChoiceQuestion') {
            <div class="sub-content-row col-md-9">
                <span [ngStyle]="hasForcedScore() ? { 'text-decoration': 'line-through' } : null">
                    {{ scoreClaimChoiceAnswer(true) }}
                </span>
                @if (hasForcedScore()) {
                    <span class="text text-danger">
                        {{ sectionQuestion().forcedScore }}
                    </span>
                }
                / {{ getCorrectClaimChoiceOptionScore() }} {{ 'i18n_unit_points' | translate }}
            </div>
        }
    </div>
</div>
