<?xml version="1.0" encoding="UTF-8" ?>
<!--
   Copyright (C) from 2022 The Play Framework Contributors <https://github.com/playframework>, 2011-2021 Lightbend Inc. <https://www.lightbend.com>
-->


<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.classic.AsyncAppender"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.core.rolling.RollingFileAppender"/>
    <import class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"/>

    <appender name="FILE" class="RollingFileAppender">
        <!-- HOX! Make sure exam's user has write permissions for this directory -->
        <file>/var/log/exam/application.log</file>
        <rollingPolicy class="TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>/var/log/exam/application-log-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!-- keep 180 days worth of history -->
            <maxHistory>180</maxHistory>
        </rollingPolicy>
        <encoder class="PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} (%-5level) %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%date{yyyy-MM-dd HH:mm:ss ZZZZ} %highlight(%-5level) %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNCSTDOUT" class="AsyncAppender">
        <!-- increases the default queue size -->
        <queueSize>512</queueSize>
        <!-- don't discard messages -->
        <discardingThreshold>0</discardingThreshold>
        <!-- block when queue is full -->
        <neverBlock>false</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="play" level="INFO"/>

    <logger name="controllers" level="DEBUG" />
    <logger name="system" level="DEBUG" />
    <logger name="validators" level="DEBUG" />
    <logger name="util" level="DEBUG" />
    <logger name="impl" level="DEBUG" />
    <logger name="sanitizers" level="DEBUG" />
    <logger name="repository" level="DEBUG" />
    <logger name="models" level="DEBUG" />

    <!-- SQL logging, disabled by default. Enable by setting level to TRACE -->
    <logger name="io.ebean.SQL" level="OFF"/>

    <root level="warn">
        <appender-ref ref="ASYNCFILE"/>
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>
