<!--
  ~ Copyright (C) 2009-2015 Typesafe Inc. <http://www.typesafe.com>
  -->
<!-- The default logback configuration that Play uses if no other configuration is provided -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- HOX! Make sure exam's user has write permissions for this directory -->
        <file>/var/log/exam/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover with compression -->
            <fileNamePattern>/var/log/exam/application-log-%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <!-- keep 90 days worth of history -->
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%-5level] from %logger{15} in %thread - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <!-- increases the default queue size -->
        <queueSize>512</queueSize>
        <!-- don't discard messages -->
        <discardingThreshold>0</discardingThreshold>
        <!-- block when queue is full -->
        <neverBlock>false</neverBlock>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="play" level="INFO"/>

    <logger name="controllers" level="DEBUG" />
    <logger name="system" level="DEBUG" />
    <logger name="validators" level="DEBUG" />
    <logger name="util" level="DEBUG" />
    <logger name="impl" level="DEBUG" />
    <logger name="sanitizers" level="DEBUG" />
    <logger name="repository" level="DEBUG" />
    <logger name="models" level="DEBUG" />

    <!-- logger name="backend" level="DEBUG"/ -->

    <!-- SQL logging, disabled by default. Enable by setting level to TRACE -->
    <logger name="io.ebean.SQL" level="OFF"/>

    <root level="WARN">
        <appender-ref ref="ASYNCFILE"/>
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>
