<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

@if (view()) {
    <div class="xm-paragraph-title">
        {{ 'i18n_archived_exams' | translate }}
        <a (click)="toggleView()" class="pointer" [attr.aria-expanded]="view()!.toggle">
            @if (!view()!.toggle) {
                <img src="/assets/images/icon_list_show_right.svg" alt="" />
            }
            @if (view()!.toggle) {
                <img src="/assets/images/icon_list_show_down.svg" alt="" />
            }
        </a>
    </div>

    <div [ngbCollapse]="!view()!.toggle" [hidden]="view()!.items.length === 0">
        <div class="overflow-x-scroll">
            <div class="py-3 input-group w-25">
                <input
                    (input)="applyFreeSearchFilter()"
                    [ngModel]="view()!.filter"
                    (ngModelChange)="updateFilter($event)"
                    class="form-control"
                    placeholder="{{ 'i18n_search' | translate }}"
                />
                <i class="input-group-text bi-search"></i>
            </div>
            <table class="table table-striped xm-data-table">
                <thead>
                    <tr>
                        <th class="dropdown" ngbDropdown>
                            <button class="btn btn-sm btn-outline-secondary align-items-center" ngbDropdownToggle>
                                <i class="bi-square"></i>
                            </button>
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem role="presentation" [ngClass]="selections().page ? 'active' : ''">
                                    <a
                                        role="menuitem"
                                        class="unstyled-link pointer"
                                        (click)="selectPage('selectionBox')"
                                    >
                                        {{ 'i18n_choose_visible' | translate }}
                                    </a>
                                </li>
                                <li ngbDropdownItem role="presentation" [ngClass]="selections().all ? 'active' : ''">
                                    <a role="menuitem" class="unstyled-link pointer" (click)="selectAll()">
                                        {{ 'i18n_choose_all' | translate }}
                                    </a>
                                </li>
                            </ul>
                        </th>
                        @if (exam() && showId()) {
                            <th class="with-top">Id</th>
                        }
                        <th class="with-top">
                            <xm-table-sort
                                by="displayName"
                                text="i18n_student"
                                [predicate]="view()!.predicate"
                                [reverse]="view()!.reverse"
                                (click)="setPredicate('displayName')"
                            ></xm-table-sort>
                        </th>
                        <th class="with-top">
                            <xm-table-sort
                                by="examParticipation.user.email"
                                text="i18n_email"
                                [predicate]="view()!.predicate"
                                [reverse]="view()!.reverse"
                                (click)="setPredicate('examParticipation.user.email')"
                            ></xm-table-sort>
                        </th>
                        <th class="with-top">
                            <xm-table-sort
                                by="duration"
                                text="i18n_exam_duration"
                                [predicate]="view()!.predicate"
                                [reverse]="view()!.reverse"
                                (click)="setPredicate('duration')"
                            ></xm-table-sort>
                        </th>
                        <th class="with-top">
                            <xm-table-sort
                                by="examParticipation.started"
                                text="i18n_exam_time"
                                [predicate]="view()!.predicate"
                                [reverse]="view()!.reverse"
                                (click)="setPredicate('examParticipation.started')"
                            ></xm-table-sort>
                        </th>
                        <th class="with-top">
                            <xm-table-sort
                                by="displayedGrade"
                                text="i18n_grade"
                                [predicate]="view()!.predicate"
                                [reverse]="view()!.reverse"
                                (click)="setPredicate('displayedGrade')"
                            ></xm-table-sort>
                        </th>
                        <th class="with-top">
                            <xm-table-sort
                                by="displayedCredit"
                                text="i18n_exam_credit"
                                [predicate]="view()!.predicate"
                                [reverse]="view()!.reverse"
                                (click)="setPredicate('displayedCredit')"
                            ></xm-table-sort>
                        </th>
                        <th class="with-top">
                            <xm-table-sort
                                by="displayedGradingTime"
                                text="i18n_graded"
                                [predicate]="view()!.predicate"
                                [reverse]="view()!.reverse"
                                (click)="setPredicate('displayedGradingTime')"
                            ></xm-table-sort>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (
                        review of view()!.filtered
                            | orderBy: view()!.predicate : view()!.reverse
                            | slice
                                : view()!.page * view()!.pageSize
                                : view()!.page * view()!.pageSize + view()!.pageSize;
                        track review
                    ) {
                        <tr>
                            <td class="table-column-checkbox">
                                <input
                                    type="checkbox"
                                    [(ngModel)]="review.selected"
                                    class="selectionBox"
                                    [value]="review.examParticipation.id"
                                />
                            </td>
                            @if (showId()) {
                                <td>{{ review.examParticipation._id || review.examParticipation.exam.id }}</td>
                            }
                            <td class=" ">
                                <a
                                    class="pointer"
                                    [routerLink]="['/staff/assessments', review.examParticipation.exam.id]"
                                >
                                    {{ review.displayName }}
                                    @if (review.examParticipation.user?.userIdentifier) {
                                        <span> <br />({{ review.examParticipation.user?.userIdentifier }})</span>
                                    }
                                </a>
                            </td>
                            <td>
                                <a class="pointer" href="mailto:{{ review.examParticipation.user?.email }}">{{
                                    review.examParticipation.user?.email
                                }}</a>
                            </td>
                            <td>{{ review.duration + ' min' }}</td>
                            <td>
                                {{ review.examParticipation.started | applyDst | date: 'dd.MM.yyyy' }}
                                {{ 'i18n_clock_short' | translate }}
                                {{ review.examParticipation.started | applyDst | date: 'HH:mm' }} -
                                {{ review.examParticipation.ended | applyDst | date: 'HH:mm' }}
                            </td>
                            <td>
                                {{ review.displayedGrade }}
                            </td>
                            <td>
                                {{ review.displayedCredit }}
                            </td>
                            <td>{{ review.displayedGradingTime | date: 'dd.MM.yyyy' }}</td>
                        </tr>
                    }
                    @if (view()!.filtered.length === 0) {
                        <tr>
                            @if (showId()) {
                                <td colspan="7">{{ 'i18n_review_no_result' | translate }}</td>
                            }
                            @if (!showId()) {
                                <td colspan="6">{{ 'i18n_review_no_result' | translate }}</td>
                            }
                        </tr>
                    }
                    <!--Fill if page not full-->
                    @for (r of [] | pageFill: view()!.filtered.length : view()!.page : view()!.pageSize; track r) {
                        <tr>
                            <td>&nbsp;</td>
                            @if (showId()) {
                                <td colspan="6"></td>
                            }
                            @if (!showId()) {
                                <td colspan="5"></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row ms-2">
            @if (view()!.filtered.length > view()!.pageSize) {
                <div class="col-md-12">
                    <xm-paginator
                        [items]="view()!.filtered"
                        (pageSelected)="pageSelected($event)"
                        [pageSize]="view()!.pageSize"
                        [currentPage]="view()!.page"
                    ></xm-paginator>
                </div>
            }
        </div>
    </div>
    @if (view()!.toggle && view()!.filtered.length > 0) {
        <!-- Buttons -->
        <div class="ps-0 pe-0 mb-3 w-100 d-flex justify-content-between align-items-center">
            @if (!collaborative()) {
                <div class="speed-review-csv mb-2">
                    <button class="btn btn-sm btn-outline-primary" (click)="printSelected()">
                        {{ 'i18n_print_selected_to_excel' | translate }}
                    </button>
                </div>
            }
        </div>
    }
}
