<xm-page-header text="i18n_user_enrolled_exams_title" />
<xm-page-content [content]="content"></xm-page-content>
<ng-template #content>
    @for (enrolment of userEnrolments | orderBy: 'startAtAggregate'; track enrolment) {
        <div class="row mb-2">
            <div class="col-12">
                <xm-active-enrolment [enrolment]="enrolment" (removed)="enrolmentRemoved($event)"></xm-active-enrolment>
            </div>
        </div>
    } @empty {
        <div class="row">
            <div class="col-12" role="note">
                <img src="/assets/images/icon_info.png" alt="" />&nbsp;
                {{ 'i18n_no_enrolments' | translate }}
            </div>
        </div>
    }
</ng-template>
