<div id="dashboard" ng-controller="ExamTabsController">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-details-title-wrap">
                <a href="/"><img class="arrow_icon" src="../../../assets/assets/images/icon_history.png"></a>
                <div class="student-exam-details-title">{{examInfo.title}}</div>
            </div>

            <span class="exam-status" ng-if="examFull.state === 'DRAFT'">
                {{'sitnet_' + examFull.state | lowercase | translate}}</span>

            <span ng-if="examFull.state !== 'DRAFT'">
                <span class="exam-status" ng-if="checkArchived(examFull)">
                    {{'sitnet_exam_status_archived' | lowercase | translate}}</span>
                <span class="exam-status" ng-if="!checkArchived(examFull)">
                    {{'sitnet_' + examFull.state | lowercase | translate}}</span>
            </span>
        </div>
    </div>

    <div class="tab-wrapper-exams" ng-controller="ExamController">
        <uib-tabset>
            <uib-tab ng-show="isOwner" index="0" active="tab0" heading="{{ 'sitnet_exam_basic_information_tab' | translate }}">
                <div ng-include="tabtemplates.examBasicPath"></div>
            </uib-tab>
            <!--
            <uib-tab index="2" heading="{{ 'sitnet_exam_materials_tab' | translate }}">
                <div ng-include="templates.examMaterialsPath"></div>
            </uib-tab>
            -->
            <uib-tab ng-show="isOwner" index="1" active="tab1" heading="{{ 'sitnet_exam_question_tab' | translate }}">
                <div ng-include="tabtemplates.examQuestionsPath"></div>
            </uib-tab>
            <uib-tab ng-show="isOwner" index="2" active="tab2" heading="{{ 'sitnet_exam_publish_tab' | translate }}">
                <div ng-include="tabtemplates.examPublishSettingsPath"></div>
            </uib-tab>
            <uib-tab ng-if="newExam.executionType.type !== 'PRINTOUT'" index="3" active="tab3" heading="{{ 'sitnet_exam_responses' | translate }}">
                <div ng-include="tabtemplates.reviewListPath"></div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>


