/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@use '../../shared/definitions.scss' as shared;

.exam-status {
    color: shared.$exam-blue;
    font-size: 22px;
    letter-spacing: 1.05px;
}
