<div id="dashboard">
    <xm-page-header [text]="examInfo.title || 'loading'" [prependTemplate]="linkBack" [appendTemplate]="status" />
    <xm-page-content [content]="content" />
</div>
<ng-template #linkBack>
    <a [routerLink]="[user.isAdmin ? '/staff/admin' : '/staff/teacher']">
        <img class="pointer arrow_icon pe-4" src="/assets/images/icon_history.png" alt="go back" />
    </a>
</ng-template>
<ng-template #status>
    @if (exam?.state) {
        <span class="exam-status float-end me-3">{{ 'i18n_' + exam.state | lowercase | translate }} </span>
    }
</ng-template>
<ng-template #content>
    <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="activeTab"
        [destroyOnHide]="false"
        class="nav-tabs ms-2 me-2"
        (navChange)="navChanged($event)"
    >
        <li [disabled]="!isOwner() && !user.isAdmin" [ngbNavItem]="1">
            <a ngbNavLink>{{ 'i18n_exam_basic_information_tab' | translate }}</a>
        </li>
        <li [disabled]="!isOwner() && !user.isAdmin" [ngbNavItem]="2">
            <a ngbNavLink>{{ 'i18n_exam_question_tab' | translate }}</a>
        </li>
        <li [disabled]="!isOwner() && !user.isAdmin" [ngbNavItem]="3">
            <a ngbNavLink>{{ 'i18n_exam_assessment_settings' | translate }}</a>
        </li>
        <li [disabled]="!isOwner() && !user.isAdmin" [ngbNavItem]="4">
            <a ngbNavLink>{{ 'i18n_exam_publish_tab' | translate }}</a>
        </li>
        <li [disabled]="exam.executionType?.type === 'PRINTOUT'" [ngbNavItem]="5">
            <a ngbNavLink>{{ 'i18n_exam_responses' | translate }}</a>
        </li>
        @if (exam && !collaborative && !user.isAdmin) {
            <li [disabled]="exam.executionType?.type === 'PRINTOUT'" [ngbNavItem]="6">
                <a ngbNavLink>{{ 'i18n_question_review' | translate }}</a>
            </li>
        }
        @if (exam && !collaborative) {
            <li [disabled]="(!isOwner() && !user.isAdmin) || exam.executionType?.type === 'PRINTOUT'" [ngbNavItem]="7">
                <a ngbNavLink>{{ 'i18n_exam_summary_tab' | translate }}</a>
            </li>
        }
    </ul>

    <div class="row mt-2">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>
