<div id="dashboard">
    <div *ngIf="collaborative" class="sitnet-header-alt">
        <div class="col-md-12 header-wrapper">
            <span class="header-text">{{ 'sitnet_collaborative_exams' | translate }}</span>
        </div>
    </div>
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-details-title-wrap">
                <a [uiSref]="user.isAdmin ? 'staff.admin' : 'staff.teacher'">
                    <img class="pointer arrow_icon" src="/assets/images/icon_history.png" alt="go back" />
                </a>
                <div class="student-exam-details-title">{{ examInfo.title || 'loading' }}</div>
            </div>
            <span *ngIf="exam?.state" class="exam-status">{{ 'sitnet_' + exam.state | lowercase | translate }} </span>
        </div>
    </div>

    <ul
        ngbNav
        #nav="ngbNav"
        [(activeId)]="activeTab"
        [destroyOnHide]="false"
        class="nav-tabs ml-4 mr-4"
        (navChange)="navChanged($event)"
    >
        <li [disabled]="!isOwner() && !user.isAdmin" [ngbNavItem]="1">
            <a ngbNavLink>{{ 'sitnet_exam_basic_information_tab' | translate }}</a>
        </li>
        <li [disabled]="!isOwner() && !user.isAdmin" [ngbNavItem]="2">
            <a ngbNavLink>{{ 'sitnet_exam_question_tab' | translate }}</a>
        </li>
        <li [disabled]="!isOwner() && !user.isAdmin" [ngbNavItem]="3">
            <a ngbNavLink>{{ 'sitnet_exam_publish_tab' | translate }}</a>
        </li>
        <li [disabled]="exam.executionType?.type === 'PRINTOUT'" [ngbNavItem]="4">
            <a ngbNavLink>{{ 'sitnet_exam_responses' | translate }}</a>
        </li>
        <li
            *ngIf="exam && !collaborative && !user.isAdmin"
            [disabled]="exam.executionType?.type === 'PRINTOUT'"
            [ngbNavItem]="5"
        >
            <a ngbNavLink>{{ 'sitnet_question_review' | translate }}</a>
        </li>
        <li
            *ngIf="exam && !collaborative"
            [disabled]="(!isOwner() && !user.isAdmin) || exam.executionType?.type === 'PRINTOUT'"
            [ngbNavItem]="6"
        >
            <a ngbNavLink>{{ 'sitnet_exam_summary_tab' | translate }}</a>
        </li>
    </ul>

    <div class="main-row">
        <div class="col-md-12">
            <ui-view></ui-view>
        </div>
    </div>
</div>
