/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

.attachment-input {
    //att picker
    opacity: 1;
    z-index: 2000;
    visibility: visible;
    width: 73px;
    height: 38px;
    overflow: hidden;
}
.attachment-input:focus {
    box-shadow: 0px 0px 0px 4px #3fa9f5;
    border-radius: 4px;
}
.attachment-file {
    padding-top: 0.5em;
}

.btn-file {
    position: absolute;
    overflow: hidden;
}
.btn-file input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
