<div class="row col-md-12 margin-20">
    <div class="col-md-3 exam-basic-title">
        {{ 'sitnet_exam_owners' | translate }}
        <sup
            ><img
                ngbPopover="{{ 'sitnet_exam_owner_description' | translate }}"
                placement="right"
                trigger="mouseenter"
                src="Images/icon_tooltip.svg"
                alt="exam"
                onerror="this.onerror=null;this.src='Images/icon_tooltip.png'"
        /></sup>
    </div>
    <div class="col-md-9">
        <input
            type="text"
            class="form-control wdth-30 make-inline"
            [(ngModel)]="newOwner.user.name"
            [ngbTypeahead]="listOwners$"
            [inputFormatter]="nameFormatter"
            [resultFormatter]="nameFormatter"
            (selectItem)="setExamOwner($event)"
        />
        <span
            ><button (click)="addExamOwner()" class="btn btn-primary green border-green">
                {{ 'sitnet_add' | translate }}
            </button></span
        >
    </div>
</div>
<div class="row col-md-12">
    <div class="col-md-3 exam-basic-title"></div>
    <div class="col-md-9">
        <ul class="list-inline mart10">
            <li *ngFor="let user of examOwners">
                {{ user.firstName }} {{ user.lastName }} ({{ user.email }})
                <button
                    class="reviewer-remove"
                    [disabled]="examOwners.length == 1"
                    (click)="removeOwner(user.id)"
                    title="{{ 'sitnet_remove' | translate }}"
                >
                    <img
                        src="Images/icon_remove.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='Images/icon_remove.png'"
                    />
                </button>
            </li>
        </ul>
    </div>
</div>
