<div id="sitnet-dialog">
    <div class="student-message-dialog-wrapper-padding">
        <div class="student-enroll-dialog-wrap">
            <div class="student-enroll-title">{{ 'sitnet_give_feedback' | translate }}</div>
        </div>
        <div class="mart20 student-feedback">
            <p mathjax [innerHtml]="statement"></p>
        </div>
        <div class="student-message-dialog-footer">
            <div class="student-message-dialog-button-save">
                <button class="btn btn-sm btn-primary" (click)="activeModal.close()">
                    {{ 'sitnet_close' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
