<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<!-- Owner name input -->
<div class="row mt-3">
    <div class="col-md-3">
        {{ 'i18n_question_owners' | translate }}
        <sup
            ngbPopover="{{ 'i18n_question_owners_description' | translate }}"
            popoverTitle="{{ 'i18n_instructions' | translate }}"
            triggers="mouseenter:mouseleave"
        >
            <img src="/assets/images/icon_tooltip.svg" alt="" />
        </sup>
    </div>
    <div class="col-md-9">
        <div class="input-group">
            <input
                type="text"
                class="form-control"
                [ngbTypeahead]="listQuestionOwners$"
                [editable]="false"
                [inputFormatter]="nameFormat"
                [resultFormatter]="nameFormat"
                (selectItem)="setQuestionOwner($event)"
                [placeholder]="'i18n_add_question_owner' | translate"
            />
            <button (click)="addQuestionOwner()" [disabled]="!newOwner?.id" class="btn btn-success input-group-text">
                {{ 'i18n_add' | translate }}
            </button>
        </div>
    </div>
</div>

<!-- Current owners list -->
<div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        @for (user of currentOwners(); track user.id) {
            <div class="ms-1 row mb-2">
                <div class="col-8">{{ user.firstName }} {{ user.lastName }} ({{ user.email }})</div>
                <button
                    class="btn btn-danger btn-sm ms-1 w-auto"
                    (click)="removeOwner(user)"
                    [hidden]="currentOwners().length === 1"
                    [ariaLabel]="user.firstName + ' ' + user.lastName"
                >
                    {{ 'i18n_remove' | translate }}
                </button>
            </div>
        }
    </div>
</div>
