/* arimo-regular - latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src:
        local(''),
        url('../fonts/arimo-v17-latin/arimo-v17-latin-regular.woff2') format('woff2'),
        url('../fonts/arimo-v17-latin/arimo-v17-latin-regular.woff') format('woff');
}
