<div>
    <div class="student-exam-row">
        <!-- ROOM  -->
        <div class="calendar-room-title" *ngIf="room">
            <span
                >{{ room.name }}&nbsp;
                <small> ({{ room.localTimezone }})</small>
                <small class="text-muted"
                    >{{ room.mailAddress.street }} {{ room.mailAddress.zip }} {{ room.mailAddress.city }}
                </small>
            </span>
        </div>

        <div class="calendar-room-info" *ngIf="room">
            <div class="calendar-room-info-title">{{ 'sitnet_room_default_working_hours' | translate }}</div>
            <div class="calendar-room-info-content">
                <div *ngFor="let oh of openingHours">{{ oh.name }}: {{ oh.periodText }}</div>
            </div>
        </div>

        <div class="calendar-room-info" *ngIf="exceptionHours && exceptionHours.length > 0">
            <div class="calendar-room-info-title">{{ 'sitnet_exception_datetimes' | translate }}:</div>
            <button (click)="oldExceptionsHidden = !oldExceptionsHidden" class="btn btn-secondary marb20">
                {{ 'sitnet_hide_over_year_old' | translate }} ({{
                    oldExceptionsHidden ? ('sitnet_on' | translate) : ('sitnet_off' | translate)
                }})
            </button>
            <div class="calendar-room-info-content">
                <div *ngFor="let eh of !oldExceptionsHidden ? exceptionHours : newExceptions">
                    <span [ngClass]="eh.outOfService ? 'text-danger' : 'text-success'">
                        {{ eh.start }} - {{ eh.end }}
                        <small>({{ eh.description | translate }})</small>
                        <i
                            class="bi-dot"
                            *ngIf="isInFuture(eh.startDate)"
                            [attr.aria-label]="'sitnet_coming_exception' | translate"
                        ></i>
                        <i
                            class="bi-exclamation-circle"
                            *ngIf="isNow(eh.startDate, eh.endDate)"
                            [attr.aria-label]="'sitnet_ongoing_exception' | translate"
                        ></i>
                    </span>
                </div>
            </div>
        </div>

        <hr *ngIf="room" />
    </div>

    <div class="student-exam-row bottom-row">
        <div class="col-md-12">
            <xm-booking-calendar
                *ngIf="room"
                (moreEventsNeeded)="refresh($event)"
                [room]="room"
                [visible]="true"
            ></xm-booking-calendar>
        </div>
    </div>
</div>
