<div id="sitnet-header" class="header">
    <div class="header-wrapper">
        <span class="header-text">{{ 'sitnet_edit_all_rooms' | translate }}</span>
    </div>
</div>
<div id="dashboard">
    <div class="main-row d-block">
        <div class="top-row">
            <h3 class="header-text">{{ 'sitnet_room_default_working_hours' | translate }}</h3>
        </div>
        <div class="bottom-row">
            <open-hours *ngIf="allRooms" class="col-md-12" [week]="week" (onSelect)="updateWorkingHours()"></open-hours>
        </div>
        <starting-time *ngIf="allRooms" [roomIds]="roomIds"></starting-time>
        <div class="top-row">
            <h3 class="col-md-12 header-text">{{ 'sitnet_exception_datetimes' | translate }}</h3>
        </div>
        <div class="detail-row-tall" *ngFor="let room of massEditedRooms">
            <div class="col-md-12">
                <b>{{ room.name || 'sitnet_no_name' | translate }}</b>
            </div>
            <exception-list
                [exceptions]="room.calendarExceptionEvents"
                (onCreate)="addException($event)"
                (onDelete)="deleteException($event)"
                [filter]="massEditedExceptionFilter"
                [hideButton]="true"
                [hideTitle]="true"
            ></exception-list>
        </div>
    </div>
    <div class="main-row">
        <div class="col-md-12">
            <button (click)="addMultiRoomException()" class="btn btn-primary">
                {{ 'sitnet_add' | translate }}
            </button>
        </div>
    </div>
</div>
