<div id="dashboard">
    <div class="row" id="room" *ngFor="let room of rooms" [ngClass]="{ 'text-muted': room.state === 'INACTIVE' }">
        <div class="col-12">
            <h2 class="room-name-title">{{ room.name || 'sitnet_no_name' | translate }}</h2>
            <a
                [hidden]="room.state === 'INACTIVE'"
                (click)="disableRoom(room)"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
                ngbPopover="{{ 'sitnet_inactivate_room' | translate }}"
            >
                <i class="bi-trash ms-2 text-danger pointer"></i>
            </a>
            <a
                [hidden]="room.state !== 'INACTIVE'"
                (click)="enableRoom(room)"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
                ngbPopover="{{ 'sitnet_activate_room' | translate }}"
            >
                <i class="bi-plus text-success pointer"></i>
            </a>

            <div class="toggleMessage col-md">
                <div class="d-flex justify-content-between">
                    <div>
                        {{ 'sitnet_exam_basic_information_tab' | translate }}
                        <a
                            [routerLink]="['/staff/rooms', room.id]"
                            popoverTitle="{{ 'sitnet_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'sitnet_edit' | translate }}"
                        >
                            <i class="bi-pencil"></i>
                        </a>
                    </div>
                    <div>
                        <span class="marr10">{{ room.roomCode }}, {{ room.buildingName }}, {{ room.campus }}</span>
                        <i
                            class="bi-chevron-down"
                            *ngIf="room.addressVisible"
                            (click)="room.addressVisible = false"
                        ></i>
                        <i
                            class="bi-chevron-right"
                            *ngIf="!room.addressVisible"
                            (click)="room.addressVisible = true"
                        ></i>
                    </div>
                </div>
                <div [hidden]="!room.addressVisible">
                    <!-- Room Code & Accessibility Info -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_code' | translate }}:
                                <span class="room-info-span-text">{{ room.roomCode }}</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_accessibility_info' | translate }}:
                                <span
                                    class="room-info-span-text"
                                    *ngFor="let info of room.accessibilities; let last = last"
                                >
                                    {{ info.name }}{{ last ? '' : ', ' }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Building name & Tilaohjeet -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_building_name' | translate }}:
                                <span class="room-info-span-text">{{ room.buildingName }}</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_guidance' | translate }}:
                                <span class="room-info-span-text">{{ room.roomInstruction }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Campus & Contact Person -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_campus' | translate }}:
                                <span class="room-info-span-text">{{ room.campus }}</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_contact_person' | translate }}:
                                <span class="room-info-span-text">{{ room.contactPerson }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_exam_room_address' | translate }}:
                                <span class="room-info-span-text"
                                    >{{ room.mailAddress.street }}, {{ room.mailAddress.zip }},
                                    {{ room.mailAddress.city }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="toggleMessage col-md border-top-none">
                <div class="d-flex justify-content-between">
                    <div>
                        {{ 'sitnet_openinghours_exception_datetimes' | translate }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <span class="marr10 d-" *ngIf="!room.availabilityVisible">
                            <div
                                class="flex justify-content-end"
                                *ngFor="let timetable of getWorkingHoursDisplayFormat(room.defaultWorkingHours)"
                            >
                                <div class="bg-success custom-green-dot marr10" *ngIf="timetable.length > 0"></div>
                                <div>{{ timetable }}</div>
                            </div>
                        </span>
                        <div class="">
                            <i
                                class="bi-chevron-down"
                                *ngIf="room.availabilityVisible"
                                (click)="room.availabilityVisible = false"
                            ></i>
                            <i
                                class="bi-chevron-right"
                                *ngIf="!room.availabilityVisible"
                                (click)="room.availabilityVisible = true"
                            ></i>
                        </div>
                    </div>
                </div>
                <div class="row ms-3" *ngIf="!room.availabilityVisible">
                    <div class="col-md mart10">
                        <div
                            class="flex justify-content-end flex-nowrap"
                            *ngFor="let exception of getNextExceptionEvent(room.calendarExceptionEvents)"
                        >
                            <div
                                class="text-danger marr10 bi-exclamation-triangle-fill"
                                *ngIf="exception?.outOfService"
                            >
                                {{ 'sitnet_room_out_of_service' | translate }}
                            </div>
                            <div class="text-info marr10" *ngIf="exception?.outOfService && !exception.outOfService">
                                {{ 'sitnet_room_in_service' | translate }}
                            </div>
                            <div class="min-width-300">
                                {{ formatDate(exception) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="room.availabilityVisible">
                    <div class="col-6">
                        <xm-opening-hours *ngIf="room" class="col-md-12" [room]="room"></xm-opening-hours>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <xm-exceptions
                                class="col-12"
                                [exceptions]="room.calendarExceptionEvents"
                                (created)="addExceptions($event, room)"
                                (removed)="deleteException($event, room)"
                            ></xm-exceptions>
                        </div>
                        <div class="row">
                            <xm-starting-time
                                class="col-12 mt-2"
                                [startingHours]="room.examStartingHours"
                                [roomIds]="[room.id]"
                            >
                            </xm-starting-time>
                        </div>
                    </div>
                </div>
            </div>

            <div class="toggleMessage col-md border-top-none">
                <xm-machines [room]="room"></xm-machines>
            </div>
        </div>
    </div>
</div>
