<div id="dashboard">
    <div
        class="rooms-basic-info row"
        id="room"
        *ngFor="let room of rooms"
        [ngClass]="{ 'text-muted': room.state === 'INACTIVE' }"
    >
        <div class="col-md-12">
            <h2 class="room-name-title me-2 mb-0">{{ room.name || 'sitnet_no_name' | translate }}</h2>
            <a
                [hidden]="room.state === 'INACTIVE'"
                (click)="disableRoom(room)"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
                ngbPopover="{{ 'sitnet_inactivate_room' | translate }}"
            >
                <i class="bi-trash text-danger pointer"></i>
            </a>
            <a
                [hidden]="room.state !== 'INACTIVE'"
                (click)="enableRoom(room)"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
                ngbPopover="{{ 'sitnet_activate_room' | translate }}"
            >
                <i class="bi-plus text-success pointer"></i>
            </a>

            <div class="toggleMessage col-md-12">
                <div class="d-flex justify-content-between">
                    <div>
                        {{ 'sitnet_exam_basic_information_tab' | translate }}
                        <a
                            uiSref="staff.room"
                            [uiParams]="{ id: room.id }"
                            popoverTitle="{{ 'sitnet_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'sitnet_edit' | translate }}"
                        >
                            <i class="bi-pencil"></i>
                        </a>
                    </div>
                    <div>
                        <span class="me-1">{{ room.roomCode }}, {{ room.buildingName }}, {{ room.campus }}</span>
                        <i class="bi-chevron-up" *ngIf="room.addressVisible" (click)="room.addressVisible = false"></i>
                        <i
                            class="bi-chevron-down"
                            *ngIf="!room.addressVisible"
                            (click)="room.addressVisible = true"
                        ></i>
                    </div>
                </div>
                <div [hidden]="!room.addressVisible">
                    <!-- Room Code & Accessibility Info -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_code' | translate }}:
                                <span class="room-info-span-text">{{ room.roomCode }}</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_accessibility_info' | translate }}:
                                <span
                                    class="room-info-span-text"
                                    *ngFor="let info of room.accessibilities; let last = last"
                                >
                                    {{ info.name }}{{ last ? '' : ', ' }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Building name & Tilaohjeet -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_building_name' | translate }}:
                                <span class="room-info-span-text">{{ room.buildingName }}</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_guidance' | translate }}:
                                <span class="room-info-span-text">{{ room.roomInstruction }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Campus & Contact Person -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_campus' | translate }}:
                                <span class="room-info-span-text">{{ room.campus }}</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_room_contact_person' | translate }}:
                                <span class="room-info-span-text">{{ room.contactPerson }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="sitnet-info-text">
                                {{ 'sitnet_exam_room_address' | translate }}:
                                <span class="room-info-span-text"
                                    >{{ room.mailAddress.street }}, {{ room.mailAddress.zip }},
                                    {{ room.mailAddress.city }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <xm-machines [room]="room"></xm-machines>
        </div>
    </div>
</div>
