<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<xm-page-header text="i18n_examination_location" />
@if (room()) {
    <xm-page-content [content]="content" />
}
<ng-template #content>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <span class="col font-6">
                    <span class="me-2" [hidden]="!showName()" onclick="document.getElementById('name_field').select()">
                        {{ room()?.name || 'i18n_no_name' | translate }}
                        <button
                            class="btn btn-link btn-lg text-body width-auto"
                            (click)="toggleShowName()"
                            triggers="mouseenter:mouseleave"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            ngbPopover="{{ 'i18n_edit' | translate }}"
                        >
                            <i class="bi-pencil ms-2"></i>
                        </button>
                        <button
                            class="btn btn-link btn-lg width-auto"
                            (click)="disableRoom()"
                            triggers="mouseenter:mouseleave"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            ngbPopover="{{ 'i18n_inactivate_room' | translate }}"
                        >
                            <i class="text-danger bi-trash"></i>
                        </button>
                    </span>
                    <span [hidden]="showName()">
                        <div class="input-group">
                            <input
                                id="name_field"
                                type="text"
                                name="name"
                                class="form-control input-lg"
                                [value]="room()?.name ?? ''"
                                (input)="onRoomTextInput('name', $event)"
                                required
                                (blur)="toggleShowName()"
                            />
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="toggleShowName()">
                                    <i class="bi-check"></i>
                                </button>
                            </div>
                        </div>
                    </span>
                </span>
            </div>
            <form role="form" novalidate id="roomForm" (ngSubmit)="validateAndUpdateRoom()">
                <!-- Room Code & Building name -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="facility-info-text">{{ 'i18n_room_code' | translate }}</div>
                        <div class="input-group">
                            <input type="text" class="form-control" [formField]="roomDetailsForm.roomCode" />
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i
                                        class="bi-question-circle"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                                        ngbPopover="{{ 'i18n_exam_room_unique_code' | translate }}"
                                    ></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="facility-info-text">{{ 'i18n_room_building_name' | translate }}</div>
                        <div class="input-group">
                            <input type="text" class="form-control" [formField]="roomDetailsForm.buildingName" />
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i
                                        class="bi-question-circle"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                                        ngbPopover="{{ 'i18n_building_where_the_machine_is' | translate }}"
                                    ></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Campus name -->
                    <div class="col-md-6">
                        <div class="facility-info-text">{{ 'i18n_room_campus' | translate }}</div>
                        <div class="input-group">
                            <input type="text" class="form-control" [formField]="roomDetailsForm.campus" />
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i
                                        class="bi-question-circle"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                                        ngbPopover="{{ 'i18n_campus_where_room_is' | translate }}"
                                    ></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- Passwords -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="facility-info-text">{{ 'i18n_internal_password' | translate }}</div>
                        <div class="input-group">
                            <input
                                [type]="internalPasswordInputType()"
                                class="form-control"
                                [formField]="roomDetailsForm.internalPassword"
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-success"
                                    type="button"
                                    (click)="toggleInternalPasswordInputType()"
                                >
                                    <i
                                        [class.bi-eye]="internalPasswordInputType() === 'text'"
                                        [class.bi-eye-slash]="internalPasswordInputType() !== 'text'"
                                    ></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="facility-info-text">{{ 'i18n_external_password' | translate }}</div>
                        <div class="input-group">
                            <input
                                [type]="externalPasswordInputType()"
                                class="form-control"
                                [formField]="roomDetailsForm.externalPassword"
                            />
                            <div class="input-group-append">
                                <button
                                    class="btn btn-success"
                                    type="button"
                                    (click)="toggleExternalPasswordInputType()"
                                >
                                    <i
                                        [class.bi-eye]="externalPasswordInputType() === 'text'"
                                        [class.bi-eye-slash]="externalPasswordInputType() !== 'text'"
                                    ></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="submit" [disabled]="roomDetailsForm.roomCode().invalid()" class="btn btn-success">
                            {{ 'i18n_save' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- IOP -->
    <div class="row mt-2" [hidden]="!isInteroperable()">
        <div class="col">
            <div class="form-check">
                <label>
                    <input
                        type="checkbox"
                        class="form-check-input"
                        [checked]="room()?.availableForExternals ?? false"
                        (change)="onAvailableForExternalsChange($event)"
                    />
                    <strong>{{ 'i18n_interoperable' | translate }}</strong>
                </label>
            </div>
        </div>
    </div>
    <!-- AVAILABILITY TODO: MOVE TO A TAB -->
    <div class="row mt-2">
        <div class="col-md-12">
            <xm-availability [room]="room()!"></xm-availability>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <h3>{{ 'i18n_instructions' | translate }}</h3>
        </div>
    </div>
    <!-- Accessibility information -->
    <div class="row">
        <xm-accessibility-picker [room]="room()!"></xm-accessibility-picker>
    </div>
    <!-- Guidance & Contact person information -->
    <div class="row mt-2">
        <div class="col-md-12">
            <strong>{{ 'i18n_room_guidance' | translate }}</strong>
            <div class="row">
                <div class="col-md-3">
                    <div class="facility-info-text">FI</div>
                    <textarea
                        class="form-control"
                        [value]="room()?.roomInstruction ?? ''"
                        (input)="onRoomTextInput('roomInstruction', $event)"
                    >
                    </textarea>
                </div>
                <div class="col-md-3">
                    <div class="facility-info-text">SV</div>
                    <textarea
                        class="form-control"
                        [value]="room()?.roomInstructionSV ?? ''"
                        (input)="onRoomTextInput('roomInstructionSV', $event)"
                    >
                    </textarea>
                </div>
                <div class="col-md-3">
                    <div class="facility-info-text">EN</div>
                    <div class="input-group">
                        <textarea
                            class="form-control"
                            [value]="room()?.roomInstructionEN ?? ''"
                            (input)="onRoomTextInput('roomInstructionEN', $event)"
                        >
                        </textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="facility-info-text">{{ 'i18n_room_contact_person' | translate }}</div>
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control"
                            [value]="room()?.contactPerson ?? ''"
                            (input)="onRoomTextInput('contactPerson', $event)"
                        />
                        <span class="input-group-append">
                            <span class="input-group-text">
                                <i
                                    class="bi-question-circle"
                                    triggers="mouseenter:mouseleave"
                                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                                    ngbPopover="{{ 'i18n_person_to_contact_if_need_info' | translate }}"
                                ></i>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video recordings URL -->
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="facility-info-text">{{ 'i18n_room_videorecordings_url' | translate }}</div>
            <div class="input-group">
                <input
                    type="text"
                    class="form-control"
                    [value]="room()?.videoRecordingsURL ?? ''"
                    (input)="onRoomTextInput('videoRecordingsURL', $event)"
                />
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="bi-question-circle"
                            triggers="mouseenter:mouseleave"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            ngbPopover="{{ 'i18n_address_for_camera_footage_from_this_room' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <button class="btn btn-success" (click)="updateRoom()">{{ 'i18n_save' | translate }}</button>
        </div>
    </div>
    <!-- Postal address-->
    <div class="row mt-2">
        <div class="col-md-12">
            <!-- Address -->
            <h3>{{ 'i18n_exam_room_address' | translate }}</h3>
            <xm-room-address [address]="room()!.mailAddress"></xm-room-address>
        </div>
    </div>
    <!-- Service status -->
    <div class="row mt-2">
        <div class="col-md-12">
            <label>
                <input
                    class="me-2"
                    type="checkbox"
                    [checked]="room()?.outOfService ?? false"
                    (change)="onOutOfServiceChange($event)"
                />
                <strong>{{ 'i18n_out_of_service' | translate }}</strong>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 facility-info-text">{{ 'i18n_reason' | translate }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <textarea
                    [disabled]="!room()?.outOfService"
                    class="form-control"
                    [value]="room()?.statusComment ?? ''"
                    (input)="onRoomTextInput('statusComment', $event)"
                    (blur)="updateRoom()"
                >
                </textarea>
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="bi-question-circle"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'i18n_room_accessibility_features' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <!-- Button row -->
    <div class="row mt-2">
        <div class="col-md-12">
            <button [disabled]="roomDetailsForm.roomCode().invalid()" (click)="saveRoom()" class="btn btn-success">
                {{ 'i18n_save' | translate }}
            </button>
        </div>
    </div>
</ng-template>
