<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<xm-page-header text="i18n_examination_location" />
@if (room) {
    <xm-page-content [content]="content" />
}
<ng-template #content>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <span class="col font-6">
                    <span class="me-2" [hidden]="!showName" onclick="document.getElementById('name_field').select();">
                        {{ room.name || 'i18n_no_name' | translate }}
                        <button
                            class="btn btn-link btn-lg text-body width-auto"
                            (click)="showName = !showName"
                            triggers="mouseenter:mouseleave"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            ngbPopover="{{ 'i18n_edit' | translate }}"
                        >
                            <i class="bi-pencil ms-2"></i>
                        </button>
                        <button
                            class="btn btn-link btn-lg width-auto"
                            (click)="disableRoom()"
                            triggers="mouseenter:mouseleave"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            ngbPopover="{{ 'i18n_inactivate_room' | translate }}"
                        >
                            <i class="text-danger bi-trash"></i>
                        </button>
                    </span>
                    <span [hidden]="showName">
                        <div class="input-group">
                            <input
                                id="name_field"
                                type="text"
                                name="name"
                                class="form-control input-lg"
                                [(ngModel)]="room.name"
                                required
                                (blur)="showName = !showName"
                            />
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="showName = !showName">
                                    <i class="bi-check"></i>
                                </button>
                            </div>
                        </div>
                    </span>
                </span>
            </div>
            <form
                role="form"
                #roomForm="ngForm"
                name="roomForm"
                novalidate
                id="roomForm"
                (ngSubmit)="validateAndUpdateRoom()"
            >
                <!-- Room Code & Building name -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="facility-info-text">{{ 'i18n_room_code' | translate }}</div>
                        <div class="input-group">
                            <input
                                type="text"
                                name="roomCode"
                                class="form-control"
                                [(ngModel)]="room.roomCode"
                                required
                            />
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i
                                        class="bi-question-circle"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                                        ngbPopover="{{ 'i18n_exam_room_unique_code' | translate }}"
                                    ></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="facility-info-text">{{ 'i18n_room_building_name' | translate }}</div>
                        <div class="input-group">
                            <input
                                type="text"
                                name="buildingName"
                                class="form-control"
                                [(ngModel)]="room.buildingName"
                            />
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i
                                        class="bi-question-circle"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                                        ngbPopover="{{ 'i18n_building_where_the_machine_is' | translate }}"
                                    ></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Campus & Organization name -->
                    <div class="col-md-6">
                        <div class="facility-info-text">{{ 'i18n_room_campus' | translate }}</div>
                        <div class="input-group">
                            <input type="text" name="campus" class="form-control" [(ngModel)]="room.campus" />
                            <span class="input-group-append">
                                <span class="input-group-text">
                                    <i
                                        class="bi-question-circle"
                                        triggers="mouseenter:mouseleave"
                                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                                        ngbPopover="{{ 'i18n_campus_where_room_is' | translate }}"
                                    ></i>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <button type="submit" [disabled]="!roomForm.valid" class="btn btn-primary">
                            {{ 'i18n_save' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- IOP -->
    <div class="row mt-2" [hidden]="editingMultipleRooms || !isInteroperable">
        <div class="col">
            <div class="form-check">
                <label>
                    <input
                        type="checkbox"
                        class="form-check-input"
                        [(ngModel)]="room.availableForExternals"
                        (change)="updateInteroperability()"
                    />
                    <strong>{{ 'i18n_interoperable' | translate }}</strong>
                </label>
            </div>
        </div>
    </div>
    <!-- AVAILABILITY TODO: MOVE TO A TAB -->
    <div class="row">
        <div class="col-md-12">
            <xm-availability [room]="room"></xm-availability>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <h3>{{ 'i18n_instructions' | translate }}</h3>
        </div>
    </div>
    <!-- Accessibility information -->
    <div class="row">
        <xm-accessibility-picker [room]="room"></xm-accessibility-picker>
    </div>
    <!-- Guidance & Contact person information -->
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="facility-info-text">{{ 'i18n_room_guidance' | translate }}</div>
            <div class="input-group">
                <textarea class="form-control" [(ngModel)]="room.roomInstruction" placeholder="fin"> </textarea>
                <textarea class="form-control" [(ngModel)]="room.roomInstructionEN" placeholder="eng"> </textarea>
                <textarea class="form-control" [(ngModel)]="room.roomInstructionSV" placeholder="swe"> </textarea>
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="bi-question-circle"
                            triggers="mouseenter:mouseleave"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            ngbPopover="{{ 'i18n_instructions_for_use_of_room' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="facility-info-text">{{ 'i18n_room_contact_person' | translate }}</div>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="room.contactPerson" />
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="bi-question-circle"
                            triggers="mouseenter:mouseleave"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            ngbPopover="{{ 'i18n_person_to_contact_if_need_info' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <!-- Video recordings URL -->
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="facility-info-text">{{ 'i18n_room_videorecordings_url' | translate }}</div>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="room.videoRecordingsURL" />
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="bi-question-circle"
                            triggers="mouseenter:mouseleave"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            ngbPopover="{{ 'i18n_address_for_camera_footage_from_this_room' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="updateRoom()">{{ 'i18n_save' | translate }}</button>
        </div>
    </div>
    <!-- Postal address-->
    <div class="row mt-2">
        <div class="col-md-12">
            <!-- Address -->
            <h3>{{ 'i18n_exam_room_address' | translate }}</h3>
            <xm-room-address [address]="room.mailAddress"></xm-room-address>
        </div>
    </div>
    <!-- Service status -->
    <div class="row mt-2">
        <div class="col-md-12">
            <label>
                <input class="me-2" type="checkbox" [(ngModel)]="room.outOfService" (change)="updateRoom()" />
                <strong>{{ 'i18n_out_of_service' | translate }}</strong>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 facility-info-text">{{ 'i18n_reason' | translate }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <textarea
                    [disabled]="!room.outOfService"
                    class="form-control"
                    [(ngModel)]="room.statusComment"
                    (blur)="updateRoom()"
                >
                </textarea>
                <span class="input-group-append">
                    <span class="input-group-text">
                        <i
                            class="bi-question-circle"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'i18n_room_accessibility_features' | translate }}"
                        ></i>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <!-- Button row -->
    <div class="row mt-2">
        <div class="col-md-12">
            <button [disabled]="!roomForm.valid" (click)="saveRoom()" class="btn btn-primary">
                {{ 'i18n_save' | translate }}
            </button>
        </div>
    </div>
</ng-template>
