@for (room of rooms; track room) {
    <div class="row mt-4" [ngClass]="{ 'text-muted': room.state === 'INACTIVE' }">
        <div class="col-12">
            <h4>
                {{ room.name || 'i18n_no_name' | translate }}
                <a
                    [hidden]="room.state === 'INACTIVE'"
                    (click)="disableRoom(room)"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                    ngbPopover="{{ 'i18n_inactivate_room' | translate }}"
                >
                    <i class="bi-trash ms-2 text-danger pointer"></i>
                </a>
                <a
                    [hidden]="room.state !== 'INACTIVE'"
                    (click)="enableRoom(room)"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                    ngbPopover="{{ 'i18n_activate_room' | translate }}"
                >
                    <i class="bi-plus text-success pointer"></i>
                </a>
            </h4>
            <div class="toggleMessage col-md">
                <div class="d-flex justify-content-between">
                    <div>
                        {{ 'i18n_exam_basic_information_tab' | translate }}
                        <a
                            [routerLink]="['/staff/rooms', room.id]"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'i18n_edit' | translate }}"
                        >
                            <i class="bi-pencil"></i>
                        </a>
                    </div>
                    <div>
                        <span class="me-2">{{ room.roomCode }}, {{ room.buildingName }}, {{ room.campus }}</span>
                        @if (room.addressVisible) {
                            <i class="bi-chevron-down pointer" (click)="room.addressVisible = false"></i>
                        } @else {
                            <i class="bi-chevron-right pointer" (click)="room.addressVisible = true"></i>
                        }
                    </div>
                </div>
                <div [hidden]="!room.addressVisible">
                    <!-- Room Code & Accessibility Info -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="facility-info-text">
                                {{ 'i18n_room_code' | translate }}:
                                <strong>{{ room.roomCode }}</strong>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="facility-info-text">
                                {{ 'i18n_room_accessibility_info' | translate }}:
                                @for (info of room.accessibilities; track info; let last = $last) {
                                    <strong> {{ info.name }}{{ last ? '' : ', ' }} </strong>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- Building name & Tilaohjeet -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="facility-info-text">
                                {{ 'i18n_room_building_name' | translate }}:
                                <strong>{{ room.buildingName }}</strong>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="facility-info-text">
                                {{ 'i18n_room_guidance' | translate }}:
                                <strong>{{ room.roomInstruction }}</strong>
                            </div>
                        </div>
                    </div>
                    <!-- Campus & Contact Person -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="facility-info-text">
                                {{ 'i18n_room_campus' | translate }}:
                                <strong>{{ room.campus }}</strong>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="facility-info-text">
                                {{ 'i18n_room_contact_person' | translate }}:
                                <strong>{{ room.contactPerson }}</strong>
                            </div>
                        </div>
                    </div>
                    <!-- Address -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="facility-info-text">
                                {{ 'i18n_exam_room_address' | translate }}:
                                <strong
                                    >{{ room.mailAddress.street }}, {{ room.mailAddress.zip }},
                                    {{ room.mailAddress.city }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="toggleMessage col-md border-top-none">
                <div class="d-flex justify-content-between">
                    <div>
                        {{ 'i18n_openinghours_exception_datetimes' | translate }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <span class="me-2 d-" [hidden]="room.availabilityVisible">
                            @for (
                                timetable of getWorkingHoursDisplayFormat(room.defaultWorkingHours);
                                track timetable
                            ) {
                                <div class="d-flex justify-content-end">
                                    @if (timetable.length > 0) {
                                        <div class="bg-success custom-green-dot me-2"></div>
                                    }
                                    <div>{{ timetable }}</div>
                                </div>
                            }
                        </span>
                        <div>
                            @if (room.availabilityVisible) {
                                <i class="bi-chevron-down pointer" (click)="switchVisibility(room)"></i>
                            }
                            @if (!room.availabilityVisible) {
                                <i class="bi-chevron-right pointer" (click)="switchVisibility(room)"></i>
                            }
                        </div>
                    </div>
                </div>
                <div class="row" [hidden]="room.availabilityVisible">
                    <div class="col-md mt-2 me-2">
                        @for (exception of getNextExceptionEvent(room.calendarExceptionEvents); track exception.id) {
                            <div class="row">
                                <div class="col-md-2 offset-md-7">
                                    @if (exception?.outOfService) {
                                        <div class="text-danger me-2 bi-exclamation-triangle-fill">
                                            {{ 'i18n_room_out_of_service' | translate }}
                                        </div>
                                    } @else {
                                        <div class="text-success me-2">
                                            {{ 'i18n_room_in_service' | translate }}
                                        </div>
                                    }
                                </div>
                                <div class="col-md-3">
                                    {{ formatDate(exception) }}
                                </div>
                            </div>
                        }
                        @if (getFutureExceptionEvent(room.calendarExceptionEvents).length > 2) {
                            <div class="d-flex justify-content-end flex-nowrap">
                                <i class="bi-three-dots pointer me-2" (click)="room.availabilityVisible = true"></i>
                                <div class="text-danger">
                                    ({{ getFutureExceptionEvent(room.calendarExceptionEvents).length }})
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (room.activate) {
                    <div class="row" [hidden]="!room.availabilityVisible">
                        <div class="col-6">
                            @if (room) {
                                <xm-opening-hours class="col-md-12" [room]="room"></xm-opening-hours>
                            }
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <xm-exceptions
                                    class="col-12"
                                    [exceptions]="room.calendarExceptionEvents"
                                    (created)="addExceptions($event, room)"
                                    (removed)="deleteException($event, room)"
                                ></xm-exceptions>
                            </div>
                            <div class="row">
                                <xm-starting-time
                                    class="col-12 mt-2"
                                    [startingHours]="room.examStartingHours"
                                    [roomIds]="[room.id]"
                                >
                                </xm-starting-time>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="toggleMessage col-md border-top-none">
                <xm-machines [room]="room"></xm-machines>
            </div>
        </div>
    </div>
}
