@import '../../shared/definitions.scss';

.selected {
    background-color: #d3e7a8;
    border-top: none;
    border-bottom: none;
}
.room-name {
    font-size: 1.6em;
    padding: 0.8em 0;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

.toggleMessage {
    padding: 18px;
    border: 1px solid #dfdfdf;
    margin-left: 10px;
    margin-right: 10px;
}

.toggleMessage:before {
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 10px;
}

.room-name-title {
    font-size: 22px;
    letter-spacing: 0.63px;
    text-align: left;
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 30px;
}
.custom-green-dot {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    align-self: center;
}
.border-top-none {
    border-top: none !important;
}
.font-6 {
    font-size: 1.5rem;
}
.facility-info-text {
    color: #727272;
    margin-top: 1em;
}
.background-gray {
    background: gainsboro;
}
.background-light-blue {
    background: lightcyan;
}
.disable-gray-out {
    user-select: none;
    pointer-events: none;
    opacity: 0.6;
    filter: grayscale(100%);
}
