<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-enroll-title-wrap">
                <div class="student-enroll-title">{{ 'sitnet_reservations_new' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="reservation-border">
        <div class="p-4 row">
            <div class="col-md-2 pt-1 reservation-search-titles">
                <strong>{{ 'sitnet_begin' | translate }}</strong>
                <app-date-picker (updated)="startDateChanged($event)"></app-date-picker>
            </div>
            <div class="col-md-2 pt-1 reservation-search-titles">
                <strong>{{ 'sitnet_end' | translate }}</strong>
                <app-date-picker (updated)="endDateChanged($event)"></app-date-picker>
            </div>
            <div class="col-md-2">
                <strong class="reservation-search-titles">{{ 'sitnet_student' | translate }}</strong>
                <app-dropdown-select
                    *ngIf="studentOptions"
                    [fullWidth]="true"
                    [options]="studentOptions"
                    (onSelect)="studentChanged($event)"
                >
                </app-dropdown-select>
            </div>
            <div class="col-md-3">
                <strong class="reservation-search-titles">{{ 'sitnet_exam' | translate }}</strong>
                <app-dropdown-select
                    *ngIf="examOptions"
                    [fullWidth]="true"
                    [options]="examOptions"
                    (onSelect)="examChanged($event)"
                >
                </app-dropdown-select>
            </div>
            <div class="col-md-3">
                <strong class="reservation-search-titles">{{ 'sitnet_exam_state' | translate }}</strong>
                <app-dropdown-select
                    *ngIf="stateOptions"
                    [fullWidth]="true"
                    [options]="stateOptions"
                    (onSelect)="stateChanged($event)"
                >
                </app-dropdown-select>
            </div>
        </div>

        <app-reservation-details *ngIf="reservations" [reservations]="reservations"></app-reservation-details>
    </div>
</div>
