<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-enroll-title-wrap">
                <div class="student-enroll-title">{{ 'sitnet_reservations_new' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="reservation-border">
        <div class="p-4 row">
            <div class="col-md-2 pt-1 reservation-search-titles">
                <strong>{{ 'sitnet_begin' | translate }}</strong>
                <xm-date-picker (updated)="startDateChanged($event)"></xm-date-picker>
            </div>
            <div class="col-md-2 pt-1 reservation-search-titles">
                <strong>{{ 'sitnet_end' | translate }}</strong>
                <xm-date-picker (updated)="endDateChanged($event)"></xm-date-picker>
            </div>
            <div class="col-md-2">
                <strong class="reservation-search-titles">{{ 'sitnet_student' | translate }}</strong>
                <xm-dropdown-select
                    *ngIf="studentOptions"
                    [fullWidth]="true"
                    [options]="studentOptions"
                    (optionSelected)="studentChanged($event)"
                    placeholder="{{ 'sitnet_select' | translate }}"
                >
                </xm-dropdown-select>
            </div>
            <div class="col-md-3">
                <strong class="reservation-search-titles">{{ 'sitnet_exam' | translate }}</strong>
                <xm-dropdown-select
                    *ngIf="examOptions"
                    [fullWidth]="true"
                    [options]="examOptions"
                    (optionSelected)="examChanged($event)"
                    placeholder="{{ 'sitnet_select' | translate }}"
                >
                </xm-dropdown-select>
            </div>
            <div class="col-md-3">
                <strong class="reservation-search-titles">{{ 'sitnet_exam_state' | translate }}</strong>
                <xm-dropdown-select
                    *ngIf="stateOptions"
                    [fullWidth]="true"
                    [options]="stateOptions"
                    (optionSelected)="stateChanged($event)"
                    placeholder="{{ 'sitnet_select' | translate }}"
                >
                </xm-dropdown-select>
            </div>
        </div>

        <xm-reservation-details *ngIf="reservations" [reservations]="reservations"></xm-reservation-details>
    </div>
</div>
