    <div class="detail-row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="pointer" ng-click="predicate = 'user.lastName'; reverse=!reverse">
                        {{'sitnet_student' | translate}}
                    </th>
                    <th class="pointer" ng-click="predicate = 'exam.name'; reverse=!reverse">{{'sitnet_exam' | translate}}</th>
                    <th>{{'sitnet_teachers' | translate}}</th>
                    <th class="pointer" ng-click="predicate = 'reservation.startAt'; reverse=!reverse">{{'sitnet_date_time' | translate}}</th>
                    <th class="pointer" ng-click="predicate = 'reservation.machine.room.name'; reverse=!reverse">
                        {{'sitnet_room' | translate}}<br/>{{'sitnet_exam_machine' | translate}}
                    </th>
                    <th>{{'sitnet_exam_state' | translate}}</th>
                    <th ng-if="isAdminView()">{{'sitnet_remove_reservation' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="enrolment in enrolments | orderBy:predicate:reverse | filter: noShowFilter">
                    <td>
                        <span>{{enrolment.user.firstName}} {{enrolment.user.lastName}}</span>
                        <span ng-if="enrolment.user.userIdentifier">&nbsp;({{enrolment.user.userIdentifier}})</span>
                        <span><br /><a href="mailto:{{enrolment.user.email}}">{{enrolment.user.email}}</a></span>
                    </td>
                    <td ng-if="enrolment.exam.state === 'PUBLISHED'">{{ enrolment.exam.name }}</td>
                    <td ng-if="enrolment.exam.state !== 'PUBLISHED'"><a href="#/exams/review/{{enrolment.exam.id}}">{{enrolment.exam.name}}</a></td>
                    <td class="width15 wrap" ng-bind-html="enrolment.exam.teachersStr"></td>
                    <td>{{enrolment.reservation.startAt | adjustdst | date:'dd.MM.yyyy'}}<br/>{{'sitnet_clock_short' | translate}} {{enrolment.reservation.startAt | adjustdst | date:'HH:mm'}}-{{enrolment.reservation.endAt | adjustdst | date:'HH:mm'}}</td>
                    <td>{{enrolment.reservation.machine.room.name}}<br/>{{enrolment.reservation.machine.name}}</td>
                    <td>{{'sitnet_exam_status_' + printExamState(enrolment) | lowercase | translate}}</td>

                    <td ng-if="isAdminView()">
                        <button ng-disabled="enrolment.exam.state !== 'PUBLISHED'" ng-click="removeReservation(enrolment)"
                                class="btn btn-primary pull-left">
                            {{'sitnet_remove_reservation' | translate}}
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
