<div id="sitnet-header" class="header">
    <div class="col-md-12 header-wrapper">
        <span class="header-text">{{'sitnet_reservations_administration' | translate}}</span>
    </div>
</div>

<div id="dashboard" ng-controller="ReservationCtrl">
    <div class="top-row">
        <div class="col-md-12">
            <form role="form" ng-controller="DatepickerCtrl">
                <!-- Start & End time datepickers -->
                <div class="row">
                    <div class="col-md-6" ng-conroller="DatepickerCtrl">
                        <strong>{{'sitnet_begin' | translate}}</strong>
                        <div class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                   ng-model="dateService.startDate"
                                   is-open="startDateOpened" datepicker-options="dateOptions"
                                   close-text="{{'sitnet_close' | translate}}"
                                   current-text="{{'sitnet_today' | translate}}"
                                   toggle-weeks-text="{{'sitnet_weeks' | translate}}"
                                   clear-text="{{'sitnet_clear' | translate}}" required ng-change="query()"
                                    >
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="openStartDate($event)">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>

                        </div>
                    </div>
                    <div class="col-md-6" ng-controller="DatepickerCtrl">
                        <strong>{{'sitnet_end' | translate}}</strong>
                        <div class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                   ng-model="dateService.endDate"
                                   is-open="endDateOpened" datepicker-options="dateOptions"
                                   close-text="{{'sitnet_close' | translate}}"
                                   current-text="{{'sitnet_today' | translate}}"
                                   toggle-weeks-text="{{'sitnet_weeks' | translate}}"
                                   clear-text="{{'sitnet_clear' | translate}}" required ng-change="query()">

                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="openEndDate($event)">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row top-margin-1">
                    <div class="col-md-4">
                        <strong>{{'sitnet_exam_owner' | translate}}</strong>
                        <select class="wide-select" ui-select2="{ allowClear: true, dropdownAutoWidth : true}"
                                ng-model="selection.ownerId" ng-change="query()">
                            <option value="">&dash;</option>
                            <option ng-repeat="teacher in examOwners | orderBy: '[lastName, firstName]'" value="{{teacher.id}}">{{teacher.firstName}}
                                {{teacher.lastName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <strong>{{'sitnet_exam_state' | translate}}</strong>
                        <select class="wide-select" ui-select2="{ allowClear: true, dropdownAutoWidth : true}"
                                ng-model="selection.state" ng-change="query()">
                            <option class="default-select" value="">&dash;</option>
                            <option ng-repeat="state in examStates" value="{{state}}">{{'sitnet_exam_status_' + state |
                                lowercase | translate}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <strong>{{'sitnet_student' | translate}}</strong>
                        <select class="wide-select" ui-select2="{ allowClear: true, dropdownAutoWidth : true}"
                                ng-model="selection.studentId" ng-change="query()">
                            <option value="">&dash;</option>
                            <option ng-repeat="student in students | orderBy: '[lastName, firstName]'" value="{{student.id}}">{{student.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row top-margin-1">
                    <div class="col-md-4">
                        <strong>{{'sitnet_room' | translate}}</strong>
                        <select class="wide-select" ui-select2="{ allowClear: true, dropdownAutoWidth : true}"
                                ng-model="selection.roomId" ng-change="query()">
                            <option value="">&dash;</option>
                            <option ng-repeat="examroom in examrooms" value="{{examroom.id}}">{{examroom.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <strong>{{'sitnet_exam_machine' | translate}}</strong>
                        <select class="wide-select" ui-select2="{ allowClear: true, dropdownAutoWidth : true}"
                                ng-model="selection.machineId" ng-change="query()">
                            <option value="">&dash;</option>
                            <optgroup ng-repeat="examroom in examrooms" ng-if="examroom.examMachines.length > 0 && (selection.roomId ? selection.roomId==examroom.id : true)"
                                      label="{{examroom.name}}">
                                <option ng-repeat="machine in machines" ng-if="roomContains(examroom, machine)"
                                        value="{{machine.id}}">{{machine.name}}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <strong>{{'sitnet_exam' | translate}}</strong>
                        <select class="wide-select" ui-select2="{ allowClear: true, dropdownAutoWidth : true}"
                                ng-model="selection.examId" ng-change="query()">
                            <option value="">&dash;</option>
                            <option ng-repeat="exam in examnames | orderBy: 'name'" value="{{exam.id}}">{{exam.name}}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="top-margin-1" ng-init="query()" ng-include="reservationDetails"/>

</div>
