<div id="dashboard">

    <div class="top-row">
        <div class="col-md-12">
            <div class="student-enroll-title-wrap">
                <div class="student-enroll-title">{{'sitnet_reservations_new' | translate}}</div>
            </div>
        </div>
    </div>

    <div class="reservation-border">

        <div class="pad30">
            <div class="col-md-2 reservation-search-titles" ng-controller="DatepickerCtrl">
                {{'sitnet_begin' | translate}}

                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                           ng-model="dateService.startDate"
                           is-open="startDateOpened" datepicker-options="dateOptions"
                           close-text="{{'sitnet_close' | translate}}"
                           current-text="{{'sitnet_today' | translate}}"
                           toggle-weeks-text="{{'sitnet_weeks' | translate}}"
                           clear-text="{{'sitnet_clear' | translate}}" ng-change="query()">

                    <span class="input-group-btn">
                        <button class="btn btn-default green" ng-click="openStartDate($event)">
                            <img src="../../../assets/assets/images/reservation_calendar.svg" alt="exam"
                                 onerror="this.onerror=null;this.src='../../../assets/assets/images/reservation_calendar.png'" />
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 reservation-search-titles" ng-controller="DatepickerCtrl">
                <strong>{{'sitnet_end' | translate}}</strong>

                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dateService.endDate"
                           is-open="endDateOpened" datepicker-options="dateOptions"
                           close-text="{{'sitnet_close' | translate}}"
                           current-text="{{'sitnet_today' | translate}}"
                           toggle-weeks-text="{{'sitnet_weeks' | translate}}"
                           clear-text="{{'sitnet_clear' | translate}}" ng-change="query()"
                           ng-init="dateService.endDate=undefined">

                    <span class="input-group-btn">
                        <button class="btn btn-default green" ng-click="openEndDate($event)">
                            <img src="../../../assets/assets/images/reservation_calendar.svg" alt="exam"
                                 onerror="this.onerror=null;this.src='../../../assets/assets/images/reservation_calendar.png'" />
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2 reservation-search-titles">
                <strong>{{'sitnet_student' | translate}}</strong>
                <input class="wide-select fat-select" ui-select2="studentOptions"
                       ng-model="selection.studentId" ng-click="query()">
                </input>
            </div>
            <div class="col-md-3 reservation-search-titles">
                <strong>{{'sitnet_exam' | translate}}</strong>
                <input class="wide-select fat-select" ui-select2="examOptions"
                       ng-model="selection.examId" ng-click="query()">
                </input>
            </div>
            <div class="col-md-3 reservation-search-titles">
                <strong>{{'sitnet_exam_state' | translate}}</strong>
                <input class="wide-select fat-select" ui-select2="stateOptions"
                       ng-model="selection.state" ng-click="query()">
                </input>
            </div>
        </div>


        <div ng-init="query()" ng-include="reservationDetails"/>

    </div>
</div>