<div class="section-border">
    <div class="col-md-12 mart10">
        <div class="review-list-title">
            {{ 'sitnet_section_title' | translate }}
            <!-- settings -->
            <div class="dropdown pull-right exam-section-settings" ngbDropdown>
                <a class="dropdown-toggle fa-stack fa-lg pull-right" ngbDropdownToggle>
                    <i class="fa sitnet-white fa-stop fa-stack-2x"></i>
                    <i class="fa fa-wrench fa-stack-1x"></i>
                </a>
                <ul ngbDropdownMenu>
                    <li>
                        <a (click)="clearAllQuestions()" class="pointer-hand">{{ 'sitnet_exam_clear' | translate }} </a>
                    </li>
                    <li>
                        <a (click)="removeSection()" class="pointer-hand">{{ 'sitnet_exam_remove' | translate }} </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row col-md-12 margin-20">
        <div class="col-md-3 exam-basic-title">
            {{ 'sitnet_section_order' | translate }}
            <sup>
                <img
                    ngbPopover="{{ 'sitnet_exam_section_order_description' | translate }}"
                    placement="right"
                    triggers="mouseenter:mouseleave"
                    src="/assets/assets/images/icon_tooltip.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                />
            </sup>
        </div>
        <div class="col-md-9">{{ section.index }}.</div>
    </div>

    <form>
        <div class="row col-md-12 margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_section_name' | translate }}
                <sup>
                    <img
                        ngbPopover="{{ 'sitnet_exam_section_name_description' | translate }}"
                        placement="right"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                    />
                </sup>
            </div>
            <div class="col-md-9">
                <input
                    name="sectionName"
                    type="text"
                    required
                    class="form-control"
                    [(ngModel)]="section.name"
                    (change)="renameSection()"
                />
            </div>
        </div>

        <div class="row col-md-12 margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_section_description' | translate }}
                <sup>
                    <img
                        ngbPopover="{{ 'sitnet_exam_section_description_description' | translate }}"
                        placement="right"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                    />
                </sup>
            </div>
            <div class="col-md-9">
                <textarea
                    class="form-control"
                    rows="4"
                    cols="150"
                    name="description"
                    [(ngModel)]="section.description"
                    (change)="renameSection()"
                >
                </textarea>
            </div>
        </div>

        <!-- Section material resources-->
        <!-- HIDE THIS FOR TIME BEING (See CSCEXAM-117 comments) -->
        <!-- exam-material-selector section="section" all-materials="materials"
            on-changes="materialsChanged()"></exam-material-selector -->
        <div class="row col-md-12 margin-20" *ngIf="canBeOptional && !collaborative">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_optional_section' | translate }}
                <sup>
                    <img
                        ngbPopover="{{ 'sitnet_optional_section_description' | translate }}"
                        placement="right"
                        triggers="'mouseenter'"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                    />
                </sup>
            </div>
            <div class="col-md-9">
                <!-- section optional on/off -->
                <input
                    name="optional"
                    type="checkbox"
                    name="optionalSection"
                    value="On"
                    [(ngModel)]="section.optional"
                    (change)="renameSection()"
                />
            </div>
        </div>

        <div class="row col-md-12 margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_randomize_questions' | translate }}
                <sup>
                    <img
                        ngbPopover="{{ 'sitnet_exam_section_randomize_description' | translate }}"
                        placement="right"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                    />
                </sup>
            </div>
            <div class="col-md-9">
                <!-- lottery on/off -->
                <input
                    type="checkbox"
                    name="lottery"
                    value="On"
                    [disabled]="toggleDisabled()"
                    (change)="toggleLottery()"
                    [(ngModel)]="section.lotteryOn"
                />

                <!-- lottery item count -->
                <span *ngIf="section.lotteryOn && section.sectionQuestions.length > 1">
                    <input
                        type="number"
                        lang="en"
                        name="lotteryItemCount"
                        min="1"
                        value="1"
                        max="{{ section.sectionQuestions.length }}"
                        [(ngModel)]="section.lotteryItemCount"
                        (change)="updateLotteryCount()"
                        autofocus
                    />
                </span>
                <span *ngIf="section.lotteryOn && section.sectionQuestions.length > 1">
                    &nbsp;/&nbsp;{{ section.sectionQuestions.length }}
                </span>
            </div>
        </div>
        <div *ngIf="getSectionTotalScore() > 0" class="row col-md-12 margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_section_max_score' | translate }}
            </div>
            <div class="col-md-9">
                {{ getSectionTotalScore() }}
            </div>
        </div>
        <div *ngIf="getAmountOfSelectionEvaluatedQuestions() > 0" class="row col-md-12 margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_evaluation_select' | translate }}
                <sup>
                    <img
                        ngbPopover="{{ 'sitnet_evaluation_select_amount_description' | translate }}"
                        placement="right"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                    />
                </sup>
            </div>
            <div class="col-md-9">
                {{ getAmountOfSelectionEvaluatedQuestions() }}
            </div>
        </div>
    </form>

    <div class="col-md-12 mart20">
        <div class="review-list-title">
            {{ 'sitnet_exam_questions' | translate }}
            <a
                class="pointer"
                ngbPopover="{{ 'sitnet_show' | translate }} / {{ 'sitnet_hide' | translate }}"
                placement="right"
                triggers="mouseenter:mouseleave"
                (click)="section.expanded = !section.expanded; expandSection()"
            >
                <img
                    *ngIf="!section.expanded"
                    src="/assets/assets/images/icon_list_show_right.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_list_show_right.png';"
                />
                <img
                    *ngIf="section.expanded"
                    src="/assets/assets/images/icon_list_show_down.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_list_show_down.png';"
                />
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mart10" *ngIf="section.expanded">
            <div id="exam" cdkDropList (cdkDropListDropped)="moveQuestion($event)" class="sortable no-padding">
                <div *ngFor="let sectionQuestion of section.sectionQuestions" cdkDrag cdkDragLockAxis="y">
                    <div class="dragdrop-placeholder" *cdkDragPlaceholder></div>
                    <div class="drag-preview" *cdkDragPreview [innerHtml]="sectionQuestion.question.question"></div>
                    <section-question
                        class="section-question"
                        [sectionQuestion]="sectionQuestion"
                        [lotteryOn]="section.lotteryOn"
                        (onDelete)="removeQuestion($event)"
                    >
                    </section-question>
                </div>
            </div>

            <div *ngIf="!collaborative" class="review-attachment-button exam-questions-buttons marl30 mart20">
                <a class="pointer" (click)="openLibrary()">
                    <i class="fa sitnet-white fa-plus"></i>&nbsp;{{ 'sitnet_add_from_library' | translate }}
                </a>
            </div>

            <div class="review-attachment-button exam-questions-buttons marl30 mart20">
                <a class="pointer" (click)="addNewQuestion()">
                    <i class="fa sitnet-white fa-plus"></i>&nbsp;{{ 'sitnet_exam_new_question' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
