<div class="row col-md-12 mt-3">
    <div class="col-md-3 exam-basic-title">
        {{ 'i18n_exam_editor_materials' | translate }}
        <sup
            ngbPopover="{{ 'i18n_exam_material_description' | translate }}"
            popoverTitle="{{ 'i18n_instructions' | translate }}"
            triggers="mouseenter:mouseleave"
            ><img src="/assets/images/icon_tooltip.svg" alt=""
        /></sup>
    </div>
    <div class="col-md-6">
        <input
            type="text"
            class="form-control w-50 make-inline"
            [(ngModel)]="filter"
            [ngbTypeahead]="filterMaterials$"
            (selectItem)="selectMaterial($event)"
            [resultFormatter]="nameFormat"
            [editable]="false"
        />
        <span
            ><button (click)="addMaterial()" class="btn btn-primary green">
                {{ 'i18n_add' | translate }}
            </button></span
        >
    </div>
    <div class="col-md-3">
        <button class="btn btn-link" (click)="openMaterialEditor()">
            {{ 'i18n_modify_materials' | translate }}
        </button>
    </div>
</div>
<div class="row col-md-12">
    <div class="col-md-3 exam-basic-title"></div>
    <div class="col-md-9">
        <ul class="list-inline mt-1">
            @for (material of section.examMaterials; track material) {
                <li class="list-inline-item">
                    {{ material.name }}
                    <button
                        class="reviewer-remove"
                        (click)="removeMaterial(material)"
                        title="{{ 'i18n_remove' | translate }}"
                    >
                        <img src="/assets/images/icon_remove.svg" alt="" />
                    </button>
                </li>
            }
        </ul>
    </div>
</div>
