<!-- Sections -->

@if (exam.hasEnrolmentsInEffect) {
    <div class="row ms-2 me-2">
        <div class="col-md-12">
            <div class="row xm-study-item-container--warning m-3">
                <div class="col-md-1">
                    <img src="/assets/images/icon_warning.png" alt="" />
                </div>
                <div class="col-md-11 warning-text">
                    {{ 'i18n_upcoming_reservations_exist' | translate }}
                </div>
            </div>
        </div>
    </div>
}

<div class="row ms-2 me-2" cdkDropList [cdkDropListData]="exam.examSections" (cdkDropListDropped)="moveSection($event)">
    <div class="col-md-12">
        @for (section of exam.examSections | orderBy: 'sequenceNumber'; track section; let i = $index) {
            <div cdkDrag cdkDragLockAxis="y">
                <div class="dragdrop-placeholder" *cdkDragPlaceholder></div>
                <div class="drag-preview" *cdkDragPreview>#{{ i }} {{ section.name }}</div>
                <div class="row section-handle">
                    <xm-section
                        class="col-md-12 pt-2"
                        [section]="section"
                        [index]="i + 1"
                        [examId]="exam.id"
                        [collaborative]="collaborative"
                        [canBeOptional]="exam.executionType.type !== 'MATURITY' && exam.implementation === 'AQUARIUM'"
                        (removed)="removeSection(section)"
                        (materialsChanged)="loadMaterials()"
                    >
                        <i
                            cdkDragHandle
                            class="bi bi-arrows-move"
                            ngbPopover="{{ 'i18n_move_section' | translate }}"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                        ></i>
                    </xm-section>
                </div>
            </div>
        }
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-3">
        <h4>{{ 'i18n_total_score' | translate }}:</h4>
    </div>
    <div class="col-md-9">
        <h4>{{ calculateExamMaxScore() }}</h4>
    </div>
</div>

<!-- Buttons -->
<div class="row me-1 mt-4">
    <div class="col-md-3 mb-3">
        <button class="xm-ok-button" (click)="addNewSection()">
            <i class="bi-plus"></i>&nbsp;{{ 'i18n_section_add' | translate }}
        </button>
    </div>
    <div class="col">
        <div class="row justify-content-end">
            <div class="col-auto p-1">
                <button class="xm-neutral-button" (click)="previewExam(2)">
                    {{ 'i18n_preview' | translate }}
                </button>
            </div>
            <div class="col-auto p-1">
                <button class="xm-ok-button" (click)="updateExam(false)">
                    {{ 'i18n_save' | translate }}
                </button>
            </div>
            <div class="col-auto p-1">
                @if (showDelete()) {
                    <button class="xm-warning-button" (click)="removeExam()">
                        {{ 'i18n_exam_remove' | translate }}
                    </button>
                }
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-2 grey-top mb-3 pt-2">
        <button class="xm-neutral-button" (click)="previousTab()">
            &#171; {{ 'i18n_exam_basic_information_tab' | translate }}
        </button>
    </div>
    <div class="col grey-top mb-3 pt-2">
        <div class="float-end">
            <button class="xm-neutral-button" (click)="nextTab()">
                {{ 'i18n_exam_assessment_settings' | translate }} &#187;
            </button>
        </div>
    </div>
</div>
