<div class="row">
    <div class="col-md-12">
        <div class="xm-paragraph-title pb-3">
            <span cdkDragHandle class="me-2">
                <i
                    class="bi bi-arrows-vertical"
                    ngbPopover="{{ 'i18n_move_section' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    placement="top-left"
                    triggers="mouseenter:mouseleave"
                ></i>
            </span>
            <span (mousedown)="$event.stopPropagation()">
                {{ 'i18n_section_title' | translate }} {{ index }}
                <sup
                    ngbPopover="{{ 'i18n_exam_section_order_description' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                    class="me-4"
                >
                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                </sup>
                <!-- settings -->
                <div class="float-end" ngbDropdown>
                    <button class="btn btn-outline-dark" ngbDropdownToggle>
                        {{ 'i18n_edit' | translate }}
                    </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem (click)="clearAllQuestions()">
                            {{ 'i18n_exam_clear' | translate }}
                        </button>
                        <button ngbDropdownItem (click)="removeSection()">
                            {{ 'i18n_exam_remove' | translate }}
                        </button>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>
<div (mousedown)="$event.stopPropagation()">
    <div class="row mt-4">
        <div class="col-md-12">
            <form>
                <label for="sectionName_{{ section.id }}" class="form-label">
                    {{ 'i18n_section_name' | translate }}
                    <sup
                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                        ngbPopover="{{ 'i18n_exam_section_name_description' | translate }}"
                        triggers="mouseenter:mouseleave"
                    >
                        <img src="/assets/images/icon_tooltip.svg" alt="" />
                    </sup>
                </label>
                <input
                    id="sectionName_{{ section.id }}"
                    name="sectionName"
                    type="text"
                    required
                    class="form-control mb-3 w-50"
                    maxlength="255"
                    [(ngModel)]="section.name"
                    (change)="renameSection()"
                />

                <label for="sectionDescription_{{ section.id }}" class="form-label">
                    {{ 'i18n_section_description' | translate }}
                    <sup
                        ngbPopover="{{ 'i18n_exam_section_description_description' | translate }}"
                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                    >
                        <img src="/assets/images/icon_tooltip.svg" alt="" />
                    </sup>
                </label>
                <textarea
                    (focus)="$event.stopPropagation()"
                    id="sectionDescription_{{ section.id }}"
                    class="form-control mb-3"
                    rows="4"
                    cols="150"
                    name="description"
                    [(ngModel)]="section.description"
                    (change)="renameSection()"
                >
                </textarea>
                <!-- Section material resources-->
                <!-- HIDE THIS FOR TIME BEING (See CSCEXAM-117 comments) -->
                <!-- exam-material-selector [section]="section" [allMaterials]="materials"
        (changed)="materialsChanged($event)"></exam-material-selector -->
                @if (!collaborative && canBeOptional) {
                    <div class="form-check mb-3">
                        <input
                            id="sectionOptionality_{{ section.id }}"
                            class="form-check-input"
                            name="optional"
                            type="checkbox"
                            name="optionalSection"
                            value="On"
                            [(ngModel)]="section.optional"
                            (change)="renameSection()"
                        />
                        <label for="sectionOptionality_{{ section.id }}" class="form-check-label">
                            {{ 'i18n_optional_section' | translate }}
                            <sup
                                ngbPopover="{{ 'i18n_optional_section_description' | translate }}"
                                popoverTitle="{{ 'i18n_instructions' | translate }}"
                                triggers="mouseenter:mouseleave"
                            >
                                <img src="/assets/images/icon_tooltip.svg" alt="" />
                            </sup>
                        </label>
                    </div>
                }
                <div class="form-check">
                    <input
                        id="sectionRandomized_{{ section.id }}"
                        type="checkbox"
                        name="lottery"
                        class="form-check-input"
                        [(ngModel)]="section.lotteryOn"
                        [disabled]="lotteryDisabled()"
                        (change)="toggleLottery()"
                    />
                    <label for="sectionRandomized_{{ section.id }}" class="form-check-label">
                        {{ 'i18n_randomize_questions' | translate }}
                    </label>
                    <sup
                        ngbPopover="{{ 'i18n_exam_section_randomize_description' | translate }}"
                        popoverTitle="{{ 'i18n_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        class="ms-1"
                    >
                        <img src="/assets/images/icon_tooltip.svg" alt="" />
                    </sup>
                    @if (!questionPointsMatch()) {
                        <span class="text text-danger ms-2">{{
                            'i18n_error_lottery_points_not_match' | translate
                        }}</span>
                    }
                </div>
                @if (section.lotteryOn) {
                    <div class="row">
                        <div class="col-auto">
                            <label class="col-form-label" for="sectionLotteryCount_{{ section.id }}">
                                {{ 'i18n_lottery_questions' | translate }} [1...{{
                                    section.sectionQuestions.length
                                }}]</label
                            >
                        </div>
                        <div class="col-1">
                            <input
                                id="sectionLotteryCount_{{ section.id }}"
                                class="form-control"
                                type="number"
                                lang="en"
                                name="lotteryItemCount"
                                [min]="1"
                                [max]="section.sectionQuestions.length"
                                [(ngModel)]="section.lotteryItemCount"
                                (change)="updateLotteryCount()"
                            />
                        </div>
                    </div>
                }
            </form>
        </div>
    </div>

    @if (getSectionTotalScore() > 0) {
        <div class="row mt-4">
            <div class="col-md-12">
                <strong>{{ 'i18n_section_max_score' | translate }}: {{ getSectionTotalScore() }}</strong>
            </div>
        </div>
    }
    @if (getAmountOfSelectionEvaluatedQuestions() > 0) {
        <div class="row mt-3">
            <div class="col-md-3">
                {{ 'i18n_evaluation_select' | translate }}
                <sup
                    ngbPopover="{{ 'i18n_evaluation_select_amount_description' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                >
                    <img src="/assets/images/icon_tooltip.svg" alt="" />
                </sup>
            </div>
            <div class="col-md-9">
                {{ getAmountOfSelectionEvaluatedQuestions() }}
            </div>
        </div>
    }

    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <div class="xm-paragraph-title">
                {{ 'i18n_exam_questions' | translate }}
                <a
                    class="pointer"
                    ngbPopover="{{ 'i18n_show' | translate }} / {{ 'i18n_hide' | translate }}"
                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                    (click)="section.expanded = !section.expanded; expandSection()"
                >
                    @if (!section.expanded) {
                        <img src="/assets/images/icon_list_show_right.svg" alt="" />
                    }
                    @if (section.expanded) {
                        <img src="/assets/images/icon_list_show_down.svg" alt="" />
                    }
                </a>
            </div>
        </div>
    </div>

    <div class="row" [ngbCollapse]="!section.expanded">
        <div class="col-md-12 mt-2">
            <div cdkDropList (cdkDropListDropped)="moveQuestion($event)" class="p-0 mb-2">
                @for (
                    sectionQuestion of section.sectionQuestions | orderBy: 'sequenceNumber';
                    track sectionQuestion.sequenceNumber
                ) {
                    <div cdkDrag cdkDragLockAxis="y" class="mb-4">
                        <div class="dragdrop-placeholder" *cdkDragPlaceholder></div>
                        <div class="drag-preview" *cdkDragPreview [innerHtml]="sectionQuestion.question.question"></div>
                        <xm-section-question
                            class="section-question"
                            [section]="section"
                            [examId]="examId"
                            [sectionQuestion]="sectionQuestion"
                            [collaborative]="collaborative"
                            [lotteryOn]="section.lotteryOn"
                            (removed)="removeQuestion($event)"
                            (updated)="updateQuestion($event)"
                            (copied)="copyQuestion($event)"
                        >
                        </xm-section-question>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12">
            @if (!collaborative) {
                <button class="xm-ok-button" (click)="openLibrary()">
                    <i class="bi-plus"></i>&nbsp;{{ 'i18n_add_from_library' | translate }}
                </button>
            }
            <button class="xm-ok-button ms-2" (click)="addNewQuestion()">
                <i class="bi-plus"></i>&nbsp;{{ 'i18n_exam_new_question' | translate }}
            </button>
        </div>
    </div>
</div>
