<div class="section-border">
    <div class="row">
        <div class="col-md-12">
            <div class="review-list-title pb-4">
                {{ 'sitnet_section_title' | translate }} {{ index }}
                <sup
                    ngbPopover="{{ 'sitnet_exam_section_order_description' | translate }}"
                    popoverTitle="{{ 'sitnet_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                    class="me-4"
                >
                    <img
                        src="/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png';"
                    />
                </sup>
                <!-- settings -->
                <div class="float-end exam-section-settings" ngbDropdown>
                    <button class="btn btn-outline-dark" ngbDropdownToggle>
                        {{ 'sitnet_edit' | translate }}
                    </button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem (click)="clearAllQuestions()">
                            {{ 'sitnet_exam_clear' | translate }}
                        </button>
                        <button ngbDropdownItem (click)="removeSection()">
                            {{ 'sitnet_exam_remove' | translate }}
                        </button>
                    </div>
                </div>
                <ng-content></ng-content>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <form>
                <label for="sectionName_{{ section.id }}" class="form-label">
                    {{ 'sitnet_section_name' | translate }}
                    <sup
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        ngbPopover="{{ 'sitnet_exam_section_name_description' | translate }}"
                        triggers="mouseenter:mouseleave"
                    >
                        <img
                            src="/assets/images/icon_tooltip.svg"
                            alt="exam"
                            onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png';"
                        />
                    </sup>
                </label>
                <input
                    id="sectionName_{{ section.id }}"
                    name="sectionName"
                    type="text"
                    required
                    class="form-control mb-3"
                    [(ngModel)]="section.name"
                    (change)="renameSection()"
                />

                <label for="sectionDescription_{{ section.id }}" class="form-label">
                    {{ 'sitnet_section_description' | translate }}
                    <sup
                        ngbPopover="{{ 'sitnet_exam_section_description_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                    >
                        <img
                            src="/assets/images/icon_tooltip.svg"
                            alt="exam"
                            onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png';"
                        />
                    </sup>
                </label>
                <textarea
                    (focus)="$event.stopPropagation()"
                    id="sectionDescription_{{ section.id }}"
                    class="form-control mb-3"
                    rows="4"
                    cols="150"
                    name="description"
                    [(ngModel)]="section.description"
                    (change)="renameSection()"
                >
                </textarea>
                <!-- Section material resources-->
                <!-- HIDE THIS FOR TIME BEING (See CSCEXAM-117 comments) -->
                <!-- exam-material-selector [section]="section" [allMaterials]="materials"
                    (onChanges)="materialsChanged($event)"></exam-material-selector -->
                <div class="form-check mb-3" *ngIf="!collaborative && canBeOptional">
                    <input
                        id="sectionOptionality_{{ section.id }}"
                        class="form-check-input"
                        name="optional"
                        type="checkbox"
                        name="optionalSection"
                        value="On"
                        [(ngModel)]="section.optional"
                        (change)="renameSection()"
                    />
                    <label for="sectionOptionality_{{ section.id }}" class="form-check-label">
                        {{ 'sitnet_optional_section' | translate }}
                        <sup
                            ngbPopover="{{ 'sitnet_optional_section_description' | translate }}"
                            popoverTitle="{{ 'sitnet_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                        >
                            <img
                                src="/assets/images/icon_tooltip.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png';"
                            />
                        </sup>
                    </label>
                </div>
                <div class="form-check">
                    <input
                        id="sectionRandomized_{{ section.id }}"
                        type="checkbox"
                        name="lottery"
                        class="form-check-input"
                        [(ngModel)]="section.lotteryOn"
                        [disabled]="lotteryDisabled()"
                        (change)="toggleLottery()"
                    />
                    <label for="sectionRandomized_{{ section.id }}" class="form-check-label">
                        {{ 'sitnet_randomize_questions' | translate }}
                    </label>
                    <sup
                        ngbPopover="{{ 'sitnet_exam_section_randomize_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        class="marl5"
                    >
                        <img
                            src="/assets/images/icon_tooltip.svg"
                            alt="exam"
                            onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png';"
                        />
                    </sup>
                    <span class="text text-danger ms-2" *ngIf="!questionPointsMatch()">{{
                        'sitnet_error_lottery_points_not_match' | translate
                    }}</span>
                </div>
                <div class="form-check" *ngIf="section.lotteryOn">
                    <label for="sectionLotteryCount_{{ section.id }}">
                        {{ 'sitnet_lottery_questions' | translate }} [1...{{ section.sectionQuestions.length }}]</label
                    >
                    <input
                        id="sectionLotteryCount_{{ section.id }}"
                        class="form-check-input"
                        type="number"
                        lang="en"
                        name="lotteryItemCount"
                        [min]="1"
                        [max]="section.sectionQuestions.length"
                        [(ngModel)]="section.lotteryItemCount"
                        (change)="updateLotteryCount()"
                    />
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-4" *ngIf="getSectionTotalScore() > 0">
        <div class="col-md-3 exam-basic-title">
            {{ 'sitnet_section_max_score' | translate }}
        </div>
        <div class="col-md-9">
            {{ getSectionTotalScore() }}
        </div>
    </div>
    <div class="row mt-3" *ngIf="getAmountOfSelectionEvaluatedQuestions() > 0">
        <div class="col-md-3 exam-basic-title">
            {{ 'sitnet_evaluation_select' | translate }}
            <sup
                ngbPopover="{{ 'sitnet_evaluation_select_amount_description' | translate }}"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
            >
                <img
                    src="/assets/images/icon_tooltip.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png';"
                />
            </sup>
        </div>
        <div class="col-md-9">
            {{ getAmountOfSelectionEvaluatedQuestions() }}
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <div class="review-list-title">
                {{ 'sitnet_exam_questions' | translate }}
                <a
                    class="pointer"
                    ngbPopover="{{ 'sitnet_show' | translate }} / {{ 'sitnet_hide' | translate }}"
                    popoverTitle="{{ 'sitnet_instructions' | translate }}"
                    triggers="mouseenter:mouseleave"
                    (click)="section.expanded = !section.expanded; expandSection()"
                >
                    <img
                        *ngIf="!section.expanded"
                        src="/assets/images/icon_list_show_right.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/images/icon_list_show_right.png';"
                    />
                    <img
                        *ngIf="section.expanded"
                        src="/assets/images/icon_list_show_down.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/images/icon_list_show_down.png';"
                    />
                </a>
            </div>
        </div>
    </div>

    <div class="row ms-2 me-2">
        <div class="col-md-12 mt-2" *ngIf="section.expanded">
            <div id="exam" cdkDropList (cdkDropListDropped)="moveQuestion($event)" class="sortable no-padding mb-2">
                <div *ngFor="let sectionQuestion of section.sectionQuestions" cdkDrag cdkDragLockAxis="y" class="mb-4">
                    <div class="dragdrop-placeholder" *cdkDragPlaceholder></div>
                    <div class="drag-preview" *cdkDragPreview [innerHtml]="sectionQuestion.question.question"></div>
                    <xm-section-question
                        class="section-question"
                        [section]="section"
                        [examId]="examId"
                        [sectionQuestion]="sectionQuestion"
                        [collaborative]="collaborative"
                        [lotteryOn]="section.lotteryOn"
                        (removed)="removeQuestion($event)"
                    >
                    </xm-section-question>
                </div>
            </div>

            <div *ngIf="!collaborative" class="review-attachment-button exam-questions-buttons mt-3">
                <a class="pointer" (click)="openLibrary()">
                    <i class="bi-plus"></i>&nbsp;{{ 'sitnet_add_from_library' | translate }}
                </a>
            </div>

            <div class="review-attachment-button exam-questions-buttons ms-3 mt-3">
                <a class="pointer" (click)="addNewQuestion()">
                    <i class="bi-plus"></i>&nbsp;{{ 'sitnet_exam_new_question' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
