<sitnet-header></sitnet-header>

<div id="dashboard">

    <!-- Enrolled exams list -->
    <div class="top-row">
        <div class="col-md-12">
            <h3>{{'sitnet_user_enrolled_exams' | translate}}</h3>
        </div>
    </div>

    <div class="top-row">
        <div class="col-md-6 list-item" ng-repeat="enrolment in userEnrolments | orderBy: 'reservation.startAt'">
            <div class="student-enrolment-wrapper">
                <div class="col-md-12">
                    <div class="enrolment-row">
                        <span class="col-md-12 info-header-bold">
                            {{enrolment.exam.name}} - {{enrolment.exam.course.code}}&nbsp;&nbsp;
                            <a class="pointer"
                               href="/enroll/{{enrolment.exam.course.code}}/exam/{{enrolment.exam.id}}">
                                <i class="fa fa-question text-info"></i>
                            </a>
                            <span class="pointer" ng-hide="enrolment.exam.executionType.type === 'PRIVATE'">&nbsp;&nbsp;
                                <i class="fa fa-times text-danger" popover-placement="top"
                                   popover-popup-delay="500" popover-trigger="mouseenter"
                                   uib-popover="{{ 'sitnet_remove' | translate }}" ng-click="removeEnrolment(enrolment, userEnrolments)">
                                </i>
                            </span>
                        </span>
                    </div>
                    <div class="enrolment-row top-margin-1">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_exam_validity' | translate }}:
                            </div>
                            <div class="col-md-9">
                                {{ enrolment.exam.examActiveStartDate | date:'dd.MM.yyyy' }} -
                                {{enrolment.exam.examActiveEndDate | date:'dd.MM.yyyy' }}
                            </div>
                        </div>
                    </div>
                    <div class="enrolment-row">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_course_name' | translate }}:
                            </div>
                            <div class="col-md-9">
                                {{ enrolment.exam.course.name }}
                            </div>
                        </div>
                    </div>
                    <div class="enrolment-row">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_exam_duration' | translate }}:
                            </div>
                            <div class="col-md-9">
                                {{ printExamDuration(enrolment.exam) }}
                            </div>
                        </div>
                    </div>
                    <div class="enrolment-row">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_exam_room' | translate }}:
                            </div>
                            <div class="col-md-9" ng-show="enrolment.reservation">
                                {{ enrolment.reservation.machine.name}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                {{enrolment.reservation.machine.room.name}}({{enrolment.reservation.machine.room.roomCode}})
                            </div>
                        </div>
                    </div>
                    <div class="enrolment-row">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_reservation' | translate }}:
                            </div>
                            <div class="col-md-9" ng-if="enrolment.reservation">
                                {{enrolment.reservation.startAt | adjustdst | date:'dd.MM.yyyy'}}
                                {{enrolment.reservation.occasion.startAt}} -
                                {{enrolment.reservation.occasion.endAt}} ({{enrolment.reservation.machine.room.localTimezone}})
                            </div>
                            <div class="col-md-9" ng-if="enrolment.reservationCanceled">
                                {{ 'sitnet_canceled' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="enrolment-row">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_toolbar_calendar' | translate }}:
                            </div>
                            <div class="col-md-9">
                                <span>
                                    <a ng-if="enrolment.reservation" class="text-info"
                                       href="/calendar/{{enrolment.exam.id}}">{{'sitnet_change_reservation'
                                        | translate}}</a>
                                    <span ng-if="enrolment.reservation">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                                    <a ng-if="enrolment.reservation" class="text-danger pointer"
                                       ng-click="removeReservation(enrolment)">{{'sitnet_remove_reservation' |
                                        translate}}</a>
                                    <a ng-if="!enrolment.reservation" class="text-info"
                                       href="/calendar/{{enrolment.exam.id}}">{{'sitnet_new_reservation'
                                        | translate}}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="enrolment-row">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_instructions' | translate }}:
                            </div>
                            <div class="col-md-9" ng-show="enrolment.exam.enrollInstruction">
                                <a class="text-info pointer" ng-click="showInstructions(enrolment)">{{ 'sitnet_view' |
                                    translate}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="enrolment-row" ng-show="enrolment.exam.executionType.type === 'MATURITY'">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_maturity_instructions' | translate }}:
                            </div>
                            <div class="col-md-9">
                                <a class="text-info pointer" ng-click="showMaturityInstructions(enrolment)">{{ 'sitnet_view' |
                                    translate}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="enrolment-row">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_teachers' | translate }}:
                            </div>
                            <div class="col-md-9"><teacher-list exam="enrolment.exam" /></div>
                        </div>
                    </div>
                    <div class="enrolment-row">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_status' | translate }}:
                            </div>
                            <div class="col-md-9">
                                <span>
                                    <span ng-if="enrolment.exam.state ==='PUBLISHED' && enrolment.reservation"
                                          class="text-success">{{'sitnet_state_ready' | translate}}</span>
                                    <span ng-if="enrolment.exam.state ==='PUBLISHED' && !enrolment.reservation"
                                          class="text-danger">{{'sitnet_state_needs_reservation' | translate}}</span>
                                    <span ng-if="enrolment.exam.state === 'STUDENT_STARTED'"
                                          class="light-text text-info">{{'sitnet_state_started' | translate}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="enrolment-row">
                        <div class="col-md-12 info-column">
                            <div class="col-md-3 header">
                                {{ 'sitnet_student_enrolment_info' | translate }}:
                            </div>
                            <div class="col-md-9">
                                <a class="text-info pointer" ng-click="addEnrolmentInformation(enrolment)">
                                    <span ng-if="enrolment.information">{{ 'sitnet_edit' | translate }}</span>
                                    <span ng-if="!enrolment.information">{{ 'sitnet_add' | translate }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Finished exams list -->
    <div class="main-row">
        <div class="col-md-12">
            <h3>{{'sitnet_user_finished_exams' | translate}}</h3>
        </div>
    </div>

    <!-- List of finished exams -->
    <div class="detail-row">
        <div class="bottom-row"
             ng-repeat="participation in participations | orderBy: '-ended' | offset: currentPage*pageSize | limitTo: pageSize">
            <div class="info-column col-md-2">
                <span class="header col-md-12">{{ 'sitnet_exam_endtime' | translate }}:</span><br/>
                <span class="light-text col-md-12">{{ participation.ended  | adjustdst | date:'dd.MM.yyyy HH:mm'}}</span>
            </div>
            <div class="info-column col-md-3">
                <span class="header col-md-12">{{ 'sitnet_examcode_and_name' | translate }}:</span><br/>
                <span class="light-text col-md-12">{{ participation.exam.course.code }} - {{ participation.exam.name }}</span>
            </div>
            <div class="info-column col-md-4">
                <span class="header col-md-12">{{ 'sitnet_exam_teachers' | translate }}:</span><br/>
                <span class="light-text col-md-12"><assessment-teacher-list exam="participation.exam" /></span>
            </div>
            <div class="info-column col-md-3">
                <span class="header col-md-12">{{ 'sitnet_teachers_comment' | translate }}:</span><br/>
                <span class="light-text col-md-12">
                    <span ng-if="participation.exam.state === 'GRADED_LOGGED' || participation.exam.state === 'REJECTED'
                            || participation.exam.state === 'ARCHIVED' ||
                            (participation.exam.state === 'GRADED' && participation.exam.autoEvaluationNotified)"
                          popover-placement="top" popover-popup-delay="1000" popover-trigger="mouseenter"
                          uib-popover="{{ 'sitnet_show' | translate }}" ng-click="showFeedback(participation.exam.id)"
                          class="pointer text-info">{{'sitnet_comments' | translate}}</span>
                    <span ng-if="(participation.exam.state === 'GRADED' && !participation.exam.autoEvaluationNotified) ||
                        participation.exam.state === 'REVIEW'|| participation.exam.state === 'REVIEW_STARTED'"
                          class="text-muted">{{'sitnet_no_comments' | translate}}</span>
                </span>
            </div>
        </div>
    </div>

    <!-- Div structure is same, as in exams list. This ensures that they are aligned similarly -->
    <div class="detail-row">
        <div class="bottom-row">
            <div col-md-12 ng-show="participations.length > pageSize">
                <paginator items="participations" page-size="pageSize" current-page="currentPage"/>
            </div>
        </div>
    </div>


</div>
