<div class="row">
    <div class="exam-header">
        <div class="exam-header-img-wrap">
            <img
                src="Images/exam-logo-mobile.svg"
                alt="exam"
                onerror="this.onerror=null;this.src='Images/exam-logo-mobile.png'"
            />
        </div>
        <div class="exam-header-title divider"></div>
        <div class="exam-header-title">
            {{ $ctrl.exam.course.name }}
            <span>{{ $ctrl.exam.course.code }}</span>
        </div>
        <div class="language-selector">
            <a
                tabindex="0"
                class="exam-clock-text"
                ng-click="$ctrl.switchLanguage('fi')"
                ng-enter="$ctrl.switchLanguage('fi')"
            >
                FI
            </a>
            <a
                tabindex="0"
                class="exam-clock-text"
                ng-click="$ctrl.switchLanguage('sv')"
                ng-enter="$ctrl.switchLanguage('sv')"
            >
                SV
            </a>
            <a
                tabindex="0"
                class="exam-clock-text"
                ng-click="$ctrl.switchLanguage('en')"
                ng-enter="$ctrl.switchLanguage('en')"
            >
                EN
            </a>
            <span class="exam-header-title divider"></span>
        </div>
        <examination-clock ng-if="!$ctrl.isPreview" exam-hash="$ctrl.exam.hash" on-timeout="$ctrl.informTimeout()">
        </examination-clock>
    </div>
</div>
