<!doctype html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
        <h3>{{enrolment_title}}</h3>
        <h4>{{enrolment_info_title}}</h4>
        <ul>
            {{enrolment_info}}
        </ul>
        <h3>{{ungraded_title}}</h3>
        <h4>{{ungraded_info}}</h4>
        <ul>
            {{ungraded_info_own}}
        </ul>
        <h3>{{graded_title}}</h3>
        <h4>{{graded_info}}</h4>
        <ul>
            {{graded_info_own}}
        </ul>
    </body>
</html>
