<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->
<div ngModelGroup="claimChoice" id="claimChoice">
    <div class="row">
        <div class="col-md-12">
            <p>{{ 'i18n_claim_choice_question_instruction' | translate }}</p>
            <p>{{ 'i18n_claim_choice_options_description' | translate }}</p>
            <ul>
                <li>{{ 'i18n_claim_choice_correct_points_description' | translate }}</li>
                <li>{{ 'i18n_claim_choice_incorrect_points_description' | translate }}</li>
                <li>{{ 'i18n_claim_choice_skip_option_description' | translate }}</li>
            </ul>
        </div>
    </div>
    <div class="row mx-2">
        <div class="col-md-11 claim-choice-option-labels">
            <div class="row">
                <div class="col-md-9">
                    <div class="claim-choice-option-label">
                        <span class="question-option-title">{{ 'i18n_question_options' | translate | uppercase }}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="claim-choice-option-label points">
                        <span class="question-option-title">
                            {{ 'i18n_word_points' | translate | uppercase }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-2">
        <div class="col-md-11">
            @for (opt of options(); track opt.id; let index = $index) {
                <div class="question-editor-claim-choice-option row" [ngClass]="getOptionClass(opt)">
                    @if (opt.option) {
                        <div class="claim-choice-option-inputs col-md-9">
                            <textarea
                                [ngModel]="opt.option!.option"
                                (ngModelChange)="updateText($event, index)"
                                name="claimChoiceOption_{{ opt.id }}"
                                type="text"
                                rows="1"
                                class="make-inline form-control"
                                required
                                [disabled]="lotteryOn() || opt.option?.claimChoiceType === 'SkipOption'"
                            ></textarea>
                        </div>
                    }
                    <div class="col-md-2">
                        <input
                            name="claimChoiceOptionScore_{{ opt.id }}"
                            class="question-option-input points"
                            type="number"
                            step="0.01"
                            lang="en"
                            xmFixedPrecision
                            [ngModel]="opt.score"
                            (ngModelChange)="updateScore($event, index)"
                            required
                            [disabled]="lotteryOn() || opt.option!.claimChoiceType === 'SkipOption'"
                        />
                    </div>
                    <div class="claim-choice-option-description">
                        {{ translateDescription(opt) }}
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 claim-choice-warning-wrapper">
            @if (missingOptions().length > 0) {
                <div class="claim-choice-warning">
                    <i class="bi-exclamation-triangle"></i>
                    {{ 'i18n_claim_choice_missing_options_warning' | translate }}
                    @for (opt of missingOptions(); track $index; let l = $last) {
                        {{ opt | translate }}{{ l ? '' : ',' }}
                    }
                </div>
            }
        </div>
    </div>
</div>
