<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div class="modal-header">
    <span class="xm-modal-title">{{ 'i18n_questions_edit' | translate }}</span>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form role="form" class="form-horizontal" #questionForm="ngForm" name="form">
                <xm-question-usage [examNames]="examNames" />
                <xm-question-basic-info
                    [question]="question"
                    [questionTypes]="[]"
                    [questionId]="question?.id"
                    (newText)="setText($event)"
                />

                @if (question?.type === 'EssayQuestion' && examQuestion(); as eq) {
                    <xm-eq-essay
                        [(evaluationType)]="eq.evaluationType"
                        [(expectedWordCount)]="eq.expectedWordCount"
                        [(evaluationCriteria)]="eq.evaluationCriteria"
                        [lotteryOn]="lotteryOn()"
                        (evaluationTypeChange)="updateEvaluationType($event)"
                    />
                }

                <!-- Multiple choices - title -->
                @if (
                    question?.type === 'MultipleChoiceQuestion' ||
                    question?.type === 'WeightedMultipleChoiceQuestion' ||
                    question?.type === 'ClaimChoiceQuestion'
                ) {
                    <div class="row mt-3 mb-2">
                        <div class="col-md-12 pe-0">
                            <div class="xm-paragraph-title edit-warning-container">
                                {{ 'i18n_question_options' | translate }}
                                @if (showWarning() && question?.type !== 'MultipleChoiceQuestion') {
                                    <i class="bi-exclamation-circle ps-4 text-danger"></i>
                                    <span class="warning-text-small ps-2">
                                        {{ 'i18n_shared_question_property_info' | translate }}
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                }

                <!-- Type specific content - weighted multiple choice -->
                @if (question?.type === 'WeightedMultipleChoiceQuestion') {
                    <xm-eq-weighted-mc
                        [(question)]="examQuestion"
                        [lotteryOn]="lotteryOn()"
                        [isInPublishedExam]="isInPublishedExam"
                    />
                }

                @if (question?.type === 'MultipleChoiceQuestion') {
                    <xm-eq-unweighted-mc
                        [(question)]="examQuestion"
                        [lotteryOn]="lotteryOn()"
                        [isInPublishedExam]="isInPublishedExam"
                    />
                }

                <!-- Type specific content - claim choice option -->
                @if (question?.type === 'ClaimChoiceQuestion' && examQuestion(); as eq) {
                    <xm-eq-claim-choice [(options)]="eq.options" [lotteryOn]="lotteryOn()" />
                }

                <!-- Max score -->
                @if (
                    (question?.type === 'MultipleChoiceQuestion' ||
                        question?.type === 'ClozeTestQuestion' ||
                        examQuestion()?.evaluationType === 'Points') &&
                        examQuestion();
                    as eq
                ) {
                    <div class="row mt-2">
                        <div class="col-md-3">
                            {{ 'i18n_max_score' | translate }}
                        </div>
                        <div class="col-md-2">
                            <input
                                id="maxScore"
                                name="maxScore"
                                type="number"
                                step="0.01"
                                lang="en"
                                class="form-control xm-numeric-input"
                                [(ngModel)]="eq.maxScore"
                                [min]="0"
                                [max]="1000"
                                required
                                xmFixedPrecision
                                [disabled]="lotteryOn()"
                            />
                        </div>
                    </div>
                }

                <!-- Additional info -->
                <div class="row mt-2">
                    <div class="col-md-12 mt-2 pe-0">
                        <div class="xm-paragraph-title">{{ 'i18n_additional_info' | translate }}</div>
                    </div>
                </div>

                <!-- Exam owners -->
                <div class="row mt-2">
                    <div class="col-md-3">
                        {{ 'i18n_question_owners' | translate }}
                        <sup
                            ngbPopover="{{ 'i18n_question_owners_description' | translate }}"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                        >
                            <img src="/assets/images/icon_tooltip.svg" alt="" />
                        </sup>
                    </div>
                    <div class="col-md-9">
                        @if (question?.questionOwners) {
                            <ul class="list-inline ps-2">
                                @for (user of question!.questionOwners; track user.id) {
                                    <li class="list-inline-item">{{ user.firstName }} {{ user.lastName }}</li>
                                }
                            </ul>
                        }
                    </div>
                </div>

                <!-- Attachment -->
                <div class="row">
                    <div class="col-md-3">
                        {{ 'i18n_question_attachment' | translate }}
                        <sup
                            ngbPopover="{{ 'i18n_attachment_description' | translate }}"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                        >
                            <img src="/assets/images/icon_tooltip.svg" alt="" />
                        </sup>
                    </div>

                    <div class="col-md-9" id="attachment">
                        @if (showWarning()) {
                            <div class="mt-1 mb-2 edit-warning-container">
                                <i class="bi-exclamation-circle text-danger"></i>
                                <span class="warning-text-small ps-2">{{
                                    'i18n_shared_question_property_info' | translate
                                }}</span>
                            </div>
                        }
                        <button class="btn btn-success" (click)="selectFile()">
                            {{ 'i18n_attach_file' | translate }}
                        </button>

                        @if (question?.attachment && !question!.attachment?.removed) {
                            <div class="make-inline ps-2">
                                <!-- Uploaded -->
                                @if (question!.attachment?.id) {
                                    <a class="pointer attachment-link" (click)="downloadQuestionAttachment()">
                                        <i class="bi-paperclip"></i> {{ question!.attachment?.fileName }}
                                    </a>
                                }
                                <!-- Not yet uploaded -->
                                @if (!question?.attachment?.id) {
                                    <span class="attachment-link">
                                        <i class="bi-paperclip"></i> {{ question?.attachment?.fileName }}
                                        <small> ({{ getFileSize() }})</small>
                                    </span>
                                }
                                <span class="pointer remove-attachment" (click)="removeQuestionAttachment()">
                                    <img
                                        src="/assets/images/icon_remove.svg"
                                        alt="{{ 'i18n_remove_attachment' | translate }}"
                                    />
                                </span>
                            </div>
                        }
                    </div>
                </div>

                <!-- Instructions -->
                <div class="row mt-2">
                    <div class="col-md-3">
                        {{ 'i18n_question_instruction' | translate }}
                        <sup
                            ngbPopover="{{ 'i18n_question_instruction_description' | translate }}"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                        >
                            <img src="/assets/images/icon_tooltip.svg" alt="" />
                        </sup>
                    </div>
                    <div class="col-md-9">
                        @if (examQuestion(); as eq) {
                            <textarea
                                id="instruction"
                                name="instruction"
                                class="form-control"
                                rows="3"
                                [(ngModel)]="eq.answerInstructions"
                                placeholder="{{ 'i18n_question_instruction' | translate }}"
                            >
                            </textarea>
                        }
                    </div>
                </div>

                <!-- Tags -->
                <div class="row mt-2">
                    <div class="col-md-3">
                        {{ 'i18n_added_to_categories' | translate }}
                        <sup
                            ngbPopover="{{ 'i18n_question_tag_question_description' | translate }}"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                        >
                            <img src="/assets/images/icon_tooltip.svg" alt="" />
                        </sup>
                    </div>
                    <div class="col-md-9">
                        @if (question?.tags) {
                            <ul class="list-inline">
                                @for (tag of question!.tags; track tag.id) {
                                    <li class="list-inline-item">{{ tag.name }}</li>
                                }
                            </ul>
                        }
                    </div>
                </div>

                <!-- Categories -->
                <div class="row mt-2">
                    <div class="col-md-3">
                        {{ 'i18n_added_to_sections' | translate }}
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline">
                            @for (name of sectionNames; track $index) {
                                <li class="list-inline-item">{{ name }}</li>
                            }
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="d-flex flex-row-reverse flex-align-r m-3">
    <button
        [disabled]="questionForm.invalid || hasInvalidClaimChoiceOptions() || !question?.question"
        (click)="save()"
        type="submit"
        class="btn btn-success"
    >
        {{ 'i18n_save' | translate }}
    </button>
    <button (click)="cancel()" type="submit" class="btn btn-outline-secondary me-3">
        {{ 'i18n_button_cancel' | translate }}
    </button>
    <!--button
            (click)="openPreview()"
            type="submit"
            class="btn btn-outline-secondary me-3"
            [disabled]="questionForm.invalid || hasInvalidClaimChoiceOptions()"
        >
            {{ 'i18n_button_preview' | translate }}
        </button-->
</div>
