@if (question(); as q) {
    <div [formGroup]="multichoiceForm" id="unweightedMc">
        <div class="row my-2" [formGroup]="multichoiceForm">
            <div class="col-md-12">
                <div class="form-check">
                    <input
                        class="form-check-input"
                        name="optionShuffling"
                        type="checkbox"
                        formControlName="optionShuffling"
                        id="optionShuffling"
                    />
                    <label class="form-check-label" for="optionShuffling">{{
                        'i18n_shuffle_options' | translate
                    }}</label>
                </div>
            </div>
        </div>

        <div formArrayName="options">
            @for (option of q.options; track option.id; let index = $index) {
                <div class="row" [formGroupName]="index">
                    <div
                        class="col-md-6 question-option-empty"
                        [ngClass]="{ 'question-correct-option': option.option?.correctOption }"
                    >
                        @if (option.option) {
                            <textarea
                                id="optionText_{{ option.id }}"
                                name="optionText_{{ option.id }}"
                                type="text"
                                rows="1"
                                class="make-inline question-option-input radiobut form-control"
                                formControlName="optionText"
                                required
                            ></textarea>
                        }
                    </div>
                    <div
                        class="col-md-2 question-option-empty-radio"
                        [ngClass]="{ 'question-correct-option-radio': option.option?.correctOption }"
                    >
                        @if (option.option) {
                            <input
                                type="radio"
                                formControlName="correctOption"
                                name="correctOption"
                                [value]="true"
                                (click)="updateCorrectAnswer(index, $event)"
                                class="make-inline question-option-radio"
                            />
                        }
                    </div>
                    @if (!lotteryOn()) {
                        <button (click)="removeOption(option)" class="col-md-1 question-option-trash btn btn-link">
                            <i class="bi-trash" title="{{ 'i18n_remove' | translate }}"></i>
                        </button>
                    }
                </div>
            }
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <a (click)="addNewOption()" class="attachment-link pointer">
                    <i class="bi-plus"></i>
                    {{ 'i18n_question_add_new_option' | translate }}
                </a>
            </div>
        </div>
    </div>
}
