/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

.disable-gray-out {
    user-select: none;
    pointer-events: none;
    opacity: 0.6;
    filter: grayscale(100%);
}
