<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<form class="form">
    <div class="input-group">
        <input
            ngbDatepicker
            class="form-control"
            [disabled]="disabled()"
            [required]="!optional()"
            name="dp"
            [ngModel]="date()"
            (ngModelChange)="setDate($event)"
            #d="ngbDatepicker"
            [footerTemplate]="footerTemplate"
            [startDate]="startDate()"
            [minDate]="minDateStruct()"
            [maxDate]="maxDateStruct()"
            [readonly]="readonly()"
            [showWeekNumbers]="true"
            (dateSelect)="dateChange()"
            (blur)="dateChange()"
        />
        <div class="input-group-append">
            <button
                class="btn btn-success rounded-0 rounded-end"
                [disabled]="disabled()"
                (click)="d.toggle()"
                type="button"
                [ariaLabel]="'i18n_datepicker' | translate"
            >
                <img src="/assets/images/reservation_calendar.svg" alt="" />
            </button>
            <!-- extra btn -->
        </div>
    </div>
</form>
<ng-template #footerTemplate>
    <hr class="my-0" />
    <button class="btn btn-primary btn-sm m-2 float-start" (click)="setDate(today()); d.close()">
        {{ 'i18n_today' | translate }}
    </button>
    <button class="btn btn-secondary btn-sm m-2 float-end" (click)="dateCleared(); d.close()">
        {{ 'i18n_clear' | translate }}
    </button>
</ng-template>
