/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

// common definitions
$mobile-width: 920px;
$exam-medium-green: #238635;
$exam-dark-green: #2c7639;
$exam-dark-grey: #4c4c4c;
$exam-blue: #266b99;
