/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

.maturity-input-label {
    font-size: 12px;
    text-transform: uppercase;
}
.maturity-paragraph-title {
    font-size: 22px;
    color: #2c2c2c;
    padding-bottom: 5px;
}
