<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<form novalidate autocomplete="off">
    <div class="row align-items-center">
        <div class="col-md-6">
            <label for="courseCode" class="exam-input-label-uppercase form-label" style="display: block">{{
                'i18n_course_code' | translate
            }}</label>
            <div class="input-group">
                <input
                    id="courseCode"
                    class="form-control"
                    [(ngModel)]="codeFilter"
                    name="code"
                    [ngbTypeahead]="getCoursesByCode$"
                    (selectItem)="onCourseSelect($event)"
                    [inputFormatter]="codeFormat"
                    [resultTemplate]="rtc"
                    required
                />
                <ng-template #rtc let-r="result" let-t="term">
                    <ngb-highlight [result]="r.code" [term]="t"></ngb-highlight>
                    <p>{{ r.name }}</p>
                </ng-template>
                <span class="input-group-text">
                    @if (!loader.code.isOn) {
                        <i
                            class="bi-question-circle"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            ngbPopover="{{ 'i18n_course_unique_code' | translate }}"
                            triggers="mouseenter:mouseleave"
                        ></i>
                    }
                    <div class="spinner-border spinner-border-sm" role="status" [hidden]="!loader.code.isOn">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <label for="courseName" class="exam-input-label-uppercase form-label" style="display: block">{{
                'i18n_course_name' | translate
            }}</label>
            <div class="input-group">
                <input
                    id="courseName"
                    class="form-control"
                    [(ngModel)]="nameFilter"
                    name="name"
                    [ngbTypeahead]="getCoursesByName$"
                    (selectItem)="onCourseSelect($event)"
                    [inputFormatter]="nameFormat"
                    [resultTemplate]="rtn"
                    required
                />
                <ng-template #rtn let-r="result" let-t="term">
                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                    <p>{{ r.code }}</p>
                </ng-template>
                <span class="input-group-text">
                    @if (!loader.name.isOn) {
                        <i
                            class="bi-question-circle"
                            ngbPopover="{{ 'i18n_course_name' | translate }}"
                            popoverTitle="{{ 'i18n_instructions' | translate }}"
                            triggers="mouseenter:mouseleave"
                        ></i>
                    }
                    <div class="spinner-border spinner-border-sm" role="status" [hidden]="!loader.name.isOn">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</form>
