<form class="form-inline" autocomplete="off">
    <div>
        <label for="courseCode" class="exam-basic-selecttitle" style="display: block">{{
            'sitnet_course_code' | translate
        }}</label>
        <div class="input-group">
            <input
                id="courseCode"
                class="form-control"
                [(ngModel)]="filter"
                name="code"
                [ngbTypeahead]="getCoursesByCode$"
                (selectItem)="onCourseSelect($event)"
                [inputFormatter]="codeFormat"
                [resultFormatter]="courseFormat"
                required
            />
            <div class="input-group-append">
                <span class="input-group-text">
                    <i
                        *ngIf="!loader.code.isOn"
                        class="bi-question-circle"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        ngbPopover="{{ 'sitnet_course_unique_code' | translate }}"
                        triggers="mouseenter:mouseleave"
                    ></i>
                    <span class="spinner-border spinner-border-sm" role="status" *ngIf="loader.code.isOn">
                        <span class="sr-only">Loading...</span>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="ml-5" style="min-width: 500px">
        <label for="courseName" class="exam-basic-selecttitle" style="display: block">{{
            'sitnet_course_name' | translate
        }}</label>
        <div class="input-group">
            <input
                id="courseName"
                class="form-control"
                [(ngModel)]="filter"
                name="name"
                [ngbTypeahead]="getCoursesByName$"
                (selectItem)="onCourseSelect($event)"
                [inputFormatter]="nameFormat"
                [resultFormatter]="courseFormat"
                required
            />
            <div class="input-group-append">
                <span class="input-group-text">
                    <i
                        *ngIf="!loader.name.isOn"
                        class="bi-question-circle"
                        ngbPopover="{{ 'sitnet_course_name' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                    ></i>
                    <span *ngIf="loader.name.isOn" class="horizontal-padding-05">
                        <span class="spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</form>
