<span [formGroup]="form">
    <label [attr.for]="question.key">{{ question.label }}</label>

    <span [ngSwitch]="question.controlType">
        <span *ngSwitchCase="'text'" [innerHTML]="question.value"></span>
        <span *ngSwitchCase="'blank'">
            <input
                style="margin: 0.5em 0 0.5em 0; border-radius: 4px;"
                class="form-input"
                [formControlName]="question.key"
                [id]="question.key"
                [size]="question.size"
                [type]="question.type"
            /> </span
        >&nbsp;
    </span>

    <div class="errorMessage" *ngIf="!isValid">{{ question.label }} is required</div>
</span>
