<div>
    <div class="p-2 mt-2">
        <img class="mr-3" src="/assets/images/icon_info.png" alt="info" />
        <strong>{{ 'sitnet_question_review_info' | translate }}</strong>
        {{ 'sitnet_question_review_info_detailed' | translate }}
    </div>

    <div *ngIf="reviews.length === 0">
        <div class="mart20">
            <h3>{{ 'sitnet_no_questions_to_review' | translate }}</h3>
        </div>
    </div>
    <div *ngIf="reviews.length > 0">
        <div class="mart20 d-flex justify-content-between">
            <div>
                <strong class="question-review-toolbar-text"
                    >{{ selectedReviews.length }} {{ 'sitnet_questions_selected' | translate }}</strong
                >
            </div>
            <div>
                <button
                    [disabled]="selectedReviews.length === 0"
                    class="btn btn-success pull-right"
                    (click)="startReview()"
                >
                    {{ 'sitnet_review_selected' | translate }} ({{ selectedReviews.length }})
                </button>
            </div>
        </div>

        <span class="mart20 marb10 d-flex justify-content-between">
            <span class="question-review-title">{{ 'sitnet_select_question_reviews' | translate }}</span>
            <span class="form-group">
                <label class="mr-2" for="select-all">{{ 'sitnet_check_uncheck_all' | translate }}</label>
                <input id="select-all" type="checkbox" (change)="selectAll()" [(ngModel)]="selectionToggle" />
            </span>
        </span>
        <div>
            <question-review *ngFor="let review of reviews" [review]="review" (selected)="onReviewSelection($event)">
            </question-review>
        </div>

        <div class="mart20 d-flex justify-content-between">
            <!-- Might make sense to make this a separate component as it is used twice here-->
            <span>
                <strong class="question-review-toolbar-text"
                    >{{ selectedReviews.length }} {{ 'sitnet_questions_selected' | translate }}</strong
                >
            </span>
            <div>
                <button [disabled]="selectedReviews.length === 0" class="btn btn-success" (click)="startReview()">
                    {{ 'sitnet_review_selected' | translate }} ({{ selectedReviews.length }})
                </button>
            </div>
        </div>
    </div>
</div>
