<!-- Active exams indications bar -->
<!-- New participants indication -->
<!--<div class="col-md-2  indicator-item">-->
    <!--<span class="fa-stack fa-lg">-->
        <!--<i class="sitnet-light-grey fa fa-square fa-stack-2x"></i>-->
        <!--<i class="sitnet-dark-grey fa fa-stack-1x">0</i>-->
    <!--</span>-->
    <!--<label class="toolbar-label">-->
        <!--<i class="sitnet-black">{{'sitnet_indication_new_participants' | translate}}</i>-->
    <!--</label>-->
<!--</div>-->

<!-- New exam answers icon and text -->
<!--<div class="col-md-2  indicator-item">-->
    <!--<span class="fa-stack fa-lg">-->
        <!--<i class="sitnet-dark-blue fa fa-square fa-stack-2x"></i>-->
        <!--<i class="sitnet-white fa fa-stack-1x">0</i>-->
    <!--</span>-->
    <!--<label class="toolbar-label">-->
        <!--<i class="sitnet-black">{{'sitnet_indication_new_answers' | translate}}</i>-->
    <!--</label>-->
<!--</div>-->

<!-- New exam comments icon and text -->
<!--<div class="col-md-2  indicator-item">-->
    <!--<span class="fa-stack fa-lg">-->
        <!--<i class="sitnet-dark-blue fa fa-square fa-stack-2x"></i>-->
        <!--<i class="sitnet-white fa fa-stack-1x">0</i>-->
    <!--</span>-->
    <!--<label class="toolbar-label">-->
        <!--<i class="sitnet-black">{{'sitnet_indication_new_feedback' | translate}}</i>-->
    <!--</label>-->
<!--</div>-->

<!-- Todo: It was unclear what actions would be under the wrench in exam listing?
<!--<div class="col-md-3 col-md-offset-6">-->
    <!--<a class="header-icon pull-right fa-stack fa-lg">-->
        <!--<i class="fa sitnet-text-light fa-stop fa-stack-2x"></i>-->
        <!--<i class="fa fa-wrench fa-stack-1x"></i>-->
    <!--</a>-->
<!--</div>-->

<div class="col-md-12 row">
    <div class="col-md-3 exams-table-title-area">
        <span ng-click="toggleActiveExams = !toggleActiveExams" class="exams-list-title-text pull-left pointer">{{ 'sitnet_active_exams' | translate }}</span>
    </div>

    <div class="col-md-9" ng-init="toggleActiveExams = true">
        <!-- href="#/rooms/{{room.id}}" -->
        <a ng-click="toggleActiveExams = !toggleActiveExams" class="header-icon pull-right fa-stack fa-lg">
            <i class="fa sitnet-white fa-stop fa-stack-2x"></i>
            <i ng-show="!toggleActiveExams" class="fa fa-chevron-left fa-stack-1x"></i>
            <i ng-show="toggleActiveExams" class="fa fa-chevron-down fa-stack-1x"></i>
        </a>
    </div>
</div>
<div class="col-md-12" ng-show="toggleActiveExams">
    <div class="exams-table-borders">
        <table class="table table-bordered exams-table">
            <thead>
            <tr>
                <th><i class="fa fa-flag"></i></th>
                <th><i class="fa fa-exclamation-triangle"></i></th>
                <th>{{ 'sitnet_examcode' | translate }}</th>
                <th>{{ 'sitnet_exam_name' | translate }}</th>
                <th>{{ 'sitnet_participation_enrolled' | translate }}</th>
                <th>{{ 'sitnet_participation_reviewed' | translate }}</th>
                <th>{{'sitnet_exam_open_until' | translate}}</th>
                <th>{{'sitnet_teachers' | translate}}</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="activeExam in reviewerExams" ng-show="beforeDate(activeExam.exam.examActiveEndDate)">
                <td class="table-column-flag"><!--<i class="sitnet-dark-blue fa fa-flag"></i>--></td>
                <td class="table-column-exclamation"><!--<i class="sitnet-red fa fa-flash"></i>--></td>
                <td class="table-column-examcode">{{ activeExam.exam.course.code }}</td>
                <td class="table-column-examname"><a href="#/exams/reviews/{{activeExam.exam.id}}">{{ activeExam.exam.name }}</a></td>
                <td class="table-column-enroll-participation">{{ activeExam.examParticipations.length }} / {{ activeExam.activeExamEnrolments.length }} <span>({{ (activeExam.examParticipations.length/activeExam.activeExamEnrolments.length)*100 | number : 2 }}%)</span></td>
                <td class="table-column-enroll-participation">{{ activeExam.examParticipationsAndReviews.length }} / {{ activeExam.examParticipations.length }} <span>({{ (activeExam.examParticipationsAndReviews.length/activeExam.examParticipations.length)*100 | number : 2 }}%)</span></td>
                <td class="table-column-open-until">{{ activeExam.exam.examActiveEndDate | date:'dd.MM.yyyy' }}</td>
                <td class="table-column-teachers">{{ activeExam.examInspections }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>