<div id="dashboard" class="container-fluid">
    <div class="header">
        <h2 class="table-heading">{{'sitnet_dashboard' | translate}}</h2>
    </div>

    <!--<span ng-controller="ExamController">-->
        <!--<a ng-click="createExam()" class="btn btn-primary btn-lg active header-button"> {{'sitnet_create_new_exam' | translate}} </a>-->
    <!--</span>-->

    <!--<span ng-controller="QuestionCtrl">-->
        <!--<div class="btn-group pull-right">-->
            <!--<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">-->
                <!--{{'sitnet_questions_new' | translate}} <span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li ng-repeat='(key, value) in questionTypes'>-->
                    <!--<a ng-click="createQuestion(key)">{{value}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</span>-->

    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                {{'sitnet_dashboard' | translate}}
            </div>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="row">
        <!-- Create new question icon and text -->
        <div class="col-md-2 toolbar-item">
            <span class="fa-stack fa-lg">
                <i class="sitnet-dark-blue fa fa-square fa-stack-2x toolbar-square"></i>
                <i class="sitnet-white fa fa-file-text-o fa-stack-1x toolbar-icon"></i>
            </span>
            <label class="toolbar-label"><a href="#/calendar" style="color: black">{{'sitnet_toolbar_new_question' | translate}}</a></label>
        </div>

        <!-- Create new exam icon and text -->
        <div class="col-md-2 toolbar-item">
            <span class="fa-stack fa-lg">
                <i class="sitnet-dark-blue fa fa-square fa-stack-2x toolbar-square"></i>
                <i class="sitnet-white fa fa-files-o fa-stack-1x toolbar-icon"></i>
            </span>
            <label class="toolbar-label">{{'sitnet_toolbar_new_exam' | translate}}</label>
        </div>

        <!-- Create new question folder icon and text -->
        <div class="col-md-2 toolbar-item">
            <span class="fa-stack fa-lg">
                <i class="sitnet-dark-blue fa fa-square fa-stack-2x toolbar-square"></i>
                <i class="sitnet-white fa fa-folder-open-o fa-stack-1x toolbar-icon"></i>
            </span>
            <label class="toolbar-label">{{'sitnet_toolbar_new_question_folder' | translate}}</label>
        </div>
    </div>


    <!-- Active exams list -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="sitnet-black exams-list-active-title">{{'sitnet_active_exams' | translate}}</h2>
        </div>
    </div>

    <!-- Table header row -->
    <div class="row" style="background-color: lightgrey; margin-left: 5em">
        <div class="col-md-1">
            <span class="fa-stack fa-lg">
                <i class="fa fa-flag fa-stack-1x"></i>
            </span>
        </div>

        <div class="col-md-1">
            <span class="fa-stack fa-lg">
                <i class="fa fa-exclamation-triangle fa-stack-1x"></i>
            </span>
        </div>

        <div class="col-md-2">
            <label style="padding-top: 0.6em">{{'sitnet_examcode' | translate}}</label>
        </div>

        <div class="col-md-4">
            <label style="padding-top: 0.6em">{{'sitnet_exam_name' | translate}}</label>
        </div>

        <div class="col-md-4">
            <label style="padding-top: 0.6em">{{'sitnet_exam_open_until' | translate}}</label>
        </div>
    </div>

    <!-- Table content row -->
    <div class="row">
        <!--href="#/exams/review/{{exam.id}}"-->
        <div class="row exam-list-row" ng-repeat="exam in allReviewedExams">
            <div class="exams-list-active-content">
                <div class="exams-list">
                    <div class="col-md-1 table-border-first-item" style="line-height: 3.2em">
                        <div class="fa-stack fa-lg">
                            <i class="sitnet-dark-blue fa fa-flag fa-stack-1x"></i>
                        </div>
                    </div>

                    <div class="col-md-1 table-border-first-item" style="line-height: 3.2em">
                        <div class="fa-stack fa-lg">
                            <i class="sitnet-red fa fa-flash fa-stack-1x"></i>
                        </div>
                    </div>

                    <div class="col-md-2 table-border-first-item">
                        <h4 class="list-group-item-heading">
                            <label style="padding-top: 0.85em">{{exam.course.code}}</label>
                        </h4>
                    </div>

                    <div class="col-md-4 table-border-first-item">
                        <h4 class="list-group-item-heading">
                            <label style="padding-top: 0.85em"><a href="#/exams/review/{{exam.id}}">{{exam.name}}</a></label>
                        </h4>
                    </div>

                    <div class="col-md-4 table-border-first-item">
                        <h4>
                            <label>{{exam.examActiveEndDate | date:'dd-MM-yyyy'}}</label>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Active exams list -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="sitnet-black exams-list-active-title">{{'sitnet_finished_exams' | translate}}</h2>
        </div>
    </div>
    <!-- Table content row -->
    <div class="row">
        <!--href="#/exams/review/{{exam.id}}"-->
        <div class="row exam-list-row" ng-repeat="exam in allReviewedExams">
            <div class="exams-list-active-content">
                <div class="exams-list">
                    <div class="col-md-1 table-border-first-item" style="line-height: 3.2em">
                        <div class="fa-stack fa-lg">
                            <i class="sitnet-dark-blue fa fa-flag fa-stack-1x"></i>
                        </div>
                    </div>

                    <div class="col-md-1 table-border-first-item" style="line-height: 3.2em">
                        <div class="fa-stack fa-lg">
                            <i class="sitnet-red fa fa-flash fa-stack-1x"></i>
                        </div>
                    </div>

                    <div class="col-md-2 table-border-first-item">
                        <h4 class="list-group-item-heading">
                            <label style="padding-top: 0.85em">{{exam.course.code}}</label>
                        </h4>
                    </div>

                    <div class="col-md-4 table-border-first-item">
                        <h4 class="list-group-item-heading">
                            <label style="padding-top: 0.85em"><a href="#/exams/review/{{exam.id}}">{{exam.name}}</a></label>
                        </h4>
                    </div>

                    <div class="col-md-4 table-border-first-item">
                        <h4>
                            <label>{{exam.examActiveEndDate | date:'dd-MM-yyyy'}}</label>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active exams list -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="sitnet-black exams-list-active-title">{{'sitnet_not_published_exams' | translate}}</h2>
        </div>
    </div>
    <!-- Table content row -->
    <div class="row">
        <!--href="#/exams/review/{{exam.id}}"-->
        <div class="row exam-list-row" ng-repeat="exam in allReviewedExams">
            <div class="exams-list-active-content">
                <div class="exams-list">
                    <div class="col-md-1 table-border-first-item" style="line-height: 3.2em">
                        <div class="fa-stack fa-lg">
                            <i class="sitnet-dark-blue fa fa-flag fa-stack-1x"></i>
                        </div>
                    </div>

                    <div class="col-md-1 table-border-first-item" style="line-height: 3.2em">
                        <div class="fa-stack fa-lg">
                            <i class="sitnet-red fa fa-flash fa-stack-1x"></i>
                        </div>
                    </div>

                    <div class="col-md-2 table-border-first-item">
                        <h4 class="list-group-item-heading">
                            <label style="padding-top: 0.85em">{{exam.course.code}}</label>
                        </h4>
                    </div>

                    <div class="col-md-4 table-border-first-item">
                        <h4 class="list-group-item-heading">
                            <label style="padding-top: 0.85em"><a href="#/exams/review/{{exam.id}}">{{exam.name}}</a></label>
                        </h4>
                    </div>

                    <div class="col-md-4 table-border-first-item">
                        <h4>
                            <label>{{exam.examActiveEndDate | date:'dd-MM-yyyy'}}</label>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>