<div id="sitnet-header" class="header">
    <div class="col-md-8 header-wrapper">
        <span class="header-text">{{'sitnet_dashboard' | translate}}</span>
    </div>
</div>
<div ng-include="dashboardToolbarPath"></div>
<div id="dashboard" class="row base">

    <div class="">
        <div ng-include="dashboardActiveExamsPath"></div>
    </div>
    <div class="">
        <div ng-include="dashboardFinishedExamsPath"></div>
    </div>
    <div class="">
        <div ng-include="dashboardReviewerExamsTemplate"></div>
    </div>
</div>




