<div id="sitnet-header" class="header">
    <h2 class="table-heading">{{'sitnet_dashboard' | translate}}</h2>
</div>
<div id="exam" class="row">
    <div class="exam-list">
        <div>
            <h2 class="sitnet-teacher-turquoise-dark-active">{{'sitnet_exams_in_review' | translate}}</h2>
            <span class="sitnet-info-text">Tentit joissa olet tarkastaja</span>

            <div class="exam-list-published">
                <a ng-repeat="exam in allReviewedExams" href="#/exams/review/{{exam.id}}" class="active-exams-list list-group-item">
                    <h4 class="list-group-item-heading">
                        <span class="">{{exam.course.code}} - {{exam.name}}</span>
                    </h4>
                    <span class="pull-right sitnet-info-text">Tarkista</span>

                    <div class="sitnet-info-text">Luonut: {{exam.creator.firstName}} {{exam.creator.lastName}}</div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>