<div id="exam">
    <div class="exam-header">
        <h2 class="table-heading">{{'sitnet_exam_review' | translate}}</h2>
    </div>

    <div class="col-md-12">
        <div class="exam-name">
            <h3>
                {{examToBeReviewed.course.code}} - {{examToBeReviewed.name}}
            </h3>
        </div>

        <div class="exam-wrapper">
            <!-- General Information -->
            <div class="exam-general-information" ng-include="generalInfoPath">
            </div>

            <div class="exam-sections">
                <div ng-include="reviewSectionPath" ng-repeat="section in examToBeReviewed.examSections"></div>
                </div>
            </div>

            <div style="margin-top: 3em">
                Tentin kokonaispisteet: {{getExamTotalScore(examToBeReviewed)}}
            </div>
        </div>
    </div>

    <div class="row" style="padding-left: 1em">
        <div class="col-md-6">
            <div class="sitnet-info-text">Tentin Arvosana:</div>
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        {{'sitnet_choose' | translate}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="grade in examGrading" ng-click="setExamGrade(grade)"><a class="pointer-hand">{{grade}}</a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="form-control" ng-model="examToBeReviewed.grade">
            </div>
        </div>
        <div ng-hide="showOtherGrading">
            <span class="pull-right fa-stack fa-lg dropdown" ng-click=""></span>
            <div class="sitnet-info-text">Aseta muu arviointikriteeri:</div>
            <h3>
                <span class="editable" ng-click="showOtherGrading = !showOtherGrading">
                    {{examToBeReviewed.otherGrading}} <i class="fa fa-pencil"></i>
                </span>
            </h3>
        </div>
        <div ng-show="showOtherGrading">
            <form class="form-inline" role="form">
                <div class="form-group" style="margin-top: 2em">
                    <input type="text" class="form-control input-lg" ng-model="examToBeReviewed.otherGrading" autofocus>
                </div>
                <button class="btn-primary" ng-click="showOtherGrading = !showOtherGrading">
                    <i class="fa fa-check"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div style="padding-left: 1em">
                <button ng-click="examReviewReady(examToBeReviewed)" class="btn btn-primary" style="margin-top: 5em">Tallenna arviointi</button>
            </div>
        </div>
    </div>
</div>