<div class="row">
    <div class="col-md-1 col-md-offset-1 sitnet-info-text-compact">{{$index + 1}}.</div>
    <div class="col-md-2 sitnet-info-text-compact">{{participation.started | date:'dd.MM.yyyy' }}</div>
    <div class="col-md-2 sitnet-info-text-compact">{{'sitnet_grade' | translate }}:</div>
    <div class="col-md-2 sitnet-info-text-compact">{{participation.exam.grade}}</div>
    <div class="col-md-2 sitnet-info-text-compact">
        <a href="http://localhost:9000/#/exams/review/{{participation.exam.id}}">Katso vastaukset</a>
    </div>
</div>
