<div class="row">
    <div class="row">
        <div class="col-md-12 sitnet-info-text-bold">{{'sitnet_student_and_exam_info' | translate}}:</div>
    </div>
    <div class="row">
        <div class="col-md-2 sitnet-info-text-compact">{{'sitnet_name' | translate}}:</div>
        <div class="col-md-4 sitnet-info-text-compact">
            <a href="mailto:{{userInfo.user.email}}">{{userInfo.user.firstName}} {{userInfo.user.lastName}}</a>
        </div>
        <div class="col-md-2 sitnet-info-text-compact">{{'sitnet_email' | translate}}:</div>
        <div class="col-md-4 sitnet-info-text-compact">{{userInfo.user.email}}</div>
    </div>
    <div class="row">
        <div class="col-md-2 sitnet-info-text-compact">{{'sitnet_time_of_exam_participation' | translate}}:</div>
        <div class="col-md-4 sitnet-info-text-compact">{{userInfo.started | date:'dd.MM.yyyy HH:mm'}} -
            {{userInfo.ended | date:'dd.MM.yyyy HH:mm'}}</div>
        <div class="col-md-2 sitnet-info-text-compact">{{'sitnet_exam_duration' | translate}}:</div>
        <div class="col-md-4 sitnet-info-text-compact">{{userInfo.duration | date:'HH:mm'}}</div>
    </div>
    <div class="row">
        <div class="col-md-12 sitnet-info-text">{{'sitnet_previous_exam_participations' | translate}}:</div>
     </div>
     <div ng-hide="previousParticipations" class="col-md-1 col-md-offset-1 sitnet-info-text-compact">N/A</div>
     <div ng-include="previousParticipationPath" ng-repeat="participation in previousParticipations"></div>
</div>

<div class="row">
    <div class="sitnet-info-text-bold">{{'sitnet_exam_instruction' | translate}}:</div>
    <div class="sitnet-info-text-compact">
        <p mathjax ng-bind-html="examToBeReviewed.instruction"></p>
    </div>
</div>

<div class="row" ng-controller="AttachmentController">
    <div class="sitnet-info-text-bold">{{'sitnet_exam_attacment' | translate}}:</div>
    <div class="sitnet-info-text-compact" ng-hide="examToBeReviewed.attachment">N/A</div>
    <div class="sitnet-info-text-compact" ng-show="examToBeReviewed.attachment">
        <a class="pointer" ng-click="downloadExamAttachment(examToBeReviewed)">{{examToBeReviewed.attachment.fileName}}</a>
    </div>
</div>
