<div class="row">
    <div class="col-md-3 exams-table-title-area">
        <span class="exams-list-title-text pull-left">Tentit joissa olet tarkastajana</span>
        <!--<span class="exams-list-title-text pull-left">{{ 'sitnet_not_published_exams' | translate }}</span>-->
    </div>

    <div class="col-md-9">
        <!-- href="#/rooms/{{room.id}}" -->
        <a ng-click="toggleUnpublishedExams = !toggleUnpublishedExams" class="header-icon pull-right fa-stack fa-lg">
            <i class="fa sitnet-white    fa-stop fa-stack-2x"></i>
            <i ng-show="toggleUnpublishedExams" class="fa fa-chevron-left fa-stack-1x"></i>
            <i ng-show="!toggleUnpublishedExams" class="fa fa-chevron-down fa-stack-1x"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="exams-list col-md-12">
        <div class="exams-table-borders col-md-12">
            <table class="table table-bordered exams-table">
                <thead>
                    <tr>
                        <th class="table-column-flag"><i class="fa fa-flag"></i></th>
                        <th class="table-column-exclamation"><i class="fa fa-exclamation-triangle"></i></th>
                        <th class="table-column-examcode">{{'sitnet_examcode' | translate}}</th>
                        <th class="table-column-examname">{{'sitnet_exam_name' | translate}}</th>
                        <th class="table-column-open-until">{{'sitnet_exam_active_time' | translate}}</th>
                    </tr>
                </thead>

                <tbody ng-show="!toggleUnpublishedExams">
                    <tr ng-repeat="reviewerExam in reviewerExams">
                        <td><!--<i class="sitnet-dark-blue fa fa-flag"></i>--></td>
                        <td><!--<i class="sitnet-red fa fa-flash"></i>--></td>
                        <td>{{unPublishedExam.course.code}}</td>
                        <td><a href="#/exams/reviews/{{reviewerExam.parent.id}}">{{reviewerExam.name}}</a></td>
                        <td>{{reviewerExam.examActiveStartDate | date:'dd.MM.yyyy'}} - {{reviewerExam.examActiveEndDate | date:'dd.MM.yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>