<div id="dashboard" class="container-fluid">

    <div class="col-md-12  exams-table-title-area">
        <span class="exams-list-title-text pull-left">{{'sitnet_exams_to_be_reviewed' | translate}} </span>
    </div>

    <!--Odottaa tarkastusta-->
    <div class="row base">
        <div class="col-md-12  exams-table-title-area">
            <span class="exams-list-title-text pull-left">{{'sitnet_exams_to_be_reviewed' | translate}} </span>
        </div>
        <div class="exams-list col-md-12">
            <div class="exams-table-borders">
                <table class="table table-bordered exams-table">
                    <thead>
                        <tr>
                            <th><i class="fa fa-flag"></i></th>
                            <th><i class="fa fa-exclamation-triangle"></i></th>
                            <th>{{ 'sitnet_examcode' | translate }}</th>
                            <th>{{ 'sitnet_exam_name' | translate }}</th>
                            <th>Tentin tila</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="examReview in examReviews | filter: byState('REVIEW')">
                            <td><!--<i class="sitnet-dark-blue fa fa-flag"></i>--></td>
                            <td><!--<i class="sitnet-red fa fa-flash"></i>--></td>
                            <td>{{examReview.exam.course.code}}</td>
                            <td><a href="#/exams/review/{{examReview.exam.id}}">{{examReview.exam.name}}</a></td>
                            <td>{{examReview.exam.examActiveStartDate | date:'dd.MM.yyyy'}} - {{examReview.exam.examActiveEndDate | date:'dd.MM.yyyy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!--Tarkastettu-->
    <div class="row base">
        <div class="exams-list col-md-12">
            <div class="exams-table-borders">
                <table class="table table-bordered exams-table">
                    <thead>
                    <tr>
                        <th><i class="fa fa-flag"></i></th>
                        <th><i class="fa fa-exclamation-triangle"></i></th>
                        <th>{{ 'sitnet_examcode' | translate }}</th>
                        <th>{{ 'sitnet_exam_name' | translate }}</th>
                        <th>{{ 'sitnet_student' | translate }}</th>
                        <th>{{ 'sitnet_grade' | translate }}</th>
                        <th>{{ 'sitnet_graded' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="examReview in examReviews | filter: byState('GRADED')">
                        <td><!--<i class="sitnet-dark-blue fa fa-flag"></i>--></td>
                        <td><!--<i class="sitnet-red fa fa-flash"></i>--></td>
                        <td>{{examReview.exam.course.code}}</td>
                        <td><a href="#/exams/review/{{examReview.exam.id}}">{{examReview.exam.name}}</a></td>
                        <td><a href="mailto:{{examReview.user.email}}">{{examReview.user.firstName}} {{examReview.user.lastName}}</a></td>
                        <td>{{examReview.exam.grade}}</td>
                        <td>{{examReview.exam.gradedTime | date:'dd.MM.yyyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>