<!-- Included from review_multiplechoice_question.html -->
    <td>{{$index + 1}}</td>
    <td><i class="fa fa-2x fa-list-ul"></i></td>
    <td>
        <span ng-bind-html="question.question">{{question.question}}</span>
        <div ng-show="question.attachment" class="col-md-6" ng-controller="AttachmentController">
            {{'sitnet_question_attachment' | translate}}
            <a class="pointer" ng-click="downloadQuestionAttachment(question)">{{question.attachment.fileName}}</a>
        </div>
    </td>
    <!--<td><span ng-repeat="option in question.options | filter: {correctOption: true}">{{option.option}}</span></td>-->
    <td>{{question.evaluationCriterias}}</td>
    <td>
        <span>{{question.answer.option.option}}</span>
        <div ng-show="question.answer.attachment" class="col-md-6" ng-controller="AttachmentController">
            {{'sitnet_answer_attachment' | translate}}
            <a class="pointer" ng-click="downloadQuestionAnswerAttachment(question, examToBeReviewed.hash)">{{question.answer.attachment.fileName}}</a>
        </div>
    </td>
    <td>{{scoreMultipleChoiceAnswer(question)}} / {{question.maxScore}}</td>
