<div class="modal-header">
    <h4 class="modal-title">{{ 'sitnet_student_enrolment_info' | translate }}</h4>
</div>
<div class="modal-body">
    <form role="form" id="infoForm" name="infoForm" novalidate>
        {{ 'sitnet_student_enrolment_info_description' | translate }}
        <textarea
            name="info"
            aria-label="write additional information for the examiner"
            rows="10"
            class="mart10 student-message-dialog-textarea"
            [(ngModel)]="information"
        >
        </textarea>
    </form>
</div>
<div class="modal-footer">
    <div class="student-message-dialog-button-save">
        <button class="btn btn-sm btn-primary" (click)="ok()">
            {{ 'sitnet_button_save' | translate }}
        </button>
    </div>
    <div class="student-message-dialog-button-cancel">
        <button class="btn btn-sm btn-danger pull-left" (click)="cancel()">
            {{ 'sitnet_button_cancel' | translate }}
        </button>
    </div>
</div>
