<!-- SECTIONS AREA -->
<div class="row top-margin-7 bottom-padding-2 pe-4">
    <!-- USERNAME -->
    <div class="col-md-12 ms-2 right-column-box">
        <div class="info-column bot-border">
            <img
                src="/assets/images/icon_user.svg"
                alt=""
                onerror="this.onerror=null;this.src='/assets/images/icon_user.png';"
            /><span class="user-span">{{ displayUser() }}</span>
        </div>
    </div>
</div>
<!-- RETURN -->
<div class="row" [hidden]="isPreview">
    <div class="col-md-12 ms-2">
        <button class="green_button save-and-exit" (click)="turnExam()">
            {{ 'sitnet_save_and_return_exam' | translate }}
        </button>
    </div>
</div>

<!-- ABORT -->
<div class="row mt-3" [hidden]="isPreview">
    <div class="col-md-12 ms-2 mt-3">
        <button class="grey-button abort-and-exit text-nowrap" (click)="abortExam()">
            <img
                src="/assets/images/icon_exit.svg"
                alt=""
                onerror="this.onerror=null;this.src='/assets/images/icon_exit.png';"
            /><span class="ps-2 abort-and-exit">{{ 'sitnet_abort_exam' | translate }}</span>
        </button>
    </div>
</div>

<!-- COURSE NAME -->
<div class="row">
    <div class="col-md-12">
        <div class="more-separators"></div>
    </div>
</div>
<div class="row" *ngIf="exam.course">
    <div class="col-md-12 ms-3">
        <div class="right-title">{{ exam.course.name }}</div>
    </div>
</div>

<!-- ATTACHMENT -->
<div class="row ms-3 mt-3 align-items-center" [hidden]="!exam.attachment">
    <button
        class="pointer attachment-button green_button text-nowrap"
        [title]="exam.attachment?.fileName"
        (click)="downloadExamAttachment()"
    >
        {{ 'sitnet_exam_attachment' | translate }}
        <img
            src="/assets/images/icon_attachment.svg"
            alt="attachment"
            onerror="this.onerror=null;this.src='/assets/images/icon_attachment.png';"
        />
    </button>
    <div class="attachment-name ps-1" [title]="exam.attachment?.fileName">
        {{ exam.attachment?.fileName | uppercase | slice : 0 : 50 }}
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <ul class="list-muted">
            <li
                class="row align-items-center phase-box"
                [ngClass]="!activeSection ? '' : 'notactive'"
                (click)="selectGuidePage()"
                (keydown.enter)="selectGuidePage()"
            >
                <button class="col-md-12 btn btn-outline-secondary w-auto">
                    {{ 'sitnet_exam_guide' | translate }}
                </button>
                <a
                    class="skip"
                    id="skip-button-instructions"
                    [href]="getSkipLinkPath('#examination-section')"
                    [hidden]="!!activeSection"
                >
                    {{ 'sitnet_skip_to_content' | translate }}
                </a>
            </li>

            <li
                class="row d-flex align-items-center phase-box"
                *ngFor="let section of exam.examSections | orderBy : 'sequenceNumber'; let i = index"
                [ngClass]="activeSection?.sequenceNumber === i ? '' : 'notactive'"
                ngbPopover="{{ section.name }}: {{ 'sitnet_question_status_answered' | translate }}
                 {{ getQuestionAmount(section, 'answered') }}, {{ 'sitnet_questions_total' | translate }}
                 {{ getQuestionAmount(section, 'total') }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
            >
                <div class="me-3">
                    <div
                        class="question-type-img-wrap"
                        *ngIf="getQuestionAmount(section, 'answered') === getQuestionAmount(section, 'total')"
                    >
                        <img
                            src="/assets/images/icon_question_type_ready_grey.png"
                            alt="{{ 'sitnet_all_questions_answered' | translate }}"
                            onerror="this.onerror=null;this.src='/assets/images/icon_question_type_ready_grey.png';"
                        />
                    </div>
                    <div
                        class="question-type-img-wrap"
                        *ngIf="getQuestionAmount(section, 'answered') !== getQuestionAmount(section, 'total')"
                    >
                        <img
                            src="/assets/images/icon_question_type_waiting.svg"
                            alt="{{ 'sitnet_unanswered_questions_remain' | translate }}"
                            onerror="this.onerror=null;this.src='/assets/images/icon_question_type_waiting.png';"
                        />
                    </div>
                </div>
                <div class="flex-grow">
                    <span [ngClass]="activeSection?.sequenceNumber === i ? 'sitnet-text' : 'sitnet-text-dark'">
                        {{ i + 1 }}. {{ section.name }}
                    </span>
                </div>
                <div class="flex justify-content-between">
                    <span class="section-answered">
                        {{ 'sitnet_number_of_answered_questions' | translate }}
                        {{ getQuestionAmount(section, 'answered') }}
                        <span class="horizontal-padding-05"> / </span>
                        {{ getQuestionAmount(section, 'total') }}
                    </span>
                    <button
                        class="w-auto btn btn-outline-secondary"
                        (click)="selectSection(section)"
                        (keydown.enter)="selectSection(section)"
                        [attr.aria-current]="activeSection?.sequenceNumber === i"
                    >
                        {{ 'sitnet_select_exam_section' | translate }} {{ i + 1 }}.
                    </button>
                    <a
                        class="skip"
                        id="skip-button"
                        [href]="getSkipLinkPath('#examination-section')"
                        [hidden]="activeSection?.sequenceNumber !== i"
                    >
                        {{ 'sitnet_skip_to_content' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- INSTRUCTIONS -->
<div class="row" [hidden]="!room || exam.executionType.type === 'MATURITY'">
    <div class="col-md-12">
        <button
            type="button"
            role="note"
            class="row pointer d-flex align-items-center m-0 border-none background-none"
            ngbPopover="{{ displayRoomInstructions() }}"
            popoverTitle="{{ 'sitnet_instructions' | translate }}"
        >
            <div class="me-2">
                <img src="/assets/images/icon_info.svg" alt="" />
            </div>
            <div class="question-text question-type-text info">
                {{ 'sitnet_room_guidance' | translate }}
            </div>
        </button>
    </div>
</div>

<!-- MATURITY INSTRUCTIONS -->
<div class="row">
    <button class="col-md-12" (click)="showMaturityInstructions()" [hidden]="exam.executionType.type !== 'MATURITY'">
        <div class="row pointer d-flex align-items-center m-0" role="note">
            <a class="me-2">
                <img
                    src="/assets/images/icon_info.svg"
                    alt=""
                    onerror="this.onerror=null;this.src='/assets/images/icon_info.png';"
                />
            </a>
            <div class="col question-text question-type-text info">
                {{ 'sitnet_maturity_instructions' | translate }}
            </div>
        </div>
    </button>
</div>
<div class="row" [hidden]="!isPreview">
    <div class="col-md-12">
        <button
            tabindex="0"
            class="row pointer d-flex align-items-center m-0"
            (click)="exitPreview()"
            (keydown.enter)="exitPreview()"
        >
            <a class="me-2">
                <img src="/assets/images/icon_info.svg" alt="" />
            </a>
            <div class="question-text question-type-text info">
                {{ 'sitnet_exit_preview' | translate }}
            </div>
        </button>
    </div>
</div>
