@import '../../shared/shared';

.right-column-box {
    border: 2px solid #ededed;
    border-radius: 4px;

    .user-span {
        font-size: 18px;
        color: #2c2c2c;
        padding-left: 15px;
        vertical-align: middle;
    }

    .abort-and-exit {
        padding-left: 15px;
        vertical-align: middle;
    }

    a.abort-and-exit {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .button-separator {
        margin-top: 10px;
    }
}

.phase-box {
    border-radius: 4px;
    border: 2px solid #ededed;
    border-left: $exam-medium-green 4px solid;
    padding: 10px;
    &.notactive {
        border-left: #b1b1b1 4px solid;
    }
}

.phase-box:hover {
    border-left: $exam-medium-green 4px solid;
}

.right-title {
    color: #2c2c2c;
    font-size: 20px;
    padding-left: 15px;
}
