<!-- SECTIONS AREA -->
<div class="row top-margin-7 bottom-padding-2 pr-4">
    <!-- USERNAME -->
    <div class="col-md-12 ml-2 right-column-box">
        <div class="info-column bot-border">
            <img
                src="/assets/images/icon_user.svg"
                alt="user info"
                onerror="this.onerror=null;this.src='/assets/images/icon_user.png';"
            /><span class="user-span">{{ displayUser() }}</span>
        </div>
    </div>
</div>
<!-- RETURN -->
<div class="row" [hidden]="isPreview">
    <div class="col-md-12 ml-2">
        <button class="green_button save-and-exit" (click)="turnExam()">
            {{ 'sitnet_save_and_return_exam' | translate }}
        </button>
    </div>
</div>

<!-- ABORT -->
<div class="row mt-3" [hidden]="isPreview">
    <div class="col-md-12 ml-2 mt-3">
        <button class="grey-button abort-and-exit text-nowrap" (click)="abortExam()">
            <img
                src="/assets/images/icon_exit.svg"
                alt="abort exam"
                onerror="this.onerror=null;this.src='/assets/images/icon_exit.png';"
            /><span class="pl-2 abort-and-exit">{{ 'sitnet_abort_exam' | translate }}</span>
        </button>
    </div>
</div>

<!-- COURSE NAME -->
<div class="row">
    <div class="col-md-12">
        <div class="more-separators"></div>
    </div>
</div>
<div class="row" *ngIf="exam.course">
    <div class="col-md-12 ml-3">
        <div class="right-title">{{ exam.course.name }}</div>
    </div>
</div>

<!-- ATTACHMENT -->
<div class="row ml-3 mt-3 align-items-center overflow-hidden flex-nowrap" [hidden]="!exam.attachment">
    <button
        class="pointer attachment-button green_button text-nowrap"
        [title]="exam.attachment?.fileName"
        tabindex="0"
        (click)="downloadExamAttachment()"
    >
        {{ 'sitnet_exam_attachment' | translate }}
        <img
            src="/assets/images/icon_attachment.svg"
            alt="attachment"
            onerror="this.onerror=null;this.src='/assets/images/icon_attachment.png';"
        />
    </button>
    <div class="attachment-name pl-1" [title]="exam.attachment?.fileName">
        {{ exam.attachment?.fileName | uppercase }}
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <ul class="list-muted">
            <li
                tabindex="1"
                class="row align-items-center pointer phase-box"
                [ngClass]="!activeSection ? '' : 'notactive'"
                (click)="selectGuidePage()"
                (keydown.enter)="selectGuidePage()"
            >
                <div class="col-md-12">{{ 'sitnet_exam_guide' | translate }}</div>
            </li>

            <li
                tabindex="1"
                class="row d-flex align-items-center pointer phase-box"
                *ngFor="let section of exam.examSections | orderBy: 'sequenceNumber'; let i = index"
                [ngClass]="activeSection?.sequenceNumber === i ? '' : 'notactive'"
                (click)="selectSection(section)"
                (keydown.enter)="selectSection(section)"
                ngbPopover="{{ section.name }}: {{ 'sitnet_question_status_answered' | translate }}
                 {{ getQuestionAmount(section, 'answered') }}, {{ 'sitnet_questions_total' | translate }}
                 {{ getQuestionAmount(section, 'total') }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
            >
                <div class="mr-3">
                    <div
                        class="question-type-img-wrap"
                        *ngIf="getQuestionAmount(section, 'answered') === getQuestionAmount(section, 'total')"
                    >
                        <img
                            src="/assets/images/icon_question_type_ready_grey.png"
                            alt="all questions answered"
                            onerror="this.onerror=null;this.src='/assets/images/icon_question_type_ready_grey.png';"
                        />
                    </div>
                    <div
                        class="question-type-img-wrap"
                        *ngIf="getQuestionAmount(section, 'answered') !== getQuestionAmount(section, 'total')"
                    >
                        <img
                            src="/assets/images/icon_question_type_waiting.svg"
                            alt="unanswered questions remain"
                            onerror="this.onerror=null;this.src='/assets/images/icon_question_type_waiting.png';"
                        />
                    </div>
                </div>
                <div class="flex-grow">
                    <span [ngClass]="activeSection?.sequenceNumber === i ? 'sitnet-text' : 'sitnet-text-dark'">
                        {{ i + 1 }}. {{ section.name }}
                    </span>
                </div>
                <div>
                    <span class="section-answered">
                        {{ getQuestionAmount(section, 'answered') }}
                        <span class="horizontal-padding-05"> / </span>
                        {{ getQuestionAmount(section, 'total') }}
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- INSTRUCTIONS -->
<div class="row" [hidden]="!room || exam.executionType.type === 'MATURITY'">
    <div class="col-md-12">
        <div
            tabindex="0"
            class="row pointer d-flex align-items-center m-0"
            ngbPopover="{{ displayRoomInstructions() }}"
            popoverTitle="{{ 'sitnet_instructions' | translate }}"
            triggers="mouseenter:mouseleave"
        >
            <a class="mr-2">
                <img
                    src="/assets/images/icon_info.svg"
                    alt="room guidance"
                    onerror="this.onerror=null;this.src='/assets/images/icon_info.png';"
                />
            </a>
            <div class="question-text question-type-text info">
                {{ 'sitnet_room_guidance' | translate }}
            </div>
        </div>
    </div>
</div>

<!-- MATURITY INSTRUCTIONS -->
<div class="row">
    <button
        class="col-md-12"
        tabindex="0"
        (click)="showMaturityInstructions()"
        [hidden]="exam.executionType.type !== 'MATURITY'"
    >
        <div class="row pointer d-flex align-items-center m-0">
            <a class="mr-2">
                <img
                    src="/assets/images/icon_info.svg"
                    alt="maturity instructions"
                    onerror="this.onerror=null;this.src='/assets/images/icon_info.png';"
                />
            </a>
            <div class="col question-text question-type-text info">
                {{ 'sitnet_maturity_instructions' | translate }}
            </div>
        </div>
    </button>
</div>
<div class="row" [hidden]="!isPreview">
    <div class="col-md-12">
        <button tabindex="0" class="row pointer d-flex align-items-center m-0" (click)="exitPreview()">
            <a class="mr-2">
                <img
                    src="/assets/images/icon_info.svg"
                    alt="exit preview"
                    onerror="this.onerror=null;this.src='/assets/images/icon_info.png';"
                />
            </a>
            <div class="question-text question-type-text info">
                {{ 'sitnet_exit_preview' | translate }}
            </div>
        </button>
    </div>
</div>
