<div id="exam-print" *ngIf="exam" class="py-3">
    <div class="row">
        <div class="col-md-12">
            <h3>
                <course-code *ngIf="exam.course" [course]="exam.course"></course-code> - {{ exam.name }},
                <small>{{ exam.course.credits }} op</small>
            </h3>
        </div>
    </div>

    <!-- General Information -->
    <div class="row mt-3">
        <div class="col-md-12">
            <h4>
                {{ 'sitnet_student_and_exam_info' | translate }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <strong>{{ 'sitnet_name' | translate }}:</strong>
        </div>
        <div class="col-md-4">{{ student?.firstName }} {{ student?.lastName }}</div>
        <div class="col-md-2">
            <strong>{{ 'sitnet_email' | translate }}:</strong>
        </div>
        <div class="col-md-4">{{ student?.email }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <strong>{{ 'sitnet_time_of_exam_participation' | translate }}:</strong>
        </div>
        <div class="col-md-4">
            {{ participation.started | applyDst | date: 'dd.MM.yyyy HH:mm' }} -
            {{ participation.ended | applyDst | date: 'dd.MM.yyyy HH:mm' }}
        </div>
        <div class="col-md-2">
            <strong>{{ 'sitnet_exam_duration' | translate }}:</strong>
        </div>
        <div class="col-md-4">{{ participation.duration | date: 'HH:mm' }}</div>
    </div>
    <div class="row" *ngIf="enrolment.information">
        <div class="col-md-2">
            <strong>{{ 'sitnet_student_enrolment_info' | translate }}:</strong>
        </div>
        <div class="col-md-10">{{ enrolment.information }}</div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <strong>{{ 'sitnet_examination_location' | translate }}:</strong>
        </div>
        <div class="col-md-4" *ngIf="reservation?.machine?.room">
            {{ reservation.machine.room.name }} ({{ reservation.machine.room.roomCode }})
        </div>
        <div class="col-md-4" *ngIf="!reservation?.machine.room">N/A</div>
        <div class="col-md-2">
            <strong>{{ 'sitnet_exam_machine' | translate }}:</strong>
        </div>
        <div class="col-md-4" *ngIf="reservation?.machine">{{ reservation.machine.name }}</div>
        <div class="col-md-4" *ngIf="!reservation?.machine">N/A</div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <h4>
                {{ 'sitnet_previous_exam_participations' | translate }}
            </h4>
        </div>
    </div>
    <div class="row" *ngFor="let participation of previousParticipations">
        <div class="col-md-2">{{ participation.started | applyDst | date: 'dd.MM.yyyy' }}</div>
        <div class="col-md-4">
            <strong>{{ 'sitnet_exam_state' | translate }}:</strong>&nbsp;&nbsp;&nbsp;
            {{ translateState(participation) | lowercase | translate }}
        </div>
        <div class="col-md-6">
            {{ 'sitnet_grade' | translate }}:&nbsp;&nbsp;&nbsp;{{ translateGrade(participation) }}
        </div>
    </div>
    <div class="row" [hidden]="previousParticipations && previousParticipations.length > 0">
        <div class="col-md-12">N/A</div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <h4>
                {{ 'sitnet_exam_instruction' | translate }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" [hidden]="exam.instruction">N/A</div>
        <div class="col-md-12" *ngIf="exam.instruction">
            <div [MathJax]="exam.instruction"></div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <h4>
                {{ 'sitnet_exam_attachment' | translate }}
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" [hidden]="exam.attachment">N/A</div>
        <div class="col-md-12" *ngIf="exam.attachment">
            {{ exam.attachment.fileName }}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <h4>
                {{ 'sitnet_questions' | translate }}
            </h4>
        </div>
    </div>

    <!-- Sections -->
    <div class="row firefox-print-fix">
        <div
            class="top-margin-1 col-md-12"
            *ngFor="let section of exam.examSections | orderBy: 'sequenceNumber'; let index = index"
        >
            <printed-section [section]="section" [index]="index"></printed-section>
        </div>
    </div>

    <!-- Grading -->
    <div class="row firefox-print-fix mt-3">
        <div class="col-md-12">
            <h4>
                {{ 'sitnet_comments' | translate }}
            </h4>
        </div>
    </div>
    <!-- Total score -->
    <div class="row firefox-print-fix">
        <div class="col-md-3">
            <strong>{{ 'sitnet_total_score' | translate }}:</strong>
        </div>
        <div class="col-md-9">{{ getExamTotalScore() }} / {{ getExamMaxPossibleScore() }}</div>
    </div>

    <div class="row firefox-print-fix" *ngIf="questionSummary.accepted > 0">
        <div class="col-md-3">
            <strong>{{ 'sitnet_approved' | translate }}:</strong>
        </div>
        <div class="col-md-9">{{ questionSummary.accepted }}</div>
    </div>

    <div class="row firefox-print-fix" *ngIf="questionSummary.rejected > 0">
        <div class="col-md-3">
            <strong>{{ 'sitnet_rejected' | translate }}:</strong>
        </div>
        <div class="col-md-9">{{ questionSummary.rejected }}</div>
    </div>

    <div class="row firefox-print-fix">
        <div class="col-md-3">
            <strong>{{ 'sitnet_teachers_comment' | translate }}:</strong>
        </div>
        <div class="col-md-9" [MathJax]="exam.examFeedback?.comment"></div>
    </div>
    <div class="row firefox-print-fix" *ngIf="exam.examFeedback?.attachment">
        <div class="col-md-3">
            <strong>{{ 'sitnet_feedback_attachment' | translate }}:</strong>
        </div>
        <div class="col-md-9" *ngIf="exam.examFeedback?.attachment">
            {{ exam.examFeedback.attachment?.fileName }}
        </div>
    </div>

    <div *ngIf="getTeacherCount() > 0">
        <div class="row firefox-print-fix">
            <div class="col-md-3">
                <strong>{{ 'sitnet_exam_owners' | translate }}:</strong>
            </div>
            <div class="col-md-9">
                <span *ngFor="let teacher of exam.parent.examOwners; let isLast = last">
                    {{ teacher.firstName }} {{ teacher.lastName }}<span *ngIf="!isLast">,&nbsp;</span>
                </span>
            </div>
        </div>
        <div class="row firefox-print-fix">
            <div class="col-md-3">
                <strong
                    >{{ 'sitnet_exam_instructor' | translate }} ({{ 'sitnet_inspection_status' | translate }}):</strong
                >
            </div>
            <div class="col-md-9">
                <span *ngFor="let inspection of exam.examInspections; let isLast = last">
                    <span>{{ inspection.user.firstName }} {{ inspection.user.lastName }}</span>
                    <span *ngIf="inspection.ready">({{ 'sitnet_ready' | translate }})</span>
                    <span *ngIf="!inspection.ready">({{ 'sitnet_in_progress' | translate }})</span>
                    <span *ngIf="!isLast">,&nbsp;</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row firefox-print-fix mt-3">
        <div class="col-md-12">
            <h4>
                {{ 'sitnet_grading_info' | translate }}
            </h4>
        </div>
    </div>
    <div class="row firefox-print-fix">
        <div class="col-md-3">
            <strong>{{ 'sitnet_exam_grade' | translate }}:</strong>
        </div>
        <div class="col-md-9">{{ getGrade() }}</div>
    </div>
    <div class="row firefox-print-fix">
        <div class="col-md-3">
            <strong>{{ 'sitnet_exam_choose_credit_type' | translate }}:</strong>
        </div>
        <div class="col-md-9">{{ getCreditType() }}</div>
    </div>
    <div class="row firefox-print-fix">
        <div class="col-md-3">
            <strong>{{ 'sitnet_exam_record_language' | translate }}:</strong>
        </div>
        <div class="col-md-9">{{ getLanguage() }}</div>
    </div>
    <div class="row firefox-print-fix">
        <div class="col-md-3">
            <strong>{{ 'sitnet_exam_credit' | translate }} (op):</strong>
        </div>
        <div class="col-md-9">
            {{ exam.customCredit || exam.course.credits }}
        </div>
    </div>
</div>
