@import '../definitions.scss';
.paginator {
    list-style: none;
    margin: 15px;
    justify-content: center;

    .disabled {
        display: none;
    }
    .active {
        a {
            color: white;
            background: $exam-medium-green;
            border-radius: 50%;
        }
    }

    li {
        display: inline-block;
        padding: 5px;
    
        a,
        a:focus {
            text-decoration: none;
            padding: 8px;
            color: black;
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
        a:hover {
            color: white;
            background: $exam-medium-green;
            border-radius: 50%;
        }
    }
    
}
