<div class="row ms-3 mt-3">
    <div class="col-md-2">{{ 'i18n_name' | translate }}:</div>
    <div class="col-md-4">
        {{ studentName }}
        @if (student?.userIdentifier) {
            <span>&nbsp;({{ student?.userIdentifier }})</span>
        }
    </div>
    <div class="col-md-2">{{ 'i18n_email' | translate }}:</div>
    <div class="col-md-4 xm-link">
        @if (student?.email) {
            <a href="mailto:{{ student?.email }}">{{ student?.email }}</a>
        }
    </div>
</div>
<div class="row ms-3">
    <div class="col-md-2">{{ 'i18n_exam_reservation' | translate }}:</div>
    @if (!participation.examinationEvent) {
        <div class="col-md-4">
            {{ participation.started | applyDst | date: 'dd.MM.yyyy HH:mm' }} -
            {{ participation.ended | applyDst | date: 'HH:mm' }}
        </div>
    }
    @if (participation.examinationEvent) {
        <div class="col-md-4">
            {{ participation.started | date: 'dd.MM.yyyy HH:mm' }} - {{ participation.ended | date: 'HH:mm' }}
        </div>
    }
    <div class="col-md-2">{{ 'i18n_time_of_exam_participation' | translate }}:</div>
    <div class="col-md-4">{{ participation.duration | date: 'HH:mm' : 'UTC' }}</div>
</div>
@if (enrolment?.information) {
    <div class="row ms-3">
        <div class="col-md-2">{{ 'i18n_student_enrolment_info' | translate }}:</div>
        <div class="col-md-10">{{ enrolment?.information }}</div>
    </div>
}
@if (reservation) {
    <div class="row ms-3">
        <div class="col-md-2">{{ 'i18n_examination_location' | translate }}:</div>
        @if (reservation.machine?.room) {
            <div class="col-md-4">{{ reservation.machine.room.name }} ({{ reservation.machine.room.roomCode }})</div>
        }
        @if (!reservation?.machine?.room) {
            <div class="col-md-4">N/A</div>
        }
        <div class="col-md-2">{{ 'i18n_exam_machine' | translate }}:</div>
        @if (reservation?.machine) {
            <div class="col-md-4">
                {{ reservation.machine.name }}
            </div>
        }
        @if (!reservation?.machine) {
            <div class="col-md-4">N/A</div>
        }
    </div>
}
@if (enrolment?.examinationEventConfiguration) {
    <div class="row ms-3">
        <div class="col-md-2">{{ 'i18n_examination_event' | translate }}:</div>
        <div class="col-md-4">
            {{ enrolment?.examinationEventConfiguration?.examinationEvent?.start | date }}
        </div>
        <div class="col-md-2">{{ 'i18n_instructions' | translate }}:</div>
        <div class="col-md-4">
            {{ enrolment?.examinationEventConfiguration?.examinationEvent?.description }}
        </div>
    </div>
}
@if (participations.length === 0 && noShows.length === 0) {
    <div class="row ms-3 mt-2">
        <div class="col-md-2">{{ 'i18n_previous_exam_participations' | translate }}:</div>
        <div class="col-md-10">
            {{ 'i18n_exam_no_previous_participations' | translate }}
        </div>
    </div>
}
@if (participations.length > 0 || noShows.length > 0) {
    <div class="row ms-3 mt-2">
        <div class="col-md-12">{{ 'i18n_previous_exam_participations' | translate }}:</div>
    </div>
}
@for (participation of participations; track participation) {
    <div [hidden]="participations.length === 0">
        <xm-r-participation
            class="row ms-3"
            [participation]="participation"
            [collaborative]="collaborative"
        ></xm-r-participation>
    </div>
}
@for (noShow of noShows; track noShow) {
    <div [hidden]="noShows.length === 0">
        <xm-r-no-show class="row ms-3" [enrolment]="noShow" [collaborative]="collaborative"></xm-r-no-show>
    </div>
}

@if (exam.instruction) {
    <div class="row ms-3 mt-3">
        <div class="col-md-2" role="note">
            <img src="/assets/images/icon_info.svg" alt="" />
            <span class="ps-2 notice-text">{{ 'i18n_exam_instruction' | translate }}:</span>
        </div>
        <div class="col-md-10">
            <p [xmMathJax]="exam.instruction"></p>
        </div>
    </div>
}
@if (exam.attachment) {
    <div class="row ms-3 mt-3">
        <div class="col-md-2">{{ 'i18n_exam_attachment' | translate }}:</div>
        <div class="col-md-10 xm-link">
            <a class="pointer" (click)="downloadExamAttachment()">{{ exam.attachment?.fileName }}</a>
        </div>
    </div>
}
