<div class="pad30 marl20">
    <div class="detail-row marb20">
        <div class="col-md-2 general-info-title">{{ 'sitnet_name' | translate }}:</div>
        <div class="col-md-4 general-info-content">
            {{ studentName }}
            <span *ngIf="student?.userIdentifier">&nbsp;({{ student?.userIdentifier }})</span>
        </div>
        <div class="col-md-2 general-info-title">{{ 'sitnet_email' | translate }}:</div>
        <div class="col-md-4 general-info-link">
            <a *ngIf="student?.email" href="mailto:{{ student?.email }}">{{ student?.email }}</a>
        </div>
    </div>
    <div class="detail-row marb20">
        <div class="col-md-2 general-info-title">{{ 'sitnet_exam_reservation' | translate }}:</div>
        <div *ngIf="!participation.examinationEvent" class="col-md-4 general-info-content">
            {{ participation.started | applyDst | date: 'dd.MM.yyyy HH:mm' }} -
            {{ participation.ended | applyDst | date: 'HH:mm' }}
        </div>
        <div *ngIf="participation.examinationEvent" class="col-md-4 general-info-content">
            {{ participation.started | date: 'dd.MM.yyyy HH:mm' }} - {{ participation.ended | date: 'HH:mm' }}
        </div>
        <div class="col-md-2 general-info-title">{{ 'sitnet_time_of_exam_participation' | translate }}:</div>
        <div class="col-md-4 general-info-content">{{ participation.duration | date: 'HH:mm':'UTC' }}</div>
    </div>
    <div class="detail-row marb20" *ngIf="enrolment?.information">
        <div class="col-md-2 general-info-title">{{ 'sitnet_student_enrolment_info' | translate }}:</div>
        <div class="col-md-10 general-info-content">{{ enrolment?.information }}</div>
    </div>
    <div class="detail-row marb20" *ngIf="reservation">
        <div class="col-md-2 general-info-title">{{ 'sitnet_examination_location' | translate }}:</div>
        <div class="col-md-4 general-info-content" *ngIf="reservation.machine?.room">
            {{ reservation.machine.room.name }} ({{ reservation.machine.room.roomCode }})
        </div>
        <div class="col-md-4 general-info-content" *ngIf="!reservation?.machine?.room">N/A</div>

        <div class="col-md-2 general-info-title">{{ 'sitnet_exam_machine' | translate }}:</div>
        <div class="col-md-4 general-info-content" *ngIf="reservation?.machine">
            {{ reservation.machine.name }}
        </div>
        <div class="col-md-4 general-info-content" *ngIf="!reservation?.machine">N/A</div>
    </div>
    <div class="detail-row marb20" *ngIf="enrolment?.examinationEventConfiguration">
        <div class="col-md-2 general-info-title">{{ 'sitnet_examination_event' | translate }}:</div>
        <div class="col-md-4 general-info-content">
            {{ enrolment?.examinationEventConfiguration?.examinationEvent?.start | date }}
        </div>
        <div class="col-md-2 general-info-title">{{ 'sitnet_instructions' | translate }}:</div>
        <div class="col-md-4 general-info-content">
            {{ enrolment?.examinationEventConfiguration?.examinationEvent?.description }}
        </div>
    </div>

    <div class="detail-row marb20">
        <div class="col-md-12 general-info-title">{{ 'sitnet_previous_exam_participations' | translate }}:</div>
    </div>
    <div class="detail-row marb20">
        <span *ngIf="participations.length === 0 && noShows.length === 0" class="padl15 sitnet-info-text-compact">
            <img
                src="/assets/assets/images/icon_info.svg"
                alt="exam"
                onerror="this.onerror=null;this.src='/assets/assets/images/icon_info.png';"
            />
            <span class="padl10 notice-text">{{ 'sitnet_exam_no_previous_participations' | translate }}</span>
        </span>
    </div>

    <div [hidden]="participations.length === 0" *ngFor="let participation of participations">
        <r-participation [participation]="participation" [collaborative]="collaborative"></r-participation>
    </div>

    <div [hidden]="noShows.length === 0" *ngFor="let noShow of noShows">
        <r-no-show [enrolment]="noShow" [collaborative]="collaborative"></r-no-show>
    </div>

    <div class="detail-row marb20" *ngIf="exam.instruction">
        <div class="col-md-12 general-info-title">
            <img
                src="/assets/assets/images/icon_info.svg"
                alt="exam"
                onerror="this.onerror=null;this.src='/assets/assets/images/icon_info.png';"
            />
            <span class="padl10 notice-text">{{ 'sitnet_exam_instruction' | translate }}:</span>
        </div>
    </div>
    <div class="detail-row marb20" *ngIf="exam.instruction">
        <div class="col-md-12 general-info-content">
            <p [MathJax]="exam.instruction"></p>
        </div>
    </div>

    <div class="detail-row marb20" *ngIf="exam.attachment">
        <div class="col-md-12 general-info-title">{{ 'sitnet_exam_attachment' | translate }}:</div>
    </div>
    <div class="detail-row" *ngIf="exam.attachment?.fileName">
        <div class="col-md-12 general-info-link">
            <a class="pointer" (click)="downloadExamAttachment()">{{ exam.attachment?.fileName }}</a>
        </div>
    </div>
</div>
