<div class="detail-row">
    <div class="col-md-12 general-info-title">{{ participation.started | date: 'dd.MM.yyyy' }}</div>
</div>
<div class="detail-row mb-2">
    <div class="col-md-1">
        <span [ngStyle]="participation.exam.state === 'ABORTED' ? { color: '#F35D6C' } : { color: '#3CA34F' }">
            {{ 'sitnet_exam_status_' + participation.exam.state | lowercase | translate }}
        </span>
    </div>
    <div class="col-md-1 sitnet-info-text-compact" [hidden]="hideGrade()">
        {{ 'sitnet_grade' | translate }}:&nbsp;&nbsp;&nbsp;<span style="color: #3ca34f">{{ translateGrade() }}</span>
    </div>
    <div class="col-md-10 general-info-link-bold" *ngIf="!hideAnswerLink()">
        <a class="pointer" (click)="viewAnswers()">{{ 'sitnet_view_answers' | translate }}</a>
    </div>
</div>
