<xm-page-header [text]="exam.name || ''" [history]="true" />
<xm-page-content [content]="content" />

<ng-template #content>
    <div class="row m-2 xm-study-item-container">
        <div class="col-md-9 col-6">
            <h2>{{ exam.name }}</h2>
            <div class="student-details-subtitle">
                @if (!exam.reservationMade && exam.alreadyEnrolled && !exam.noTrialsLeft) {
                    <span class="text-danger">
                        {{ 'i18n_state_needs_reservation_title' | translate }}
                    </span>
                }
                @if (exam.reservationMade) {
                    <span class="text-success">
                        {{ 'i18n_state_ready' | translate }}
                    </span>
                }
            </div>
        </div>
        <div class="row">
            @if (!exam.alreadyEnrolled && !exam.noTrialsLeft) {
                <div class="col-md-3 col-6">
                    <button class="btn btn-success" [disabled]="getExpiration()" (click)="enrollForExam()">
                        {{ 'i18n_enroll_to_exam' | translate }}
                    </button>
                    @if (getExpiration()) {
                        <div class="text-danger ms-1">
                            {{ 'i18n_exam_period_over' | translate }}
                        </div>
                    }
                </div>
            }
            @if (exam.alreadyEnrolled && exam.reservationMade) {
                <div class="student-details-indicator col-md-3 col-6">
                    {{ 'i18n_enrolled_to_exam' | translate }}
                </div>
            }
        </div>
        <div class="row mt-1">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ 'i18n_course_name' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                @if (exam.course) {
                    <xm-course-code [course]="exam.course"></xm-course-code>
                }
                {{ exam.course?.name }}
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ 'i18n_teachers' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                <xm-teacher-list [exam]="exam"></xm-teacher-list>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ 'i18n_start_time' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                {{ exam.periodStart | date: 'dd.MM.yyyy' }} - {{ exam.periodEnd | date: 'dd.MM.yyyy' }}
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ 'i18n_exam_language' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                {{ exam.languages.join(', ') }}
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ 'i18n_course_scope' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                {{ exam.course?.credits }}
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ 'i18n_faculty_name' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                {{ exam.course?.organisation?.name }}
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ 'i18n_exam_duration' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                {{ printExamDuration() }}
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ 'i18n_grade_scale' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                {{ translateGradeScale() }}
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ 'i18n_exam_credit_type' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                {{ translateExamType() }}
            </div>
        </div>
        @if (exam.executionType.type !== 'MATURITY' && exam.enrollInstruction) {
            <div class="row my-3">
                <div class="col-12">
                    {{ 'i18n_view_instructions' | translate }}:
                    <div [xmMathJax]="exam.enrollInstruction"></div>
                </div>
            </div>
        }
        @if (exam.executionType.type !== 'MATURITY' && exam.enrollInstruction) {
            <div class="row my-3" [hidden]="exam.executionType.type !== 'MATURITY'">
                <div class="col-md-12">
                    {{ 'i18n_maturity_instructions' | translate }}
                    <div [xmMathJax]="exam.maturityInstructions || ''"></div>
                </div>
            </div>
        }
        @if (!exam.reservationMade && exam.alreadyEnrolled && !exam.noTrialsLeft) {
            <div class="row mt-4 me-1">
                <div class="col-md-12">
                    <button class="btn btn-success" (click)="makeReservation()">
                        {{ 'i18n_student_new_reservation' | translate }}
                    </button>
                </div>
            </div>
        }
    </div>
</ng-template>
