<div class="container py-4">
    <div class="row">
        <div class="col-md-12">
            <h3 class="header-text mb-4">{{ 'sitnet_softwares' | translate }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <form class="form-inline align-items-end" role="form">
                <div class="form-group">
                    <label for="new-software-name" class="sitnet-info-text">{{
                        'sitnet_software_name' | translate
                    }}</label>
                    <input
                        type="text"
                        id="new-software-name"
                        name="name"
                        class="form-control col-md-12"
                        [(ngModel)]="newSoftware.name"
                    />
                </div>
                <button
                    (click)="addSoftware()"
                    [disabled]="!newSoftware.name"
                    class="btn btn-primary mt-2"
                    type="button"
                >
                    {{ 'sitnet_create_new' | translate }}
                </button>
            </form>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered table-sm room-machines-table">
                        <thead>
                            <tr>
                                <th scope="col">{{ 'sitnet_name' | translate }}</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sw of software | orderBy: 'name'" scope="row">
                                <td class="w-100 text-center">
                                    <div [hidden]="showName">
                                        <span class="editable" (click)="showName = !showName">
                                            {{ sw.name }}
                                        </span>
                                    </div>
                                    <div *ngIf="showName">
                                        <form class="form-inline" role="form">
                                            <div class="form-group">
                                                <label>
                                                    <input
                                                        type="text"
                                                        class="form-control input-sm"
                                                        [(ngModel)]="sw.name"
                                                        name="software-name"
                                                        autofocus
                                                    />
                                                </label>
                                            </div>
                                            <button
                                                type="button"
                                                class="btn btn-primary btn-sm"
                                                (click)="showName = !showName; updateSoftware(sw)"
                                            >
                                                <i class="bi-check"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <a (click)="showName = !showName">
                                        <i class="bi-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <a
                                        (click)="removeSoftware(sw)"
                                        ngbPopover="{{ 'sitnet_remove_software' | translate }}"
                                        placement="top"
                                        triggers="mouseenter:mouseleave"
                                    >
                                        <i class="sitnet-red bi-x"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
