<div class="row">
    <div class="col-md-12">
        <h2 class="room-name-title">{{ 'i18n_softwares' | translate }}</h2>
    </div>
</div>
<div class="row ms-3">
    <div class="col-md-12">
        <form role="form">
            <label for="new-software-name" class="form-label">{{ 'i18n_software_name' | translate }}</label>
            <input type="text" id="new-software-name" name="name" class="form-control" [(ngModel)]="newSoftware.name" />
            <button (click)="addSoftware()" [disabled]="!newSoftware.name" class="btn btn-primary mt-2" type="button">
                {{ 'i18n_create_new' | translate }}
            </button>
        </form>
    </div>
</div>
<div class="row ms-3 mt-3">
    <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">{{ 'i18n_name' | translate }}</th>
                    <th scope="col">{{ 'i18n_edit' | translate }}</th>
                    <th scope="col">{{ 'i18n_remove' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                @for (sw of software | orderBy: 'name'; track sw.id) {
                    <tr scope="row">
                        <td>
                            <div [hidden]="sw.showName">
                                {{ sw.name }}
                            </div>
                            @if (sw.showName) {
                                <div>
                                    <form role="form">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control input-sm"
                                                name="accessibility-name"
                                                [(ngModel)]="sw.name"
                                                autofocus
                                            />
                                            <span
                                                class="input-group-text pointer"
                                                (click)="sw.showName = !sw.showName; updateSoftware(sw)"
                                                >{{ 'i18n_add' | translate }}</span
                                            >
                                        </div>
                                    </form>
                                </div>
                            }
                        </td>
                        <td>
                            <a (click)="sw.showName = !sw.showName">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a (click)="removeSoftware(sw)">
                                <i class="sitnet-red bi-x"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
