#sitnet-header {

  .header-wrapper {
    height: 2em;
    padding: 0.75em 2em 0 0;
  }

  .header-text {
    font-size: 1.8em;
    font-family: $sitnet-family-helvetica;
    color: $sitnet-text;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 1em;
  }

  .compact-header-text {
    font-size: 1.8em;
    font-family: $sitnet-family-helvetica;
    color: $sitnet-text;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
  }

  min-height: $sitnet-header-height;
  background-color: #e6e6e6;

  .header {
    position: fixed;
    z-index: 330;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    right: 0;
    left: 0;
  }

  @media screen {
    .print-only {
      display: none !important;
    }
  }

  @media print {
    .no-print {
      display: none !important;
    }
  }

}

.sitnet-header-alt {
  background-color: $sitnet-light-green_new;
  min-height: $sitnet-header-height;
  margin: 0 -15px;

  .header-wrapper {
    padding: 0.75em 0 0 0;
  }

  .header-text {
    font-size: 1.8em;
    font-family: $sitnet-family-helvetica;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 1.2em;
  }
}
