#question-editor {

  .question-editor-option {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 1em;
    padding: 0.5em;
  }

  .question-editor-option .form-group {
    margin-bottom: 5px;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  .pointer-hand {
    cursor: pointer;
  }
}
