<div id="sitnet-header" class="header">
    <div class="col-md-8 header-wrapper">
        <span class="header-text">{{'sitnet_welcome' | translate}}, {{getUsername()}}</span>
    </div>

    <div class="col-md-2 header-wrapper">
        <!--<a class="btn header-button pull-right">{{'sitnet_create_new' | translate}}<i class="sitnet-white pull-right fa fa-angle-down fa-lg"></i></a>-->
    </div>
    <div class="col-md-2 nospace">
        <!--<span class="header-clock pull-right">
            <span class="col-md-12 nospace weekday">24. lauantai</span>
            <span class="col-md-12 nospace date">Toukokuuta 2014</span>
            <span class="col-md-12 nospace clock"></span>
        </span>-->
    </div>
</div>

<div id="dashboard" class="container-fluid">

    <!-- Title -->
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                {{'sitnet_dashboard' | translate}}
            </div>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="row">
        <!-- New calendar event icon and text -->
        <div class="col-md-2 toolbar-item">
            <span class="fa-stack fa-lg">
                <i class="sitnet-dark-blue fa fa-square fa-stack-2x toolbar-square"></i>
                <i class="sitnet-white fa fa-calendar fa-stack-1x toolbar-icon"></i>
            </span>
            <label class="toolbar-label"><a href="#/calendar" style="color: black">{{'sitnet_toolbar_calendar' | translate}}</a></label>
        </div>

        <!-- Reviews icon and text -->
        <div class="col-md-2 toolbar-item">
            <span class="fa-stack fa-lg">
                <i class="sitnet-dark-blue fa fa-square fa-stack-2x toolbar-square"></i>
                <i class="sitnet-white fa fa-file-text-o fa-stack-1x toolbar-icon"></i>
            </span>
            <label class="toolbar-label">{{'sitnet_toolbar_inspections' | translate}}</label>
        </div>

        <!-- Feedback icon and text -->
        <div class="col-md-2 toolbar-item">
            <span class="fa-stack fa-lg">
                <i class="sitnet-dark-blue fa fa-square fa-stack-2x toolbar-square"></i>
                <i class="sitnet-white fa fa-smile-o fa-stack-1x toolbar-icon"></i>
            </span>
             <label class="toolbar-label">{{'sitnet_toolbar_feedback' | translate}}</label>
        </div>
    </div>

    <!-- Enrolled exams list -->
    <div class="col-md-12 nospace exams-table-title-area">
        <span class="exams-list-title-text pull-left">{{'sitnet_user_enrolled_exams' | translate}}</span>
    </div>

    <div class="exams-list col-md-12" ng-controller="StudentExamController">
        <div class="exams-table-borders col-md-12">
            <table class="table table-bordered exams-table">
                <thead>
                    <tr>
                        <th class="table-column-flag"></th>
                        <th class="table-column-examname">{{'sitnet_examcode_and_name' | translate}}</th>
                        <th class="table-column-enroll-participation">{{'sitnet_exam_room' | translate}}</th>
                        <th class="table-column-open-until">{{'sitnet_exam_time' | translate}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="enrolment in userEnrolments">
                        <td>
                            <!--<i class="sitnet-light-grey fa fa-square"></i>-->
                            <i class="sitnet-dark-grey fa">{{$index + 1}}</i>
                        </td>
                        <td><a ng-click="activateExam(enrolment.exam)">{{enrolment.exam.course.code}} - {{enrolment.exam.name}}</a></td>
                        <td ng-if="enrolment.reservation">{{enrolment.reservation.machine.name}}</td>
                        <td ng-if="!enrolment.reservation">
                            <a style="color: red" href="#/calendar/{{enrolment.id}}">{{'sitnet_new_reservation' | translate}}</a>
                        </td>
                        <td>{{enrolment.reservation.startAt | date:'dd-MM-yyyy HH:mm'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Finished exams list -->
    <div class="col-md-12 nospace exams-table-title-area">
        <span class="exams-list-title-text pull-left">{{'sitnet_user_finished_exams' | translate}}</span>
    </div>

    <div class="exams-list col-md-12">
        <div class="exams-table-borders col-md-12">
            <table class="table table-bordered exams-table">
                <thead>
                <tr>
                    <th class="table-column-examname">{{'sitnet_examcode_and_name' | translate}}</th>
                    <th class="table-column-flag">{{'sitnet_exam_state'| translate}}</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="finishedExam in studentFinishedExams">
                    <td>{{finishedExam.course.code}} - {{finishedExam.name}}</td>

                    <td ng-if="finishedExam.state === 'REVIEW'">
                        <span class="status_orange">{{'sitnet_exam_in_review' | translate}}</span>
                    </td>

                    <td ng-if="finishedExam.state ==='IN_REVIEW'">
                        <span class="status_orange">{{'sitnet_exam_in_review' | translate}}</span>
                    </td>

                    <td ng-if="finishedExam.state === 'GRADED'">
                        <span ng-click="showFeedback(finishedExam.id)" class="status_green">{{'sitnet_exam_reviewed' | translate}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
