<div class="row">
    <div class="sitnet-info-text col-md-12 pull-right">Vastauksen pituuden suositus: {{question.maxCharacters}} kirjainmerkkkiä
    </div>
</div>
<div class="row">
    <!--How to get CKEditor text with Angular-->
    <!--http://jsfiddle.net/TheSharpieOne/cPTr7/-->
    <!--http://stackoverflow.com/questions/18917262/updating-textarea-value-with-ckeditor-content-in-angular-js-->
    <textarea ck-editor rows="10" cols="80" ng-model="question.answer.answer"></textarea>
</div>
<div class="row">
    <button ng-click="saveEssay(question, question.answer.answer)" class="btn btn-primary pull-right">Tallenna</button>
</div>