<!-- General info section container -->
<div>
    <div class="exams-table-borders col-md-12">
        <table class="table table-bordered exams-table">
            <thead>
            <tr>
                <th class="table-column-examname">{{'sitnet_examcode_and_name' | translate}}</th>
                <th class="table-column-examname">{{'sitnet_exam_credit' | translate}}</th>
                <th class="table-column-examname">{{'sitnet_exam_grade' | translate}}</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{reviewedExam.course.code}} - {{reviewedExam.name}}</td>
                <td>{{reviewedExam.course.credits}}</td>
                <td>{{reviewedExam.grade}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
