<div id="student_exam_feedback" class="header">
    <div class="col-md-12">
        <div class="exam-name">
            <h3>
                {{reviewedExam.course.code}} - {{reviewedExam.name}}
            </h3>
        </div>

        <div class="exam-wrapper">
            <!-- General Information -->
            <div class="exam-general-information" ng-include="generalInfoPath">
            </div>

        </div>
        <div>
            <div>
                <a ng-click="exitPreview(doexam)">
                    <i class="btn btn-primary btn-lg active fa fa-sign-out exam-signout-button">
                        <span class="exam-signout-button-text">{{'sitnet_exit_feedback' | translate}}</span></i>
                </a>
            </div>
        </div>
    </div>
</div>