<div id="studentexam" ng-controller="StudentExamController">
    <h2 class="table-heading">{{"sitnet_active_exams" | translate}}</h2>

    <div>
        <div class="list-group">
            <a ng-repeat="exam in exams | filter: {state: 'PUBLISHED'}" ng-click="activateExam(exam)" class="active-exams-list list-group-item">
                <h4 class="list-group-item-heading">
                    {{exam.name}}
                    <span class="pull-right">{{exam.examEvent.examReadableStartDate}} Avoin</span>
                </h4>
                <i>
                    <span class="list-group-item-text">{{exam.course.name}}</span>
                    <span class="list-group-item-text">{{exam.course.code}}</span>
                </i>
            </a>
        </div>
    </div>

    <hr>
    <h2 class="sitnet-teacher-turquoise-light-active">{{'sitnet_started_exams' | translate}}</h2>
    <span class="sitnet-info-text">{{'sitnet_started_exams_info_main' | translate}}</span>
    <span class="sitnet-info-text">{{'sitnet_started_exams_info_other' | translate}}</span>

    <div class="exam-list-saved">
        <a ng-repeat="exam in exams | filter: {state: 'STUDENT_STARTED'}" ng-click="continueExam(exam)" class="active-exams-list list-group-item">
            <h4 class="list-group-item-heading">
                <span class="">{{exam.course.code}} - {{exam.name}}</span><span class="pull-right">{{'sitnet_in_progress' | translate}}</span>
            </h4>
        </a>
    </div>

    <hr>
    <h2 class="sitnet-teacher-turquoise-light-active">{{'sitnet_returned_exams' | translate}}</h2>
    <span class="sitnet-info-text">{{'sitnet_returned_exams_info_main' | translate}}</span>
    <span class="sitnet-info-text">{{'sitnet_returned_exams_info_other' | translate}}</span>

    <div class="exam-list-saved">
        <a ng-repeat="exam in exams | filter: {state: 'REVIEW'}" class="active-exams-list list-group-item">
            <h4 class="list-group-item-heading">
                <span class="">{{exam.course.code}} - {{exam.name}}</span><span class="pull-right">{{'sitnet_returned' | translate}}</span>
            </h4>
        </a>
    </div>
</div>