<div id="sitnet-header" class="header">
    <div class="col-md-6 header-wrapper">
        <span class="header-text"></span>
    </div>
    <div class="col-md-6">
        <span class="col-md-11 pull-right">
            <span class="exam-clock-text col-md-10">{{'sitnet_exam_time_left' | translate}}</span>
            <span class="exam-clock col-md-2">
                <span ng-if="remainingTime > alarmLine">{{formatRemainingTime(remainingTime)}}</span>
                <span ng-if="remainingTime <= alarmLine" class="sitnet-text-alarm">{{formatRemainingTime(remainingTime)}}</span>
            </span>
        </span>
    </div>
</div>

<div id="studentexam" class="header">
    <!--<div id="studentexam" class="container-fluid">-->
    <!--  EXAM AREA -->
    <div class="col-md-8 bottom-padding-2">
        <div class="row" ng-show="!guide">
            <div class="col-md-12 studentexam-header">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-stop fa-stack-2x sitnet-text-notice"></i>
                  <span class="fa-stack-1x sitnet-text">{{activeSection.index}}.</span>
                </span>
                <span class="sitnet-text">{{activeSection.name}}</span>
            </div>
        </div>
        <div class="row" ng-show="guide">
            <div class="col-md-12 studentexam-header">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-stop fa-stack-2x sitnet-text-notice"></i>
                  <span class="fa fa-info-circle fa-stack-1x sitnet-text"></span>
                </span>
                <span class="sitnet-text">{{'sitnet_exam_quide' | translate}}</span>
            </div>
        </div>

        <div class="row bottom-padding-2">
            <div class="col-md-12">
                <div class="section-container">
                    <div class="list-group" ng-include="sectionTemplate">
                    </div>
                </div>
            </div>
        </div>

        <!-- SECTION NAVIGATION ARROWS AND LABELS -->
        <div class="row exam-navigation">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <!-- PREVIOUS SECTION BUTTON -->
                <a class="blue_button_left" ng-show="previousButton && !guide" ng-click="setPreviousSection(doexam, activeSection)">
                    <i class="fa fa-arrow-left sitnet-text-theme"><span>{{ previousButtonText }}</span></i>
                </a>
            </div>
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <!-- NEXT SECTION BUTTON -->
                <a class="blue_button_right" ng-show="nextButton" ng-click="setNextSection(doexam, activeSection)">
                    <span>{{ nextButtonText }} </span><i class="fa fa-arrow-right sitnet-text-theme icon_to_right"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- SECTIONS AREA -->
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="info-column">
                <span class="header col-md-6">{{ 'sitnet_course_name' | translate }}:</span>
                <span class="text col-md-6">{{ doexam.course.name }}</span>
            </div>
            <div class="info-column">
                <span class="header col-md-6">{{ 'sitnet_course_code' | translate }}:</span>
                <span class="text col-md-6">{{ doexam.course.code }}</span>
            </div>
            <div class="info-column">
                <span class="header col-md-6">{{ 'sitnet_exam_time' | translate }}:</span>
                <span class="text col-md-6">{{ printExamDuration(doexam) }}</span>
            </div>
        </div>
        <div class="col-md-12 top-padding-2 bottom-padding-2" ng-include="sectionsBar"></div>

        <div class="top-padding-2">
            <!-- INSTRUCTIONS -->
            {{ currentLanguage }}
            <div class="bottom-padding-2 bottom-padding-2">
                <a class="col-md-12 sidebutton" popover-placement="left" popover-trigger="click" popover="{{ currentLanguageText }}"> <!-- room instructions -->
                    <i class="fa fa-info-circle">
                    <span class="italic">{{'sitnet_room_guidance' | translate}}</span></i>
                </a>
                <!-- exam attachment -->
                <div ng-show="doexam.attachment !== null" class="col-md-12 bottom-padding-2" ng-controller="AttachmentController">
                    <a class="sidebutton" ng-click="downloadExamAttachment(doexam)">
                        <i class="fa fa-file-o">
                            <span class="italic">{{'sitnet_exam_attacment' | translate}}</span>
                        </i>
                    </a>
                    <span class="sitnet-text-medium small" style="font-style: normal"> ({{doexam.attachment.fileName}}) </span>
                </div>
            </div>
            <!-- SAVE EXAM BUTTON -->
            <a class="col-md-12 sidebutton top-padding-2" href="#/logout">
                <i class="fa fa-sign-out">
                <span class="italic">{{'sitnet_logout' | translate}}</span></i>
            </a>
            <!-- ABORT EXAM BUTTON -->
            <a class="col-md-12" ng-click="abortExam(doexam)">
                 <i class="fa fa-ban sidebutton-alarm">
                 <span class="italic">{{'sitnet_abort_exam' | translate}}</span></i>
            </a>

        </div>
    </div>
</div>