<form class="form-inline" role="form">
<div class="{{question.selectedAnsweredState}}" ng-repeat="question in activeSection.questions">
    <h4>
        <div>
			<span class="fa-stack sitnet-white">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa-stack-1x sitnet-black">{{question.id}}.</i>
            </span>
            <span class="sitnet-white" mathjax ng-bind-html="question.question"></span>
			<span ng-click="question.expanded = !question.expanded" class="pull-right fa-stack fa-lg">
                <i ng-class="question.expanded ? 'sitnet-white' : 'sitnet-student-darkgreen'"
                   class="fa fa-square fa-stack-2x section-header-icon-square">
                </i>
				<i ng-click="chevronClicked(question)"
                   ng-class="question.expanded ? 'fa-chevron-down sitnet-student-darkgreen' : 'fa-chevron-left'"
                   class="sitnet-white fa fa-chevron-left fa-stack-1x section-header-icon-chevron">
                </i>
			</span>

            <span class="pull-right sitnet-white">
                <i class="question-status" ng-model="question">{{question.questionStatus}}</i>
            </span>
        </div>
    </h4>

        <div class="exam-question-container" ng-hide="!question.expanded">
            <div class="question" ng-include="multipleChoiseOptionTemplate"></div>
        </div>

</div>
</form>