<form class="form-inline" role="form">
    <div class="{{question.selectedAnsweredState}}" ng-repeat="question in activeSection.questions">
        <h4>
            <div ng-model="question">
                <span class="fa-stack">
                    <i class="fa-stack-1x sitnet-white">{{question.index}}.</i>
                </span>

            <span class="sitnet-white" ng-bind-html="question.question"></span>

                <span ng-click="question.expanded = !question.expanded" class="pull-right fa-stack fa-lg">
                    <i ng-click="chevronClicked(question)"
                       ng-class="question.expanded ? 'fa-chevron-down sitnet-student-darkgreen' : 'fa-chevron-left'"
                       class="sitnet-white fa fa-chevron-left fa-stack-1x section-header-icon-chevron">
                    </i>
                </span>
                <span class="pull-right sitnet-white">
                    <i class="question-status">{{question.questionStatus}}</i>
                </span>
            </div>
        </h4>

        <div class="exam-question-container" ng-show="question.expanded">
            <div class="question" ng-include="question.template"></div>
            <div ng-show="question.attachment !== null">
                <a href="/attachment/question/{{question.id}}"> {{'sitnet_download_attachment' | translate }} </a>
            </div>

        </div>
    </div>
</form>