<form class="form-inline" role="form">
    <div ng-show="guide">
        <div class="guide-instruction col-md-12">{{ doexam.instruction }}</div>
    </div>
    <div ng-show="!guide">
        <div class="{{question.selectedAnsweredState}} col-md-12 info-row" ng-repeat="question in activeSection.questions">

            <div ng-model="question">
                <span class="fa-stack fa-lg pull-left col-md-1">
                  <i class="fa fa-stop fa-stack-2x question-icon-bg"></i>
                  <i class="fa fa-stack-1x question-icon" ng-class="question.type === 'MultipleChoiceQuestion' ? 'fa-list-ul' : 'fa-pencil-square-o'"></i>
                </span>

                <span ng-click="question.expanded = !question.expanded; chevronClicked(question);" class="question-text pointer pull-left col-md-10" ng-bind-html="question.question"></span>

                <span ng-click="question.expanded = !question.expanded; chevronClicked(question);" class="fa-stack fa-lg pointer pull-right col-md-1">
                    <i ng-class="question.expanded ? 'fa-chevron-down sitnet-text' : 'fa-chevron-left sitnet-text-medium'"
                       class="sitnet-text-medium fa fa-chevron-left fa-stack-1x">
                    </i>
                </span>
            </div>


            <div class="exam-question-container" ng-show="question.expanded">
                <div class="question" ng-include="question.template"></div>
                <div ng-show="question.attachment !== null" ng-controller="AttachmentController">
                    <a class="pointer" ng-click="downloadQuestionAttachment(question)"> {{'sitnet_download_attachment' | translate }} <span class="sitnet-text-medium"><small>({{question.attachment.fileName}})</small></span></a>
                </div>

            </div>
        </div>
    </div>
</form>