<div>
    <ul>
        <li ng-class="showQuestion ? 'selected' : 'inactive' " ng-repeat="section in doexam.examSections" ng-click="setActiveSection(section);  showQuestion = ! showQuestion">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa-stack-1x sitnet-white">{{section.index}}</i>
            </span>

            <span>
                <i class="fa fa-2x fa-fw"></i>
                <span class="sitnet-text-dark">{{section.name}}</span>
            </span>
        </li>
    </ul>
</div>