<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<xm-page-header text="i18n_dashboard" [appendTemplate]="buttons" />
<xm-page-content [content]="content" />
<ng-template #buttons>
    <div class="float-end pe-3">
        <button [routerLink]="['/staff/exams']" class="btn btn-success me-3 mb-3">
            {{ 'i18n_toolbar_new_exam' | translate }}
        </button>
        <button
            [routerLink]="['/staff/questions/new']"
            [queryParams]="{ nextState: 'teacher' }"
            class="btn btn-success"
        >
            {{ 'i18n_toolbar_new_question' | translate }}
        </button>
    </div>
</ng-template>
<ng-template #content>
    <div class="row">
        <div class="col-12">
            <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>
                        <div class="make-inline me-2">{{ 'i18n_active_exams_title' | translate }}</div>
                        @if (activeExams) {
                            <div class="make-inline badge rounded-pill text-bg-danger">
                                {{ filteredActive.length }}
                            </div>
                        }
                    </a>
                    <ng-template ngbNavContent>
                        <xm-exam-list-category
                            [items]="filteredActive"
                            defaultPredicate="periodEnd"
                            [extraData]="activeExtraData"
                            (filtered)="search($event)"
                        >
                        </xm-exam-list-category>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>
                        <div class="make-inline me-2">{{ 'i18n_finished_exams_title' | translate }}</div>
                        <div class="make-inline badge rounded-pill text-bg-danger">
                            {{ filteredFinished.length }}
                        </div>
                    </a>
                    <ng-template ngbNavContent>
                        <xm-exam-list-category
                            [items]="filteredFinished"
                            defaultPredicate="unassessedCount"
                            [defaultReverse]="true"
                            [extraData]="finishedExtraData"
                            (filtered)="search($event)"
                        >
                        </xm-exam-list-category>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink>
                        <div class="make-inline me-2">{{ 'i18n_archived_teacher_exams_title' | translate }}</div>
                        <div class="make-inline badge rounded-pill text-bg-danger">
                            {{ filteredArchived.length }}
                        </div>
                    </a>
                    <ng-template ngbNavContent>
                        <xm-exam-list-category
                            [items]="filteredArchived"
                            defaultPredicate="periodEnd"
                            [defaultReverse]="true"
                            [extraData]="archivedExtraData"
                            (filtered)="search($event)"
                        >
                        </xm-exam-list-category>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink>
                        <div class="make-inline me-2">{{ 'i18n_draft_exams' | translate }}</div>
                        <div class="make-inline badge rounded-pill text-bg-danger">
                            {{ filteredDrafts.length }}
                        </div>
                    </a>
                    <ng-template ngbNavContent>
                        <xm-exam-list-category
                            [items]="filteredDrafts"
                            defaultPredicate="periodEnd"
                            [defaultReverse]="true"
                            (filtered)="search($event)"
                        >
                        </xm-exam-list-category>
                    </ng-template>
                </li>
            </ul>
        </div>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</ng-template>
