<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-enroll-title-wrap">
                <div class="student-enroll-title marl20">{{ 'i18n_dashboard' | translate }}</div>
            </div>
            <div class="teacher-toolbar">
                <div class="make-inline">
                    <div class="review-attachment-button print-button">
                        <a [routerLink]="['/staff/exams']" class="pointer">
                            {{ 'i18n_toolbar_new_exam' | translate }}
                        </a>
                    </div>
                </div>
                <div class="make-inline">
                    <div class="review-attachment-button print-button">
                        <a
                            [routerLink]="['/staff/questions/new']"
                            [queryParams]="{ nextState: 'teacher' }"
                            class="pointer"
                        >
                            {{ 'i18n_toolbar_new_question' | translate }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-wrapper">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <div class="make-inline marr10">{{ 'i18n_active_exams_title' | translate }}</div>
                    @if (activeExams) {
                        <div class="make-inline tab-number">
                            {{ filteredActive.length }}
                        </div>
                    }
                </a>
                <ng-template ngbNavContent>
                    <xm-exam-list-category
                        [items]="filteredActive"
                        defaultPredicate="periodEnd"
                        [extraData]="activeExtraData"
                        (filtered)="search($event)"
                    >
                    </xm-exam-list-category>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <div class="make-inline marr10">{{ 'i18n_finished_exams_title' | translate }}</div>
                    <div class="make-inline tab-number">
                        {{ filteredFinished.length }}
                    </div>
                </a>
                <ng-template ngbNavContent>
                    <xm-exam-list-category
                        [items]="filteredFinished"
                        defaultPredicate="unassessedCount"
                        [defaultReverse]="true"
                        [extraData]="finishedExtraData"
                        (filtered)="search($event)"
                    >
                    </xm-exam-list-category>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>
                    <div class="make-inline marr10">{{ 'i18n_archived_teacher_exams_title' | translate }}</div>
                    <div class="make-inline tab-number">
                        {{ filteredArchived.length }}
                    </div>
                </a>
                <ng-template ngbNavContent>
                    <xm-exam-list-category
                        [items]="filteredArchived"
                        defaultPredicate="periodEnd"
                        [defaultReverse]="true"
                        [extraData]="archivedExtraData"
                        (filtered)="search($event)"
                    >
                    </xm-exam-list-category>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>
                    <div class="make-inline marr10">{{ 'i18n_draft_exams' | translate }}</div>
                    <div class="make-inline tab-number">
                        {{ filteredDrafts.length }}
                    </div>
                </a>
                <ng-template ngbNavContent>
                    <xm-exam-list-category
                        [items]="filteredDrafts"
                        defaultPredicate="periodEnd"
                        [defaultReverse]="true"
                        (filtered)="search($event)"
                    >
                    </xm-exam-list-category>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</div>
