<div id="sitnet-header" class="header">
    <div class="col-md-12 header-wrapper">
        <span class="header-text">{{'sitnet_enroll' | translate}}</span>
    </div>
</div>
<div id="dashboard">

    <div ng-include="detailedInfoPath"></div>

    <div class="main-row" ng-show="exam && exam.notEnrolled">
        <div class="main-row">
            <div class="col-md-12">
                <button class="btn btn-success" ng-click="enrollExam(exam)">{{'sitnet_enroll_to_exam' | translate}}</button>
                <button class="btn btn-info" ng-click="enrollList()">{{'sitnet_exams_for_course' | translate}}</button>
            </div>
        </div>
    </div>

</div>
