<div id="sitnet-header" class="header">
    <div class="col-md-12 header-wrapper">
        <span class="header-text">{{'sitnet_exam_review' | translate}}</span>
    </div>
</div>
<div id="dashboard">

    <div class="main-row" ng-show="reviewedExam.grade.name === 'NONE'">
        <div class="col-md-12 alert-warning exams-table-title-area" style="padding-bottom: 1em; padding-top: 1em; padding-left: 15px">
            <h4>{{'sitnet_no_grading_description' | translate}}</h4>
        </div>
    </div>

    <div class="main-row" ng-show="reviewedExam.state === 'GRADED'">
        <div class="col-md-12 alert-warning exams-table-title-area" style="padding-bottom: 1em; padding-top: 1em; padding-left: 15px">
            <p class="col-md-12 exams-list-title-text">{{'sitnet_autoevaluation_release_description' | translate}}
            </p>
        </div>
    </div>

    <div class="col-md-12 pull-left bottom-padding-2 top-padding-2" id="student_feedback">
        <div class="col-md-7 pull-left">
            <div class="info-row col-md-12 pull-left">
                <div class="info-row col-md-12 info-column">
                    <span class="header col-md-4">{{ 'sitnet_course_name' | translate }}:</span>
                    <span class="text col-md-8">{{ reviewedExam.course.name }}</span>
                </div>
                <div class="info-row col-md-12 info-column">
                    <span class="header col-md-4">{{ 'sitnet_course_code' | translate }}:</span>
                    <span class="text col-md-8">{{ reviewedExam.course.code }}</span>
                </div>
                <div class="info-row col-md-12 info-column">
                    <span class="header col-md-4">{{ 'sitnet_exam_name' | translate }}:</span>
                    <span class="text col-md-8">{{ reviewedExam.name }}</span>
                </div>
                <div class="info-row col-md-12 info-column">
                    <span class="header col-md-4">{{'sitnet_exam_credit' | translate}}:</span>
                    <span class="text col-md-8">{{ reviewedExam.credit }}</span>
                </div>
                <!-- only show if not maturity and actual grade given -->
                <div ng-hide="reviewedExam.executionType.type === 'MATURITY' || reviewedExam.grade.name === 'NONE'">
                    <div class="info-row col-md-12 info-column">
                        <span class="header col-md-4">{{'sitnet_total_score' | translate}}:</span>
                        <span class="text col-md-8">{{ scores.totalScore}} / {{scores.maxScore}}</span>
                    </div>
                    <div class="info-row col-md-12 info-column"
                         ng-if="scores.hasApprovedRejectedAnswers">
                        <span class="header col-md-4">{{'sitnet_approved' | translate}}:</span>
                        <span class="text col-md-8">{{ scores.approvedAnswerCount}}</span>
                    </div>
                    <div class="info-row col-md-12 info-column" ng-if="scores.hasApprovedRejectedAnswers">
                        <span class="header col-md-4">{{'sitnet_rejected' | translate}}:</span>
                        <span class="text col-md-8">{{ scores.rejectedAnswerCount}}</span>
                    </div>
                </div>
                <div class="info-row col-md-12 info-column">
                    <span class="header col-md-4">{{'sitnet_exam_grade' | translate}}:</span>
                    <span class="text col-md-8">{{ reviewedExam.grade.displayName }}</span>
                </div>
                <div class="info-row col-md-12 info-column">
                    <span class="header col-md-4">{{'sitnet_teachers' | translate}}:</span>
                    <span class="light-text col-md-8"><assessment-teacher-list exam="reviewedExam"/></span>
                </div>
                <div class="top-padding-2 info-row col-md-12 info-column" ng-if="reviewedExam.examFeedback.comment">
                    <div class="header col-md-4">{{'sitnet_teachers_comment' | translate}}:</div>
                    <div class="text col-md-8" ng-bind-html="reviewedExam.examFeedback.comment"></div>
                </div>
                <div class="info-row col-md-12 info-column" ng-controller="AttachmentController"
                     ng-if="reviewedExam.examFeedback && reviewedExam.examFeedback.attachment">
                    <div class="header col-md-4">{{'sitnet_feedback_attachment' | translate}}:</div>
                    <a class="link-text pointer col-md-8" ng-click="downloadFeedbackAttachment(reviewedExam)">
                        {{reviewedExam.examFeedback.attachment.fileName}}
                    </a>
                </div>
                <div class="top-padding-2 info-row col-md-12 info-column" ng-if="reviewedExam.languageInspection">
                    <div class="header col-md-4">{{'sitnet_inspector_statement' | translate}}:</div>
                    <div class="text col-md-8" ng-bind-html="reviewedExam.languageInspection.statement.comment"></div>
                </div>
                <div class="info-row col-md-12 info-column" ng-controller="AttachmentController"
                     ng-if="reviewedExam.languageInspection.statement.attachment">
                    <div class="header col-md-4">{{'sitnet_statement_attachment' | translate}}:</div>
                    <a class="link-text pointer col-md-8" ng-click="downloadStatementAttachment(reviewedExam)">
                        {{reviewedExam.languageInspection.statement.attachment.fileName}}
                    </a>
                </div>
                <div class="col-md-12 top-padding-2">
                    <a class="fa-stack pointer" ng-click="exitFeedback()">
                        <i class="fa fa-stop fa-stack-2x sitnet-text-theme"></i>
                        <i class="fa fa-sign-out sitnet-white fa-stack-1x"></i>
                    </a>
                    <span class="sitnet-text-theme icon_fix pointer" ng-click="exitFeedback()">{{'sitnet_exit_feedback' | translate}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
