<div id="sitnet-header" class="header">
    <div class="col-md-12 header-wrapper">
        <span class="header-text">{{ 'sitnet_user_administration' | translate }}</span>
    </div>
</div>
<div id="dashboard">
    <div class="main-row">
        <label class="col-md-12" for="userSearch">{{ 'sitnet_search_for_users' | translate }}</label>
        <div id="userSearch" class="flex-wrap-gap">
            <div class="">
                <div class="form-group input-group min-width-300">
                    <input
                        [ngModel]="filter.text"
                        type="text"
                        class="form-control"
                        (ngModelChange)="loader.loading = true; textChanged.next($event)"
                        placeholder="{{ 'sitnet_search' | translate }}"
                        [openDelay]="500"
                        [closeDelay]="500"
                        triggers="mouseenter:mouseleave"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        ngbPopover="{{ 'sitnet_user_search_description' | translate }}"
                        aria-labelledby="userSearch"
                    />
                    <div class="input-group-append">
                        <span class="input-group-text rounded-0 rounded-end">
                            <i class="bi-search"></i>
                        </span>
                    </div>
                </div>
            </div>
            <span class="dropdown" ngbDropdown>
                <button
                    ngbDropdownToggle
                    class="btn btn-outline-secondary"
                    type="button"
                    id="dropDownMenu1"
                    aria-expanded="true"
                >
                    {{ 'sitnet_filter_by_role' | translate }}&nbsp;<span class="caret"></span>
                </button>
                <div ngbDropdownMenu role="menu" aria-labelledby="dropDownMenu1">
                    <button
                        ngbDropdownItem
                        *ngFor="let role of roles"
                        role="presentation"
                        [ngClass]="role.filtered ? 'active' : ''"
                        (click)="applyRoleFilter(role)"
                        (keydown.enter)="applyRoleFilter(role)"
                    >
                        <a role="menuitem" title="{{ role.name }}">
                            <i class="float-end" [ngClass]="role.icon"></i>
                            {{ role.name | translate }}
                        </a>
                    </button>
                </div>
            </span>
            <!-- ng-show="permissions.length > 0" -->
            <span class="dropdown" ngbDropdown>
                <button
                    ngbDropdownToggle
                    class="btn btn-outline-secondary"
                    type="button"
                    id="dropDownMenu2"
                    data-toggle="dropdown"
                    aria-expanded="true"
                >
                    {{ 'sitnet_filter_by_permission' | translate }}&nbsp;<span class="caret"></span>
                </button>
                <div ngbDropdownMenu role="menu" aria-labelledby="dropDownMenu2">
                    <button
                        ngbDropdownItem
                        *ngFor="let permission of permissions"
                        role="presentation"
                        [ngClass]="permission.filtered ? 'active' : ''"
                        (click)="applyPermissionFilter(permission)"
                        (keydown.enter)="applyPermissionFilter(permission)"
                    >
                        <a role="menuitem" title="{{ permission.name }}">
                            <i class="float-end" [ngClass]="permission.icon || ''"></i>
                            {{ permission.name || '' | translate }}&nbsp;
                        </a>
                    </button>
                </div>
            </span>
        </div>
    </div>
    <div class="main-row">
        <div class="col-md-12" [hidden]="!loader.loading">
            <button class="btn btn-success" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                {{ 'sitnet_searching' | translate }}&hellip;
            </button>
        </div>
    </div>
    <div class="main-row" style="padding-bottom: 150px">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'sitnet_lastname' | translate }}</th>
                        <th>{{ 'sitnet_firstname' | translate }}</th>
                        <th>{{ 'sitnet_email' | translate }}</th>
                        <th>{{ 'sitnet_userid' | translate }}</th>
                        <th>{{ 'sitnet_employeeno' | translate }}</th>
                        <th>{{ 'sitnet_last_login' | translate }}</th>
                        <th>{{ 'sitnet_user_roles' | translate }}</th>
                        <th>{{ 'sitnet_user_permissions' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let user of filteredUsers
                                | slice : currentPage * pageSize : currentPage * pageSize + pageSize
                        "
                    >
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>
                            <a class="pointer" href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </td>
                        <td>{{ user.userIdentifier }}</td>
                        <td>{{ user.employeeNumber }}</td>
                        <td>{{ user.lastLogin | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
                        <td>
                            <i *ngIf="hasRole(user, 'ADMIN')" class="bi-gear-fill"></i>
                            <i *ngIf="hasRole(user, 'TEACHER')" class="bi-person-fill"></i>
                            <i *ngIf="hasRole(user, 'STUDENT')" class="bi-person"></i>

                            <div class="float-end">
                                <span class="no-caret pointer" ngbDropdown>
                                    <button
                                        type="button"
                                        class="border-none background-none pad0"
                                        id="addRoleDropdown"
                                        ngbDropdownToggle
                                        aria-expanded="true"
                                        [disabled]="user.availableRoles.length === 0"
                                    >
                                        <i *ngIf="user.availableRoles.length > 0" class="text-success bi-plus"></i>
                                        <i *ngIf="user.availableRoles.length === 0" class="text-muted bi-plus"></i>
                                    </button>
                                    <div
                                        ngbDropdownMenu
                                        role="menu"
                                        *ngIf="user.availableRoles.length > 0"
                                        aria-labelledby="addRoleDropdown"
                                    >
                                        <div class="dropdown-header">{{ 'sitnet_add' | translate }}</div>
                                        <button
                                            *ngFor="let role of user.availableRoles"
                                            ngbDropdownItem
                                            (click)="addRole(user, role)"
                                            (keydown.enter)="addRole(user, role)"
                                        >
                                            {{ role.name | translate }}
                                            <i [ngClass]="role.icon"></i>
                                        </button>
                                    </div>
                                </span>
                                <span class="no-caret" ngbDropdown>
                                    <button
                                        id="removeRoleDropdown"
                                        class="border-none background-none pad0 marl5"
                                        type="button"
                                        ngbDropdownToggle
                                        aria-expanded="true"
                                        [disabled]="user.removableRoles.length <= 1"
                                    >
                                        <i *ngIf="user.removableRoles.length > 1" class="text-danger bi-dash"></i>
                                        <i
                                            *ngIf="user.removableRoles.length <= 1"
                                            class="text-muted bi-dash"
                                            triggers="mouseenter:mouseleave"
                                            popoverTitle="{{ 'sitnet_instructions' | translate }}"
                                            ngbPopover="{{ 'sitnet_at_least_one_role_required' | translate }}"
                                        ></i>
                                    </button>
                                    <div
                                        ngbDropdownMenu
                                        class="float-end"
                                        role="menu"
                                        *ngIf="user.removableRoles.length > 1"
                                        aria-labelledby="removeRoleDropdown"
                                    >
                                        <div class="dropdown-header">{{ 'sitnet_remove' | translate }}</div>
                                        <button
                                            *ngFor="let role of user.removableRoles"
                                            ngbDropdownItem
                                            (click)="removeRole(user, role)"
                                            (keydown.enter)="removeRole(user, role)"
                                        >
                                            {{ role.name | translate }}
                                            <i [ngClass]="role.icon"></i>
                                        </button>
                                    </div>
                                </span>
                            </div>
                        </td>
                        <td>
                            <i *ngIf="hasPermission(user, 'CAN_INSPECT_LANGUAGE')" class="bi-pencil"></i>

                            <div class="float-end">
                                <span class="no-caret" ngbDropdown>
                                    <button
                                        class="border-none background-none pad0"
                                        type="button"
                                        ngbDropdownToggle
                                        id="addPermissionDropdown"
                                        aria-expanded="true"
                                        [disabled]="user.availablePermissions.length === 0"
                                    >
                                        <i
                                            *ngIf="user.availablePermissions.length > 0"
                                            class="text-success bi-plus"
                                        ></i>
                                        <i
                                            *ngIf="user.availablePermissions.length === 0"
                                            class="text-muted bi-plus"
                                        ></i>
                                    </button>
                                    <div
                                        ngbDropdownMenu
                                        class="float-end"
                                        *ngIf="user.availablePermissions.length > 0"
                                        aria-labelledby="addPermissionDropdown"
                                        role="menu"
                                    >
                                        <div class="dropdown-header">{{ 'sitnet_add' | translate }}</div>
                                        <button
                                            *ngFor="let permission of user.availablePermissions"
                                            ngbDropdownItem
                                            (click)="addPermission(user, permission)"
                                            (keydown.enter)="addPermission(user, permission)"
                                        >
                                            {{ permission.name || '' | translate }}
                                            <i [ngClass]="permission.icon || ''"></i>
                                        </button>
                                    </div>
                                </span>
                                <span class="no-caret" ngbDropdown>
                                    <button
                                        class="border-none background-none pad0 marl5"
                                        type="button"
                                        ngbDropdownToggle
                                        id="removePermissionDropdown"
                                        aria-expanded="true"
                                        [disabled]="user.removablePermissions.length === 0"
                                    >
                                        <i *ngIf="user.removablePermissions.length > 0" class="text-danger bi-dash"></i>
                                        <i
                                            *ngIf="user.removablePermissions.length === 0"
                                            class="text-muted bi-dash"
                                        ></i>
                                    </button>
                                    <div
                                        ngbDropdownMenu
                                        class="float-end"
                                        *ngIf="user.removablePermissions.length > 0"
                                        aria-labelledby="removePermissionDropdown"
                                        role="menu"
                                    >
                                        <div class="dropdown-header">{{ 'sitnet_remove' | translate }}</div>
                                        <button
                                            *ngFor="let permission of user.removablePermissions"
                                            ngbDropdownItem
                                            (click)="removePermission(user, permission)"
                                            (keydown.enter)="removePermission(user, permission)"
                                        >
                                            {{ permission.name || '' | translate }}
                                            <i [ngClass]="permission.icon || ''"></i>
                                        </button>
                                    </div>
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="filteredUsers && filteredUsers.length > pageSize">
                <xm-paginator
                    [items]="filteredUsers"
                    (pageSelected)="pageSelected($event)"
                    [pageSize]="pageSize"
                    [currentPage]="currentPage"
                ></xm-paginator>
            </div>
        </div>
    </div>
</div>
