<div class="col-md-12">
    <div class="sitnet-info-text">{{ 'sitnet_room_accessibility_info' | translate }}</div>
    <div>
        <span class="dropdown" ngbDropdown>
            <button
                ngbDropdownToggle
                class="btn btn-outline-secondary"
                type="button"
                id="dropDownMenu1"
                aria-expanded="true"
            >
                {{ selectedAccessibilities() }}&nbsp;<span class="caret"></span>
            </button>
            <ul ngbDropdownMenu style="padding-left: 0; min-width: 17em" role="menu" aria-labelledby="dropDownMenu1">
                <li
                    ngbDropdownItem
                    *ngFor="let ac of accessibilities"
                    role="presentation"
                    class="pointer"
                    [ngClass]="isSelected(ac) ? 'active' : ''"
                    (click)="updateAccessibility(ac)"
                    (keydown.enter)="updateAccessibility(ac)"
                    tabindex="0"
                >
                    <a role="menuitem" title="{{ ac.name }}">{{ ac.name }}</a>
                </li>
            </ul>
        </span>
    </div>
</div>
