<div class="col-md-12">
    <div class="sitnet-info-text">{{ 'sitnet_room_accessibility_info' | translate }}</div>
    <div>
        <span class="dropdown" ngbDropdown>
            <button
                ngbDropdownToggle
                class="btn btn-default dropdown-toggle"
                type="button"
                id="dropDownMenu1"
                data-toggle="dropdown"
                aria-expanded="true"
            >
                {{ selectedAccessibilities() }}&nbsp;<span class="caret"></span>
            </button>
            <ul
                class="dropdown-menu"
                style="padding-left: 0; min-width: 17em"
                role="menu"
                aria-labelledby="dropDownMenu1"
            >
                <li
                    *ngFor="let ac of accessibilities"
                    role="presentation"
                    [ngClass]="isSelected(ac) ? 'active' : ''"
                    (click)="updateAccessibility(ac)"
                >
                    <a role="menuitem" class="pointer" title="{{ ac.name }}">{{ ac.name }}</a>
                </li>
            </ul>
        </span>
    </div>
</div>
