<nav aria-label="side navigation" *ngIf="user" id="vmenu" class="hidden-print">
    <a class="skip-main" id="skip-button-main" [href]="getSkipLinkPath('#mainView')">{{
        'sitnet-skip-to-content' | translate
    }}</a>
    <div class="nav-container">
        <div class="nav-header">
            <div class="logo">
                <div class="hidden-mobile">
                    <img
                        src="/assets/assets/images/exam-logo-new.svg"
                        alt="exam"
                        onerror="this.onerror = null;
                            this.src = '/assets/assets/images/exam-logo-new.png'"
                    />
                </div>
                <div class="visible-mobile">
                    <div class="mobile-menu" (click)="openMenu()" [hidden]="!user">
                        <img
                            src="/assets/assets/images/icon_menu_mobile.svg"
                            alt="exam-menu-mobile"
                            onerror="this.onerror = null;
                                this.src = '/assets/assets/images/icon_menu_mobile.png'"
                        />
                    </div>
                    <img
                        src="/assets/assets/images/exam-logo-mobile.svg"
                        alt="exam-log-mobile"
                        onerror="this.onerror = null;
                            this.src = '/assets/assets/images/exam-logo-mobile.png'"
                    />
                </div>
            </div>
            <div [hidden]="!appVersion">
                <div class="app-version">v. {{ appVersion }}</div>
            </div>
        </div>

        <div class="nav-body">
            <ul class="links">
                <li *ngFor="let link of links" [hidden]="!link.visible">
                    <a [ngClass]="{ selected: isActive(link) }" uiSref="{{ link.state }}">
                        <img
                            width="18"
                            src="/assets/assets/images/nav/{{ link.iconPng }}"
                            alt="{{ link.state | translate }}"
                        />
                        <span class="menu-item" (click)="link.submenu.hidden = !link.submenu.hidden">{{
                            link.name | translate
                        }}</span>
                    </a>
                    <a class="skip" id="skip-button" [hidden]="!isActive(link)" [href]="getSkipLinkPath('#mainView')">{{
                        'sitnet-skip-to-content' | translate
                    }}</a>
                    <ul class="submenu" [hidden]="!link.submenu.hidden">
                        <li
                            *ngFor="let subitem of link.submenu.items"
                            [hidden]="!subitem.visible"
                            [ngClass]="{ selectedsub: isActive(subitem) }"
                        >
                            <a uiSref="{{ subitem.state }}">
                                <div>
                                    <img
                                        width="18"
                                        src="/assets/assets/images/nav/{{ subitem.iconPng }}"
                                        alt="{{ link.state | translate }}"
                                    />
                                    {{ subitem.name | translate }}
                                </div>
                            </a>
                            <a
                                class="skip"
                                id="skip-button"
                                [hidden]="!isActive(subitem)"
                                [href]="getSkipLinkPath('#mainView')"
                                >{{ 'sitnet-skip-to-content' | translate }}</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="nav-body-mobile pt-2 pb-2" [hidden]="!mobileMenuOpen">
            <ul class="links">
                <li *ngFor="let link of links" [hidden]="!link.visible">
                    <a
                        [ngClass]="{ selected: isActive(link) }"
                        uiSref="{{ link.state }}"
                        (click)="link.submenu.hidden = !link.submenu.hidden"
                    >
                        <img
                            width="18"
                            src="/assets/assets/images/nav/{{ link.iconPng }}"
                            alt="{{ link.state | translate }}"
                        />
                        <span class="menu-item">{{ link.name | translate }}</span>
                    </a>
                    <ul class="submenu" *ngIf="!link.submenu.hidden && link.submenu.items">
                        <li
                            *ngFor="let subitem of link.submenu.items"
                            [ngClass]="{ selectedsub: isActive(subitem) }"
                            [hidden]="!subitem.visible"
                        >
                            <a uiSref="{{ subitem.state }}">
                                <div>
                                    <img
                                        width="18"
                                        src="/assets/assets/images/nav/{{ subitem.iconPng }}"
                                        alt="{{ link.state | translate }}"
                                    />
                                    {{ subitem.name | translate }}
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="user-name pb-1 pt-2">
                        <div class="user-logo">
                            <img src="/assets/assets/images/icon_menu_user.png" alt="User logo" />
                        </div>
                        <div class="user-data">
                            {{ user.firstName }}&nbsp;{{ user.lastName }}
                            <br />
                            <span [hidden]="!user.isStudent">{{ 'sitnet_student' | translate }} </span>
                        </div>
                    </div>
                </li>
                <li>
                    <button class="locale-item border-none background-none" (click)="switchLanguage('fi')" tabindex="0">
                        FI
                    </button>
                    <button class="locale-item border-none background-none" (click)="switchLanguage('sv')" tabindex="0">
                        SV
                    </button>
                    <button class="locale-item border-none background-none" (click)="switchLanguage('en')" tabindex="0">
                        EN
                    </button>
                </li>
            </ul>
        </div>

        <div class="nav-footer">
            <div class="user" [hidden]="!user">
                <div class="user-name">
                    <div class="user-logo">
                        <img src="/assets/assets/images/icon_menu_user.png" alt="User logo" />
                    </div>
                    <div class="user-data">
                        {{ user.firstName }}&nbsp;{{ user.lastName }}
                        <br />
                        <span [hidden]="!user.isStudent">{{ 'sitnet_student' | translate }} </span>
                    </div>
                </div>
            </div>
            <div class="locale-bar">
                <button class="locale-item border-none background-none" (click)="switchLanguage('fi')" tabindex="0">
                    FI
                </button>
                <button class="locale-item border-none background-none" (click)="switchLanguage('sv')" tabindex="0">
                    SV
                </button>
                <button class="locale-item border-none background-none" (click)="switchLanguage('en')" tabindex="0">
                    EN
                </button>
            </div>
        </div>
    </div>
</nav>
