<div class="col-md-12 mart20 marb10" ng-show="$ctrl.question.type == 'WeightedMultipleChoiceQuestion'">
    <div class="col-md-6 padl0">
        <span class="question-option-title">{{'sitnet_option' | translate}}</span>
        <br/><span>
            <i ng-if="$ctrl.showWarning()" class="fa fa-exclamation-circle reddish"></i>
            <small ng-if="$ctrl.showWarning()">{{'sitnet_shared_question_property_info' | translate}}</small>
            </span>
    </div>
    <div class="col-md-2 question-option-title">
        {{'sitnet_word_points' | translate | uppercase}}
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="col-md-12 mart20 marb10" ng-show="$ctrl.question.type == 'MultipleChoiceQuestion'">
    <div class="col-md-6 padl0">
        <span class="question-option-title">{{'sitnet_option' | translate}}</span>
        <br/><span>
            <i ng-if="$ctrl.showWarning()" class="fa fa-exclamation-circle reddish"></i>
            <small ng-if="$ctrl.showWarning()">{{'sitnet_shared_question_property_info' | translate}}</small>
            </span>
    </div>
    <div class="col-md-2">
        <div class="question-option-title make-inline">
            {{'sitnet_multiplechoice_question_correct' | translate | uppercase}}
        </div>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
    </div>

</div>


<div id="question-editor">

    <div class="row" ng-repeat="option in $ctrl.question.options" ng-include="$ctrl.newOptionTemplate"></div>

    <div ng-show="$ctrl.question.type == 'WeightedMultipleChoiceQuestion'"
         class="row">
        <div class="col-md-6">&nbsp;</div>
        <div class="col-md-2 question-option-title">{{'sitnet_max_score' | translate | uppercase}}:
            {{$ctrl.calculateDefaultMaxPoints()}}
        </div>
    </div>

    <div class="row mart20 padl30">
        <a ng-click="$ctrl.addNewOption()" class="attachment-link pointer">
            <i class="fa fa-plus"></i>
            {{'sitnet_question_add_new_option'|translate}}
        </a>
    </div>
</div>
