<div id="dashboard">
    <div class="row mt-4 ml-2">
        <div class="col-md-12 mt-2">
            <div class="student-details-title-wrap">
                <history-back></history-back>
                <h1 class="student-exam-details-title">{{ 'sitnet_calendar' | translate }}</h1>
            </div>
        </div>
    </div>

    <!-- Phase 1: Exam Info -->
    <calendar-exam-info
        *ngIf="examInfo && reservationWindowSize"
        [examInfo]="examInfo"
        [reservationWindowSize]="reservationWindowSize"
        [collaborative]="isCollaborative"
    ></calendar-exam-info>
    <!-- Phase 2: Optional exam section selection (optional) -->
    <div *ngIf="examInfo && hasOptionalSections()" class="mart10">
        <calendar-optional-sections
            [examInfo]="examInfo"
            (onSelection)="onSectionSelection($event)"
        ></calendar-optional-sections>
    </div>
    <!-- Phase 3: Organisation picker -->
    <div *ngIf="isInteroperable && isExternal" class="mart10">
        <calendar-organisation-picker
            [sequenceNumber]="getSequenceNumber('organization')"
            [disabled]="!sectionSelectionOk()"
            (onSelection)="setOrganisation($event)"
            (onCancel)="makeInternalReservation()"
        ></calendar-organisation-picker>
    </div>
    <!-- Phase 4: Room picker -->
    <div class="mart10">
        <calendar-slot-picker
            [sequenceNumber]="getSequenceNumber('room')"
            [isInteroperable]="isInteroperable"
            [isExternal]="isExternal"
            [isCollaborative]="isCollaborative"
            [organisation]="selectedOrganisation"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [disabled]="!sectionSelectionOk()"
            (onCancel)="makeExternalReservation()"
            (onEventSelected)="createReservation($event)"
        >
        </calendar-slot-picker>
    </div>

    <!-- Reservation confirmation -->

    <div class="row mart10 marb20">
        <div class="col-md-8 col-12">
            <div class="row student-enrolment-wrapper details-view" [ngClass]="reservation ? '' : 'notactive'">
                <div class="col-md-12">
                    <div class="row">
                        <span class="col-md-12 marb10">
                            <span class="calendar-phase-title"
                                >{{ getSequenceNumber('confirmation') }}. {{ 'sitnet_calendar_phase_3' | translate }}
                            </span>
                            <span class="calendar-phase-icon pull-right" [hidden]="!reservation">
                                <img
                                    class="arrow_icon"
                                    src="/assets/assets/images/icon-phase.png"
                                    alt="reservation confirmation"
                                />
                            </span>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="calendar-titles">
                                <span class="calendar-course-title">{{ examInfo.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                    {{ 'sitnet_course_name' | translate }}:
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                    <div *ngIf="examInfo.course">
                                        <course-code *ngIf="examInfo" [course]="examInfo.course"></course-code>
                                        {{ examInfo.course.name }}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                                    {{ 'sitnet_exam_validity' | translate }}:
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                    {{ examInfo.examActiveStartDate | date: 'dd.MM.yyyy' }} -
                                    {{ examInfo.examActiveEndDate | date: 'dd.MM.yyyy' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                    {{ 'sitnet_examination_location' | translate }}:
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                    {{ reservation?.room?.name }}
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-2">
                                    {{ 'sitnet_reservation' | translate }}:
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                                    {{ reservation?.time }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                    {{ 'sitnet_exam_duration' | translate }}:
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                    {{ printExamDuration(examInfo) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="row mart20 marb10 marr10 marl10 align-items-center">
                <div class="col-md-12">
                    <button
                        [disabled]="!reservation || confirming"
                        class="btn btn-lg btn-success float-right"
                        style="width: 100%; line-height: 1.5; border-radius: 3px"
                        (click)="confirmReservation()"
                        tabindex="0"
                        (keyup.enter)="confirmReservation()"
                    >
                        {{ 'sitnet_student_confirm_reservation' | translate }}
                    </button>
                </div>
            </div>
            <div class="row mart20 marb10 marr10 marl10 align-items-center">
                <div class="col-md-12">
                    <button
                        class="btn btn-lg btn-outline-secondary float-right"
                        style="width: 100%; line-height: 1.5; border-radius: 3px"
                        (click)="cancel()"
                    >
                        {{ 'sitnet_button_cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
