@media screen {
    // maturity report
    .print-only {
        display: none !important;
    }
}

@media print {
    // maturity report

    a[href]:after {
        content: none !important;
    }

    .no-print {
        display: none !important;
    }
}
