<div>
    <form role="form" #addressForm="ngForm" name="addressForm" novalidate id="roomAddress">
        <div class="row">
            <div class="col-md-6">
                <div class="sitnet-info-text">{{ 'sitnet_exam_room_address_street' | translate }}</div>
                <div class="input-group">
                    <input
                        type="text"
                        name="street"
                        class="form-control ng-pristine ng-valid"
                        [(ngModel)]="address.street"
                        required
                        (blur)="validateAndUpdateAddress()"
                    />
                    <span class="input-group-append">
                        <i
                            class="fa fa-question-circle input-group-text"
                            placement="left"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'sitnet_exam_room_address_street' | translate }}"
                        ></i>
                    </span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="sitnet-info-text">{{ 'sitnet_exam_room_address_zip' | translate }}</div>
                <div class="input-group">
                    <input
                        type="text"
                        name="zip"
                        class="form-control ng-pristine ng-valid"
                        [(ngModel)]="address.zip"
                        required
                        (blur)="validateAndUpdateAddress()"
                    />
                    <span class="input-group-append">
                        <i
                            class="fa fa-question-circle input-group-text"
                            placement="left"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'sitnet_exam_room_address_zip' | translate }}"
                        ></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="sitnet-info-text">{{ 'sitnet_exam_room_address_city' | translate }}</div>
                <div class="input-group">
                    <input
                        type="text"
                        name="city"
                        class="form-control ng-pristine ng-valid"
                        [(ngModel)]="address.city"
                        required
                        (blur)="validateAndUpdateAddress()"
                    />
                    <span class="input-group-append">
                        <i
                            class="fa fa-question-circle input-group-text"
                            placement="left"
                            triggers="mouseenter:mouseleave"
                            ngbPopover="{{ 'sitnet_exam_room_address_city' | translate }}"
                        ></i>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
