<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<xm-page-header text="i18n_settings" />
@if (config) {
    <xm-page-content [content]="content" />
}
<ng-template #content>
    <div class="row">
        <div class="col-12 form-group">
            <label for="editor">{{ 'i18n_user_agreement' | translate }}</label>
            <xm-ckeditor
                id="editor"
                #ck="ngModel"
                name="editor"
                ck-editor
                rows="10"
                cols="80"
                [(ngModel)]="config.eula"
            ></xm-ckeditor>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-1">
            <button (click)="updateAgreement()" class="btn btn-success">
                {{ 'i18n_button_save' | translate }}
            </button>
        </div>
        <div class="col form-check mt-2">
            <label class="form-check-label ms-2" for="exclude-update">{{
                'i18n_minor_agreement_update' | translate
            }}</label>
            <input id="exclude-update" class="form-check-input" type="checkbox" [(ngModel)]="minorAgreementUpdate" />
        </div>
    </div>

    <div class="row mt-2 align-items-end">
        <div class="col-2 form-group">
            <label for="deadline">{{ 'i18n_review_deadline' | translate }} ({{ 'i18n_days' | translate }})</label>
            <input
                id="deadline"
                name="deadline"
                class="form-control"
                type="number"
                lang="en"
                [min]="1"
                [(ngModel)]="config.reviewDeadline"
                ngbPopover="{{ 'i18n_info_deadline' | translate }}"
                triggers="mouseenter:mouseleave"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
            />
        </div>
        <div class="col-10">
            <button (click)="updateDeadline()" class="btn btn-success">
                {{ 'i18n_button_save' | translate }}
            </button>
        </div>
    </div>

    <div class="row mt-2 align-items-end">
        <div class="col-2 form-group">
            <label for="reservationWindow"
                >{{ 'i18n_reservation_window' | translate }} ({{ 'i18n_days' | translate }})</label
            >
            <input
                id="reservationWindow"
                name="reservationWindow"
                class="form-control"
                type="number"
                lang="en"
                [min]="1"
                [(ngModel)]="config.reservationWindowSize"
                ngbPopover="{{ 'i18n_info_reservation_window' | translate }}"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
            />
        </div>
        <div class="col-10">
            <button (click)="updateReservationWindow()" class="btn btn-success">
                {{ 'i18n_button_save' | translate }}
            </button>
        </div>
    </div>

    <div class="row mt-4 ms-2">
        <div class="col-6">
            <strong>{{ 'i18n_exam_instance_settings' | translate }}</strong>
            @if (config) {
                <ul>
                    <li>
                        <strong>{{ 'i18n_interoperable' | translate }}:</strong>&nbsp;
                        @if (config.isExamVisitSupported) {
                            <span>{{ 'DIALOGS_YES' | translate }}</span>
                        }
                        @if (!config.isExamVisitSupported) {
                            <span>{{ 'DIALOGS_NO' | translate }}</span>
                        }
                    </li>
                    <li>
                        <strong>{{ 'i18n_exam_collaboration_supported' | translate }}:</strong>&nbsp;
                        @if (config.isExamCollaborationSupported) {
                            <span>{{ 'DIALOGS_YES' | translate }}</span>
                        }
                        @if (!config.isExamCollaborationSupported) {
                            <span>{{ 'DIALOGS_NO' | translate }}</span>
                        }
                    </li>
                    <li>
                        <strong>{{ 'i18n_anonymous_review' | translate }}:</strong>&nbsp;
                        @if (config.anonymousReviewEnabled) {
                            <span>{{ 'DIALOGS_YES' | translate }}</span>
                        }
                        @if (!config.anonymousReviewEnabled) {
                            <span>{{ 'DIALOGS_NO' | translate }}</span>
                        }
                    </li>
                    <li>
                        <strong>{{ 'i18n_course_integration_support' | translate }}:</strong>&nbsp;
                        @if (config.hasCourseSearchIntegration) {
                            <span>{{ 'DIALOGS_YES' | translate }}</span>
                        }
                        @if (!config.hasCourseSearchIntegration) {
                            <span>{{ 'DIALOGS_NO' | translate }}</span>
                        }
                    </li>
                    @if (config.hasCourseSearchIntegration) {
                        <ul>
                            @for (item of config.courseSearchIntegrationUrls | keyvalue; track item) {
                                <li>
                                    <strong>{{ item.key }}:</strong>&nbsp;{{ item.value }}
                                </li>
                            }
                        </ul>
                    }
                    <li>
                        <strong>{{ 'i18n_enrolment_check_integration_support' | translate }}:</strong>&nbsp;
                        @if (config.hasEnrolmentCheckIntegration) {
                            <span>{{ 'DIALOGS_YES' | translate }}</span>
                        }
                        @if (!config.hasEnrolmentCheckIntegration) {
                            <span>{{ 'DIALOGS_NO' | translate }}</span>
                        }
                    </li>
                    <li>
                        <strong>{{ 'i18n_supports_maturity' | translate }}:</strong>&nbsp;
                        @if (config.supportsMaturity) {
                            <span>{{ 'DIALOGS_YES' | translate }}</span>
                        }
                        @if (!config.supportsMaturity) {
                            <span>{{ 'DIALOGS_NO' | translate }}</span>
                        }
                    </li>
                    <li>
                        <strong>{{ 'i18n_supports_printouts' | translate }}:</strong>&nbsp;
                        @if (config.supportsPrintouts) {
                            <span>{{ 'DIALOGS_YES' | translate }}</span>
                        }
                        @if (!config.supportsPrintouts) {
                            <span>{{ 'DIALOGS_NO' | translate }}</span>
                        }
                    </li>
                    <li>
                        <strong>{{ 'i18n_role_mapping' | translate }}</strong>
                    </li>
                    <ul>
                        <li>
                            <strong>{{ 'i18n_student' | translate }}:</strong>&nbsp;
                            {{ config.roles.STUDENT.join(', ') }}
                        </li>
                        <li>
                            <strong>{{ 'i18n_teacher' | translate }}:</strong>&nbsp;
                            {{ config.roles.TEACHER.join(', ') }}
                        </li>
                        <li>
                            <strong>{{ 'i18n_admin' | translate }}:</strong>&nbsp; {{ config.roles.ADMIN.join(', ') }}
                        </li>
                    </ul>
                    <li>
                        <strong>{{ 'i18n_exam_durations' | translate }}:</strong>&nbsp;
                        {{ config.examDurations.join(', ') }}
                    </li>
                    <li>
                        <strong>{{ 'i18n_grade_scale_overridable' | translate }}:</strong>&nbsp;
                        @if (!config.isGradeScaleOverridable) {
                            <span>{{ 'DIALOGS_YES' | translate }}</span>
                        }
                        @if (config.isGradeScaleOverridable) {
                            <span>{{ 'DIALOGS_NO' | translate }}</span>
                        }
                    </li>
                    <li>
                        <strong>{{ 'i18n_attachment_max_size' | translate }}:</strong>&nbsp;{{
                            config.maxFileSize / 1000000
                        }}
                        MB
                    </li>
                    <li>
                        <strong>{{ 'i18n_exam_expiration_period' | translate }}:</strong>&nbsp;{{
                            config.expirationPeriod
                        }}
                    </li>
                    <li>
                        <strong>{{ 'i18n_default_timezone' | translate }}:</strong>&nbsp;{{ config.defaultTimeZone }}
                    </li>
                </ul>
            }
        </div>
        <div class="col-6">
            <strong>{{ 'i18n_show_http_headers' | translate }}</strong>
            <ul>
                @for (item of attributes | keyvalue; track item) {
                    <li>
                        <strong>{{ item.key }}:</strong>&nbsp;{{ item.value }}
                    </li>
                }
            </ul>
        </div>
    </div>
</ng-template>
