<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<!-- settings menu -->
@let reservation = enrolment().reservation;
@let collaborativeExam = enrolment().collaborativeExam;
@let eventConfig = enrolment().examinationEventConfiguration;
@let exam = enrolment().exam;
<div class="d-flex justify-content-between">
    @if (reservation && canChangeReservation(reservation)) {
        @if (reservation.machine && collaborativeExam) {
            <button
                class="btn btn-outline-secondary me-2 mb-2"
                [routerLink]="['/calendar', collaborativeExam.id, 'collaborative']"
            >
                {{ 'i18n_student_change_reservation' | translate }}
            </button>
        }
        @if (reservation.machine && !collaborativeExam) {
            <button class="btn btn-outline-secondary me-2 mb-2" [routerLink]="['/calendar', exam.id]">
                {{ 'i18n_student_change_reservation' | translate }}
            </button>
        }
        @if (reservation.externalReservation && exam) {
            <button class="btn btn-outline-secondary me-2 mb-2" [routerLink]="['/calendar', exam.id, 'external']">
                {{ 'i18n_student_change_reservation' | translate }}
            </button>
        }
        @if (reservation.externalReservation && collaborativeExam) {
            <button
                class="btn btn-outline-secondary me-2 mb-2"
                [routerLink]="['/calendar', collaborativeExam.id, 'external']"
                [queryParams]="{ isCollaborative: true }"
            >
                {{ 'i18n_student_change_reservation' | translate }}
            </button>
        }
    }
    @if (
        (!reservation && exam?.implementation === 'AQUARIUM') ||
        collaborativeExam ||
        (!eventConfig && exam?.implementation !== 'AQUARIUM' && hasUpcomingAlternativeEvents())
    ) {
        <button class="btn btn-success me-2 mb-2" (click)="makeReservation()">
            {{ 'i18n_student_new_reservation' | translate }}
        </button>
    }
    @if (eventConfig && hasUpcomingAlternativeEvents()) {
        <button class="btn btn-outline-secondary me-2 mb-2" (click)="makeReservation()">
            {{ 'i18n_student_change_reservation' | translate }}
        </button>
    }
    @if (reservation && canChangeReservation(reservation)) {
        <button class="btn btn-outline-danger me-2 mb-2" (click)="removeReservation()">
            {{ 'i18n_student_remove_reservation' | translate }}
        </button>
    }
    @if (reservation && !canChangeReservation(reservation)) {
        <button class="btn btn-outline-danger me-2 mb-2" [disabled]="true">
            {{ 'i18n_not_allowed_to_modify_reservation' | translate }}
        </button>
    }
    @if (eventConfig) {
        <button class="btn btn-outline-danger me-2 mb-2" (click)="removeReservation()">
            {{ 'i18n_student_remove_reservation' | translate }}
        </button>
    }
    @if (!reservation && !eventConfig && (exam?.executionType?.type === 'PUBLIC' || collaborativeExam)) {
        <button class="btn btn-outline-danger me-2 mb-2" (click)="removeEnrolment()">
            {{ 'i18n_student_remove_enrolment' | translate }}
        </button>
    }
</div>
