<!-- settings menu -->
<div ngbDropdown class="no-caret flex justify-content-end">
    <button ngbDropdownToggle class="btn btn-outline-secondary">
        <i class="bi-pencil me-2"></i>{{ 'i18n_edit_enrolment' | translate }}
    </button>
    <div ngbDropdownMenu>
        <!-- enrolment with reservation, allow changing -->
        @if (enrolment.reservation && canChangeReservation(enrolment.reservation)) {
            <div ngbDropdownItem>
                @if (enrolment.reservation.machine && enrolment.collaborativeExam) {
                    <a
                        class="btn btn-outline-secondary"
                        [routerLink]="['/calendar', enrolment.collaborativeExam.id, 'collaborative']"
                        >{{ 'i18n_student_change_reservation' | translate }}
                    </a>
                } @else {
                    <a class="btn btn-outline-secondary" [routerLink]="['/calendar', enrolment.exam.id]"
                        >{{ 'i18n_student_change_reservation' | translate }}
                    </a>
                }
                @if (enrolment.reservation.externalReservation && enrolment.exam) {
                    <a class="btn btn-outline-secondary" [routerLink]="['/calendar', enrolment.exam.id, 'external']"
                        >{{ 'i18n_student_change_reservation' | translate }}
                    </a>
                }
                @if (enrolment.reservation.externalReservation && enrolment.collaborativeExam) {
                    <a
                        class="btn btn-outline-secondary"
                        [routerLink]="['/calendar', enrolment.exam.id, 'external']"
                        [queryParams]="{ isCollaborative: true }"
                        >{{ 'i18n_student_change_reservation' | translate }}
                    </a>
                }
            </div>
        }
        <!-- enrolment with examination event, allow changing -->
        @if (enrolment.examinationEventConfiguration && hasUpcomingAlternativeEvents()) {
            <div ngbDropdownItem>
                <button class="btn btn-outline-secondary" (click)="makeReservation()">
                    {{ 'i18n_student_change_reservation' | translate }}
                </button>
            </div>
        }
        <!-- enrolment with reservation, allow reservation removal -->
        @if (enrolment.reservation && canChangeReservation(enrolment.reservation)) {
            <div ngbDropdownItem>
                <button class="btn btn-outline-danger" (click)="removeReservation()">
                    {{ 'i18n_student_remove_reservation' | translate }}
                </button>
            </div>
        }
        <!-- reservation in progress, inform with a disabled item -->
        @if (enrolment.reservation && !canChangeReservation(enrolment.reservation)) {
            <div>
                <button class="btn btn-outline-danger" [disabled]="true" (click)="removeReservation()">
                    {{ 'i18n_not_allowed_to_modify_reservation' | translate }}
                </button>
            </div>
        }
        <!-- enrolment with examination event, allow event removal -->
        @if (enrolment.examinationEventConfiguration) {
            <div ngbDropdownItem>
                <button class="btn btn-outline-danger" (click)="removeReservation()">
                    {{ 'i18n_student_remove_reservation' | translate }}
                </button>
            </div>
        }
        <!-- enrolment without reservation or examination event, allow unenrolling (if other conditions pass) -->
        @if (
            !enrolment.reservation &&
            !enrolment.examinationEventConfiguration &&
            (enrolment.exam?.executionType?.type === 'PUBLIC' || enrolment.collaborativeExam)
        ) {
            <div ngbDropdownItem>
                <button (click)="removeEnrolment()" class="btn btn-outline-danger">
                    {{ 'i18n_student_remove_enrolment' | translate }}
                </button>
            </div>
        }
        <!-- enrolment without reservation, allow making reservation -->
        @if ((!enrolment.reservation && enrolment.exam?.implementation === 'AQUARIUM') || enrolment.collaborativeExam) {
            <div ngbDropdownItem>
                <button (click)="makeReservation()" class="btn btn-outline-secondary">
                    {{ 'i18n_student_new_reservation' | translate }}
                </button>
            </div>
        }
        <!-- enrolment without examination event, allow making reservation -->
        @if (
            !enrolment.examinationEventConfiguration &&
            enrolment.exam?.implementation !== 'AQUARIUM' &&
            hasUpcomingAlternativeEvents()
        ) {
            <div ngbDropdownItem>
                <button class="btn btn-outline-secondary" (click)="makeReservation()">
                    {{ 'i18n_student_new_reservation' | translate }}
                </button>
            </div>
        }
    </div>
</div>
