/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

.table-column-enroll-participation {
    width: 10%;
    font-weight: bold;
    font-size: 1.2em;

    span {
        font-size: 0.8em;
        color: rgba(0, 0, 0, 0.3);
    }
}
