<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div class="row my-4">
    <div class="col-md-7">
        <div class="input-group">
            <input
                [(ngModel)]="filterText"
                type="text"
                class="form-control"
                placeholder="{{ 'i18n_exam_search_description' | translate }}"
                (ngModelChange)="search($event)"
            />
            <div class="input-group-append bi-search search-append"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped xm-data-table">
            <thead>
                <tr>
                    <th class="with-top">
                        <xm-table-sort
                            [reverse]="sorting().reverse"
                            [predicate]="sorting().predicate"
                            by="name"
                            text="i18n_exam_name"
                            (click)="setPredicate('name')"
                        ></xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="course.code"
                            text="i18n_course_code"
                            [sliced]="true"
                            [predicate]="sorting().predicate"
                            [reverse]="sorting().reverse"
                            (click)="setPredicate('course.code')"
                        ></xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="executionType.type"
                            text="i18n_exam_type"
                            [predicate]="sorting().predicate"
                            [reverse]="sorting().reverse"
                            (click)="setPredicate('executionType.type')"
                        ></xm-table-sort>
                    </th>
                    <th class="with-top">
                        <xm-table-sort
                            by="periodEnd"
                            text="i18n_exam_validity"
                            [predicate]="sorting().predicate"
                            [reverse]="sorting().reverse"
                            (click)="setPredicate('periodEnd')"
                        ></xm-table-sort>
                    </th>

                    @for (column of extraData(); track column) {
                        <th class="with-top with-space">
                            <xm-table-sort
                                by="{{ column.property }}"
                                text="{{ column.text }}"
                                [sliced]="!!column.sliced"
                                [predicate]="sorting().predicate"
                                [reverse]="sorting().reverse"
                                (click)="setPredicate(column.property)"
                            ></xm-table-sort>
                        </th>
                    }
                    <th class="with-top">
                        <xm-table-sort
                            by="ownerAggregate"
                            text="i18n_teachers"
                            [predicate]="sorting().predicate"
                            [reverse]="sorting().reverse"
                            (click)="setPredicate('ownerAggregate')"
                        ></xm-table-sort>
                    </th>
                    <th class="with-top">{{ 'i18n_remove' | translate }}</th>
                    <th class="with-top">{{ 'i18n_copy' | translate }}</th>
                </tr>
            </thead>

            <tbody>
                @for (exam of items() | orderBy: sorting().predicate : sorting().reverse; track exam) {
                    <tr>
                        @if (exam.name) {
                            <td>
                                @if (isOwner(exam)) {
                                    <a
                                        [routerLink]="['/staff/exams', exam.id, '1']"
                                        [state]="{ collaborative: false }"
                                        >{{ exam.name }}</a
                                    >
                                }
                                @if (!isOwner(exam)) {
                                    <span>{{ exam.name }}</span>
                                }
                            </td>
                        }
                        @if (!exam.name) {
                            <td>
                                @if (isOwner(exam)) {
                                    <a
                                        class="text-danger"
                                        [routerLink]="['/staff/exams', exam.id, '1']"
                                        [state]="{ collaborative: false }"
                                        >{{ 'i18n_no_name' | translate }}</a
                                    >
                                }
                                @if (!isOwner(exam)) {
                                    <span class="text-danger">{{ 'i18n_no_name' | translate }}</span>
                                }
                            </td>
                        }
                        <td>
                            @if (exam.course) {
                                <xm-course-code [course]="exam.course"></xm-course-code>
                            }
                        </td>
                        <td>
                            <span class="text-uppercase">{{ getExecutionTypeTranslation(exam) }}</span>
                        </td>
                        <td>
                            @if (exam.periodStart && exam.periodEnd) {
                                <span>
                                    {{ exam.periodStart | date: 'dd.MM.yyyy' }} -
                                    {{ exam.periodEnd | date: 'dd.MM.yyyy' }}
                                </span>
                            }
                        </td>
                        @for (column of extraData(); track column) {
                            <td class="table-column-enroll-participation">
                                @if (
                                    (!column.checkOwnership || isOwner(exam)) && exam.executionType.type !== 'PRINTOUT'
                                ) {
                                    <a [routerLink]="getLink(column, exam)"
                                        ><strong>{{ exam[column.property] }}</strong></a
                                    >
                                }
                                @if (
                                    !isOwner(exam) && column.checkOwnership && exam.executionType.type !== 'PRINTOUT'
                                ) {
                                    <span class="text-muted">{{ exam[column.property] }}</span>
                                }

                                @if (exam.executionType.type === 'PRINTOUT') {
                                    &ndash;
                                }
                            </td>
                        }
                        <td>
                            <xm-teacher-list [exam]="exam"></xm-teacher-list>
                        </td>
                        <td class="text-center">
                            @if (isOwner(exam)) {
                                <button
                                    (click)="deleteExam(exam)"
                                    class="pointer btn btn-link"
                                    [attr.aria-label]="'i18n_exam_remove' | translate"
                                >
                                    <i class="bi-trash text-dark" aria-hidden="true"></i>
                                </button>
                            }
                        </td>
                        <td class="text-center">
                            <button
                                class="pointer btn btn-link"
                                (click)="copyExam(exam)"
                                [attr.aria-label]="'i18n_copy' | translate"
                            >
                                <i class="bi-files text-dark" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                }
                @if (items()?.length === 0) {
                    <tr>
                        <td [attr.colspan]="7 + extraData().length">
                            {{ 'i18n_exam_no_result' | translate }}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
