@import "partial/defines";
@import "partial/vmenu";
@import "partial/header";
@import "partial/exam";
@import "partial/login";
@import "partial/tables";
@import "partial/user";
@import "partial/library";
@import "partial/question-editor";
@import "partial/question-listing";
@import "partial/student_exam";
@import "partial/dialog";
@import "partial/reservation";
@import "partial/room";
@import "partial/dashboard";
@import "partial/form-validation";

body {
  background-color: $sitnet-white;
  font-family: "Open Sans Condensed Light";

}

//.correct-answer {
//  background-color: green;
//}
//
//.wrong-answer {
//  background-color: red;
//}

.pointer {
  cursor: pointer;
}

.vmenu-on {
  width: calc(100% - 250px);
  margin-left: 240px;
}

.vmenu-off {
  width: 100%;
  margin-left: 80px;
}

.inline {
  display: inline;
}

.editable {
  cursor: pointer;
}

.editable:hover {
  color: green;
}

.sitnet-info-text {
  color: grey;
  font-style: italic;
  margin-top: 1em;
}

.sitnet-dark-green {
  color: $sitnet-dark-green;
}

.sitnet-green {
  color: $sitnet-green;
}

.sitnet-dark-blue {
  color: $sitnet-dark-blue;
}

.sitnet-blue {
  color: $sitnet-blue;
}

.sitnet-grey {
  color: $sitnet-grey;
}

.sitnet-light-grey {
  color: $sitnet-light-grey;
}

.sitnet-dark-grey {
  color: $sitnet-dark-grey;
}

.sitnet-dark {
  color: $sitnet-dark;
}

.sitnet-beige {
  color: $sitnet-beige;
}

.sitnet-white {
  color: $sitnet-white;
}

.sitnet-black {
  color: $sitnet-black;
}

.sitnet-student-lightgreen {
  color: $sitnet-student-lightgreen;
}

.sitnet-student-darkgreen {
  color: $sitnet-student-darkgreen;
}

.sitnet-student-inactive-green {
  color: $sitnet-student-inactive-green;
}

.sitnet-student-turquoise {
  color: $sitnet-student-turquoise;
}

.sitnet-student-inactive-turquoise {
  color: $sitnet-student-inactive-turquoise;
}

.sitnet-student-orange {
  color: $sitnet-student-orange;
}

.sitnet-student-inactive-gray {
  color: $sitnet-student-inactive-gray;
}

.sitnet-red {
  color: $sitnet-red;
}

.sitnet-teacher-turquoise-dark-active {
  color: $sitnet-teacher-turquoise-dark-active;
}

.sitnet-teacher-turquoise-dark-inactive {
  color: $sitnet-teacher-turquoise-dark-inactive;
}

.sitnet-teacher-turquoise-light-active {
  color: $sitnet-teacher-turquoise-light-active;
}

.sitnet-teacher-turquoise-light-inactive {
  color: $sitnet-teacher-turquoise-light-inactive;
}

.sitnet-teacher-blue-light {
  color: $sitnet-teacher-blue-light;
}

.sitnet-teacher-green-dark {
  color: $sitnet-teacher-green-dark;
}

.sitnet-teacher-green-light {
  color: $sitnet-teacher-green-light;
}
