@import "partial/defines";
@import "partial/vmenu";
@import "partial/header";
@import "partial/exam";
@import "partial/login";
@import "partial/tables";
@import "partial/user";
@import "partial/library";
@import "partial/question-editor";

body {
  background-color: $sitnet-light-grey;
}

.pointer {
  cursor: pointer;
}
.vmenu-on {
  margin-left: 16.66667%
}

.vmenu-off {
  margin-left: 0;
}

.inline {
    display: inline;
}
.editable {
    cursor: pointer;
}
.editable:hover {
  color: green;
}
.sitnet-info-text {
  color: grey;
  font-style: italic;
  margin-top: 15px;
}
.sitnet-dark-green {
  color: $sitnet-dark-green;
}
.sitnet-green {
  color: $sitnet-green;
}

.sitnet-blue {
  color: $sitnet-blue;
}

.sitnet-grey {
  color: $sitnet-grey;
}

.sitnet-light-grey {
  color: $sitnet-light-grey;
}

.sitnet-dark-grey {
  color: $sitnet-dark-grey;
}

.sitnet-dark {
  color: $sitnet-dark;
}

.sitnet-beige {
  color: $sitnet-beige;
}
.sitnet-white {
  color: $sitnet-white;
}