@import "partial/defines";
@import "partial/vmenu";
@import "partial/header";
@import "partial/exam";
@import "partial/login";

.vmenu-on {
  margin-left: 16.66667%
}

.vmenu-off {
  margin-left: 0;
}

.locale-icon {
    margin-left: 2px;
    margin-right: 2px;
 
 }
 
 .locale-bar {
    float:right;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
 }