.reservation-border {
    @media (max-width: 920px) {
        margin-left: 0;
        margin-right: 0;
    }
    border: 1px solid #c3c3c3;
}

.reservation-search-form-label {
    font-size: 12px;
    color: #777777;
    text-transform: uppercase;
}
