<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<table class="table table-striped table-sm xm-data-table px-3 mt-4">
    <thead>
        <tr>
            <th class="reservation-search">
                <xm-table-sort
                    by="userAggregate"
                    text="i18n_student"
                    [predicate]="predicate()"
                    [reverse]="reverse()"
                    (click)="setPredicate('userAggregate')"
                >
                </xm-table-sort>
            </th>
            <th class="reservation-search">
                <xm-table-sort
                    by="enrolment.exam.name"
                    text="i18n_exam"
                    [predicate]="predicate()"
                    [reverse]="reverse()"
                    (click)="setPredicate('enrolment.exam.name')"
                >
                </xm-table-sort>
            </th>
            <th class="reservation-search">
                <xm-table-sort
                    by="enrolment.exam.course.code"
                    text="i18n_examcode"
                    [predicate]="predicate()"
                    [reverse]="reverse()"
                    (click)="setPredicate('enrolment.exam.course.code')"
                >
                </xm-table-sort>
            </th>
            <th class="reservation-search">
                <xm-table-sort
                    by="enrolment.teacherAggregate"
                    text="i18n_teachers"
                    [predicate]="predicate()"
                    [reverse]="reverse()"
                    (click)="setPredicate('enrolment.teacherAggregate')"
                >
                </xm-table-sort>
            </th>
            <th class="reservation-search">
                <xm-table-sort
                    by="startAt"
                    text="i18n_date_time"
                    [predicate]="predicate()"
                    [reverse]="reverse()"
                    (click)="setPredicate('startAt')"
                >
                </xm-table-sort>
            </th>
            <th class="reservation-search">
                <xm-table-sort
                    by="machine.room.name"
                    text="i18n_examination_location_and_machine"
                    [predicate]="predicate()"
                    [reverse]="reverse()"
                    (click)="setPredicate('machine.room.name')"
                >
                </xm-table-sort>
            </th>
            <th class="reservation-search">
                <xm-table-sort
                    by="stateOrd"
                    text="i18n_exam_state"
                    [predicate]="predicate()"
                    [reverse]="reverse()"
                    (click)="setPredicate('stateOrd')"
                >
                </xm-table-sort>
            </th>
            @if (isAdminView() || isSupportView()) {
                <th class="reservation-search wrap">{{ 'i18n_actions' | translate }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (r of fixedReservations() | orderBy: predicate() : reverse(); track r.id) {
            <tr>
                <td class="reservation-search">
                    <span>{{ r.userAggregate }}</span>
                    @if (r.user?.userIdentifier) {
                        <span>&nbsp;({{ r.user.userIdentifier }})</span>
                    }
                    @if (r.user) {
                        <span>
                            <!-- local reservation or external taken reservation -->
                            <br />
                            <a class="reservation" href="mailto:{{ r.user.email }}">{{ r.user.email }}</a>
                        </span>
                    }
                    @if (!r.user && !r.externalUserRef) {
                        <span>
                            <!-- i don't know what this is -->
                            <br />
                            <span class="reservation">N/A</span>
                        </span>
                    }
                    @if (r.externalUserRef && !r.user) {
                        <span>
                            <!-- external non-taken reservation -->
                            <br />
                            <a class="reservation" href="mailto:{{ r.externalUserRef }}">{{ r.externalUserRef }}</a>
                        </span>
                    }
                </td>
                @if (
                    r.enrolment.exam.state === 'PUBLISHED' ||
                    r.enrolment.exam.state === 'STUDENT_STARTED' ||
                    r.enrolment.exam.state === 'INITIALIZED'
                ) {
                    <td class="reservation-search">
                        {{ r.enrolment.exam.name }}
                    </td>
                } @else if (!r.enrolment.exam.external) {
                    <td class="reservation-search">
                        @if (
                            !r.enrolment.collaborativeExam &&
                            r.enrolment.exam.id &&
                            (isAdminView() || isSupportView() || r.enrolment.exam.state !== 'ABORTED')
                        ) {
                            <a [routerLink]="['/staff/assessments', r.enrolment.exam.id]">{{
                                r.enrolment.exam.name
                            }}</a>
                        }
                        @if (r.enrolment.collaborativeExam || (!isAdminView() && !isSupportView())) {
                            <span>{{ r.enrolment.exam.name }}</span>
                        }
                    </td>
                }
                @if (r.enrolment.exam.external) {
                    <td class="reservation-search text-primary">
                        {{ 'i18n_exam_status_external' | translate }}
                    </td>
                }
                @if (!r.enrolment.exam.external) {
                    <td class="reservation-search">
                        @if (r.enrolment.exam.course) {
                            <xm-course-code [course]="r.enrolment.exam.course"></xm-course-code>
                        }
                    </td>
                }
                @if (r.enrolment.exam.external) {
                    <td class="reservation-search text-primary">
                        {{ 'i18n_exam_status_external' | translate }}
                    </td>
                }
                @if (r.enrolment.exam.parent) {
                    <td>
                        <xm-teacher-list [exam]="r.enrolment.exam" [useParent]="true"></xm-teacher-list>
                    </td>
                }
                @if (!r.enrolment.exam.external && !r.enrolment.exam.parent) {
                    <td class="reservation-search">
                        @if (r.enrolment.exam) {
                            <xm-teacher-list [exam]="r.enrolment.exam"></xm-teacher-list>
                        }
                    </td>
                }
                @if (r.enrolment.exam.external) {
                    <td class="reservation-search text-primary">
                        {{ 'i18n_exam_status_external' | translate }}
                    </td>
                }
                @if (r.enrolment.exam.external || r.enrolment.exam.implementation === 'AQUARIUM') {
                    <td class="reservation-search">
                        {{ r.startAt | applyDst | date: 'dd.MM.yyyy' }} <br />{{
                            r.startAt | applyDst | date: 'HH:mm'
                        }}-{{ r.endAt | applyDst | date: 'HH:mm' }}
                    </td>
                }
                @if (!r.enrolment.exam.external && r.enrolment.exam.implementation !== 'AQUARIUM') {
                    <td class="reservation-search">
                        {{ r.startAt | date: 'dd.MM.yyyy' }} <br />{{ r.startAt | date: 'HH:mm' }}-{{
                            r.endAt | date: 'HH:mm'
                        }}
                    </td>
                }
                <td class="reservation-search">
                    @if (r.externalUserRef || r.enrolment.exam.implementation === 'AQUARIUM') {
                        @if (r.org) {
                            {{ r.machine?.room?.name }}, {{ r.org.name }} ({{ r.org.code }})
                        } @else {
                            {{ r.machine?.room?.name }}
                        }
                        <br />{{ r.machine?.name }}
                    }
                    @if (!r.externalUserRef && r.enrolment.exam.implementation !== 'AQUARIUM') {
                        <span><strong class="text text-primary">BYOD</strong></span>
                    }
                </td>
                <td class="reservation-search" [ngClass]="getStateClass(r)">
                    {{ 'i18n_exam_status_' + printExamState(r) | lowercase | translate }}
                </td>
                @if (isAdminView() || isSupportView()) {
                    <td class="reservation-search pt-2">
                        @if (hasAvailableActions(r)) {
                            <div ngbDropdown>
                                <button
                                    class="btn btn-sm btn-outline-secondary"
                                    type="button"
                                    [id]="'actionsDropdown' + r.id"
                                    ngbDropdownToggle
                                >
                                    {{ 'i18n_choose' | translate }}
                                </button>
                                <div ngbDropdownMenu [attr.aria-labelledby]="'actionsDropdown' + r.id">
                                    @if (
                                        isAdminView() &&
                                        r.enrolment.exam.state === 'PUBLISHED' &&
                                        !r.enrolment.noShow &&
                                        r.enrolment.exam.implementation === 'AQUARIUM' &&
                                        !reservationIsInPast(r)
                                    ) {
                                        <button ngbDropdownItem class="text-danger" (click)="removeReservation(r)">
                                            {{ 'i18n_remove_reservation' | translate }}
                                        </button>
                                    }
                                    @if (
                                        r.enrolment.exam.state === 'ABORTED' &&
                                        r.enrolment.exam.executionType.type === 'PUBLIC'
                                    ) {
                                        <button
                                            ngbDropdownItem
                                            (click)="permitRetrial(r.enrolment)"
                                            [disabled]="!r.enrolment.exam.trialCount || r.enrolment.retrialPermitted"
                                        >
                                            {{
                                                !r.enrolment.exam.trialCount || r.enrolment.retrialPermitted
                                                    ? ('i18n_retrial_permitted' | translate)
                                                    : ('i18n_permit_retrial' | translate)
                                            }}
                                        </button>
                                    }
                                    @if (
                                        r.enrolment.exam.state === 'PUBLISHED' &&
                                        !r.enrolment.noShow &&
                                        !r.externalReservation &&
                                        r.enrolment.exam.implementation === 'AQUARIUM'
                                    ) {
                                        <button ngbDropdownItem (click)="changeReservationMachine(r)">
                                            {{ 'i18n_change_reservation_machine' | translate }}
                                        </button>
                                    }
                                </div>
                            </div>
                        } @else {
                            <span class="text-muted">&ndash;</span>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
