<div id="studentexam">
    <div class="row">
        <!-- LEFT COLUMN -->
        <div class="col-md-8 exam-content-wrapper">
            <div class="exam-content-column">

                <!-- HEADER -->
                <div class="row">
                    <div id="sitnet-header" class="header">
                        <div class="col-md-5 header-wrapper">
                            <span class="header-text">{{headerText | translate}}</span>
                        </div>
                        <div class="col-md-7" style="line-height: 4em;">
                            <span class="locale-item"> <a ng-click="switchLanguage('fi')">FIN</a></span>
                            <span class="locale-item"> <a ng-click="switchLanguage('sv')">SWE</a></span>
                            <span class="locale-item"> <a ng-click="switchLanguage('en')">ENG</a></span>
                        </div>
                    </div>
                </div>

                <!-- EXAM AREA -->
                <div class="row">
                    <div class="col-md-12 bottom-padding-2">
                        <div class="row" ng-show="!guide">
                            <div class="col-md-12 studentexam-header">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-stop fa-stack-2x sitnet-text-notice"></i>
                                  <span class="fa-stack-1x sitnet-text">{{activeSection.index}}.</span>
                                </span>
                                <span class="sitnet-text">{{activeSection.name}}</span>
                                    <span ng-show="isPreview() && activeSection.lotteryOn" class="sitnet-text-medium">
                                        <small>({{ 'sitnet_lottery_questions' | translate }})</small>
                                    </span>
                            </div>
                        </div>
                        <div class="row" ng-show="guide">
                            <div class="col-md-12 studentexam-header">
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-stop fa-stack-2x sitnet-text-notice"></i>
                                  <span class="fa fa-info-circle fa-stack-1x sitnet-text"></span>
                                </span>
                                <span class="sitnet-text">{{'sitnet_exam_guide' | translate}}</span>
                            </div>
                        </div>

                        <div class="row bottom-padding-2">
                            <div class="col-md-12">
                                <div class="section-container">
                                    <div class="list-group" ng-include="sectionTemplate">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SECTION NAVIGATION ARROWS AND LABELS -->
                        <div class="row exam-navigation">
                            <div class="col-sm-6 col-md-5 col-md-offset-1">
                                <!-- PREVIOUS SECTION BUTTON -->
                                <a class="blue_button" ng-show="previousButton.valid && !guide"
                                   ng-click="setPreviousSection()">
                                    <i class="fa fa-arrow-left sitnet-text-theme"></i><span>{{ previousButton.text }}</span>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-5 col-md-offset-1">
                                <!-- NEXT SECTION BUTTON -->
                                <a class="blue_button" ng-show="nextButton.valid" ng-click="setNextSection()">
                                    <span>{{ nextButton.text }} </span><i
                                        class="fa fa-arrow-right sitnet-text-theme icon_to_right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="col-md-4 floating-section">
            <div class="floating-clock">
                <div class="header-wrapper">
                    <span>
                        <span class="exam-clock-text"><span class="sitnet-text-dark">{{'sitnet_exam_time_left' | translate}}</span></span>
                        <span class="exam-clock">
                            <span ng-if="remainingTime > alarmLine">{{formatRemainingTime(remainingTime)}}</span>
                            <span ng-if="remainingTime <= alarmLine" class="sitnet-text-alarm">{{formatRemainingTime(remainingTime)}}</span>
                        </span>
                    </span>
                </div>
            </div>
            <!-- SECTIONS AREA -->
            <div class="top-padding-2">
                <div class="col-md-12 bottom-padding-2">
                    <div class="info-column">
                        <span class="header col-md-6">
                            <span class="sitnet-text-dark">{{ 'sitnet_logged_in_as' | translate }}:</span>
                        </span>
                        <span class="text col-md-6">{{ getUser() }}</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="info-column">
                        <span class="header col-md-6"><span
                                class="sitnet-text-dark">{{ 'sitnet_course_name' | translate }}:</span></span>
                        <span class="text col-md-6">{{ doexam.course.name }}&nbsp;</span>
                    </div>
                    <div class="info-column">
                        <span class="header col-md-6 sitnet-text-dark"><span class="sitnet-text-dark">{{ 'sitnet_course_code' | translate }}:</span></span>
                        <span class="text col-md-6">{{ doexam.course.code }}&nbsp;</span>
                    </div>
                    <div class="info-column">
                        <span class="header col-md-6 sitnet-text-dark"><span class="sitnet-text-dark">{{ 'sitnet_exam_name' | translate }}:</span></span>
                        <span class="text col-md-6">{{ doexam.name }}&nbsp;</span>
                    </div>
                    <div class="info-column">
                        <span class="header col-md-6 sitnet-text-dark"><span class="sitnet-text-dark">{{ 'sitnet_exam_duration' | translate }}:</span></span>
                        <span class="text col-md-6">{{ printExamDuration(doexam) }}&nbsp;</span>
                    </div>
                </div>
                <div class="col-md-12 top-padding-2 bottom-padding-2" ng-include="sectionsBar"></div>

                <!-- ATTACHMENT -->
                <div class="col-md-12 toolbar-item top-padding-2" ng-show="doexam.attachment"
                     ng-controller="AttachmentController">
                    <div class="row pointer" ng-click="downloadExamAttachment(doexam)">
                        <a class="col-md-1 fa-stack">
                            <i class="fa fa-stop fa-stack-2x"/>
                            <i class="fa fa-file sitnet-white fa-stack-1x"/>
                        </a>

                        <div class="col-md-11 vcenter">
                            {{'sitnet_exam_attachment' | translate}}:&nbsp;({{doexam.attachment.fileName}})
                        </div>
                    </div>
                </div>

                <!-- INSTRUCTIONS -->
                <div class="col-md-12 toolbar-item" ng-hide="doexam.executionType.type==='MATURITY'">
                    <div class="row pointer" popover-placement="left" popover-trigger="click"
                         popover="{{ currentLanguageText }}">
                        <a class="col-md-1 fa-stack">
                            <i class="fa fa-stop fa-stack-2x"></i>
                            <i class="fa fa-info-circle sitnet-white fa-stack-1x"/>
                        </a>
                        <div class="col-md-11 vcenter">
                            {{'sitnet_room_guidance' | translate}}
                        </div>
                    </div>
                </div>

                <!-- MATURITY INSTRUCTIONS -->
                <div class="col-md-12 toolbar-item" ng-click="showMaturityInstructions(doexam)"
                     ng-show="doexam.executionType.type==='MATURITY'">
                    <div class="row pointer">
                        <a class="col-md-1 fa-stack">
                            <i class="fa fa-stop fa-stack-2x"></i>
                            <i class="fa fa-info-circle sitnet-white fa-stack-1x"/>
                        </a>
                        <div class="col-md-11 vcenter">
                            {{'sitnet_maturity_instructions' | translate}}
                        </div>
                    </div>
                </div>

                <!-- EXIT / SAVE / ABORT -->
                <div class="col-md-12 toolbar-item top-padding-2" ng-show="isPreview()">
                    <div class="row pointer" ng-click="exitPreview(doexam)">
                        <a class="col-md-1 fa-stack">
                            <i class="fa fa-stop-o fa-stack-2x"></i>
                            <i class="fa fa-ban fa-stack-2x sitnet-text-alarm"/>
                        </a>

                        <div class="col-md-11 vcenter">
                            {{'sitnet_exit_preview' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 toolbar-item top-padding-2" ng-hide="isPreview()">
                    <div class="row pointer" ng-click="saveExam(doexam)">
                        <a class="col-md-1 fa-stack">
                            <i class="fa fa-stop fa-stack-2x sitnet-text-ready"></i>
                            <i class="fa fa-arrow-circle-right sitnet-white fa-stack-1x"></i>
                        </a>

                        <div class="col-md-11 vcenter">
                            {{'sitnet_save_and_return_exam' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-md-12 toolbar-item separated-item" ng-hide="isPreview()">
                    <div class="row pointer" ng-click="abortExam(doexam)">
                        <a class="col-md-1 fa-stack">
                            <i class="fa fa-stop-o fa-stack-2x"></i>
                            <i class="fa fa-ban fa-stack-2x sitnet-text-alarm"/>
                        </a>

                        <div class="col-md-11 vcenter">
                            {{'sitnet_abort_exam' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
