#dashboard {

  min-height: $sitnet-header-height;

  .title {
    margin-top: 2em;
    margin-left: 2em;
    padding-bottom: 1em;
    border-bottom-style: inset;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
  }

  .toolbar-label {
    padding-left: 1em;
    vertical-align: bottom;
  }

  .review-ongoing {
    border: 2px;
    border-radius: 25px;
    background-color: #E1A117;
    padding: 0.5em 4em;
  }

  .review-ready {
    border: 2px;
    border-radius: 25px;
    background-color: #6AA33A;
    padding: 0.5em 4em;
  }

  .toolbar-square {
    font-size: 3em;
  }

  .toolbar-icon {
    font-size: 2em;
    padding-top: 0.2em;
    padding-left: 0.2em;
  }

  .table-bordered-item {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-color: lightgrey;
  }

  .exams-table {

    border:0;
    margin-top:1em;
    font-family: $sitnet-family-opensans;
    font-weight: normal;
    font-size:0.9em;

    th {
      background-color: $sitnet-common-light;
      font-family: $sitnet-family-georgia;
      font-style: italic;
      font-weight: normal;
      border:0;
    }

    td:first-child {
      border-left:0;
    }
    td:last-child {
      border-right:0;
    }

    tr:last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  .table-column-flag {
    width: 2%;
  }

  .table-column-exclamation {
    width: 2%;
  }

  .table-column-examcode {
    width: 10%;
  }

  .table-column-examname {
    width: 20%;
  }

  .table-column-enroll-participation {
    width: 10%;
  }

  .table-column-open-until {
    width: 20%;
  }

  .exams-table-borders {
    border-left: $sitnet-common-light solid 0.15em;
    box-shadow: 0 0.5em 0.25em 0 $sitnet-common-light;
  }

  .exams-table-title-area {
    margin-top: 2em;
    margin-left: 4em;
  }

  .exams-list-title-text {
    font-size: 1.6em;
    padding:0.8em 0;
    font-family: $sitnet-family-opensans-semibold;
    color: $sitnet-text;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .exams-list {
    background-color: $sitnet-background;
    margin-left: 3em;
    padding-right: 5em;
  }

  .toolbar-item {
    margin-top: 2em;
    margin-left: 4em;
  }

  .indicator-item {
    margin-left: 4em;
  }
}