
$font: Helvetica, sans-serif;
$sitnet-dark-green: #63aa92;
$sitnet-green: #2bb9a8;
$sitnet-blue: #27b9ca;
$sitnet-dark-blue: #3E58B0;
$sitnet-grey: #c0c0c0;
$sitnet-light-grey: #e6e6e6;
$sitnet-dark-grey: #4c4c4c;
$sitnet-dark: #3e3e3e;
$sitnet-beige: #f6f2e6;
$sitnet-beige-active: #F7D56F;
$sitnet-white: #fff;
$sitnet-black: #000;
$sitnet-red: #f00;

$sitnet-teacher-turquoise-dark-active: #006674;
$sitnet-teacher-turquoise-dark-inactive: #7ab3bc;
$sitnet-teacher-turquoise-light-active: #7fc5cf;
$sitnet-teacher-turquoise-light-inactive: #7ab3bc;
$sitnet-teacher-turquoise-header: #2d848e;
$sitnet-teacher-blue-light: #d8e6e7;

$sitnet-teacher-green-dark: #d3e7a8;
$sitnet-teacher-green-light: #d3e7a8;

$sitnet-header-height: 70px;

$sitnet-student-lightgreen: #7fb373;
$sitnet-student-darkgreen: #4a883f;
$sitnet-student-inactive-green: #8dc1b5;
$sitnet-student-turquoise: #3eaa93;
$sitnet-student-inactive-turquoise: #8dc1b5;
$sitnet-student-orange: #ffb129;
$sitnet-student-inactive-gray: #818181;
