
$font: "Open Sans", Helvetica, Arial;
$sitnet-dark-green: #63aa92;
$sitnet-green: #2bb9a8;
$sitnet-blue: #27b9ca;
$sitnet-dark-blue: #3FA9F5;
$sitnet-grey: #c0c0c0;
$sitnet-light-grey: #e6e6e6;
$sitnet-dark-grey: #4c4c4c;
$sitnet-dark: #3e3e3e;
$sitnet-beige: #f6f2e6;
$sitnet-beige-active: #F7D56F;
$sitnet-white: #fff;
$sitnet-black: #000;
$sitnet-red: #f00;

$sitnet-teacher-turquoise-dark-active: #006674;
$sitnet-teacher-turquoise-dark-inactive: #7ab3bc;
$sitnet-teacher-turquoise-active-question: #019eb1;
$sitnet-teacher-turquoise-light-active: #7fc5cf;
$sitnet-teacher-turquoise-light-inactive: #7ab3bc;
$sitnet-teacher-turquoise-header: #2d848e;
$sitnet-teacher-blue-light: #d8e6e7;

$sitnet-teacher-green-dark: #d3e7a8;
$sitnet-teacher-green-light: #d3e7a8;

$sitnet-header-height: 4em;

$sitnet-student-lightgreen: #7fb373;
$sitnet-student-darkgreen: #4a883f;
$sitnet-student-inactive-green: #8dc1b5;
$sitnet-student-turquoise: #3eaa93;
$sitnet-student-inactive-turquoise: #8dc1b5;
$sitnet-student-orange: #ffb129;
$sitnet-student-inactive-gray: #818181;
$sitnet-blue-highlight: #66afe9;

$sitnet-essay-review-background: #f4f9fc;

// ##### leiskasta fontit ##########################################
$sitnet-family-opensans-light: $font;
$sitnet-family-opensans-light-italic: $font;
$sitnet-family-opensans: $font;
$sitnet-family-opensans-italic: $font;
$sitnet-family-opensans-semibold: $font;
$sitnet-family-opensans-semibold-italic: $font;
$sitnet-family-opensans-bold: $font;
$sitnet-family-opensans-bold-italic: $font;

$sitnet-family-georgia: Georgia, Helvetica, Arial;

@font-face {
    font-family: $sitnet-family-opensans-light;
    src: url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: $sitnet-family-opensans-light-italic;
    src: url('/assets/fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: $sitnet-family-opensans;
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $sitnet-family-opensans-italic;
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: $sitnet-family-opensans-semibold;
    src: url('/assets/fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: $sitnet-family-opensans-semibold-italic;
    src: url('/assets/fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: $sitnet-family-opensans-bold;
    src: url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: $sitnet-family-opensans-bold-italic;
    src: url('/assets/fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

// #### layout colors ############################################
$sitnet-alarm: #C0001F;
$sitnet-aborted: #770505;
$sitnet-notice: #E1A117;
$sitnet-ready: #6AA33A;
$sitnet-theme: #3FA9F5;
$sitnet-text: #000000;
$sitnet-common-dark: rgba(0, 0, 0, 0.65);
$sitnet-common-medium: rgba(0, 0, 0, 0.30);
$sitnet-common-light: rgba(0, 0, 0, 0.10);
$sitnet-background: #ffffff;

.sitnet-common-light { background-color: $sitnet-common-light; }
.sitnet-common-medium { background-color: $sitnet-common-medium; }
.sitnet-common-dark { background-color: $sitnet-common-dark; }
.sitnet-common-theme { background-color: $sitnet-theme; }

.sitnet-text-light { color: $sitnet-common-light; }
.sitnet-text-medium { color: $sitnet-common-medium; }
.sitnet-text-dark { color: $sitnet-common-dark; }
.sitnet-text-theme { color: $sitnet-theme; }
.sitnet-text-notice { color: $sitnet-notice; }
.sitnet-text-ready { color: $sitnet-ready; }
.sitnet-text-alarm { color: $sitnet-alarm; }
.sitnet-text-aborted { color: $sitnet-aborted; }
.sitnet-text { color: $sitnet-text; }

.sitnet-dark-green {color: $sitnet-dark-green;}
.sitnet-green {color: $sitnet-green;}
.sitnet-dark-blue {color: $sitnet-dark-blue;}
.sitnet-blue {color: $sitnet-blue;}
.sitnet-grey {color: $sitnet-grey;}
.sitnet-light-grey {color: $sitnet-light-grey;}
.sitnet-dark-grey {color: $sitnet-dark-grey;}
.sitnet-dark {color: $sitnet-dark;}
.sitnet-beige {color: $sitnet-beige;}
.sitnet-white {color: $sitnet-white;}
.sitnet-black {color: $sitnet-black;}
.sitnet-student-lightgreen {color: $sitnet-student-lightgreen;}
.sitnet-student-darkgreen {color: $sitnet-student-darkgreen;}
.sitnet-student-inactive-green {color: $sitnet-student-inactive-green;}
.sitnet-student-turquoise {color: $sitnet-student-turquoise;}
.sitnet-student-inactive-turquoise {color: $sitnet-student-inactive-turquoise;}
.sitnet-student-orange {color: $sitnet-student-orange;}
.sitnet-student-inactive-gray {color: $sitnet-student-inactive-gray;}
.sitnet-red {color: $sitnet-red;}
.sitnet-teacher-turquoise-dark-active {color: $sitnet-teacher-turquoise-dark-active;}
.sitnet-teacher-turquoise-dark-inactive {color: $sitnet-teacher-turquoise-dark-inactive;}
.sitnet-teacher-turquoise-light-active {color: $sitnet-teacher-turquoise-light-active;}
.sitnet-teacher-turquoise-light-inactive {color: $sitnet-teacher-turquoise-light-inactive;}
.sitnet-teacher-blue-light {color: $sitnet-teacher-blue-light;}
.sitnet-teacher-green-dark {color: $sitnet-teacher-green-dark;}
.sitnet-teacher-green-light {color: $sitnet-teacher-green-light;}

// #### muuta defined ##############################################
.greenHover:hover {
  color: $sitnet-ready;
}

.sitnet-horizontal-line {
  background-color: $sitnet-common-light;
  height:0.15em;
}

.italic {
  font-style: italic;
}

.nospace {
//  padding:0;
//  margin:0;
}
.popover {
  font-size: 11px;
  color: $sitnet-text;
}
.base {
  background-color: $sitnet-background;
  padding: 1em;
  margin: 0;
}

$sitnet-icon-size: 32px;

.sitnet-icon-wrapper {
  min-width: $sitnet-icon-size;
  width: $sitnet-icon-size;
  max-width: $sitnet-icon-size;
  min-height: $sitnet-icon-size;
  height: $sitnet-icon-size;
  max-height: $sitnet-icon-size;
  display: block;
  text-align:center;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.status_green, .status_red, .status_orange, .status_theme {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 0.9em;
  padding:0.2em 0.5em;
  color: $sitnet-white;
  @include border-radius(5px);
}
.status_red {
  background-color: $sitnet-alarm;
}
.status_green {
  background-color: $sitnet-student-darkgreen;
}
.status_orange {
  background-color: $sitnet-student-orange;
}
.status_theme {
  background-color: $sitnet-theme;
}
.status_comment {
  padding:0.5em;
  font-size: 0.9em;
  color: $sitnet-common-medium;
  font-style: italic;
  font-weight:bold;
  font-family: $sitnet-family-georgia;
}

.icon-alarm {
  color: $sitnet-alarm;
}

.icon-ok {
  color: $sitnet-student-darkgreen;
}

.icon-theme {
  color: $sitnet-theme;
}

.bold-button {
  font-weight: bold;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.icon-notice {
  color: $sitnet-student-orange;
}
.header-top {
  height:4em;
  padding: 0.5em;
}
.header-top-icon {
  margin-top:0.4em;
}
.header-top-link {
  margin:0 0.8em;
  color: $sitnet-text;
  font-size: 0.9em;
  line-height:4em;
  font-weight: bold;
  cursor: pointer;
}

.top-margin-1 {
  margin-top: 1em;
}

.top-padding-2 {
  padding-top:2em;
}

.bottom-padding-2 {
  padding-bottom:2em;
}

.horizontal-padding-1 {
  padding:0 1em;
}

.horizontal-padding-05 {
  padding:0 0.5em;
}

.vertical-padding-2 {
  padding:2em 0;
}

.info {
  padding-left:0;
  margin-left:0;
  margin-bottom:1em;
}

.info-row {
  padding-left:0;
  margin-left:0;
}
.info-row-space {
  padding:0;
  margin:0;
}

.info-column {
  padding-right:1em;
  font-size: 1em;
  font: $sitnet-family-opensans-bold;
  padding-left:0;
  margin-left:0;

  .header {
    padding-right:0.5em;
    float:left;
    color: $sitnet-common-medium;
    padding-left:0;
    margin-left:0;
  }
  .text {
    padding-left:0;
    margin-left:0;
    font-weight:bold;
    float:left;
    display: inline;
    color: $sitnet-text;
  }
  .light-text {
    padding-left:0;
    margin-left:0;
    font-weight:normal;
    float:left;
    display: inline;
  }
  .link-text {
    padding-left:0;
    margin-left:0;
    font-weight:normal;
    float:left;
    display: inline;
    color: $sitnet-theme;
  }
}
.info-column-large-icon {

}
.info-header-bolditalic {
  font-size: 1.1em;
  font-weight: bold;
  font-style: italic;
}
.info-header-bold {
  font-size: 1.1em;
  font-weight: bold;
}
.info-header-normal {
  font-size: 1.1em;
  font-weight: normal;
}
.icon_fix {
  margin-left:1em;
  line-height:1.8em;
}
.light-table {
  border:0;
  font-size: 0.9em;
  border-spacing: 1em;
  border-collapse: separate;

  td {
    padding: 0.5em;
    border:0;
    border-right:0.15em solid $sitnet-common-light;
  }
}
.sitnet-badge {
  padding:0.25em 0.6em 0.1em;
  font-size: 0.9em;
  background-color: $sitnet-theme;
  color:$sitnet-white;
  margin:0.1em;
  text-align: center;

}
.width15 {
  width: 15%;
  max-width:15%;
}
.wrap {
  white-space: pre-wrap;
}
.removeListLeftSpace {
  ul {
    padding-left:0;
    margin-left:0;
  }
}
.inline {
  display: inline;
}

.editable {
  cursor: pointer;
}

.editable:hover {
  color: green;
}

.sitnet-info-text {
  color: grey;
  font-style: normal;
  margin-top: 1em;
}

.sitnet-info-text-compact {
  color: grey;
  font-style: normal;
}

.sitnet-info-text-bold {
  color: grey;
  font-style: normal;
  margin-top: 1em;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}
