#sitnet-dialog {

  .terms-dialog-header {
    background-color: $sitnet-blue;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }

  .arrow-right-button {
    margin-left: 2.8em;
  }
}