#exam {

  .base {
    background-color: $sitnet-white;
    padding: 1em;
    margin: 0em;
  }

  .exam-header {
    background-color: $sitnet-teacher-turquoise-header;
    color: white;
  }

  .exam-name {
    font-size: 1.6em;
    padding:0.8em 0;
    font-family: $sitnet-family-opensans-semibold;
    color: $sitnet-text;
    font-weight: 600;
    letter-spacing: 1px;
    .input-lg {
      margin-top: -0.5em;
      margin-bottom: 0.5em;
      font-size: 1.3em;
    }
}

.exam-general-information-header {
    background-color: $sitnet-white;
    padding-top: 1em;
    padding-bottom: 0.1em;
    color: $sitnet-teacher-turquoise-dark-active;
    font-size: 2em;
    border-bottom: 1px solid $sitnet-teacher-turquoise-dark-inactive;
  }
  .exam-general-information-header span {
    font-size: 0.75em;
  }
  .exam-general-information {
    background-color: $sitnet-white;
    padding-left: 1em;
  }

  .exam-info {
    padding: 5px;
    margin-top: 1em;
  }

  .exam-wrapper {
    padding: 2em;
  }

  .exam-sections {
    margin-top: 3em;
    margin-left: 2em;
  }

  .section-header {
    border-bottom: $sitnet-common-light solid 0.15em;
    height:2.6em;
  }
  .section-header-text{
    font-size: 1.4em;
    padding:0.25em 0;
    font-family: $sitnet-family-opensans-semibold;
    color: $sitnet-text;
    font-weight: 400;
  }
  .section-header-number {
    padding-left: 0.5em;
    padding-right: 0.2em;
    background-color: $sitnet-teacher-turquoise-light-inactive;
  }

  .exam-question-container {
    border-left: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    padding-left: 0.5em;
    padding-top: 0.5em;
  }

  .create-new {
    display: block;
    color: $sitnet-dark-grey;
    border: dashed 3px $sitnet-white;
    background-color: $sitnet-teacher-green-light;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .active-exams-list {
    margin-bottom: 10px;
  }

  .exams-info-title {
    font-weight: bold;
  }

  .exams-list-header {
    padding: 0.5em;
    border-bottom: $sitnet-common-light solid 0.15em;
    height: 4em;
  }
  
  .exams-list-table {
    border-left: $sitnet-common-light solid 0.15em;
    box-shadow: 0 0.5em 0.25em 0 $sitnet-common-light;
  }

  .exam-list-published {
  	margin-left: 1em;
  	margin-right: 1em;
	color: $sitnet-dark-grey;
    border: dashed 3px $sitnet-white;
    background-color: $sitnet-teacher-turquoise-dark-active;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 8px;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.4em;
  }

  .exam-list-saved {
  	margin-left: 1em;
  	margin-right: 1em;
	color: $sitnet-dark-grey;
    border: dashed 3px $sitnet-white;
    background-color: $sitnet-teacher-turquoise-dark-inactive;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 8px;
    padding: 1em;
  }

  .exam-list-draft {
  	margin-left: 1em;
  	margin-right: 1em;
	color: $sitnet-dark-grey;
    border: dashed 3px $sitnet-white;
    background-color: $sitnet-teacher-green-light;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 8px;
    padding: 1em;
  }

  .create-new:hover {
    background-color: $sitnet-beige-active;
  }

  .exam-question-option {
    background-color: $sitnet-white;
    border-bottom: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    border-left: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    border-top: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    margin-top: -1px;
    padding-top: 0.5em;
    padding-left: 0.5em;
    min-height: 3em;
  }

  .single-question-header-active {
    color: $sitnet-white;
    background-color: $sitnet-teacher-turquoise-active-question;
    padding-top: 0.5em;
    padding-bottom: 1em;
    min-height: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .single-question-header-inactive {
    color: $sitnet-white;
    background-color: $sitnet-teacher-turquoise-light-active;
    padding-top: 0.5em;
    padding-bottom: 1em;
    min-height: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .single-question-icon {
    color: $sitnet-teacher-turquoise-dark-active;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  .pointer-hand {
      cursor:pointer;
  }

  .sitnet-list-item {
    background-color: $sitnet-white;
    color: $sitnet-grey;
    padding: 1em;
    margin-bottom: 1em;

    a {
      color: $sitnet-black;
      text-decoration: none;
      display: inline;
    }
    a:hover {
      color: $sitnet-blue;
    }
  }

  .sitnet-list-item-heading {
    font-size: 1.5em;

  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style:none;
}