#exam {

  .base {
    background-color: $sitnet-white;

  }

  .exam-header {
    background-color: $sitnet-teacher-turquoise-header;
    color: white;
    padding: 1em;
  }

  .exam-general-information-header {
    background-color: $sitnet-white;
    padding-top: 1em;
    padding-bottom: 0.1em;
    color: $sitnet-teacher-turquoise-dark-active;
    font-size: 2em;
    border-bottom: 1px solid $sitnet-teacher-turquoise-dark-inactive;
  }
  .exam-general-information-header span {
    font-size: 0.75em;
  }
  .exam-general-information {
    background-color: $sitnet-white;
    padding-left: 1em;
  }

  .exam-info {
    padding: 5px;
    margin-top: 1em;
  }

  .exam-wrapper {
    margin-left: 2em;
  }

  .exam-sections {
    margin-top: 3em;
    margin-left: 2em;
  }
  .exam-section {
    margin-top: 0.5em;
    margin-left: 0.5em;
  }
  .section-header {
    background-color: $sitnet-white;
    padding-top: 1em;
    padding-bottom: 0.1em;
    color: $sitnet-teacher-turquoise-dark-active;
    font-size: 2em;
    border-bottom: 1px solid $sitnet-teacher-turquoise-dark-inactive;
  }
  .section-header span {
    font-size: 0.75em;
  }
  .section-header-number {
    padding-left: 0.5em;
    padding-right: 0.2em;
    background-color: $sitnet-teacher-turquoise-light-inactive;
  }

  .exam-question-container {
    border-left: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    padding-left: 0.5em;
    padding-top: 0.5em;
  }

  .create-new {
    display: block;
    color: $sitnet-dark-grey;
    border: dashed 2px $sitnet-grey;
    background-color: $sitnet-teacher-green-light;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .active-exams-list {
    margin-bottom: 10px
  }

  .create-new:hover {
    background-color: $sitnet-beige-active;
  }

  .exam-question-option {
    background-color: $sitnet-white;
    border-bottom: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    border-left: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    border-top: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    margin-top: -1px;
    padding-top: 0.5em;
    padding-left: 0.5em;
    min-height: 3em;
  }

  .single-question-header-active {
    color: $sitnet-white;
    background-color: $sitnet-teacher-turquoise-active-question;
    padding-top: 0.5em;
    padding-bottom: 1em;
    min-height: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .single-question-header-inactive {
    color: $sitnet-white;
    background-color: $sitnet-teacher-turquoise-light-active;
    padding-top: 0.5em;
    padding-bottom: 1em;
    min-height: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .single-question-icon {
    color: $sitnet-teacher-turquoise-dark-active;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  .pointer-hand {
      cursor:pointer;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style:none;
}