#exam {
  margin-top: 1em;

  .base {
    background-color: #fff;
    border: solid 1px $sitnet-grey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1em;
  }

  .create-new {
    display: block;
    color: $sitnet-dark-grey;
    border: dashed 2px $sitnet-grey;
    background-color: $sitnet-beige;
    padding: 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 1em;
  }
  
    .create-new:hover {
    background-color: #e1eafe;
    }

  .library-header, .exam-header {
    background-color: $sitnet-dark-grey;
    color: white;
    padding: 0.5em;
    a {
      color: $sitnet-green;
    }
  }

  .library {
    padding: 5px;
    min-height: 100%;
    border: solid 1px $sitnet-grey;
    background-color: white;
    .results {
      margin-top: 1em;

    }
  }

  .section {
    min-height: 150px;
    margin-bottom: 3em;
    padding-bottom: 0.5em;
    background-color: $sitnet-light-grey;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

}