#feedback {

  .body {
    position: relative;
  }

  .wrapper {
    z-index: 400;
    padding: 1em;
    position: fixed;
    top: 80px;
    right: 50px;
    border-radius: 25px;
    border: 2px solid #8AC007;
    background: rgba(255, 255, 255, 0.7);
    width: 603px;
    margin: 2px;
  }

  .editor {
    padding: 1em 0;
  }
}
