#sitnet-header {

  background-color: $sitnet-grey;
  min-height: $sitnet-header-height;


  .header {
    background-color: #B5C2C4;
    position: fixed;
    z-index: 330;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    right: 0;
    left: 0;
  }
}
