#sitnet-header {

  min-height: $sitnet-header-height;

  background-color: $sitnet-teacher-turquoise-header;
  color: white;
  padding: 1em;

  .header {
    background-color: $sitnet-dark;
    position: fixed;
    z-index: 330;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    right: 0;
    left: 0;
  }

  .question-header {
    background-color: $sitnet-light-grey;
  }

  .header-button {
    margin-top: 1em;
  }

  .header-title {
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
}
