#library {

  .library-header {
    background-color: $sitnet-dark-grey;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    a {
      color: $sitnet-green;
    }
  }
  
  .single-question-header-inactive {
    color: $sitnet-white;
    background-color: $sitnet-teacher-turquoise-light-active;
    padding-top: 0.5em;
    padding-bottom: 1em;
    min-height: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  
  .library {
    padding: 5px;
    min-height: 100%;
    border: solid 1px $sitnet-grey;
    background-color: white;
    .results {
      margin-top: 1em;
    }
  }
  
	
.test-library {
	margin-bottom: 2em;
}

}