#library {

  .library {
    padding: 1em;
    min-height: 100%;
    //border: solid 1px $sitnet-grey;
    background-color: $sitnet-light-grey;
    .results {
      margin-top: 1em;
    }
  }
  .library-header {
    background-color: $sitnet-dark-grey;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    a {
      color: $sitnet-green;
    }
  }
  
  .library-name {
    padding-bottom: 0.1em;
    color: $sitnet-teacher-turquoise-dark-active;
    font-size: 2em;
    border-bottom: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    margin-bottom: 1em;
  }
  .single-question-header-inactive {
    color: $sitnet-white;
    background-color: $sitnet-teacher-turquoise-light-active;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    min-height: 2.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  .single-question-header-inactive:active {
    background-color: $sitnet-teacher-turquoise-active-question;

  }

  .short-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1em;
  }

  .library-main.affix {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
  }

  .library-main.affix-top {
    overflow-y: scroll;
    height: 100%;
  }

  .library-main {
    overflow-y: scroll;
    margin-right: 2em;
    top: 0;
    height: 100%;
  }

  li {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

}