#library {

  .library {
    padding: 1em;
    min-height: 100%;
    //border: solid 1px $sitnet-grey;
    background-color: $sitnet-common-light;
    .results {
      margin-top: 1em;
    }
  }
  .library-header {
    background-color: $sitnet-common-dark;
    color: white;
    padding: 0.5em;
    margin-top: 1em;
    a {
      color: $sitnet-green;
    }
  }
  
  .library-name {
    padding-bottom: 0.1em;
    color: $sitnet-common-medium;
    font-size: 2em;
    border-bottom: 0.15em solid $sitnet-common-light;
    margin-bottom: 1em;
  }
  .library-question-header-inactive {
    color: $sitnet-white;
    background-color: $sitnet-common-medium;
    padding: 0.5em;
    min-height: 0;
    margin: 0.5em 0;
  }

.library-question-header-inactive:hover {
    background-color: $sitnet-theme;

  }

  .single-question-header-inactive:active {
    background-color: $sitnet-notice;

  }

  .short-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .library-main.affix {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
  }

  .library-main.affix-top {
    overflow-y: scroll;
    height: 100%;
  }

  .library-main {
    overflow-y: scroll;
    margin-right: 2em;
    top: 0;
    height: 100%;
  }

  li {
    padding:0 0.5em;
  }

}