@media print {

  [class*="col-md-"] {
    float: left;
  }

  #mainView {
    width: 100%;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-1 {
    width: 8.333333333333332%;
  }
  .newRow {
    float: left;
    clear: left;
  }

  .fa-stack-1x, .fa-stack-2x {
    position: static;
    display: block;
    width: auto;
  }

  .fa-stack {
    display: inline;
  }

  .fa {
    position: static;
    display: inline;
  }

  .review-question-option-name {
    line-height: 2em;
  }
}

.font-bold {
  font-weight: bold;
}

.lightBorderBox {
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  page-break-inside: avoid;
}

.main-header-row {
  margin-top: 1em;
  font-weight: 300;
  font-size: 1.5em;
}

.sub-header-row {
  margin-top: 0.25em;
  font-weight: bold;
}

.sub-content-row {
  margin-top: 0.25em;
  font-size: 1em;
  word-wrap: break-word;
}

blockquote {
  color: #999;
  border: 0;
  border-left: 2px solid #999;
  padding-left: 1em;
}

