#question-listing {

  .base {
    background-color: $sitnet-white;

  }

  .questions-listing-header {
    background-color: $sitnet-teacher-turquoise-header;
    color: white;
    padding: 0em;
  }

  .questions-list-header {
    background-color: $sitnet-blue;
    padding-top: 1em;
    padding-bottom: 0.1em;
    color: $sitnet-teacher-turquoise-dark-active;
    font-size: 2em;
    border-bottom: 1px solid $sitnet-teacher-turquoise-dark-inactive;
  }

  .questions-main-label {
    background-color: $sitnet-white;
    padding-left: 1em;
  }

  .questions-wrapper {
    margin-left: 2em;
    margin-right: 2em;
  }

  .questions-list {
    padding: 2em;
  }

  .questions-header {
    background-color: $sitnet-white;
    padding-top: 1em;
    padding-bottom: 0.1em;
    color: $sitnet-teacher-turquoise-dark-active;
    font-size: 2em;
    border-bottom: 1px solid $sitnet-teacher-turquoise-dark-inactive;
  }

  .questions-header-number {
    padding-left: 0.5em;
    padding-right: 0.2em;
    background-color: $sitnet-teacher-turquoise-light-inactive;
  }

  .questions-question-container {
    border-left: 1px solid $sitnet-teacher-turquoise-dark-inactive;
    padding-left: 0.5em;
    padding-top: 0.5em;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style:none;
}