#question-editor {

//  .base {
//    background-color: #fff;
//    border: solid 1px $sitnet-grey;
//    padding: 2em;
//    margin-bottom: 1em;
//  }

  .create-new {
    display: block;
    color: $sitnet-dark-grey;
    border: dashed 2px $sitnet-grey;
    background-color: $sitnet-beige;
    padding: 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 2em;
  }

  .create-new:hover {
    background-color: $sitnet-beige-active;
  }

  .question-editor-form {
    padding-top: 2em;
  }

  .exam-question-container {
    padding: 1em;
  }

  .exam-question-option {
    background-color: $sitnet-green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    min-height: 3em;
  }

  .question-editor-option {
	background-color: $sitnet-beige;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
 	min-height: 3em;
    padding-top: 0.5em;
    padding-left: 0.5em;
  }

  .answer-state {
    border: 2px;
    border-radius: 25px;
    padding: 0.3em 2em;
  }

  .correct-answer {
    background-color: green;
  }

  .wrong-answer {
    background-color: red;
  }

  .fa-1_5x {
    font-size: 1.2em;
    line-height: 0.9em;
    padding-right: 0.3em;
  }

  .multiplechoice-question-input {
    margin-left: 0.3em;
    width: 100%;
  }

  .single-question {
    background-color: $sitnet-green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    min-height: 3em;

    i {
      float: left;
      padding-right: 1.5em;
    }
    span {

    }

  }
  .section {
    margin-bottom: 2em;
    background-color: $sitnet-light-grey;
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  .pointer-hand {
	cursor: pointer;
  }

  .question-editor.affix {
    position: fixed;
    right: 0;
    top: 0;
    width: 28%;
    overflow-y: scroll;
    margin-right: 1em;
    padding-right: 0;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style: none;
}