#room {

  .base {
    background-color: $sitnet-white;
  }

  .room-list {
    padding: 2em;
  }

  .room-header {
    background-color: $sitnet-teacher-turquoise-header;
    color: white;
    padding: 1em;
  }

  .room-name {
      color: $sitnet-teacher-turquoise-dark-active;
      border-bottom: 1px solid $sitnet-teacher-turquoise-dark-inactive;
      margin-top: 4em;
  }

  .exam-machine {
    color: $sitnet-white;
    background-color: $sitnet-teacher-turquoise-active-question;
    padding-top: 0.5em;
    padding-bottom: 1em;
    min-height: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    a {
      color: $sitnet-black;
      padding-left: 1em;
    }
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  .pointer-hand {
      cursor:pointer;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style:none;
}