
#room {

  table td {
    text-align:center;
  }

  .selectable {
    border: solid 1px $sitnet-common-light;
    padding: 0px;
    margin: 1px;
  }

  .selected {
    background-color: $sitnet-teacher-green-light;
    border-top: none;
    border-bottom: none;
  }

  .accepted {
    background-color: $sitnet-teacher-blue-light;
    border-top: none;
    border-bottom: none;
  }

  .first {
    background-color: red;
  }
  .last {
    background-color: yellow;
  }

  td, tr, th {
    height: 2.1em;
  }

  .light {
    font-weight: 100;
  }

  th {
    width: 80px;
    text-align: center;
  }

  .fullsize {
    height: 2em;
    width: 80px;
  }


  .room-list {
    background-color: $sitnet-background;
    padding: 1em;
  }

  .room-header {
    border-bottom: $sitnet-common-light solid 0.15em;
    height:4em;
  }

  .room-sub-header {
    border-bottom: $sitnet-common-light solid 0.15em;
    height:2.6em;
  }

  .room-name {
    font-size: 1.6em;
    padding:0.8em 0;
    font-family: $sitnet-family-opensans-semibold;
    color: $sitnet-text;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .room-sub-name {
    font-size: 1.4em;
    padding:0.25em 0;
    font-family: $sitnet-family-opensans-semibold;
    color: $sitnet-text;
    font-weight: 400;
  }

  .header-icon {
    margin-top: 1.1em;
    cursor: pointer;
  }

  .sub-header-icon {
    background-color: $sitnet-white;
    margin-top:0.1em;
    cursor: pointer;
  }

  .room-info {
    padding-left:0;
    margin-left:0;
    margin-bottom:2em;
  }

  .room-info-column span {
    padding-right:0.5em;
  }

  .room-info-row {
    margin-top:2em;
    padding-left:0;
    margin-left:0;
  }

  .room-info-row > div {
    font-size: 0.9em;
  }

  .room-info-column {
    padding-right:2em;
  }

  .label-as-badge {
    text-align: center;
  }

  .room-info-span-text {
    font: $sitnet-family-opensans-bold;
    font-weight:bold;
  }

  .room-info-title {
    font-weight: bold;
    padding-left: 0.5em;
  }

  .room-machines {
    border-left: $sitnet-common-light solid 0.15em;
    box-shadow: 0 0.5em 0.25em 0 $sitnet-common-light;
  }

  .disabled-room {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
  }


  .questionTable {
    max-height:100em;
    overflow-y: scroll;
  }

  .exam-machine {
    color: $sitnet-white;
    background-color: $sitnet-teacher-turquoise-active-question;
    padding-top: 0.5em;
    padding-bottom: 1em;
    min-height: 3em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    a {
      color: $sitnet-black;
      padding-left: 1em;
    }
  }

  li {
    list-style: none;
  }

  ul {
    padding: 0;
  }

  .pointer-hand {
      cursor:pointer;
  }

//  -webkit-touch-callout: none;
//  -webkit-user-select: none;
//  -khtml-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//  outline-style:none;
}

.room-machines-table {
  border-left: $sitnet-common-light solid 0.15em;
  border-top: $sitnet-common-light solid 0.15em;
  box-shadow: 0 0.5em 0.25em 0 $sitnet-common-light;

  font-family: $sitnet-family-opensans;
  font-weight: normal;
  font-size: 0.9em;
  margin-left: 2em;
  padding-right: 2em;

  th {
    background-color: $sitnet-common-light;
    font-family: $sitnet-family-georgia;
    color: $sitnet-common-medium;
    font-style: italic;
    font-weight: normal;
    border: 0;
  }

  td:first-child {
    border-left: 0;
  }
  td:last-child {
    border-right: 0;
  }

  tr:last-child {
    td {
      border-bottom: 0;
    }
  }
}