#settings {

  .margins {
    padding: 1em;

  }

  .title {
    margin-top: 2em;
    margin-left: 2em;
    padding-bottom: 1em;
    border-bottom-style: inset;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
  }

}