#studentexam {

  .exam-content-wrapper {
    float: left;
    width: 100%;
  }

  .exam-content-column {
    margin: 0 400px 0 0;
  }

  .floating-section {
    right: 0;
    top: 0;
    float: left;
    position: fixed !important;
    padding: 0;
    width: 400px;
    margin-left: -400px;
    height: 100%;
    overflow-y: auto;
    margin-top: 168px;

    .top-padding-2 {
      padding-top:0px;
    }

  }

  .top-padding-6 {
    padding-top: 6.3em;
  }

  .more-separators {
    border-bottom: 1px solid #B1B1B1;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 15px;
  }

  .right-title {
    color: #2C2C2C;
    font-size: 20px;
    font-family: $sitnet-family-helvetica;
    padding-left: 15px;
  }

  margin: 0 14px 0 16px;

  .studentexam-header {
    padding-left: 1.2em;
    margin-top: 30px;
    font-size: 1.2em;
  }
  .question-unanswered-header,
  .question-answered-header {
    padding: 1em 1em;
    margin-top: 1em;
    background-color: $sitnet-white;
    border: 1px solid $sitnet-common-dark;
  }

  .question-unanswered-header {
    .question-icon-bg {
      color: $sitnet-common-medium;
    }
    .question-icon {
      color: $sitnet-white;
    }
  }

  .question-answered-header {
    .question-icon-bg {
      color: $sitnet-ready;
    }
    .question-icon {
      color: $sitnet-white;
    }
  }

  .question {
    clear: both;
  }

  .question-text {
    display: inline;
    margin: 0;
    line-height: 1.5em;
    font-size: 22px;
    color: #2C2C2C;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .exam-navigation {
    padding-top: 1em;
  }

  .exam-question-container {
    background-color: $sitnet-white;
    clear: both;
  }

  .exam-question-option {
    background-color: $sitnet-green;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    min-height: 3em;
  }

  .guide-instruction {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8em;
    white-space: pre-wrap;
  }

  .section-container {
    padding-bottom: 2em;
    padding-left: 0.5em;
    background-color: $sitnet-white;
  }

  .green_button {

    cursor: pointer;
    text-decoration: none;
    float: right;
    font-size: 16px;
    font-family: $sitnet-family-helvetica;
    background-color: #3CA34F;
    border: 1px solid #358F45;
    //width: 150px;
    margin-left: 10px;
    border-radius: 3px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    font-weight:200;

    :hover, :active, :focus, :active:focus {
      background-color: #358F45;
    }

    &.left-floater {
      float:left;
      width: 167px;
      padding: 5px;
      padding-left: 20px;
      display: inline-block;
      margin-right: 15px;
      font-size: 14px;
      letter-spacing: 0.3px;
    }

    &.left-floater-for-section {
      float:left;
      padding: 5px;
      padding-left: 20px;
      display: inline-block;
      margin-right: 15px;
      margin-left: 0px;
      font-size: 14px;
      letter-spacing: 0.3px;
    }

    &.right-for-section {
      padding: 5px;
      padding-left: 20px;
      display: inline-block;
      margin-left: 0px;
      font-size: 14px;
      letter-spacing: 0.3px;
    }


    &.previous {
      float:left;
      padding-right: 40px;
    }

    &.attachment {
      float:left;
      margin-left:0px;
    }
  }

  .green_button:hover, .green_button:active, .green_button:focus, .green_button:active:focus {
      background-color: #358F45;
      border: 1px solid #358F45;
      text-decoration: none;
  }

  .grey-button {

    cursor: pointer;
    text-decoration: none;
    float: right;
    font-size: 16px;
    font-family: $sitnet-family-helvetica;
    background-color: #fff;
    border: 1px solid #979797;
    width: 150px;
    margin-left: 10px;
    border-radius: 3px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color:#555555;
    font-weight:200;

    :hover, :active, :focus, :active:focus {
      background-color: #efefef;
      border: 1px solid #efefef;
      text-decoration: none;
    }

  }

  .grey-button:hover, .grey-button:active, .grey-button:focus, .grey-button:active:focus {
    background-color: #efefef;
    border: 1px solid #efefef;
    text-decoration: none;
  }

  .arrow_icon {
    vertical-align: baseline;
    padding-left:13px;
  }

  // to highlight ck-editor content marked with this class
  .marker {
    background-color: yellow;
  }

  .question-type-text {
    line-height: 35px;
  }

  .toolbar-item {
    margin-left: 1em;
  }

  .separated-item {
    margin-top: 2em;
  }

  .list-muted {
    list-style: none;
    overflow-x: hidden;
    padding: 0 0 0 15px;
  }

  .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }

  /* Uncomment to disallow copy-paste

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
  */

  .exam-header {
    background-color: black;
    height:80px;

    img {
      margin-top: 15px;
      padding-left: 30px;
      vertical-align: initial;
    }

  }

  .exam-header-img-wrap {
    display: inline-block;
  }

  .exam-header-title {

    display: inline-block;
    color: white;
    line-height: 55px;
    font-size: 28px;
    padding-left: 18px;
    height: 40px;
    vertical-align: text-bottom;

    &.divider {
      border-left: 1px solid white;
      margin-left: 18px;

    }

    span {
      font-size: 15px;
    }


  }

  .floating-clock {

    margin-top: 26px;
    display: inline-block;
    margin-right: 40px;
    position: fixed;
    right: 0;
    z-index: 9999;

    .header-wrapper {
      width: 100%;
      background-color: black;
      margin-right: 20px;

      img {
        margin-left: 10px;
        margin-top: 5px;
        vertical-align: top;
      }
    }

    .exam-clock {
      font-family: $sitnet-family-helvetica;
      font-size: 28px;
      letter-spacing: 1.5px;
      color: #fff;
      font-weight: bold;
      margin-left: 10px;
    }
    .exam-clock-text {
      font-family: $sitnet-family-helvetica;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1.5px;
      color: #fff;
      margin-left: 20px;
    }

    .clock-hide {
      font-size: 14px;
      font-family: $sitnet-family-helvetica;
      font-weight: normal;
    }

  }

  .content-wrap {
    margin-left: 30px;
  }

  .exam-title {
    font-family: $sitnet-family-helvetica;
    font-size: 2em;
    color: #2c2c2c;
    border-bottom: 2px solid #3CA34F;
    padding-bottom: 7px;
  }

  .guide-wrapper {
    border-radius: 4px;
    border: 2px solid #EDEDED;
    border-left: #5BC26E 4px solid;
    margin-right: 1.4em;
    padding: 30px;
    margin-bottom: 10px;
    margin-top:30px;
    padding-left:60px;
    padding-right: 60px;

    .guide-column {
      color: #555555;
      font-size: 16px;
      font-family: $sitnet-family-helvetica;

      &.padtop {
        padding-top: 120px;
        padding-left: 15px;
      }
    }

    &.notactive {
      border-left: #B1B1B1 4px solid;
    }
  }

  .right-column-box {
//    width: 332px;
    border: 2px solid #EDEDED;
    border-radius: 4px;
    margin-left: 15px;
    padding-top:20px;

    .user-span {
      font-family: $sitnet-family-helvetica;
      font-size: 18px;
      color: #2C2C2C;
      padding-left: 15px;
      vertical-align: middle;
    }

    a.save-and-exit {
      width: 100%;
      text-align: center;
    }

    .abort-and-exit {
      padding-left: 15px;
      vertical-align: middle;
    }

    a.abort-and-exit {
      width: 100%;
      text-align: center;
      margin-top: 20px;
    }

    .bot-border {
      border-bottom: 1px solid #B1B1B1;
      margin-bottom: 18px;
      padding-bottom: 10px;
    }

    .button-separator {
      margin-top:10px;
    }
  }

  .attachment-button {
    display: inline-block;
    margin-top: 20px;

  }

  .attachment-name {
    display: inline-block;
    font-family:$sitnet-family-helvetica;
    font-size:12px;
    color:#555555;
    margin-top: 10px;

    @media (max-width: 1050px) {
      margin-top: 3px;
    }

  }

  .section-answered {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }

  .phase-box {
    border-radius: 4px;
    border: 2px solid #EDEDED;
    border-left: #5BC26E 4px solid;
    margin-right: 0.1em;
    padding: 10px;
    margin-bottom: 10px;
    font-family:$sitnet-family-helvetica;
    font-size:16px;
    color:#555555;
    font-weight:500;

    &.notactive {
      border-left: #B1B1B1 4px solid;
    }

  }

  .phase-box:hover {
    border-left: #5BC26E 4px solid;
  }

  .section-box-title {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    color: #2C2C2C;
    font-size: 16px;
    font-family: $sitnet-family-helvetica;

    &.arrow {
      margin-left: 0px;
      padding-left: 0px;
      margin-top: 0px;
      float:right;
    }

  }

  .question-type {
    display: inline-block;
    margin-right: 10px;
  }

  .question-type-text {
    color: #2C2C2C;
    font-family: $sitnet-family-helvetica;
    font-size: 16px;
    font-weight: 400;

    display: inline-block;

    &.info {
      color: #555555;
      font-size: 14px;
    }

  }
  .pad-15 {
    margin-left: 15px;

    @media (max-width: $sitnet-mobile) {
      margin-left: 0px;
    }

  }

  .info-question-separator {
    width: 33%;
    margin-left: 0px;
    color: #b1b1b1;
  }

  .multiple-choice {
    white-space: nowrap;
  }

  .question-type-img-wrap {
    display: inline-block;
    float: right;
  }

  .cloze-input {
    margin: 0.5em 0 0.5em 0;
    border-radius: 4px;
  }

  .wrap-title {
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: 50px;
  }

  .section-header-left {
    float:left;
    height: initial;
  }

  .section-header-middle {
    float:none;
    margin-right: 35px;
    margin-left: 40px;
  }

  .section-header-right {
    float:right; height: initial;
  }

  .filename-text {
    color:#555555;
    font-size: 12px;
  }

}
