#studentexam {
  margin-top: 1em;

  li {
    list-style: none;
    cursor: pointer;
  }

  li:hover {
    background-color: $sitnet-grey;
    list-style: none;
    cursor: pointer;
  }

  ul {
    padding: 0;
  }

  .base {
    background-color: #fff;
    border: solid 1px $sitnet-grey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2em;
  }

  .studentexam-header {
    background-color: $sitnet-green;
    padding: 0.5em;
    margin-top: 1em;
  }

  .question-header {
    background-color: $sitnet-student-lightgreen;
    padding: 1px;
    margin-top: 1em;
  }

  .question-active-header {
    background-color: $sitnet-student-orange;
    padding: 1px;
    margin-top: 1em;
  }

  .question-unanswered-header {
     background-color: $sitnet-student-inactive-gray;
     padding: 1px;
     margin-top: 1em;
   }

  .question-answered-header {
    background-color: $sitnet-student-lightgreen;
    padding: 1px;
    margin-top: 1em;
  }

  .question-status {
    font-style: normal;
    font-size: 14px;
    line-height: 2.5em;
  }

  .exam-question-container {
    background-color: $sitnet-white;
    padding: 2em;
  }

  .exam-question-option {
    background-color: $sitnet-green;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    min-height: 3em;
  }

  .exam-answer-options {
    margin-bottom: 1em;
  }

  .active-exams-list {
    margin-bottom: 10px
  }

  .single-question {
    background-color: $sitnet-green;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    min-height: 3em;

    i {
      float: left;
      padding-right: 1.5em;
    }
    span {

    }

  }

  .exam-info-round {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid $sitnet-grey;
    background-color: $sitnet-beige;
    padding: 1em;
  }

  .section-container {
    padding: 1em;
    padding-bottom: 2em;
    background-color: $sitnet-white
  }

  .exam-name-section {
    background-color: $sitnet-white;
    color: black;
    padding: 0.5em;
    margin-bottom: 2em;
  }

  .selected {
    background-color: $sitnet-white;
  }

  .inactive {
    background-color: lightgray;
  }

  .pointer-hand {
    cursor: pointer;
  }

  .section-header-icon-square {
    line-height: 0.8em;
  }

  .section-header-icon-chevron {
    line-height: 1.6em;
  }

  .section-header-time-left-text {
    padding-left: 5px;
    line-height: 2.5em;
  }

  .section-header-time-left-clock {
    line-height: 2.5em;
  }

  .section-navigation-left-button {
    text-align: left;
    padding-left: 2.2em;
  }
  .section-navigation-left-text {
    padding-left: 6em;
  }

  .section-navigation-right-button {
    text-align: right;
  }
  .section-navigation-right-text {
    padding-left: 4.8em;
  }

  .exam-signout-button {
    background-color: blue;
    color: #ffffff;
  }

  .exam-signout-button-text {
    margin-left: 1em;
  }

  .exam-abort-button {
    background-color: red;
    color: #ffffff;
  }

  .exam-abort-button-text {
    margin-left: 1em;
  }

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style: none;
}