#user {

  .locale-bar {
    margin-left: 1em;
    margin-right: 1em;
  }

  .locale-item {
    padding-left: 0.5em;
    padding-right: 0.5em;
    cursor: pointer;
  }

  .locale-item:hover {
    a {
    color: $sitnet-blue-highlight;
    }
  }
}