<div class="main-row">
    <div class="col-md-12">
        <div class="review-list-title">
            {{ 'sitnet_exam_graded_logged' | translate }}
            <a (click)="view.toggle = !view.toggle" class="pointer">
                <img
                    *ngIf="!view.toggle"
                    src="/assets/assets/images/icon_list_show_right.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_list_show_right.png';"
                />
                <img
                    *ngIf="view.toggle"
                    src="/assets/assets/images/icon_list_show_down.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_list_show_down.png';"
                />
            </a>
            <sup class="padl05">
                <img
                    ngbPopover="{{ 'sitnet_graded_logged_description' | translate }}"
                    placement="right"
                    triggers="mouseenter:mouseleave"
                    src="/assets/assets/images/icon_tooltip.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png';"
                />
            </sup>
        </div>
    </div>
</div>

<div *ngIf="view.items.length === 0">
    <div class="review-no-results">
        <i class="bi-exclamation-circle padl20 grayish"></i>
        {{ 'sitnet_exam_no_graded_logged' | translate }}
    </div>
</div>

<div *ngIf="view.toggle && view.items.length > 0">
    <div class="form-group input-group search tab-search review-list-search padl0 marl30">
        <input
            (change)="applyFreeSearchFilter()"
            [(ngModel)]="view.filter"
            class="form-control search"
            placeholder="{{ 'sitnet_search' | translate }}"
        />
        <div class="input-group-addon search">
            <img class="nopad" src="/assets/assets/images/icon_search.png" width="49" height="40" />
        </div>
    </div>

    <table class="table table-striped exams-table">
        <thead>
            <tr>
                <th class="dropdown" ngbDropdown>
                    <button class="btn btn-xs btn-default" ngbDropdownToggle></button>
                    <ul ngbDropdownMenu role="menu">
                        <li ngbDropdownItem role="presentation" [ngClass]="selections.page ? 'active' : ''">
                            <a role="menuitem" class="pointer" (click)="selectPage('selectionBox')">
                                {{ 'sitnet_choose_visible' | translate }}
                            </a>
                        </li>
                        <li ngbDropdownItem role="presentation" [ngClass]="selections.all ? 'active' : ''">
                            <a role="menuitem" class="pointer" (click)="selectAll()">
                                {{ 'sitnet_choose_all' | translate }}
                            </a>
                        </li>
                    </ul>
                </th>
                <th *ngIf="showId()">Id</th>
                <th class="with-top">
                    <table-sort
                        by="displayName"
                        text="sitnet_student"
                        [predicate]="view.predicate"
                        [reverse]="view.reverse"
                        (click)="setPredicate('displayName')"
                    ></table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="examParticipation.user.email"
                        text="sitnet_email"
                        [predicate]="view.predicate"
                        [reverse]="view.reverse"
                        (click)="setPredicate('examParticipation.user.email')"
                    ></table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="duration"
                        text="sitnet_exam_duration"
                        [predicate]="view.predicate"
                        [reverse]="view.reverse"
                        (click)="setPredicate('duration')"
                    ></table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="examParticipation.started"
                        text="sitnet_exam_time"
                        [predicate]="view.predicate"
                        [reverse]="view.reverse"
                        (click)="setPredicate('examParticipation.started')"
                    ></table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="examParticipation.exan.totalScore"
                        text="sitnet_total_score"
                        [predicate]="view.predicate"
                        [reverse]="view.reverse"
                        (click)="setPredicate('examParticipation.exam.totalScore')"
                    ></table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="displayedGrade"
                        text="sitnet_grade"
                        [predicate]="view.predicate"
                        [reverse]="view.reverse"
                        (click)="setPredicate('displayedGrade')"
                    ></table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="displayedCredit"
                        text="sitnet_exam_credit"
                        [predicate]="view.predicate"
                        [reverse]="view.reverse"
                        (click)="setPredicate('displayedCredit')"
                    ></table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="examParticipation.exam.examFeedback.feedbackStatus"
                        text="sitnet_feedback"
                        [predicate]="view.predicate"
                        [reverse]="view.reverse"
                        (click)="setPredicate('examParticipation.exam.examFeedback.feedbackStatus')"
                    ></table-sort>
                </th>
                <th class="with-top">
                    <table-sort
                        by="displayedGradingTime"
                        text="sitnet_graded"
                        [predicate]="view.predicate"
                        [reverse]="view.reverse"
                        (click)="setPredicate('displayedGradingTime')"
                    ></table-sort>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr
                *ngFor="
                    let review of view.filtered
                        | orderBy: view.predicate:view.reverse
                        | slice: view.page * view.pageSize:view.page * view.pageSize + view.pageSize
                "
            >
                <td class="table-column-checkbox">
                    <input
                        type="checkbox"
                        [(ngModel)]="review.selected"
                        class="selectionBox"
                        value="{{ review.examParticipation.exam.id }}"
                    />
                </td>
                <td *ngIf="showId()">{{ review.examParticipation._id || review.examParticipation.exam.id }}</td>
                <td class="table-column-13 table-column-bold">
                    <a class="pointer" href="{{ getLinkToAssessment(review) }}">
                        {{ review.displayName }}
                        <span *ngIf="review.examParticipation.user.userIdentifier">
                            <br />({{ review.examParticipation.user.userIdentifier }})</span
                        >
                    </a>
                </td>
                <td class="table-column-15">
                    <a class="pointer smaller" href="mailto:{{ review.examParticipation.user.email }}">{{
                        review.examParticipation.user.email
                    }}</a>
                </td>
                <td class="table-column-10">{{ review.duration + ' min' }}</td>
                <td class="table-column-10">
                    {{ review.started | applyDst | date: 'dd.MM.yyyy' }} {{ 'sitnet_clock_short' | translate }}
                    {{ review.started | applyDst | date: 'HH:mm' }} - {{ review.ended | applyDst | date: 'HH:mm' }}
                </td>
                <td class="table-column-15">
                    {{ review.examParticipation.exam.totalScore }} / {{ review.examParticipation.exam.maxScore }}
                    <span
                        *ngIf="
                            review.examParticipation.exam.rejectedAnswerCount > 0 ||
                            review.examParticipation.exam.approvedAnswerCount > 0
                        "
                    >
                        <br />{{ 'sitnet_approved' | translate }}:
                        {{ review.examParticipation.exam.approvedAnswerCount }} <br />{{
                            'sitnet_rejected' | translate
                        }}: {{ review.examParticipation.exam.rejectedAnswerCount }}
                    </span>
                </td>
                <td class="table-column-15">{{ review.displayedGrade }}</td>
                <td class="table-column-10">
                    {{ review.displayedCredit }}
                </td>
                <td class="table-column-10">
                    <span *ngIf="review.examParticipation.exam.examFeedback.feedbackStatus">{{
                        'sitnet_teachers_comment_read' | translate
                    }}</span>
                    <span *ngIf="!review.examParticipation.exam.examFeedback.feedbackStatus">{{
                        'sitnet_teachers_comment_notread' | translate
                    }}</span>
                </td>
                <td class="table-column-15">{{ review.displayedGradingTime | date: 'dd.MM.yyyy' }}</td>
            </tr>
            <!--Fill if page not full-->
            <tr *ngIf="view.filtered.length === 0">
                <td *ngIf="showId()" colspan="11">{{ 'sitnet_review_no_result' | translate }}</td>
                <td *ngIf="!showId()" colspan="10">{{ 'sitnet_review_no_result' | translate }}</td>
            </tr>
            <tr *ngFor="let r of [] | pageFill: view.filtered.length:view.page:view.pageSize">
                <td *ngIf="showId()" colspan="11">&nbsp;</td>
                <td *ngIf="!showId()" colspan="10">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="detail-row" *ngIf="view.toggle">
    <div class="col-md-12" *ngIf="view.filtered.length > view.pageSize">
        <paginator
            [items]="view.filtered"
            (onSelectPage)="pageSelected($event)"
            [pageSize]="view.pageSize"
            [currentPage]="view.page"
        ></paginator>
    </div>
</div>

<div class="main-row" *ngIf="view.toggle && view.filtered.length > 0">
    <!-- Buttons -->
    <div class=" padl0 padr0 marb20">
        <div class="speed-review-csv">
            <a class="pointer" (click)="printSelected()">{{ 'sitnet_print_selected_to_file' | translate }}</a>
        </div>

        <span *ngIf="!collaborative" class="pull-right">
            <div class="review-attachment-button make-inline mart20 marr30 marl10">
                <a class="pointer" (click)="archiveSelected()">
                    {{ 'sitnet_archive_selected' | translate }}
                </a>
            </div>
        </span>
    </div>
    <div class="padl0" *ngIf="!collaborative">
        <div class="speed-review-csv mart0">
            <a class="pointer" (click)="printSelected(true)">{{ 'sitnet_print_selected_to_excel' | translate }}</a>
        </div>
    </div>
</div>
