<div class="xm-study-item-container">
    @if (answer.question.question !== answer.question.parent?.question) {
        <div class="row m-2">
            <span class="col-12 alert alert-warning" role="alert">
                <i class="bi-exclamation-triangle"></i>&nbsp;{{ 'i18n_question_differs' | translate }}
            </span>
        </div>
    }
    <div class="row m-2 pb-2">
        <div class="col-12">
            <strong>{{ 'i18n_assessee_information' | translate | uppercase }}</strong>
        </div>
    </div>
    <div class="row m-2 pb-2">
        <div class="col-12">
            <a [routerLink]="['/staff/assessments', answer.examSection.exam.id]" target="_blank">
                {{ name }}
                @if (answer.examSection.exam.creator?.userIdentifier) {
                    <span>({{ answer.examSection.exam.creator.userIdentifier }})</span>
                }
            </a>
            <a class="pointer-hand ps-2" (click)="answer.expanded = !answer.expanded">
                @if (answer.expanded) {
                    <img src="/assets/images/icon_list_show_right.svg" alt="" />
                } @else {
                    <img src="/assets/images/icon_list_show_down.svg" alt="" />
                }
            </a>
        </div>
    </div>
    <div [ngbCollapse]="answer.expanded">
        <div class="row m-2">
            <div class="col-12">
                <strong>{{ 'i18n_exam_answer' | translate | uppercase }}</strong>
            </div>
        </div>
        <div class="row ms-2"><div class="col-12" [xmMathJax]="answer.essayAnswer.answer || ''"></div></div>
        @if (answer.essayAnswer.attachment) {
            <div class="row ms-2">
                <div class="col-12">
                    <strong>{{ 'i18n_answer_attachment' | translate | uppercase }}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a class="pointer" (click)="downloadAttachment()">
                        {{ answer.essayAnswer.attachment.fileName | uppercase }}
                    </a>
                </div>
            </div>
        }
        <div class="row m-2">
            <div class="col-12">
                <strong>{{ 'i18n_answer_length' | translate | uppercase }}</strong>
            </div>
        </div>
        <div class="row ms-2">
            <div class="col-12">
                {{ getWordCount() }} {{ 'i18n_words' | translate }}, {{ 'i18n_approximately' | translate }}
                {{ getCharacterCount() }} {{ 'i18n_characters' | translate }}
            </div>
        </div>
        @if ((answer.expectedWordCount || 0) > 0) {
            <div class="row ms-2">
                <div class="col-12">
                    {{ 'i18n_essay_length_recommendation' | translate }}: {{ answer.expectedWordCount }} ({{
                        'i18n_approximately' | translate
                    }}
                    {{ (answer.expectedWordCount || 0) * 8 }} {{ 'i18n_characters' | translate }})
                </div>
            </div>
        }
        <div class="row m-2">
            <div class="col-12">
                <strong
                    >{{ 'i18n_word_points' | translate | uppercase }} &nbsp;<small
                        >[{{ 0 }}-{{ displayMaxScore() }}]</small
                    >
                </strong>
            </div>
        </div>
        <div class="row ms-2">
            <div class="col-2">
                @if (answer.evaluationType === 'Points') {
                    <form #essayPoints="ngForm" name="essayPoints">
                        <input
                            name="score"
                            type="number"
                            lang="en"
                            class="form-control"
                            [(ngModel)]="answer.essayAnswer.temporaryScore"
                            size="5"
                            onclick="this.focus();"
                            [disabled]="!editable"
                            [min]="0"
                            [max]="answer.maxScore"
                        />
                        @if (essayPoints.invalid) {
                            <small class="alert-danger">
                                <i class="bi-exclamation-circle"></i>&nbsp;{{ 'i18n_error_score_input' | translate }}
                            </small>
                        }
                    </form>
                }
            </div>
            @if (answer.evaluationType === 'Selection') {
                <select class="form-select" [(ngModel)]="answer.essayAnswer.temporaryScore" [disabled]="!editable">
                    <option [ngValue]="1">
                        {{ 'i18n_approved' | translate }}
                    </option>
                    <option [ngValue]="0">
                        {{ 'i18n_rejected' | translate }}
                    </option>
                </select>
            }
        </div>

        <div class="row m-2">
            <div class="col-12">
                <span class="checkbox">
                    <label>
                        <input type="checkbox" [(ngModel)]="answer.selected" [disabled]="!editable || !isAssessed()" />
                        {{ action | translate }}
                    </label>
                    @if (editable && isAssessed() && answer.selected) {
                        <i class="ms-1 pointer bi bi-arrow-return-right text-success" (click)="saveScore()"></i>
                    }
                </span>
            </div>
        </div>
    </div>
</div>
