<div class="essay-answer-wrapper">
    <div class="detail-row p-0" *ngIf="answer.question.question !== answer.question.parent?.question">
        <span class="col-md-12 alert alert-warning essay-answer-warning" role="alert">
            <i class="bi-exclamation-triangle"></i>&nbsp;{{ 'sitnet_question_differs' | translate }}
        </span>
    </div>
    <div class="main-row">
        <strong>{{ 'sitnet_assessee_information' | translate | uppercase }}</strong>
    </div>
    <div class="main-row pt-0 px-3 w-100 d-flex justify-content-between essay-answer-item">
        <div>
            <a uiSref="staff.assessment" [uiParams]="{ id: answer.examSection.exam.id }" target="_blank">
                <strong>
                    {{ name }}
                    <span *ngIf="answer.examSection.exam.creator?.userIdentifier">
                        ({{ answer.examSection.exam.creator.userIdentifier }})
                    </span>
                </strong>
            </a>
        </div>
        <div>
            <a class="pointer-hand" (click)="answer.expanded = !answer.expanded">
                <img
                    *ngIf="!answer.expanded"
                    src="/assets/images/icon_list_show_right.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/images/icon_list_show_right.png';"
                />
                <img
                    *ngIf="answer.expanded"
                    src="/assets/images/icon_list_show_down.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/images/icon_list_show_down.png';"
                />
            </a>
        </div>
    </div>
    <div class="main-row" *ngIf="!answer.expanded">
        <div>
            <strong>&hellip;</strong>
        </div>
    </div>
    <div *ngIf="answer.expanded">
        <div class="main-row">
            <strong>{{ 'sitnet_exam_answer' | translate | uppercase }}</strong>
        </div>
        <div class="main-row p-0">
            <div class="col-md-12 essay-answer-item" [MathJax]="answer.essayAnswer.answer || ''"></div>
        </div>

        <div class="detail-row p-0" *ngIf="answer.essayAnswer.attachment">
            <div class="detail-row">
                <div class="col-md-12">
                    <strong>{{ 'sitnet_answer_attachment' | translate | uppercase }}</strong>
                </div>
            </div>
            <div>
                <div class="main-row">
                    <div class="col-md-12 essay-answer-item">
                        <a class="pointer" (click)="downloadAttachment()">
                            {{ answer.essayAnswer.attachment.fileName | uppercase }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="detail-row px-0 d-flex justify-content-between essay-answer-item">
            <div>
                <div class="main-row">
                    <strong>{{ 'sitnet_answer_length' | translate | uppercase }}</strong>
                </div>
                <div class="detail-row">
                    {{ getWordCount() }} {{ 'sitnet_words' | translate }}, {{ 'sitnet_approximately' | translate }}
                    {{ getCharacterCount() }} {{ 'sitnet_characters' | translate }}
                </div>
                <div class="detail-row" *ngIf="(answer.expectedWordCount || 0) > 0">
                    {{ 'sitnet_essay_length_recommendation' | translate }}: {{ answer.expectedWordCount }} ({{
                        'sitnet_approximately' | translate
                    }}
                    {{ (answer.expectedWordCount || 0) * 8 }} {{ 'sitnet_characters' | translate }})
                </div>
            </div>
            <div>
                <div class="main-row">
                    <strong
                        >{{ 'sitnet_word_points' | translate | uppercase }} &nbsp;<small
                            >[{{ 0 }}-{{ displayMaxScore() }}]</small
                        >
                    </strong>
                </div>
                <div class="detail-row">
                    <div *ngIf="answer.evaluationType === 'Points'">
                        <form #essayPoints="ngForm" name="essayPoints">
                            <input
                                name="score"
                                type="number"
                                lang="en"
                                class="form-control"
                                [(ngModel)]="answer.essayAnswer.temporaryScore"
                                size="5"
                                onclick="this.focus();"
                                [disabled]="!editable"
                                [min]="0"
                                [max]="answer.maxScore"
                            />
                            <small *ngIf="essayPoints.invalid" class="alert-danger">
                                <i class="bi-exclamation-circle"></i>&nbsp;{{ 'sitnet_error_score_input' | translate }}
                            </small>
                        </form>
                    </div>
                    <div *ngIf="answer.evaluationType === 'Selection'">
                        <select
                            class="form-control"
                            [(ngModel)]="answer.essayAnswer.temporaryScore"
                            [disabled]="!editable"
                        >
                            <option [ngValue]="1">
                                {{ 'sitnet_approved' | translate }}
                            </option>
                            <option [ngValue]="0">
                                {{ 'sitnet_rejected' | translate }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-row">
            <span class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="answer.selected" [disabled]="!editable || !isAssessed()" />
                    {{ action | translate }}
                </label>
                <i
                    *ngIf="editable && isAssessed() && answer.selected"
                    class="marl10 pointer bi bi-arrow-return-right text-success"
                    (click)="saveScore()"
                ></i>
            </span>
        </div>
    </div>
</div>
