<div id="dashboard">
    <div class="row">
        <div class="col-md-8 essay-question-review-column">
            <div class="essay-question-review-wrapper">
                <div class="top-row">
                    <div class="col-md-8">
                        <div class="student-details-title-wrap">
                            <history-back></history-back>
                            <div class="student-exam-details-title">
                                {{ 'sitnet_question_based_review' | translate }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="essay-review-status">
                            <!-- Arvioinnin tila kesken / valmis -->
                            <span class="inspection-title">{{ 'sitnet_inspection_status' | translate }}:</span>
                            <span *ngIf="isFinalized(selectedReview)" class="text-success"
                                >{{ 'sitnet_exam_status_graded' | translate | lowercase }}
                            </span>
                            <span *ngIf="!isFinalized(selectedReview)" class="text-danger"
                                >{{ 'sitnet_in_progress' | translate | lowercase }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="top-row">
                    <div class="col-md-11 col-md-offset-1">
                        {{ getAssessedAnswerCount(true) }} / {{ selectedReview.answers.length }}
                        {{ 'sitnet_graded' | translate | lowercase }}
                    </div>
                </div>
                <div class="detail-row">
                    <div
                        [ngClass]="selectedReview.question.defaultAnswerInstructions ? 'col-md-10' : 'col-md-11'"
                        class="col-md-offset-1"
                    >
                        <div class="review-question-title" [MathJax]="selectedReview.question.question"></div>
                    </div>
                    <div *ngIf="selectedReview.question.defaultAnswerInstructions" class="col-md-1">
                        <a (click)="selectedReview.expanded = !selectedReview.expanded" class="pointer-hand">
                            <img
                                *ngIf="!selectedReview.expanded"
                                src="/assets/assets/images/icon_list_show_right.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='/assets/assets/images/icon_list_show_right.png';"
                            />
                            <img
                                *ngIf="selectedReview.expanded"
                                src="/assets/assets/images/icon_list_show_down.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='/assets/assets/images/icon_list_show_down.png';"
                            />
                        </a>
                    </div>
                </div>
                <div class="main-row" *ngIf="selectedReview.expanded">
                    <div class="col-md-10 col-md-offset-1 essay-answer-instructions-box">
                        <img
                            src="/assets/assets/images/icon_info.png"
                            alt="exam"
                            onerror="this.onerror=null;this.src='/assets/assets/images/icon_info.png';"
                        />
                        <span class="padl10">{{ selectedReview.question.defaultAnswerInstructions }}</span>
                    </div>
                </div>
                <div class="main-row" *ngIf="selectedReview.question.attachment">
                    <div class="col-md-10 col-md-offset-1">
                        <span>
                            <i class="bi-paperclip text-primary"></i>&nbsp;
                            <a class="pointer" (click)="downloadQuestionAttachment()">
                                {{ selectedReview.question.attachment.fileName }}</a
                            >
                        </span>
                    </div>
                </div>
                <div class="main-row padb0" *ngIf="selectedReview.evaluationCriteria">
                    <div class="col-md-11 col-md-offset-1">
                        {{ 'sitnet_exam_evaluation_criteria' | translate }}
                    </div>
                </div>
                <div class="detail-row" *ngIf="selectedReview.evaluationCriteria">
                    <div class="col-md-11 col-md-offset-1">
                        <div class="review-question-title">
                            {{ selectedReview.evaluationCriteria }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-row">
                <div class="triangle-line"></div>
            </div>
            <div class="top-row">
                <div class="col-md-12">
                    <ngb-tabset>
                        <ngb-tab id="1">
                            <ng-template ngbTabTitle>
                                {{ 'sitnet_unassessed_exams' | translate }}
                                <span class="badge question-flow-badge">{{ getUnassessedAnswerCount() }}</span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <essay-answers
                                    [answers]="unassessedAnswers"
                                    [editable]="true"
                                    actionText="sitnet_move_to_assessed"
                                    (onAssessed)="saveAssessments($event)"
                                >
                                </essay-answers>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="2">
                            <ng-template ngbTabTitle>
                                {{ 'sitnet_assessed_exams' | translate }}
                                <span class="badge question-flow-badge">{{ getAssessedAnswerCount() }}</span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <essay-answers
                                    [answers]="assessedAnswers"
                                    [editable]="true"
                                    actionText="sitnet_grade_exams"
                                    (onAssessed)="saveAssessments($event)"
                                >
                                </essay-answers>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab id="2">
                            <ng-template ngbTabTitle>
                                {{ 'sitnet_graded_logged_exams' | translate }}
                                <span class="badge question-flow-badge">{{ getLockedAnswerCount() }}</span>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <essay-answers
                                    [answers]="lockedAnswers"
                                    [editable]="false"
                                    actionText="sitnet_grade_exams"
                                >
                                </essay-answers>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
            <div class="ballast"></div>
        </div>
        <!-- END OF RIGHT COL -->

        <div class="col-md-4">
            <question-flow *ngIf="reviews" [reviews]="reviews" (onSelection)="questionSelected($event)">
            </question-flow>
        </div>
    </div>
</div>
