.triangle-line {
    border-top: 2px solid lightgrey;
    position: relative;
    background: white;
    margin-top: 10px;
    transform: rotate(180deg);
    margin-right: -15px;
    width: 100%;
}
.triangle-line:before,
.triangle-line:after {
    content: '';
    position: absolute;
    right: 70px;
    top: -19px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent white transparent;
}
.triangle-line:before {
    right: 68px;
    top: -22px;
    border-width: 0 22px 22px 22px;
    border-bottom-color: lightgrey;
}
.essay-answer-instructions-box {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding-top: 1em;
    padding-bottom: 1em;
}
.essay-review-status {
    line-height: 2.2;
    font-size: 20px;
}
.essay-question-review-column {
    border-right: 1px solid lightgrey;
}
.question-review-title {
    font-size: 22px;
    color: #2c2c2c;
}
.question-review-toolbar-text {
    line-height: 2.2;
}
