<div class="modal-header">
    <h4><i class="fa fa-exclamation"></i>&nbsp;&nbsp;{{ 'i18n_exception_time' | translate }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col">
            @if (!outOfService) {
                <div class="text-success">
                    {{ 'i18n_making_room_available' | translate }}
                </div>
            } @else {
                <div class="text-danger">
                    {{ 'i18n_making_room_out_of_service' | translate }}
                </div>
            }
            <div class="form-check mt-4">
                <label>
                    <input
                        class="form-check-input"
                        type="checkbox"
                        [checked]="wholeDay"
                        (change)="wholeDay = !wholeDay"
                        autofocus
                    />
                    {{ 'i18n_whole_day' | translate }}
                </label>
            </div>
        </div>
    </div>
    {{ 'i18n_repeating_info' | translate }}
    <div ngbDropdown>
        <button ngbDropdownToggle class="btn btn-outline-secondary" type="button" id="dropDownMenu1">
            {{ 'i18n_' + repeats.toLowerCase() | translate }}&nbsp;<span class="caret"></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropDownMenu1">
            @for (ro of repeatOptions; track ro) {
                <button ngbDropdownItem (click)="updateRepeatOption(ro)" (keydown.enter)="updateRepeatOption(ro)">
                    {{ 'i18n_' + ro.toLowerCase() | translate }}
                </button>
            }
        </div>
    </div>
    <div class="row align-items-center">
        @if (repeats.toString() === 'ONCE') {
            <div class="col">
                <div class="mt-2 mb-3">{{ 'i18n_repeats_once' | translate }}</div>
                <div class="row mt-2">
                    <div class="col">
                        <label for="startDate">{{ 'i18n_begin' | translate }}:</label>
                        <xm-date-time-picker
                            id="startDate"
                            [initialTime]="startDate"
                            [hourStep]="1"
                            [minuteStep]="15"
                            [disableTime]="wholeDay"
                            (updated)="onStartTimeDateChange($event)"
                        >
                        </xm-date-time-picker>
                    </div>
                    <div class="col">
                        <label for="endDate">{{ 'i18n_end' | translate }}:</label>
                        <xm-date-time-picker
                            id="endDate"
                            [initialTime]="endDate"
                            [hourStep]="1"
                            [minuteStep]="15"
                            [disableTime]="wholeDay"
                            (updated)="onEndTimeDateChange($event)"
                        >
                        </xm-date-time-picker>
                    </div>
                </div>
            </div>
        }
        @if (repeats.toString() === 'DAILY_WEEKLY') {
            <div class="col">
                <div class="mt-2 mb-3">{{ 'i18n_repeats_weekly_or_every_day' | translate }}</div>
                <div class="row">
                    <div class="col">
                        <div>{{ 'i18n_clock' | translate }}:</div>
                        <label for="startDate">{{ 'i18n_begin' | translate }}:</label>
                        <ngb-timepicker
                            name="timepicker"
                            [disabled]="wholeDay"
                            [(ngModel)]="startTime"
                            [minuteStep]="15"
                            [hourStep]="1"
                            [ngClass]="wholeDay ? 'disable-gray-out' : ''"
                            (ngModelChange)="onStartTimeChange()"
                        ></ngb-timepicker>
                        <label for="endDate">{{ 'i18n_end' | translate }}:</label>
                        <ngb-timepicker
                            name="timepicker"
                            [disabled]="wholeDay"
                            [(ngModel)]="endTime"
                            [minuteStep]="15"
                            [hourStep]="1"
                            [ngClass]="wholeDay ? 'disable-gray-out' : ''"
                            (ngModelChange)="onEndTimeChange()"
                        ></ngb-timepicker>
                    </div>
                    <div class="col">
                        <button (click)="selectWholeWeek()" class="btn btn-sm btn-outline-secondary">
                            {{ 'i18n_select_week' | translate }}
                        </button>
                        <div class="my-2">
                            @for (day of selectableWeekDays; track day) {
                                <button
                                    class="badge pointer ms-1 blue-shadow-hover border-none"
                                    (click)="day.selected = !day.selected"
                                    [class]="day.selected ? 'bg-success' : 'background-gray text-black'"
                                >
                                    {{ day.day.slice(0, 2) }}
                                </button>
                            }
                        </div>
                        <div>{{ 'i18n_period' | translate }}:</div>
                        <label for="startDate">{{ 'i18n_beginning' | translate }}:</label>
                        <xm-date-picker
                            [initialDate]="startDate"
                            (updated)="onStartDateChange($event)"
                        ></xm-date-picker>
                        <label for="endDate">{{ 'i18n_until' | translate }}:</label>
                        <xm-date-picker [initialDate]="endDate" (updated)="onEndDateChange($event)"></xm-date-picker>
                    </div>
                </div>
            </div>
        }
        @if (repeats.toString() === 'MONTHLY') {
            <div class="col">
                <div class="mt-2 mb-3">{{ 'i18n_repeats_monthly' | translate }}</div>
                <div class="row">
                    <div class="col">
                        <div>{{ 'i18n_clock' | translate }}:</div>
                        <label for="startDate">{{ 'i18n_begin' | translate }}:</label>
                        <ngb-timepicker
                            name="timepicker"
                            [disabled]="wholeDay"
                            [(ngModel)]="startTime"
                            [minuteStep]="15"
                            [hourStep]="1"
                            [ngClass]="wholeDay ? 'disable-gray-out' : ''"
                            (ngModelChange)="onStartTimeChange()"
                        ></ngb-timepicker>
                        <label for="endDate">{{ 'i18n_end' | translate }}:</label>
                        <ngb-timepicker
                            name="timepicker"
                            [disabled]="wholeDay"
                            [(ngModel)]="endTime"
                            [minuteStep]="15"
                            [hourStep]="1"
                            [ngClass]="wholeDay ? 'disable-gray-out' : ''"
                            (ngModelChange)="onEndTimeChange()"
                        ></ngb-timepicker>
                    </div>
                    <div class="col mb-3">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="flexRadioDefault"
                                id="monthlyRadio1"
                                [(ngModel)]="isNumericNotWeekday"
                                [value]="true"
                            />
                            <input
                                type="number"
                                class="ms-1 me-1 mb-1"
                                min="1"
                                max="31"
                                [(ngModel)]="dayOfMonth"
                                (click)="isNumericNotWeekday = true"
                            />
                            {{ 'i18n_day' | translate }}
                        </div>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="flexRadioDefault"
                                id="monthlyRadio2"
                                checked
                                [(ngModel)]="isNumericNotWeekday"
                                [value]="false"
                            />
                            {{ 'i18n_of_month' | translate }}
                            <span class="dropdown" ngbDropdown>
                                <button
                                    ngbDropdownToggle
                                    class="btn btn-outline-secondary me-1 mb-1"
                                    type="button"
                                    id="selectWeekdayOrdinal"
                                    aria-expanded="true"
                                    (click)="isNumericNotWeekday = false"
                                >
                                    {{ 'i18n_' + selectedOrdinal.ordinal.toLowerCase() | translate }}&nbsp;<span
                                        class="caret"
                                    ></span>
                                </button>
                                <div
                                    ngbDropdownMenu
                                    style="padding-left: 0; min-width: 17em"
                                    role="menu"
                                    aria-labelledby="selectWeekdayOrdinal"
                                >
                                    @for (ord of ordinals; track ord) {
                                        <button
                                            ngbDropdownItem
                                            role="presentation"
                                            class="pointer"
                                            (click)="updateOrdinal(ord)"
                                            (keydown.enter)="updateOrdinal(ord)"
                                        >
                                            <a
                                                role="menuitem"
                                                title="{{ 'i18n_' + ord.ordinal.toLowerCase() | translate }}"
                                                >{{ 'i18n_' + ord.ordinal.toLowerCase() | translate }}</a
                                            >
                                        </button>
                                    }
                                </div>
                            </span>
                            <span class="dropdown" ngbDropdown>
                                <button
                                    ngbDropdownToggle
                                    class="btn btn-outline-secondary me-1 mb-1"
                                    type="button"
                                    id="weekdayOfMonth"
                                    aria-expanded="true"
                                    (click)="isNumericNotWeekday = false"
                                >
                                    {{ weekdayOfMonth.day }}&nbsp;<span class="caret"></span>
                                </button>
                                <div
                                    ngbDropdownMenu
                                    style="padding-left: 0; min-width: 17em"
                                    role="menu"
                                    aria-labelledby="weekdayOfMonth"
                                >
                                    @for (swd of selectableWeekDays; track swd) {
                                        <button
                                            ngbDropdownItem
                                            role="presentation"
                                            class="pointer"
                                            (click)="updateDayOfMonth(swd)"
                                            (keydown.enter)="updateDayOfMonth(swd)"
                                        >
                                            <a role="menuitem" title="{{ swd.day }}">{{ swd.day }}</a>
                                        </button>
                                    }
                                </div>
                            </span>
                        </div>
                        <div>{{ 'i18n_period' | translate }}:</div>
                        <label for="startDate">{{ 'i18n_beginning' | translate }}:</label>
                        <xm-date-picker
                            [initialDate]="startDate"
                            (updated)="onStartDateChange($event)"
                        ></xm-date-picker>
                        <label for="endDate">{{ 'i18n_until' | translate }}:</label>
                        <xm-date-picker [initialDate]="endDate" (updated)="onEndDateChange($event)"></xm-date-picker>
                    </div>
                </div>
            </div>
        }
        @if (repeats.toString() === 'YEARLY') {
            <div class="col">
                <div class="mt-2 mb-3">{{ 'i18n_repeats_yearly' | translate }}</div>
                <div class="row">
                    <div class="col">
                        <div>{{ 'i18n_clock' | translate }}:</div>
                        <label for="startDate">{{ 'i18n_begin' | translate }}:</label>
                        <ngb-timepicker
                            name="timepicker"
                            [disabled]="wholeDay"
                            [(ngModel)]="startTime"
                            [minuteStep]="15"
                            [hourStep]="1"
                            [ngClass]="wholeDay ? 'disable-gray-out' : ''"
                            (ngModelChange)="onStartTimeChange()"
                        ></ngb-timepicker>
                        <label for="endDate">{{ 'i18n_end' | translate }}:</label>
                        <ngb-timepicker
                            name="timepicker"
                            [disabled]="wholeDay"
                            [(ngModel)]="endTime"
                            [minuteStep]="15"
                            [hourStep]="1"
                            [ngClass]="wholeDay ? 'disable-gray-out' : ''"
                            (ngModelChange)="onEndTimeChange()"
                        ></ngb-timepicker>
                    </div>
                    <div class="col mb-3">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="flexRadioDefault"
                                id="yearlyRadio1"
                                [(ngModel)]="isNumericNotWeekday"
                                [value]="true"
                            />
                            <input
                                type="number"
                                class="ms-1 me-1"
                                min="1"
                                max="31"
                                [(ngModel)]="dayOfMonth"
                                (click)="isNumericNotWeekday = true"
                            />
                            {{ 'i18n_day' | translate }}
                            {{ 'i18n_of_every' | translate }}
                            <span class="dropdown" ngbDropdown>
                                <button
                                    ngbDropdownToggle
                                    class="btn btn-outline-secondary me-1 mb-1"
                                    type="button"
                                    id="monthOfYear"
                                    aria-expanded="true"
                                    (click)="isNumericNotWeekday = true"
                                >
                                    {{ monthOfYear.month }}&nbsp;<span class="caret"></span>
                                </button>
                                <div
                                    ngbDropdownMenu
                                    style="padding-left: 0; min-width: 17em"
                                    role="menu"
                                    aria-labelledby="monthOfYear"
                                >
                                    @for (swd of selectableMonths; track swd) {
                                        <button
                                            ngbDropdownItem
                                            role="presentation"
                                            class="pointer"
                                            (click)="updateMonthOfYear(swd)"
                                            (keydown.enter)="updateMonthOfYear(swd)"
                                        >
                                            <a role="menuitem" title="{{ swd.month }}">{{ swd.month }}</a>
                                        </button>
                                    }
                                </div>
                            </span>
                        </div>
                        <div class="form-check mt-1 me-1 mb-1">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="flexRadioDefault"
                                id="yearlyRadio2"
                                checked
                                [(ngModel)]="isNumericNotWeekday"
                                [value]="false"
                            />
                            <span class="dropdown" ngbDropdown>
                                <button
                                    ngbDropdownToggle
                                    class="btn btn-outline-secondary me-1 mb-1"
                                    type="button"
                                    id="selectWeekdayOrdinal2"
                                    aria-expanded="true"
                                    (click)="isNumericNotWeekday = false"
                                >
                                    {{ 'i18n_' + selectedOrdinal.ordinal.toLowerCase() | translate }}&nbsp;<span
                                        class="caret"
                                    ></span>
                                </button>
                                <div
                                    ngbDropdownMenu
                                    style="padding-left: 0; min-width: 17em"
                                    role="menu"
                                    aria-labelledby="selectWeekdayOrdinal2"
                                >
                                    @for (ord of ordinals; track ord) {
                                        <button
                                            ngbDropdownItem
                                            role="presentation"
                                            class="pointer"
                                            (click)="updateOrdinal(ord)"
                                            (keydown.enter)="updateOrdinal(ord)"
                                        >
                                            <a
                                                role="menuitem"
                                                title="{{ 'i18n_' + ord.ordinal.toLowerCase() | translate }}"
                                                >{{ 'i18n_' + ord.ordinal.toLowerCase() | translate }}</a
                                            >
                                        </button>
                                    }
                                </div>
                            </span>
                            <span class="dropdown" ngbDropdown>
                                <button
                                    ngbDropdownToggle
                                    class="btn btn-outline-secondary me-1 mb-1"
                                    type="button"
                                    id="dropDownMenu3"
                                    aria-expanded="true"
                                    (click)="isNumericNotWeekday = false"
                                >
                                    {{ weekdayOfMonth.day }}&nbsp;<span class="caret"></span>
                                </button>
                                <div
                                    ngbDropdownMenu
                                    style="padding-left: 0; min-width: 17em"
                                    role="menu"
                                    aria-labelledby="dropDownMenu3"
                                >
                                    @for (swd of selectableWeekDays; track swd) {
                                        <button
                                            ngbDropdownItem
                                            role="presentation"
                                            class="pointer"
                                            (click)="updateDayOfMonth(swd)"
                                            (keydown.enter)="updateDayOfMonth(swd)"
                                        >
                                            <a role="menuitem" title="{{ swd.day }}">{{ swd.day }}</a>
                                        </button>
                                    }
                                </div>
                            </span>
                            {{ 'i18n_of_every' | translate }}
                            <span class="dropdown" ngbDropdown>
                                <button
                                    ngbDropdownToggle
                                    class="btn btn-outline-secondary me-1 mb-1"
                                    type="button"
                                    id="monthOfYear2"
                                    aria-expanded="true"
                                    (click)="isNumericNotWeekday = false"
                                >
                                    {{ monthOfYear.month }}&nbsp;<span class="caret"></span>
                                </button>
                                <div
                                    ngbDropdownMenu
                                    style="padding-left: 0; min-width: 17em"
                                    role="menu"
                                    aria-labelledby="monthOfYear"
                                >
                                    @for (swd of selectableMonths; track swd) {
                                        <button
                                            ngbDropdownItem
                                            role="presentation"
                                            class="pointer"
                                            (click)="updateMonthOfYear(swd)"
                                            (keydown.enter)="updateMonthOfYear(swd)"
                                        >
                                            <a role="menuitem" title="{{ swd.month }}">{{ swd.month }}</a>
                                        </button>
                                    }
                                </div>
                            </span>
                        </div>
                        <div>{{ 'i18n_period' | translate }}:</div>
                        <label for="startDate">{{ 'i18n_beginning' | translate }}:</label>
                        <xm-date-picker
                            [initialDate]="startDate"
                            (updated)="onStartDateChange($event)"
                        ></xm-date-picker>
                        <label for="endDate">{{ 'i18n_until' | translate }}:</label>
                        <xm-date-picker [initialDate]="endDate" (updated)="onEndDateChange($event)"></xm-date-picker>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger float-end" (click)="cancel()">
        {{ 'i18n_button_cancel' | translate }}
    </button>
    <button class="btn btn-primary" (click)="ok()">
        {{ 'i18n_button_save' | translate }}
    </button>
</div>
