<div>
    <div class="modal-header">
        <h4><i class="fa fa-exclamation"></i>&nbsp;&nbsp;{{ 'sitnet_maintenance_period' | translate }}</h4>
    </div>

    <div class="modal-body">
        <form class="modal-body" #periodForm="ngForm" name="periodForm">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="description">{{ 'sitnet_description' | translate }}:</label>
                        <input
                            class="form-control"
                            id="description"
                            name="description"
                            class="form-control"
                            [(ngModel)]="description"
                            required
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="startDate">{{ 'sitnet_begin' | translate }}:</label>
                    <date-time-picker
                        id="startDate"
                        [initialTime]="startsAt"
                        [hourStep]="1"
                        [minuteStep]="15"
                        (updated)="onStartDateChange($event)"
                    >
                    </date-time-picker>
                </div>
                <div class="col">
                    <label for="endDate">{{ 'sitnet_end' | translate }}:</label>
                    <date-time-picker
                        id="endDate"
                        [initialTime]="endsAt"
                        [hourStep]="1"
                        [minuteStep]="15"
                        (updated)="onEndDateChange($event)"
                    >
                    </date-time-picker>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger pull-right" (click)="cancel()">
            {{ 'sitnet_button_cancel' | translate }}
        </button>
        <button class="btn btn-primary" [disabled]="periodForm.invalid" (click)="ok()">
            {{ 'sitnet_button_save' | translate }}
        </button>
    </div>
</div>
