<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

@for (dwh of orderByWeekday(extendedRoom()!.extendedDwh); track dwh) {
    <div class="row mt-1 d-flex align-content-center">
        <div class="col-2 align-self-center">
            {{ translateWeekdayName(dwh.weekday, true) }}
        </div>
        <div class="col row">
            @if (!dwh.editing) {
                <div class="col d-flex justify-content-between align-items-center text-center">
                    <span class="flex-grow-1 text-start">{{ workingHourFormat(dwh.displayStartingTime) }}</span>
                    <span class="flex-grow-0">&ndash;</span>
                    <span class="flex-grow-1 text-end">{{ workingHourFormat(dwh.displayEndingTime) }}</span>
                </div>
            }
            @if (dwh.editing) {
                <div class="col d-flex justify-content-around align-self-center">
                    <ngb-timepicker
                        name="timepicker"
                        size="small"
                        [minuteStep]="15"
                        [(ngModel)]="dwh.pickStartingTime"
                    ></ngb-timepicker>
                    <div class="align-self-center">&ndash;</div>
                    <ngb-timepicker
                        name="timepicker"
                        size="small"
                        [minuteStep]="15"
                        [(ngModel)]="dwh.pickEndingTime"
                    ></ngb-timepicker>
                </div>
            }
        </div>
        <div class="col-2 align-self-center">
            @if (!dwh.editing) {
                <div class="bi-pencil-fill pointer align-self-center" (click)="setEditing(dwh, true)"></div>
            }
            @if (dwh.editing) {
                <div class="d-flex">
                    <div
                        class="ms-1 bi-x-square-fill text-muted pointer align-self-center"
                        (click)="setEditing(dwh, false)"
                    ></div>
                    <div
                        class="ms-1 bi-check-circle-fill text-success pointer align-self-center"
                        (click)="updateHours(dwh)"
                    ></div>
                    <div class="ms-1 bi-trash text-danger pointer align-self-center" (click)="deleteHours(dwh)"></div>
                </div>
            }
        </div>
    </div>
}
<div class="row mt-1 d-flex align-content-center">
    <span class="col-2 align-self-center min-w-100" ngbDropdown>
        <button ngbDropdownToggle class="btn btn-outline-dark" type="button" id="dropDownMenu1" aria-expanded="true">
            {{ translateWeekdayName(newTime().weekday, true) }}&nbsp;<span class="caret"></span>
        </button>
        <div ngbDropdownMenu role="menu" aria-labelledby="dropDownMenu1">
            @for (weekday of WEEKDAYS; track weekday) {
                <button
                    ngbDropdownItem
                    role="presentation"
                    class="pointer"
                    (click)="updateNewTime(weekday)"
                    (keydown.enter)="updateNewTime(weekday)"
                >
                    {{ translateWeekdayName(weekday, true) }}
                </button>
            }
        </div>
    </span>
    <div class="col row">
        <div class="col d-flex justify-content-around align-self-center">
            <ngb-timepicker
                name="timepicker"
                size="small"
                [minuteStep]="15"
                [ngModel]="newTime().pickStartingTime"
                (ngModelChange)="updateNewTimePickStarting($event)"
            ></ngb-timepicker>
            <div class="align-self-center">-</div>
            <ngb-timepicker
                name="timepicker"
                size="small"
                [minuteStep]="15"
                [ngModel]="newTime().pickEndingTime"
                (ngModelChange)="updateNewTimePickEnding($event)"
            ></ngb-timepicker>
        </div>
    </div>
    <div class="col-2 align-self-center">
        <div class="bi-plus-circle-fill text-success pointer align-self-center" (click)="updateHours(newTime())"></div>
    </div>
</div>
