<div>
    <div class="mart40" *ngIf="!collaborative">
        <div class="review-list-title">
            {{ 'sitnet_exam_basic_information' | translate }}
        </div>
    </div>

    <div>
        <div class="row margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_exam_name' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_exam_name_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
            <div class="col-md-6">{{ exam.name }}</div>
        </div>
        <div class="row margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_course_name' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_course_name_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
            <div class="col-md-6">{{ exam.course.name }}</div>
        </div>
        <div class="row margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_exam_validity' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_exam_validity_period_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
            <div class="col-md-6">
                {{ exam.examActiveStartDate | date: 'dd.MM.yyyy' }} -
                {{ exam.examActiveEndDate | date: 'dd.MM.yyyy' }}
            </div>
        </div>
        <div class="row margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_exam_amount_questions' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_exam_amount_questions_description' | translate }}"
                        triggers="mouseenter:mouseleave"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
            <div class="col-md-6" *ngIf="exam">
                {{ getQuestionCounts() }}
            </div>
        </div>
        <div class="row margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_exam_amount_reservations' | translate }} /
                {{ 'sitnet_exam_amount_participations' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_exam_amount_reservations_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
            <div class="col-md-6" *ngIf="reviews">
                {{ gradedCount }} / {{ getRegisteredCount() }} ({{
                    (gradedCount / getRegisteredCount()) * 100 | number: '1.0-1'
                }}%)
            </div>
        </div>
        <div class="row margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_exam_average_time' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_exam_average_time_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
            <div class="col-md-6" *ngIf="reviews.length > 0">{{ getAverageTime() | number: '1.0-1' }} min</div>
        </div>
        <div class="row margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_aborted_exams' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_aborted_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
            <div class="col-md-6">
                <a class="pointer bold underline" *ngIf="reviews.length > 0" (click)="openAborted()">
                    {{ abortedExams.length }}
                </a>
            </div>
        </div>
        <div class="row margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_no_shows' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_no_shows_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
            <div class="col-md-6">
                <a class="pointer bold underline" (click)="openNoShows()">
                    {{ noShows.length }}
                </a>
            </div>
        </div>

        <div class="row mart40">
            <div class="col-md-12 review-list-title">
                {{ 'sitnet_feedback_summary' | translate }}
            </div>
        </div>

        <div class="row margin-20">
            <div class="col-md-3 exam-basic-title">
                {{ 'sitnet_feedback_messages_read' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_feedback_summary_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
            <div class="col-md-6" *ngIf="reviews">
                {{ getReadFeedback() }} / {{ getTotalFeedback() }} ({{ getFeedbackPercentage() | number: '1.0-1' }}%)
            </div>
        </div>

        <div class="row mart40">
            <div class="col-md-12 review-list-title">
                {{ 'sitnet_exam_grade_distribution' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_exam_grade_distribution_description' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-6">
                <canvas height="100" id="gradeDistributionChart"></canvas>
            </div>
        </div>

        <div class="row mart40">
            <div class="col-md-12 review-list-title">
                {{ 'sitnet_section_averages' | translate }}
                <sup class="padl05">
                    <img
                        ngbPopover="{{ 'sitnet_section_averages_tooltip' | translate }}"
                        popoverTitle="{{ 'sitnet_instructions' | translate }}"
                        triggers="mouseenter:mouseleave"
                        src="/assets/assets/images/icon_tooltip.svg"
                        alt="exam"
                        onerror="this.onerror=null;this.src='/assets/assets/images/icon_tooltip.png'"
                    />
                </sup>
            </div>
        </div>

        <div class="mar40">
            <div *ngFor="let kv of sectionScores | keyvalue" class="row margin-20">
                <div class="col-md-3 exam-basic-title">
                    {{ kv.key }}
                </div>
                <div class="col-md-9" *ngIf="kv.value.max > 0">
                    {{ calcAverage(kv.value.totals) | number: '1.2-2' }} / {{ kv.value.max | number: '1.2-2' }}
                </div>
            </div>
        </div>

        <div class="row mart40">
            <div class="col-md-12 review-list-title">
                {{ 'sitnet_exam_grade_time' | translate }}
            </div>
        </div>
        <div class="row mart40">
            <div class="col-md-12">
                <canvas height="300" id="gradeTimeChart"></canvas>
            </div>
        </div>

        <div class="row mart40">
            <div class="col-md-12 review-list-title">
                {{ 'sitnet_examination_time_distribution' | translate }}
            </div>
        </div>
        <div class="row mart40">
            <div class="col-md-12">
                <canvas height="300" id="examinationDateDistributionChart"></canvas>
            </div>
        </div>

        <div class="row mart40">
            <div class="col-md-12 review-list-title">
                {{ 'sitnet_exam_question_scores_report' | translate }}
            </div>
        </div>

        <div class="row" *ngIf="reviews.length > 0">
            <div class="col-md-12 margin-20">
                <a class="pointer" (click)="printQuestionScoresReport()">
                    {{ 'sitnet_exam_print_question_scores_report' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
