<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div
    class="row m-2 details-view"
    [ngClass]="selectedRoom ? 'xm-study-item-container' : 'xm-study-item-container--inactive'"
>
    <div class="col-md-12">
        <div class="row">
            <span class="col-md-11 col-9">
                <h2 class="calendar-phase-title">{{ sequenceNumber }}. {{ 'i18n_calendar_phase_2' | translate }}</h2>
            </span>
            <span class="col-md-1 col-3">
                @if (selectedRoom) {
                    <span class="calendar-phase-icon float-end">
                        <img class="arrow_icon" src="/assets/images/icon-phase.png" alt="" />
                    </span>
                }
            </span>
        </div>
        <div class="row mt-3">
            <div class="col" ngbDropdown>
                <button
                    ngbDropdownToggle
                    class="btn btn-outline-dark"
                    type="button"
                    id="dropDownMenu1"
                    aria-expanded="true"
                    [disabled]="(isExternal && !organisation) || disabled"
                >
                    {{ isExternal ? ('i18n_external_room' | translate) : ('i18n_room' | translate) }}
                    <span class="caret"></span>
                </button>
                <div ngbDropdownMenu role="menu" aria-labelledby="dropDownMenu1" class="xm-scrollable-menu">
                    @for (room of rooms(); track room.id) {
                        <button
                            ngbDropdownItem
                            [class]="room.outOfService ? 'disabled' : ''"
                            role="menuitem"
                            (click)="selectRoom(room)"
                            title="{{ room.name }}"
                            [attr.aria-disabled]="room.outOfService"
                        >
                            <a> {{ room.name }}</a>
                        </button>
                    }
                </div>
            </div>
            <div class="col ps-0">
                @if (isInteroperable && !isExternal) {
                    <button class="btn btn-outline-secondary" (click)="makeExternalReservation()">
                        {{ 'i18n_external_reservation' | translate }}&nbsp;
                    </button>
                }
            </div>
        </div>
        <xm-calendar-accessibility-picker
            [items]="accessibilities"
            (itemsChange)="accesibilitiesChanged($event)"
            [disabled]="disabled"
            [hidden]="isExternal"
        />

        @if (selectedRoom) {
            <div class="row mt-2">
                <div class="col-md-12">
                    <xm-calendar-selected-room
                        [room]="selectedRoom"
                        [viewStart]="currentWeek()"
                        [maintenancePeriods]="maintenancePeriods()"
                    ></xm-calendar-selected-room>
                </div>
            </div>
        }
        @if (selectedRoom) {
            <div class="row mt-2">
                <div class="col-md-12">
                    <xm-password-prompt
                        #passwordPrompt
                        [visible]="!passwordVerified()"
                        (passwordValidated)="onPasswordValidated($event)"
                    ></xm-password-prompt>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <xm-booking-calendar
                        (eventSelected)="eventSelected($event)"
                        (moreEventsNeeded)="refresh($event)"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        [room]="selectedRoom"
                        [accessibilities]="accessibilities"
                        [visible]="selectedRoom !== undefined"
                        [passwordVerified]="passwordVerified()"
                        [isAdmin]="isAdmin"
                    >
                    </xm-booking-calendar>
                </div>
            </div>
        }
    </div>
</div>
