<div class="row student-enrolment-wrapper details-view" [ngClass]="selectedRoom ? '' : 'notactive'">
    <div class="col-md-12">
        <div class="row">
            <span class="col-md-11 col-9">
                <span class="calendar-phase-title">
                    {{ sequenceNumber }}. {{ 'sitnet_calendar_phase_2' | translate }}
                    <small class="col-12 pl-0">
                        <button
                            class="btn btn-sm btn-outline-dark"
                            (click)="makeExternalReservation()"
                            *ngIf="isInteroperable && !isExternal"
                        >
                            {{ 'sitnet_external_reservation' | translate }}&nbsp;
                        </button>
                    </small>
                </span>
            </span>
            <span class="col-md-1 col-3">
                <span class="calendar-phase-icon float-right" *ngIf="selectedRoom">
                    <img class="arrow_icon" src="/assets/images/icon-phase.png" alt="choose room" />
                </span>
            </span>
        </div>
        <div class="row mt-2 mb-2">
            <!-- todo: make this a component -->
            <div class="col-md-12 mart10 marb20" [hidden]="isExternal">
                <div class="row">
                    <span class="col-md-12">
                        <button
                            class="infolink pointer border rounded"
                            *ngIf="!disabled"
                            tabindex="0"
                            (click)="showAccessibilityMenu = !showAccessibilityMenu"
                        >
                            {{ 'sitnet_calendar_room_accessibility_info' | translate }}
                            <img
                                class="arrow_icon"
                                *ngIf="!showAccessibilityMenu"
                                alt="show accessibility selection"
                                src="/assets/images/arrow_right.png"
                            />
                            <img
                                class="arrow_icon"
                                *ngIf="showAccessibilityMenu"
                                alt="hide accessibility selection"
                                src="/assets/images/arrow_down.png"
                            />
                        </button>
                        <span *ngIf="disabled" class="text text-muted">
                            {{ 'sitnet_calendar_room_accessibility_info' | translate }}
                        </span>
                        <div class="row" [hidden]="!showAccessibilityMenu">
                            <div class="col-md-12">
                                <div class="calendar-accs-title">
                                    {{ 'sitnet_exam_room_accessibility' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="!showAccessibilityMenu">
                            <div class="col-md-12 calendar-accs-checkboxes">
                                <span class="marr10 accs-list" *ngFor="let accessibility of accessibilities">
                                    <input
                                        aria-label="search for accessibility criteria"
                                        type="checkbox"
                                        role="presentation"
                                        (click)="selectAccessibility(accessibility)"
                                        value="{{ accessibility.name | slice: 0:30 }}"
                                    />
                                    {{ accessibility.name | slice: 0:30 }}
                                </span>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="row ml-1 mt-3">
            <div class="dropdown" ngbDropdown>
                <button
                    ngbDropdownToggle
                    class="btn btn-outline-dark"
                    type="button"
                    id="dropDownMenu1"
                    aria-expanded="true"
                    [disabled]="(isExternal && !organisation) || disabled"
                >
                    {{ 'sitnet_room' | translate }}
                    <span class="caret"></span>
                </button>
                <div ngbDropdownMenu role="menu" aria-labelledby="dropDownMenu1">
                    <button
                        ngbDropdownItem
                        *ngFor="let room of rooms"
                        role="presentation"
                        (click)="selectRoom(room)"
                        title="{{ room.name }}"
                    >
                        <div ngbDropdownItem [disabled]="room.outOfService" role="menuitem">
                            <a> {{ room.name }}</a>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mart10" *ngIf="selectedRoom">
            <div class="col-md-12">
                <xm-calendar-selected-room
                    [room]="selectedRoom"
                    [viewStart]="currentWeek"
                    [maintenancePeriods]="maintenancePeriods"
                ></xm-calendar-selected-room>
            </div>
        </div>
        <div class="row mart10" *ngIf="selectedRoom">
            <div class="col-md-12">
                <xm-booking-calendar
                    (eventSelected)="eventSelected($event)"
                    (moreEventsNeeded)="refresh($event)"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    [room]="selectedRoom"
                    [visible]="selectedRoom !== undefined"
                    [events]="events"
                >
                </xm-booking-calendar>
            </div>
        </div>
    </div>
</div>
