<div class="col-md-12 mart40">
    <div class="review-list-title">
        <span class="pointer" (click)="autoevaluationDisplay.visible = !autoevaluationDisplay.visible">
            {{ 'sitnet_exam_autoevaluation' | translate }}
            <span *ngIf="autoevaluation.enabled">({{ 'sitnet_in_use' | translate }})</span>
            <span *ngIf="autoevaluation.enabled">({{ 'sitnet_not_in_use' | translate }})</span>
            <span
                ngbPopover="{{ 'sitnet_show' | translate }} / {{ 'sitnet_hide' | translate }}"
                placement="left"
                delay="1000"
                trigger="'mouseenter'"
            >
                <img
                    [hidden]="autoevaluationDisplay.visible"
                    src="Images/icon_list_show_right.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='Images/icon_list_show_right.png'"
                />
                <img
                    [hidden]="!autoevaluationDisplay.visible"
                    src="Images/icon_list_show_down.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='Images/icon_list_show_down.png'"
                />
            </span>
        </span>
    </div>
</div>

<div class="col-md-12 margin-20" [hidden]="!autoevaluationDisplay.visible">
    <span class="autoevaluation-info">
        {{ 'sitnet_autoevaluation_instructions' | translate }}
    </span>
    <div class="review-attachment-button autoeval-button">
        <a
            class="pointer"
            *ngIf="!autoevaluation.enabled"
            [(ngModel)]="autoevaluation.enabled"
            (click)="autoevaluation.enabled = true; onEnabled()"
        >
            {{ 'sitnet_use_autoevaluation' | translate }}</a
        >
        <a
            class="pointer"
            *ngIf="autoevaluation.enabled"
            class="notinuse"
            ng-model="autoevaluation.enabled"
            (click)="autoevaluation.enabled = false; onDisabled()"
        >
            {{ 'sitnet_do_not_use_autoevaluation' | translate }}</a
        >
    </div>
</div>

<div [hidden]="!autoevaluationDisplay.visible">
    <div class="top-row">
        <div class="col-md-2 autoevaluation-titles">
            <strong>{{ 'sitnet_exam_grade' | translate }}</strong>
        </div>
        <div class="col-md-4 autoevaluation-titles">
            <strong>{{ 'sitnet_percentage' | translate }} ({{ calculateExamMaxScore() }})</strong>
        </div>
        <div class="col-md-5 autoevaluation-titles">
            <strong>{{ 'sitnet_point_limit' | translate }}</strong>
        </div>
    </div>
    <form role="form">
        <div *ngFor="let ge of exam.autoEvaluationConfig?.gradeEvaluations | orderBy: ge.grade.id">
            <div class="row margin-20 padl30">
                <div class="col-md-2 autoevaluation-numbers">
                    {{ getGradeDisplayName(ge.grade) }}
                </div>
                <div class="col-md-4">
                    <input
                        [disabled]="!autoevaluation.enabled"
                        type="number"
                        lang="en"
                        class="form-control autoevaluation-inputs"
                        [(ngModel)]="ge.percentage"
                        (change)="propertyChanged()"
                        min="0"
                        max="100"
                        required
                        [appUniqueValues]="items"
                        property="'percentage'"
                    />
                    <span>%</span>
                </div>
                <div class="col-md-4 autoevaluation-numbers">
                    {{ calculatePointLimit(ge) }}
                </div>
            </div>
        </div>
    </form>

    <div class="top-row">
        <div class="col-md-12">
            <div class="sitnet-info-text">{{ 'sitnet_autoevaluation_release_type' | translate }}:</div>
            <div class="dropdown" ngbDropdown>
                <button
                    class="btn btn-default dropdown-toggle"
                    [disabled]="!autoevaluation.enabled"
                    type="button"
                    data-toggle="dropdown"
                    ngbDropdownToggle
                    aria-expanded="true"
                >
                    {{ selectedReleaseType().translation | translate }}&nbsp;<span class="caret"></span>
                </button>
                <ul ngbDropdownToggle role="menu">
                    <li
                        *ngFor="let type of autoevaluation.releaseTypes"
                        role="presentation"
                        [ngClass]="type.filtered ? 'active' : ''"
                        (click)="applyFilter(type)"
                    >
                        <a ngbDropdownItem class="pointer">
                            {{ type.translation | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <form role="form">
        <div class="bottom-row" *ngIf="selectedReleaseType().name === 'GIVEN_DATE'">
            <div class="col-md-6">
                <date-picker
                    (onUpdate)="releaseDateChanged($event)"
                    [initialDate]="exam.autoEvaluationConfig.releaseDate"
                ></date-picker>
            </div>
        </div>
        <div class="bottom-row" *ngIf="selectedReleaseType().name === 'GIVEN_AMOUNT_DAYS'">
            <div class="col-md-6">
                <div class="sitnet-info-text">{{ 'sitnet_autoevaluation_release_after_days' | translate }}:</div>
                <input
                    type="number"
                    lang="en"
                    class="form-control"
                    [(ngModel)]="exam.autoEvaluationConfig.amountDays"
                    (change)="propertyChanged()"
                    min="1"
                    max="60"
                    required
                />
            </div>
        </div>
    </form>
</div>
