<div class="col-md-12 padl0 margin-20" [hidden]="exam.executionType.type === 'PUBLIC'">
    <div class="col-md-9 col-md-offset-3">
        <form name="myForm">
            <input
                type="email"
                name="email"
                placeholder="{{ 'sitnet_write_pre_participant_email' | translate }}"
                class="form-control wdth-30 make-inline"
                [(ngModel)]="newPreParticipant.email"
            />
            <button
                [disabled]="!myForm.email.valid || !newPreParticipant.email"
                (click)="addPreParticipant()"
                class="btn btn-primary green border-green"
            >
                {{ 'sitnet_add' | translate }}
            </button>
        </form>
    </div>

    <div class="row col-md-12">
        <div class="col-md-3 exam-basic-title"></div>
        <div class="col-md-9">
            <ul class="muted-list mart10">
                <!-- Students not having finished the exam -->
                <li class="marl10" *ngFor="let enrolment of exam.examEnrolments">
                    {{ renderParticipantLabel(enrolment) }}
                    <span *ngIf="enrolment.user.userIdentifier">({{ enrolment.user.userIdentifier }})</span>
                    <button
                        class="reviewer-remove"
                        [disabled]="exam.state === 'PUBLISHED'"
                        (click)="removeParticipant(enrolment.id)"
                        title="{{ 'sitnet_remove' | translate }}"
                    >
                        <img
                            [hidden]="exam.state === 'PUBLISHED'"
                            src="Images/icon_remove.svg"
                            alt="exam"
                            onerror="this.onerror=null;this.src='Images/icon_remove.png'"
                        />
                    </button>
                </li>
                <!-- Students that have finished the exam -->
                <li class="marl10" *ngFor="let participant of exam.participants">
                    {{ participant.user.firstName }} {{ participant.user.lastName }}
                    <span *ngIf="participant.user.userIdentifier">({{ participant.user.userIdentifier }})</span>
                </li>
            </ul>
        </div>
    </div>
</div>
