<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div class="xm-study-item-container review-view">
    <div class="row">
        <div class="col-md-12">
            <!-- question text -->
            <div class="d-flex justify-content-between">
                <div [xmMath]="sectionQuestion().question.question"></div>
                <!-- points -->
                <div class="d-inline-block pe-3">
                    <strong>{{ 'i18n_multiplechoice_question_correct' | translate }}:</strong>
                    {{ sectionQuestion().clozeTestAnswer?.score?.correctAnswers }} /
                    {{
                        (sectionQuestion().clozeTestAnswer?.score?.correctAnswers || 0) +
                            (sectionQuestion().clozeTestAnswer?.score?.incorrectAnswers || 0)
                    }}
                    &nbsp;<strong>{{ 'i18n_word_points' | translate }}: </strong>
                    <span [style.text-decoration]="hasForcedScore() ? 'line-through' : null">
                        {{ displayAchievedScore() }}
                    </span>
                    @if (hasForcedScore()) {
                        <span class="text text-danger">
                            {{ sectionQuestion().forcedScore }}
                        </span>
                    }
                    / {{ sectionQuestion().maxScore }}
                </div>
                <button
                    class="d-inline-block btn btn-link"
                    (click)="toggleReviewExpanded()"
                    [ariaExpanded]="reviewExpanded()"
                >
                    @if (!reviewExpanded()) {
                        <img src="/assets/images/icon_list_show_right.svg" alt="" />
                    }
                    @if (reviewExpanded()) {
                        <img src="/assets/images/icon_list_show_down.svg" alt="" />
                    }
                </button>
            </div>

            <!-- question attachment -->
            @if (reviewExpanded() && sectionQuestion().question.attachment) {
                <div class="ps-0 mt-2 mb-3 notice-text">
                    {{ 'i18n_question_attachment' | translate }}:
                    <button
                        type="button"
                        class="btn btn-link"
                        (click)="downloadQuestionAttachment()"
                        [ariaLabel]="'i18n_download_attachment' | translate"
                    >
                        {{ sectionQuestion().question.attachment?.fileName }}
                    </button>
                </div>
            }

            <!-- question instructions -->
            @if (reviewExpanded() && sectionQuestion().answerInstructions) {
                <div class="ps-0 mt-2 mb-3 notice-text" role="note">
                    <img src="/assets/images/icon_info.svg" alt="" />
                    <span class="ps-2">{{ 'i18n_instructions' | translate }}:</span>
                    <span [innerHtml]="sectionQuestion().answerInstructions"></span>
                </div>
            }

            <!-- answer -->
            @if (reviewExpanded()) {
                <div class="mt-2">
                    <hr />
                </div>
            }

            @if (reviewExpanded()) {
                <div class="mb-2">
                    {{ 'i18n_exam_answer' | translate | uppercase }}
                    <div [xmMath]="sectionQuestion().clozeTestAnswer?.question"></div>
                    @if (participation().exam.executionType.type !== 'MATURITY') {
                        <div class="make-inline pe-3 mt-2">
                            <span class="text text-danger"
                                >{{ 'i18n_set_forced_score' | translate | uppercase }}&nbsp;
                                <small>[0 &hellip; {{ sectionQuestion().maxScore.toFixed(2) }}]</small></span
                            >
                            <input
                                type="number"
                                lang="en"
                                class="form-control"
                                [formControl]="scoreControl"
                                xmFixedPrecision
                                (blur)="scoreControl.valid && insertForcedScore()"
                                onclick="this.focus()"
                                [min]="0"
                                [max]="sectionQuestion().maxScore"
                            />
                            @if (scoreControl.invalid) {
                                <small class="alert-danger">
                                    <i class="bi-exclamation-circle"></i>&nbsp;{{
                                        'i18n_error_score_input' | translate
                                    }}
                                </small>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
