<div id="exam">
    <div class="student-enrolment-wrapper review-view">
        <div class="col-md-12">
            <!-- question text -->
            <div class="float-end">
                <a class="float-end" (click)="reviewExpanded = !reviewExpanded" [attr.aria-expanded]="reviewExpanded">
                    @if (!reviewExpanded) {
                        <img src="/assets/images/icon_list_show_right.svg" alt="" />
                    }
                    @if (reviewExpanded) {
                        <img src="/assets/images/icon_list_show_down.svg" alt="" />
                    }
                </a>
                <!-- grade -->
                <div class="review-points me-2">
                    <!-- grade -->
                    <div>
                        <strong>{{ 'i18n_multiplechoice_question_correct' | translate }}:</strong>
                        {{ sectionQuestion.clozeTestAnswer?.score?.correctAnswers }} /
                        {{
                            (sectionQuestion.clozeTestAnswer?.score?.correctAnswers || 0) +
                                (sectionQuestion.clozeTestAnswer?.score?.incorrectAnswers || 0)
                        }}
                        &nbsp;<strong>{{ 'i18n_word_points' | translate }}: </strong>
                        <span [ngStyle]="hasForcedScore() ? { 'text-decoration': 'line-through' } : null">
                            {{ displayAchievedScore() }}
                        </span>
                        @if (hasForcedScore()) {
                            <span class="text text-danger">
                                {{ sectionQuestion.forcedScore }}
                            </span>
                        }
                        / {{ sectionQuestion.maxScore }}
                    </div>
                </div>
            </div>

            <div class="review-question-title marr110" [xmMathJax]="sectionQuestion.question.question"></div>

            <!-- question attachment -->
            @if (reviewExpanded && sectionQuestion.question.attachment) {
                <div class="padl0 mart20 marb20 notice-text">
                    {{ 'i18n_question_attachment' | translate }}:
                    <a class="pointer" (click)="downloadQuestionAttachment()">
                        {{ sectionQuestion.question.attachment?.fileName }}</a
                    >
                </div>
            }

            <!-- question instructions -->
            @if (reviewExpanded && sectionQuestion.answerInstructions) {
                <div class="padl0 mart20 marb20 notice-text" role="note">
                    <img src="/assets/images/icon_info.svg" alt="" />
                    <span class="padl10">{{ 'i18n_instructions' | translate }}:</span>
                    <span [innerHtml]="sectionQuestion.answerInstructions"></span>
                </div>
            }

            <!-- answer -->
            @if (reviewExpanded) {
                <div class="mart20">
                    <hr />
                </div>
            }

            @if (reviewExpanded) {
                <div class="marb10">
                    <div class="points-title">
                        <span>{{ 'i18n_exam_answer' | translate | uppercase }}</span>
                    </div>
                    <div [innerHtml]="sectionQuestion.clozeTestAnswer?.question"></div>
                    @if (participation.exam.executionType.type !== 'MATURITY') {
                        <div class="make-inline padr30 mart20">
                            <div class="points-title">
                                <span class="text text-danger"
                                    >{{ 'i18n_set_forced_score' | translate | uppercase }}&nbsp;
                                    <small>[0 &hellip; {{ sectionQuestion.maxScore.toFixed(2) }}]</small></span
                                >
                            </div>
                            <form #forcedPoints="ngForm" name="forcedPoints">
                                <input
                                    name="score"
                                    type="number"
                                    lang="en"
                                    class="form-control"
                                    [(ngModel)]="scoreValue"
                                    xmFixedPrecision
                                    (blur)="forcedPoints.valid && insertForcedScore()"
                                    onclick="this.focus()"
                                    [disabled]="!isScorable"
                                    [min]="0"
                                    [max]="sectionQuestion.maxScore"
                                />
                                @if (forcedPoints.invalid) {
                                    <small class="alert-danger">
                                        <i class="bi-exclamation-circle"></i>&nbsp;{{
                                            'i18n_error_score_input' | translate
                                        }}
                                    </small>
                                }
                            </form>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
