<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div class="xm-study-item-container review-view">
    <div class="col-md-12">
        <!-- question text -->
        <div class="d-flex justify-content-between">
            <!-- question title -->
            <div class="me-2" [xmMathJax]="sectionQuestion.question.question"></div>
            <div>
                @if (sectionQuestion.evaluationType === 'Points') {
                    <div class="d-inline-block pe-3">
                        @if (!!sectionQuestion.forcedScore) {
                            <span class="text text-danger">
                                {{ sectionQuestion.forcedScore }}
                            </span>
                        }
                        @if (!sectionQuestion.forcedScore) {
                            <span class="text text-danger">
                                {{ scoreValue }}
                            </span>
                        }
                        / {{ displayMaxScore() }} {{ 'i18n_unit_points' | translate }}
                    </div>
                }
                @if (sectionQuestion.evaluationType === 'Selection') {
                    <div class="d-inline-block pe-3">
                        {{ 'i18n_evaluation_select' | translate }}:
                        @if (scoreValue === 1) {
                            <div>
                                {{ 'i18n_approved' | translate }}
                            </div>
                        }
                        @if (scoreValue === 0) {
                            <div>
                                {{ 'i18n_rejected' | translate }}
                            </div>
                        }
                        @if (!scoreValue && scoreValue !== 0) {
                            <div class="warning-no-hover border-none">
                                {{ 'i18n_no_grading' | translate }}
                            </div>
                        }
                    </div>
                }
                <!--chevron -->
                <button
                    class="float-end btn btn-link"
                    (click)="reviewExpanded = !reviewExpanded"
                    [attr.aria-label]="reviewExpanded ? ('i18n_collapse' | translate) : ('i18n_expand' | translate)"
                >
                    @if (!reviewExpanded) {
                        <img src="/assets/images/icon_list_show_right.svg" alt="" />
                    }
                    @if (reviewExpanded) {
                        <img src="/assets/images/icon_list_show_down.svg" alt="" />
                    }
                </button>
            </div>
        </div>

        <div class="row" [ngbCollapse]="!reviewExpanded" [attr.aria-expanded]="reviewExpanded">
            <div class="col-12">
                <!-- question attachment -->
                @if (sectionQuestion.question.attachment) {
                    <div class="ps-0 mt-2 mb-3 notice-text">
                        {{ 'i18n_question_attachment' | translate }}:
                        <button
                            type="button"
                            class="btn btn-link"
                            (click)="downloadQuestionAttachment()"
                            [attr.aria-label]="'i18n_download_attachment' | translate"
                        >
                            {{ sectionQuestion.question.attachment?.fileName }}
                        </button>
                    </div>
                }
                <!-- question instructions -->
                @if (sectionQuestion.answerInstructions) {
                    <div class="ps-0 mt-2 mb-3 notice-text" role="note">
                        <img src="/assets/images/icon_info.svg" alt="" />
                        <span class="ps-2">{{ 'i18n_instructions' | translate }}:</span>
                        <span [innerHtml]="sectionQuestion.answerInstructions"></span>
                    </div>
                }
                <!-- answer -->
                <div class="mb-2">
                    <div>
                        <span>{{ 'i18n_exam_answer' | translate | uppercase }}</span>
                    </div>
                    <span [xmMathJax]="sectionQuestion.essayAnswer?.answer"></span>
                </div>

                <!-- answer attachment -->
                @if (sectionQuestion.essayAnswer?.attachment) {
                    <div class="ps-0 mt-2 mb-3">
                        <button
                            class="pointer btn btn-success left-floater-for-section"
                            (click)="downloadQuestionAnswerAttachment()"
                        >
                            {{ 'i18n_download_answer_attachment' | translate }}
                            <img src="/assets/images/icon_attachment.svg" alt="" class="ps-2" />
                        </button>
                        <div class="attachment-name">
                            {{ sectionQuestion.essayAnswer?.attachment?.fileName | uppercase }}
                        </div>
                    </div>
                }

                <!-- question evaluation criteria -->
                @if (sectionQuestion.evaluationCriteria) {
                    <div class="ps-0 mt-2">
                        <div>
                            <span>{{ 'i18n_exam_evaluation_criteria' | translate | uppercase }}</span>
                        </div>
                        <span [innerHtml]="sectionQuestion.evaluationCriteria"></span>
                    </div>
                }

                <!-- grade -->
                @if (exam.executionType.type !== 'MATURITY') {
                    <div class="make-inline pe-3 mt-2">
                        <div>
                            @if (sectionQuestion.evaluationType === 'Points') {
                                <span
                                    >{{ 'i18n_word_points' | translate | uppercase }}&nbsp;
                                    <small>[0 &hellip; {{ sectionQuestion.maxScore.toFixed(2) }}]</small>
                                </span>
                            }
                            <span [hidden]="sectionQuestion.evaluationType === 'Points'"
                                >{{ 'i18n_comments' | translate | uppercase }}:
                            </span>
                        </div>
                        <div>
                            @if (sectionQuestion.evaluationType === 'Points') {
                                <span>
                                    <form #essayPoints="ngForm" name="essayPoints">
                                        <input
                                            name="score"
                                            type="number"
                                            lang="en"
                                            class="form-control"
                                            [(ngModel)]="scoreValue"
                                            xmFixedPrecision
                                            (blur)="essayPoints.valid && insertEssayScore()"
                                            onclick="this.focus()"
                                            [disabled]="!isScorable"
                                            [min]="0"
                                            [max]="sectionQuestion.maxScore"
                                        />
                                        @if (!essayPoints.valid && isScorable) {
                                            <small class="alert-danger">
                                                <i class="bi-exclamation-circle"></i>&nbsp;{{
                                                    'i18n_error_score_input' | translate
                                                }}
                                            </small>
                                        }
                                    </form>
                                </span>
                            }
                            @if (sectionQuestion.evaluationType === 'Selection') {
                                <span>
                                    <select
                                        class="form-select"
                                        [(ngModel)]="scoreValue"
                                        (change)="insertEssayScore()"
                                        [disabled]="!isScorable"
                                    >
                                        <option [ngValue]="1">
                                            {{ 'i18n_approved' | translate }}
                                        </option>
                                        <option [ngValue]="0">
                                            {{ 'i18n_rejected' | translate }}
                                        </option>
                                    </select>
                                </span>
                            }
                        </div>
                    </div>
                }
                <div class="make-inline notice-text">
                    <!-- answer length & recommended length-->
                    <span>{{ 'i18n_answer_length' | translate }}:</span>
                    {{ getWordCount() }} {{ 'i18n_words' | translate }}, {{ 'i18n_approximately' | translate }}
                    {{ getCharacterCount() }}
                    {{ 'i18n_characters' | translate }}
                    @if (sectionQuestion.expectedWordCount) {
                        <div>
                            <span>{{ 'i18n_essay_length_recommendation' | translate }}:</span>
                            {{ sectionQuestion.expectedWordCount }} ({{ 'i18n_approximately' | translate }}
                            {{ (sectionQuestion.expectedWordCount || 0) * 8 }} {{ 'i18n_characters' | translate }})
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
