<div
    class="student-enrolment-wrapper row align-items-center"
    [ngClass]="{ 'unseen-review': reviewedExam && reviewedExam.examFeedback?.feedbackStatus === null }"
>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <!-- exam title n stuff -->
                <div class="student-enrolment-exam">
                    <span *ngIf="!participation.exam.anonymous">#{{ participation.exam.id }}</span>
                    {{ participation.exam.name }}
                    <span *ngIf="participation.exam.anonymous">({{ 'sitnet_anonymous_review' | translate }})</span>
                </div>
            </div>
        </div>
        <div *ngIf="!collaborative" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_course_name' | translate }}:</div>
                    <div *ngIf="participation.exam.course" class="col-6 col-sm-6 col-md-3 col-lg-3">
                        <course-code [course]="participation.exam.course"></course-code>
                        {{ participation.exam.course?.name }}
                    </div>
                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_teachers' | translate }}:</div>
                    <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                        <div>
                            <teacher-list [exam]="participation.exam" [useParent]="true"></teacher-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'sitnet_exam_endtime' | translate }}:</div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                        {{ participation.ended | applyDst | date: 'dd.MM.yyyy' }}
                    </div>
                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">&nbsp;</div>
                    <div class="col-6 col-sm-6 col-md-5 col-lg-5">&nbsp;</div>
                </div>
            </div>
        </div>

        <div class="row mt-2" *ngIf="reviewedExam">
            <div class="col-md-12">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <a
                            tabindex="0"
                            class="infolink pointer"
                            tabindex="0"
                            (click)="showEvaluation = !showEvaluation; setCommentRead(reviewedExam)"
                            (ngEnter)="showEvaluation = !showEvaluation; setCommentRead(reviewedExam)"
                        >
                            <span [hidden]="showEvaluation">{{ 'sitnet_comments_open' | translate }}</span>
                            <span [hidden]="!showEvaluation">{{ 'sitnet_comments_hide' | translate }}</span>
                            <img
                                class="arrow_icon marl10"
                                alt="hide evaluation"
                                [hidden]="showEvaluation"
                                src="/assets/assets/images/arrow_right.png"
                            />
                            <img
                                class="arrow_icon marl10"
                                alt="show evaluation"
                                [hidden]="!showEvaluation"
                                src="/assets/assets/images/arrow_down.png"
                            />
                        </a>
                        <exam-feedback
                            class="student-exam-row-infobox"
                            [hidden]="!showEvaluation"
                            [assessment]="reviewedExam"
                            [collaborative]="collaborative"
                            [scores]="scores"
                        >
                        </exam-feedback>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12" *ngIf="participation.reservation?.noShow">
                <div class="row">
                    <div class="col-md-12 text-danger">{{ 'sitnet_no_show' | translate }}</div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="!participation.reservation?.noShow && !reviewedExam">
                <div class="row">
                    <div class="col-md-12 text-muted">{{ 'sitnet_no_comments' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
