@if (assessment.grade?.name === 'NONE') {
    <div class="row mt-2">
        <div class="notice-wrap">
            <span class="form-group" role="note"
                ><img alt="" src="/assets/images/icon_info.png" />
                &nbsp;
                <span>{{ 'i18n_no_grading_description' | translate }}</span>
            </span>
        </div>
    </div>
}

@if (assessment.state === 'GRADED') {
    <div class="row mt-2">
        <div class="notice-wrap">
            <span class="form-group" role="note"
                ><img alt="" src="/assets/images/icon_info.png" />
                &nbsp;
                <span>{{ 'i18n_autoevaluation_release_description' | translate }}</span>
            </span>
        </div>
    </div>
}

<!-- credits and grade-->
<div class="row mt-2">
    <div class="col-12">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_exam_credit' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                {{ assessment.credit }} {{ 'i18n_exam_credit_abbr' | translate }}
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_exam_grade' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                {{ assessment.grade?.displayName }}
            </div>
        </div>
    </div>
</div>

<!-- credit type and grading time -->
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_exam_credit_type' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-5 col-lg-3">
                {{ assessment.creditType.displayName }}
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_graded' | translate }}:</div>
            <div class="col-6 col-sm-6 col-md-5 col-lg-3">
                {{ assessment.gradedTime | date: 'dd.MM.yyyy' }}
            </div>
        </div>
    </div>
</div>

@if (scores) {
    <div>
        <!-- total score: only show if not maturity and actual grade given -->
        <div class="row" [hidden]="assessment.executionType.type === 'MATURITY' || assessment.grade?.name === 'NONE'">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_total_score' | translate }}:</div>
                    <div class="col-6 col-sm-6 col-md-3 col-lg-3">{{ scores.totalScore }} / {{ scores.maxScore }}</div>
                </div>
            </div>
        </div>
        <!-- approved and rejected: only show if not maturity and actual grade given -->
        <div class="row" [hidden]="assessment.executionType.type === 'MATURITY' || assessment.grade?.name === 'NONE'">
            <div class="col-12">
                <!-- only show if approved or rejected answer count is given -->
                @if (scores.hasApprovedRejectedAnswers) {
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_approved' | translate }}:</div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                            {{ scores.approvedAnswerCount }}
                        </div>
                        <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_rejected' | translate }}:</div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                            {{ scores.rejectedAnswerCount }}
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

<!-- comments: only show if comments given -->
@if (assessment.languageInspection) {
    <div class="row mt-1">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_content_grade' | translate }}:</div>
                <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                    {{ assessment.contentGrade }}
                </div>
            </div>
        </div>
    </div>
}

@if (assessment.examFeedback?.comment) {
    <div class="row" [ngClass]="!assessment.languageInspection ? 'mt-1' : ''">
        <div class="col-12">
            <div class="row">
                <div class="col-12">{{ 'i18n_teachers_comment' | translate }}:</div>
            </div>
            <div class="row">
                <div class="col-12" [innerHtml]="assessment.examFeedback?.comment"></div>
            </div>
        </div>
    </div>
}

<!-- comment attachment: only show if attachment uploaded -->
@if (assessment.examFeedback?.attachment) {
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_feedback_attachment' | translate }}:</div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <button class="btn btn-outline-secondary" (click)="downloadFeedbackAttachment()">
                        {{ assessment.examFeedback?.attachment?.fileName }}
                    </button>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">&nbsp;</div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">&nbsp;</div>
            </div>
        </div>
    </div>
}

<!-- credits and grade-->
@if (assessment.languageInspection) {
    <div class="row mt-2">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_language_inspections' | translate }}:</div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    {{ assessment.grade?.displayName }}
                </div>
            </div>
        </div>
    </div>
}

<!-- inspector statement: only show if language inspection done -->
@if (assessment.languageInspection) {
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">{{ 'i18n_inspector_statement' | translate }}:</div>
            </div>
            <div class="row">
                <div class="col-12" [innerHtml]="assessment.languageInspection?.statement?.comment"></div>
            </div>
        </div>
    </div>
}

<!-- statement attachment: only show if attachment uploaded -->
@if (assessment.languageInspection?.statement?.attachment) {
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_statement_attachment' | translate }}:</div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    <button class="btn btn-outline-secondary" (click)="downloadStatementAttachment()">
                        {{ assessment.languageInspection.statement.attachment?.fileName }}
                    </button>
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">&nbsp;</div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">&nbsp;</div>
            </div>
        </div>
    </div>
}

@if (assessment.assessmentInfo) {
    <div class="row pt-2 mt-1">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">
                    <i class="bi-exclamation-circle text-danger"></i>
                    {{ 'i18n_additional_info_for_student' | translate }}:
                </div>
                <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                    {{ assessment.assessmentInfo }}
                </div>
            </div>
        </div>
    </div>
}
@if (!collaborative && assessment.state === 'GRADED_LOGGED' && !assessment.gradeless) {
    <div>
        <div class="row mt-2">
            <div class="col-12">
                <strong>{{ 'i18n_examination_answer' | translate }}</strong>
            </div>
        </div>
        <div class="row">
            @if (assessmentWithAnswers) {
                <div class="col-12">
                    <button class="btn btn-outline-secondary" (keydown.enter)="showAnswers()" (click)="showAnswers()">
                        {{ 'i18n_show' | translate }}
                    </button>
                </div>
            }
            @if (!assessmentWithAnswers) {
                <div class="col-12">
                    {{ 'i18n_not_available' | translate }}
                </div>
            }
        </div>
    </div>
}

@if (
    !collaborative &&
    assessment.executionType.type !== 'MATURITY' &&
    assessment.state === 'GRADED_LOGGED' &&
    !assessment.gradeless
) {
    <div class="row mt-2">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <strong>{{ 'i18n_student_score_report' | translate }}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button
                        class="btn btn-outline-secondary"
                        (keydown.enter)="downloadScoreReport()"
                        (click)="downloadScoreReport()"
                    >
                        {{ 'i18n_download_report' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
}
