@if (collaborative) {
    <xm-page-header text="i18n_collaborative_exam_responses" />
} @else {
    <xm-page-header text="i18n_exam_responses" />
}
<xm-page-content [content]="content" />
<ng-template #content>
    <!-- Finished exams list -->
    <div class="row">
        <div class="col-12">
            <div class="row align-items-center" role="note">
                <div class="col-auto">
                    <img src="/assets/images/icon_info.png" class="pe-1" alt="" />
                </div>
                <div class="col" [hidden]="collaborative">
                    {{ 'i18n_exam_response_search_description' | translate }}
                </div>
                <div class="col" [hidden]="!collaborative">
                    {{ 'i18n_collaborative_exam_response_search_description' | translate }}
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-4">
            <div class="input-group">
                <input
                    [attr.aria-label]="'i18n_search' | translate"
                    [attr.aria-description]="'i18n_type_to_start_search' | translate"
                    [(ngModel)]="filter.text"
                    type="text"
                    (ngModelChange)="search($event)"
                    class="form-control"
                    placeholder="{{ 'i18n_search' | translate }}"
                />
                <div class="input-group-append search">
                    <img alt="" src="/assets/images/icon_search.png" width="49" height="40" />
                </div>
            </div>
        </div>
        @if (searchDone) {
            <div class="row my-2">
                <div class="col-12" aria-live="polite">
                    {{ 'i18n_student_exam_search_result' | translate }} {{ participations.length }}
                    {{ 'i18n_student_exam_search_result_continues' | translate }}
                </div>
            </div>
        }
        <div class="col-8" ngbDropdown>
            <button class="btn btn-outline-secondary" type="button" ngbDropdownToggle aria-expanded="true">
                {{ 'i18n_set_ordering' | translate }}
            </button>
            <div ngbDropdownMenu role="menu">
                <button
                    ngbDropdownItem
                    role="presentation"
                    (click)="filter.ordering = 'exam.name'; filter.reverse = false"
                >
                    {{ 'i18n_exam_name_ascending' | translate }}
                </button>
                <button
                    ngbDropdownItem
                    role="presentation"
                    (click)="filter.ordering = 'exam.name'; filter.reverse = true"
                >
                    {{ 'i18n_exam_name_descending' | translate }}
                </button>
                <button ngbDropdownItem role="presentation" (click)="filter.ordering = 'ended'; filter.reverse = false">
                    {{ 'i18n_exam_participation_descending' | translate }}
                </button>
                <button ngbDropdownItem role="presentation" (click)="filter.ordering = 'ended'; filter.reverse = true">
                    {{ 'i18n_exam_participation_ascending' | translate }}
                </button>
            </div>
        </div>
    </div>

    <!-- List of finished exams -->
    @for (
        participation of participations
            | orderBy: filter.ordering : filter.reverse
            | slice: currentPage * pageSize : currentPage * pageSize + pageSize;
        track participation
    ) {
        <div class="row mb-3">
            <div class="col-12">
                <xm-exam-participation
                    [participation]="participation"
                    [collaborative]="collaborative"
                ></xm-exam-participation>
            </div>
        </div>
    }

    @if (participations) {
        <div class="row mt-2">
            @if (participations.length > pageSize) {
                <div class="col-md-12">
                    <xm-paginator
                        [items]="participations"
                        (pageSelected)="pageSelected($event)"
                        [pageSize]="pageSize"
                        [currentPage]="currentPage"
                    >
                    </xm-paginator>
                </div>
            }
        </div>
    }
</ng-template>
