<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<div
    [ngClass]="
        reviewedExam && !reviewedExam.examFeedback?.feedbackStatus
            ? 'xm-study-item-container--unseen'
            : 'xm-study-item-container'
    "
>
    <div class="row mb-2">
        <div class="col-12">
            <!-- exam title n stuff -->
            <h2 class="participation-heading">
                @if (!participation.exam.anonymous) {
                    <span>#{{ participation.exam.id }}</span>
                }
                {{ participation.exam.name }}
                @if (participation.exam.anonymous) {
                    <span>({{ 'i18n_anonymous_review' | translate }})</span>
                }
            </h2>
        </div>
    </div>
    @if (!collaborative) {
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_course_name' | translate }}:</div>
                    @if (participation.exam.course) {
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                            <xm-course-code [course]="participation.exam.course"></xm-course-code>
                            {{ participation.exam.course?.name }}
                        </div>
                    }
                    <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_teachers' | translate }}:</div>
                    <div class="col-6 col-sm-6 col-md-5 col-lg-5">
                        <xm-teacher-list [exam]="participation.exam" [useParent]="true"></xm-teacher-list>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">{{ 'i18n_exam_endtime' | translate }}:</div>
                <div class="col-6 col-sm-6 col-md-3 col-lg-3">
                    {{ participation.ended | applyDst | date: 'dd.MM.yyyy' }}
                </div>
                <div class="col-6 col-sm-6 col-md-2 col-lg-2">&nbsp;</div>
                <div class="col-6 col-sm-6 col-md-5 col-lg-5">&nbsp;</div>
            </div>
        </div>
    </div>

    @if (reviewedExam) {
        <div class="row mt-2">
            <div class="col-12">
                <div class="row align-items-center">
                    <div class="col-12">
                        <button
                            class="btn btn-outline-secondary"
                            (click)="showEvaluation = !showEvaluation; setCommentRead(reviewedExam)"
                            (ngEnter)="showEvaluation = !showEvaluation; setCommentRead(reviewedExam)"
                            [attr.aria-expanded]="showEvaluation"
                        >
                            <span [hidden]="showEvaluation">{{ 'i18n_comments_open' | translate }}</span>
                            <span [hidden]="!showEvaluation">{{ 'i18n_comments_hide' | translate }}</span>
                            <i [hidden]="showEvaluation" class="bi bi-chevron-right ms-2" alt=""></i>
                            <i [hidden]="!showEvaluation" class="bi bi-chevron-down ms-2" alt=""></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (reviewedExam) {
        <div class="row" [ngbCollapse]="!showEvaluation">
            <div class="col-12 ms-4 pt-2">
                <xm-exam-feedback
                    [assessment]="reviewedExam"
                    [participationTime]="participation.ended || ''"
                    [participationDuration]="participation.duration || 0"
                    [collaborative]="collaborative"
                    [scores]="scores"
                >
                </xm-exam-feedback>
            </div>
        </div>
    }
    <div class="row mt-2">
        @if (participation.noShow) {
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-danger">{{ 'i18n_no_show' | translate }}</div>
                </div>
            </div>
        }
        @if (!participation.noShow && !reviewedExam) {
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-muted">{{ 'i18n_no_comments' | translate }}</div>
                </div>
            </div>
        }
    </div>
</div>
