<div id="sitnet-dialog p-2">
    <div class="modal-header">
        <h2>{{ 'sitnet_questions_with_your_answers' | translate }}</h2>
    </div>
    <div class="modal-body">
        <h2 class="row mt-3">
            <div class="col-md-7">
                <xm-course-code [course]="exam.course" *ngIf="exam.course"> </xm-course-code>
                {{ exam.course?.name }}
            </div>
        </h2>
        <h3 class="row mt-3">
            <div class="col-md-7">
                {{ exam.name }}
            </div>
        </h3>
        <div class="row">
            <div class="col-md-4">
                <strong>{{ 'sitnet_exam_time' | translate }}:</strong>
            </div>
            <div class="col-md-7">
                {{ participationTime | date : 'dd.MM.yyyy' }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>{{ 'sitnet_exam_duration' | translate }}:</strong>
            </div>
            <div class="col-md-7">
                {{ participationDuration | date : 'HH:mm:ss' : 'UTC' }}
            </div>
        </div>
        <div class="row" *ngIf="exam.instruction">
            <div class="col-md-7">
                <strong>{{ 'sitnet_exam_instruction' | translate }}:</strong>
            </div>
        </div>
        <div class="row" *ngIf="exam.instruction">
            <div class="col-md-7" [xmMathJax]="exam.instruction"></div>
        </div>

        <div class="row mt-3" *ngFor="let section of exam.examSections">
            <div class="" id="dashboard">
                <h4 class="row">
                    <div class="col-md-7">
                        <strong>{{ 'sitnet_exam_section' | translate }}: {{ section.name }}</strong>
                    </div>
                </h4>
                <div class="row mt-3 student-enrolment-wrapper" *ngFor="let esq of section.sectionQuestions">
                    <div class="">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>{{ 'sitnet_question' | translate }}:</strong>
                            </div>
                            <div
                                class="col-md-7"
                                *ngIf="esq.question.type !== 'ClozeTestQuestion'"
                                [xmMathJax]="esq.question.question"
                            ></div>
                            <div
                                class="col-md-7"
                                *ngIf="esq.question.type === 'ClozeTestQuestion'"
                                id="exam"
                                [xmMathJax]="esq.clozeTestAnswer?.question"
                            ></div>
                        </div>
                        <!-- ESSAY -->
                        <div *ngIf="esq.question.type === 'EssayQuestion'">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{ 'sitnet_exam_answer' | translate }}:</strong>
                                </div>
                                <div class="col-md-7" [xmMathJax]="esq.essayAnswer?.answer"></div>
                            </div>
                            <div class="row" *ngIf="esq.essayAnswer?.attachment">
                                <div class="col-md-4">
                                    <strong>{{ 'sitnet_answer_attachment' | translate }}:</strong>
                                </div>
                                <div class="col-md-7">
                                    <a class="pointer" (click)="downloadAttachment(esq)">
                                        {{ esq.essayAnswer?.attachment?.fileName }}
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{ 'sitnet_answer_length' | translate }}:</strong>
                                </div>
                                <div class="col-md-7">
                                    {{ countWords(esq) }} {{ 'sitnet_words' | translate }},
                                    {{ 'sitnet_approximately' | translate }} {{ countCharacters(esq) }}
                                    {{ 'sitnet_characters' | translate }}
                                </div>
                            </div>
                            <div class="row" *ngIf="esq.expectedWordCount">
                                <div class="col-md-4">
                                    <strong>{{ 'sitnet_essay_length_recommendation' | translate }}:</strong>
                                </div>
                                <div class="col-md-7">
                                    {{ esq.expectedWordCount }} ({{ 'sitnet_approximately' | translate }}
                                    {{ (esq.expectedWordCount || 0) * 8 }}
                                    {{ 'sitnet_characters' | translate }})
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{ 'sitnet_comments' | translate }}:</strong>
                                </div>
                                <div class="col-md-7" *ngIf="esq.evaluationType === 'Points'">
                                    <strong>{{ 'sitnet_word_points' | translate }}: &nbsp;</strong>
                                    {{ esq.essayAnswer?.evaluatedScore }} / {{ esq.maxScore }}
                                </div>
                                <div class="col-md-7" *ngIf="esq.evaluationType === 'Selection'">
                                    <div *ngIf="esq.essayAnswer?.evaluatedScore === 1">
                                        {{ 'sitnet_approved' | translate | uppercase }}
                                    </div>
                                    <div *ngIf="esq.essayAnswer?.evaluatedScore !== 1">
                                        {{ 'sitnet_rejected' | translate | uppercase }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ESSAY -->
                    </div>
                    <!-- MULTICHOICE -->
                    <div *ngIf="isMultiChoice(esq)">
                        <div class="row mt-1">
                            <div class="col-md-4">
                                <strong>{{ 'sitnet_exam_answer' | translate }}:</strong>
                            </div>
                            <div class="col-md-7">
                                <div class="row" *ngFor="let option of getAnsweredOptions(esq)">
                                    <div class="col-md-7" [xmMathJax]="option.option.option"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <strong>{{ 'sitnet_comments' | translate }}: </strong>
                            </div>
                            <div class="col-md-7">{{ esq.derivedAssessedScore }} / {{ esq.derivedMaxScore }}</div>
                        </div>
                    </div>
                    <!-- CLOZE TEST -->
                    <div *ngIf="esq.question.type === 'ClozeTestQuestion'">
                        <div class="row">
                            <div class="col-md-4">
                                <strong>{{ 'sitnet_comments' | translate }}:</strong>
                            </div>
                            <div class="col-md-7">{{ esq.derivedAssessedScore }} / {{ esq.derivedMaxScore }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <h3 class="col-md-7">{{ 'sitnet_exam_review_settings' | translate }}</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>{{ 'sitnet_exam_grade' | translate }}: </strong>
            </div>
            <div class="col-md-7">
                {{ exam.grade?.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <strong>{{ 'sitnet_total_score' | translate }}: </strong>
            </div>
            <div class="col-md-7">{{ exam.totalScore }} / {{ exam.maxScore }}</div>
        </div>
        <div class="row" *ngIf="exam.examFeedback?.comment">
            <div class="col-md-4">
                <strong>{{ 'sitnet_teachers_comment' | translate }}: </strong>
            </div>
            <div class="col-md-7" [xmMathJax]="exam.examFeedback.comment"></div>
        </div>
        <div class="row" *ngIf="exam.course?.credits">
            <div class="col-md-4">
                <strong>{{ 'sitnet_exam_credit' | translate }} (op):</strong>
            </div>
            <div class="col-md-7">{{ exam.course?.credits }}</div>
        </div>
        <div class="modal-footer mt-4">
            <div class="student-message-dialog-button-save">
                <button ngbAutofocus class="btn btn-sm btn-primary" (click)="activeModal.close()">
                    {{ 'sitnet_button_ok' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
