<!DOCTYPE html>

<html>
    <head>
        <title>Sitnet</title>

        <link rel="shortcut icon" type="img/png" href="@routes.Assets.at("images/sitnet.png")">

            <!-- vendor -->
        <script src="@routes.Assets.at("javascript/vendor/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/toastr.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-route.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-resource.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-cookies.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-sanitize.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/http-auth-interceptor.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/ngStorage.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-translate.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-translate-loader-static-files.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/ui-bootstrap-tpls-0.10.0.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/vendor/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/vendor/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/vendor/toastr.min.css")">

            <!--  style -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
            <!-- todo: uncomment in production and comment previous line
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
            -->

        <script src="@routes.Assets.at("javascript/sitnet.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/routes.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/modules.js")" type="text/javascript"></script>

            <!-- resources -->
        <script src="@routes.Assets.at("javascript/resources/userResource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/resources/examResource.js")" type="text/javascript"></script>

            <!-- controllers -->
        <script src="@routes.Assets.at("javascript/controllers/sessionController.js")" type="text/javascript"> </script>
        <script src="@routes.Assets.at("javascript/controllers/navigationController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/userController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/testController.js")" type="text/javascript"></script>

    </head>

    <body ng-app="sitnet">
        <div id="sitnet-header" class="navbar navbar-fixed-top" role="navigation">

            <div class="col-md-2 logo">
                <img src="@routes.Assets.at("images/sitnet.png")" alt="sitnet" />
            </div>
        </div>
        <div class="row">
            <aside id="vmenu" class="col-md-2" ng-controller="NavigationCtrl">
                <div ng-controller="SessionCtrl"></div>
                <div class="user">
                    <span>
                        <img src="data:image/gif;base64,R0lGODdhRgBGAOMAAMzMzJaWlqqqqpycnLGxscXFxaOjo7e3t76+vgAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAARgBGAAAEqRDISau9OOvNu/9gKI5kaZ5oqq5s675wLM90bd94ru987//AoHBILBqPyKRyyWw6n9CodFoUDAIDAGIwKGCsWC3XuyMUDAfAAEEwYMxoNdvNK2QLAbHEeshL7AB4ejwEAoF5ghJcCBOFh488a49bjVkTkoKUPAFka21/A3ESnIpzdX5iXRIGAggBjImpZFS0tba3uLm6u7y9vr/AwcLDxMXGx8jJysvMLBEAOw==" alt="me">
                        <a href="javascript:void(0);" id="current_user"> Oili Opettaja <i class="fa fa-caret-down"></i></a>
                    </span>
                </div>
                <nav>
                    <ul>
                        <li ng-class="{selected: isActive(link)}" ng-repeat="link in links">
                            <a href="{{link.href}}">
                                <i class="fa fa-2x fa-fw {{link.class}}"></i>
                                <span class="menu-item">{{link.name}}</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <span class="minify"> <i class="fa fa-3x fa-arrow-circle-left hit"></i></span>
            </aside>

            <div class="container vmenu-on">

                <div>
                    <div ng-view></div>
                </div>

            </div>
        </div>
    </body>
</html>
