@(webJarAssets: WebJarAssets, isProd: Boolean)
<!DOCTYPE html>
<html ng-app="exam">
    <head>
        <title>Exam</title>

            <!-- To ensure proper mobile rendering and touch zooming -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
            <!-- IE11 - angular compatibility test -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <link rel="shortcut icon" type="img/png" href="@routes.Assets.at("assets/images/favicon.ico")">
        <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.at("assets/images/apple-touch-icon-57x57.png")">
        <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.at("assets/images/apple-touch-icon-114x114.png")">
        <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.at("assets/images/apple-touch-icon-72x72.png")">
        <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.at("assets/images/apple-touch-icon-144x144.png")">
        <link rel="apple-touch-icon" sizes="60x60" href="@routes.Assets.at("assets/images/apple-touch-icon-60x60.png")">
        <link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.at("assets/images/apple-touch-icon-120x120.png")">
        <link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.at("assets/images/apple-touch-icon-76x76.png")">
        <link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.at("assets/images/apple-touch-icon-152x152.png")">
        <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.at("assets/images/apple-touch-icon-180x180.png")">
        <link rel="icon" type="image/png" href="@routes.Assets.at("assets/images/favicon-192x192.png")" sizes="192x192">
        <link rel="icon" type="image/png" href="@routes.Assets.at("assets/images/favicon-160x160.png")" sizes="160x160">
        <link rel="icon" type="image/png" href="@routes.Assets.at("assets/images/favicon-96x96.png")" sizes="96x96">
        <link rel="icon" type="image/png" href="@routes.Assets.at("assets/images/favicon-16x16.png")" sizes="16x16">
        <link rel="icon" type="image/png" href="@routes.Assets.at("assets/images/favicon-32x32.png")" sizes="32x32">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-TileImage" content="images//mstile-144x144.png">

        <link rel="stylesheet" media="all" href="@routes.WebJarAssets.at(webJarAssets.locate("font-awesome", "font-awesome.min.css"))">
        <link rel="stylesheet" media="all" href="@routes.WebJarAssets.at(webJarAssets.locate("select2", "3.5.4/select2.css"))">
        <link rel="stylesheet" media="all" href="@routes.WebJarAssets.at(webJarAssets.locate("angular-ui-select", "select.min.css"))">
        <link rel="stylesheet" media="all" href="@routes.WebJarAssets.at(webJarAssets.locate("fullcalendar", "fullcalendar.min.css"))">
        <link rel="stylesheet" media="all" href="@routes.WebJarAssets.at(webJarAssets.locate("toastr", "toastr.css"))">
            <!--  style -->
        <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/main.css")">

            <!-- vendor -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery","dist/jquery.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery-ui","jquery-ui.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery-ui-touch-punch","jquery.ui.touch-punch.min.js"))"></script>

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("toastr","toastr.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular", "angular.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-animate", "angular-animate.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-i18n", "angular-locale_en.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-i18n", "angular-locale_fi.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-i18n", "angular-locale_sv.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-ui-calendar", "calendar.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-ui-select", "select.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-cookies", "angular-cookies.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-resource", "angular-resource.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-route", "angular-route.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-sanitize", "angular-sanitize.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-translate.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-translate-loader-static-files.min.js"))"></script>

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("http-auth-interceptor.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("ngStorage.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-ui-bootstrap", "ui-bootstrap-tpls.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-strap", "debounce.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-strap", "dimensions.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-strap", "affix.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("momentjs","moment-with-locales.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("moment-timezone", "moment-timezone-with-data.min.js"))"></script>

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("fullcalendar", "fullcalendar.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("multiselect-tpls.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("select2", "3.5.4/select2.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("ui-select2.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("FileSaver.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("angular-dynamic-locale", "dist/tmhDynamicLocale.min.js"))" type="text/javascript"></script>

        <!-- Not available as webjars -->
        <script src="@routes.Assets.at("components/vendor/angular-promise-extras.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("components/vendor/dialogs.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("components/vendor/ckeditor/ckeditor.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("components/vendor/MathJax-2.6-latest/MathJax.js?config=TeX-AMS_HTML")" type="text/javascript"></script>
        <script>
            if (window.CKEDITOR) {
                CKEDITOR.env.isCompatible = true;
                CKEDITOR.cacheForceReload = Date.now();
                CKEDITOR.on('dialogDefinition', function(ev) {
                    <!-- links to have a default target of '_blank' -->
                    if (ev.data.name === 'link') {
                        var def = ev.data.definition;
                        def.removeContents('advanced');
                        var field = def.getContents('target').get('linkTargetType');
                        field['default'] = '_blank';
                    }
                });
            }
        </script>

        @if(isProd) {
            <script src="@routes.Assets.at("app/exam.min.js")" type="text/javascript"></script>
        } else {
                <!-- internal component -->
            <script src="@routes.Assets.at("components/language.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("components/truncate.js")" type="text/javascript"></script>

                <!-- app general -->
            <script src="@routes.Assets.at("app/app.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/routes.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/directives.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/filters.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/httpInterceptor.js")" type="text/javascript"></script>

                <!-- administrative -->
            <script src="@routes.Assets.at("app/administrative/settingsResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/administrative/reportResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/administrative/settingsController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/administrative/reports/reportController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/administrative/statistics/statisticsController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/administrative/userController.js")" type="text/javascript"></script>

                <!-- common -->
            <script src="@routes.Assets.at("app/common/dashboardService.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/common/sessionService.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/common/userResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/common/sessionController.js")" type="text/javascript"> </script>
            <script src="@routes.Assets.at("app/common/navigationController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/common/dashboardController.js")" type="text/javascript"></script>

                <!-- enrolment -->
            <script src="@routes.Assets.at("app/enrolment/wrongRoomService.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/enrolment/waitingRoomService.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/enrolment/enrollResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/enrolment/enrollController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/enrolment/examFeedbackController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/enrolment/waitingRoomController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/enrolment/wrongMachineController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/enrolment/enrolmentService.js")" type="text/javascript"></script>

                <!-- exam -->
            <script src="@routes.Assets.at("app/exam/editor/examResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/student/studentExamResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/editor/courseResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/editor/languageResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/examController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/examListingController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/student/studentExamController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/student/examLogoutController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/student/examSearchController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/editor/examOwnerController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/editor/courseTypeaheadController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/editor/examInspectionController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/editor/examEnrolmentController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/exam/examService.js")" type="text/javascript"></script>

                 <!-- facility -->
            <script src="@routes.Assets.at("app/facility/roomResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/facility/softwareResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/facility/examMachineResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/facility/roomController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/facility/machineController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/facility/machineModalController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/facility/accessibilityController.js")" type="text/javascript"></script>

                <!-- question -->
            <script src="@routes.Assets.at("app/question/questionResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/question/editor/examSectionQuestionResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/question/editor/questionController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/question/editor/questionOwnerController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/question/editor/examSectionQuestionController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/question/questionService.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/question/libraryController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/question/tagResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/question/editor/tagTypeaheadController.js")" type="text/javascript"></script>

                <!-- reservation -->
            <script src="@routes.Assets.at("app/reservation/reservationResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/reservation/reservationService.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/reservation/calendarController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/reservation/calendarResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/reservation/reservationController.js")" type="text/javascript"></script>

                <!-- review -->
            <script src="@routes.Assets.at("app/review/examReviewController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/review/reviewListingController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/review/examReviewService.js")" type="text/javascript"></script>

                <!-- maturity -->
            <script src="@routes.Assets.at("app/maturity/languageInspectionController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/maturity/languageInspectionResource.js")" type="text/javascript"></script>

                <!-- utility -->
            <script src="@routes.Assets.at("app/utility/dateService.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/utility/dragdrop.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/utility/fileService.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/utility/attachmentResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/utility/datepickerController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/utility/modalInstanceController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/utility/attachmentController.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/utility/DropdownCtrl.js")" type="text/javascript"></script>

                <!-- iop -->
            <script src="@routes.Assets.at("app/iop/interoperabilityResource.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("app/reservation/iop/externalCalendarController.js")" type="text/javascript"></script>

        }
    </head>

    <body ng-controller="SessionCtrl">
        <div ng-controller="NavigationCtrl">
            <div ng-hide="examStarted" id="vmenu">
                <div class="nav-container">
                    <div class="nav-header">
                        @*Logo*@
                        <div class="logo">
                            <div class="hidden-mobile">
                                @*<img src="@routes.Assets.at("assets/images/exam-logo-new.png")" alt="exam" />*@
                                <img src="@routes.Assets.at("assets/images/exam-logo-new.svg")" alt="exam" onerror="this.onerror=null;this.src='assets/images/exam-logo-new.png'" />
                            </div>
                            <div class="visible-mobile">
                                <div class="mobile-menu" ng-click="openMenu();" ng-hide="!user">
                                    @*<img src="@routes.Assets.at("assets/images/icon_menu_mobile.png")" alt="exam" />*@
                                    <img src="@routes.Assets.at("assets/images/icon_menu_mobile.svg")" alt="exam" onerror="this.onerror=null;this.src='assets/images/icon_menu_mobile.png'" />
                                </div>
                                @*<img src="@routes.Assets.at("assets/images/exam-logo-mobile.png")" alt="exam" />*@
                                <img src="@routes.Assets.at("assets/images/exam-logo-mobile.svg")" alt="exam" onerror="this.onerror=null;this.src='assets/images/exam-logo-mobile.png'" />
                            </div>
                        </div>
                            @*Version number*@
                        <div ng-hide="!appVersion">
                            <div class="app-version">
                                <strong>v. {{ appVersion }}</strong>
                            </div>
                        </div>

                    </div>

                    @*Menu items*@
                    <div class="nav-body">
                        <ul class="links">
                            <li ng-class="{selected: isActive(link)}" ng-repeat="link in links" ng-show="{{link.visible}}">
                                <a class="menu_item_link" href="{{link.href}}">
                                    <img width="18" src="@routes.NavbarAssets.at("assets/images/nav/{{link.icon_png}}")" alt="{{ link.name | translate }}" />
                                    <span class="menu-item">{{ link.name | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-body-mobile" ng-show="mobileMenuOpen">
                        <ul class="links">
                            <li ng-class="{selected: isActive(link)}" ng-repeat="link in links" ng-show="{{link.visible}}">
                                <a class="menu_item_link" href="{{link.href}}">
                                    <img width="18" src="@routes.NavbarAssets.at("assets/images/nav/{{link.icon_png}}")" alt="{{ link.name | translate }}" />
                                    <span class="menu-item">{{ link.name | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    @*User info*@
                    <div class="nav-user" ng-hide="!user">
                        <div class="user">
                            <div class="user-name">
                                <div class="user-logo"><img src="@routes.Assets.at("assets/images/icon_menu_user.png")" alt="{{user.firstname}}&nbsp;{{user.lastname}}" /></div>
                                <div class="user-data">{{user.firstname}}&nbsp;{{user.lastname}}<br/><span ng-show="user.isStudent">opiskelija</span></div>

                            </div>
                        </div>

                    </div>

                    <div class="nav-footer">
                           <div class="locale-bar">
                                <span class="locale-item"> <a ng-click="switchLanguage('fi')">FI</a></span>
                                <span class="locale-item"> <a ng-click="switchLanguage('sv')">SV</a></span>
                                <span class="locale-item"> <a ng-click="switchLanguage('en')">EN</a></span>
                            </div>
                    </div>

                </div>
            </div>
            @*App content*@
            <div id="mainView" class="wide-container-fluid" ng-class="examStarted ? '' : 'vmenu-on'">
                <div ng-view />
            </div>
        </div>
    </body>
</html>


