<!DOCTYPE html>

<html ng-app="sitnet">
    <head>
        <title>Sitnet</title>

            <!-- To ensure proper mobile rendering and touch zooming -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="img/png" href="@routes.Assets.at("images/sitnet.png")">

            <!-- vendor -->
        <script src="@routes.Assets.at("javascript/vendor/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/toastr.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-route.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-resource.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-cookies.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-sanitize.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/http-auth-interceptor.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/ngStorage.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-translate.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/angular-translate-loader-static-files.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/ui-bootstrap-tpls-0.10.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/vendor/draganddrop.js")" type="text/javascript"></script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/vendor/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/vendor/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/vendor/toastr.min.css")">

            <!--  style -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
            <!-- todo: uncomment in production and comment previous line
        <link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/main.min.css")
            ">
            -->

        <script src="@routes.Assets.at("javascript/sitnet.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/routes.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/modules.js")" type="text/javascript"></script>

            <!-- services -->
        <script src="@routes.Assets.at("javascript/services/sessionService.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/services/dateService.js")" type="text/javascript"></script>

            <!-- resources -->
        <script src="@routes.Assets.at("javascript/resources/userResource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/resources/examResource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/resources/studentExamResource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/resources/courseResource.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/resources/questionResource.js")" type="text/javascript"></script>

            <!-- controllers -->
        <script src="@routes.Assets.at("javascript/controllers/testController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/sessionController.js")" type="text/javascript"> </script>
        <script src="@routes.Assets.at("javascript/controllers/navigationController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/dashboardController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/examController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/studentExamController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/courseController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/userController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/questionController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/libraryController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/datepickerController.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/controllers/doExamController.js")" type="text/javascript"></script>

    </head>

    <body ng-controller="SessionCtrl">
        <aside id="vmenu" class="col-md-2" ng-controller="NavigationCtrl">
            <div ng-hide="minimizeNavigation" class="logo">
                <img src="@routes.Assets.at("images/sitnet.png")" alt="sitnet" />
            </div>
            <div ng-hide="minimizeNavigation" class="user">
                <span>
                    <img src="data:image/gif;base64,R0lGODdhRgBGAOMAAMzMzJaWlqqqqpycnLGxscXFxaOjo7e3t76+vgAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAARgBGAAAEqRDISau9OOvNu/9gKI5kaZ5oqq5s675wLM90bd94ru987//AoHBILBqPyKRyyWw6n9CodFoUDAIDAGIwKGCsWC3XuyMUDAfAAEEwYMxoNdvNK2QLAbHEeshL7AB4ejwEAoF5ghJcCBOFh488a49bjVkTkoKUPAFka21/A3ESnIpzdX5iXRIGAggBjImpZFS0tba3uLm6u7y9vr/AwcLDxMXGx8jJysvMLBEAOw==" alt="me">
                    <a href="#/user">{{session.user.firstname}} {{session.user.lastname}}&nbsp;<i class="fa fa-caret-down"></i></a>
                </span>
            </div>
            <nav ng-class="minimizeNavigation ? 'minimize' : ''">

                    <!--                 <accordion close-others="oneAtATime"> -->
                    <!--                 <div ng-repeat="link in links"> -->
                    <!--                 <a href="{{link.href}}" class="accordion-group accordion-heading"> -->
                    <!--                        <i class="fa fa-2x fa-fw {{link.class}}"></i> -->
                    <!--                        <span class="menu-item">{{link.name}}</span> -->
                    <!--                     </a> -->
                    <!--                 </div> -->
                    <!--                 </accordion> -->

                    <!-- 			    <div id="myAccordion" class="accordion"> -->
                    <!-- 			        <div class="accordion-group" ng-repeat="link in links"> -->
                    <!-- 			            <div class="accordion-heading"> -->
                    <!-- 			                <a href="{{link.href}}" data-parent="#myAccordion" data-toggle="collapse" class="accordion-toggle"> -->
                    <!-- 			                <i class="fa fa-2x fa-fw {{link.class}}"></i> -->
                    <!-- 			                {{link.name}}</a> -->
                    <!-- 			            </div> -->
                    <!-- 			            <div class="accordion-body collapse" id="collapseOne"> -->
                    <!-- 			                <div class="accordion-inner"> -->
                    <!-- 			                    <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p> -->
                    <!-- 			                </div> -->
                    <!-- 			            </div> -->
                    <!-- 			        </div> -->
                    <!-- 			    </div> -->


                    <!-- 			<accordion close-others="oneAtATime"> -->
                    <!-- 				<accordion-group is-open="true" ng-repeat="link in links"> -->
                    <!-- 					<a href="{{link.href}}" class="accordion-heading"> -->
                    <!-- 		               <i class="fa fa-2x fa-fw {{link.class}}"></i> -->
                    <!-- 		               <span class="menu-item">{{link.name}}</span> -->
                    <!-- 		            </a> -->
                    <!-- 	            </accordion-group> -->
                    <!-- 			</accordion> -->


                <ul>
                    <li ng-class="{selected: isActive(link)}" ng-repeat="link in links">
                        <a href="{{link.href}}">
                            <i class="fa fa-2x fa-fw {{link.class}}"></i>
                            <span class="menu-item">{{link.name}}</span>
                        </a>
                        <div class="submenu" ng-repeat="subItem in link.sub" ng-show="isActive(link)">
                            <a href="{{subItem.href}}">
                                <i class="fa fa-2x fa-fw {{subItem.class}}"></i>
                                <span class="menu-item">{{subItem.name}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
                <span ng-click="minimizeNavigation = !minimizeNavigation" class="minify"> <i class="fa fa-3x fa-arrow-circle-left hit"></i></span>
            </nav>
        </aside>

        <div class="container-fluid vmenu-on">
            <div>
                <div ng-view></div>
            </div>
        </div>
    </body>
</html>
