@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "partial/defines";
@import "partial/vmenu";
@import "partial/header";
@import "partial/exam"; 
@import "partial/library";
@import "partial/question-editor";
@import "partial/student_exam";
@import "partial/dialog";
@import "partial/room";
@import "partial/dashboard";
@import "partial/form-validation";
@import "partial/print";
@import "partial/datetimepicker";
@import "partial/feedback";
@import "partial/mainview";
@import "partial/printout";
@import "partial/calendar";


* {-webkit-font-smoothing: antialiased;}

html {
  font-family: $sitnet-family-helvetica;
}

body {
  background-color: $sitnet-background;
  font-family: $sitnet-family-helvetica;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sitnet-family-helvetica;
}
p {
  font-family: $sitnet-family-helvetica;
}

.vmenu-on {
  width: auto;
  margin-left: 17.025em;

  @media (max-width: $sitnet-mobile) {
    margin-left: 0;
  }

  @media print {
    overflow-x: visible;
  }
}

.vmenu-on-admin { // TODO: is this still relevant?
  width: auto;
  margin-left: 275px;

  @media (max-width: $sitnet-mobile) {
    margin-left: 0;
  }
}

.vmenu-off {
  width: auto;
  margin-left: 50px;
}

.student-enroll-title {
  font-family: $sitnet-family-helvetica;
  font-size: 2em;
  color: #2c2c2c;
  border-bottom: 2px solid $sitnet-green-new;
  width: 100%;
  padding-bottom: 7px;

}
.student-enroll-title-wrap {
  margin-left: 1.4em;
  display: inline-block;

  &.waitingroom {
    padding-top: 45px;
    margin-left: 2.4em;
  }

  @media (max-width: $sitnet-mobile) {
    margin-left: 0;
  }
}
.student-enroll-dialog-wrap {
  display: inline-block;
}

.student-enroll-dialog-subtitle {
  font-family: $sitnet-family-helvetica;
  font-size: 14px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0px;
  font-weight: normal;
}

.student-message-dialog-button-save {
  float:right;

  button {
    font-size: 16px;
    font-family: $sitnet-family-helvetica;
    background-color: $sitnet-green-new;
    border: 1px solid #133b17;
    min-width: 180px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: 10px;
    color: white;
    border-radius: 3px;
  }

  button:hover, button:active, button:focus, button:active:focus {
    background-color: #133b17;
    border: 1px solid #133b17;
  }

  button:disabled {
      opacity: 0.3;
      pointer-events: none;
      cursor: not-allowed;
  }

  a {
    font-size: 16px;
    font-family: $sitnet-family-helvetica;
    background-color: $sitnet-green-new;
    border: 1px solid #133b17;
    width: 150px;
    margin-left: 10px;
    line-height: 1.5;
    border-radius: 3px;
    padding: 14px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;

    &.nowdt {
      width: inherit;
    }

  }

  a:hover, button:active, button:focus, button:active:focus {
    background-color: #133b17;
    border: 1px solid #133b17;
    text-decoration: none;
  }

}

.student-message-dialog-button-cancel {
  float:right;

  button {
    font-size: 16px;
    font-family: $sitnet-family-helvetica;
    background-color: #808080;
    border: 1px solid #6B6B6B;
    width: 150px;
    padding-top: 11px;
    padding-bottom: 11px;

  }

  button:hover, button:active, button:focus, button:active:focus {
    background-color: #6B6B6B;
    border: 1px solid #6B6B6B;
  }


}
.student-message-dialog-textarea {
  border-radius: 4px;
  width: 100%;
  resize: vertical;
  padding-top: 10px;
  padding-left: 15px;
}

.student-details-title-wrap {
  margin-left: 2.5em;
  display: inline-block;
  margin-bottom: 30px;

  img {
    float: left;
    padding-top: 12px;

    &.nopad {
      padding-top: 0px;
    }
  }

  &.padtop {
    padding-top: 45px;
  }

  &.noleft {
    margin-left: 0px;
  }

  &.padleft {
    margin-left: 3.7em;
    @media (max-width: $sitnet-mobile) {
      margin-left: 1.7em;
    }

  }

  &.subtitle { margin-bottom: 0px; }

  @media (max-width: $sitnet-mobile) {
    margin-left: 0em;
  }

}

.student-exam-details-title {
  font-family: $sitnet-family-helvetica;
  font-size: 2em;
  color: #2c2c2c;
  border-bottom: 2px solid $sitnet-green-new;
  padding-bottom: 7px;
  margin-left: 50px;

  &.subtitle { margin-left: 30px; margin-bottom: 20px; }
  &.nopad { margin-left: 10px; }
  &.nomar { margin-left: 0px; }

}

.student-exam-search-title {
  font-family: $sitnet-family-helvetica;
  font-size: 2em;
  color: #2c2c2c;
  border-bottom: 2px solid $sitnet-green-new;
  padding-bottom: 7px;

  &.subtitle { margin-left: 30px; margin-bottom: 20px; }

}

.calendar-phase-title {
  font-family: $sitnet-family-helvetica;
  font-size: 22px;
  color: #2C2C2C;
}

.calendar-button-save {
  vertical-align: top;
  width: 22%;
  float: right;
  margin-right: 30px;
  cursor: not-allowed;

  a {
    font-size: 16px;
    font-family: $sitnet-family-helvetica;
    background-color: #D8D8D8;
    border: 1px solid #979797;
    width: 100%;
    margin-left: 10px;
    line-height: 1.5;
    border-radius: 3px;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    &.cancel {
      cursor: pointer;
      background-color: #606060;
      border: 1px solid #565656;

    }
  }

  a:hover, button:active, button:focus, button:active:focus {
    background-color: #D8D8D8;
    border: 1px solid #979797;
    &.cancel {
      cursor: pointer;
      background-color: #6B6B6B;
      border: 1px solid #6B6B6B;
    }
    text-decoration: none;
  }
}


.calendar-button-save-activated {

  cursor: pointer;

  a {
    font-size: 16px;
    font-family: $sitnet-family-helvetica;
    background-color: $sitnet-green-new;
    border: 1px solid $sitnet-dark-green-new;
    width: 100%;
    margin-left: 10px;
    line-height: 1.5;
    border-radius: 3px;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  a:hover, button:active, button:focus, button:active:focus {
    background-color: $sitnet-dark-green-new;
    border: 1px solid $sitnet-dark-green-new;
    text-decoration: none;
  }


}


.calendar-phase-icon {
  float: right;
}

.calendar-titles {
  padding-top: 10px;
}

.calendar-course-title {
  color:#2C2C2C;
  font-family: $sitnet-family-helvetica;
  font-size:16px;
  font-weight: bold;
}

.calendar-accessibility-link {

  a {
    color: #266B99;
    font-family: $sitnet-family-helvetica;
    font-weight: bold;
  }
}

.calendar-accs-title {
  font-weight: 500;
  font-family: $sitnet-family-helvetica;
  padding-bottom: 10px;
  color: #2C2C2C;

  &.subi {
    padding-top:10px;
  }

}

.calendar-accs-checkboxes {
  display: inline-block;
  padding-right:10px;
}

.calendar-room-title {
  color: #2C2C2C;
  font-size: 16px;
  font-family: $sitnet-family-helvetica;
  font-weight: bold;
  padding-top: 10px;
}

.calendar-room-info {
  color: #555555;
  font-weight: 400;
  font-family: $sitnet-family-helvetica;
  padding-top: 15px;
  font-size: 14px;
}

.calendar-room-info-title {
  width: 200px;
  float: left;
}
.calendar-room-info-content {
  margin-left:200px;
}

/* exam_search */
.input-group-append {

  &.search {
    padding: 0px !important;
    border: 0px !important;
    border-radius: 0px !important;
    height:40px !important;
  }
}

.form-control {

  &.search {
    height:40px !important;
  }

  &.langinsp {
    height:40px !important;
    width:350px !important;
  }

  &.login {
    width:22em !important;
  }
}

.form-group {

  &.search {
    max-width: 660px;
  }

}

.waitingroom-info {
  margin-left: 2.4em;
  padding-top: 27px;
  padding-bottom: 22px;
}

.paginator {
  list-style: none;
  margin: 15px;
  justify-content: center;

  .disabled {
    display:none;
  }
  
  li {
    display: inline-block;
    padding: 5px;
    
    a, a:focus {
      padding: 8px;
      color: black;
      background-color: white;
      border: 0px;
      width:32px;
      height:32px;
      cursor: pointer;
    }
    a:hover {
      color: white !important;
      background: $sitnet-green-new;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }

  }

  .active {

    a, a:focus {
      color: #fff;
      background: $sitnet-green-new;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border:0px;
    }

    a:hover {
      color: #fff;
      background: $sitnet-green-new;
    }

  }

}
