@font-face {
  font-family: Helvetica-Neue;
  src: url('../fonts/helveticaneue/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: os-light;
  src: url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: os-light-italic;
  src: url('../fonts/opensans/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: os-regular;
  src: url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: os-regular-italic;
  src: url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: os-semibold;
  src: url('../fonts/opensans/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: os-semibold-italic;
  src: url('../fonts/opensans/OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: os-bold;
  src: url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: os-bold-italic;
  src: url('../fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
