/*
 * SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

.question-table-checkbox {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
}
.td-center-align {
    text-align: center;
}
