<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<xm-page-header text="i18n_statistics" />
<xm-page-content [content]="content" />
<ng-template #content>
    <!-- TAB NAVIGATION -->
    <div class="row">
        <div class="col-12">
            <ul ngbNav #nav="ngbNav" [(activeId)]="view" class="nav-tabs" [keyboard]="false">
                <li [ngbNavItem]="'RESPONSES'">
                    <a ngbNavLink>{{ 'i18n_exam_responses' | translate }}</a>
                </li>
                <li [ngbNavItem]="'ROOMS'">
                    <a ngbNavLink>{{ 'i18n_statistics_rooms' | translate }}</a>
                </li>
                <li [ngbNavItem]="'EXAMS'">
                    <a ngbNavLink>{{ 'i18n_exams' | translate }}</a>
                </li>
                <li [ngbNavItem]="'RESERVATIONS'">
                    <a ngbNavLink>{{ 'i18n_reservations' | translate }}</a>
                </li>
                <li [ngbNavItem]="'IOP_RESERVATIONS'">
                    <a ngbNavLink>{{ 'i18n_iop_reservations' | translate }}</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- FILTERS -->
    <div class="row mt-2 align-items-end">
        <!-- Start & End time datepickers, department selection -->
        <div class="col-md-3">
            <strong>{{ 'i18n_begin' | translate }}</strong>
            <xm-date-picker
                (updated)="startDateChanged($event)"
                [initiallyEmpty]="true"
                [modelOptions]="{ timezone: '+0000' }"
            ></xm-date-picker>
        </div>

        <div class="col-md-3">
            <strong>{{ 'i18n_end' | translate }}</strong>
            <xm-date-picker
                (updated)="endDateChanged($event)"
                [initiallyEmpty]="true"
                [modelOptions]="{ timezone: '+0000' }"
            ></xm-date-picker>
        </div>

        <div class="col-md-1">
            <strong>{{ 'i18n_department' | translate }}</strong>
            <div ngbDropdown>
                <button
                    ngbDropdownToggle
                    class="btn btn-outline-secondary"
                    type="button"
                    id="dropDownMenu1"
                    aria-expanded="true"
                >
                    {{ 'i18n_choose' | translate }}&nbsp;<span class="caret"></span>
                </button>
                <div ngbDropdownMenu role="menu" aria-labelledby="dropDownMenu1">
                    <div role="presentation" class="input-group">
                        <input
                            [(ngModel)]="departmentFilter"
                            (change)="handleDepartmentInputChange()"
                            type="text"
                            class="form-control"
                            placeholder="{{ 'i18n_search' | translate }}"
                        />
                        <div class="input-group-append bi-search search-append"></div>
                    </div>
                    @for (department of filteredDepartments(); track department) {
                        <button
                            ngbDropdownItem
                            role="presentation"
                            [ngClass]="department.filtered ? 'active' : ''"
                            (click)="setDepartmentFilter(department)"
                            (keydown.enter)="setDepartmentFilter(department)"
                        >
                            {{ department.name }} {{ department.name }}
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="col">
            @for (department of departments(); track department) {
                @if (department.filtered) {
                    <span (click)="setDepartmentFilter(department)" class="badge bg-secondary me-1 pointer">
                        {{ department.name }}
                    </span>
                }
            }
        </div>
    </div>

    <!-- TAB CONTENT -->
    @if (view === 'ROOMS') {
        <xm-room-statistics [queryParams]="queryParams()"></xm-room-statistics>
    }
    @if (view === 'RESERVATIONS') {
        <xm-reservation-statistics [queryParams]="queryParams()"> </xm-reservation-statistics>
    }
    @if (view === 'IOP_RESERVATIONS') {
        <xm-iop-reservation-statistics [queryParams]="queryParams()"> </xm-iop-reservation-statistics>
    }
    @if (view === 'RESPONSES') {
        <xm-response-statistics [queryParams]="queryParams()"></xm-response-statistics>
    }
    @if (view === 'EXAMS') {
        <xm-exam-statistics [queryParams]="queryParams()"></xm-exam-statistics>
    }
</ng-template>
