<div class="main-row">
            <span class="col-md-12">
                <span class="exams-list-title-text pointer">
                    {{'sitnet_no_shows' | translate}}
                </span>
            </span>
</div>
<div class="indented-row" ng-show="noShows.length === 0">
    <div class="col-md-12 text">N/A</div>
</div>
<div class="col-md-12" ng-show="noShows.length > 0">
    <table class="table table-bordered table-striped exams-table">
        <thead ng-init="noShowPredicate = 'reservation.startAt'">
        <tr>
            <th sort by="user.lastName" title="sitnet_student" predicate="noShowPredicate" reverse="reverse"></th>
            <th sort by="user.email" title="sitnet_email" predicate="noShowPredicate" reverse="reverse"></th>
            <th sort by="reservation.startAt" title="sitnet_reservation" predicate="noShowPredicate" reverse="reverse"></th>
            <th>{{'sitnet_exam_state' | translate}}</th>
            <th>{{'sitnet_trial' | translate}}</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="review in noShows | orderBy:noShowPredicate:reverse">
            <td class="table-column-examname">
                {{review.user.firstName}}&nbsp;{{review.user.lastName}}
                <span ng-if="review.user.userIdentifier"><br/>({{review.user.userIdentifier}})</span>
            </td>
            <td class="table-column-25"><a class="pointer" href="mailto:{{review.user.email}}">
                {{review.user.email}}</a></td>
            <td class="table-column-25">{{review.reservation.startAt | adjustdst | date: 'dd.MM.yyyy'}}
                {{'sitnet_clock_short' |
                translate}} {{review.reservation.startAt | adjustdst | date: 'HH:mm'}} -
                {{review.reservation.endAt | adjustdst | date:'HH:mm'}}
            </td>
            <td class="table-column-15" class="sitnet-text-aborted">
                {{'sitnet_exam_status_no_show' | translate}}
            </td>
            <td class="table-column-10" class="sitnet-text-aborted">
                <button ng-disabled="!review.exam.trialCount || !review.reservation || review.reservation.retrialPermitted"
                        ng-click="permitRetrial(review.reservation)" class="btn btn-sm btn-primary">
                    {{'sitnet_permit_retrial' | translate}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
