# SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium
#
# SPDX-License-Identifier: EUPL-1.2

name: Build

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest

        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_DB: exam_test
                    POSTGRES_USER: exam
                    POSTGRES_PASSWORD: exam
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 5432:5432

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up JDK
              uses: actions/setup-java@v4
              with:
                  java-version: 25
                  distribution: temurin
                  cache: sbt

            - name: Set up SBT
              uses: sbt/setup-sbt@v1

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: 24.x

            - name: Check REUSE compliance
              uses: fsfe/reuse-action@v4

            - name: Build UI and run tests
              run: |
                  npm ci --ignore-scripts
                  npm run check-format
                  npm run check-lint
                  npm run build
                  npm test -- --no-watch --browsers=ChromeHeadlessCI 

            - name: Build backend and run tests
              run: |
                  sed -i 's/\/var\/log\/exam/logs/g' $GITHUB_WORKSPACE/conf/logback.xml
                  sbt test
