<!-- language inspection - verdict -->
<div class="detail-row marb20 mart20" *ngIf="hasGoneThroughLanguageInspection()">
    <div class="col-md-2 general-info-title">{{ 'sitnet_language_inspections' | translate }}:</div>
    <div class="col-md-10 general-info-content">
        <span [ngClass]="exam.languageInspection.approved ? 'text-success' : 'text-danger'">
            <span *ngIf="exam.languageInspection.approved">
                {{ 'sitnet_approved' | translate | uppercase }}
            </span>
            <span *ngIf="!exam.languageInspection.approved">
                {{ 'sitnet_rejected' | translate | uppercase }}
            </span>
        </span>
    </div>
</div>

<!-- inspector comments -->
<xm-r-inspection-comments [exam]="exam" [addingVisible]="!isMaturityRejection()"> </xm-r-inspection-comments>

<!-- language inspection - inspector -->
<div class="detail-row mart20" *ngIf="hasGoneThroughLanguageInspection()">
    <div class="col-md-2 general-info-title">{{ 'sitnet_language_inspector' | translate }}:</div>
    <div class="col-md-10 general-info-content" *ngIf="exam.languageInspection">
        {{ exam.languageInspection.modifier.firstName }} {{ exam.languageInspection.modifier.lastName }}
    </div>
</div>

<!-- language inspection - statement -->
<div class="detail-row mart20" *ngIf="hasGoneThroughLanguageInspection()">
    <div class="col-md-2 general-info-title">{{ 'sitnet_inspector_statement' | translate }}:</div>
    <div class="col-md-10 general-info-content">
        <div [xmMathJax]="exam.languageInspection.statement.comment"></div>
    </div>
</div>
<!-- language inspection - statement attachment -->
<div
    class="detail-row mart20"
    *ngIf="hasGoneThroughLanguageInspection() && exam.languageInspection?.statement?.attachment"
>
    <div class="col-md-2 general-info-title">{{ 'sitnet_statement_attachment' | translate }}:</div>
    <div class="col-md-10 general-info-content">
        <a class="pointer" (click)="downloadStatementAttachment()">
            {{ exam.languageInspection?.statement?.attachment?.fileName }}
        </a>
    </div>
</div>

<!-- inspection creator -->
<div class="detail-row mart20" *ngIf="isReadOnly() || isUnderLanguageInspection()">
    <div class="col-md-2 general-info-title">{{ 'sitnet_inspector_name' | translate }}:</div>
    <div class="col-md-10 general-info-content" *ngIf="exam.languageInspection">
        {{ exam.languageInspection.creator.firstName }} {{ exam.languageInspection.creator.lastName }}
    </div>
</div>

<!-- exam feedback -->
<div class="detail-row mart20" *ngIf="isReadOnly() || isUnderLanguageInspection()">
    <div class="col-md-2 general-info-title">{{ 'sitnet_teachers_comment' | translate }}:</div>
    <div class="col-md-10 general-info-content">
        <div [xmMathJax]="exam.examFeedback.comment"></div>
    </div>
</div>

<form #examForm="ngForm" name="examForm" role="form" novalidate>
    <!-- extra info for registry -->
    <div class="detail-row mart20">
        <div class="col-md-2 general-info-title">
            {{ 'sitnet_additional_info_for_registry' | translate }}:
            <sup
                ngbPopover="{{ 'sitnet_additional_info_for_registry_description' | translate }}"
                popoverTitle="{{ 'sitnet_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
                ><img
                    src="/assets/images/icon_tooltip.svg"
                    alt="exam"
                    onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png'"
            /></sup>
        </div>
        <div class="col-md-10 general-info-content">
            <textarea
                id="infoForRegistry"
                name="infoForRegistry"
                class="form-control"
                [(ngModel)]="exam.additionalInfo"
                rows="3"
                [disabled]="isReadOnly() || !isOwnerOrAdmin()"
            >
            </textarea>
        </div>
    </div>
    <div class="row padr15 marl15 mart30">
        <!-- This stuff could form a component of its own -->
        <div class="col-md-3 grading-title">
            {{ 'sitnet_exam_review_maturity_evaluation' | translate | uppercase }}
        </div>
        <div class="col-md-3 grading-title">{{ 'sitnet_exam_choose_credit_type' | translate | uppercase }}</div>
        <div class="col-md-3 grading-title">{{ 'sitnet_exam_record_language' | translate | uppercase }}</div>
        <div class="col-md-3 grading-title">{{ 'sitnet_exam_credit' | translate | uppercase }} (op):</div>
    </div>

    <div class="row padr15 marl15">
        <div class="col-md-3 general-info-content">
            <select
                id="examGrade"
                name="examGrade"
                class="form-control"
                [(ngModel)]="selections.grade"
                [disabled]="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                (change)="setGrade()"
                required
            >
                <option *ngFor="let grade of grades" [ngValue]="grade">{{ grade.name }}</option>
                <option value="" [selected]="!exam.grade">{{ 'sitnet_choose' | translate }}</option>
            </select>
        </div>
        <div class="col-md-3 general-info-title">
            <select
                id="creditType"
                name="creditType"
                class="form-control"
                [(ngModel)]="selections.type"
                (change)="setCreditType()"
                [disabled]="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                required
            >
                <option *ngFor="let type of creditTypes" [ngValue]="type">{{ type.name }}</option>
                <option value="">{{ 'sitnet_choose' | translate }}</option>
            </select>
        </div>
        <div class="col-md-3 general-info-title">
            <select
                id="answerLanguage"
                name="answerLanguage"
                class="form-control"
                [disabled]="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                [(ngModel)]="selections.language"
                (change)="setLanguage()"
                required
            >
                <option *ngFor="let lang of languages" [ngValue]="lang">{{ lang.name }}</option>
                <option value="">{{ 'sitnet_choose' | translate }}</option>
            </select>
        </div>
        <div class="col-md-3 general-info-title">
            <input
                id="customCredit"
                name="customCredit"
                type="number"
                lang="en"
                [disabled]="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                required
                [min]="0"
                class="form-control"
                maxlength="3"
                [(ngModel)]="exam.customCredit"
            />
        </div>
    </div>
    <!-- end of possible new component -->

    <!-- Bottom toolbar for maturity -->
    <div class="row mart20 padr15">
        <div class="col-md-12">
            <span>{{ examForm.errors?.toString() }}</span>
            <xm-r-maturity-toolbar [exam]="exam" [valid]="!examForm.invalid"></xm-r-maturity-toolbar>
        </div>
    </div>
</form>
