<!--
SPDX-FileCopyrightText: 2024 The members of the EXAM Consortium

SPDX-License-Identifier: EUPL-1.2
-->

<!-- language inspection - verdict -->
@if (hasGoneThroughLanguageInspection()) {
    <div class="row mb-3 mt-2">
        <div class="col-md-2">{{ 'i18n_language_inspections' | translate }}:</div>
        <div class="col-md-10">
            <span [ngClass]="exam.languageInspection.approved ? 'text-success' : 'text-danger'">
                @if (exam.languageInspection.approved) {
                    <span>
                        {{ 'i18n_approved' | translate | uppercase }}
                    </span>
                }
                @if (!exam.languageInspection.approved) {
                    <span>
                        {{ 'i18n_rejected' | translate | uppercase }}
                    </span>
                }
            </span>
        </div>
    </div>
}

<!-- inspector comments -->
<xm-r-inspection-comments [exam]="exam" [addingVisible]="!isMaturityRejection()"> </xm-r-inspection-comments>

<!-- language inspection - inspector -->
@if (hasGoneThroughLanguageInspection()) {
    <div class="row mt-2">
        <div class="col-md-2">{{ 'i18n_language_inspector' | translate }}:</div>
        @if (exam.languageInspection) {
            <div class="col-md-10">
                {{ exam.languageInspection.modifier.firstName }} {{ exam.languageInspection.modifier.lastName }}
            </div>
        }
    </div>
}

<!-- language inspection - statement -->
@if (hasGoneThroughLanguageInspection()) {
    <div class="row mt-2">
        <div class="col-md-2">{{ 'i18n_inspector_statement' | translate }}:</div>
        <div class="col-md-10">
            <div [xmMathJax]="exam.languageInspection.statement.comment"></div>
        </div>
    </div>
}
<!-- language inspection - statement attachment -->
@if (hasGoneThroughLanguageInspection() && exam.languageInspection?.statement?.attachment) {
    <div class="row mt-2">
        <div class="col-md-2">{{ 'i18n_statement_attachment' | translate }}:</div>
        <div class="col-md-10">
            <button
                type="button"
                class="btn btn-link"
                (click)="downloadStatementAttachment()"
                [attr.aria-label]="'i18n_download_attachment' | translate"
            >
                {{ exam.languageInspection?.statement?.attachment?.fileName }}
            </button>
        </div>
    </div>
}

<!-- inspection creator -->
@if (isReadOnly() || isUnderLanguageInspection()) {
    <div class="row mt-2">
        <div class="col-md-2">{{ 'i18n_inspector_name' | translate }}:</div>
        @if (exam.languageInspection) {
            <div class="col-md-10">
                {{ exam.languageInspection.creator.firstName }} {{ exam.languageInspection.creator.lastName }}
            </div>
        }
    </div>
}

<!-- exam feedback -->
@if (isReadOnly() || isUnderLanguageInspection()) {
    <div class="row mt-2">
        <div class="col-md-2">{{ 'i18n_teachers_comment' | translate }}:</div>
        <div class="col-md-10">
            <div [xmMathJax]="exam.examFeedback.comment"></div>
        </div>
    </div>
}

<form #examForm="ngForm" name="examForm" role="form" novalidate>
    <!-- extra info for registry -->
    <div class="row mt-2 align-items-center">
        <div class="col-md-4">
            {{ 'i18n_additional_info_for_registry' | translate }}:
            <sup
                ngbPopover="{{ 'i18n_additional_info_for_registry_description' | translate }}"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
                ><img src="/assets/images/icon_tooltip.svg" alt=""
            /></sup>
        </div>
        <div class="col-md-8 pe-2">
            <textarea
                id="infoForRegistry"
                name="infoForRegistry"
                class="form-control"
                [(ngModel)]="exam.additionalInfo"
                rows="3"
                [disabled]="isReadOnly() || !isOwnerOrAdmin()"
            >
            </textarea>
        </div>
    </div>
    <div
        class="row mt-2 align-items-center"
        [hidden]="!isReadOnly() || (!isOwnerOrAdmin() && !user.isLanguageInspector)"
    >
        <div class="col-md-4">
            {{ 'i18n_additional_info_for_student' | translate }}:
            <sup
                ngbPopover="{{ 'i18n_additional_info_for_student_description' | translate }}"
                popoverTitle="{{ 'i18n_instructions' | translate }}"
                triggers="mouseenter:mouseleave"
                ><img src="/assets/images/icon_tooltip.svg" alt=""
            /></sup>
        </div>
        <div class="col-md-6">
            <textarea class="form-control" name="assessmentInfo" [(ngModel)]="exam.assessmentInfo" rows="3"> </textarea>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" [disabled]="!exam.assessmentInfo" (click)="saveAssessmentInfo()">
                {{ 'i18n_save' | translate }}
            </button>
        </div>
    </div>

    <div class="row pe-3 mt-4">
        <!-- This stuff could form a component of its own -->
        <div class="col-md-3 grading-title">
            {{ 'i18n_exam_review_maturity_evaluation' | translate | uppercase }}
        </div>
        <div class="col-md-3 grading-title">{{ 'i18n_exam_choose_credit_type' | translate | uppercase }}</div>
        <div class="col-md-3 grading-title">{{ 'i18n_exam_record_language' | translate | uppercase }}</div>
        <div class="col-md-3 grading-title">{{ 'i18n_exam_credit' | translate | uppercase }} (op):</div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <select
                id="examGrade"
                name="examGrade"
                class="form-select"
                [(ngModel)]="selections.grade"
                [disabled]="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                (change)="setGrade()"
                required
            >
                @for (grade of grades; track grade) {
                    <option [ngValue]="grade">{{ grade.name }}</option>
                }
                <option value="" [selected]="!exam.grade">{{ 'i18n_choose' | translate }}</option>
            </select>
        </div>
        <div class="col-md-3">
            <select
                id="creditType"
                name="creditType"
                class="form-select"
                [(ngModel)]="selections.type"
                (change)="setCreditType()"
                [disabled]="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                required
            >
                @for (type of creditTypes; track type) {
                    <option [ngValue]="type">{{ type.name }}</option>
                }
                <option value="">{{ 'i18n_choose' | translate }}</option>
            </select>
        </div>
        <div class="col-md-3">
            <select
                id="answerLanguage"
                name="answerLanguage"
                class="form-select"
                [disabled]="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                [(ngModel)]="selections.language"
                (change)="setLanguage()"
                required
            >
                @for (lang of languages; track lang) {
                    <option [ngValue]="lang">{{ lang.name }}</option>
                }
                <option value="">{{ 'i18n_choose' | translate }}</option>
            </select>
        </div>
        <div class="col-md-3">
            <input
                id="customCredit"
                name="customCredit"
                type="number"
                lang="en"
                [disabled]="isReadOnly() || !isOwnerOrAdmin() || isAwaitingInspection()"
                required
                [min]="0"
                class="form-control"
                maxlength="3"
                [(ngModel)]="exam.customCredit"
            />
        </div>
    </div>
    <!-- end of possible new component -->

    <!-- Bottom toolbar for maturity -->
    <div class="row mt-4">
        <div class="col-md-12">
            <xm-r-maturity-toolbar [exam]="exam" [valid]="!examForm.invalid"></xm-r-maturity-toolbar>
        </div>
    </div>
</form>
