<div id="dashboard" *ngIf="exam">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-details-title-wrap">
                <history-back></history-back>
                <div class="student-enroll-title-wrap">
                    <div class="student-enroll-title">{{ 'sitnet_toolbar_new_exam' | translate }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row marr50">
        <div class="col-md-12 marl50 marr50 exam-new-border">
            <div class="row">
                <div class="col mt-3 ml-3 mr-3 mb-3">
                    <div class="review-list-title">{{ 'sitnet_exam_title' | translate }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 exam-basic-title ml-3 mt-1">
                    {{ 'sitnet_new_exam_type' | translate }}
                    <sup>
                        <img
                            triggers="mouseenter:mouseleave"
                            popoverTitle="{{ 'sitnet_instructions' | translate }}"
                            ngbPopover="{{ 'sitnet_new_exam_type_description' | translate }}"
                            src="/assets/images/icon_tooltip.svg"
                            alt="exam"
                            onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png'"
                        />
                    </sup>
                </div>
                <div class="col">
                    {{ getExecutionTypeTranslation() | translate }}
                </div>
            </div>
            <div class="row">
                <div class="col ml-3 mt-3">
                    <exam-course [exam]="exam" (onUpdate)="onCourseSelected($event)"></exam-course>
                </div>
            </div>
            <div class="row">
                <div class="col ml-3 mt-3 mr-3">
                    <div class="review-list-title">{{ 'sitnet_exam_title' | translate }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ml-3 mt-3">
                    <form novalidate>
                        <label for="examName"
                            >{{ 'sitnet_exam_name' | translate }}
                            <sup>
                                <img
                                    ngbPopover="{{ 'sitnet_exam_title_description' | translate }}"
                                    popoverTitle="{{ 'sitnet_instructions' | translate }}"
                                    triggers="mouseenter:mouseleave"
                                    src="/assets/images/icon_tooltip.svg"
                                    alt="exam"
                                    onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png'"
                                />
                            </sup>
                        </label>
                        <input
                            name="examName"
                            id="examName"
                            type="text"
                            class="form-control wdth-30"
                            [(ngModel)]="exam.name"
                            (blur)="updateExamName()"
                            required
                        />
                        <label for="examLanguage" class="mt-2">
                            {{ 'sitnet_exam_language' | translate }}
                            <sup>
                                <img
                                    ngbPopover="{{ 'sitnet_exam_language_description' | translate }}"
                                    popoverTitle="{{ 'sitnet_instructions' | translate }}"
                                    triggers="mouseenter:mouseleave"
                                    src="/assets/images/icon_tooltip.svg"
                                    alt="exam"
                                    onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png'"
                                />
                            </sup>
                        </label>
                        <language-selector *ngIf="exam" [exam]="exam" id="examLanguage"></language-selector>
                    </form>
                </div>
            </div>
            <div class="row justify-content-end">
                <!-- buttons -->
                <div class="col-auto ml-3 mt-3 mr-3">
                    <div [hidden]="exam.state !== 'DRAFT'" class="review-attachment-button">
                        <a class="pointer cancel" (click)="cancelNewExam()">
                            {{ 'sitnet_button_cancel' | translate }}
                        </a>
                    </div>
                </div>
                <div class="col-auto ml-3 mt-3 mr-3">
                    <div class="review-attachment-button exam-questions-buttons">
                        <button
                            class="btn exam-button"
                            [disabled]="!exam.course || !exam.name || exam.examLanguages.length < 1"
                            (click)="continueToExam()"
                        >
                            {{ 'sitnet_save' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
