<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <xm-history-back></xm-history-back>
            <div class="student-enroll-title-wrap">
                <div class="student-enroll-title">{{ 'i18n_toolbar_new_exam' | translate }}</div>
            </div>
        </div>
    </div>
    <div class="row marr50">
        <div class="col-md-12 marl50 marr50 exam-new-border">
            <div class="row">
                <div class="col-md-12">
                    <div class="margin-20 marl30 marr30 marb20">
                        <div class="review-list-title">{{ 'i18n_exam_title' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="row margin-20 padl40 padr40">
                <div class="col-md-3">
                    <form>
                        <div class="mb-3">
                            <label class="form-label" for="execType">
                                {{ 'i18n_new_exam_type' | translate }}
                                <sup
                                    triggers="mouseenter:mouseleave"
                                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                                    ngbPopover="{{ 'i18n_new_exam_type_description' | translate }}"
                                >
                                    <img
                                        src="/assets/images/icon_tooltip.svg"
                                        alt=""
                                        onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png'"
                                    />
                                </sup>
                            </label>
                            <select
                                class="form-select"
                                name="execType"
                                id="execType"
                                [(ngModel)]="type"
                                (change)="selectType()"
                                required
                            >
                                <option [ngValue]="undefined">{{ 'i18n_choose' | translate }}</option>
                                <option *ngFor="let type of executionTypes" [ngValue]="type">
                                    {{ type.name | translate }}
                                </option>
                            </select>
                        </div>
                        <div
                            class="mb-3"
                            *ngIf="
                                (homeExaminationSupported || sebExaminationSupported) &&
                                type &&
                                type?.type !== 'PRINTOUT'
                            "
                        >
                            <label class="form-label" for="examinationType"
                                >{{ 'i18n_examination_type' | translate }}
                                <sup
                                    triggers="mouseenter:mouseleave"
                                    popoverTitle="{{ 'i18n_instructions' | translate }}"
                                    ngbPopover="{{ 'i18n_examination_type_description' | translate }}"
                                >
                                    <img
                                        src="/assets/images/icon_tooltip.svg"
                                        alt=""
                                        onerror="this.onerror=null;this.src='/assets/images/icon_tooltip.png'"
                                    />
                                </sup>
                            </label>
                            <select
                                class="form-select"
                                name="examinationType"
                                id="examinationType"
                                [(ngModel)]="examinationType"
                                required
                            >
                                <option value="AQUARIUM">{{ 'i18n_examination_type_aquarium' | translate }}</option>
                                <option *ngIf="sebExaminationSupported" value="CLIENT_AUTH">
                                    {{ 'i18n_examination_type_seb' | translate }}
                                </option>
                                <option *ngIf="homeExaminationSupported" value="WHATEVER">
                                    {{ 'i18n_examination_type_home_exam' | translate }}
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" *ngIf="homeExaminationSupported || sebExaminationSupported">
            <div class="marl50 mart40">
                <button class="btn btn-success" (click)="createExam()" [disabled]="!type">
                    {{ 'i18n_create_new' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
