<div id="dashboard">
    <div class="top-row">
        <div class="col-md-12">
            <div class="student-details-title-wrap">
                <div class="student-enroll-title-wrap">
                    <div class="student-enroll-title">{{ 'sitnet_questions_edit' | translate }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="marl50 marr50">
        <!-- Question body //-->
        <div class="col-md-12 question-border padl40 padr40">
            <form role="form" class="form-horizontal" name="questionForm" novalidate>
                <div
                    class="student-enrolment-wrapper review-view exam-view-warning mart40"
                    *ngIf="examNames.length > 0"
                >
                    <!-- Exam contexts -->
                    <div class="row">
                        <div *ngIf="showWarning()">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    <img
                                        src="Images/icon_warning.png"
                                        alt="exam"
                                        onerror="this.onerror=null;this.src='Images/icon_warning.svg';"
                                    />
                                </div>
                                <div class="col-md-11 warning-text">
                                    {{ 'sitnet_exam_question_edit_instructions' | translate }}
                                    <ul class="list-inline margin-10">
                                        <li>
                                            <span *ngFor="let name of examNames" class="exists-text">
                                                <span class="padr10">{{ name }}</span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!showWarning()">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    <img
                                        src="Images/icon_warning.png"
                                        alt="exam"
                                        onerror="this.onerror=null;this.src='Images/icon_warning.svg';"
                                    />
                                </div>
                                {{ 'sitnet_added_to_exams' | translate }}
                                <div class="col-md-11 warning-text">
                                    <ul class="list-inline margin-10">
                                        <li>
                                            <span *ngFor="let name of examNames" class="exists-text">
                                                {{ name }}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Question editor -->
                <div class="col-md-12 mart40 wide-column padl0">
                    <div class="review-list-title">
                        {{ 'sitnet_exam_basic_information_tab' | translate }}
                        <i *ngIf="showWarning()" class="fa fa-exclamation-circle padl20 reddish"></i>
                        <span class="warning-text-small" *ngIf="showWarning()">{{
                            'sitnet_shared_question_property_info' | translate
                        }}</span>
                    </div>
                </div>

                <div class="col-md-12 margin-20 padl0 padr0">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_question_id' | translate }}
                    </div>
                    <div class="col-md-9 padr0">#{{ question.id }}</div>
                </div>

                <div class="col-md-12 margin-20 padl0 padr0">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_new_question_type' | translate }}
                        <sup>
                            <img
                                ngbPopover="{{ 'sitnet_question_type_description' | translate }}"
                                placement="right"
                                trigger="mouseenter"
                                src="Images/icon_tooltip.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='Images/icon_tooltip.png';"
                            />
                        </sup>
                    </div>
                    <div class="col-md-9 padr0">
                        <span *ngIf="question.type == 'EssayQuestion'">{{
                            'sitnet_toolbar_essay_question' | translate
                        }}</span>
                        <span *ngIf="question.type == 'ClozeTestQuestion'">{{
                            'sitnet_toolbar_cloze_test_question' | translate
                        }}</span>
                        <span *ngIf="question.type == 'MultipleChoiceQuestion'">{{
                            'sitnet_toolbar_multiplechoice_question' | translate
                        }}</span>
                        <span *ngIf="question.type == 'WeightedMultipleChoiceQuestion'">{{
                            'sitnet_toolbar_weighted_multiplechoice_question' | translate
                        }}</span>
                        <span *ngIf="question.type == 'ClaimChoiceQuestion'">
                            {{ 'sitnet_toolbar_claim_choice_question' | translate }}
                        </span>
                    </div>
                </div>
                <div class="col-md-12 mart40 padl0 padr0">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_question_text' | translate }}
                        <sup>
                            <img
                                ngbPopover="{{ 'sitnet_question_text_description' | translate }}"
                                placement="right"
                                trigger="mouseenter"
                                src="Images/icon_tooltip.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='Images/icon_tooltip.png';"
                            />
                        </sup>
                    </div>
                    <div class="col-md-9 padr0" *ngIf="question.type">
                        <ckeditor
                            id="editor"
                            name="editor"
                            #ck="ngModel"
                            [enableClozeTest]="question.type === 'ClozeTestQuestion'"
                            rows="10"
                            cols="60"
                            [(ngModel)]="question.question"
                            required
                        >
                        </ckeditor>
                    </div>
                </div>

                <!-- Evaluation -->
                <div class="col-md-12 mart40 wide-column padl0" *ngIf="question.type == 'EssayQuestion'">
                    <div class="review-list-title">{{ 'sitnet_comments' | translate }}</div>
                </div>

                <!-- Type specific content - essay -->
                <div class="col-md-12 margin-20 padl0 padr0" *ngIf="question.type === 'EssayQuestion'">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_essay_length_recommendation' | translate }}
                    </div>
                    <div class="col-lg-5 col-md-7">
                        <div class="input-group" id="expectedWordCount">
                            <input
                                name="expectedWordCount"
                                type="number"
                                lang="en"
                                class="form-control"
                                [(ngModel)]="examQuestion.expectedWordCount"
                                min="1"
                                max="1000000"
                            />
                            <span
                                class="input-group-addon"
                                title="{{ 'sitnet_average_word_length_finnish' | translate }}"
                            >
                                {{ 'sitnet_approximately' | translate }} {{ estimateCharacters() }}
                                {{ 'sitnet_characters' | translate }}
                            </span>
                        </div>
                        <div (hidden)="(questionForm.expectedWordCount.$valid)" class="warning-text-small margin-10">
                            <i class="fa fa-exclamation-circle reddish"></i>
                            {{ 'sitnet_essay_length_recommendation_bounds' | translate }}
                        </div>
                    </div>
                </div>

                <!-- Multiple choises - title -->
                <div
                    class="col-md-12 mart40 wide-column padl0 marb20"
                    *ngIf="
                        question.type == 'MultipleChoiceQuestion' ||
                        question.type == 'WeightedMultipleChoiceQuestion' ||
                        question.type == 'ClaimChoiceQuestion'
                    "
                >
                    <div class="review-list-title">{{ 'sitnet_question_options' | translate }}</div>
                </div>

                <!-- Type specific content - multiple choices table titles -->

                <div class="col-md-12 mart20 marb10" *ngIf="question.type === 'WeightedMultipleChoiceQuestion'">
                    <div class="col-md-6 padl0">
                        <span class="question-option-title">{{ 'sitnet_option' | translate }}</span>
                        <br />
                        <span *ngIf="showWarning()">
                            <i class="fa fa-exclamation-circle reddish"></i>
                            <small>{{ 'sitnet_shared_question_property_info' | translate }}</small>
                        </span>
                    </div>
                    <div class="col-md-2 question-option-title">
                        {{ 'sitnet_word_points' | translate | uppercase }}
                    </div>
                </div>

                <!-- Type specific content - weighted option -->
                <div *ngIf="question.type === 'WeightedMultipleChoiceQuestion'">
                    <div
                        class="col-md-12 form-horizontal question-editor-option"
                        *ngFor="let option of examQuestion.options"
                    >
                        <div
                            class="col-md-6 question-option-empty"
                            [ngClass]="option.score > 0 ? 'question-correct-option' : ''"
                        >
                            <input
                                id="weightedOptionText"
                                type="text"
                                class="question-option-input"
                                [(ngModel)]="option.option.option"
                                required="true"
                            />
                        </div>
                        <div
                            class="col-md-2 question-option-empty-radio"
                            [ngClass]="option.score > 0 ? 'question-correct-option-radio' : ''"
                        >
                            <input
                                fixedPrecision
                                id="optionScore"
                                name="maxScore"
                                class="question-option-input points"
                                type="number"
                                lang="en"
                                [(ngModel)]="option.score"
                                required="true"
                                [disabled]="lotteryOn"
                            />
                        </div>
                        <div
                            class="col-md-1 question-option-trash pointer"
                            (hidden)="(lotteryOn)"
                            (click)="removeOption(option)"
                        >
                            <i class="fa fa-trash-o fa-fw" title="{{ 'sitnet_remove' | translate }}"></i>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">&nbsp;</div>
                        <div class="col-md-2 question-option-title">
                            {{ 'sitnet_max_score' | translate | uppercase }}: {{ calculateMaxPoints() }}
                        </div>
                    </div>
                </div>

                <!-- Type specific content - option -->
                <div [hidden]="question.type !== 'MultipleChoiceQuestion'" *ngFor="let option of examQuestion.options">
                    <div class="col-md-12">
                        <div
                            class="col-md-6 question-option-empty"
                            [ngClass]="{ 'question-correct-option': option.option.correctOption }"
                        >
                            <input
                                id="optionText"
                                type="text"
                                class="make-inline question-option-input radiobut"
                                [(ngModel)]="option.option.option"
                                (click)="selectIfDefault(option.option.option, $event)"
                                required="true"
                            />
                        </div>
                        <div
                            class="col-md-2 question-option-empty-radio"
                            [ngClass]="{ 'question-correct-option-radio': option.option.correctOption }"
                        >
                            <input
                                name="correctOption"
                                type="radio"
                                [(ngModel)]="option.option.correctOption"
                                value="true"
                                (click)="correctAnswerToggled(option)"
                                [disabled]="optionDisabled(option)"
                                class="make-inline question-option-radio"
                            />
                        </div>

                        <div
                            (hidden)="(lotteryOn)"
                            (click)="removeOption(option)"
                            class="col-md-1 question-option-trash"
                        >
                            <i class="fa fa-trash-o fa-fw" title="{{ 'sitnet_remove' | translate }}"></i>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>

                <!-- Type specific content - claim choice option -->
                <div *ngIf="question.type === 'ClaimChoiceQuestion'">
                    <div class="col-md-9 col-md-offset-3">
                        <p>{{ 'sitnet_claim_choice_question_instruction' | translate }}</p>
                        <p>{{ 'sitnet_claim_choice_options_description' | translate }}</p>
                        <ul>
                            <li>{{ 'sitnet_claim_choice_correct_points_description' | translate }}</li>
                            <li>{{ 'sitnet_claim_choice_incorrect_points_description' | translate }}</li>
                            <li>{{ 'sitnet_claim_choice_skip_option_description' | translate }}</li>
                        </ul>
                        <br />
                        <span>
                            <i *ngIf="showWarning" class="fa fa-exclamation-circle reddish"></i>
                            <small *ngIf="showWarning">{{ 'sitnet_shared_question_property_info' | translate }}</small>
                        </span>
                    </div>
                    <div class="col-md-9 col-md-offset-3 margin-10 padl0 padr0 claim-choice-option-labels">
                        <div class="claim-choice-option-label">
                            <span class="question-option-title">{{
                                'sitnet_question_options' | translate | uppercase
                            }}</span>
                        </div>
                        <div class="claim-choice-option-label points">
                            <span class="question-option-title">
                                {{ 'sitnet_word_points' | translate | uppercase }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-3 margin-10 padl0 padr0">
                        <div
                            class="form-horizontal question-editor-claim-choice-option"
                            *ngFor="let opt of examQuestion.options"
                            [ngClass]="returnOptionClass(opt)"
                        >
                            <div class="claim-choice-option-inputs">
                                <input
                                    [(ngModel)]="opt.option.option"
                                    type="text"
                                    class="question-option-input"
                                    required="true"
                                    [disabled]="lotteryOn || opt.option.claimChoiceType === 'SkipOption'"
                                />
                                <input
                                    name="maxScore"
                                    class="question-option-input points"
                                    type="number"
                                    lang="en"
                                    fixedPrecision
                                    [(ngModel)]="opt.score"
                                    required="true"
                                    [disabled]="lotteryOn || opt.option.claimChoiceType === 'SkipOption'"
                                    (change)="validate()"
                                />
                            </div>
                            <div class="claim-choice-option-description">
                                {{ returnOptionDescriptionTranslation(opt) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-3 claim-choice-warning-wrapper">
                        <div class="claim-choice-warning" *ngIf="missingOptions.length > 0">
                            <i class="fa fa-exclamation-triangle" style="color:#E8172F;"></i>
                            <span style="color:#E8172F;">
                                {{ 'sitnet_claim_choice_missing_options_warning' | translate }}
                                <span *ngFor="let opt of missingOptions">
                                    {{ opt | translate }}{{ $last ? '' : ',' }}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div
                    class="col-md-12 mart20 padl30"
                    *ngIf="
                        question.type === 'MultipleChoiceQuestion' || question.type === 'WeightedMultipleChoiceQuestion'
                    "
                >
                    <a (click)="addNewOption()" class="attachment-link pointer">
                        <i class="fa fa-plus"></i>
                        {{ 'sitnet_question_add_new_option' | translate }}
                    </a>
                </div>

                <!-- Evaluation type - essay -->
                <div class="col-md-12 margin-20 padl0 padr0" *ngIf="question.type === 'EssayQuestion'">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_evaluation_type' | translate }}
                    </div>
                    <div class="col-md-9">
                        <select
                            id="evaluationType"
                            class="form-control wdt240"
                            [(ngModel)]="examQuestion.evaluationType"
                            (change)="updateEvaluationType()"
                            required="question.type == 'EssayQuestion'"
                        >
                            <option value="Points">{{ 'sitnet_word_points' | translate }}</option>
                            <option value="Selection">{{ 'sitnet_evaluation_select' | translate }}</option>
                        </select>
                    </div>
                </div>

                <!-- Max score -->
                <div
                    class="col-md-12 margin-20 padl0 padr0"
                    *ngIf="
                        question.type == 'MultipleChoiceQuestion' ||
                        question.type == 'ClozeTestQuestion' ||
                        examQuestion.evaluationType == 'Points'
                    "
                >
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_max_score' | translate }}
                    </div>
                    <div class="col-md-9">
                        <input
                            id="maxScore"
                            name="maxScore"
                            type="number"
                            lang="en"
                            class="form-control wdt100"
                            [(ngModel)]="examQuestion.maxScore"
                            min="0"
                            max="1000"
                            fixedPrecision
                            required
                            [disabled]="lotteryOn"
                        />
                    </div>
                </div>

                <!-- Additional info -->
                <div class="col-md-12 mart40 wide-column padl0">
                    <div class="review-list-title">{{ 'sitnet_additional_info' | translate }}</div>
                </div>

                <!-- Exam owners -->
                <div class="col-md-12 margin-20 padl0 padr0">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_question_owners' | translate }}
                        <sup>
                            <img
                                ngbPopover="{{ 'sitnet_question_owners_description' | translate }}"
                                placement="right"
                                trigger="mouseenter"
                                src="Images/icon_tooltip.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='Images/icon_tooltip.png';"
                            />
                        </sup>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline mart10 padl10">
                            <li *ngFor="let user of question.questionOwners">
                                {{ user.firstName }} {{ user.lastName }}
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Attachment -->
                <div class="col-md-12 margin-20 padl0 padr0">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_question_attachment' | translate }}
                        <sup>
                            <img
                                ngbPopover="{{ 'sitnet_attachment_description' | translate }}"
                                placement="right"
                                trigger="mouseenter"
                                src="Images/icon_tooltip.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='Images/icon_tooltip.png';"
                            />
                        </sup>
                    </div>

                    <div class="col-md-9" id="attachment">
                        <div class="review-attachment-button wdt120 make-inline">
                            <a class="pointer" (click)="selectFile()">{{ 'sitnet_attach_file' | translate }}</a>
                        </div>
                        <div *ngIf="question.attachment && !question.attachment.removed" class="make-inline padl10">
                            <!-- Uploaded -->
                            <a
                                *ngIf="question.attachment.id"
                                class="pointer attachment-link"
                                (click)="downloadQuestionAttachment()"
                            >
                                <i class="fa fa-paperclip fa-fw"></i> {{ question.attachment.fileName }}
                            </a>
                            <!-- Not yet uploaded -->
                            <span *ngIf="!question.attachment.id" class="attachment-link">
                                <i class="fa fa-paperclip fa-fw"></i> {{ question.attachment.name }}
                                <small> ({{ getFileSize() }})</small>
                            </span>
                            <span class="pointer remove-attachment" (click)="removeQuestionAttachment()">
                                <img
                                    src="Images/icon_remove.svg"
                                    alt="{{ 'sitnet_remove_attachment' | translate }}"
                                    onerror="this.onerror=null;this.src='Images/icon_remove.png';"
                                />
                            </span>
                        </div>
                        <div class="mart10" *ngIf="showWarning()">
                            <i class="fa fa-exclamation-circle reddish"></i>
                            <span class="warning-text-small">{{
                                'sitnet_shared_question_property_info' | translate
                            }}</span>
                        </div>
                    </div>
                </div>

                <!-- Instructions -->
                <div class="col-md-12 margin-20 padl0 padr0">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_question_instruction' | translate }}
                        <sup>
                            <img
                                ngbPopover="{{ 'sitnet_question_instruction_description' | translate }}"
                                placement="right"
                                trigger="mouseenter"
                                src="Images/icon_tooltip.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='Images/icon_tooltip.png';"
                            />
                        </sup>
                    </div>
                    <div class="col-md-9 padr0">
                        <textarea
                            id="instruction"
                            class="form-control"
                            rows="3"
                            [(ngModel)]="examQuestion.answerInstructions"
                            placeholder="{{ 'sitnet_question_instruction' | translate }}"
                        >
                        </textarea>
                    </div>
                </div>

                <!-- Evaluation criteria -->
                <div *ngIf="question.type == 'EssayQuestion'" class="col-md-12 margin-20 padl0 padr0">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_exam_evaluation_criteria' | translate }}
                        <sup>
                            <img
                                ngbPopover="{{ 'sitnet_question_evaluation_criteria_description' | translate }}"
                                placement="right"
                                trigger="mouseenter"
                                src="Images/icon_tooltip.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='Images/icon_tooltip.png';"
                            />
                        </sup>
                    </div>
                    <div class="col-md-9 padr0">
                        <textarea
                            id="evaluationCriteria"
                            class="form-control"
                            rows="3"
                            [(ngModel)]="examQuestion.evaluationCriteria"
                            placeholder="{{ 'sitnet_exam_evaluation_criteria' | translate }}"
                        >
                        </textarea>
                    </div>
                </div>

                <!-- New tag -->
                <div class="col-md-12 margin-20 padl0 padr0">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_added_to_categories' | translate }}
                        <sup>
                            <img
                                ngbPopover="{{ 'sitnet_question_tag_question_description' | translate }}"
                                placement="right"
                                trigger="mouseenter"
                                src="Images/icon_tooltip.svg"
                                alt="exam"
                                onerror="this.onerror=null;this.src='Images/icon_tooltip.png';"
                            />
                        </sup>
                    </div>
                    <div class="col-md-9 padr0">
                        <ul class="list-inline mart10">
                            <li *ngFor="let tag of question.tags">{{ tag.name }}</li>
                        </ul>
                    </div>
                </div>

                <!-- Categories -->
                <div class="col-md-12 margin-20 padl0 padr0">
                    <div class="col-md-3 exam-basic-title padl0">
                        {{ 'sitnet_added_to_sections' | translate }}
                    </div>
                    <div class="col-md-9 padr0">
                        <ul class="list-inline mart10">
                            <li *ngFor="let name of sectionNames">{{ name }}</li>
                        </ul>
                    </div>
                </div>
            </form>

            <div class="mart20">
                <div class="question-cancel">
                    <button
                        [disabled]="!questionForm.$valid || hasInvalidClaimChoiceOptions()"
                        (click)="save()"
                        type="submit"
                        class="btn btn-success bigbutton"
                    >
                        {{ 'sitnet_save' | translate }}
                    </button>
                </div>
                <div class="question-cancel marr20">
                    <button (click)="cancel()" type="submit" class="btn btn-cancel pull-right bigbutton">
                        {{ 'sitnet_button_cancel' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
