<div class="top-padding-2 lightBorderBox">
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'sitnet_question' | translate }}:</div>
        <div class="sub-content-row col-md-9">
            <span mathjax ng-bind-html="sectionQuestion.question.question"></span>
        </div>
    </div>
    <!-- question attachment -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'sitnet_question_attachment' | translate }}:
        </div>
        <div class="sub-content-row col-md-9">
            <span ng-hide="sectionQuestion.question.attachment">N/A</span>
            <span ng-show="sectionQuestion.question.attachment">{{sectionQuestion.question.attachment.fileName}}&nbsp;</span>
        </div>
    </div>

    <!-- question evaluation criteria -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow"
             ng-show="sectionQuestion.question.evaluationCriterias">
            {{ 'sitnet_exam_evaluation_criteria' | translate}}:
        </div>
        <div class="sub-content-row col-md-9" ng-show="sectionQuestion.question.evaluationCriterias">
            <div ng-bind-html="sectionQuestion.question.evaluationCriterias"></div>
            &nbsp;
        </div>
    </div>
    <!-- question instructions -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow" ng-show="sectionQuestion.question.instruction">
            {{ 'sitnet_instructions' | translate}}:
        </div>
        <div class="sub-content-row col-md-9" ng-show="sectionQuestion.question.instruction">
            <div ng-bind-html="sectionQuestion.question.instruction"></div>
            &nbsp;
        </div>
    </div>
    <!-- answer -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'sitnet_exam_answer' | translate }}:</div>
        <div class="sub-content-row col-md-9">
            <span mathjax ng-bind-html="sectionQuestion.question.answer.answer"></span>&nbsp;
        </div>
    </div>
    <!-- answer attachment -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'sitnet_answer_attachment' | translate }}:</div>
        <div class="sub-content-row col-md-9">
            <div ng-hide="sectionQuestion.question.answer.attachment">N/A</div>
            <div ng-show="sectionQuestion.question.answer.attachment">
                {{sectionQuestion.question.answer.attachment.fileName}}
            </div>
        </div>
    </div>
    <!-- answer length & recommended length-->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'sitnet_answer_length' | translate}}:</div>
        <div class="sub-content-row col-md-9">
            {{ sectionQuestion.question.answer.answer | striphtml | wordcount }} {{'sitnet_words' |
            translate }},
            {{ 'sitnet_approximately' | translate }}
            {{ sectionQuestion.question.answer.answer | striphtml | charcount }} {{'sitnet_characters' |
            translate
            }}
        </div>
    </div>
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">{{ 'sitnet_essay_length_recommendation' |
            translate}}:
        </div>
        <div class="sub-content-row col-md-9">{{ sectionQuestion.question.maxCharacters }}&nbsp;</div>
    </div>
    <!-- grade -->
    <div class="row">
        <div class="sub-header-row col-md-3 newRow">
            <span ng-show="sectionQuestion.question.evaluationType === 'Points'">{{'sitnet_word_points' | translate}}:</span>
            <span ng-hide="sectionQuestion.question.evaluationType === 'Points'">{{'sitnet_comments' | translate}}:</span>
        </div>
        <div class="sub-content-row col-md-9">
            <span ng-show="sectionQuestion.question.evaluationType === 'Points'">
                <div ng-repeat="i in range(0, sectionQuestion.question.maxScore, 1)"
                     ng-if="sectionQuestion.question.evaluatedScore == i">{{ i }} /
                    {{sectionQuestion.question.maxScore}}
                </div>
            </span>
            <span ng-show="sectionQuestion.question.evaluationType === 'Select'">
                <div ng-if="sectionQuestion.question.evaluatedScore == 1">{{ 'sitnet_approved' |
                    translate
                    }}
                </div>
                <div ng-if="sectionQuestion.question.evaluatedScore == 0">{{ 'sitnet_rejected' |
                    translate
                    }}
                </div>
            </span>
        </div>
    </div>
</div>
